<div id="search-new">
    <div ng-show="!countryRecords"></div><div class="country-profile-list" ng-repeat="schema in countryRecords | orderBy:'index'" ng-if="schema">

        <h4 id="div{{schema.shortCode}}" class="link1 border-bottom pb-1 my-2 mx-1" 
        ng-click="showHideRecords(schema)"
        ng-class="{'color-litegrey': schema.numFound == 0}"><div ng-if="schema.docs[0].rec_date" class="float-end label fs-small-8"></div>
        </h4>
        <div ng-if="schema.isLoading" class="text-center"></div>
        <div ng-if="!schema.isLoading && schema.display && schema.numFound > 0" class="card bg-white">
            <div  ng-if="schema.shortCode!='MSR'">
                <div ng-repeat="doc in schema.docs|orderBy:title_t">
                    <result-default doc="doc" external-link="true" type="national"></result-default>  
                </div>
                <div class="btn-group" ng-if="schema.numFound >  schema.docs.length">
                    <button type="button" class="btn btn-default text-bold fs-small-6 text-uppercase"  ng-click="loadRecords(schema,10)" ng-disabled="schema.isLoading"></button>
                    <button type="button" ng-if="schema.isLoading" class="btn btn-default fs-small-6 text-uppercase" ng-disabled="true"></button>
                    <button type="button" class="btn btn-default text-bold fs-small-6 text-uppercase" ng-click="loadRecords(schema)" ng-disabled="schema.isLoading"  ></button>
                </div>
            </div>

            <div ng-if="schema.shortCode=='MSR'">
                <div class="w-100 mb-4">
                    <legend></legend>
                    <div ng-repeat="measure in schema.docs|orderBy:sortMeasure" class="py-1 border-bottom" 
                       ng-class="{'bg-nationalmsr':measure.rec_meta1[0] === 'National / Federal','bg-subnationalmsr':measure.rec_meta1[0] === 'Sub-national','bg-communitymsr':measure.rec_meta1[0] === 'Community','bg-regionalmsr':measure.rec_meta1[0] === 'Regional / Multilateral'
                       ,'bg-othermsr':measure.rec_meta1[0] === 'Other' }">
                        <div> 
                            <input type="checkbox" ng-model="measure.measureMatrix" class="ms-1" /></div>
                        <div class="recordDefault">
                           <ul class="metadata bold ms-3 fs-small-8">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li class="border-0"></li>
                           </ul>
                        </div>
                    </div></div>    
                       
                   <div class="mb-3">
                       <div ng-hide="(schema.docs|filter:{measureMatrix:true}).length==0" measure-matrix-countries-directive documents="schema.docs"></div>
                   </div>
            </div>
        </div>
    </div>
   
</div>
