﻿<div >
    <style> .cp-header label{margin-bottom:0;} .breadcrumbs {background-color:#FFF!important; } .breadcrumbs { font-size: 12px; color:#111; text-decoration: none;} .breadcrumbs a { font-size: 12px; color:#999; text-decoration: none;} </style>
    <div smooth-scroll duration="100" offset="200"></div>
        <div id="Jumbotron" class="d-none d-lg-block bg-white position-relative overflow-hidden" selected-color="#FFFFFF" block-region activate="loadingMap"> 
        </div>
        <div class="row m-0">
            <div class="col-12">
                <h1 class="fs-1 my-2"><i class="flag-icon" ng-class="country.cssClass"></i> <strong><span ng-bind="country.name"></span></strong></h1>
                <div class="p-3 bg-white">
                        <div class="mb-1 fs-6" ng-if="isABS"><span ng-if="!country.isParty && !country.isInbetweenParty" class="color-grey color-non-party bold">N’est pas encore Partie au Protocole de Nagoya</span> <span ng-if="country.isParty" class="color-party bold">Partie au Protocole de Nagoya</span> <span ng-if="country.isInbetweenParty" class="color-inbetween bold">ayant ratifié, mais n’étant pas encore Partie au Protocole de Nagoya</span></div>
                        <div class="mb-1 fs-6" ng-if="isBCH"><span ng-if="!country.isParty && !country.isInbetweenParty" class="color-grey color-non-party bold">N’est pas une Partie au Protocole de Cartagena sur la prévention des risques biotechnologiques</span> <span ng-if="country.isParty" class="color-party bold">Partie au Protocole de Cartagena sur la prévention des risques biotechnologiques</span></div>
                        <div ng-if="country.isParty || country.isInbetweenParty" class="mt-1 mb-2" ><span class="bold" ng-class="{' color-party': country.isParty, ' color-non-party':!country.isParty && !country.isInbetweenParty, ' color-inbetween': country.isInbetweenParty}">(<span ng-if="country.isInbetweenParty">Entry into force on:</span><span ng-if="country.isParty && !country.isInbetweenParty">since</span> <span ng-bind="country.entryIntoForce|formatDate"></span>)</span></div>
                        <div ng-if="isBCH && country.isNKLSParty" class="mt-1 mb-2"><span class="color-NKLSP bold fs-6">Party to the Nagoya - Kuala Lumpur Supplementary Protocol on Liability and Redress</span><div ng-if="country.partyToNKLSPDate"><span class="color-NKLSP bold">(since <span  ng-bind="country.partyToNKLSPDate|formatDate"></span>)</span></div>
                        </div>
                        <div ng-if="isBCH && !country.isNKLSParty" class="mt-1 mb-2"><span class="color-non-party bold fs-6">Not a Party to the Nagoya - Kuala Lumpur Supplementary Protocol on Liability and Redress</span></div>
                        <div class="mb-1" ng-if="isABS">
                            <label>Signataire :</label><span ng-if="country.isSignatory && !country.dateSigned" class="bold">Signataire</span> <span ng-if="country.isSignatory && country.dateSigned" class="bold">Signé le <span ng-bind="country.dateSigned|formatDate"></span></span> <span ng-if="!country.isSignatory" class="color-grey color-non-party bold">Non</span></div>

                        <div ng-if="isABS" class="m-0 my-2">
                            <div ng-if="country.code==='dk'"><i class="fa fa-info-circle"></i> La ratification par le Danemark du Protocole de Nagoya ne s’applique pas au Groenland et aux îles Féroé.</div>
                            <div ng-if="country.code==='gb'"><i class="fa fa-info-circle"></i> La ratification du Protocole de Nagoya par le Royaume-Uni ne s’étend pas aux <a rel="noopener" ng-href="#" class="gb-territories" data-bs-toggle="tooltip" data-placement="bottom" title="Anguilla; Les Bermudes; Territoire antarctique britannique; Territoire britannique de l'Océan Indien; Îles Vierges britanniques; Îles Caïmans; Les îles Falkland; Gibraltar; Montserrat; Îles Pitcairn; Sainte-Hélène, Ascension et Tristan da Cunha; Géorgie du Sud et îles Sandwich du Sud; Zones de souveraineté d'Akrotiri et de Dhekelia; îles Turques-et-Caïques" >14 territoires d’outre-mer</a> ni aux <a rel="noopener" ng-href="#" class="gb-territories" data-bs-toggle="tooltip" data-placement="bottom" 
                                title="Bailliage de Jersey, le bailliage de Guernesey et l'île de Man">3 dépendances de la Couronne.</a></div>
                        </div>
                        <div ng-if="isBCH" class="m-0 my-2">
                            <div ng-if="country.code==='dk'"><i class="fa fa-info-circle"></i> La ratification par le Danemark du Protocole de Nagoya ne s’applique pas au Groenland et aux îles Féroé.</div>
                            <div ng-if="country.code==='gb'"><i class="fa fa-info-circle"></i> La ratification du Protocole de Nagoya par le Royaume-Uni ne s’étend pas aux <a rel="noopener" ng-href="#" class="gb-territories" data-bs-toggle="tooltip" data-placement="bottom" title="Anguilla; Les Bermudes; Territoire antarctique britannique; Territoire britannique de l'Océan Indien; Îles Vierges britanniques; Îles Caïmans; Les îles Falkland; Gibraltar; Montserrat; Îles Pitcairn; Sainte-Hélène, Ascension et Tristan da Cunha; Géorgie du Sud et îles Sandwich du Sud; Zones de souveraineté d'Akrotiri et de Dhekelia; îles Turques-et-Caïques" >13 territoires d’outre-mer</a> ni aux <a rel="noopener" ng-href="#" class="gb-territories" data-bs-toggle="tooltip" data-placement="bottom" 
                                title="Bailliage de Jersey, le bailliage de Guernesey et l'île de Man">3 dépendances de la Couronne.</a></div>
                        </div>
                        <div class="mb-1 text-nowrap overflow-hidden">
                            <label>Profil CDB du pays :</label><a class="text-decoration-none" rel="noopener" translation-url   href="https://www.cbd.int/countries/?country={{country.code}}" target="_blank">www.cbd.int/countries/?country={{country.code}}</a></div>
                            
                </div>
            </div>
            <div class="col-12" ng-if="countryProfile && countryProfile.profile">
                <div class="card bg-white cp-header"> 
                    <legend class="ps-3">Informations supplémentaires pour le profil du pays</legend><span class="p-3" ng-bind-html="countryProfile.profile|lstring:locale|toTrusted"></span></div>
            </div>
        </div>
    
        <div class="row m-0 mb-5">
            <div class="col-12">
                <div country-profile code="code"></div>
            </div>
        </div>
    
    </div>