<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Access and Benefit-Sharing Clearing-House</title>
    <meta name="description" content="Access and Benefit-Sharing Clearing-House">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="ico/favicon.png">

    <!-- Bootstrap core CSS -->
    <link href="/app/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/app/libs/font-awesome/css/font-awesome.min.css">
    <link href="/app/views/mockups/css/chm.css" rel="stylesheet">
    <link href="/app/views/mockups/css/colors.css" rel="stylesheet">
</head>

<body>

    <!-- TOP CBD NAV BAR TO CONNECT ALL CBD WEBSITES: MAIN CBD LINKS, LANGUAGES, LOGIN-->
    <nav class="navbar navbar-cbd navbar-default navbar-static-top bg-cbdgreen">
        <div class="container container-cbd">

                <div style="display:inline;">
                    <img src="/app/img/cbd-logo-spine-white.png" style="height:24px;position:relative;top:-2px;">&nbsp;&nbsp;&nbsp;
                    The Convention &nbsp;&nbsp;&nbsp;
                    Cartagena Protocol &nbsp;&nbsp;&nbsp;
                    Nagoya Protocol &nbsp;&nbsp;&nbsp;
                    Programmes &nbsp;&nbsp;&nbsp;
                    Information &nbsp;&nbsp;&nbsp;
                    Secretariat &nbsp;&nbsp;&nbsp;
                </div>

                <div  style="display:inline;" class="pull-right">
                    <i class="fa fa-chevron-down" class="bg-grey"></i> Matthew Dias &nbsp;&nbsp;&nbsp;
                    <i class="fa fa-bell-o" class="bg-grey"></i> &nbsp;&nbsp;&nbsp;
                    <span class="badge badge-default bg-white">en</span>
                </div>

        </div>
    </nav>


    <!-- PORTAL BRANDING + MAIN LINKS-->
    <nav class="navbar navbar-portal navbar-default navbar-static-top bg-white">
        <div class="container container-portal">

                <div class="row">
                    <div class="col-xs-12">
                        <a href="/" class="color-blue">
                            <h1 style="padding-top:7px;">
                                <img src="/app/img/cbd-spine.png" style="height:30px;position:relative;top:-5px;">
                                <span>CHM</span>
                                <span class="color-grey" style="text-transform:uppercase;font-size:20px;">
                                    The Clearing-House Mechanism of the Convention on Biological Diversity
                            </h1>
                        </a>
                    </div>
                </div>

        </div>
    </nav>

    <!-- PORTAL LINKS-->
    <nav class="navbar navbar-links navbar-default navbar-static-top">
        <div class="container container-links">

                <div style="display:inline">
                    <i class="fa fa-home" ></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Search  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Submit  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Country Information
                </div>
                <div class="pull-right" style="display:inline;">
                    <i class="fa fa-question-circle" class="bg-grey"></i> help
                </div>

        </div>
    </nav>

    <!-- PORTAL BREAD CRUMBS-->
    <nav class="navbar navbar-breadcrumbs navbar-default navbar-static-top">
        <div class="container container-breadcrumbs">
            <div class="color-litegrey">
                Home
                &nbsp;&nbsp;<i class="fa fa-chevron-right "></i>&nbsp;&nbsp;
                Country Information
                &nbsp;&nbsp;<i class="fa fa-chevron-right "></i>&nbsp;&nbsp;
                Canada
            </div>
        </div>
    </nav>


<!-- CONTENTS -->
    <div class="container" style="height:500px;">


    </div> <!-- /container -->



<!-- FOOTER -->
    <div class="footer">

        <div class="footer-page" >
            <div class="container footer-page-container color-grey">
                <i class="fa fa-arrow-circle-up"></i> back to top
            </div>
        </div>

        <div class="footer-portal" >
            <div class="container footer-portal-container">

            </div>
        </div>
        <div class="footer-cbd">
            <div class="container footer-cbd-container">

            </div>
        </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
