<div>
    <h1 class="special-font">Country Information</h1>
                 
    <div role="tabpanel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a rel="noopener" translation-url  href="#map" aria-controls="map" role="tab" data-toggle="tab"><h4 style="padding:0;margin:0;">Map</h4></a></li>
        <li role="presentation"><a rel="noopener" translation-url  href="#countries" aria-controls="countries" role="tab" data-toggle="tab"><h4 style="padding:0;margin:0;">Select a country</h4></a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content well bg-white">
        <div role="tabpanel" class="tab-pane active" id="map">
              
             <div style="padding-bottom:30px;" >
                <div><strong>Filter by Nagoya Protocol Party Status</strong></div>
                <hr  style="padding-bottom:5px;margin:0;">
         
                    <div ng-click="updateMap('all')" style="width:100%;padding:2px;cursor:pointer;border-radius:3px;"  ng-class="{'bg-grey1':type=='all'}">
                        <span class="badge pull-right">{{countries.length}}</span>
                        <span>All</span>
                    </div>
                    
                     <div ng-click="updateMap('party')" style="width:100%;padding:2px;cursor:pointer;border-radius:3px;"  ng-class="{'bg-grey1':type=='party'}">
                        <span class="badge   pull-right">{{npParty}}</span>
                        <span style="font-weight:bold;color:#428bca">Party</span>
                    </div>
                    
                     <div ng-click="updateMap('signatory')" style="width:100%;padding:2px;cursor:pointer;border-radius:3px;" ng-class="{'bg-grey1':type=='signatory'}" >
                        <span class="badge pull-right">{{npSignatory}}</span>
                        <span style="font-weight:bold;color:#5bc0de">Signatory</span>
                    </div>
                    
                    <div ng-click="updateMap('nonParties')" style="width:100%;padding:2px;cursor:pointer;border-radius:3px;"  ng-class="{'bg-grey1':type=='nonParties'}">
                        <span class="badge pull-right">{{nonParty}}</span>
                        <span style="font-weight:bold;color:#888">Non-Party</span>
                    </div>
             </div>
     
             <div style="padding-bottom:10px;" >
                <div><strong>Filter Country by Record Types</strong></div>
                <hr style="padding-bottom:5px;margin:0;">
         
                    <div class="row">
                        <div class="col-xs-2 stats-country color-black text-center">Countries</div>
                        <div class="col-xs-10 stats-country color-black text-right">Records</div>
                        
                        <div class="clearfix"></div>  
                        <div class="col-xs-2  text-center" ng-class="{'bg-grey1':selected_facet=='all'}">  
                            <div ng-click="searchFilter=isPartyToCBD;" style="width:100%;padding:2px;cursor:pointer;border-radius:3px;"  >
                                <strong>All</strong>
                            </div>
                        </div>
                        <div class="col-xs-10" ng-class="{'bg-grey1':selected_facet=='all'}">
                             <div ng-click="searchFilter=isPartyToCBD;" style="width:100%;padding:2px;cursor:pointer;border-radius:3px;"  >
                                <span>&nbsp;</span>
                            </div>
                        </div>  
                
                                
                        <div ng-repeat="facet in $parent.commonFormatFacets" style="cursor:pointer">   
                         <div class="clearfix"></div>
                         <div ng-click="selected_facet=facet[0];updateMap(facet[0]);" style="width:100%;padding:2px;cursor:pointer;border-radius:3px;" >
                             <div class="col-xs-2 text-center"  ng-class="{'bg-grey1': selected_facet==facet[0], 'bg-white':selected_facet!=facet[0]}" style="height:28px!important;">
                                 <span class="stats-count">{{facet[1].countryCount}}</span></div>
                             <div class="col-xs-10" ng-class="{'bg-grey1': selected_facet==facet[0], 'bg-white':selected_facet!=facet[0]}" style="height:28px!important;">
                                 <span class="badge   pull-right">{{facet[1].facetCount}}</span>
                                 <div  style="padding-top:3px;line-height:1;font-size:11px;text-transform:uppercase;">{{facet[0]|lowercase|schemaNamePlural}}</div> 
                             </div>
                         </div>
                        </div>
                    </div>

             </div>
      
                    
           
<!--            <a rel="noopener" translation-url  ng-click="selected_facet=facet[0];updateMap(facet[0]);" ng-repeat="facet in $parent.commonFormatFacets" style="display:inline;cursor:pointer">

                <div ng-show="facet[0]== 'RAT'">
                    <div class="stats-count">{{facet[1].facetCount}} </div>
                    <div class="stats-country">Parties to the Nagoya Protocol</div>
                </div>

                <div ng-show="facet[0] != 'RAT' && facet[0] != 'resource'">

                    <div class="stats-top">
                        <div class="stats-count">
                            {{facet[1].countryCount}}
                        </div>

                        <div class="stats-country">
                            <span ng-show="facet[1].countryCount">Countries </span>
                        </div>
                    </div>

                    <div class="text-center">
                        <hr style="padding:0;margin:5px 0;border:dashed 1px #ccc!important;" />
                        <span class="stats-hr" ng-class="{'myWell-on': isSelected(facet[0])}" style="position:relative;top:-18px;background-color:#fff;" ng-show="facet[0]!= 'RAT'">have submitted</span>
                    </div>

                    <div class="stats-bottom">
                        <div class="stats-bottom" style="position:relative;top:-18px;">
                            <div class="stats-count-rec">{{facet[1].facetCount}}</div>
                            <div class="stats-schema-rec">{{facet[0]|lowercase|schemaNamePlural}}</div>
                        </div>
                    </div>

                </div>


                <div ng-show="facet[0]== 'resource'">
                    <div class="stats-count">{{facet[1].facetCount}} </div>
                    <div class="stats-country">{{facet[0]|lowercase|schemaNamePlural}}</div>
                </div>

            </a>-->
            
                 
        </div>
        <div role="tabpanel" class="tab-pane" id="list">...</div>
        <div role="tabpanel" class="tab-pane" id="countries">

             <div style="padding-bottom:10px;">
         
                <strong>Filter by Nagoya Protocol Party Status</strong>
               
                <ul>
                  <li><a rel="noopener" translation-url  ng-click="updateMap('all')">All <span class="badge pull-right">{{countries.length}}</span></a></li>
                  <li><a rel="noopener" translation-url  style="font-weight:bold;color:#428bca" ng-click="updateMap('party');selected=': Parties'"  >Party <span class="badge pull-right">{{npParty}}</span></a></li>
                  <li><a rel="noopener" translation-url  style="font-weight:bold;color:#5bc0de" ng-click="updateMap('signatory');selected=': Signatories'" >Signatory <span class="badge pull-right">{{npSignatory}}</span></a></li>
                  <li><a rel="noopener" translation-url  style="font-weight:bold;color:#888" ng-click="updateMap('nonParties');selected=': Non-Parties'" >Non-Party <span class="badge pull-right">{{nonParty}}</span></a></li>
                </ul>
             </div>
    
    
                <strong>Select a country</strong>
                <input type="textbox" ng-model="countryFilter" placeholder="filter by country name" class="form-control form-control-small">
    
                <div class="clearfix"></div>
    
                <div style="max-height:500px;overflow:scroll; cursor:pointer;padding:5px;">
                    <ul class="list-group">
                        <li class="row list-group-item" style="min-width:300px;" ng-click="navigateCountry(country.code)"
                        ng-repeat="country in countries | filter:countryFilter | filter:searchFilter | orderBy:'name.en'"
                        ng-class="{'list-group-item-info':country.isSignatory && !country.isParty,
                                'list-group-item-primary':country.isParty,
                                'list-group-item-default':!country.isParty && !country.isSignatory}">
    
                            <div class="col-xs-12">{{country.name |lstring}}</div>
                        </li>
                    </ul>
                </div>
            
        </div>
      </div>
    
    </div>



</div>
