<div id="reference-records-table" ng-show="referenceRecords">
    <style>
        .text-truncate {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 48px;
            cursor: pointer;
        }
    </style>
    <legend>
        Reference records
        <a rel="noopener" target="_blank" ng-href="/search?raw-query={{('referenceRecord_ss:' + model)| encodeURIComponent }}" class="pull-right btn btn-primary btn-xs">Show in search</a>
    </legend>
    <table class="table table-bordered" style="width: 100%;">
        <tr>
            <th width="10%"></th>            
            <th width="45%">Schema</th>
            <th width="40%">Field</th>
            <th width="5%">Count</th>
        </tr>

        <tr ng-repeat="(key, record) in referenceRecords">
            <td colspan="4" style="padding: 0px;">
                <table class="table table-bordered" style="margin-bottom: 0px;">
                    <tr ng-repeat-start="(fieldKey, field) in record.fields">
                        <td width="15%"><button type="button" class="btn btn-primary btn-xs" ng-click="field.showRecords=!field.showRecords">Show records</button></td>
                        <td width="60%"> {{record.schema}}</td>
                        <td width="15%" ng-bind="fieldKey"></td>
                        <td width="10%" ng-bind="field.count"></td>             
                    </tr>
                    <tr ng-if="field.showRecords">
                        <td width="15%" colspan="4" style="padding:0px">
                            <table class="table table-bordered" style="width: 100%;margin-bottom: 0px;">
                                <tr ng-repeat="doc in field.docs">
                                    <td>
                                        <a rel="noopener" target="_blank" ng-href="/countries/{{doc.government_s|encodeURIComponent}}" ng-bind="doc.government" ></a>
                                    </td>
                                    <td width="60%">
                                        <span ng-bind="doc.title"></span>                                        
                                        <div class="pull-right" ng-if="doc.showIcons" ng-include="'/app/views/forms/view/bch/icons.html'"></div>
                                    </td>
                                    <td  width="25%">
                                        <a rel="noopener" target="_blank" ng-href="/database/{{doc.uniqueId|uppercase|encodeURIComponent}}" ng-bind="doc.uniqueId|uppercase" ></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr ng-repeat-end="(fieldKey, field) in record.fields"></tr>
                </table>
            </td>   
        </tr>       

    </table>
</div>
