<div id="reference-records-table" ng-show="referenceRecords">
    <legend>
        Records referencing this document
        <a rel="noopener" target="_blank" ng-href="/search?raw-query={{('referenceRecord_ss:' + model)| encodeURIComponent }}" class="pull-right btn btn-primary btn-xs">Show in search</a>
    </legend>
    <table class="table table-bordered table-condensed" style="width: 100%;">
        <tr>
            <th width="10%"></th>            
            <th width="43%">Record type</th>
            <th width="40%">Field</th>
            <th width="7%">Record(s)</th>
        </tr>

        <tr ng-repeat="(key, record) in referenceRecords">
            <td colspan="4" style="padding: 0px;">
                <table class="table table-bordered" style="margin-bottom: 0px;width: 100%;">
                    <tr ng-repeat-start="(fieldKey, field) in record.fields" ng-class="{'active':field.showRecords}">
                        <td width="10%">
                            <button type="button" class="btn btn-primary btn-xs" ng-click="field.showRecords=!field.showRecords">
                                <i class="fa fa-folder-open-o"></i>
                                <span ng-if="field.showRecords" class="hidden-xs">Hide</span>
                                <span ng-if="!field.showRecords" class="hidden-xs">Show</span>
                            </button>
                        </td>
                        <td width="43%"> {{record.schema}}</td>
                        <td max-width="40%" class="truncate-record" ng-bind="fieldKey" ng-click="toggleTitle($event)"></td>
                        <td width="7%" ng-bind="field.count"></td>
                    </tr>
                    <tr ng-if="field.showRecords">
                        <td width="15%" colspan="4" style="padding:0px">
                            <table class="table table-bordered table-condensed" style="width: 100%;margin-bottom: 0px;">
                                <tr style="border-bottom: 1px solid #eee;">
                                   <td  ng-show="record.schemaType=='national'" ng-class="{'bold':sortField=='government'}">
                                       Country 
                                       <i class="fa cursor-pointer" ng-class="{'fa-sort-alpha-asc':!reverse, 'fa-sort-alpha-desc':reverse}"  ng-click="sortField='government'; reverse=!reverse"></i>
                                    </td> 
                                   <td ng-class="{'bold':sortField=='title'}">Title
                                        <i class="fa cursor-pointer" ng-class="{'fa-sort-alpha-asc':!reverse, 'fa-sort-alpha-desc':reverse}"  ng-click="sortField='title'; reverse=!reverse"></i>
                                    </td> 
                                   <td ng-class="{'bold':sortField=='uniqueId'}">UId
                                        <i class="fa cursor-pointer" ng-class="{'fa-sort-alpha-asc':!reverse, 'fa-sort-alpha-desc':reverse}"  ng-click="sortField='uniqueId'; reverse=!reverse"></i>
                                    </td> 
                                   <td  ng-class="{'bold':sortField=='updatedOn'}" class="hidden-xs">Updated on
                                        <i class="fa cursor-pointer" ng-class="{'fa-sort-alpha-asc':!reverse, 'fa-sort-alpha-desc':reverse}"  ng-click="sortField='updatedOn'; reverse=!reverse"></i>
                                    </td> 
                                </tr>
                                <tr ng-repeat="doc in field.docs | orderBy:sortField:reverse" style="border-bottom: 1px solid #eee;">
                                    <td ng-show="record.schemaType=='national'">
                                        <a rel="noopener" target="_blank" ng-href="/countries/{{doc.government_s|encodeURIComponent}}" ng-bind="doc.government" ></a>
                                    </td>
                                    <td width="50%">
                                        <span ng-bind="doc.title"></span>                                        
                                    </td>
                                    <td  width="20%">
                                        <a rel="noopener" target="_blank" ng-href="/database/{{doc.uniqueId|uppercase|encodeURIComponent}}" ng-bind="doc.uniqueId|uppercase" ></a>
                                        <div ng-include="'/app/views/forms/view/bch/icons.html'"></div>
                                    </td>
                                    <td  width="15%" class="hidden-xs">
                                        <span ng-bind="doc.updatedOn|formatDateWithTime"></span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr ng-repeat-end="(fieldKey, field) in record.fields"></tr>
                </table>
            </td>   
        </tr>       

    </table>
</div>
