<style>
.lighter{

	color:#999;
}
</style>

<script src="/app/views/workshops/lac.html.js"></script>

<div ng-controller="LacController">

<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="text-center"><img src="https://dl.dropboxusercontent.com/u/281146418/Regional%20Workshops/LAC%20Region/header.jpg"></div>
			<h1>Regional Capacity-building Workshop for Latin America on Nagoya Protocol on Access and Benefit-sharing
			<span style="color:#999">24 - 28 March 2014 - Montevideo, Uruguay</span>
			</h1>

			<a href="http://www.cbd.int/doc/meetings/abs/absws-2014-02/official/absws-2014-02-01-es.pdf">
			<i class="glyphicon glyphicon-file"></i> Programma provisional</a>
			<br>
			<a href="http://www.cbd.int/doc/meetings/abs/absws-2014-02/official/absws-2014-02-01-add1-es.pdf">
			<i class="glyphicon glyphicon-file"></i> Anotaciones al programa</a>
			<br>
			<a href="http://www.cbd.int/doc/notifications/2013/ntf-2013-123-abs-es.pdf">
			<i class="glyphicon glyphicon-file"></i> Notification to participate in the workshop</a>
			<br>
			<a href="http://www.cbd.int/doc/notifications/2014/ntf-2014-045-abs-parties-en.docx">
			<i class="glyphicon glyphicon-file"></i> Notification to nominate national users</a>


			<hr>
			<h2>Monday 24 March 2014</h2>
			
				<label>Summary</label>

				<h4>Presentations</h4>
					<ul>
						<li><a href="">Perspectivas para su implementación regional <i class="lighter">Braulio Ferreira de Souza Días, Secretario Ejecutivo del CDB</i></a></li>
						<li><a href="https://dl.dropboxusercontent.com/u/281146418/Regional%20Workshops/LAC%20Region/Presentations/romperhielos.pdf">Romperhielos <i  class="lighter">Matthew Dias, Secretario del CDB</i></a></li>
						<li><a href="https://dl.dropboxusercontent.com/u/281146418/Regional%20Workshops/LAC%20Region/Presentations/intro_bea.pdf">Introducción al Protocolo de Nagoya <i  class="lighter">Beatriz Gomes Castro, Secretario del CDB</i></a></li>
						<li><a href="https://dl.dropboxusercontent.com/u/281146418/Regional%20Workshops/LAC%20Region/Presentations/lily.pdf"> Entendiendo el proceso de investigación y los beneficios que se pueden 
derivar de la utilización de recursos genéticos y conocimiento tradicional <i  class="lighter">Lily Rodríguez, Universidad de Bonn</i></a></li>
					</ul>

				<h4>Photos</h4>

					<div class="row">
						<div class="col-md-3" ng-repeat="pic in photos24">

							<a href="https://dl.dropboxusercontent.com/u/281146418/Regional%20Workshops/LAC%20Region/Photos/24%20March%202014/Original_Files/IMG_{{pic.id}}.jpg">
							<img class="thumbnail" src="https://dl.dropboxusercontent.com/u/281146418/Regional%20Workshops/LAC%20Region/Photos/24%20March%202014/IMG_{{pic.id}}.jpg"> </a>

						</div>
					</div>

			<hr>
			<h2>Tuesday 25 March 2014</h2>
				<label>Summary</label> 

				<h5>Presentations</h5>
					<ul>
						<li><a href="/app/views/workshops/img/25March2014/presentations/santiago.pdf"> 
						Entendiendo el proceso de investigación y los beneficios que se pueden derivar de la utilización de recursos genéticos y conocimiento tradicional 
						<i class="lighter">Santiago Carrizosa, Asesor Técnico Regional – PNUD</i></a></li>
					</ul>

				<h5>Photos</h5>



		</div> <!-- end col -->
	</div> <!-- end row -->
</div> <!-- end container -->
</div> <!-- end controller -->