
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center"><img src="/app/views/workshops/img/header.jpg"></div>
			<h1>Regional Capacity-building Workshop for Latin America on Nagoya Protocol on Access and Benefit-sharing
			<span style="color:#999">24 - 28 March 2014 - Montevideo, Uruguay</span>
			</h1>

			<a href="http://www.cbd.int/doc/meetings/abs/absws-2014-02/official/absws-2014-02-01-es.pdf">
			<i class="glyphicon glyphicon-file"></i> Programma provisional</a>
			<br>
			<a href="http://www.cbd.int/doc/meetings/abs/absws-2014-02/official/absws-2014-02-01-add1-es.pdf">
			<i class="glyphicon glyphicon-file"></i> Anotaciones al programa</a>
			<br>
			<a href="http://www.cbd.int/doc/notifications/2013/ntf-2013-123-abs-es.pdf">
			<i class="glyphicon glyphicon-file"></i> Notification to participate in the workshop</a>
			<br>
			<a href="http://www.cbd.int/doc/notifications/2014/ntf-2014-045-abs-parties-en.docx">
			<i class="glyphicon glyphicon-file"></i> Notification to nominate national users</a>



			<hr>
			<h2>Monday 24 March 2014</h2>
			
				<label>Summary</label>

				<h5>Presentations</h5>
					<ul>
						<li></li>
					</ul>

				<h5>Photos</h5>
					<div class="row">

						<div  class="col-md-3"><a href="/app/views/workshops/img/24March2014/Original_Files/IMG_8903.jpg">
							<img class="thumbnail" src="/app/views/workshops/img/24March2014/IMG_8903.jpg"> </a></div>
						<div  class="col-md-3"><a href="/app/views/workshops/img/24March2014/Original_Files/IMG_8924.jpg">
							<img class="thumbnail" src="/app/views/workshops/img/24March2014/IMG_8924.jpg"> </a></div>
						<div  class="col-md-3"><a href="/app/views/workshops/img/24March2014/Original_Files/IMG_8950.jpg">
							<img class="thumbnail" src="/app/views/workshops/img/24March2014/IMG_8950.jpg"> </a></div>
						<div  class="col-md-3"><a href="/app/views/workshops/img/24March2014/Original_Files/IMG_8952.jpg">
							<img class="thumbnail" src="/app/views/workshops/img/24March2014/IMG_8952.jpg"> </a></div>
						<div  class="col-md-3"><a href="/app/views/workshops/img/24March2014/Original_Files/IMG_8954.jpg">
							<img class="thumbnail" src="/app/views/workshops/img/24March2014/IMG_8954.jpg"> </a></div>
					
			
					</div>



			<hr>
			<h2>Tuesday 25 March 2014</h2>
			<p>
				<label>Summary</label>

				<h5>Presentations</h5>
					<ul>
						<li></li>
					</ul>

				<h5>Photos</h5>

			</p>



		<!-- 	<hr>
			<h2>Wednesday 26 March 2014</h2>
			<p>
				<label>Summary</label>

				<h5>Presentations</h5>
					<ul>
						<li></li>
					</ul>
				<h5>Photos</h5>

			</p> -->






		</div>
	</div>
</div>