.multiple-languages {
    margin-bottom: 3px;
}

.km-rtl .btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.km-rtl .btn+.btn {
    margin-left: 1rem;
}

.km-rtl .btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
}

.km-rtl trix-toolbar .dialogs .dialog {
    border: 1px solid #d6d6d6;
    border-radius: 2px;
}

.km-rtl .dialog .trix-button-group {
    margin-top: 0;
}

.km-rtl .link_url_fields>input {
    border-color: #d6d6d6 !important;
    border-radius: 2px !important;
}

.trix-button-row {
    border-color: #d6d6d6 #d6d6d6 transparent;
    border-image: none;
    border-radius: 2px 2px 0 0;
    border-style: solid;
    border-width: 1px;
    padding-left: 5px;
}
trix-toolbar{
    display: block;
}
trix-toolbar .trix-button-group {
    border-color: #d6d6d6;
    border-radius: 2px;
    box-shadow: none;
    margin-bottom: 0;
    margin-right: 2px;
    margin-top: 5px;
    margin-bottom: -2px;
    display: inline-block!important;
}

.km-rtl, trix-editor {
    border-color: #d6d6d6;
    border-radius: 0 0 3px 3px;
    word-wrap: break-word;
    color: #333;
}

trix-toolbar .trix-button-group button {
    border-bottom: 0 none;
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.2s ease 0s;
}

trix-toolbar .trix-button-group button.active,
trix-toolbar .trix-button-group button.active:hover {
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.2) inset !important;
    opacity: 1;
}

trix-toolbar .trix-button-group button:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1) inset !important;
    opacity: 1;
}

/* .km-rtl trix-toolbar .trix-button-group, trix-toolbar .trix-button-row {
    display: inline;
} */
trix-toolbar .trix-button-row {
    display: inherit!important;
}
trix-toolbar .trix-button--icon-underline{
    font-size: inherit!important;
    width: 2.6em;
    height: 1.6em;
    max-width: calc(0.8em + 4vw);
    text-decoration: underline;
}

.input-lang-ar input, .input-lang-ar textarea{
    direction: rtl;
}


.webui-popover-content {
    max-width: 500px;
    max-height: 300px;
    text-align: justify;
    color: #fff;
    background: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.webui-popover {
    text-align: left;
    background-color: #000;
    padding: 0px!important;
    background: #000!important;
}

.webui-popover-content a {
    border-bottom: 1px solid red;
}

.webui-popover-title,
.webui-popover-inner .close {
    border-bottom: 0px solid #f2f2f2!important;
    background-color: #000!important;
    color: #fff!important;
}

.webui-popover.top> .webui-arrow:after,
.webui-popover.top-right> .webui-arrow:after,
.webui-popover.top-left> .webui-arrow:after {
    border-top-color: #000!important;
}

.webui-popover.right> .webui-arrow:after,
.webui-popover.right-top> .webui-arrow:after,
.webui-popover.right-bottom> .webui-arrow:after {
    border-right-color: #000!important;
}

.webui-popover.bottom> .webui-arrow:after,
.webui-popover.bottom-right> .webui-arrow:after,
.webui-popover.bottom-left> .webui-arrow:after {
    border-bottom-color: #000!important;
}

.webui-popover.left> .webui-arrow:after,
.webui-popover.left-top> .webui-arrow:after,
.webui-popover.left-bottom> .webui-arrow:after {
    border-left-color: #000!important;
}

.km-inputtext-ac .angucomplete-dropdown{
    top:40px;
    overflow-y: auto;
    max-height: 200px
}
.multiple-languages { margin-bottom: 3px; }