<div class="km-rtl">
	<!-- ToDo: km-rtl is already used here  -->
	<div ng-repeat="locale in locales" class="trix-content input-group input-rich-text" ng-class="{ 'multiple-languages' : isShowLocale() && !last }"
	    ng-switch="rows">
		<trix-editor dir="{{ isRTL(locale) ? 'rtl' : 'ltr' }}" angular-trix ng-switch-default ng-required="isRequired()" ng-model="text[locale]"
			ng-change="onchange()" ng-disabled="ngDisabledFn()" placeholder="{{placeholder}}" rows="{{rows}}"
			trix-initialize="trixInitialize(e, ed)">
		</trix-editor>
		<span class="input-group-text lang-tooltip fs-small-8" disabled-ng-show="isShowLocale()" style="cursor:default" data-bs-toggle="tooltip" data-title="{{termLocales[locale]|term}}" >
			<span ng-bind="locale | uppercase"></span>
		</span>
	</div>
</div>
