<div>
	<div class="col-xs-12" ng-show="enableSearch">
		<div class="input-group pull-left" style="max-width:300px;">
			<input  type="text" ng-model="searchKeyword" class="form-control" placeholder="Search the list" style="font-weight:bold;">
			<span type="submit" class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span>
		</div>
		<button class="btn btn-default btn-xs pull-right" ng-click="clear()" ng-if="binding.length>0">
				<i class="fa fa-remove" ></i> Clear selection</button>
	</div>
	<div class="col-xs-12">
		<div ng-if="searchKeyword" style="margin:20px">
			<table class="table table-stripped table-hover">
				<tr ng-repeat="term in searchList|filter:hasMatch">
					<td>
						<label>
							<input type="checkbox" ng-model="identifiers[term.identifier]" ng-change="save()" 
								ng-required="IsRequired()" value="{{term.identifier}}"/> {{term.displayTitle | lstring:locale}}
						</label>
					</td>
				</tr>
			</table>
		</div>
		<ul>
			<script type="text/ng-template" id="term-check-tree-renderer.html">
				<label>
					<input type="checkbox" ng-model="identifiers[term.identifier]" ng-change="save()" ng-required="IsRequired()" value="{{term.identifier}}"
					/> {{term.title||term.name | lstring:locale}}
				</label>
				<div class="km-select-description" ng-if="showDescription && term.description" style="padding: 3px 25px;">
					{{term.description}}
				</div>
				<ul style="list-style:none">
					<li ng:repeat="term in term.narrowerTerms" ng-include="'term-check-tree-renderer.html'">
				</ul>
			</script>

			<li ng:repeat="term in rootTerms" ng-include="'term-check-tree-renderer.html'"></li>

			<li ng-show="error">
				<div class="alert">
					{{error}}
				</div>
			</li>

			<li ng-show="__loading">
				<i class="fa fa-spinner fa-spin"></i> Loading...
			</li>

			<style>
				li>label {
					font-weight: normal;
				}
			</style>
		</ul>
	</div>
		
	</div>
