<div id="printContentFooter" style="padding-top:20px" dir="rtl">
    <legend>معلومات إضافية</legend>
    <div class="row top-border">
        <div class="clearfix"></div>
        <div class="col-xs-8" style="font-size:12px;"><span ng-if="isABS">يمكنكم توجيه أي استفسارات أو أسئلة حول بروتوكول ناغويا بشأن الحصول على الموارد وتقاسم المنافع أو آلية عمل غرفة تبادل المعلومات بشأن الحصول على الموارد وتقاسم المنافع إلى الأمانة العامة لاتفاقية التنوع البيولوجي.</span> <span ng-if="isBCH">يُمكنكم توجيه أي استفسارات أو أسئلة حول بروتوكول قرطاجنة للسلامة الأحيائية أو آلية عمل غرفة تبادل معلومات السلامة الأحيائية إلى الأمانة العامة لاتفاقية التنوع البيولوجي.</span></div>
        <div class="col-xs-4" style="font-size:12px;"><strong>Secretariat of the Convention on Biological Diversity</strong> <br/> 413 rue Saint-Jacques, suite 800 <br/> Montreal, Québec, H2Y 1N9 <br/> Canada <br/> فاكس: 6588 288 514 1+ <br/> البريد الإلكتروني: secretariat@cbd.int</div>
    </div>
</div>
