<div id="Record" class="record panel panel-default" dir="rtl">
	<div class="panel-heading bg-orange" ng-show="display('header')">
		<h4><span ng-bind="::document.header.schema|schemaName" dir="rtl"></span> <span class="color-white" dir="rtl">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span></h4>
    </div>
	<div class="record-body panel-body">

			
		<document-date></document-date><br><div ng-show="document.title">
			<label>العنوان</label>
			<div class="km-value km-pre" ng-bind="document.title | lstring:locale"></div>
		</div>

		<div ng-show="document.resourceTypes">
			<label>نوع الوثيقة المرجعية</label>
            <div class="km-value">
			<ul class="list">
				<li ng-repeat="resourceType in document.resourceTypes"><span ng-bind="resourceType | term:locale"></span></li>
			</ul>
            </div>
		</div>

		<div ng-show="document.fileFormat">
			<label>نوع الصيغة/الملف</label>
			<div class="km-value" ng-bind="document.fileFormat | term:locale"></div>
		</div>

		<div ng-show="document.formatDetails">
			<label>تفاصيل نموذج الاستطلاع</label>
			<div class="km-value km-pre" ng-bind="document.formatDetails | lstring:locale"></div>
		</div>

		<div ng-show="document.purpose">
			<label>يُرجى تحديد الغرض الرئيسي للوثيقة المرجعية</label>
			<div class="km-value">
            <ul class="list">
				<li ng-repeat="term in document.purpose"><span ng-bind="term | term:locale"></span></li>
			</ul>
            </div>
		</div>

		<div ng-show="document.targetGroups">
			<label>المجموعات / الجهات المستفيدة الرئيسية المستهدفة</label>
            <div class="km-value">
                <ul class="list">
                    <li ng-repeat="term in document.targetGroups"><span ng-bind="term | term:locale"></span></li>
                </ul>
            </div>
		</div>

		<div ng-show="document.expertiseLevel">
			<label>مستوى المحتوى أو مستوى معرفة/خبرة الجمهور الذي يستهدفه الوثيقة المرجعية</label>
			<div class="km-value" ng-bind="document.expertiseLevel | term:locale"></div>
		</div>

		<div ng-show="document.authors">
			<label>المؤلف (المؤلفون):</label>
			<div class="km-value km-pre" ng-bind="document.authors | lstring:locale"></div>
		</div>

		<div ng-show="document.organizations">
			<label>المنظمات المشاركة في نشر هذه الوثيقة المرجعية</label>
			<div class="km-value" ng-repeat="contact in document.organizations">
				<div view-record-reference ng-model="contact" locale="locale"></div>
			</div>
		</div>

		<div ng-show="document.publicationYear">
			<label>سنة النشر</label>
			<div class="km-value" ng-bind="document.publicationYear"></div>
		</div>

		<div ng-show="document.rights">
			<label>الحقوق</label>
			<div class="km-value km-pre" ng-bind="document.rights | lstring:locale"></div>
		</div>

		<div ng-show="document.source">
			<label>Source</label>
			<div class="km-value km-pre" ng-bind="document.source | lstring:locale"></div>
		</div>

		<legend ng-show="document.resourceLinks || document.covers">الوصول للوثيقة المرجعية</legend>

		<div ng-show="document.resourceLinks">
			<label>Link to the resource(s)</label>
			<div class="km-value" compare-val="Link to the resource(s)">
				<km-link-list  ng-model="document.resourceLinks"></km-link-list>
			</div>
		</div>

		<div ng-show="document.covers">
			<label >Cover image(s)</label>
			<div class="km-value"><a rel="noopener" translation-url  ng-repeat="link in document.covers" ng-href="{{link.url|encodeURI}}" target="{{target}}"> <img class="img-polaroid" ng-src="{{link.url}}" alt="{{link.name}}" style="max-height: 150px; max-width: 150px" /> </a></div>
		</div>

		<legend ng-show="document.summary || document.regions">معلومات عن محتوى الوثائق المرجعية</legend>

		<div ng-show="document.summary">
			<label>الملخص</label>
			<div class="km-value km-pre" ng-bind="document.summary | lstring:locale"></div>
		</div>

		<div ng-show="document.regions">
			<label>البلدان أو المجموعات الإقليمية أو الاقتصادية المرتبطة بالوثيقة المرجعية</label>
			<div class="km-value">
            <ul class="list">
				<li ng-repeat="term in document.regions | orderBy:name"><span ng-bind="term | term:locale"></span></li>
			</ul>
            </div>
		</div>


		<div ng-show="document.cbdSubjects || document.aichiTargets">

			<legend>الموضوعات وأهداف أيتشي للتنوع البيولوجي التي تشملها الوثيقة المرجعية</legend>

			<div ng-show="document.cbdSubjects">
				<label>الموضوع/المحور/القضية</label>
					<div class="km-value">
						<ul class="list">
							<li ng-repeat="term in document.cbdSubjects"><span ng-bind="term | term:locale"></span></li>
						</ul>
					</div>
			</div>

			<div ng-show="document.aichiTargets">
				<div ng-show="document.aichiTargets">
					<label>أهداف أيتشي للتنوع البيولوجي</label>
					<div class="km-value">
                     <ul class="list">
						<li ng-repeat="term in document.aichiTargets"><span ng-bind="term | term:locale"></span></li>
					</ul>
                    </div>
				</div>
			</div>
		</div>

		<div ng-show="document.absKeyAreas">
			<legend>غرفة تبادل المعلومات بشأن الحصول على الموارد وتقاسم المنافع</legend>

			<label>المجالات الرئيسية والتدابير الاستراتيجية لبناء القدرات وتطويرها</label>
			<div class="km-value">
              <ul class="list">
				<li ng-repeat="term in document.absKeyAreas"><span ng-bind="term | term:locale"></span></li>
			</ul>
            </div>
		</div>

		<div ng-show="document.bchSubjects">

			<legend>بروتوكول قرطاجنة للسلامة الأحيائية</legend>

			<div ng-show="document.bchSubjects">
				<label>Thematic areas(s)</label>
				<div class="km-value">
                <ul class="list">
					<li ng-repeat="term in document.bchSubjects"><span ng-bind="term | term:locale"></span></li>
				</ul>
			</div>
            </div>
		</div>

		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>معلومات إضافية</legend>

			<div ng-show="document.relevantInformation">
				<div class="km-value km-pre" ng-bind-html="document.relevantInformation | lstring:locale | markdown"></div>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>Other relevant website addresses and/or attached documents</label>
				<div class="km-value" compare-val="Other relevant website addresses and/or attached documents">
					<km-link-list ng-model="document.relevantDocuments"></km-link-list>
				</div>
			</div>
		</div>
		<div>
			<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>
		</div>
</div>

	<div document-metadata  class="panel-footer"></div>

</div>