<div id="Record" class="record panel panel-default" dir="rtl">
	<div class="panel-heading bg-blue">
		<h4><span ng-bind="::document.header.schema|schemaName" dir="rtl"></span> <span class="color-black" dir="rtl">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span></h4>
	</div>
	<div class="record-body panel-body">
		<document-date></document-date>
		<div>
			<label>النوع</label>
			<div class="km-value" compare-val><span ng-bind="document.type | lstring:locale"></span></div>
		</div>
		<div ng-show="document.type=='organization'">
			
			<div ng-show="document.government">
				<label>البلد</label>
				<div class="km-value" compare-val>{{document.government | term:locale}} <span ng-party-status government="document.government" id="government"></span></div>
			</div>
			<div>
                <label>الاسم</label>
				<div class="km-value" compare-val>{{document.organization | lstring:locale}} <i ng-show="document.organizationAcronym">({{document.organizationAcronym | lstring:locale}})</i></div>
			</div>
			<div ng-show="document.organizationType">
				<label>نوع المنظمة</label>
				<div class="km-value" compare-val>{{document.organizationType | term:locale}}</div>
			</div>

		</div>


		<div ng-show="document.type=='person'">
			 <div ng-show="document.government">
  			   <label>البلد</label>
  			   <div class="km-value" compare-val>{{document.government | term:locale}} <span ng-party-status government="document.government" id="government"></span></div>
  		   </div>

            <div>
				<label>الاسم</label>
				<div class="km-value" compare-val>{{document.prefix | lstring:locale}} {{document.firstName}} {{document.middleName}} {{document.lastName}}</div>
			</div>


			<div ng-show="document.designation">
				<label>المُسَمَّى الوظيفي</label>
				<div class="km-value" compare-val>{{document.designation| lstring:locale}}</div>
			</div>

            <div ng-show="document.department">
				<label>القسم / الفرع /الوحدة</label>
				<div class="km-value" compare-val>{{document.department| lstring:locale}}</div>
			</div>

            <div ng-show="document.contactOrganization">
				<legend>المنظمة/المؤسسة</legend>
				<div class="km-value" compare-val>
					<view-record-reference ng-model='document.contactOrganization' locale="locale"></view-record-reference>
				</div>
			</div>

		</div>
		<div ng-show="document.address || document.city || document.state || document.postalCode || document.country">
			<label>عنوان الاتصال</label>
			<div compare-val>
				<address class="km-value">
					<div class="km-pre" ng-bind="document.address | lstring:locale"></div><span ng-bind="document.city | lstring:locale"></span><span ng-show="document.city && document.state">,</span> <span ng-bind="document.state | lstring:locale"></span> <br ng-show="document.city || document.state" /> <span ng-bind="document.postalCode | lstring:locale"></span><span ng-show="document.postalCode">,</span><b ng-bind="document.country|term:locale"></b></address>
			</div>
		</div>
        <div ng-show="document.phones" >
            <label>رقم (أرقام) الهواتف</label>
            	<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.phones">{{item}}</li>
					</ul>
				</div>
        </div>

        <div ng-show="document.faxes">
            <label>رقم (أرقام) الفاكس</label>
            	<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.faxes">{{item}}</li>
					</ul>
				</div>
        </div>

        <div ng-show="document.emails">
            <label>عنوان (عناوين) البريد الإلكتروني</label>
            <div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.emails"><a rel="noopener" translation-url  ng-href="mailto:{{item|encodeURIComponent}}">{{item}}</a></li>
				</ul>
			</div>
        </div>

        <div ng-show="document.websites">
			<label>عنوان (عناوين) الموقع الإلكتروني</label>
			<div compare-val>
				<div class="km-value" ng-repeat="item in document.websites"><a rel="noopener" translation-url  target="{{target}}" ng-href="{{item.url|encodeURI}}">{{item.name||item.url}}</a></div>
			</div>
        </div>

		<div>
			<div ng-show="document.relevantInformation||document.relevantDocuments">
				<legend>معلومات إضافية</legend>

				<div ng-show="document.relevantInformation" compare-val>
					<km-value-ml html value="document.relevantInformation" locales="locale"></km-value-ml>
				</div>

				<div ng-show="document.relevantDocuments">
					<label>مواد أخرى ذات صلة كعناوين مواقع الإنترنت أو الوثائق المرفقة أو كلاهما</label>
					<div compare-val>
						<div class="km-value" ng-repeat="item in document.relevantDocuments"><a rel="noopener" translation-url  target="{{target}}" ng-href="{{item.url|encodeURI}}">{{item.name||item.url}}</a></div>
					</div>
				</div>
			</div>

		</div>
		<div>
			<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>
		</div>

	</div>
	<div document-metadata class="panel-footer" ></div>
</div>
