<div id="Record" class="record panel panel-default" dir="rtl">
	<div class="panel-heading bg-orange" ng-show="display('header')">
		<h4><span ng-bind="::document.header.schema|schemaName" dir="rtl"></span> <span class="color-white" dir="rtl">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span></h4>
	</div>
	<div class="record-body panel-body">

		<document-date></document-date><br><legend>معلومات عامة</legend>
		<div ng-show="document.title">
			<label>عنوان المبادرة</label>
			<div compare-val>
				<km-value-ml value="document.title" locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-show="document.projectNumber">
			<label>رقم أو معرف المشروع</label>
			<div compare-val>
				<km-value-ml value="document.projectNumber" locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.projectDocument">
			<label>Website address(es)</label>
			<div compare-val>
				<km-link-list class="km-value" ng-model="document.projectDocument"></km-link-list>
			</div>
		</div>

		<div ng-if="document.contacts">
			<label>Contact person</label>
			<div class="km-value" compare-val="Contact person">
				<div ng-repeat="contact in document.contacts">
					<div view-record-reference ng-model="contact" locale="locale"></div>
				</div>
			</div>
		</div>


		<div ng-show="document.geographicScope">
			<label>النطاق الجغرافي</label>
			<div class="km-value" compare-val><span ng-bind="document.geographicScope|term:locale"></span></div>
		</div>

		<div ng-show="document.countryRegions">
			<label>المجموعات الجغرافية أو السياسية/الاقتصادية أو البلدان أو جميعهم</label>
			<div class="km-value" compare-val="Geographical or political/economic">
				<ul class="list">
					<li ng-repeat="val in document.countryRegions" ng-bind="val | term:locale"></li>
				</ul>
			</div>
		</div>

		<div ng-show="document.geographicScope.countries">
			<label>البلدان</label>
			<div class="km-value" compare-val="Countries">
				<ul class="list">
					<li ng-repeat="val in document.geographicScope.countries" ng-bind="val | term:locale"></li>
				</ul>
			</div>
		</div>

		<div ng-show="document.status">
			<label>الحالة</label>
			<div class="km-value" compare-val><span ng-bind="document.status|term:locale"></span></div>
		</div>

		<div ng-show="(document.startDate && document.endDate) || document.durationPeriod || document.durationText">
			<div class="row" ng-show="document.startDate && document.endDate">
				<div class="col-md-6" ng-if="document.startDate">
					<label>تاريخ البدء</label>
					<div compare-val>
						<div class="km-value" ng-bind="document.startDate | formatDate"></div>
					</div>
				</div>
				<div class="col-md-6" ng-if="document.endDate">
					<label>تاريخ الانتهاء</label>
					<div compare-val>
						<div class="km-value" ng-bind="document.endDate | formatDate"></div>
					</div>
				</div>
			</div>

			<div class="row" ng-show="document.durationPeriod || document.durationText">
				<div class="col-md-12">
					<label>المدة</label>
					<div class="km-value" compare-val><span ng-bind="document.durationPeriod | lstring:locale"></span> <span ng-bind="document.durationText | lstring:locale"></span></div>
				</div>
			</div>
		</div>


		<div ng-show="document.activityScope">
			<label>نوع مبادرة تطوير القدرات</label>
			<div class="km-value" compare-val><span ng-bind="document.activityScope|term:locale"></span></div>
		</div>
		<div ng-show="document.isProjectProgramme!=undefined">
			<label>هل هذا جزء من مشروع أو برنامج كبير؟</label>
			<div compare-val>
				<km-value-bool value="document.isProjectProgramme" locales="locale"></km-value-bool>
			</div>
		</div>
		<div ng-show="document.projectProgrammeName">
			<label>اسم المشروع أو البرنامج</label>
			<div compare-val>
				<km-value-ml value="document.projectProgrammeName" locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-show="document.broaderProjects">
			<label>سجل في غرفة تبادل معلومات السلامة الأحيائية عن هذا المشروع أو البرنامج</label>
			<div class="km-value" compare-val="Clearing-house record">
				<div ng-repeat="broaderProject in document.broaderProjects">
					<div view-record-reference ng-model="broaderProject" locale="locale"></div>
				</div>
			</div>
		</div>
		<div
			ng-show="document.isImplementedByAgencies || document.isExecutededByAgencies || document.isCollaboratededByPartners">

			<div ng-show="document.isImplementedByAgencies && document.implementingAgencies">
				<label>Implementing agency(ies) or organization(s)</label>
				<div class="km-value" compare-val="Implementing agency(ies)">
					<div ng-repeat="contact in document.implementingAgencies">
						<div view-record-reference ng-model="contact" locale="locale"></div>
					</div>
				</div>
			</div>

			<div ng-show="document.isExecutededByAgencies && document.executingAgencies">
				<label>Executing agency(ies) or organization(s)</label>
				<div class="km-value" compare-val="Executing agency(ies)">
					<div ng-repeat="contact in document.executingAgencies">
						<div view-record-reference ng-model="contact" locale="locale"></div>
					</div>
				</div>
			</div>

			<div ng-show="document.isCollaboratededByPartners && document.collaboratingPartners">
				<label>Collaborating partner(s)</label>
				<div class="km-value" compare-val="Collaborating partner(s)">
					<div ng-repeat="contact in document.collaboratingPartners">
						<div view-record-reference ng-model="contact" locale="locale"></div>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="document.description || document.categories || document.targetGroups">
			<legend>معلومات تفصيلية</legend>

			<div ng-show="document.description">
				<label>وصف مختصر للمبادرة يشمل الأهداف والغايات</label>
				<div compare-val>
					<km-value-ml value="document.description" locales="locale" html></km-value-ml>
				</div>
			</div>
			<div ng-show="document.categories">
				<label>فئة (فئات) مبادرات تطوير القدرات</label>
				<div class="km-value" compare-val="categories">
					<ul class="list">
						<li ng-repeat="val in document.categories" ng-bind="val | term:locale"></li>
					</ul>
				</div>
			</div>
			<div ng-show="document.targetGroups">
				<label>Main target group(s)/beneficiary(ies)</label>
				<div class="km-value" compare-val="Main target group(s)">
					<view-terms-hierarchy ng-model="document.targetGroups" locale="locale" term-domain="cbiAudience"
						on-terms-loaded="onTargetGroupsTerms(terms)"></view-terms-hierarchy>
				</div>
			</div>
		</div>
		<div ng-show="document.cbdSubjects || document.aichiTargets">

			<legend>معلومات عن محاور وموضوعات المبادرة</legend>

			<div ng-show="document.cbdSubjects">
				<label>مجالات الموضوعات المرتبطة باتفاقية التنوع البيولوجي</label>
				<div class="km-value" compare-val="Related CBD subject areas">
					<view-terms-hierarchy ng-model="document.cbdSubjects" locale="locale" term-domain="cbdSubjects"
						on-terms-loaded="onCbdSubjectsTerms(terms)"></view-terms-hierarchy>
				</div>
			</div>

			<div ng-show="document.aichiTargets && isABS">
				<label>أهداف أيتشي</label>
				<div class="km-value" compare-val="Aichi target(s)">
					<ul class="list">
						<li ng-repeat="val in document.aichiTargets" ng-bind="val | term:locale"></li>
					</ul>
				</div>
			</div>
		</div>

		<div ng-show="document.absKeyAreas">
			<label>محاور وموضوعات الحصول على الموارد وتقاسم المنافع</label>

			<label>المجالات الرئيسية والتدابير الاستراتيجية لبناء القدرات وتطويرها</label>
			<div class="km-value" compare-val="Key areas and strategic measures">
				<ul class="list">
					<li ng-repeat="val in document.absKeyAreas" ng-bind="val | term:locale"></li>
				</ul>
			</div>
		</div>

		<div ng-show="document.cpbThematicAreas">
			<label>محاور وموضوعات السلامة الأحيائية</label>
			<div class="km-value" compare-val="Biosafety thematic areas">
				<view-terms-hierarchy ng-model="document.cpbThematicAreas" locale="locale"
					term-domain="cpbThematicAreas" on-terms-loaded="onThematicAreasTerms(terms)"></view-terms-hierarchy>
			</div>
		</div>


		<div
			ng-show="document.fundingSourceTypes || document.coreFundingSources || document.coFinancingSources || document.totalBudget">
			<legend>معلومات عن التمويل</legend>

			<div ng-show="document.fundingSourceTypes">
				<label>أنواع مصادر التمويل</label>
				<div class="km-value" compare-val="Type(s) of funding source(s)">
					<ul class="list">
						<li ng-repeat="val in document.fundingSourceTypes" ng-bind="val | term:locale"></li>
					</ul>
				</div>
			</div>
			<div ng-show="document.coreFundingSources">
				<label>مصادر التمويل الأساسية</label>
				<div class="km-value" compare-val="Primary funding source(s)">
					<div ng-repeat="contact in document.coreFundingSources">
						<div view-record-reference ng-model="contact" locale="locale"></div>
					</div>
				</div>
			</div>

			<div ng-show="document.coFinancingSources">
				<label>مصادر التمويل المشترك</label>
				<div class="km-value" compare-val="Co-financing source(s)">
					<div ng-repeat="contact in document.coFinancingSources">
						<div view-record-reference ng-model="contact" locale="locale"></div>
					</div>
				</div>
			</div>

			<div ng-show="document.totalBudget">
				<label>إجمالي الميزانية (المبلغ بالدولار الأمريكي)</label>
				<div compare-val>
					<km-value-ml value="document.totalBudget | currency:'USD$'" locales="locale"></km-value-ml>
				</div>
			</div>

		</div>
		<div ng-show="document.resultsAchievements || document.resultsOutputs || document.bestPractices || document.resultsReference">
			<legend>نتائج تطوير القدرات</legend>

			<div ng-show="document.resultsAchievements">
				<div><strong>النتائج</strong></div>
				<label>الإنجازات الرئيسية</label>
				<div compare-val>
					<km-value-ml value="document.resultsAchievements" locales="locale" html></km-value-ml>
				</div>
			</div>

			<div ng-show="document.resultsOutputs">
				<label>المخرجات الرئيسية</label>
				<div compare-val="Main outputs">
					<km-link-list class="km-value" ng-model="document.resultsOutputs"></km-link-list>
				</div>
			</div>
			<div ng-show="document.resultsReference">
				<label>رقم سجل المكتبة الافتراضي</label>
				<div class="km-value" compare-val="Virtual library record number">
					<div ng-repeat="contact in document.resultsReference">
						<div view-record-reference ng-model="contact" locale="locale"></div>
					</div>
				</div>
			</div>

			<div ng-show="document.bestPractices">
				<label>أفضل الممارسات والدروس المستفادة</label>
				<div compare-val>
					<km-value-ml value="document.bestPractices" locales="locale" html></km-value-ml>
				</div>
			</div>
		</div>
		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>معلومات إضافية</legend>

			<div ng-show="document.relevantInformation">
				<label>أي معلومات أخرى ذات صلة</label>
				<div compare-val>
					<km-value-ml value="document.relevantInformation" locales="locale" html></km-value-ml>
				</div>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>مواد أخرى ذات صلة كعناوين مواقع الإنترنت أو الوثائق المرفقة أو كليهما</label>
				<div class="km-value" compare-val="Other relevant website addresses and/or attached documents">
					<km-link-list ng-model="document.relevantDocuments"></km-link-list>
				</div>
			</div>
		</div>
		<div>
			<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>
		</div>

	</div>
	<div document-metadata class="panel-footer"></div>

</div>