<div class="km-inputtext-ac" dir="rtl">
	<div ng-repeat="locale in locales" class="input-group input-lang-{{locale}}" 
		ng-class="{ 'multiple-languages' : isShowLocale() && !last }" style="white-space:nowrap"><!-- ng-disabled="ngDisabledFn()" --><angucomplete-alt id="ac_{{locale}}" placeholder="{{autocompleteOptions.placeholder}}" 
			pause="{{autocompleteOptions.pause}}" input-changed="onInputChange"
			selected-object="onObjectSelected" remote-api-handler="remoteApiHandler" 
			data-field="{{autocompleteOptions.dataField}}" title-field="{{autocompleteOptions.titleField}}" 
			description-field="{{autocompleteOptions.descriptionField}}" 
			input-class="form-control {{autocompleteOptions.inputClass}}" 
			initial-value="text[locale]">
		</angucomplete-alt><span class="input-group-addon lang-tooltip" disabled-ng-show="isShowLocale()" style="cursor:default" data-bs-toggle="tooltip" data-title="{{termLocales[locale]|term}}" ><span ng-bind="locale | uppercase"></span></span></div>
</div>
