<div id="Search-Filter"  style="margin-bottom:30px;" >
     <div><span class="country-heading">日期</span><hr class="heading" />
         <p class="helpinfo"><i class="fa fa-info-circle helpicon"></i> 搜索日期范围内所发布记录</p>
        
    </div>
    <div style="max-height:400px;">
            <div class="filter col-lg-4">
                
                <div class="row" style="margin-top:6px">
                    <div class="col-md-3 text-sm-start text-md-end text-lg-naveed published-on-label">
                        <label class="mx-0 float-start">发布日期：</label>
                    </div>
                    <div class="col-md-7">
                        <div km-date-range ng-model="dateFilter.value" ng-change="onChange()"></div>
                    </div>
                </div>
               
            </div>
    </div>
</div>
