<div id="innerPage">
    <div class="mastHead m-0 p-3 pb-5" ng-class="{'bg-bch': isBCH, 'bg-abs':isABS}">

        <div id="registerTopMenu">
            <style> #registerTopMenu .menu-tabs { margin: 0; padding: 0; } #registerTopMenu .menu-tabs>ul { padding: 0; margin: 0; } #registerTopMenu .menu-tabs>ul li { display: inline; z-index: 20; margin-right: 10px; border-radius: 3px; white-space: nowrap; } #registerTopMenu .menu-tabs>ul li>a { background-color: #fff; color: #666; font-weight: bold; font-weight: bold; line-height: 35px; padding: 8px 10px 8px 10px; border-radius: 3px; text-decoration: none; } #registerTopMenu .menu-tabs>ul li>a:hover { background-color: #fff; } #registerTopMenu .tabactivated { background-color: #949494 !important; color: #FFF !important; } </style>


            <div class="menu-tabs d-none d-md-block">
                <ul>
                    <li><a rel="noopener" translation-url href="/register/dashboard"
                            ng-class="{'tabactivated':path.indexOf('dashboard') > 0}">Личный кабинет</a></li>
                    <li><a rel="noopener" translation-url href="/register/requests"
                            ng-class="{'tabactivated':path.indexOf('requests') > 0}">Запросы <span
                                ng-if="isPA && pendingCount>0 " ng-bind="pendingCount"></span></a></li>
                    <li><a rel="noopener" translation-url href="/register/notifications"
                            ng-class="{'tabactivated':path.indexOf('notifications') > 0}"><span ng-if="isABS">Уведомления</span> <span ng-if="isBCH">Оповещения</span></a></li>
                    <li ng-if="user.government || roles.isAdministrator"><a rel="noopener" translation-url
                            ng-class="{'tabactivated':path.indexOf('national-users')>0}"
                            href="/register/national-users">Управление пользователями</a></li>
                    <li><a rel="noopener" translation-url href="/register/user-preferences"
                            ng-class="{'tabactivated':path.indexOf('user-preferences') > 0}">Настройки</a></li>
                    <li><a rel="noopener" translation-url href="/register/reports"
                            ng-class="{'tabactivated':path.indexOf('reports') > 0}">Отчеты</a></li>
                    <li ng-if="roles.isAdministrator"><a rel="noopener" translation-url href="/register/admin"
                            class="bg-pink linkDark"><span ng-class="{'color-white':deviceSize!='xs'}">АДМИН</span></a></li>
                </ul>
            </div>

            <div class="btn-group d-block d-md-none px-2 w-100" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle w-100"
                    data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-bars"></i> Меню <span class="caret"></span></button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li><a rel="noopener" translation-url href="/register/dashboard"
                            ng-class="{'tabactivated':path.indexOf('dashboard') > 0}" class="dropdown-item">Личный кабинет</a></li>
                    <li><a rel="noopener" translation-url href="/register/requests"
                            ng-class="{'tabactivated':path.indexOf('requests') > 0}" class="dropdown-item">Запросы</a></li>
                    <li><a rel="noopener" translation-url href="/register/notifications"
                            ng-class="{'tabactivated':path.indexOf('notifications') > 0}" class="dropdown-item"><span ng-if="isABS">Уведомления</span> <span ng-if="isBCH">Оповещения</span></a></li>
                    <li ng-if="user.government || roles.isAdministrator"><a rel="noopener" translation-url ng-class="{'tabactivated':path.indexOf('national-users')>0}"
                            href="/register/national-users" class="dropdown-item">Управление пользователями</a></li>
                    <li><a rel="noopener" translation-url href="/register/user-preferences"
                            ng-class="{'tabactivated':path.indexOf('user-preferences') > 0}" class="dropdown-item">Настройки</a></li>
                    <li><a rel="noopener" translation-url href="/register/reports" class="dropdown-item"
                            id="hover_color"><span ng-class="{'color-white':deviceSize!='xs'}">Отчеты</span></a></li>
                    <li ng-if="roles.isAdministrator"><a rel="noopener" translation-url href="/register/admin" class="dropdown-item"><span ng-class="{'color-white':deviceSize!='xs'}">АДМИН</span></a></li>

                </ul>
            </div>

        </div>
    </div>
</div>