<div id="Search-Filter">
    <div style="margin-bottom:30px;">
        <div ng-if="kfilters.length">
            <span class="country-heading">All Keywords (<span ng-bind="kfilters.length"></span>)</span>
            <hr class="heading" />
        </div>
        <div style="max-height:300px;overflow-y:scroll">
        <style>
            .keyword-item:hover{
                background:#eee;
            }
        </style>

            <div ng-repeat="doc in kfilters = (keywordSearchFilters |filter:hasCounts  | filter:searchKeyword | orderBy:'name')" class="keyword-item">
                <a rel="noopener" translation-url class="filter text-decoration-none" ng-click="saveFilter(doc)"
                    ng-class="::{'disabled':!$parent.searchResult.data.facets.keywords[doc.id]}">
                    <i class="fa check"
                        ng-class="{'fa-check-square':isFilterOn(doc.id),'fa-square':!isFilterOn(doc.id)}"></i>
                    <span ng-bind="::doc.name|lstring:locale"></span>
                    <strong>(<span ng-bind="::$parent.searchResult.data.facets.keywords[doc.id]||0"></span>)</strong>
                    <span class="float-end">
                        <span ng-repeat="rel in ::doc.schemaFields" data-bs-toggle="tooltip" data-title="{{::rel.schema|schemaName}}" data-container="body" >
                            <span  ng-bind="::rel.schema|schemaShortName"></span><span ng-if="!$last"> |</span>
                        </span>
                    </span>
                </a>
                <div ng-if="$last" ng-init="ngRepeatFinished()" style="display:none"></div> 
            </div>
        </div>
    </div>







</div>
