<div>
    <div ng-if="leftMenuFilters" id="Search-Filter">
       <style>
            .label-selected-facet {
                position: relative;
                display: block;
                background-color: #12496B;
                margin: 4px 0;
                padding-right: 20px;
                text-align: left;
                height: 20px;
                padding-top: 6px;
                border-radius: 3px;
            }
            .truncate {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .no-left-right-bottom-border{
                border-left: none;
                border-right: none;
                border-bottom: none;
            }
       </style>
        <div style="border-bottom: 1px solid #eee">
            <h1>Filters</h1>
        </div>
        <ul class="list-group">
            <li class="list-group-item no-left-right-bottom-border" style="background-color: rgb(250, 250, 250); cursor: pointer;padding:0px;padding-top: 10px;"
                ng-repeat="(schema, filters) in leftMenuFilters" ng-if="filters" >
                    <div class="bold color-darkgrey" style="cursor: pointer;padding-left:2px;padding-right:2px;padding-bottom:5px;" ng-click="state[schema]=!state[schema]">
                        {{schema | schemaName}}
                        <i class="fa pull-right" style="font-size:1.5em; " 
                        ng-class="{'fa-sort-down':state[schema], 'fa-sort-up':!state[schema]}"></i>
                    </div>
                    <div class="list-group-item" ng-repeat="filter in filters"  
                        style="border-right: unset;border-left: unset;" ng-show="!state[schema]">
                        
                        <div ng-if="filter.type!='solrRecords' && filter.type!='date' && filter.type!='freeText' && filter.type!='yesNo'" class="color-darkgrey not" style="cursor: pointer;" 
                            ng-click="showFilterDialog(schema, filter, searchResult.data.facets.keywords)">
                            {{filter.title}}
                            <div style="position:absolute;right:6px;top:6px" style="margin-top:5px" class="fa fa-chevron-right"></div>    
                            <!-- <i class="fa fa-chevron-right pull-right" style="margin-top:5px" aria-hidden="true"></i>           -->
                        </div>
                        <div ng-if="filter.type=='date'" >
                            <label ng-bind="filter.title"></label>
                            <button ng-if="filter.filterValue" class="btn btn-xs btn-default pull-right" ng-click="clearFilterDate(filter)">clear</button>
                            <div km-date-range ng-model="filter.filterValue" ng-change="onFilterDateChange(filter)"></div>
                        </div>
                        <div ng-if="filter.type=='freeText'">
                                <label ng-bind="filter.title" ng-if="filter.title"></label>
                            <form ng-submit="saveSchemaFreeText(filter, filter.searchKeyword)" class="input-group">
                                <input type="text" ng-model="filter.searchKeyword" class="form-control" placeholder="Search in {{schema | schemaName}}"
                                    style="font-weight:bold;">
                                <span type="submit" style="cursor:pointer" ng-click="" class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span>
                            </form>
                        </div>
                        <div ng-if="filter.type=='yesNo'" >
                            <label ng-bind="filter.title"></label>
                            <button ng-if="filter.filterValue!==undefined" class="btn btn-xs btn-default pull-right" ng-click="clearFilterDate(filter)">clear</button>
                            <label class="radio-inline"><input type="radio" ng-model="filter.filterValue" ng-value="true"   ng-change="onFilterDateChange(filter)"/> Yes </label>
	                        <label class="radio-inline"><input type="radio" ng-model="filter.filterValue" ng-value="false"  ng-change="onFilterDateChange(filter)"/> No </label>
                        </div>
                        <div ng-if="filter.type=='solrRecords'">
                            <div document-selector ng-model="filter.selectedItems" question="searchResult" caption="(sense)" type="checkbox"
                                query="filter.query.q" filter="true" ng-change="recordSelected(item, filter)">
                                <select-records>
                                    <div class="color-darkgrey not" style="cursor: pointer;" ng-click="$parent.openAddDialog();">
                                        <span ng-bind="filter.title"></span>
                                        <div style="position:absolute;right:6px;top:6px" style="margin-top:5px" class="fa fa-chevron-right"></div> 
                                    </div>
                                </select-records>
                                <selected-records>
                                    <div class="label label-selected-facet" aria-hidden="false" ng-repeat="doc in $parent.selectedRawDocuments"
                                    ng-click="removeSchemaFilters(doc, filter);$parent.$parent.removeDocument(doc);" >
                                        <div style="position:absolute;right:6px;top:6px" class="fa fa-remove"></div>
                                        {{doc.rec_title}}
                                    </div>
                                </selected-records>
                            </div>
                        </div>

                        <div ng-if="filter.type!='solrRecords'" ng-repeat="option in filter.selectedItems" ng-click="removeSchemaFilters(option, filter)" 
                            class="list-group-item-expand filter" role="button" id="{{option.identifier}}"
                            data-toggle="tooltip" data-title="{{option.title|lstring:locale}}" data-container="body" data-placement="right">                            
                            <div class="label label-selected-facet" aria-hidden="false">
                                <div style="position:absolute;right:6px;top:6px" class="fa fa-remove"></div>                                                    
                                <span class="truncate">
                                    <!-- ({{searchResult.data.facets.keywords[option.id]||0}})  -->
                                    {{option.title|lstring:locale|limitTo:40}}
                                    <span ng-if="(option.title|lstring:locale).length>40">...</span>                                    
                                </span>
                            </div>
                            <div ng-if="$last" ng-init="ngRepeatFinished()" style="display:none"></div> 
                        </div>
                    <div>
            </li>
        </ul>        
    </div>
    <br/>
    <script type="text/ng-template" trados-translation="true" id="filtersDialog">
        <div class="modal-header">
            <h3 class="modal-title">
                {{schema|schemaName}} filter options for {{filterKey}}
            </h3>
        </div>
        <div class="modal-body">	
           
            <div id="divTable"  style="max-height:300px;overflow:scroll; font-size:11px; ">               
                <div class="col-md-12">
                    <div km-term-check ng-model="treeViewSelected" terms="treeOptions()" binding-type="term[]" enable-search="false"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" aria-label="Close" ng-click="closeDialog()" ng-disabled="loading">Cancel</button>
            <button type="button" class="btn btn-primary pull-left" ng-click="apply()">Apply</button>
        </div>
    </script>
</div>
