<div>
    <style>
        .activeHeader {
            background-color: #428bca;
        }
    </style>
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a ng-href="/">Home</a>
                    </li>
                    <li class="active">ABSCH Forums</li>
                </ol>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="list-group">
                        <div class="list-group-item activeHeader">
                            <h4 class="list-group-item-heading" style="padding-left:40%">
                                <a ng-href="/forums/iac{{training_env ? '-trg':''}}">
                                    <i class="fa fa-rss fa-3x"></i>
                                </a>
                            </h4>
                        </div>
                        <div class="list-group-item list-group-item-default">
                            <h3>
                                <a ng-href="/forums/iac">
                                    Informal Advisory Committee (IAC)</a>
                            </h3>
                            <p>You must be an IAC member to participate in this forum. </p>
                            <strong>Total threads: {{iacThreads}}</strong>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="list-group">
                        <div class="list-group-item activeHeader">
                            <h4 class="list-group-item-heading" style="padding-left:40%">
                                <a ng-href="/forums/vlr">
                                    <i class="fa fa-file-o fa-3x"></i>
                                </a>
                            </h4>
                        </div>
                        <div class="list-group-item list-group-item-default">
                            <h3>
                                <a ng-href="/forums/vlr">
                                    Virtual Library Records Discussions</a>
                            </h3>
                            <strong>Total threads: {{vlrThreads}}</strong>
                        </div>
                    </div>
                </div>
<!--                <div class="col-lg-4">
                    <div class="list-group">
                        <div class="list-group-item activeHeader">
                            <h4 class="list-group-item-heading" style="padding-left:40%">
                                <a ng-href="/forums/caribbean">
                                    <i class="fa fa-file-o fa-3x"></i>
                                </a>
                            </h4>
                        </div>
                        <div class="list-group-item list-group-item-default">
                            <h3>
                                <a ng-href="/forums/caribbean">
                                    Caribbean Region ABS Forum</a>
                            </h3>
                            <span>Total threads {{carThreads}}</span>
                        </div>
                    </div>
                </div>-->
                <div class="col-lg-4">
                    <div class="list-group">
                        <div class="list-group-item activeHeader">
                            <h4 class="list-group-item-heading" style="padding-left:40%">
                                <a ng-href="/forums/art10_groups">
                                    <i class="fa fa-file-o fa-3x"></i>
                                </a>
                            </h4>
                        </div>
                        <div class="list-group-item list-group-item-default">
                            <h3>
                                <a ng-href="/forums/art10_groups">
                                    Article 10 Group Forum</a>
                            </h3>
                            <strong>Total threads: {{art10Threads}}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div>
