<div id="Record" class="record panel panel-default" dir="rtl">
	<div class="panel-heading bg-orange">
		<h4><span ng-bind="::document.header.schema|schemaName" dir="rtl"></span> <span class="color-white" dir="rtl">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span></h4>
	</div>
	<div class="record-body panel-body">
		<div class="float-end"><a rel="noopener" ng-if="document.info.documentID" target="_blank" ng-href="reports/lmo/{{document.info.identifier|encodeURIComponent}}/decisions"><i class="fa fa-external-link"></i> قرارات بشأن الكائنات الحية المحورة</a> <a rel="noopener" ng-if="document.info.documentID" target="_blank" ng-href="reports/lmo/{{document.info.identifier|encodeURIComponent}}/risk-assessments" ><i class="fa fa-external-link"></i> تقييم المخاطر</a> &nbsp;<document-date></document-date>
		</div>
		
		<legend>هوية الكائن الحي المحوّر</legend>
		<div ng-show="document.info.documentID" style="text-align: center">
			<div class="help-info">تحدد الصورة أدناه هوية الكائن الحي المحور من خلال مُعرِّفه الفريد واسمه التجاري ورابط لصفحته على غرفة تبادل معلومات السلامة الأحيائية. اضغط على الصورة عليها لتنزيل صورة أكبر على حاسبك. للمساعدة في كيفية استخدام الصورة، انتقل إلى صفحة الروابط السريعة للكائنات الحية المُحوَّرة.</div><a rel="noopener" ng-href="/api/v2020/bch/lmo-qrcode/{{document.header.identifier|encodeURIComponent}}?download=true"><img style="max-width:100%;" class="responsive" border="none" ng-src="/api/v2020/bch/lmo-qrcode/{{document.header.identifier}}"></a></div>
		<div ng-show="document.identity">
			<label>الاسم</label>
			<div compare-val>
				<km-value-ml value="document.identity" locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-show="document.transformationEvent">
			<label>حدث التحور</label>
			<div compare-val>
				<div ng-bind="document.transformationEvent" class="km-value"></div>
			</div>
		</div>
		<div ng-show="document.uniqueIdentification">
			<label>المُعرِّف الفريد</label>
			<div compare-val>
			<div ng-bind="document.uniqueIdentification" class="km-value"></div></div>
		</div>
		<div ng-show="document.developers">
			<label>المطوّر (المطورون)</label>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.developers" >						
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>
		
		<div ng-show="document.description">
			<label>الوصف</label>
			<div compare-val>
			<km-value-ml html value="document.description" locales="locale"></km-value-ml></div>
		</div>

		<div ng-show="document.recipientOrganisms">
			<label>الكائن المتلقّي أو الكائنات المصدر</label>
			<div class="help-info" style="font-size: 10px;">يشير مصطلح "الكائن المتلقي" إلى الكائن (المحور بالفعل أو غير المحور) الذي تعرض للتحوير الوراثي، بينما يشير مصطلح "الكائنات المصدر" إلى الكائنات التي تشترك في التهجين أو مزج الخلايا.</div>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.recipientOrganisms" >						
						<view-record-reference ng-model='item.identifier' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-show="document.recipientOrganismCollectionPoint">
			<label>نقاط جمع الكائن المتلقّى أو "الكائنات المصدر" أو الحصول عليهما</label>
			<div compare-val>			
			<km-value-ml html value="document.recipientOrganismCollectionPoint" locales="locale"></km-value-ml></div>
		</div>
		<div ng-show="document.linkedModifiedOrganisms">
			<label>الكائنات الحية المحورة ذات الصلة</label>	
			<div class="km-value" compare-val>	
				<ul class="list">
					<li ng-repeat="item in document.linkedModifiedOrganisms" >						
						<view-lmo-reference ng-model='item.identifier' locale="locale"></view-lmo-reference>
					</li>
				</ul>
			</div>
		</div>
		
		<legend>خصائص عملية التعديل أو التحوير الوراثي</legend>
		
		<div ng-show="document.vector">
			<label>الناقل</label><div compare-val>
			<km-value-ml value="document.vector" locales="locale"></km-value-ml></div>
		</div>
		<div ng-show="document.techniqueUsed">
			<label>التقنيات المستخدمة فى التعديل</label>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="use in document.techniqueUsed" ng-bind="use | term:locale"></li>
				</ul>
			</div>
		</div>

		<div ng-show="document.geneConstructs">
			<label>تكوين العناصر الجينية</label>

			<div class="km-value" compare-val ng-class="{'lmo-gene-construct-scroll':!printMode}">
				<div ng-repeat="construct in document.geneConstructs" style="margin-bottom:5px;">
					<view-lmo-gene ng-model="construct"></view-lmo-gene>
				</div>
			</div>
		</div>
		<div ng-show="document.genes">
			<label>العناصر الوراثية التي تم إدخالها أو تحويرها</label>
			<div class="help-info" style="font-size: 10px;">ربما توجد بعض العناصر كشذرات أو كأشكال مبتورة. يُرجى مراعاة الملاحظات أدناه عند الضرورة.</div>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.genes" >						
						<view-record-reference ng-model='item.identifier' locale="locale" hide-schema='true'></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-show="document.geneNotes">
			<label>ملاحظات بشأن العناصر الجينية في هذا الكائن الحي المحور</label>
			<div compare-val>
			<km-value-ml html value="document.geneNotes" locales="locale"></km-value-ml></div>
		</div>


		<legend>خصائص الكائن الحى المُحوّر</legend>		
		<div ng-show="document.traits">
			<label>Modified traits</label>
			<div class="km-value" compare-val>
				<view-terms-hierarchy ng-model="document.traits" locale="locale" term-domain="dnaSequenceTraits"></view-terms-hierarchy>
			</div>
		</div>
		<div ng-show="document.affectedGenes">
			<label>Other gene(s) whose expression was affected by the transformation</label>			
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.affectedGenes" >						
						<view-record-reference ng-model='item.identifier' locale="locale" hide-schema='true'></view-record-reference>
					</li>
				</ul>
			</div>
		</div>
		<div ng-show="document.affectedGeneNotes">
			<label>مدى تأثر تعبير الجين (الجينات)</label>
			<div compare-val>
			<km-value-ml value="document.affectedGeneNotes" html locales="locale"></km-value-ml></div>
		</div>
		<div ng-show="document.commonUses">
			<label>الاستخدامات الشائعة للكائن الحي المحور</label>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="use in document.commonUses" ng-bind="use | term:locale"></li>
				</ul>
			</div>
		</div>
		<div ng-show="document.detectionMethod||detectionMethodLinks.length">
			<legend>وسائل الرصد</legend>
			<div ng-show="detectionMethodLinks.length">
				<label>External link(s)</label>
				<div compare-val>
				<km-link-list class="km-value" ng-model="detectionMethodLinks"></km-link-list></div>
			</div>
			<div ng-show="document.detectionMethod">
				<label>معلومات إضافية</label>
				<div compare-val="detectionMethodAddInformation">
				<km-value-ml value="document.detectionMethod" html locales="locale"></km-value-ml></div>
			</div>
		</div>
		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>معلومات إضافية</legend>

			<div ng-show="document.relevantInformation">
				<label>معلومات إضافية</label>
				<div compare-val>
				<km-value-ml value="document.relevantInformation" html locales="locale"></km-value-ml></div>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>Other relevant website addresses and/or attached documents</label>
				<div class="km-value" compare-val="relevantDocuments">
					<km-link-list  ng-model="document.relevantDocuments"></km-link-list>
					
				</div>
			</div>
		</div>
		
		<div> 
			<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>		
		</div>
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
