<div id="Record" class="record panel panel-default" dir="rtl">
	<div class="panel-heading" ng-if='document.header' ng-class="::{'bg-blue':document.header.schema=='nationalRiskAssessment', 'bg-orange':document.header.schema=='independentRiskAssessment'}">
		<h4><span ng-bind="document.header.schema|schemaName" dir="rtl"></span> <span class="color-black" dir="rtl">(<span ng-bind="document.header.schema|schemaShortName"></span>)</span></h4>
	</div>
	<div class="record-body panel-body">



		<document-date></document-date>
		<legend>معلومات عامة</legend>

		<div ng-show="document.government">
			<label name="country">البلد</label>
			<div class="km-value" compare-val><a rel="noopener" ng-href="/countries/{{document.government.identifier|uppercase|encodeURIComponent}}" target="{{target}}" ng-bind="document.government|term:locale"></a> <span ng-party-status government="document.government" id="government"></span></div>
		</div>

		<div ng-show="document.title">
			<label>عنوان تقرير تقييم المخاطر</label>
			<div compare-val>
				<km-value-ml value="document.title" locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-show="document.date">
			<label>تاريخ تقرير تقييم المخاطر</label>
			<div compare-val>
			<div class="km-value" ng-bind-html="document.date | formatDate"></div>
			</div>
		</div>
		<div ng-show="document.authorities" ng-if="document.header.schema=='nationalRiskAssessment'">
			<label>السلطة (السلطات) الوطنية المختصة المسئولة عن تقييم المخاطر</label>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.authorities" >
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>
		<div ng-show="document.organizations" ng-if="document.header.schema=='independentRiskAssessment'">
			<label>المؤسسة المسئولة عن تقييم المخاطر</label>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.organizations" >
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>
		<div ng-show="document.contacts">
			<label>تفاصيل الاتصال بالمسئول الأول عن تقييم المخاطر</label>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.contacts" >						
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-if="document.modifiedOrganisms || document.scopes || document.documents || document.documentsSummary">
			<legend>تفاصيل تقييم المخاطر</legend>
			<div ng-if="document.modifiedOrganisms">
				<label>الكائنات الحية المُحورَّة</label>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.modifiedOrganisms" >						
							<view-lmo-reference ng-model='item.identifier' locale="locale"></view-lmo-reference>
						</li>
					</ul>
				</div>
			</div>
			<div ng-if="document.scopes">
				<label>نطاق تقييم المخاطر</label>
				<div class="km-value" compare-val>
					<view-terms-hierarchy ng-model="document.scopes" locale="locale" term-domain="riskAssessmentScope" on-terms-loaded="onRiskAssessmentScopeTerms(terms)"></view-terms-hierarchy>
				</div>
			</div>
			<div ng-if="document.documents||document.documentsSummary">
				<label>تقرير تقييم المخاطر / الملخص</label>
 			<div class="km-value" compare-val>
				<km-link-list  ng-model="document.documents"></km-link-list>
				<div ng-if="document.documentsSummary">
				<div compare-val>
					<km-value-ml  html value="document.documentsSummary" locales="locale"></km-value-ml>
				</div>
			</div>
		</div>
		</div>
		
		<div ng-if="document.adverseEffects || document.adverseEffectsLikelihood || document.adverseEffectsConsequence ||
			document.adverseEffectsOverallRisk || document.adverseEffectsRecommendation || document.riskManagementStrategies ||
			document.receivingEnvironment || document.detectionMethod">
			<legend>المنهجية والنقاط الواجب مراعاتها</legend>
			<div ng-show="document.adverseEffects">
				<label>التأثيرات الضارة المحتملة المُحدَّدة في تقييم المخاطر</label>
				<div compare-val>
					<km-value-ml  html value="document.adverseEffects" locales="locale"></km-value-ml>
				</div>
			</div>
			<div ng-show="document.adverseEffectsLikelihood">
				<label>احتمال تحقق التأثيرات الضارة المحتملة</label>
				<div compare-val>
					<km-value-ml  html value="document.adverseEffectsLikelihood" locales="locale"></km-value-ml>
				</div>
			</div>
			<div ng-show="document.adverseEffectsConsequence">
				<label>النتائج الممكنة</label>
				<div compare-val>
					<km-value-ml  html value="document.adverseEffectsConsequence" locales="locale"></km-value-ml>
				</div>
			</div>
			<div ng-show="document.adverseEffectsOverallRisk">
				<label>تقدير المخاطر الإجمالية</label>
				<div compare-val>
					<km-value-ml  html value="document.adverseEffectsOverallRisk" locales="locale"></km-value-ml>
				</div>
			</div>
			<div ng-show="document.adverseEffectsRecommendation">
				<label>التوصية (التوصيات) حول مدى قبول/إدارة المخاطر وأي إستراتيجيات إدارية</label>
				<div compare-val>
					<km-value-ml  html value="document.adverseEffectsRecommendation" locales="locale"></km-value-ml>
				</div>
			</div>
			<div ng-show="document.riskManagementStrategies">
				<label>الحاجة للمزيد من المعلومات حول قضايا معينة مثيرة للاهتمام</label>
				<div compare-val>
					<km-value-ml  html value="document.riskManagementStrategies" locales="locale"></km-value-ml>
				</div>
			</div>
			<div ng-show="document.receivingEnvironment">
				<label>مراعاة بيئة (بيئات) التلقي</label>
				<div compare-val>
					<km-value-ml html  value="document.receivingEnvironment" locales="locale"></km-value-ml>
				</div>
			</div>
			<div ng-show="document.detectionMethod">
				<label> الوسائل المقترحة لرصد الكائنات الحية المحورة وتحديد هويتها</label>
				<div compare-val>
					<km-value-ml html value="document.detectionMethod" locales="locale"></km-value-ml>
				</div>
			</div>
		</div><!-- <div ng-if="document.government && document.isForCommercialUse!=undefined">
			<legend>Information sharing with other databases</legend>
			<div ng-if="document.isForCommercialUse!=undefined">
				<label>Is this risk assessment related to an LMO for commercial use?</label>
				<div compare-val>
					<km-value-bool value="document.isForCommercialUse" locales="locale"></km-value-bool>
				</div>
				<div ng-if="document.forwardToOECD!=undefined">
					<label>Should this risk assessment be forwarded to the OECD Secretariat for possible inclusion in the BioTrack Product Database?</label>
					<div compare-val>
						<km-value-bool value="document.forwardToOECD" locales="locale"></km-value-bool>
					</div>
				</div>
				<div ng-if="document.isForFoodSafety!=undefined">
					<label>Is this risk assessment related to food safety?</label>
					<div compare-val>
						<km-value-bool value="document.isForFoodSafety" locales="locale"></km-value-bool>
					</div>
				</div>
				<div ng-if="document.codexConduted!=undefined">
					<label>Was it conducted in accordance with the Codex Alimentarius Guideline for the Conduct of Food Safety Assessment of Foods Derived from Recombinant-DNA Plants?</label>
					<div  compare-val>
						<km-value-bool value="document.codexConduted" locales="locale"></km-value-bool>
					</div>
				</div>
				<div ng-if="document.forwardToFAO!=undefined">
					<label>Should this risk assessment be forwarded to your country's FAO focal point for possible inclusion in the GM Foods Platform?</label>
					<div  compare-val>
						<km-value-bool value="document.forwardToFAO" locales="locale"></km-value-bool>
					</div>
				</div>
			</div>
		</div> --><div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>معلومات إضافية</legend>

			<div ng-show="document.relevantInformation">
				<div compare-val>
				<km-value-ml html value="document.relevantInformation" locales="locale"></km-value-ml>
				</div>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>مواد أخرى ذات صلة كعناوين مواقع الإنترنت أو الوثائق المرفقة أو كلاهما</label>
				<div class="km-value" compare-val="relevantDocuments">
					<km-link-list  ng-model="document.relevantDocuments"></km-link-list>
				</div>
			</div>
		</div>
		<div>
			<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>
		</div>
		
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
