<div id="Record" class="record panel panel-default" dir="rtl">
	<div class="panel-heading bg-orange">
		<h4><span ng-bind="::document.header.schema|schemaName" dir="rtl"></span> <span class="color-black" dir="rtl">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span></h4>
	</div>
	<div class="record-body panel-body">



		<document-date></document-date>
		<legend>معلومات عامة</legend>

		<div ng-show="document.title">
			<label>العنوان</label>
			<div class="km-value" compare-val><strong ng-bind="document.title | lstring:locale"></strong></div>
		</div>

		<div ng-show="document.name">
			<label>اسم العنصر الوراثي</label>
			<div compare-val>
			<km-value-ml value="document.name" locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-show="document.synonymNames">
			<label>Alternate genetic element name(s) (synonym(s))</label>
			<div compare-val>
			<ul class="list" style="padding-left:0px">
				<li ng-repeat="synonym in document.synonymNames" style="padding-bottom:5px;">
					<km-value-ml value="synonym" locales="locale"></km-value-ml>
				</li>
			</ul>
			</div>
			
		</div>
		<div ng-show="document.abbreviation">
			<label>الاختصار</label>
			<div compare-val>
				<km-value-ml value="document.abbreviation" locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-show="document.family">
			<label>الفئة</label>
			<div compare-val>
				<div class="km-value" ng-bind="document.family | term:locale"></div>
			</div>
		</div>

		<div ng-show="document.isSynthetic!=undefined">
			<label>هل العنصر الوراثي جزيء تركيبي؟</label>
			<div compare-val>
				<div class="km-value" ng-if="document.isSynthetic">نعم</div>
				<div class="km-value" ng-if="!document.isSynthetic">لا</div>
			</div>
		</div>
	
	<div ng-if="document.donorOrganisms || document.donorOrganismCollectionPoint || document.gisFiles ">
		<legend>Donor organism</legend>

		<div ng-show="document.donorOrganisms">
			<label>الكائنات المانحة</label>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.donorOrganisms">
						<view-record-reference ng-model="item.identifier" locale="locale" target="target"></view-record-reference>
					</li>
				</ul>						
			</div>
		</div>

		<div ng-show="document.donorOrganismCollectionPoint">
			<label>Point of collection or acquisition of the donor organism(s)</label>
			<div compare-val>
				<km-value-ml value="document.donorOrganismCollectionPoint"  html locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.gisFiles">
			<label>الإحداثيات الجغرافية</label>
			<km-link-list class="km-value" ng-model="document.gisFiles"></km-link-list>
		</div>
	</div>
	<div ng-if="document.family.identifier=='1ECB698D-3F3D-41BC-BEBD-DD5C734BCDCF'">
		<legend>خصائص تسلسل ترميز البروتين</legend>

		<div ng-show="document.proteinName">
			<label>اسم البروتين المذكور في تسلسل الترميز</label>
			<div compare-val>
				<km-value-ml value="document.proteinName" locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-show="document.biologicalFunction">
			<label>الوظيفة البيولوجية للبروتين</label>
			<div compare-val>
				<km-value-ml value="document.biologicalFunction" html locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-show="document.traits">
			<label>Related trait(s) or use(s) in biotechnology</label>
			<div compare-val>
				<view-terms-hierarchy class="km-value" ng-model="document.traits" locale="locale" term-domain="dnaSequenceTraits"></view-terms-hierarchy>
			</div>
		</div>
	</div>
		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>معلومات إضافية</legend>

			<div ng-show="document.relevantInformation">
				<div compare-val>
					<km-value-ml value="document.relevantInformation" html locales="locale"></km-value-ml>
				</div>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>Other relevant website addresses and/or attached documents</label>
				<div class="km-value" compare-val>
					<km-link-list  ng-model="document.relevantDocuments"></km-link-list>
				</div>
			</div>
		</div>
		<div>
			<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>
		</div>
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
