<div style="position:relative;">

<div class="container tag-line-container" ng-show="showTagLine">
		 <div id="Tagline" class="row  bg-green" >
				<div class="col-md-12">
					<md-icon   class="tag-line-close-btn" ng-click="showTagLine=!showTagLine;">close</md-icon>
						<div class="home-col dropshadow">
								<h3 >The Access and Benefit-sharing Clearing-house (ABSCH) is a platform for exchanging information on ABS and a key tool for facilitating the implementation of the Nagoya Protocol.
								</h3>
						</div>
				</div>
		</div>
</div>
			<ammap3  map-id="index-map"  height="600px" selected-color="#999999" zoom-in-on-load="true"></ammap3>


			<div id="Parties"  class="row party-container bg-green text-center">
				<md-icon   class="tag-line-close-btn" ng-click="showPartyTagLine=!showPartyTagLine;">close</md-icon>

					<div class="col-md-3 col-sm-6 col-xs-6"><party-status id="od1" class="od1" delay="0" num="numParty"></party-status><br class="visible-xs visible-sm"><span class="od-label">Parties</span></div>
					<div class="col-md-3 col-sm-6 col-xs-6"><party-status id="od2" class="od2" delay="1000" num="numNonParty"></party-status ><br class="visible-xs visible-sm"><span class="od-label">Non-Parties</span></div>
					<div class="col-md-3 col-sm-6 col-xs-6"><party-status id="od2" class="od2" delay="2000" num="numSignatory"></party-status ><br class="visible-xs visible-sm"><span class="od-label">Signatory</span></div>
					<div class="col-md-3 col-sm-6 col-xs-6"><party-status id="od3" class="od3" delay="3000" num="numRatified"></party-status><br class="visible-xs visible-sm"><span class="od-label">Ratified</span></div>
					<!-- <div class="col-xs-12 col-sm-4 text-center special-font" style="padding-top:8px;padding-bottom:10px;" >
							<span class="label label-primary" style="font-size:24px;">70</span> &nbsp;<br class="visible-sm">
							<a style="font-size:24px;" href="#" class="color-white">Parties</a>
					</div>
					<div class="col-xs-12 col-sm-4 text-center special-font" style="padding-top:8px;padding-bottom:10px;" >
						<span class="label label-default" style="font-size:24px;">70</span> &nbsp; <br class="visible-sm">
							<a style="font-size:24px;" href="#" class="color-white">Non-Parties</a>
					</div>
					<div class="col-xs-12 col-sm-4 text-center special-font" style="padding-top:8px;padding-bottom:10px;">
							<span class="label label-default" style="font-size:24px;">70</span> &nbsp; <br class="visible-sm">
							<a style="font-size:24px;" href="#" class="color-white">Ratified&nbsp;not&nbsp;yet&nbsp;Party</a>
					</div> -->
			</div>
</div>