<div class="document-validation">
	<div ng-show="report.isAnalyzing" class="alert alert-info"></div>
	<div ng-show="report.isSaving" class="alert alert-info"></div>
	<div ng-show="report && !report.isAnalyzing">

		<div ng-show="isValid()" class="alert alert-success"></div>

		<div ng-show="hasErrors() && show" class="alert alert-warning">
			<button type="button" class="position-absolute top-0 end-0 m-2 bg-transparent border-0 fs-5 text-secondary" ng-click="show=!show" aria-label="Close"></button><ul>
				<li ng-repeat="error in report.errors" title=""><ul ng-if="error.properties">
						<li ng-repeat="property in error.properties" title=""></li>
					</ul></li>
			</ul>
		</div>

	</div>
</div>