<span><div ng-class="{'alert alert-danger':ctrl.showLanguageError}" ng-if="initialized">
        <div ng-if="ctrl.showLanguageError" >Выберите хотя бы один язык Организации Объединенных Наций, чтобы продолжить.</div><span km-select data-multiple="{{ctrl.multiple}}" ng-model="ctrl.binding" binding-type="string"
            placeholder="Доступные языки" items="ctrl.options.locales()" minimum="1"
            show-others="ctrl.options.otherLocales()" ng-change="ctrl.validateUNLanguage()" 
            api="ctrl.selectApi" filter-type="startsWith" instance-id="{{::instanceId}}"></span></div></span>