<div class="help_content">
    <h1>Offline versions of the ASBCH common formats.</h1>
    <style>
        .list-group li:hover{
            background-color:#428bca;
        }
        .list-group li:hover a{
            color:#fff;
        }
    </style>
    <ul style="list-style-type: circle;max-width:70%" class="list-group">
        <li class="list-group-item">
            <i class="fa fa-file-word-o"></i><a translation-url  href="http://www.cbd.int/abs/doc/commonformats/ABSCH-MSR.doc" >
            Legislative, administrative or policy measures<i class="fa fa-download pull-right"></i></a></li>

        <li class="list-group-item">
            <i class="fa fa-file-word-o"></i><a translation-url  href="http://www.cbd.int/abs/doc/commonformats/ABSCH-CPC.doc" >
            Checkpoint Communiqué<i class="fa fa-download pull-right"></i></a></li>

        <li class="list-group-item">
            <i class="fa fa-file-word-o"></i><a translation-url  href="http://www.cbd.int/abs/doc/commonformats/ABSCH-CNA.doc" >
            Competent National Authority<i class="fa fa-download pull-right"></i></a></li>
        <li class="list-group-item">
            <i class="fa fa-file-word-o"></i><a translation-url  href="http://www.cbd.int/abs/doc/commonformats/ABSCH-IRCC.doc" >
            Internationally Recognized Certificate of Compliance<i class="fa fa-download pull-right"></i></a></li>

        <li class="list-group-item">
            <i class="fa fa-file-word-o"></i><a translation-url  href="http://www.cbd.int/abs/doc/commonformats/ABSCH-CP.doc" >
            Checkpoint<i class="fa fa-download pull-right"></i></a></li>
        <li class="list-group-item">
            <i class="fa fa-file-word-o"></i><a translation-url  href="http://www.cbd.int/abs/doc/commonformats/ABSCH-NDB.doc" >
            National Websites and Database<i class="fa fa-download pull-right"></i></a></li>
        <li class="list-group-item">
            <i class="fa fa-file-word-o"></i><a translation-url  href="http://www.cbd.int/abs/doc/commonformats/ABSCH-VLR.doc" >
            Virtual Library Record<i class="fa fa-download pull-right"></i></a></li>
        <li class="list-group-item">
            <i class="fa fa-file-word-o"></i><a translation-url  href="http://www.cbd.int/abs/doc/commonformats/ABSCH-NFP.doc" >
            National Focal Point<i class="fa fa-download pull-right"></i></a></li>
        <li class="list-group-item">
            <i class="fa fa-file-word-o"></i><a translation-url  href="http://www.cbd.int/abs/doc/commonformats/ABSCH-PA-NAU.doc" >
            Publishing Authority/National Authorised User<i class="fa fa-download pull-right"></i></a></li>
    </ul>

</div>
