 <div class="help_content">
    <h1>What does controlled vocabulary mean?</h1>
    <div>
      <p>
          Although free text searches are easy to implement and carry out, problems sometimes arise when retrieving the full
          range of results from the incorporation of information in various languages, the use of synonyms and inconsistent
          terminology and spelling. Therefore, where appropriate, the ABS Clearing-House makes use of a controlled vocabulary,
          in order to facilitate the future ability to conduct searches in a number of different languages and return consistent
          search results. This is essentially a thesaurus of standardized words used to search and register information with the
          database in the ABS Clearing-House. Controlled vocabularies have been developed in harmony across the wider CBD clearinghouse
          mechanisms, with a view to enabling searches of information.
      </p>
    </div>
  </div>
