 <div class="help_content">
    <h1>What are the minimum requirements to use the ABS-CH?</h1>
    <div>

      <p>
          The ABS-CH works best with the most recent internet browsers (Firefox, Chrome or Internet Explorer).
          Please make sure you have the most recent version of your favourite browser installed on your computer:
        <ul>
            <li>For Firefox: http://www.mozilla.org/en-US/firefox/new/</li>
            <li>For Chrome: https://www.google.com/intl/en/chrome/browser/ei</li>
            <li>For Internet explorer:  http://windows.microsoft.com/en-ca/internet-explorer/download-ie</li>
        </ul>

          If you experience problems installing a new browser verison on your computer, please try downloading "Chrome Portable" which does not require installation.
      </p>

    </div>
  </div>
