 <div class="help_content">
    <h1>What is the relationship between the ABS-CH and the clearing-house mechanisms of the CBD?</h1>
    <div>
      <p>
          The ABS-CH is established as part of the clearing-house mechanism (CHM) of the Convention.
          The CHM (<a translation-url  href="http://chm.cbd.int" target="_new">http://chm.cbd.int</a>) has been developed
          as a single and unified platform which also supports the dedicated clearing-houses of the Cartagena
          Protocol on Biosafety (BCH) and the Nagoya Protocol (ABS-CH).
          You can access all clearing-houses with the same CBD account that you can get from (<a translation-url  href="http://accounts.cbd.int" target="_new">http://accounts.cbd.int</a>).
      </p>

      <p>
          However, each of the clearing-houses has a dedicated portal for searching and registering information in order to
          respond to the specific needs of the Parties with regards to implementation of the different treaties.
      </p>

        <p>
         The CHM of the Convention was established in accordance with <a translation-url  href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-18" target="_new">Article 18(3)</a> of the Convention to promote and
         facilitate technical and scientific cooperation on all biodiversity issues. The ABS-CH, on the other hand, was
         established under <a translation-url  href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-14" target="_new">Article 14 </a> of the Nagoya Protocol with a special focus on the information that must be exchanged
         under the Protocol. The ABS-CH plays a key role in supporting implementation of the Protocol by contributing to
         transparency and certainty on procedures for access and monitoring of the utilization of genetic resources.
         Because of this role, the ABS-CH has some characteristics, features and functions which are specific to this portal.
      </p>

      <p>
          Another major difference between the CHM and the ABS-CH is that, with regards to the latter,
          <a translation-url  href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-14" target="_new">Article 14</a> of the Protocol
          enumerates a variety of <a translation-url  href="/about/obligations">categories of information</a> which Parties to the Protocol are legally obliged to provide through
          the ABS-CH. There are no such legal requirements for Parties to the Convention to make information available through the CHM.
      </p>

      <p>
          <a translation-url  href="/about/common_formats">Common formats</a> and rules of operation need to be compatible and, where possible, harmonized across the clearing-houses. The common
           formats developed for the ABS Clearing-House make use, as much as possible,
          of predefined text or <a translation-url  href="/about/controlled_vocabulary">controlled vocabularies</a> that are compatible with the controlled vocabularies of the CHM and the BCH.
      </p>

    </div>
  </div>
