<div  id="RegisterPage">
	<link href="/app/css/register.css" rel="stylesheet">
	<link href="/app/css/record.css" rel="stylesheet">

	<span register-top-menu></span>
	<style>
		.table>tbody:hover {
			background-color: #f2dede;
			;
		}
	</style>
	<div class="register-content card card-1-notrans">

		<div class="register-content-header bg-pink color-white">
			<div style="padding:10px 10px;">
				<h3> subscriptions</h3>
			</div>
		</div>
		<div class="register-content-content">

			<legend name="formInfo" style="display:none"></legend>
			<!--<div style="font-weight:bold;">Records which have been not approved since 12 weeks.</div>-->
			<div class="registerpage-content">

				<div class="alert alert-danger" ng-show="__error">
					<strong>Error: </strong>{{__error}}
				</div>
				<legend>Filters </legend>
				<div class="row">
					<div class="col-xs-6">
						<div class="km-control-group" name="startDate" required caption="Start Date">
							<div km-date placeholder="YYYY-MM-DD" required name="startDate" ng-model="filters.startDate"></div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="km-control-group" name="endDate" caption="End Date">
							<div km-date placeholder="YYYY-MM-DD" name="endDate" ng-model="filters.endDate"></div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="km-control-group" name="systemAlert" caption="">
							<input type="checkbox" ng-model="filters.systemAlerts"/> Include System Subscription
						</div>
					</div>
				</div>
				<!--<div class="row">
                    <div class="col-xs-12">
                        <div class="pull-left">                            
                            <input type="text" ng-model="keywords" placeholder=" keyword " class="form-control keyword" style="width:250px;display:inline;">
                        </div>
                    </div>
                </div>-->
				<br>
				<br>
				<div class="row">
					<div class="col-xs-12">
						
						<div style="width:100%" ng-show="subscriptions.length>0">

							<ul class="list-group">
								<li class="list-group-item clearfix" style="background-color:#eee;"
								ng-repeat="record in subscriptions | orderBy:'reportedOn':'desc'">
									<h4>
										<a rel="noopener" class="text-bold mb0 color-blue"  >{{record.queryTitle}}</a>
										<a rel="noopener" class="label label-warning" target="_blank" ng-href="https://accounts.cbd.int/admin/users/{{record.meta.createdBy|encodeURIComponent}}" >{{record.meta.createdBy}}</a>
										<span class="label label-danger" ng-if="record.isSystemAlert"> System alert</span>
									</h4>
									<span style="color:#bbb;">FILTERS:</span><span ng-repeat="filter in record.filters" style="margin-bottom:10px;margin-right:10px;">
											<span class="label label-info">                    
													<span ng-if="filter.type === 'freeText' || filter.type === 'UID'">&#34;</span>{{filter.name}}
													<span ng-if="filter.type === 'freeText' || filter.type === 'UID'">&#34;</span>
											</span>
										</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>