<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-blue">
		<h4><span ng-bind="::document.header.schema|schemaName"></span> <span class="color-black">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span></h4>
	</div>
	<div class="record-body panel-body">



		<document-date></document-date>


		<div ng-if="document.isAmendment!= undefined || amendedByRecords">
			<legend>Поправка</legend>
			<div ng-if="document.isAmendment!=undefined">
				<label>Является ли это поправкой к закону, нормативному положению, руководящему принципу или соглашению, информация о которых уже опубликована в МПБ?</label>
				<div compare-val>
					<km-value-bool value="document.isAmendment" locales="locale"></km-value-bool>
				</div>
			</div>
			<div ng-if="document.amendedRecords">
				<label>Law(s)/regulation(s) amended</label>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.amendedRecords">
							<view-record-reference ng-model='item.identifier' locale="locale"></view-record-reference>
						</li>
					</ul>						
				</div>
			</div>
			<div ng-if="document.amendmentsDetails">
				<label>Краткое описание поправки(-ок)</label>
				<div compare-val>
					<km-value-ml value="document.amendmentsDetails" html locales="locale"></km-value-ml>
				</div>
			</div>
			<div ng-if="amendedByRecords">
				<label>В закон/нормативное положение, сведения о котором содержатся в данной записи, внесены поправки в соответствии с законом(-ами)/нормативным(-и) положением(-ями), сведения о которых содержатся в следующих(-ей) записи(-ях)</label>
				<div class="km-value" compare-val>
					<div ng-repeat="referenced in amendedByRecords">
						<view-record-reference ng-model="referenced"></view-record-reference>
					</div>
				</div>
			</div>
		</div>

		<legend>Общая информация</legend>

		<div ng-if="document.government">
			<label name="country">Страна, представляющая информацию о законе, нормативном положении, руководящем принципе или соглашении</label>
			<div class="km-value" compare-val><a rel="noopener" ng-href="countries/{{document.government.identifier|uppercase|encodeURIComponent}}" target="{{target}}" ng-bind="document.government|term:locale"></a></div>
		</div>

		<div ng-if="document.title">
			<label>Название</label>			
			<div compare-val>
				<km-value-ml value="document.title" locales="locale"></km-value-ml>
			</div>
		</div>
		<legend>Сведения о законодательных актах</legend>
		<div>
			<div ng-if="document.type">
				<label>Тип закона/нормативного положения</label>
				<div class="km-value" compare-val><span ng-if="item.identifier!='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="document.type|term:locale"></span> <span ng-if="item.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="document.type.customValue|lstring:locale"></span></div>
			</div>
			<div ng-if="document.jurisdiction">
				<label>Район юрисдикции</label>
				<div class="km-value" compare-val><span ng-if="document.jurisdiction.identifier!='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="document.jurisdiction|term:locale"></span> <span ng-if="document.jurisdiction.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="document.jurisdiction.customValue|lstring:locale"></span></div>
			</div>

			<div ng-if="document.jurisdictionScope">
				<label>Географическая(-ие) или политическая(-ие)/экономическая(-ие) группа(-ы)</label>	
				<div class="km-value" compare-val>
					<ul ng-if="document.jurisdictionScope" class="list">
						<li ng-repeat="item in document.jurisdictionScope"><span ng-if="item.identifier!='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="item|term:locale"></span></li>
					</ul>
				</div>
			</div>

			<div ng-if="document.cpbSubjectAreas">
				<label>Тематические области</label>
				<div class="km-value" compare-val>
					<view-terms-hierarchy  ng-model="document.cpbSubjectAreas" locale="locale" term-domain="subjectAreas" on-terms-loaded="onSubjectAreasTerms(terms)"></view-terms-hierarchy>
				</div>
			</div>
			<div ng-if="document.cpbOrganismTypes">
				<label>Типы рассматриваемых организмов</label>
				<div class="km-value" compare-val>
					<view-terms-hierarchy ng-model="document.cpbOrganismTypes" locale="locale" term-domain="typeOfOrganisms" on-terms-loaded="onOrganismTypesTerms(terms)"></view-terms-hierarchy>
				</div>
			</div>

			<div ng-if="document.description">
				<label>Краткое описание документа, включая его цель и сферу применения</label>
				<div compare-val>
					<km-value-ml value="document.description" html locales="locale"></km-value-ml>
				</div>
			</div>
			<div ng-if="document.entryIntoForce">
				<label>Дата вступления в силу</label>
				<div class="km-value" compare-val><span ng-bind="document.entryIntoForce|formatDate"></span></div>
			</div>
		</div>


		<div ng-if="document.documents || document.unofficialDocuments || document.documentsInfo">
			<legend>Сведения о документе</legend>
			<div ng-if="document.documents">
				<label>Текст документа</label>
				<div class="km-value" compare-val>
					<km-link-list  ng-model="document.documents"></km-link-list>
				</div>
			</div>

			<div ng-if="document.unofficialDocuments">
				<label>Неофициальные документы</label>
				<div class="km-value" compare-val>
					<km-link-list  ng-model="document.unofficialDocuments"></km-link-list>
				</div>			
			</div>
			<div compare-val ng-if="document.documentsInfo">
				<km-value-ml value="document.documentsInfo" html locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.relatedRecords || document.relationDetails">
			<legend>Связи с другими законами/нормативными положениями</legend>
			<div ng-if="document.relatedRecords">
				<label>Записи, содержащие сведения о соответствующей(-их) мере(-ах)</label>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.relatedRecords">
							<view-record-reference ng-model='item.identifier' locale="locale"></view-record-reference>
						</li>
					</ul>						
				</div>
			</div>
			<div ng-if="document.relationDetails">
				<label>Описание взаимосвязей между мерами</label>
				<div compare-val>
					<km-value-ml value="document.relationDetails" html locales="locale"></km-value-ml>
				</div>
			</div>
		</div>


		<div ng-if="document.authorities">
			<legend>Контактная информация регуляторного органа</legend>
			<label>Компетентный(-ые) национальный(-ые) орган(ы) и/или компетентный(-ые) орган(ы) по Дополнительному протоколу</label>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.authorities" >						
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-if="document.relevantInformation||document.relevantDocuments">
			<legend>Дополнительная информация</legend>

			<div ng-if="document.relevantInformation">
				<div class="km-value" compare-val ng-bind-html="document.relevantInformation | lstring:locale"></div>
			</div>

			<div ng-if="document.relevantDocuments">
				<label>Адреса других соответствующих веб-сайтов/или прилагаемые документы</label>
					<div class="km-value" compare-val>
						<km-link-list  ng-model="document.relevantDocuments"></km-link-list>
					</div>
			</div>
		</div>
		
		<div>
			<view-referenced-records ng-model="document.header.identifier" on-data-fetch="onReferencedRecordsDataFetch(data)"></view-referenced-records>
		</div>
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
