lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
.vimrc
*.DS_STORE

pids
logs
results
npm-debug.log
node_modules
app/libs
app_build
app/views/mockups
.vscode
i18n
TestCases
package-lock.json
yarn.lock
