<div >
    
    <div ng-if="currentCountry.code" style="padding:5px;"
     ng-class="{'bg-party': currentCountry.isParty, 'bg-non-party':!currentCountry.isParty, 
                'bg-inbetween': currentCountry.isInbetweenParty}">
        <div><span ng-if="currentCountry.isParty"
                >生物安全议定书缔约方</span><span ng-if="currentCountry.isInbetweenParty"
                >已批准，但尚未成为缔约方</span><span ng-if="!currentCountry.isParty && !currentCountry.isInbetweenParty"
                >非生物安全议定书缔约方</span></div>

        <div class="row abs-exception-tooltip"
        ng-if="countryMapScope.currentCountry.exceptionCountry=='dk'||countryMapScope.currentCountry.code.toLowerCase()=='dk'||
                countryMapScope.currentCountry.code.toLowerCase()=='fk'||countryMapScope.currentCountry.code.toLowerCase()=='eh'||
                countryMapScope.currentCountry.exceptionCountry=='gb'||countryMapScope.currentCountry.code.toLowerCase()=='gb'">
            <div class="col-lg-12">
                <div class="small" ng-if="(countryMapScope.currentCountry.code.toLowerCase()=='dk')"
                    style="margin-top:5px;white-space: normal;padding:3px;">丹麦对卡塔赫纳议定书的批准并不适用于格陵兰岛及法罗群岛。</div>
                <div ng-if="countryMapScope.currentCountry.exceptionCountry.toLowerCase()=='fk'"class="small " style="margin-top:5px;white-space: normal;padding:3px;">阿根廷政府与大不列颠及北爱尔兰联合王国政府之间在福克兰群岛（马尔维纳斯群岛）的主权上存在争议。</div>
                <div ng-if="countryMapScope.currentCountry.code.toLowerCase()=='eh'" class="small " style="margin-top:25px;white-space: normal;padding:3px;font-size: x-large;">非自治领地。</div>
                <div ng-if="(countryMapScope.currentCountry.code.toLowerCase()=='gb')" class="small" style="margin-top:5px;white-space: normal;padding:3px;">英国对卡塔赫纳议定书的批准并不延伸到<a rel="noopener" ng-href="#"  class=" color-litegrey gb-territories" 
                    data-container="body" data-bs-toggle="tooltip" data-placement="top" title="安圭拉；百慕大；英属南极领土；英属印度洋领地；英属维尔京群岛；开曼群岛；福克兰群岛；蒙特塞拉特；皮特凯恩群岛；圣赫勒拿、阿森松岛和特里斯坦达库尼亚；南乔治亚岛和南桑威奇群岛；阿克罗蒂里和德凯利亚英属基地区；特克斯和凯科斯群岛">14个海外领土</a>或<a rel="noopener" ng-href="#" class=" color-litegrey gb-territories"  data-container="body" 
                        data-bs-toggle="tooltip" data-placement="left" title="泽西岛皇家属地、根西岛皇家属地和马恩岛">3个属地</a></div>
            </div>
        </div>
    </div>
    <table class="table table-map table-condensed" style="display: block;overflow-x: auto;white-space: nowrap;" >
            <tr ng-repeat="schema in countryMapScope.currentCountry.schemas" style="border:none;">
                <td ><span class="badge bg-black"  ng-bind="schema.count"></span></td>
                <td><a rel="noopener" ng-if="currentCountry.code" translation-url href="{{translationUrl}}/countries/{{currentCountry.code}}/{{schema.shortCode}}"  style="color:#fff"><span ng-bind="schema.title | lstring:locale"></span> <span ng-if="schema.isRegional">- <span ng-bind="schema.regionalGovernment|term:locale"></span></span></a> <a rel="noopener" ng-if="!currentCountry.code" translation-url href="{{translationUrl}}/search?schema={{schema.shortCode|mapSchema}}&tab=nationalRecords"  style="color:#fff"><span ng-bind="schema.title | lstring:locale"></span></a></td>
            </tr>
        </table>
</div>
