@import url('https://fonts.googleapis.com/css?family=Lato:400,600,900');

body, .footer-cbd {
    /* background-color: #585971 !important; */
}

body > div:first-child, .page-content {
    /* background-color: white; */
}

#CBD-Branding .footer-cbd{
    background-color: #00483A!important;
}
/* .party-container, */
.protocol-map-header-bg{
    background-color: #00405C!important;
}

#government .color-party,
.color-party{
    color:#9e6621!important;
}
#government .color-non-party,
.color-non-party{
    color:#00405C!important;
}
.label-party,
.bg-party {
    background-color: #9e6621!important;
}
.label-non-party,
.bg-non-party{
    background-color: #00405C!important;
}
.bg-inbetween{

}
.app-bg-texture{
    background-color: #7FC2DA!important;
}