<div id="Search-Filter"  >
    
     <div style="margin-bottom:30px;">
       <div>
            <span class="country-heading">Party Status</span>
            <hr class="heading" />
        </div>  
         
        <a class="filter color-party"  ng-click="saveFilter(doc.id)" >
            <i class="fa check" ng-class="{'fa-check-square':isFilterOn(doc.id),'fa-square':!isFilterOn(doc.id)}"></i>
            Party to the Nagoya Protocol
        </a><br>
        <a class="filter color-inbetween"  ng-click="saveFilter(doc.id)" >
            <i class="fa check" ng-class="{'fa-check-square':isFilterOn(doc.id),'fa-square':!isFilterOn(doc.id)}"></i>
            Ratified not yet Party to the Nagoya Protocol
        </a><br>
         <a class="filter color-grey"  ng-click="saveFilter(doc.id)" >
            <i class="fa check" ng-class="{'fa-check-square':isFilterOn(doc.id),'fa-square':!isFilterOn(doc.id)}"></i>
            Non-Party to the Nagoya Protocol
        </a><br>
        <a class="filter color-pink"  ng-click="saveFilter(doc.id)">
            <i class="fa check" ng-class="{'fa-check-square':isFilterOn(doc.id),'fa-square':!isFilterOn(doc.id)}"></i>
            Signatory to the Nagoya Protocol
        </a>
    </div>
    
     <div style="margin-bottom:30px;" >
        <div>
            <span class="country-heading">CBD Regions</span>
            <hr class="heading" />
        </div>
        <div ng-repeat="doc in  cf_fitlers = (cf_regions | filter:IsCBDRegion | filter:searchKeyword)">
                <a class="filter"  ng-click="saveFilter(doc.id)" >
                    <i class="fa check" ng-class="{'fa-check-square':isFilterOn(doc.id),'fa-square':!isFilterOn(doc.id)}"></i>
                    {{doc.name.substring(22)}}
                </a>
        </div>
    </div>
        
    <div style="margin-bottom:30px;" >   
        <div >
            <span class="country-heading">All Country Groupings</span>
            <hr class="heading" />
        </div>
        <div  >
            <div ng-repeat="doc in cf_fitlers = (cf_regions | filter:searchKeyword | filter:alphabetFilter | orderBy:'name')">
                    <a class="filter"  ng-click="saveFilter(doc.id)" >
                        <i class="fa check" ng-class="{'fa-check-square':isFilterOn(doc.id),'fa-square':!isFilterOn(doc.id)}"></i>
                        {{doc.name}}
                    </a>
            </div>
    </div>
   </div>
</div>
