<div id="Search-Filter"  style="margin-bottom:30px;"  >
    
    <div class="heading" ng-if="sf_filters.length">SCBD Managed Records </div>
    <p class="helpinfo" ng-if="sf_filters.length"><i class="fa fa-info-circle helpicon" ></i> 
       ABS related information from the SCBD</p>
    <hr class="heading"  ng-if="sf_filters.length">
    
    <div ng-repeat="doc in sf_filters = (sf_searchFilters | filter:searchKeyword | orderBy:['filterSort', 'sort'])">
            <a class="filter"  ng-click="saveFilter(doc)">
                <i class="fa check" ng-class="{'fa-check-square':isFilterOn(doc.id),'fa-square':!isFilterOn(doc.id)}"></i> 
                {{doc.name}}
                <!--<span class="badge">100</span>-->
            </a>
            <!--<p class="helpinfo" ><i class="fa fa-info-circle helpicon" ng-if="doc.description"></i> {{doc.description}} </p>-->
    </div>
    
    <div ng-if="(searchKeyword && !showFilters) && sf_filters.length" style="margin-bottom:10px;"></div>  
</div>