<div  id="PreferencesPage" dir="rtl"><span register-top-menu dir="rtl"></span><div class="innerPageContent register-content card card-1-notrans" style="margin:0;padding:20px;">

		<div class="register-content-header bg-darkgrey color-white">
			<div style="padding:10px 10px;">
				<h3>تفضيلات المستخدم</h3>
			</div>
		</div>

		<div class="register-content-content">
			<h1 style="border-bottom:1px solid #ddd;">إخطارات البريد الإلكتروني واستعلامات البحث المحددة مُسبقًا <small>إبلاغك عند نشر السجلات.</small></h1>

			<user-alerts  collection="subscriptions" collection-filter='{{alertFilter}}'
			 run-query="runFilter(filter)"></user-alerts>

		</div>

	</div>
</div>