<div id="userAlerts" dir="rtl">
    <style></style>
    <div class="container-fluid">
        <div ng-if="showSystemAlerts && isABS">
            <div class="row p-0 py-1 bg-light">
                <div class="col-7 col-md-8"></div>
                <div class="col-1 text-center color-darkgray"><div ng-click="subscribe('absPermit')" class="color-white cursor-pointer" ng-if="!hasUserSubscribed('absPermit')"></div>
                    <div ng-click="unsubscribe('absPermit')" class="color-darkgray cursor-pointer" ng-if="hasUserSubscribed('absPermit')"></div>
                </div>
                <div class="col-1 text-center color-darkgray" ng-click="runSystemFilter()"><div class="cursor-pointer"></div>
                </div>
                <div class="col-1 text-center color-white"><div class="cursor-pointer"></div>
                </div>
                <div class="col-1 text-center color-white"><div class="cursor-pointer"></div>
                </div>
            </div>
        </div>

        <div ng-repeat="record in userFilters | orderBy:'-meta.modifiedOn'">
            <div class="row m-0 p-2 bg-light mt-2" ng-hide="record.pendingStatus || del">
                <div class="col-7 col-md-8 p-0"></div>
                <div class="col-1 offset-1 offset-md-0 text-center text-secondary"><div ng-click="emailSubscribe(record, true)" ng-show="!hasUserEmailSubscribed(record)" class="cursor-pointer"></div>
                    <div class="text-secondary" ng-click="emailSubscribe(record, false)" ng-show="hasUserEmailSubscribed(record)" class="cursor-pointer"></div>
                </div>
                <div class="col-1 text-center text-secondary"><div class="cursor-pointer" ng-hide="del" ng-click="runFilter(record._id)" ></div>
                </div>
                <div class="col-1 text-center text-secondary"><div class="cursor-pointer" ng-hide="del" ng-click="addEdit(record)" ng-disabled="!record._id"></div>
                </div>
                <div class="col-1 text-center text-secondary"><div class="cursor-pointer" ng-hide="del" ng-click="del=!!record._id;confirmDelete(record)" ng-disabled="!record._id"></div>
                </div>
            </div>
        </div>
    </div><button type="button" class="btn btn-primary btn-sm float-end" ng-click="addEdit()"></button>
    <div class="clearfix"></div>
    <div ng-if="loading" class="text-center mb-5"></div>
    <div ng-show="!loading && (!userFilters || userFilters.length==0) && !showSystemAlerts">
        <div class="alert  bg-grey mt-3" role="alert"></div>
    </div>
    <script type="text/ng-template" trados-translation="true" id="newFilterDialog">
        <div class="modal-header" dir="rtl">
            <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body" dir="rtl">
                <div class="form-group">
                <label class="fw-bold pb-2" for="filterTitle"></label>
                <input type="text" ng-model="document.queryTitle" class="form-control" placeholder="" />
            </div>
            <div>
                <div class="alert alert-danger" role="alert" ng-if="errors && errors.length > 0">
                    <p ng-repeat="error in errors" ng-bind="error"></p>
                </div>
            </div><label for="filterTitle"></label>
            <div class="bg-white border rounded">
                <search-directive is-alert-search="true" skip-results="true" skip-save-filter="true" skip-date-filter="true" skip-keywords-filter="{{skipKeywordsFilter}}"
                    skip-text-filter="{{skipTextFilter}}">
                </search-directive>
             </div><input type="checkbox"if="sendEmail" type="text" ng-model="document.sendEmail" />
                <label for="sendEmail"></label>
                <div class="alert alert-danger" role="alert" ng-if="errors && errors.length > 0">
                    <p ng-repeat="error in errors" ng-bind="error"></p>
                </div>
        </div>
        <div class="modal-footer d-flex justify-content-between" dir="rtl">
            <button type="button" class="btn btn-default" aria-label="Close" ng-click="closeDialog()" ng-disabled="loading"></button>
            <button type="button" class="btn btn-primary" aria-label="Save" ng-click="save(document)" ng-disabled="loading"></button>
        </div>
    </script>
</div>