

/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/

@font-face {
    font-family: 'alternategotno3dotregular';
    src: url('/app/fonts/alternategotno3dot-webfont.eot');
    src: url('/app/fonts/alternategotno3dot-webfont.eot?#iefix') format('embedded-opentype'),
         url('/app/fonts/alternategotno3dot-webfont.woff') format('woff'),
         url('/app/fonts/alternategotno3dot-webfont.ttf') format('truetype'),
         url('/app/fonts/alternategotno3dot-webfont.svg#alternategotno3dotregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{
  min-height:800px;
  font-family:Tahoma, Trebuchet MS, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-size:14px;
  line-height:26px;
}
h4, h5, h6 {
      font-family:Tahoma, Trebuchet MS, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}
h1, h2, h3 {
     font-family: 'alternategotno3dotregular';
     text-rendering: optimizeLegibility;
}
.disclaimer{
	margin-bottom:0px;background-color:#fa6938;color:white;height:40px;padding:10px 0 10px 0;
}

.promo .title {
float: left;
margin-right: 15px;
padding: 0 8px;
background: rgba(0,0,0,0.2);
font-size: 12px;
letter-spacing: 1px;
line-height: 24px;
text-rendering: optimizeLegibility;
text-transform: uppercase;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
}

.label-disclaimer{
background-color:#c7255b;
margin-right: 15px;
padding: 0 8px;
background: rgba(0,0,0,0.2);
font-size: 12px;
letter-spacing: 1px;
line-height: 24px;
text-rendering: optimizeLegibility;
text-transform: uppercase;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
}

.disclaimer-sm{
	margin-bottom:0px;background-color:#fa6938;color:white;height:28px;padding:3px 0 3px 0;
}

.disclaimer-sm  > .promo > .container > .title{
	float:none;
	display: inline;
	line-height: 12px;
}
.main-nav{
	border-top:1px solid #666;
	border-bottom:1px solid #666;
}

.brand{
	padding-right:10px;
}

.brand > a{
	text-decoration: none;
}
.brand > a > h1{
	font-weight: normal;
	color: #1FA65D;
	font-size: 66px;
	font-family: 'alternategotno3dotregular';
	line-height: 62px;
	margin:10px 0 0 0;
	padding:0;
	white-space: nowrap;
}
.brand > a > h1 >img{
	height: 54px; 
	position: relative; 
	top: -10px;
	padding:0;
	margin:0;
}
.small > .brand {
	border-bottom:1px solid #DDD;
}
.small > .brand >  a > h1 > img{
	height: 32px; 
	position: relative; 
	top: -5px;
	padding:0;
	margin:0;
}
.small > .brand >  a > h1{
	font-size: 38px;
	font-family: 'alternategotno3dotregular';
	line-height: 36px;
	margin:10px 0 0 0;
	padding:0;
	white-space: nowrap;

}
.small > .brand  > a > h1 > span{
	text-transform: uppercase;
	color: #333;
	font-size: 26px;
	font-family: 'alternategotno3dotregular';
	font-weight: normal;
}

.small-xs > .main-link > a {
	font-weight: normal;
	color: #1FA65D;
	font-family: 'alternategotno3dotregular';
	white-space: nowrap;
	font-size:26px;
	padding-top: 0;
}

.small-xs > .main-side-link > a > span{
	font-size:20px;
	padding:20px 3px 0 3px;

}

.brand a > span{
	text-transform: uppercase;
	color: #333;
	font-size: 22px;
	font-family: 'alternategotno3dotregular';
	font-weight: normal;
	line-height: 20px;
	margin:0 0 10px 0;
	padding:0;
	white-space: nowrap;
}
.main-link > div{
	padding-top:20px;
}
.small > .main-link{
	padding-top:10px;
	padding-bottom: 10px;
}
.main-link > a{
	font-size: 26px;
	font-family: 'alternategotno3dotregular';
	color: #666;
	line-height: 24px;
	text-decoration: none;
	padding-top:20px;
}
.main-link {
	font-size: 26px;
	font-family: 'alternategotno3dotregular';
	color: #666;
	line-height: 24px;
	text-decoration: none;
	padding-top:20px;
}
.small > .main-link > a {
	font-size: 24px;
	font-family: 'alternategotno3dotregular';
	color: #666;
	line-height: 18px;
	text-decoration: none;
}

.main-link > a:hover, a:focus {color:black;}

.main-link:hover, .main-link:focus {color:black;}
.small > .main-side-link {
	padding-top: 5px;
	border-left:1px solid #DDD;
}
.small > .main-side-link > a {
	padding-top:5px;
	text-transform: uppercase;;
	font-size: 12px;
}

.main-side-link{
	left:20px;
}
.main-side-link > .account {
	display: inline-block;
	padding: 10px 5px 0px 5px;
	color: #909090;
	font-size: 12px;
	letter-spacing: 1px;
	text-rendering: optimizeLegibility;
	text-transform: uppercase;
	list-style: none;
	margin: 0;
	padding-bottom: 3px;
	white-space: nowrap;
	border-bottom:1px solid #ddd;
	margin-left: 10px;
}
.main-side-link > .account > li{
	display:inline;
	color:#ddd;
}

.main-side-link > .account > li > a{
	color:#287FCB;
	font-size: 120%;
}
.main-side-link > .account > li > a:hover, a:focus{
	color:black;
	text-decoration: none;
}



.main-side-link > .secondary {
	margin:0;
	padding: 5px 0 0 15px;
}
.main-side-link > .secondary > li{
	color: #666;
	font-size: 11px;
	letter-spacing: 1px;
	text-rendering: optimizeLegibility;
	list-style: none;
	font-family: 'alternategotno3dotregular';
	font-size: 16px;
	line-height: 18px;
}
.main-side-link > .secondary > li > a{
	color: #999;
}
.main-side-link > .secondary > li > a:hover, a:focus{
	color: #000;
}

.navbar-abs{
background-color: white;
border-bottom: 2px solid #efefef!important;
padding-bottom: 0px;
margin-bottom: 0px;
}

.abs-navbar-nav{
	text-align: center;
}
.abs-navbar-nav li a{
	font-size: 26px;
	font-family: 'alternategotno3dotregular';
	color: #666;
	line-height: 24px;
	height:130px;
	/*padding: 32px 30px 15px 30px;*/
	margin:0;padding:0;
	padding-top: 32px;
	

	}

.abs-navbar-nav li a:hover, a:focus{
	color:#000;
}


.nav-account  {
display: inline-block;
padding: 8px 5px 5px 5px;
color: #909090;
font-size: 12px;
letter-spacing: 1px;
text-rendering: optimizeLegibility;
text-transform: uppercase;
list-style: none;
margin-bottom: 0px;
padding-bottom: 3px;
}
.nav-account li{
	display:inline;
	padding-left:12px;
}


.nav-secondary {
	border-top:1px solid #666;
	padding: 5px;
	color: #666;
	font-size: 11px;
	letter-spacing: 1px;
	text-rendering: optimizeLegibility;
	list-style: none;
	font-family: 'alternategotno3dotregular';
	font-size: 16px;
	margin-left: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.nav-secondary a{
	color: #666;

}

.category-container {
	background: #1FA65D url('../img/feature-bkg.png');
	/*background: #1FA65D;*/
	padding:0;margin: 0;
	padding-top:5px;
	border-bottom:1px solid #333;
}

.category{
	font-size: 26px;
	font-family: 'alternategotno3dotregular';
	color: white;
	text-shadow: rgba(0,0,0,0.9) 0 1px 0;
	text-rendering: optimizeLegibility;
}

.category-container_filters{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #666;
	margin-bottom:10px;
	padding-top:5px;
	text-shadow: rgba(0,0,0,1) 0 1px 0;
	text-rendering: optimizeLegibility;

}


.dropdown-menu {
	position: absolute;
	top: 37px;
/*	left: 125px!important; */
	z-index: 1000;
	display: none;
	min-width: 160px;
	padding: 3px 0;
	margin: 2px 0 0;
	font-size: 11px;
	list-style: none;
	background-color: #dfdfdf;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}

/* vvv km-select vvv */
.dropdown-inline-submenu
{
	margin-left:0px;
	list-style-type:none;
}

.dropdown-inline-submenu > li > a
{
	display:block;
	padding:3px 20px;
	clear:both;
	font-weight:normal;
	line-height:20px;
	color:#666666;
	white-space:nowrap;
}

.dropdown-inline-submenu > li > a:hover,
.dropdown-inline-submenu > li > a:focus
{
	text-decoration:none;
	color:#ffffff;background-color:#0081c2;
	background-image:-moz-linear-gradient(top, #0088cc, #0077b3);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
	background-image:-webkit-linear-gradient(top, #0088cc, #0077b3);
	background-image:-o-linear-gradient(top, #0088cc, #0077b3);
	background-image:linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);

}

.dropdown-inline-submenu > .disabled > a,
.dropdown-inline-submenu > .disabled > a:hover,
.dropdown-inline-submenu > .disabled > a:focus,
.dropdown-inline-submenu > .disabled > i,
.dropdown-menu > .disabled > i
{
	color: #999999;
}
/* ^^^ km-select ^^^ */

form label.required:after,
form label[required]:after
{
	color: #d9534f;
	content: 'Mandatory';
	/*font-variant: small-caps;*/
	text-transform: uppercase;
	//border: dotted 1px #d9534f;
	font-size: 7pt;
	margin: 3px;
	padding: 2px;
	background-color:#a94442;
	color:#f2dede;
	border-radius: 2px;
	position: relative;
	top:-2px;

}

.footer{
	background: #1FA65D url('../img/feature-bkg.png');
	border-top:#333 solid 3px;
	padding:0;
	margin:0;
  	height: 320px;
    clear: both;
    padding-top: 10px;
    color:#333;
}


@media (max-width: 992px) {

	.footer{
		height: 600px;
	}
}

.footer-links li{
	font-size:12px;
	list-style: none;
	line-height: 12px;
}
.footer-links a, h4 > a {
	color:#efefef;
}
.footer-links a:hover, a:focus, h4>a:hover, h4>a:focus{
	color:#FFF;
}
.footer-links{
	padding:0;
	margin:0;
}
.copyright a, a:hover, a:focus{
	color:#FFF;
}


footer .copyright {
  margin-top: 10px;
  padding-top: 15px;
  border-top: 3px solid #ddd;
}
footer .copyright .logorow {
  margin: 0;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  color: #FFF;
}
footer .logo {
  margin-bottom: 10px;
  display: block;
  width: 132px;
  height: 39px;
}


.navbar-brand-filter{
padding: 10px 10px 10px 10px;
}
.keyword{
	position: relative;
	top:-5px;
	padding-top:10px;
}

.filters li{
	padding:0 10px;

}

.filters li a{
	width:140px;
	text-align: center;
	margin:5px 5px 5px 5px;
	padding:5px;
	border-bottom: 1px solid #dedede;
}
.well-registerpage{
	min-height:800px;
	padding-top:0px;
	padding-left:60px;
	margin-right:10px;
/*	z-index: 5;   */ /* FIX boostrap backdrop*/
	position: relative;
	margin: 0;
	background-color:#ddd;
	border-color: #999;
	margin-bottom:50px;
}

.btn-commonformat-user{
	width:106%;
	text-align: left;
    line-height: 12px;
    white-space: normal;
    margin-bottom: 5px;
    height: 60px;
    z-index: 1;
    position: relative;
}

.btn-commonformat{
	width:106%;
	text-align: left;
    line-height: 12px;
    white-space: normal;
    margin-bottom: 5px;
    
    height: 48px;
    z-index: 1;
    position: relative;
    padding:5px 5px 5px 5px;
    font-size:16px;

	-webkit-border-radius: 0px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius: 0px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

  a.btn-commonformat-selected {
    z-index :10;
    width:120%;
    min-height: 45px;
   /* background-color: #204C70;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px	;
  }
  a.btn-commonformat-selected:hover, a.btn-commonformat-selected:focus {
     /*background-color: #204C70; */
  }


.btn-text{
	font-size:11px;
	padding: 0;
	margin: 0;
	color:#ccc;
}
.btn-abs{
	background-color:#666;
}
.btn-all{
    padding:5px 5px 5px 5px;
	color: white;
}

.btn-draft{
	background-color:#999;
}

.home-col{
	background-color: #F3F3F3;
	border:1px solid #e8e8e8;
	min-height:250px;
	padding:10px;
	margin-top:30px;
}
.home-col > h4{
	padding:0;
	margin:0;
}
.home-col > h3{
	padding:0;
	margin:0;
}
.home-col > .headline1 > a{
	color:black;
	text-decoration: None;
}
.home-col > .headline1{
	border-bottom: 5px solid #999;
}
.home-col > p{
	margin-top:10px;
}

.table-countries >tbody > tr > th {
 	font-size:140%;
 	color: #333;
}


.up-caret {
    border-bottom: 5px solid #000000;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: inline-block;
    height: 0;
    opacity: 0.5;
    vertical-align: top;
    width: 0;
    top: -3px;
    position: relative;
}

.down-caret {
    border-bottom: 5px solid transparent;
    border-top: 5px solid #000000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: inline-block;
    height: 0;
    opacity: 0.5;
    vertical-align: top;
    width: 0;
}
.country-list-name{

	font-size: 110%;
	font-weight: bold;
}
.country-list-name:hover, .country-list-name:focus{
	color:#111;
}

.numberCircle {
	    -webkit-border-radius: 999px;
	    -moz-border-radius: 999px;
	    border-radius: 999px;
	    behavior: url(PIE.htc);

	    width: 48px;
	    height: 48px;
	    padding: 4px;

	    background: #6495ED;
	    color: #fff;
	    display:inline-block;

    	font: 32px "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	}

ul.km-value {
  padding-left: 0;
  list-style: none;
}

address.km-value,
div.km-value,
ul.km-value > li {
background-color: #fff;
border: 1px solid #c0c0c0;
border-radius: 3px;
padding: 5px 8px 5px 8px;
margin-top: 1px;
margin-bottom: 1px;
display: block;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
}

@media (min-width: 768px) {
  .modal-lg {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.record-title-national{
	color: #428BCA; 
	font-weight: bold;
	font-size:180%;
}
.record-title-reference{
	color: #ed9c28; 
	font-weight: bold;
	font-size:180%;
}

.editForm > div >  legend{
	margin-top:30px;
	padding:5px;
	font-weight: bold;
	background-color:#e5e5e5;
	border:0;
/*	border-left:3px solid #333;*/
}
.editForm > div >  hr{
	padding:0 0 10px 0;margin:0;
	border-top: 1px solid #e5e5e5;
}
.help-block{
/*same as alert-info*/
color: #31708f;
background-color: #d9edf7;
border-color: #bce8f1;
padding: 5px;
margin-bottom: 10px;
border: 1px solid transparent;
border-radius: 4px;
}
