/*@font-face {
    font-family: 'alternategotno3dotregular';
    src: url('/app/fonts/alternategotno3dot-webfont.eot');
    src: url('/app/fonts/alternategotno3dot-webfont.eot?#iefix') format('embedded-opentype'),
    url('/app/fonts/alternategotno3dot-webfont.woff') format('woff'),
    url('/app/fonts/alternategotno3dot-webfont.ttf') format('truetype'),
    url('/app/fonts/alternategotno3dot-webfont.svg#alternategotno3dotregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.navlist {margin:0;padding:0; display: inline;}
.navlist li
{
    display: inline;
    list-style-type: none;
    padding: 0 20px 0 0;
    margin:0;
}
.navbar-nav a {margin:0!important;padding:0!important;color:white!important;}
.navbar-nav a:hover {color:#000!important;}
.navbar-brand{margin:0!important;padding:0!important;color:white!important;}
.navbar-nav li
{padding:0 10px;}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
{
    background-color:transparent;
}

.navbar-nav {
  float: none;
  margin: 0;
}

.navbar-toggle{
    border:0;
    color:white;
    padding:0 5px;
    margin:0 0 0 15px;
}

.navbar-cbd{
    min-height:30px;
    margin-bottom:0;
    border:0;
    z-index:100;
    border-bottom: 1px solid rgb(231, 231, 231);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
}

.navbar-portal{
    min-height:40px;
    padding-top:10px;
    margin-bottom:0;
    border:0;
    z-index:90;
    background-color: #EEE!important;
}
.navbar-links{
    min-height:30px;
    background-color:#009b48;
    margin-bottom:0;
    border:0;
    z-index:80;
}

.navbar-breadcrumbs{
    min-height:26px;
    background-color:#FFF;
    z-index:70;
    margin-bottom:0;
}

.container-cbd{
    /*background: rgba(25, 25, 25, .05);*/
    min-height:26px;
    color:white;
    padding-top:5px;
}

.container-cbd a{
    color:white;
    text-shadow: 0 1px 0 rgba(255,255,255,.25);
    color: #bdbdbd;
}

.container-portal{
    /*min-height:30px;*/
    color:white;
    padding-top:5px;
    /*font-family:alternategotno3dotregular!important;*/
}
@media (max-width: 768px) {
    .container-links{
        padding:0;
        margin:0;
    }
    .container-links li{
        padding-right:20px!important;
        padding-left:20px!important;
        margin:0!important;
    }
    .container-links li:first{ padding-left:0px!important;}
    .container-links li:last{ padding-right:0px!important;}
    .container-breadcrumbs{padding-left:15px!important;}
    .navbar-header{padding-left:10px;}
}

.container-portal a{text-decoration:none;}

.container-links{
    /*background: rgba(25, 25, 25, .05);*/
    min-height:40px;
    /*color:white;*/
    padding-top:10px;
}
.container-links a:not(.skipNotificationPanel){
    color:#ddd;
    /*text-transform: uppercase;*/
    font-weight: 500;
    /*text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);*/
    font-size: 16px;
}
.container-links li{
    padding-right:25px;
    padding-left:25px;
    border-right:1px solid #999;
}
.container-links .last{
    border-right:0!important;
}

.container-links a:hover{
    color:#000;
    /*text-transform: uppercase;*/
    /* font-weight: bold; */
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
}


.container-breadcrumbs{
    /*background: rgba(25, 25, 25, .05);*/
    min-height:30px;
    color:white;
    padding-top:7px;
    font-size:12px;
    padding-left:38px;
}
.container-breadcrumbs a{
    color:#999;
    font-weight: bold;
}
.container-full{padding-bottom:20px;}

.dropdown-menu{
 background-color: white;
 padding:3px;
}
.dropdown-menu li{
 margin:0;
 padding:0;
}
.dropdown-menu > li > a:hover{
    color:#428bca!important;
}

.footer-page{
    min-height:30px;
    background-color:#ddd;

}
.footer-portal{
    min-height:30px;
    background-color:#666;
}
.footer-cbd{
    /*min-height:200px;*/
    background-color:#009b48;

}

.footer-page-container{
    /*background: rgba(25, 25, 25, .05);*/
    min-height:30px;
    padding-top:5px;
}
.footer-portal-container{
    /*background: rgba(25, 25, 25, .05);*/
    min-height:30px;
    color:white;
    padding-top:10px;
    border-bottom:1px solid #555;
}
.footer-cbd-container{
    /*background: rgba(25, 25, 25, .05);*/
    /*min-height:200px;*/
    color:white;
    padding:20px;
    text-align:center!important;
}

.footer-links  ul{
 display: inline;

}

.footer-links  li{
    display: inline;
    list-style-type: none;
    padding-left:20px;
}


.disabled, .disabled > *{
    color:#BBB!important;
}


md-toast{
    position:fixed!important;
    z-index: 9999999;
}

md-toast.md-default-theme .md-button.md-highlight {
  color:inherit;
}
