/* colors */
.color-blue{
    color: #428bca;
}
.color-red{
    color:#C7532C!important;
}
.color-non-party{
    color:#888!important;}
  
  
.color-party{
    color:#5F4586!important;}
    
 .bg-party{
    background-color:#5F4586!important;
    color:#fff;
    }
       
 .color-inbetween{
    color:#EC971F!important;} 
  .color-non-party{
    color:#666!important;} 
      
.color-pink{
    color:#FF4081!important;}
.color-orange{
    color:#fa6938!important;
}
.color-blue{
    color:#428bca!important;
}
.color-green{
    color:#009B48!important;
    }
.color-published-green{
    color:#5cb85c!important;
}
.color-grey{
    color:#555!important;;
}
.color-cbdgreen{
    color:#009b48!important;
}
.color-darkgrey{
    color:#333!important;;
}
.color-litegrey{
    color:#999!important;
}
.color-medgrey{
    color:#777!important;;
}
.color-black{
    color:#111!important;;
}
.color-white{
    color:#FFF!important;;
}
.color-yellow{
    color:#FFD801!important;;
}

.bg-white-to-red{
    background-color:#fff;
    -webkit-transition: #C7532C 0.4s ease;
    -moz-transition: #C7532C 0.4s ease;
    -o-transition: #C7532C 0.4s ease;
    transition: #C7532C 0.4s ease;
}

.bg-yellow{
    background-color:#FFD801!important;
    color:#fff;
}

.bg-cbdgreen{
    background-color:#009b48!important;
    color:#fff!important;
}

.highlight{
    background-color:#FCEBBD!important;
    color:#000;
    font-weight:bold;

}
.bg-none{
    background-color:inherit!important;
}
.bg-white{
    background-color:#FFF!important;
    color:#555;
}
.bg-grey{
    background-color:#EEE!important;
    color:#555!important;
}
.bg-grey1{
    background-color:#DDD!important;
    color:#555;
}
.bg-grey2{
    background-color:#ccc!important;
    color:#555;
}
.bg-grey3{
    background-color:#bbb!important;
    color:#FFF;
}
.bg-grey4{
    background-color:#999!important;
    color:#FFF;
}
.bg-medgrey{
    background-color:#666!important;
    color:#FFF!important;
}

.bg-medgrey1{
    background-color:#333!important;
    color:#FFF;
}

.bg-red{
    background-color:#C7532C!important;
    color:white;
}

.bg-blue{
    background-color:#428bca!important;
    color:white!important;
}
.bg-liteblue{
    background-color:#5BC0DE!important;
    color:white!important;
}

.bg-green{
    background-color:#1FA65D!important;
}

.bg-published{
    background-color:#1FA65D!important;
    color:white!important;
}
.bg-draft{
    background-color:#bbb!important;
    color:white!important;
}
.bg-request{
    background-color:#C7532C!important;
    color:white!important;
}
.bg-black{
    background-color:#111!important;
    color:white!important;
}
.bg-litegrey{
    background-color:#EEE!important;
}
.bg-darkgrey1{
    background-color:#333!important;
}
.bg-darkgrey{
    background-color:#666!important;
}
.bg-texture-green{
    background:#1FA65D url('../img/feature-bkg.png')!important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
}
.bg-texture-litegrey{
    background:#EEE url('../img/feature-bkg.png')!important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
}
.bg-lblue{
    background-color:#DDD!important;
}
.bg-lorange{
    background-color:#FFF5EE!important;
}
.bg-orange{
    background-color:#fa6938!important;
    color:white!important;
}

.bg-pink{
    background-color:#FF4081!important;
}
.bg-regionalmsr{ background-color:#f5f5f5!important;}
.bg-nationalmsr{ background-color:#f0f0f0!important;}
.bg-subnationalmsr{ background-color:#E0E0E0!important;}
.bg-communitymsr{ background-color:#d0d0d0!important;}
.bg-othermsr{ background-color:#c0c0c0!important;}