.Communications-label{margin-top: 110px;position: absolute}
.other-decision .list-unstyled li:nth-child(4){
	margin-bottom: 30px;
}
.decision-condition {margin-bottom: 10px; position: absolute; display: none;}
.reasons-condition {margin-bottom: 10px; position: absolute; display: none;}
.extensionPeriod-condition {margin-bottom: 10px; position: absolute; display: none;}
.decision-result.two .decision-condition {margin-top: 85px; display: block;}
.decision-result.two .reasons-condition {margin-top: 125px; display: block;}
.decision-result.three .reasons-condition { margin-top: 105px; display: block;}
.decision-result.four .reasons-condition {margin-top: 130px; display: block;}
.decision-result.five .reasons-condition {margin-top: 200px; display: block;}
.decision-result.five .extensionPeriod-condition {margin-top: 160px; display: block;}
@media (max-width: 767px){
	.Communications-label{margin-top: 165px;}
	.decision-result.two .decision-condition {margin-top: 125px; display: block;}
	.decision-result.two .reasons-condition {margin-top: 170px; display: block;}
	.decision-result.three .reasons-condition { margin-top: 165px; display: block;}
	.decision-result.four .reasons-condition {margin-top: 215px; display: block;}
	.decision-result.five .reasons-condition {margin-top: 320px; display: block;}
	.decision-result.five .extensionPeriod-condition {margin-top: 280px; display: block;}
}
.decision-result.two .list-unstyled li:nth-child(3) {
	margin-bottom: 90px;
}
.decision-result.three .list-unstyled li:nth-child(4){
	margin-bottom: 40px;
}
.decision-result.four .list-unstyled li:nth-child(5){
	margin-bottom: 40px;
}
.decision-result.five .list-unstyled li:nth-child(6){
	margin-bottom: 80px;
}