



.link {
	font-family: 'alternategotno3dotregular';
	text-rendering: optimizeLegibility;
	font-size: 14px;
	/*color: #999;*/
	text-transform: uppercase;
	color:#999;
}

.badge-white{

    background-color:#DDD;
    color:#666;
}

 .filter-text{
    font-weight:normal;

}
.main_filter{
    padding:5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:5px;
}
.check_active{

    background-color:#fff;
    padding:5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight:bold;

}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
    margin-left:0;
}

h3 a{ color:#111;}

    .subfilters-section {
        border-top: 1px solid #ddd;
    }


.divider{
	color:#999;
}

#Filters .btn{
    border: 0;
    font-size: 11px;
    text-transform: uppercase;
    background-color: transparent;
    margin: 0;
    padding: 0;
}
#Filters .btn-info{
    color:#428BCA;
    background-color: transparent;
}


.container-top{
	background-color: #dedede;
	border-bottom: 1px solid #ddd;
}
/*.label-primary{
	font-size:14px;
}*/
.filter > a{
	color: #333;
	font-size: 14px;
}
.filter > a:hover, a:focus{
	color: black;
}
.filters{
	width:100%;
	color:white;
	padding:2px;
}

.title{
    text-rendering: optimizeLegibility;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.filter-selected{
	white-space: nowrap;
	font-size: 14px!important;
	color:#428BCA!important;
	margin: 3px 0;
	padding:3px 0;
	font-weight: bold;
}
.country-options-title{
	color:#333;
}
.filter-title{
	text-decoration: none;
}

.filter-options{
}
.filter-options label{
	/*color:#333;*/
	/*color:white;*/
}

.national-record{
	color:#287fcb;
	font-size: 11px;
	line-height: 11px;
    text-transform: uppercase;
    background-color: transparent;
    padding-top: 2px;
}
.reference-record{
	color:#f0ad4e;
	font-size: 11px;
	line-height: 11px;
    text-transform: uppercase;
    background-color: transparent;
    padding-top: 2px;
}

.national-record .rec-title{
	background-color:#287fcb;
	color:white;
	font-weight:bold;
	padding:3px 3px 3px 3px;
	text-transform: uppercase;
	position: relative;
	top:-1px;
	margin-right:5px;
}
.reference-record .rec-title{
	background-color:#f0ad4e;
	color:white;
	font-weight:bold;
	padding:3px 3px 3px 20px;
	text-transform: uppercase;
	position: relative;
	top:-1px;
	margin-right:5px;
}


.btnExt{
    font-size: 11px;
    text-transform: none;
    background-color: #428bca;
    display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
