.help-feature-box{
    width:160px;
    background-color:#fff;
    height:140px;
    text-align:center;
    vertical-align:center;
    padding:20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
    border:5px solid #ddd;
}


.help-feature-box-1{
    width:80px;
    background-color:#fff;
    height:200px!important;
    text-align:center;
    vertical-align:center;
    padding:5px;
    padding-top:10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
    border:5px solid #ddd;
}



#HelpLinksSmall .helplinks{
    list-style-type: none;
    margin: 0;
    padding-top:0px;
    padding-bottom:0px;
    padding-right:5px!important;

}
#HelpLinksSmall li{
    padding-right:5px!important;
}

#HelpLinksSmall  .help_icon{
    color:#FFF!important;
}


#HelpLinksSmall .helplinks > li {
    display: inline;
    /*width:80px;*/
    /*background-color:#fff;
    text-align:center;
    vertical-align:center;*/
    /*padding:25px 10px 10px 15px;*/
    padding:0;
    margin:0;
    /*-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
    border:5px solid #ddd;*/

}


.help-section-title{
    /*border-bottom:1px solid #DDD;*/
}
.helpList{
    list-style-type:none;
    padding:0 20px 20px 20px;
    color:#555;
}

.helpList li{
    padding-bottom:5px;
}

.helpList > span > li{
    color:#ddd;
}
.helpList li > span {
    color:#C7532C;
}

.pic{
    width:160px;
    height:110px;
    text-align:center;
    vertical-align:middle;
    padding:20px 20px 0 20px;
    border-bottom: 5px solid #1FA65D;
}

.help_content ul{
    list-style-type:none;
}

.help_content h1{
    margin-bottom:30px;
    padding-bottom:5px;
    border-bottom:1px solid #ddd;
}
