.md-whiteframe-z1 {
        background-color: white;
}
.helpText{
        text-align: justify;
}
.flyover .alert {
        left: 50%;
        top: 50%;
        position: fixed;
        z-index: 1050;
}

.flyover .mask {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: black;
        z-index: 1049;
}

code {
        margin: 2em;
        padding: 0.5em;
        display: block;
        background-color: #008fd5;
        color: white;
        opacity: 0.6;
}
td:target,
.highlighted {
        background-color: #fbe54e;
}
