
.numberCircle {
	    -webkit-border-radius: 999px;
	    -moz-border-radius: 999px;
	    border-radius: 999px;
	    behavior: url(PIE.htc);

	    width: 48px;
	    height: 48px;
	    padding: 4px;

	    background: #6495ED;
	    color: #fff;
	    display:inline-block;

    	font: 32px "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	}

.feeds * {
	padding:0;
	margin:0;
}

.feeds > ul > li{

	list-style: none;
}
@font-face {
    font-family: 'alternategotno3dotregular';
    src: url('/app/fonts/alternategotno3dot-webfont.eot');
    src: url('/app/fonts/alternategotno3dot-webfont.eot?#iefix') format('embedded-opentype'),
         url('/app/fonts/alternategotno3dot-webfont.woff') format('woff'),
         url('/app/fonts/alternategotno3dot-webfont.ttf') format('truetype'),
         url('/app/fonts/alternategotno3dot-webfont.svg#alternategotno3dotregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1 {
     font-family: 'alternategotno3dotregular';
     text-rendering: optimizeLegibility;
     font-size: 36px;
}
h2 {
     font-family: 'alternategotno3dotregular';
     text-rendering: optimizeLegibility;
     font-size: 30px;
}
h3 {
     font-family: 'alternategotno3dotregular';
     text-rendering: optimizeLegibility;
     font-size: 24px;
}
.help-feature-box1{
	text-align:center;
	width:160px;
    background-color:#f5f5f5;
    height:120px;
    text-align:center;
    vertical-align:center;
    padding:10px;
	/*border-bottom:5px solid #DDD;*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
    border:5px solid #ddd;

}

.latest{
	padding:5px;
	padding-bottom:10px;
	border-top:1px #ddd solid;
}

.latest:hover{
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	background-color: white;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
}

.latest-even-row{
	/*box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);*/
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	/*border-radius: 4px;*/
}

.latest-country{
		color:#555;
		font-weight:bold;
		text-transform:uppercase;
		font-size:14px;
		 font-family: 'alternategotno3dotregular';
     text-rendering: optimizeLegibility;
}
.latest-title{
		font-weight:bold;
		font-size:18px;
}

.latest-date{
		color:#555;
		font-weight:bold;
		text-transform:uppercase;
		font-size:14px;
		font-family: 'alternategotno3dotregular';
     	text-rendering: optimizeLegibility;
}

.latest-schema{
		color:#999;
		font-weight:bold;
		text-transform:uppercase;
		font-size:14px;
		font-family: 'alternategotno3dotregular';
     	text-rendering: optimizeLegibility;
}


.col-xs-8ths,
.col-sm-8ths,
.col-md-8ths,
.col-lg-8ths {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
	/*margin-right:3px;*/
}

.col-xs-8ths {
    width: 12.5%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-8ths {
    width: 12.5%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-8ths {
    width: 12.5%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-8ths {
    width: 12.5%;
        float: left;
    }
}
