form label.required:after,
form label[required]:after
{
	color: #e32;
	content: ' * ';
}

div.viewForm > h1 {
	font-weight:bold;
	font-size:26px;
}

div.viewForm  legend {
	margin-top: 20px;
	font-size:20px;
}

div.viewForm a {
	color:#428bca
}

div.km-pre
{ 
	word-break: break-all; word-wrap: break-word; white-space: pre-wrap; 
}

address.km-value, 
div.km-value, 
span.km-value,
ul.km-value > li,
ol.km-value > li
{
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

ul.km-value,
ol.km-value
{
	padding-left: 0px;

}

ul.km-value
{
	list-style:none;
}
/* km-select */
.dropdown-inline-submenu
{
	margin-left:0px;
	list-style-type:none;
}

.dropdown-inline-submenu > li > a
{
	display:block;
	padding:3px 20px;
	clear:both;
	font-weight:normal;
	line-height:20px;
	color:#666666;
	white-space:nowrap;
}

.dropdown-inline-submenu > li > a:hover,
.dropdown-inline-submenu > li > a:focus
{
	text-decoration:none;
	color:#ffffff;background-color:#0081c2;
	background-image:-moz-linear-gradient(top, #0088cc, #0077b3);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
	background-image:-webkit-linear-gradient(top, #0088cc, #0077b3);
	background-image:-o-linear-gradient(top, #0088cc, #0077b3);
	background-image:linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);

}

.dropdown-inline-submenu > .disabled > a,
.dropdown-inline-submenu > .disabled > a:hover,
.dropdown-inline-submenu > .disabled > a:focus,
.dropdown-inline-submenu > .disabled > i,
.dropdown-menu > .disabled > i
{
	color: #999999;
}

#scrollUp {
    bottom: 0;
    right: 30px;
    width: 100px;
    height: 60px;
    margin-bottom: -10px;
    padding: 10px 5px;
    font-family: sans-serif;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff751a;
    -webkit-transition: margin-bottom 150ms linear;
    -moz-transition: margin-bottom 150ms linear;
    transition: margin-bottom 150ms linear;
}
#scrollUp:hover {
    margin-bottom: 0px;
}