@import url("/app/libs/angular-material/angular-material.min.css");

md-toast{
    position:fixed!important;
}

md-toast.md-default-theme .md-button.md-highlight {
  color:inherit;
}
.md-button{
font-size: 12px;
}
