@media print {
    a[href]:after {
        content: '' !important;
    }
    .report-record,
    .document-languages,
    .expander,
    .fa-chevron-circle-up {
        display: none;
    }
    body,
    #htmlContent,
    #htmlContentHeader,
    #htmlContentFooter,
    #schemaView {
        background-color: #fff!important;
    }
    address.km-value,
    div.km-value,
    span.km-value,
    ul.km-value>li,
    ol.km-value>li {
        background-color: #f5f5f5!important;
        border: 1px solid #ccc!important;
        border: 1px solid rgba(0, 0, 0, 0.15)!important;
    }
    #htmlContentFooter {
        margin-top: 20px;
    }
    .panel-heading.bg-blue > .color-white, .panel-heading.bg-blue > h4, #Record h4 {
        color: #111!important;
    }
}

scbd-header, nav, .navbar.navbar-portal, #PortalLinks1, .footer, scbd-footer, .slaask-button, .hidden-print, .pdf-download-buttons,
.slaask-alert-overlay, .slaask-alert, .hidden-print, .lang-alert, .expander, .fa-chevron-circle-up, .fa-chevron-circle-down,
bch-footer,.bch-header, #reference-records-table, .animated-container,
.compare-buttons, .compare-message  {
    display: none!important
}
.training-bg {
    background: none
}
html, body, .container-full {
    background: #fff;
}