




.record-link-style{
  font-size:11px!important;
    font-weight: 500;
    text-transform: uppercase;
}



#Record .list{
	margin:0;padding:0;
	/* padding-left:15px; BF*/ 
	list-style-type: none;
}

#Record .km-value{
	color:#333;
}

#Record .record-body{
	background-color: #fff;
	padding:10px 20px 10px 20px;
}


#Record .record-title-national{
	color: #428BCA;
	font-weight: bold;
}

#Record .record-title-reference{
	color: #ed9c28;
	font-weight: bold;
}

#Record .record div {
	padding-top:5px;
}

#Record .record-title {
	border-bottom: 2px solid #fff;
	padding-top:3px;
}

#Record .record ul{padding: 0;margin: 0;}
#Record .record ul > li {
	/*padding: 9.5px;*/
	margin: 0;
	/*margin-bottom: 10px;*/
	line-height: 20px;
	margin-left: 15px;
}

#Record .record h5{ font-weight: bold;}

#Record .record-metadata{
	/*background-color:#ed9c28;*/
	/*background-color:#ccc;*/
/*	color:#fff;
	padding:30px;*/
}

#Record .record-metadata div{
	padding:0;
	margin:0;
}

#Record .record-metadata-label{
	color:#959595;
	padding-left:10px;
	font-weight: bold;
	display: inline;

}
#Record .record-metadata-text{
    font-weight:bold;
}
#Record a .record-metadata-text{
    font-weight:bold;
}

#Record .record-body legend{
	font-size: 14px;
	font-weight: bold;
	padding-top: 10px;
	margin-top: 10px;
	/*color:#666;*/
	margin-bottom: 5px;
}
	#Record .confidential{
		color:#a94442!important;
		background-color: #F2DEDE!important;
	}

	/* #Record ul {
		
		margin: 0;
	} */
	
    .cpc{
        background-color:red;
    }
    .tioBorder{
        border-top:1px solid #ccc;
    }
    .historyLink{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    #history th {
        font-size: 11px;
        border:0!important;
        color:#959595;
        border-bottom:0!important;
        padding:0!important;
    }
    #history td {
        font-size: 12px;
        vertical-align: top;
        border-bottom:0!important;
        padding:0!important;
    }

	/* #Record .record-body div {
		margin-bottom:15px;
	} */
	
.help-info{
	font-size:12px!important;
	color:#999;
}
