




.record-link-style{
  font-size:11px!important;
    font-weight: 500;
    text-transform: uppercase;
}



#Record .list{
	margin:0;padding:0;
	/* padding-left:15px; BF*/ 
	list-style-type: none;
}

#Record .km-value{
	color:#333;
}

#Record .record-body{
	background-color: #fff;
	padding:10px 20px 10px 20px;
}


#Record .record-title-national{
	color: #428BCA;
	font-weight: bold;
}

#Record .record-title-reference{
	color: #ed9c28;
	font-weight: bold;
}

#Record .record div {
	padding-top:5px;
}

#Record .record-title {
	border-bottom: 2px solid #fff;
	padding-top:3px;
}

#Record .record ul{padding: 0;margin: 0;}
#Record .record ul > li {
	/*padding: 9.5px;*/
	margin: 0;
	/*margin-bottom: 10px;*/
	line-height: 20px;
	margin-left: 15px;
}

#Record .record h5{ font-weight: bold;}

#Record .record-metadata{
	/*background-color:#ed9c28;*/
	background-color:#ccc;
/*	color:#fff;
	padding:30px;*/
}

#Record .record-metadata div{
	padding:0;
	margin:0;
}

#Record .record-metadata-label{
	color:#959595;
	padding-left:10px;
	font-weight: bold;
	display: inline;

}
#Record .record-metadata-text{
    font-weight:bold;
}
#Record a .record-metadata-text{
    font-weight:bold;
}

#Record .record-body legend{
	font-size: 14px;
	font-weight: bold;
	padding-top: 10px;
	margin-top: 10px;
	/*color:#666;*/
	margin-bottom: 5px;
}
	#Record .confidential{
		color:#a94442!important;
		background-color: #F2DEDE!important;
	}

	/* #Record ul {
		
		margin: 0;
	} */
	
    .cpc{
        background-color:red;
    }
    .tioBorder{
        border-top:1px solid #ccc;
    }
    .historyLink{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    #history th {
        font-size: 11px;
        border:0!important;
        color:#959595;
        border-bottom:0!important;
        padding:0!important;
    }
    #history td {
        font-size: 12px;
        vertical-align: top;
        border-bottom:0!important;
        padding:0!important;
    }

	/* #Record .record-body div {
		margin-bottom:15px;
	} */
	
.help-info{
	font-size:12px!important;
	color:#999;
}

.modal-container {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #4d4343a6;
    position: fixed;
    z-index: 100;
}

.modal__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid lightslategray;
}

.modal__container{
    padding: 10px 20px;
    min-height: 200px;
}

.modal__container th{
    min-width: 80px;
}

.modal__footer{
    padding: 10px 10px;
    border-top: 1px solid lightslategray
}

.closeBtn{
    background-color: white;
    border: none;
    outline: none;
}

.modal-window {
    position: fixed;
    top: 50%;
    left: 50%;
    background: white;
    color: #000000;
    min-width: 1092px;
    border-radius: 5px;
    translate: -50% -50%;
    scale: 1;
	z-index: 110;
}

.table-container{
    max-height: 60vh;
    overflow: scroll;
    /* max-width: 1076px; */
}

.modal__header p{
    font-weight: lighter;
    color: lightslategray;
    margin: 0;
}

.table-container td{
    min-width: 90px;
}

.short-text{
    max-width: 315px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap !important;
}

.error__container ul{
    max-height: 5vh;
    overflow-y: scroll;
    width: 90%;
}

.bg-lightgreen{
    background-color: lightgreen;
}

.bg-lightpink{
    background-color: lightpink;
}