.container-full{
	background-color:#eee;
	padding-bottom:30px;
}

.greyout{
	background-color:#eee;
	color:#ddd;
}
.greyout > a{
	background-color:#eee;
	color:#ddd;
}

/*last-child is the record count, which we don't sort by, so remove all effects*/
.columnHeaders > div:last-child {
  cursor: default;
}
.columnHeaders > div:last-child:hover::after  {
  content: "";
}
.columnHeaders > div {
  cursor: pointer;
}

.columnHeaders > div:last-child:hover {
  background-color: #DEDEDE;
}

.columnHeaders > div:hover {
  /*background-color: #ECEDFD;*/
}
.columnHeaders > div:hover::after {
  content: " < order by";
  color: #fff;
}

.activityfeed-time{

	/*font-weight:bold;*/
	background-color:#999;
	padding:2px;
	color:white;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	margin-right:3px;
}

section {
	padding: 5px 10px 20px 10px;
	/* background-color: #ccc; */
	margin-top: 20px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-info,  .panel-title{
 font-size: 11px;
}

.confidential-box
{
	padding:10px;
	border-radius: 4px;
	border: 1px solid #C2BEBE;

}
.confidential-text  {
	font-weight:bold;
	color:#d8534f;
}
 .disable {
    background-color:#ccc!important;
    color:#666!important;
}




/*.disable  button {
	background-color:#ccc!important;
	border-color:#666;
}
.disable  hr {
	background-color:#ccc!important;
	border-color:#666;
}
.disable  input{
	background-color:#ccc!important;
	border-color:#666;
}
.disable textarea{
	background-color:#ccc!important;
	border-color:#666;
}
.disable span{
	background-color:#ccc!important;
	border-color:#666;
}
.disable div{
	background-color:#ccc!important;
	border-color:#666;
}*/

.disable *{
	color:#999!important;
	border-color:#999!important;
	background-color:#ccc!important;
}


.enable {
    background-color:#F5F5F5;
}



legend + .help-inline-content{position:relative; top:-19px;}
legend + .help-block{position:relative; top:-15px;}


.legend2{font-size:14px;padding:3px;font-weight:500;margin-bottom:20px; border-bottom: 1px solid #e5e5e5;}



.form-group{
	padding:0;
	margin: 0 0 20px 0;
}
.input-rich-text{
	 border: 1px solid #CCC;border-radius: 4px;

 }
.ta-editor{border:0;}


.panel-body-confidential{
	padding-bottom:5px;
}



.table-striped{
	background-color:#efefef;
}

.btn-commonformat-name{
	color:#666;
	margin-top:0px;
	padding-top:0px;
	/*//border-top:1px solid #fefefe;*/

}

.btn-commonformat-header-national {
	/*color:#418BCA;*/
	border-bottom: 1px solid #418BCA;
}
.btn-commonformat-header-reference {
	/*color:#ed9c28;*/
	border-bottom: 1px solid #ed9c28;
}

.btn-commonformat-national {
	font-weight: bold;
	color:#418BCA;
}
.btn-commonformat-reference {
	font-weight: bold;
	color:#ed9c28;
}

.btn-commonformat {

	border: 0;
	/*border-left:#418BCA solid 5px;*/
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
	color:#111;
	text-decoration: none;
	padding-left:10px;
	padding-right:10px;
	background-color: #ddd!important;
	padding:5px;
	margin-bottom:20px;
}

.btn-commonformat:hover {
	/*border: 0;
	border-left:#418BCA solid 5px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
	color:#111;
	text-decoration: none;
	padding-left:10px;
	padding-right:10px;*/
	background-color: #f5f5f5!important;
	/*padding:5px;*/
}



 .btn-commonformat-selected {
	border: 0;
	border-left:#418BCA solid 5px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
	color:#111;
	text-decoration: none;
	padding-left:10px;
	padding-right:10px;
	background-color: #f5f5f5!important;
	padding:5px;

  }

 .btn-commonformat-reference-selected {
   border-left:#FA6938 solid 5px;
  }

  .btn-commonformat-selected:hover, a.btn-commonformat-selected:focus {

  }


.btn-text{
	font-size:11px;
	padding: 0;
	margin: 0;
	color:#ccc;
}
.btn-abs{
	background-color:#666;
}
.btn-all{
    padding:5px 5px 5px 5px;
	color: white;
}

.btn-draft{
	/*background-color:#999;*/
	color: #fff!important;
    background-color: #666;
    border-color: #888;
}



.registerpage-header{
	/*background-color:#333;*/
	/*padding:3px 20px;*/
	/*border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	/*padding-bottom:15px;*/*/
}
.registerpage-header .abbreviation{
	color: #428BCA;
	font-weight: bold;
	font-size: 18px;
}
.title{
	font-weight: normal;
	font-size: 18px;
	/*text-transform:uppercase;*/
	color:white;
}

.nat-header{
	padding:1px 10px 10px 20px;
	margin:-19px;
	position:static;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	margin-bottom:20px;
}


.registerpage-content{
	min-height: 400px;
	/*padding: 20px;
	background-color:#dedede;
	margin:0 0 50px 0;*/
}

.registerpage-content h4{
	font-size: 14px;
	font-weight: bold;
}

.registerpage-content h2{
	padding:0;
	margin: 0;
}

.help1 {
	color:#eee;
	font-weight: normal;
	font-size: 14px;
}
.help_icon{
	padding:5px;
}

hr{
	margin:10px 0 0 0;
	padding:0;
}
table, td , tr{
	padding: 0;
	margin: 0;
	vertical-align: top;
}
.km-term-radio-description{
	color:#666;
	font-weight: normal;
	font-size: 13px;
	display:block;
	padding-left:16px;
}

/*
ul.km-value {
  padding-left: 0;
  list-style: none;
}

address.km-value,
div.km-value,
ul.km-value > li {
border: 1px solid #c0c0c0;
border-radius: 3px;
padding: 5px 8px 5px 8px;
margin-top: 1px;
margin-bottom: 1px;
display: block;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
}*/

@media (min-width: 768px) {
  .modal-lg {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;  }
}
/* ^^^ km-select ^^^ */

/*form label.required:before,
form label[required]:before
{

	content: '*';


}*/



.up-caret {
    border-bottom: 5px solid #000000;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: inline-block;
    height: 0;
    opacity: 0.5;
    vertical-align: top;
    width: 0;
    top: -3px;
    position: relative;
}

.down-caret {
    border-bottom: 5px solid transparent;
    border-top: 5px solid #000000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: inline-block;
    height: 0;
    opacity: 0.5;
    vertical-align: top;
    width: 0;
}

.flip {
  -webkit-perspective: 800;
  -ms-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;
   max-width: 30px;
   min-width: 20px;
   height: 10px;
   position: relative;

}
.card.flipped {
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}


.card .front {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  margin-left:5px;
}
.cardMargin{
	margin-left:5px;
}
/*progressbar*/
    #progressbar {
    	/*margin-bottom: 30px;*/
    	overflow: hidden;
    	/*CSS counters to number the steps*/
    	counter-reset: step;

    }
    #progressbar li {
    	list-style-type: none;
    	color: white;
    	text-transform: uppercase;
    	font-size: 9px;
    	width: 18.33%;
    	float: left;
    	position: relative;
        text-align: center;
        z-index:1;
        padding-right: 20px;
		padding-bottom:5px;

        /*a {
             text-decoration: none;
             display: block;
             width: 100%;
             height: 100%;
        }*/
    }
    /*#progressbar li:hover {
        cursor:pointer;
    }*/
    #progressbar li:before {
    	content: counter(step);
    	counter-increment: step;
    	width: 20px;
    	line-height: 20px;
    	display: block;
    	font-size: 10px;
    	color: #333;
    	background: #ddd;
    	border-radius: 3px;
    	margin: 0 auto 5px auto;
        z-index:-1;
    }
    /*progressbar connectors*/
    #progressbar li:after {
    	content: '';
    	width: 100%;
    	height: 3px;
    	background: #ddd;
    	position: absolute;
    	left: -50%;
    	top: 9px;
    	z-index: -1; /*put it behind the numbers*/
    }
    #progressbar li:first-child:after {
    	/*connector not needed before the first step*/
    	content: none;
    }
    /*marking active/completed steps green*/
    /*The number of the step and the connector before it = green*/
    #progressbar li.active:before,  #progressbar li.active:after{
    	background: #27AE60;
    	color: white;
    }
    #progressbar li a,#progressbar li span{
        color: white;
        font-size: small;
    }
    .rowbg{
        padding-top:20px;
        /*background-color: #FFF;*/
        /*padding-bottom: 10px;*/
		position:relative;
		top:-15px;
		/*border-bottom:1px solid #ccc;*/

		margin:0;

    }
    .colbg{
        padding-bottom: 2px;
        max-height: 100px;
    }

	.prg3 > span {
		/*background-color:yellow;*/
		color:#555!important;
	}


.latest-country{
		color:#555;
		font-weight:bold;
		text-transform:uppercase;
		font-size:14px;

}
.latest-title{
		font-weight:bold;
		font-size:14px;
		color:#428bca;
}

.latest-date{
		color:#555;
		font-weight:bold;
		text-transform:uppercase;
		font-size:14px;
}
.tab{
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  padding: 12px 24px;
  transition: background-color 0.35s cubic-bezier(0.35, 0, 0.25, 1);
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  text-transform: uppercase;
  float: left;
  font-weight: 500;
}

.tab a:focus{
	color:rgb(63,81,181);
}

.tab-selected{
border-bottom:5px solid pink;
}

label{
	font-weight:500;
}


.modal-open .form-control{
	opacity: 0.9;
}


#documentStatus .btn-group.open{
	width: 100%;
}

.ngdialog-content{
	width:70% !important;
}
/*.ngdialog.ngdialog-theme-default{
	padding-top: 10px;
}*/

  .ngdialog.ngdialog-theme-default .ngdialog-content{padding:0;}

  .modal-body{background-color:#FFF;}

  .btn-thin .btn{
	  padding:0 3px 0 3px!important;
	  margin:0!important;
	  font-size:12px;font-weight: 500;
  }
  #MyLocale .locale-menu {
	  left:200px;
	  top:20px;
  } 
    #MyLocale .locale {
	  display:inline;
  } 
    #MyLocale .badge {
	  font-size:12px;
	  border-radius: .25em;
  } 


  .editForm .synonym-name-input  > .input-group,
  .editForm .common-name-input 	 > .input-group,
  .editForm .areas-of-work-input > .input-group {
	width: 100%;
}