
section {
	padding: 5px 10px 20px 10px;
	background-color: #ccc;
	margin-top: 20px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-info,  .panel-title{
 font-size: 11px;
}

.confidential-box
{
	border: 2px solid #aaa;
	padding:10px;

}
.confidential-text {
	font-weight:bold;
	color:#d8534f;
	text-transform: uppercase;
	font-size: 80%;
	padding-bottom:10px;
}
 .disable {
    background-color:#888;
    color:#666;
}
.enable {
    background-color:#ededed;
}
                
legend{

	padding:10px 0 10px 0;
	margin: 0;
}

.header{
	
	border-bottom: 5px #333 solid;
	margin-bottom: 10px;
}

.table-striped{
	background-color:#efefef;
}

.btn-commonformat-name{
	color:#666;

}

.btn-commonformat-national {
	font-weight: bold;
	color:#418BCA;
}
.btn-commonformat-reference {
	font-weight: bold;
	color:#ed9c28;
}

.btn-commonformat {

	text-align: left;
    line-height: 14px;
    white-space: normal;
    padding:3px;
    margin-bottom: 20px;
    font-size:14px;
    text-decoration: none;
}

 .btn-commonformat-selected {
   border-left:#FA6938 solid 3px;
   color:#111;
   text-decoration: none;
   padding-left:10px;
   background-color: #dedede;
  }
  .btn-commonformat-selected:hover, a.btn-commonformat-selected:focus {
     
  }


.btn-text{
	font-size:11px;
	padding: 0;
	margin: 0;
	color:#ccc;
}
.btn-abs{
	background-color:#666;
}
.btn-all{
    padding:5px 5px 5px 5px;
	color: white;
}

.btn-draft{
	background-color:#999;
}

.registerpage-header{
	background-color:#333;
	padding:3px 20px; 
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.registerpage-header .abbreviation{
	color: #428BCA; 
	font-weight: bold;
}
.registerpage-header .title{
	color: #fefefe; 
	font-weight: normal;
	font-family:Tahoma, Trebuchet MS, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
}

.registerpage-content{
	min-height: 700px;
	padding: 20px;
	background-color:#dedede;
	margin:0 0 50px 0;
}

.registerpage-content h4{
	font-size: 14px;
	font-weight: bold;
}

.registerpage-content h2{
	padding:0;
	margin: 0;
}

.help1{
	color:#eee;
	font-weight: normal;
	font-size: 11px;
}
.help_icon{
	padding:5px;
}
.help-block{
	font-size:11px;
	color:#666;
	padding: 0;
	margin: 0;
}
.form-group{
	margin:0;
	padding: 0;
	margin-top: 20px;
}
hr{
	margin:10px 0 0 0;
	padding:0;
}
table, td , tr{
	padding: 0;
	margin: 0;
	vertical-align: top;
}
.km-term-radio-description{
	color:#666;
	font-weight: normal;
	font-size: 13px;
	display:block;
	padding-left:16px;
}
/*.help-block{
/*same as alert-info*/
color: #31708f;
background-color: #d9edf7;
border-color: #bce8f1;
padding: 5px;
margin-bottom: 10px;
border: 1px solid transparent;
border-radius: 4px;
}*/

ul.km-value {
  padding-left: 0;
  list-style: none;
}

address.km-value,
div.km-value,
ul.km-value > li {
background-color: #fff;
border: 1px solid #c0c0c0;
border-radius: 3px;
padding: 5px 8px 5px 8px;
margin-top: 1px;
margin-bottom: 1px;
display: block;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
}

@media (min-width: 768px) {
  .modal-lg {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;  }
}
/* ^^^ km-select ^^^ */

/*form label.required:before,
form label[required]:before
{

	content: '*';
	

}*/

