#Search-Filter .label-selected-facet {
    position: relative;
    display: block;
    background-color: #12496B;
    margin: 0.25rem 0;
    padding-right: 1.25rem;
    text-align: left;
    padding-top: 0.375rem;
    border-radius: .2rem;
}

#Search-Filter .label-selected-facet .cross-icon{
    margin: 3px -4px;
}

#Search-Filter .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#Search-Filter .truncate span{
    vertical-align: middle;
}
#Search-Filter .no-left-right-bottom-border{
    border-left: none;
    border-right: none;
    border-bottom: none;
}
#Search-Filter .search-filter-settings > li{
    margin: 0.25rem;
}
#Search-Filter .search-filter-settings li > a{
    padding-left: 0.25rem;
}
.strikeout{
    text-decoration: line-through;
}
#Search-Filter .bring-to-front{
    z-index: 1000000;
}
#Search-Filter .bring-to-front1{
    z-index: 10000001;
}
.ngdialog-open #Search-Filter .bring-to-front, .ngdialog-open #Search-Filter .bring-to-front1{
    z-index: 10;
}
#Search-Filter .exclude-filter{
    border: .1rem solid #d95350;;
    padding: 0.25rem;
}
#search-new  .exclude-filter{
    border: .1rem solid #d95350!important;
}
.ngdialog.ngdialog-theme-default .ngdialog-content .modal-body{
    background:#fff;
}
.ngdialog.ngdialog-theme-default .ngdialog-content{
    width:85%!important
}
#Search-Filter .filter-item{
    border-right: unset;
    border-left: unset;
    padding-left: 0.25rem;
    padding-right: 1rem;
}
#Search-Filter .filter-item:hover{
    background:#ddd;
}

@media (max-width: 480px) {
    .pagination-items-per-page, .pagination-page-count, .pagination-btn-first,
    .pagination-record-count, .pagination-btn-last{
        display: none!important;
    }
}


#search-new .pagination {
    margin-top: 0;
}

#search-new .filter-chip{

   margin-right: 0.25rem;
   border-radius: 0.25rem;
}

#search-new .filter-chip-text{
    font-size: 0.8rem;
    cursor: pointer;
}
#search-new .filter-chip-text:hover{
    text-decoration: underline;
}
#search-new .filter-chip-text .edit{
   display: -webkit-inline-box;
   display: -webkit-inline-flex;
   display: -moz-inline-box;
   display: -ms-inline-flexbox;	                
   display: inline-flex;
   margin-right:.1rem;   
   height: 1.8rem;         
}
#search-new .filter-chip-text .edit input{
   height: 1.7rem;
   border: none;
   margin-top: .1rem;
   margin-bottom: 0.25rem;
}        
#search-new .filter-chips-edit-addon i{
   margin-left: -.5rem;
} 


#search-new .filter-chip-settings{
   margin-top: 1.25rem;
}

#search-new .filter-chip-settings li>a{
   padding-left: 0.3rem;
}


#search-new .dropdown-menu::before {
   border-bottom: 0.5rem solid rgba(0, 0, 0, 0.2);
   border-left: 0.5rem solid rgba(0, 0, 0, 0);
   border-right: 0.5rem solid rgba(0, 0, 0, 0);
   content: "";
   display: inline-block;
   left: 5%; /* position */
   position: absolute;
   top: -0.5rem;
}

#search-new .dropdown-menu::after {
   border-bottom: 0.5rem solid #FFFFFF;
   border-left: 0.5rem solid rgba(0, 0, 0, 0);
   border-right: 0.5rem solid rgba(0, 0, 0, 0);
   content: "";
   display: inline-block;
   left: 5%; /* position */
   position: absolute;
   top: -.4rem;
}

.daterangepicker.show-ranges.show-calendar.opensright{
    z-index: 100000000;
}
#searchResult .btn-close-record{
    padding-top: 15px;
}