#Search-Filter .label-selected-facet {
    position: relative;
    display: block;
    background-color: #12496B;
    margin: 4px 0;
    padding-right: 20px;
    text-align: left;
    height: 20px;
    padding-top: 6px;
    border-radius: 3px;
}
#Search-Filter .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#Search-Filter .truncate span{
    vertical-align: middle;
}
#Search-Filter .no-left-right-bottom-border{
    border-left: none;
    border-right: none;
    border-bottom: none;
}
#Search-Filter .search-filter-settings > li{
    margin: 5px;
}
#Search-Filter .search-filter-settings li > a{
    padding-left: 3px;
}
.strikeout{
    text-decoration: line-through;
}
#Search-Filter .bring-to-front{
    z-index: 1000000;
}
#Search-Filter .bring-to-front1{
    z-index: 10000001;
}
.ngdialog-open #Search-Filter .bring-to-front, .ngdialog-open #Search-Filter .bring-to-front1{
    z-index: 10;
}
#Search-Filter .exclude-filter{
    border: 1px solid #d95350;;
    padding: 5px;
}
#search-new  .exclude-filter{
    border: 1px solid #d95350!important;
}
.ngdialog.ngdialog-theme-default .ngdialog-content .modal-body{
    background:#fff;
}
.ngdialog.ngdialog-theme-default .ngdialog-content{
    width:85%!important
}
#Search-Filter .filter-item{
    border-right: unset;
    border-left: unset;
    padding-left: 5px;
    padding-right: 13px;
}
#Search-Filter .filter-item:hover{
    background:#ddd;
}

@media (max-width: 480px) {
    .pagination-items-per-page, .pagination-page-count, .pagination-btn-first,
    .pagination-record-count, .pagination-btn-last{
        display: none!important;
    }
}


#search-new .pagination {
    margin-top: 0px;
}

#search-new .filter-chip{

   margin-right: 5px;
   border-radius: 3px;
}
#search-new .filter-chip-text{
   margin:3px;
}
#search-new .filter-chip-text:hover{
    text-decoration: underline;
    cursor: pointer;
}
#search-new .filter-chip-text .edit{
   display: -webkit-inline-box;
   display: -webkit-inline-flex;
   display: -moz-inline-box;
   display: -ms-inline-flexbox;	                
   display: inline-flex;
   margin-right:1px;   
   height: 30px;         
}
#search-new .filter-chip-text .edit input{
   height: 27px;
   border: none;
   margin-top: 1px;
   margin-bottom: 5px;
}        
#search-new .filter-chips-edit-addon i{
   margin-left: -8px;
} 

#search-new .filter-chips-remove, #search-new .filter-chips-edit-addon{
   
}

#search-new .filter-chip-settings{
   margin-top: 18px;;
}

#search-new .filter-chip-settings li>a{
   padding-left: 5px;
}


#search-new .dropdown-menu::before {
   border-bottom: 9px solid rgba(0, 0, 0, 0.2);
   border-left: 9px solid rgba(0, 0, 0, 0);
   border-right: 9px solid rgba(0, 0, 0, 0);
   content: "";
   display: inline-block;
   left: 5%; /* position */
   position: absolute;
   top: -8px;
}

#search-new .dropdown-menu::after {
   border-bottom: 8px solid #FFFFFF;
   border-left: 9px solid rgba(0, 0, 0, 0);
   border-right: 9px solid rgba(0, 0, 0, 0);
   content: "";
   display: inline-block;
   left: 5%; /* position */
   position: absolute;
   top: -7px;
}

.daterangepicker.show-ranges.show-calendar.opensright{
    z-index: 100000000;
}
