*:focus {
    outline: none!important;
}

a:hover {
    color: #000;
}

a:active {
    color: #000;
}

.page-content a:hover {
    color: #000;
}

.page-content a:active {
    color: #000;
}

[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none !important;
}

.training-bg {
    background: url('/app/img/stripes.gif');
    /*background-color: #a94442!important;*/
}

.dropdown-menu> li> a:hover {
    color: #666!important;
}


/*#dropdownNotification a:focus {
background-color: white;
}*/

.fa-bell {
    font-size: 1.5rem;
}

.notifications {
    min-width: 420px;
}

.notifications-wrapper {
    overflow: auto;
    max-height: 250px;
}

.menu-title {
    color: #ff7788;
    font-size: 1.5rem;
    display: inline-block;
}

.glyphicon-circle-arrow-right {
    margin-left: 10px;
}

.dropdown-menu.divider {
    margin: 5px 0;
}

.item-title {
    font-size: 1.3rem;
    color: #000;
}

.panel {
    color: #333;
}

.nav .open> a,
.nav .open> a:hover,
.nav .open> a:focus,
.nav .dropdown> a:hover {
    background-color: #EEE;
}

.bg-darkgrey .nav .open> a,
.bg-darkgrey .nav .open> a:hover,
.bg-darkgrey .nav .open> a:focus,
.bg-darkgrey .nav .dropdown> a:hover {
    background-color: #666!important;
}

.bg-blue .nav .open> a,
.bg-blue .nav .open> a:hover,
.bg-blue .nav .open> a:focus,
.bg-blue .nav .dropdown> a:hover {
    background-color: #428bca!important;
}

.badge-notify {
    background: red;
    position: relative;
    top: -5px;
    left: -10px;
}


/* columns of same height styles */

.row-same-height {
    display: table;
    width: 100%;
}

.col-xs-height {
    display: table-cell;
    float: none !important;
}

@media (min-width: 768px) {
    .col-sm-height {
        display: table-cell;
        float: none !important;
    }
}

@media (min-width: 992px) {
    .col-md-height {
        display: table-cell;
        float: none !important;
    }
}

@media (min-width: 1200px) {
    .col-lg-height {
        display: table-cell;
        float: none !important;
    }
}


/* firefox fix */

.img-responsive {
    width: 100%;
}


/* vertical alignment styles */

.col-top {
    vertical-align: top;
}

.col-middle {
    vertical-align: middle;
}

.col-bottom {
    vertical-align: bottom;
}


/* colors */

.color-red {
    color: #C7532C!important;
}

.color-orange {
    color: #fa6938!important;
}

.color-blue {
    color: #428bca!important;
}

.color-green {
    color: #1FA65D!important;
}

.color-published-green {
    color: #5cb85c!important;
}

.color-grey {
    color: #555;
}

.color-darkgrey {
    color: #333;
}

.color-black {
    color: #111;
}

.color-white {
    color: #FFF;
}

.color-yellow {
    color: #FFD801;
}

.bg-white-to-red {
    background-color: #fff;
    -webkit-transition: #C7532C 0.4s ease;
    -moz-transition: #C7532C 0.4s ease;
    -o-transition: #C7532C 0.4s ease;
    transition: #C7532C 0.4s ease;
}

.bg-yellow {
    background-color: #FFD801!important;
    color: #fff;
}

.record-highlight {
    background-color: #FCEBBD!important;
    color: #000;
    font-weight: bold;
}

.bg-none {
    background-color: inherit!important;
}

.bg-orange {
    background-color: #fa6938!important;
    color: white!important;
}

.bg-white {
    background-color: #FFF!important;
    color: #555;
}

.bg-grey {
    background-color: #EEE!important;
    color: #555;
}

.bg-red {
    background-color: #C7532C!important;
    color: white;
}

.bg-blue {
    background-color: #428bca!important;
    color: white!important;
}

.bg-green {
    background-color: #1FA65D!important;
}

.bch-map-bg{
    background-color: #d8e3f7!important;
}
.bch-map-text-color{
    color:#585972!important;
}

.bg-black {
    background-color: #111!important;
    color: white!important;
}

.bg-litegrey {
    background-color: #EEE!important;
}

.bg-darkgrey {
    background-color: #666!important;
}

.bg-texture-green {
    background: #1FA65D url('../img/feature-bkg.png')!important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
}

.bg-texture-litegrey {
    background: #EEE url('../img/feature-bkg.png')!important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
}

.dropshadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6)!important;
}

.dropshadow1 {
    text-shadow: 0 1px 2px #ccc!important;
}

.no-shadow {
    text-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

.thin-border {
    border: 2px solid #ddd!important;
    border-bottom: 2px solid #ccc!important;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.help-icon {
    background-color: #ddd;
    padding: 5px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    cursor: pointer;
    color: #EEE;
    border-bottom: 1px solid #888;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
}

.bold {
    font-weight: bold!important;
}

.unbold {
    font-weight: normal!important;
}

.fa-6 {
    font-size: 20em;
}

.fa-5 {
    font-size: 18em;
}

.fa-4 {
    font-size: 12em;
}

.fa-3 {
    font-size: 6em;
}

.fa-2 {
    font-size: 4em;
}

.fa-1 {
    font-size: 10px;
}

.fa-11 {
    font-size: 25px;
}

.fa-12 {
    font-size: 38px;
}


/*@font-face {
    font-family: 'alternategotno3dotregular';
    src: url('/app/fonts/alternategotno3dot-webfont.eot');
    src: url('/app/fonts/alternategotno3dot-webfont.eot?#iefix') format('embedded-opentype'),
         url('/app/fonts/alternategotno3dot-webfont.woff') format('woff'),
         url('/app/fonts/alternategotno3dot-webfont.ttf') format('truetype'),
         url('/app/fonts/alternategotno3dot-webfont.svg#alternategotno3dotregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

.home-col> p> a:hover,
a:focus {
    /*color:black;*/
    text-decoration: none;
}

body a:hover,
body a:focus {
    /*color:black;*/
    text-decoration: none;
}

.special-font {
    /*font-family: 'alternategotno3dotregular';*/
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

body {
    min-height: 800px;
    font-family: "Helvetica Neue", Helvetica, sans-serif, Trebuchet MS;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    background-color: #eee;
    color: #555;
    position: relative;
}

h4,
h5,
h6 {
    /*font-family:Tahoma, Trebuchet MS, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    text-rendering: optimizeLegibility;
}

h1 {
    /*font-family: 'alternategotno3dotregular';*/
    /*font-family:Tahoma, Trebuchet MS, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    text-rendering: optimizeLegibility;
    font-size: 26px;
}

h2 {
    /*font-family: 'alternategotno3dotregular';*/
    /*font-family:Tahoma, Trebuchet MS, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    text-rendering: optimizeLegibility;
    font-size: 24px;
    font-weight: bold;
}

h3 {
    /*font-family: 'alternategotno3dotregular';*/
    /*font-family:Tahoma, Trebuchet MS, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    text-rendering: optimizeLegibility;
    font-size: 20px;
}


/*.link-active {
    color:#000;
}*/

.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.box {
    /*margin-bottom: 20px;*/
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 0px;
}

.box-10 {
    /*margin-bottom: 20px;*/
    /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/
    border-radius: 3px;
    border: 2px solid #ddd;
    background-color: #f5f5f5;
    padding: 10px;
}

.box-5 {
    /*margin-bottom: 20px;*/
    /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/
    border-radius: 3px;
    border: 2px solid #ddd;
    background-color: #f5f5f5;
    padding: 5px;
}

.box-0 {
    /*margin-bottom: 20px;*/
    /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/
    border-radius: 3px;
    border: 2px solid #ddd;
    background-color: #f5f5f5;
    padding: 3px;
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.pilotphase {
    text-align: center;
    height: 30px;
    vertical-align: middle;
}

.pilotphase> div {
    padding-top: 5px;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 24px;
}

.disclaimer {
    margin: 0;
    margin-bottom: 0px;
    background-color: #fa6938;
    color: white;
    height: 30px;
    border-bottom: #999 solid 1px;
}

.promo .title {
    margin: 0;
    padding: 3px;
    float: left;
    margin-right: 15px;
    padding: 0 20px;
    background: rgba(0, 0, 0, 0.2);
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 24px;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    /*	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;*/
    color: white;
}

.promo .content {
    padding-top: 5px;
}

.promo span {
    color: white;
    padding-top: 3px;
}

.main-nav {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #fff;
}

.brand h1,
img,
span {
    margin: 0;
    padding: 0;
}

.brand> a {
    text-decoration: none;
}

.brand> a> h1 {
    font-weight: normal;
    color: #1FA65D;
    font-size: 52px;
    font-family: 'alternategotno3dotregular';
    padding-bottom: 0;
    margin-bottom: 0;
    white-space: nowrap;
}

.brand> a> h1>img {
    height: 40px;
    position: relative;
    top: -5px;
    padding: 0;
    margin: 0;
}

.brand> div {
    text-transform: uppercase;
    /*color: #333;*/
    color: #333;
    font-size: 16px;
    font-family: 'alternategotno3dotregular';
    line-height: 14px;
    top: -3px;
    position: relative;
}

.account-signin a {
    /*color:#287FCB!important;*/
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    list-style: none;
    list-style: none;
    font-family: 'alternategotno3dotregular';
    padding-left: 20px;
    top: -22px;
    position: relative;
}

.account-signin a:hover,
.account-signin a:focus {
    color: #fff;
}


/*.set-languages {
	color:#287FCB!important;

color:#333;
font-size: 12px;
text-transform: uppercase;
list-style: none;
padding-top: 3px;
list-style: none;
font-family: 'alternategotno3dotregular';

}
*/ .account-name {
    position: relative;
    top: -30px;
}
.main-link div a ul li {
    margin: 0;
    padding: 0;
}
.main-link> a {
    font-size: 24px;
    font-family: 'alternategotno3dotregular';
    color: #666;
    line-height: 20px;
    text-decoration: none;
    letter-spacing: 1px;
}
.main-link {
    padding-top: 15px;
}

/* centered columns styles */
.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    
    text-align: left;
    /* inline-block space fix */
    
    margin-right: -4px;
}

/*.footer{
	background: #1FA65D url('../img/feature-bkg.png');
	border-top:#333 solid 3px;
	padding:0;
	margin:0;
  	height: 400px;
    clear: both;
    padding-top: 10px;
    color:#333;
}*/
.footer-title {
    font-size: 18px;
}
.footer-links li {
    font-size: 12px;
    list-style: none;
    line-height: 12px;
}
.footer-links a,
h4> a {
    color: #efefef;
}
.footer-links a:hover,
.footer-links a:focus,
h4>a:hover,
h4>a:focus {
    color: #FFF;
}
.footer-links {
    padding: 0;
    margin: 0;
}
.copyright a,
.copyright a:hover,
.copyright a:focus {
    color: #FFF;
}
footer .copyright {
    margin-top: 10px;
    padding-top: 15px;
    border-top: 3px solid #ddd;
}
footer .copyright .logorow {
    margin: 0;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    color: #FFF;
}
footer .logo {
    margin-bottom: 10px;
    display: block;
    width: 132px;
    height: 39px;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
*:focus {
    outline: none;
}
.flag-icon-eur,
.flag-icon-eu {
    background-image: url('/app/img/EUFlag.png');
    /*width: 165px;*/
}
.page-content {
    background-color: #eee;
    /* padding: 10px 20px 20px 20px; */
}
@media (max-width: 768px) {
    .page-content {
        background-color: #eee;
        padding: 10px 0 0 0;
    }
}
.ng-hide-add-active,
.ng-hide-remove {
    display: inline!important;
}
.table-hover:hover {
    background-color: #f5f5f5;
}
.table-row {
    cursor: pointer;
}
.border {
    border-bottom: 1px solid #eee;
    padding: 10px 0px 00px 00px;
}
.confidential {
    color: #a94442!important;
}
.tableheader {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0;
    text-align: left;
    cursor: pointer;
    color: #111;
    font-weight: 500;
}
.table-msr {
    border-bottom: 1px solid #eee;
    padding-left: 20px;
    padding-right: 20px;
}
.fullBorder {
    border: 1px solid #eee;
}
.sectionHeader {
    border: 1px solid #eee;
    padding: 10px;
    margin-top: 50px;
}
.btn-panel-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.btn-panel-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.btn-panel-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.help-color {
    color: #428bca
}
.help-section {
    padding: 10px;
    background-color: #EFEFEF;
    margin-bottom: 20px;
}
.help-section i {
    position: relative;
    top: 0px;
}
.help-section-title {
    border-bottom: 1px solid #BBB;
    margin-bottom: 5px;
}
.help-section-close {
    float: right;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    color: #333;
}
.help-section-content {}
;
.help-inline {
    padding: 3px;
    color: #666;
    font-size: 12px;
    font-weight: bold;
    background-color: #FFC0CB;
}
.help-inline-content {
    display: inline-block;
}
.help-inline-content div {
    display: inline;
}
.help-simple-content {}

.toolbar-header {
    font-size: 22px;
    padding: 16px;
}

/**************************/

/*Bootstrap Style callouts*/

/**************************/
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
.bs-callout-reference-records {
    border-left-color: #fa6938;
}
.bs-callout-reference-records h4 {
    color: #fa6938;
}
.padding-right-10 {
    padding-right: 10px;
}
#PortalLinks2 {
    z-index: 80;
}
#anchorTop {
    z-index: 1001!important;
}
.label {
    padding: .2em .6em .2em!important;
}
.info {
    cursor: pointer;
}
.blockRegion-parent-position{
    position: relative;
}

.blockRegion {
    position:initial;

    /* margin: 1rem 0;
    padding: 1em; */
    /* border-radius: .28571429rem; */
    /*border: 1px solid rgba(34,36,38,.15);*/
}
.dimmer {
    border-radius: inherit!important;
}
.inverted.dimmer {
    /* background-color: rgba(255, 255, 255, .85); */
}
.dimmed.dimmable>.animating.dimmer,
.dimmed.dimmable>.visible.dimmer,
.active.dimmer {
    display: block;
    opacity: 0.3;
    color: #fff;
}
.active.dimmer .block-text{
    font-size: larger;
}
.dimmer {
    display: none;
    position: absolute;
    top: 0px!important;
    left: 0px!important;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, .85);
    opacity: 0.3;
    line-height: 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-transition: background-color .5s linear;
    transition: background-color .5s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    will-change: opacity;
    z-index: 1000;
}
#npMap .dimmer {
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    padding: 0;
    margin: 0;
}
#npMap .loader {
    top: 50%!important;
}
#npMap .blockRegion {
    position: relative;
}
.loader {
    position: absolute;
    top: 10%;
    left: 50%;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

/*for the new search*/
.link:hover {
    background-color: rgba(255, 255, 255, .15)!important;
    cursor: pointer;
}
.link1:hover {
    background-color: rgba(0, 0, 0, .10)!important;
    cursor: pointer;
}
.link2:hover {
    color: #111!important;
    cursor: pointer;
}
.linkDark:hover {
    background-color: #333!important;
    cursor: pointer;
}
.linkWhite:hover {
    background-color: #FFF!important;
    cursor: pointer;
}
#search-new .national {
    margin: 0;
    padding: 5px;
    border-left: 3px #428bca solid;
    cursor: pointer;
}
#search-new .national .schema {
    color: #428bca;
}
#search-new .reference .schema {
    color: #fa6938;
}
#search-new .scbd .schema {
    color: #000;
}
#search-new .scbd .title {
    color: #666;
}
#search-new .reference {
    margin-bottom: 15px;
    padding: 5px;
    border-left: 3px #fa6938 solid;
    cursor: pointer;
}
#search-new .scbd {
    margin-bottom: 15px;
    padding: 5px;
    border-left: 3px #666 solid;
    cursor: pointer;
}
div.recordDefault:hover {
    background-color: #e1e1e1!important;
}
#national-records-country h4 {
    padding: 20px 0 5px 0;
    margin: 0;
    color: #111;
    font-size: 22px;
    font-weight: 500;
}
.recordDefault .schema,
#national-records-country .schema,
#result-grouped-national-record .type {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    display: inline!important;
    padding-right: 6px;
}
#national-records-country .schema {
    padding-bottom: 5px!important;
    font-size: 14px;
    padding-top: 20px;
}
#national-records-country .schemaTitle {
    padding-bottom: 5px!important;
    font-size: 12px;
    padding-top: 10px;
    font-weight: 500;
    text-transform: uppercase;
}
.recordDefault .date {
    color: #333;
    text-transform: uppercase;
    font-size: 12px;
}
.recordDefault .title {
    color: #333;
    font-size: 14px;
    padding: 0 10px 0 0;
    display: inline!important;
}
#result-grouped-national-record .title {
    color: #333;
    font-size: 14px;
    padding: 0 6px 0 0;
    display: inline!important;
}
.recordDefault .description {
    color: #444;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80vw;
    overflow: hidden;
}
#result-grouped-national-record .description {
    color: #444;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80vw;
    overflow: hidden;
}
.descriptionSpan {
    /*display:inline-block;*/
    
    white-space: initial!important;
    width: 100%!important;
}
.recordDefault .metadata {
    margin: 0;
    padding: 0;
    color: #111;
}
.recordDefault ul {
    margin: 0;
    padding: 0;
}
.recordDefault .metadata li {
    display: inline;
    margin: 0;
    padding: 0;
}
.recordDefault .metadata span {
    color: #333;
    text-transform: uppercase;
    font-size: 10px;
    margin: 0;
}
.recordDefault .metadata span:last-of-type {
    border-right: solid 1px #999;
    padding-right: 5px;
}
.recordDefault .metadata> li> .last-span {
    border-right: 0!important;
}
#doc-metadata {
    padding-top: 10px!important;
}
/*#doc-metadata * {font-size:10px;}*/
#doc-metadata .table-condensed>tbody>tr>td,
#doc-metadata .table-condensed>tbody>tr>th,
#doc-metadata .table-condensed>tfoot>tr>td,
#doc-metadata .table-condensed>tfoot>tr>th,
#doc-metadata .table-condensed>thead>tr>td,
#doc-metadata .table-condensed>thead>tr>th {
    padding:0!important;
    margin: 0!important;
    border: 0!important;
}
#view-history .table-condensed>tbody>tr>td,
#view-history .table-condensed>tbody>tr>th,
#view-history .table-condensed>tfoot>tr>td,
#view-history .table-condensed>tfoot>tr>th,
#view-history .table-condensed>thead>tr>td,
#view-history .table-condensed>thead>tr>th {
    padding: 0  10px 0 10px !important;
    margin: 0!important;
    border: 0!important;
}
.card {
    background-color: #eee;
    border-radius: 0;
    padding: 0;
    margin: 0;
}
.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.1s ease-in-out;
}
.card-1-notrans {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.card-1:hover {
    background-color: #EEE!important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.card-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.card-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/************************************************************************/
#Search-Filter .check {
    color: #333;
}
#Search-Filter .filter {
    color: #555;
    cursor: pointer;
    font-weight: 500;
}
#Search-Filter .check:hover,
#Search-Filter .filter:hover {
    color: #000;
}
#Search-Filter hr.heading {
    border-color: #bbb!important;
    margin: 5px 0 10px 0;
    padding: 0;
}
#Search-Filter .heading,
.heading> .filter,
#Search-Filter .country-heading {
    font-weight: bold;
    font-size: 16px;
    border-color: #bbb!important;
}
#Search-Filter .country-heading {
    padding-right: 10px;
}
#Search-Filter .badge {
    font-size: 10px;
    background-color: #b1b1b1!important;
    display: none;
}
#Search-Filter hr {
    margin: 0;
    padding: 0;
    border-color: #DDD;
}
#Search-Filter .helpinfo {
    padding: 0;
    margin: 0;
    color: #777;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
}
#Search-Filter .fa-info-circle {
    color: #9f9f9f;
}
#Search-Filter .noTopPadding {
    padding: 0!important;
}
#Search-Filter .letter-active {
    font-weight: bold;
}
#Search-Filter .date {
    text-transform: uppercase;
}

/*================================*/

/* Home page */
#Jumbotron {
    margin:0;
}
#search-map {
    background: transparent!important;
}
#Parties {
    padding: 5px 5px 10px 5px!important;
}
.tag-line-container {
    background: transparent;
}
.tag-line-container h3 {
    font-size: 18px;
}
@media (max-width: 992px) {
    #Parties .col-md-4 {
        text-align: left;
    }
    
    #Parties {
        padding: 5px!important;
    }
}
.od-label {
    font-size: 18px;
    color: black;
    font-weight: 500;
    margin-left: 15px;
}
@media (max-width: 768px) {
    .od-label {
        color: black;
        font-weight: 300;
        margin-left: 5px;
    }
    
    #Jumbotron {
        height: auto !important;
        margin: -10px auto auto auto;
    }
    
    #Parties .col-xs-12 {
        text-align: left;
    }
    
    .tag-line-container h3 {
        font-size: 15px;
    }

    
}
#search-new .search> ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#search-new .search> ul li {
    display: inline;
    font-weight: bold;
    line-height: 40px;
    z-index: 20;
    position: relative;
}
#search-new .search> ul li> a {
    padding: 8px 10px 8px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: bold;
}
#search-new .search> ul li> a:hover,
#search-new .search> ul li> a:focus {
    background-color: #dddddd;
    border: 1px solid #e3e3e3;
}
#search-new .search> ul li> a.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #e3e3e3;
    border-bottom: 0;
    padding-bottom: 10px;
    background-color: #dddddd;
    box-shadow: none!important;
}
#search-new label {
    font-weight: bold!important;
}


@media (max-width: 600px){
.search-tab-title > li > a{font-size: 12px!important;}
.search-tab-title > li > a > span{font-size: 12px!important;}
}


#search-new .badge {
    background-color: #333!important;
    color: white;
}
#search-new .section-title {
    color: #999;
    font-weight: bold;
}
#search-new .active {
    background-color: #EEE
}
#search-new .nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: #FFF!important;
    position: relative;
    top: 3px;
    border: 1px solid #e3e3e3;
    border-bottom: 0;
}
/* #search-new .tab-content {
    border: 1px solid #e3e3e3;
}
#search-new .nav-tabs>li {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
}
#search-new .nav-tabs>li {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap!important;
    display: inline-block;
}
#search-new .nav-tabs> li> a {
    white-space: nowrap;
}
#search-new .no-rl-padding {
    padding-left: 0!important;
    margin-left: 0!important;
    padding-right: 0!important;
    margin-right: 0!important;
} */
.tooltip {
    font-size: 14px;
}
.helpinfoInline {
    cursor: pointer;
}
.comma:not(:last-of-type):after {
    content: ",";
}
.comma:nth-last-of-type(2):before {
    content: none;
}
.comma:nth-last-of-type(2):after {
    content: " and ";
}
#RegisterPage dt {
    color: #888;
    margin-top: 3px;
}
#RegisterPage dd {
    color: #333;
    margin-top: 3px;
    font-weight: bold;
}
#searchPage .register-content,
#RegisterPage .register-content,
#SubmitPage .register-content,
#PreferencesPage .register-content {
    background-color: #FFF;
    margin: 20px 0;
    
}
#searchPage .register-content h3,
#RegisterPage .register-content-header h3,
#SubmitPage .register-content-header h3,
#PreferencesPage .register-content-header h3 {
    padding: 0;
    margin: 0 0 5px 0;
   
}

#searchPage .register-content-content,
#RegisterPage .register-content-content,
#SubmitPage .register-content-content,
#PreferencesPage .register-content-content {
    padding: 10px;
}




#RegisterPage .cp-header label,
#SubmitPage .cp-header label,
#PreferencesPage .cp-header label {
    margin-right: 10px;
    width: 140px;
    color: #999;
    font-weight: bold;
}
#SubmitPage .factive {
    color: white;
}
#SubmitPage .fa-2 {
    font-size: 16px!important;
    padding: 0;
    margin: 0 5px 0 0;
    position: relative;
    top: 1px;
}
#SubmitPage .filterbtn {
    font-weight: bold;
}
#SubmitPage .filterbtn .badge {
    background: rgba(255, 255, 255, .3);
    color: white;
}
#SubmitPage .odd {
    background-color: #efefef;
}
#SubmitPage .even {
    background-color: #fff;
}
#SubmitPage .odd:hover,
#SubmitPage .even:hover {
    background-color: #eeefff;
}
#SubmitPage.toggleUpdated {
    background-color: #eeefff;
}
#SubmitPage th {
    border-bottom: none!important;
    background-color: #eee!important;
}
#SubmitPage th:hover {
    background-color: #eee!important;
}
#SubmitPage td {
    border-bottom: 1px solid #DDD;
    padding: 10px 0;
}
#SubmitPage .label {
    font-size: 11px!important;
    color: white;
}
#SubmitPage .label:hover {
    background-color: #333!important;
    color: white!important;
}
.help-block {
    font-size: 0.9em;
    color: #999;
    padding: 0 0 5px 0;
    margin: 0;
    font-weight: 500;
}
.registerpage-content table {
    width: 100%;
}
#Record blockquote {
    font-size: inherit!important;
}
#Record .panel-body {
    padding: 10px;
}
#Record .km-value {
    margin-bottom: 5px;
}
#Record .panel-heading {
    padding: 10px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#Record h3 {
    padding: 0;
    margin: 0;
}
#Record h4 {
    font-size: 14px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color: white!important;
}
#Record label {
    margin-bottom: 0;
    font-weight: 500!important;
    color: #666;
    font-size: 12px;
    display: inline;
}
#Record .panel-footer {
    padding: 10px;
    margin: 0;
    height: auto;
    border-radius: 0;
}
.panel {
    margin: 0!important;
    padding: 0!important
}
#Record .panel-footer,
#Record .panel,
#Record .panel-header {
    border-radius: 0!important;
}
#Record .panel-footer .uid {
    font-weight: 500;
    color: #428bca!important;
}
#Record .panel-footer .date {
    font-weight: 500;
    color: #666!important;
    text-transform: uppercase;
}
/* #Record ul {
    margin: 0;
    padding: 0;
} */
#Record tr {
    background-color: transparent;
}
#Record legend {
    padding-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
#Record .help-block {
    display: inline!important;
}
#Record {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#Record .reflink:link {
    color: #428bca!important;
}
#Record .reflink:visited {
    color: #428bca!important;
}
#Record .reflink:hover {
    color: #428bca!important;
}
#Record .reflink:active {
    color: #428bca!important;
}
#Record .help-block {
    font-size: 11px;
    color: #999;
    padding: 0 0 0 3px;
    margin: 0 0 5px 0;
    display: inline-block;
    font-weight: 500;
    text-transform: none;
}
#Record .modal-dialog {
    width: 650px;
    margin: 30px auto;
}

#Record .pre-wrap{
white-space: pre-wrap;
}

.partystatus {
    font-size: 11px;
    margin-right: 10px;
    white-space: nowrap;
}
#search-country-group .partystatus {
    font-size: 10px;
    margin-right: 5px!important;
    white-space: nowrap;
    background-color: #efefef;
    border: 1px solid #ddd;
    padding: 3px;
    border-radius: 3px;
    position: relative;
    top: -3px;
    font-weight: 500;
    text-transform: uppercase;
}
#search-country-group .color-party {
    background-color: #5F4586!important;
    color: #fff!important;
    border: 1px solid #333;
}
#search-country-group .color-non-party {
    background-color: #666!important;
    color: #fff!important;
    border: 1px solid #333;
}
#search-country-group .color-inbetween {
    background-color: #EC971F!important;
    color: #fff!important;
}
#government {
    float: right;
}
#government .partystatus {
    font-size: 10px;
    margin-left: 10px!important;
    white-space: nowrap;
    background-color: transparent!important;
    border: 0;
    padding: 0;
    border-radius: 0;
    position: relative;
    top: 0px;
    font-weight: 500;
    text-transform: uppercase;
}
#government .color-party {
    color: #5F4586!important;
}
#government .color-non-party {
    color: #333!important;
}
#government .color-inbetween {
    color: #EC971F!important;
}
.km-value {
    overflow: hidden;
}
.well-help {
    background-color: rgba(25, 25, 25, 0.2);
    border: 0;
    margin-bottom: 0;
    margin-top: 20px;
}
.well-help-close {
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 15px;
    right: 7px;
}
.help-info {
    padding: 0;
    margin: 0 0 5px 0;
    font-weight: 500!important;
    color: #666;
    font-size: 12px;
    display: block;
}
legend+ .help-info {
    position: relative;
    top: -15px;
}
.msr-table th {
    border-top: 0;
    border-bottom: 1px solid #999;
    color: #333;
}
.msr-table>tbody>tr>td,
.msr-table>tbody>tr>th,
.msr-table>tfoot>tr>td,
.msr-table>tfoot>tr>th,
.msr-table>thead>tr>td,
.msr-table>thead>tr>th {
    border-top: 0;
}
#RecordDetails td {
    padding-right: 5px;
}
#RecordDetails label {
    color: #666;
}
.localeBtn {
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid transparent;
    background-color: rgb(192, 192, 192);
}
.tooltip-inner {
    max-width: 350px;
}
.selected-reference-uid {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding-right: 5px;
    border-right: 1px solid #ddd;
    display: inline;
}
.selected-reference-name {
    font-size: 12px;
    font-weight: 500;
    /*text-transform: uppercase;*/
    
    padding-right: 5px;
    padding-left: 5px;
    border-right: 1px solid #ddd;
    color: #333;
    display: inline;
}
.selected-reference-title {
    font-size: 12px;
    font-weight: 500;
    /*text-transform: uppercase;*/
    
    padding-left: 5px;
    color: #333;
    display: inline;
}
.km-select-description {
    font-size: 0.9em;
    color: #999;
    padding: 0 0 5px 0;
    margin: 0;
    font-weight: 500;
}
.organization-modal-maxheight {
    max-height: 500px;
    overflow-y: scroll;
}
.modal-header h3 {
    margin: 0px;
}


.jr_overlay{
     left:0; 
    opacity: 0!important;
}
.jr_container {
    border-radius: 5px;
    background-color: #666!important;
    border: 1px solid #111!important;
}
.jr_container.jr_element.jr_pos_bottom:after{
     border-bottom: 12.5px solid #111!important;
}
.jr_container.jr_element.jr_pos_top:after {
       border-top: 12.5px solid #111!important;
}
.jr_container.jr_element.jr_pos_left:after {
       border-left: 12.5px solid #111!important;
}
.jr_container.jr_element.jr_pos_right:after {
       border-right: 12.5px solid #111!important;
}
.jr_title{
    color:#FFF!important;
    font-size:120%!important;
}
.jr_content{
    color:#eee!important;
}
.jr_next{
     background-color:#428bca!important;
}
.jr_target{box-shadow: none!important;}


.label-party {font-size: 16px;background-color: #5F4586;color:white; min-width:30px}
.label-nonparty {font-size: 16px;background-color: #333;color:white; min-width:30px}
.label-inbetween {font-size: 16px;background-color: #EC971F;color:white; min-width:30px}

@media (max-width: 600px){
.label-party {font-size: 16px;}
.label-inbetween {font-size: 16px;}
.label-nonparty  {font-size: 16px;}
}

    
    
.record-link-style{
    font-size:11px!important;
        font-weight: 500;
        text-transform: uppercase;
    }
    .record-Options-div .date{
        font-size:11px!important;
        font-weight: 500;
        text-transform: uppercase;
        padding:3px;
        background-color: #f5f5f5;
       
            border-radius: 4px;
    
        border: 1px solid rgba(0, 0, 0, 0.15);
    }
    .record-Options-div .xlabel{
        font-size:11px!important;
        font-weight: 500;
        text-transform: uppercase;
        color: #666;
        padding:0!important;
    
    }
    .record-Options-div .btn-lang{
        /* background-color: #f5f5f5; */
        font-size:11px!important;
        font-weight: 500;
    }

.fa-bell:before {
    float: right;
    padding-right: 5px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity:1;
}

.datepicker.datepicker-dropdown{
    z-index:1000!important;
}
sup {
    font-size: 8px;;
}
a.disabled{
    color:#BBB!important;
}

.route-loading .medium.loader{
    color:white;
    top: 3.5%;
    left: 45%;
}

.search-filters.ngdialog.ngdialog-theme-default .ngdialog-content{padding:0;}
        
.search-filters.ngdialog-theme-default.wide .ngdialog-content, .ngdialog-theme-default .ngdialog-content{
    min-width:70% !important;
}
.search-filters .modal-body{background-color:#FFF;}
.search-filters #divTable ul.horizontal-list {
    display: block;
    list-style: none;
}

.search-filters #divTable ul.horizontal-list li {
    float: left;
    width: 33%;
}
.search-filters #divTable ul.horizontal-list li{
    list-style-type: none;
}

.angucomplete-dropdown{
    width: 100%!important;
}
.angucomplete-description {
    font-size: 10px!important;
}
.angucomplete-row {
    border-bottom: 1px solid #eee;
}

.ngdialog.ngdialog-theme-default{
    padding-top: 20px!important;
}
.ngdialog-open {
    height: auto !important;
    overflow: inherit !important;
}
.ngdialog-overlay{
    pointer-events: none;
}
/* .ngdialog.ngdialog-theme-default .ngdialog-content {
    z-index: 1  
}

.ngdialog-content .modal-body::-webkit-scrollbar {
    -webkit-appearance: none;
}

.ngdialog-content .modal-body::-webkit-scrollbar:vertical,
.ngdialog-content .modal-body::-webkit-scrollbar:horizontal {
    height: 11px;
}

.ngdialog-content .modal-body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
} */

.record-loader-loading{
    display: none;
}
#search-new .record-loader-loading{
    display: block;
}
.padding-top-10{
    padding-top: 10px;
}

.padding-left-right-2{
    padding-left: 2px;
    padding-right: 2px;
}

.padding-left-2{
    padding-left: 2px;
}

.padding-right-2{
    padding-right: 2px;
}

.margin-left-2{
    margin-left: 2px;
}

.margin-right-2{
    margin-right: 2px;
}

.default-reference-viewer .document-summary{
    font-size: 11px;
    color: #999;
    padding: 0 0 0 3px;
    margin: 0 0 5px 0;
    font-weight: 500;
    text-transform: none;
}

#search-new .metadata.bold li:not(:first-child){
    padding-left: 5px;
}

.space-left-right{
    padding-left:5px;
    padding-right: 5px;;
}
.search-result-highlight em {
    /* background-color: yellow; */
    font-weight: bold;
    color: black;
}

#wrapper .container-fluid,
#search-new .container-fluid { 
    padding-left: 0px; 
    padding-right: 0px; 
}

.amcharts-chart-div a{
    top: unset!important;
    bottom: 10px!important;
}
#search-new .searchMatrixContent .inverted.dimmer{
    background-color: #000;
}

.matrix-export-dialog .modebar{
    display: none;
}
/*Country Profiles*/
.country-profile h1 {
    font-size: 55px;
    font-weight: 600;
}
.country-profile-list .link1 .label {
    font-weight: inherit;
    color: #555;
}
@media (max-width: 767px){
    .country-profile-list .link1 .label {
        display: contents;
    }
    #bch-navbar .bch-navbar li{
        width: 10%;
    }
}
/* ammap */
.map-disclaimer {
    position: absolute;
    font-family: Verdana;
    font-size: 11px;
    opacity: .7;
    display: block;
    bottom: 30px;
    right: 0px;
    cursor: pointer;
    left: 70%;
}
.tag-line {
    position: relative;
    font-family: Verdana;
    font-size: 11px;
    opacity: 0.7;
    display: block;
    float:right;
    bottom:20px;
    cursor: pointer;
}
.map a {color:white !important;}

.z10{ z-index: 1000 !important;}

.terms-check .col-xs-12,
.terms-radio .col-xs-12{
    padding-left: 0px;
}
.edit-authority-directive .functions .terms-check .other-term,
.edit-authority-directive .type-of-organism .terms-check .other-term,
.edit-law-directive .subject-areas .terms-check .other-term,
.edit-law-directive .type-of-organism .terms-check .other-term {
    margin-left:40px;
}
.edit-biosafety-expert-directive .regions-list #select-dropdown .dropdown-toggle {
    white-space: inherit;
}
.edit-biosafety-decision-directive .communication-decisions ul .other-term table>tbody>tr>td:first-child{
    width: 35% !important;
}

.light-label{
    font-size: 14px;
    font-weight: 400!important;
}

.easing {
    transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.box-bottom{
    float: left;
    width: 100%;
    font-size: 11px;
    color: #8c8c8c
}
.box-bottom i{
    font-size: 16px;
    color: #000;
    padding-right: 5px
}
.box-bottom span {
    text-align: right;
    float: right;

}
.box-bottom span a  {

    line-height: 16px;
    padding: 0;

}
.box-bottom span a i {
    text-align: right;
    font-size: 18px;
    color: #006692 !important;
    font-weight: bold !important;
}

.box-bottom span a:hover{
    padding-right: 5px
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 0%;
}
scbd-footer.toggled #CBD-Branding.footer {
padding-right: 23%;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0px;
    width: 0;
    height: auto;
    margin-right:0px;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #fff;
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    padding: 0px 0px 0px 0px;
}
 #sidebar-wrapper div div.container-full.page-content{
    margin: 0;
    background: #fff;
    }

#wrapper.toggled #sidebar-wrapper {
    width: 20%;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
}
.container-full.page-content{
    margin: 10px;
}

.container-breadcrumbs{
    padding-left: 10px!important;
}
#PreferencesPage .register-content, #RegisterPage .register-content, #SubmitPage .register-content, #searchPage .register-content {
    margin: 5px;
}

@media(min-width:768px) {
    #wrapper {
        padding-right: 25%;
    }

    #wrapper.toggled {
        padding-right: 0;
    }

    #sidebar-wrapper {
        width: 25%;
        height: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }


    #docketSideBar .news-date {
        float: unset;
        font-size: 10px;
        text-transform: uppercase;
    }

    #docketSideBar.container-full {
        padding-bottom: 10px;
    }

    #docketSideBar .noimage {
        display: table-cell;
        vertical-align: middle;
        font-size: 24px;
        padding: 10px;
        top: -20px;
        position: relative;
    }

    #docketSideBar .card {
        background: #fff;
        float: left;
        width: 98%;
        padding: 10px;
        margin: 0px 0 0 7px;
        padding-bottom: 0px;
    }

    #docketSideBar .card:hover {
        background-color: rgb(235, 236, 240);
        border-radius: 3px;
    }

    #docketSideBar .article-open {
        background: #fff !important;
    }


    #docketSideBar .card h5 {
        padding: 0;
        margin-top: 0;
        font-size: 14px;
    }

    #docketSideBar h5:hover:after {
        border-top: #A05800 solid 4px;
    }

    #docketSideBar p {
        font-size: 13px;
        font-weight: normal;
        line-height: 20px;
        color: #656565;
        margin-bottom: 10px
    }

    #docketSideBar p strong {
        font-weight: normal;
    }

    #docketSideBar .closebtn {
        position: absolute;
        right: 10px;
        font-size: 21px;
        padding: 0px 8px;
        color: rgb(66, 82, 110) !important;
        top: 12px;

    }

    #docketSideBar .closebtn:hover {
        text-decoration: none;
        cursor: pointer;
        background: rgba(9, 30, 66, 0.08) !important;
        border-radius: 3px;
    }

    #docketSideBar .sidenav-heading {
        float: left;
        width: 100%;
        background: #FAFBFD;
        padding: 16px 10px;
        color: #42526e;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 16px;
        border-bottom: #EAEBED 2px solid;
        border-top: #EAEBED 1px solid;
        text-align: center;
        text-transform: capitalize;
    }

    #docketSideBar .sidenav-heading span {
        font-size: 13px;
        font-weight: normal;
        padding: 5px 10px;
        position: absolute;
        left: 10px
    }

    #docketSideBar .sidenav-heading span:hover {
        text-decoration: none;
        cursor: pointer;
        background: rgba(9, 30, 66, 0.08) !important;
        border-radius: 3px;

    }

    #docketSideBar .search-field {
        float: left;
        width: 100%;
        margin-top: 5px;
        padding: 24px 16px 8px;
        padding-bottom: 0;
        margin-bottom: 0;

    }

    #docketSideBar .search-field .has-search .form-control-feedback {
        right: initial;
        left: 0;
        color: #333;
    }

    #docketSideBar .search-field .has-search .form-control {
        padding-right: 12px;
        padding-left: 34px;
        background: rgb(255, 255, 255);
        background-color: rgb(250, 251, 252);
        border-color: rgb(223, 225, 230);
    }

    #docketSideBar .search-field .has-search .form-control:focus {
        border: #66afe9 2px solid;
        outline: 0;
        /* -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%); */
        /* box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%); */
    }

    #docketSideBar .search-field input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: searchfield-cancel-button;
        cursor: pointer;
    }

    #docketSideBar .side-nav-bottom {
        height: 40px;
        position: fixed;
        bottom: 0;
        width: 25%;
        background: #00483A;
        padding: 7px;
        text-align: center;
        color: #fff;
        box-sizing: border-box;
        background-color: rgb(250, 251, 252);
        border-top: 2px solid rgb(235, 236, 240);
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    #docketSideBar .side-nav-bottom ul {
        padding-left: 10px;
        display: flex;
        /* margin: 0 5%; */
    }
    #docketSideBar .side-nav-bottom ul li {
        float: left;
        padding: 0 6px;
        list-style: none;
        border-right: #fff 1px solid;
        flex: auto;
    }
    #docketSideBar .side-nav-bottom ul li:last-child{
        border-right: none;
    }

    #docketSideBar .side-nav-bottom ul li a {
        font-size: 11px;
        color: rgb(107, 119, 140) !important;
        padding: 0;
        font-weight: normal;
        cursor: pointer;

    }

    #docketSideBar .side-nav-bottom ul li a:hover {
        font-size: 11px;
        color: rgb(107, 119, 140) !important;
        padding: 0;
        font-weight: normal;
        cursor: pointer;
        text-decoration: underline;
    }

    #docketSideBar .footer {
        bottom: 0px;
    }

    #docketSideBar .summary, #docketSideBar .summary h1, #docketSideBar .summary h2, #docketSideBar .summary h3, #docketSideBar .summary h4 {
        font-size: 11px;
    }

    #docketSideBar img {
        max-width: 100%;
        max-height: 100%;
    }

    #docketSideBar .side-bar-widget {
        display: flex;
        padding-left: 10px;
        padding-right: 18px;
        background-color: #fff;
        overflow-y: auto;
        overflow-x: hidden;
        height: calc(100vh - 158px);
    }
    #docketSideBar .side-bar-widget::-webkit-scrollbar {
        width: 0.7em;
    }

    #docketSideBar .side-bar-widget::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    #docketSideBar .side-bar-widget::-webkit-scrollbar-thumb {
        background-color: #b7b7b7;
    }
    #docketSideBar .side-bar-widget div .help-articles{
        cursor:pointer;
        padding-top: 0px;
    }
    #docketSideBar .side-bar-widget div .help-articles:last-child{
        padding-bottom: 25px;
    }

    #docketSideBar .sidebar-widget-detail {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 158px);
}

    #docketSideBar .sidebar-widget-detail .card-detail h5 {
    padding: 0;
    margin-top: 0;
    font-size: 20px;
    line-height: 30px;
}

    #docketSideBar .sidebar-widget-detail h5:hover:after {
    border-top: #A05800 solid 4px;
}

    #docketSideBar .sidebar-widget-detail p {
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;
    color: #656565;
    margin-bottom: 10px
}

    #docketSideBar .sidebar-widget-detail p strong {
    font-weight: normal;
}
    #docketSideBar .article-heading{
        text-decoration: none;
        color: rgb(23, 43, 77);
        font-size: 14px;
        font-weight: 600;
        display: block;
        line-height: 20px;
        white-space: normal;
        overflow-x: hidden;
        margin-bottom: 8px;
        margin-top: 0px;
    }
    #docketSideBar h2.article-heading {
        text-decoration: none;
        color: rgb(23, 43, 77);
        font-weight: 600;
        display: block;
        line-height: 20px;
        white-space: normal;
        overflow-x: hidden;
        margin-bottom: 8px;
        margin-top: 0px;
        font-size: 1.7142857142857142em;
        font-style: inherit;
        line-height: 1.1666666666666667;
        color: #172B4D;
        font-weight: 500;
        letter-spacing: -0.01em;
    }
    #docketSideBar .article-info{
        display: block;
        line-height: 20px;
        color: rgb(80, 95, 121);
        margin: 0px;
    }
    #docketSideBar .details-articles::-webkit-scrollbar {
        width: 0.7em;
    }

    #docketSideBar .details-articles::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    #docketSideBar .details-articles::-webkit-scrollbar-thumb {
        background-color: #b7b7b7;
    }
    .details-articles{
        overflow-y: scroll;
        animation-name: articlesmoveLeft;
        -webkit-animation-name: articlesmoveLeft;
        animation-duration: 0.8s;
        margin-left: 100%;
    }
    @keyframes articlesmoveLeft {
        from {margin-left: 100%;}
        to {margin-left: 7px;}
    }

}

/*---Footer css---*/
.bch-footer, .scbd-footer{
    float: left;
    width: 100%;

}
.navbar-nav {
    margin: 7.5px 5px;
}

.navbar-nav>li>a {
    position: relative;
    display: block;
    padding: 10px 8px;
}

