
.color-red{
    color:#C7532C;
}
.color-orange{
    color:#fa6938;
}
.color-blue{
    color:#428bca;
}
.color-green{
    color:#1FA65D;
}
.color-grey{
    color:#555;
}
.color-litegrey{
    color:#999;
}
.color-black{
    color:#111;
}
.color-white{
    color:#FFF;
}
.color-yellow{
    color:#FFD801;
}
.bg-orange{
    background-color:#fa6938!important;
    color:#FFF;
}
.bg-white{
    background-color:#FFF!important;
    color:#555;
}
.bg-grey{
    background-color:#EEE!important;
    color:#555;
}
.bg-red{
    background-color:#C7532C!important;
}

.bg-blue{
    background-color:#428bca!important;
}

.bg-green{
    background-color:#1FA65D!important;

}

.bg-litegrey{
    background-color:#EEE!important;

}

.bg-darkgrey{
    background-color:#666!important;

}

.bg-texture-green{
    background:#1FA65D url('../img/feature-bkg.png')!important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
}

.bg-texture-litegrey{
    background:#EEE url('../img/feature-bkg.png')!important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
}
.dropshadow{
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6)!important;
}

.dropshadow1{
    text-shadow: 0 1px 2px #ccc!important;
}

.help-icon{
    background-color:#ddd;
    padding:5px;
    -webkit-border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
cursor:pointer;
color:#EEE;
border-bottom:1px solid #888;
border-left:1px solid #888;
border-right:1px solid #888;

}




.fa-6 {
font-size: 20em;
}


.fa-5 {
font-size: 18em;
}


.fa-4 {
font-size: 12em;
}


.fa-3{
font-size: 6em;
}

.fa-2 {
font-size: 4em;
}
.fa-1 {
font-size: 10px;
}

.fa-11 {
font-size: 25px;
}

.fa-12 {
font-size: 38px;
}


@font-face {
    font-family: 'alternategotno3dotregular';
    src: url('/app/fonts/alternategotno3dot-webfont.eot');
    src: url('/app/fonts/alternategotno3dot-webfont.eot?#iefix') format('embedded-opentype'),
         url('/app/fonts/alternategotno3dot-webfont.woff') format('woff'),
         url('/app/fonts/alternategotno3dot-webfont.ttf') format('truetype'),
         url('/app/fonts/alternategotno3dot-webfont.svg#alternategotno3dotregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.home-col > p > a:hover, a:focus{
	color:black;
	text-decoration: none;
}

 body a:hover, body a:focus{
	color:black;
	text-decoration: none;
}

.special-font{
    font-family: 'alternategotno3dotregular';
    text-transform:uppercase;
    text-rendering: optimizeLegibility;
}

body{
  min-height:800px;
  font-family: Trebuchet MS, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-size:14px;
background-color:#eee;
color:#555;
}

h4, h5, h6 {
      font-family:Tahoma, Trebuchet MS, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}
h1 {
     /*font-family: 'alternategotno3dotregular';*/
     font-family:Tahoma, Trebuchet MS, "Helvetica Neue", Helvetica, Arial, sans-serif;
     text-rendering: optimizeLegibility;
     font-size: 26px;

}
h2{
     /*font-family: 'alternategotno3dotregular';*/
     font-family:Tahoma, Trebuchet MS, "Helvetica Neue", Helvetica, Arial, sans-serif;
     text-rendering: optimizeLegibility;
     font-size: 24px;
     font-weight: bold;

}
h3 {
     /*font-family: 'alternategotno3dotregular';*/
     font-family:Tahoma, Trebuchet MS, "Helvetica Neue", Helvetica, Arial, sans-serif;
     text-rendering: optimizeLegibility;
     font-size: 20px;

}

.link-active {
    color:#000;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.pilotphase{
    text-align:center;
    height:30px;
    vertical-align:middle;

}
.pilotphase > div{
    padding-top:5px;
    font-size: 12px;
	letter-spacing: 1px;
	line-height: 24px;
}


.disclaimer{
	margin:0;
	margin-bottom:0px;
	background-color:#fa6938;
	color:white;
	height:30px;
	border-bottom: #999 solid 1px;
}
.promo .title {

	margin:0;padding:3px;
	float: left;
	margin-right: 15px;
	padding: 0 20px;
	background: rgba(0,0,0,0.2);
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 24px;
	text-rendering: optimizeLegibility;
	text-transform: uppercase;
/*	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;*/
	color: white;
}
.promo .content{
	padding-top: 5px;
}
.promo span{
	color:white;
	padding-top:3px;
}

.main-nav{
	border-bottom:1px solid #ccc;
	padding-bottom:20px;
	padding-top: 20px;
    background-color:#fff;
}
.brand h1, img, span{
	margin:0;
	padding:0;
}
.brand > a{
	text-decoration: none;
}
.brand > a > h1{
	font-weight: normal;
	color: #1FA65D;
	font-size: 52px;
	font-family: 'alternategotno3dotregular';
	padding-bottom:0;
	margin-bottom: 0;
	white-space: nowrap;
}
.brand > a > h1 >img{
	height: 40px;
	position: relative;
	top: -5px;
	padding:0;
	margin:0;
}
.brand > div{
	text-transform: uppercase;
	/*color: #333;*/
	color:#333;
	font-size: 16px;
	font-family: 'alternategotno3dotregular';
	line-height: 14px;
	top:-3px;
	position: relative;

}
.account-signin a{
	/*color:#287FCB!important;*/
	color:#000;
	font-size: 20px;
	text-transform: uppercase;
	list-style: none;
	list-style: none;
	font-family: 'alternategotno3dotregular';
	padding-left:20px;
	top:-22px;
	position: relative;
}
.account-signin a:hover, a:focus{
	color:#fff;
}
.set-languages {
	/*color:#287FCB!important;*/
	color:#333;
	font-size: 12px;
	text-transform: uppercase;
	list-style: none;
    padding-top: 3px;
	list-style: none;
	font-family: 'alternategotno3dotregular';
}
.account-name{
	position: relative;
	top:-20px;
	color:#fff;

}

.main-link div a ul li {
	margin:0;
	padding:0;
}
.main-link > a{
	font-size:24px;
	font-family: 'alternategotno3dotregular';
	color: #666;
	line-height: 20px;
	text-decoration: none;
	letter-spacing: 1px;
}
.main-link {
	padding-top:15px;
}

	/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


.footer{
	background: #1FA65D url('../img/feature-bkg.png');
	border-top:#333 solid 3px;
	padding:0;
	margin:0;
  	height: 400px;
    clear: both;
    padding-top: 10px;
    color:#333;
}


@media (max-width: 992px) {

	.footer{
		height: 680px;
	}
}

.footer-links li{
	font-size:12px;
	list-style: none;
	line-height: 12px;
}
.footer-links a, h4 > a {
	color:#efefef;
}
.footer-links a:hover, a:focus, h4>a:hover, h4>a:focus{
	color:#FFF;
}
.footer-links{
	padding:0;
	margin:0;
}
.copyright a, a:hover, a:focus{
	color:#FFF;
}


footer .copyright {
  margin-top: 10px;
  padding-top: 15px;
  border-top: 3px solid #ddd;
}
footer .copyright .logorow {
  margin: 0;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  color: #FFF;
}
footer .logo {
  margin-bottom: 10px;
  display: block;
  width: 132px;
  height: 39px;
}
