
/* .color-non-party, .color-party{
    padding-left:5px;    
} */

.km-value-ml-div{    
    border-radius: 0px 3px 3px 0px!important;
}

/* default for all languages */
body.validate-translation [lang] { 
    border: 3px dashed green!important;
    padding: 2px!important;
} 
body.validate-translation [lang]:before { 
    content: attr(lang);   
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: green;
    border: 1px solid green;
    color: #fff;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
    text-transform: uppercase;
}

/* override for EN */
body.validate-translation [lang~="en"] {
    border: 3px dashed red!important;
    padding: 2px!important;
}
body.validate-translation [lang~="en"]:before { 
    background-color: red;
    border: 1px solid red;
}

.terms-check label > input[type=checkbox],
.terms-radio label > input[type=radio]{
    margin-right: 5px;
}

div[edit-measure-matrix] label > input[type=radio],
div[edit-measure-matrix] label > input[type=checkbox]{
    margin-right: 3px;
}

body[lang=ar] .km-terms-check ul{
    padding: 0px 20px 0px 0px;
}

body[lang=ar] .ngdialog-content .ngdialog-close {
    left: 0;
    right: unset;
}
body[lang=ar] .terms-check label > input[type=checkbox],
body[lang=ar] .terms-radio label > input[type=radio]{
    margin-left: 5px!important;
    margin-right: unset;
}

#export-modal .radio label > input[type=radio],
body[lang=ar] div[edit-measure-matrix] label > input[type=radio],
body[lang=ar] div[edit-measure-matrix] label > input[type=checkbox]{
    margin-left: 3px!important;
    margin-right: unset;
}

body[lang=ar] #search-new .dropdown-menu::after {
    left: unset;
    right: 5%;
}