<div id="RegisterPage"  dir="rtl">
    <link href="/app/css/register.css" rel="stylesheet">
    <link href="/app/css/record.css" rel="stylesheet">
    <register-top-menu></register-top-menu>

    <div class="innerPageContent register-content card card-1-notrans" style="margin:0;padding:20px;">
        
        <div ng-if="isBch && betaArticle" style="margin:10px;">
            <h1 class="color-green bold" style="margin-bottom:30px;padding-top:15px;"
                ng-bind-html="betaArticle.title | lstring:locale"></h1>
            <div ng-bind-html="betaArticle.content | lstring:locale | toTrusted"></div>
        </div>

        <div class="register-content-header bg-darkgrey color-white" >

            <div style="padding:10px 10px;"><span class="btn-group pull-right dashboard-tour" dir="rtl"><a rel="noopener" ng-href="#" class="help-tour link2" ng-click="tour()"><i class="fa fa-question-circle" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">جولة في لوحة التحكم</span></a></span><h3>لوحة التحكم</h3>
            </div>            
        </div>
        <div class="register-content-content" style="background-color: #fff!important;">
            <div style="margin:10px 0 20px 0;">

                <h4 style="margin-top:0; margin-bottom:0; padding:0 0 5px 0;border-bottom:1px solid #ddd;"><i class="fa fa-chevron-circle-down cursor" ng-show="!showProfileInfo" aria-hidden="true"
                        ng-click="showProfileInfo=true;toggleTooTip()"></i> <i class="fa fa-chevron-circle-up cursor" ng-show="showProfileInfo" aria-hidden="true"
                        ng-click="showProfileInfo=false"></i> <span class="hidden-xs">Welcome</span> <span id="showProfileInfo" class="color-black bold"><span ng-bind="user.name"></span> (<span class="new-css-dashboard-roles" ng-if="roles.isPublishingAuthority && isAbs">Publishing Authority</span> <span class="comma new-css-dashboard-roles" ng-if="roles.isNationalFocalPoint && isAbs">National Focal Point</span> <span class="comma new-css-dashboard-roles" ng-if="roles.isPublishingAuthority && isBch">BCH National Focal Point</span> <span class="comma new-css-dashboard-roles" ng-if="roles.isNationalFocalPoint && isBch">Cartagena National Focal Point</span> <span class="comma new-css-dashboard-roles" ng-if="roles.isNationalAuthorizedUser">National Authorized User</span>)</span></h4>

                <div class="row" id="welcomeSection"
                    style="background-color: #f9f9f9;border:1px solid #ddd; border-top: 0; margin:0px; padding:10px 0 10px 0; border-bottom-left-radius: 5px;border-bottom-right-radius: 5px; "
                    ng-if="showProfileInfo">
                    <div class="col-md-6 cp-header">
                        <table>
                            <tr>
                                <td>
                                    <label>الاسم:</label>
                                </td>
                                <td ng-bind="user.name"></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>عنوان البريد الإلكتروني الرئيسي:</label>
                                </td>
                                <td ng-bind="user.email"></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>بلد الانتساب:</label>
                                </td>
                                <td ng-if="user.government"><a rel="noopener" translation-url href="/countries/{{user.government | uppercase}}" ng-bind="userCountry|term"></a></td>
                                <td ng-if="!user.government">لا يوجد</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6 cp-header">
                        <table>
                            <td>
                                <label><a rel="noopener" href="#" ng-click="showUserRoles()">الدور (الأدوار):</a></label>
                            </td>
                            <td><span class="comma" ng-if="roles.isNationalFocalPoint"><span ng-if="isAbs">National Focal Point <span href="#" class="helpinfoInline fa fa-info-circle color-litegrey" data-bs-toggle="tooltip" data-html="true" data-container="body"
                                        title="نقطة الاتصال الوطنية مسؤولة عن التنسيق مع الأمانة وتعيين نفسها أو أي مستخدم آخر كسلطة نشر."></span></span> <span ng-if="isBch">Cartagena National Focal Point (CPB-NFP) <span href="#" class="helpinfoInline fa fa-info-circle color-litegrey" data-bs-toggle="tooltip" data-html="true" data-container="body"
                                            title="نقاط الاتصال الوطنية مسؤولة عن التنسيق مع الأمانة وكذلك تعيين نفسها أو أي مستخدم آخر كنقطة اتصال بغرفة تبادل معلومات السلامة الأحيائية. يمكن لنقطة الاتصال الوطنية إنشاء مسودة سجلات وطنية وتقديمها إلى نقطة الاتصال بغرفة تبادل معلومات السلامة الأحيائية للنشر."></span></span></span> <span class="comma" ng-if="roles.isPublishingAuthority"><span ng-if="isAbs">Publishing Authority (PA) <span href="#" class="helpinfoInline fa fa-info-circle color-litegrey" data-bs-toggle="tooltip" data-html="true" data-container="body" 
                                        title="يجوز لكل دولة تعيين سلطة نشر واحدة فقط. مهمة سلطة النشر هي إتاحة المعلومات للجميع من خلال التحقق من السجلات ونشرها. يمكن لسلطة النشر أيضًا تعيين المستخدمين الوطنيين المعتمدين الذين يمكنهم إعداد مسودات السجلات لبلدهم وتقديمها إلى سلطة النشر."></span></span> <span ng-if="isBch">BCH National Focal Point (BCH-NFP) <span href="#" class="helpinfoInline fa fa-info-circle color-litegrey" data-bs-toggle="tooltip" data-html="true" data-container="body" 
                                            title="يمكن لكل بلد تعيين جهة اتصال واحدة لغرفة تبادل معلومات السلامة الأحيائية يكون دورها نشر السجلات الوطنية في غرفة تبادل معلومات السلامة الأحيائية. يمكن لنقطة اتصال غرفة تبادل معلومات السلامة الأحيائية إنشاء وتحرير ونشر السجلات الوطنية. ويمكن لنقطة الاتصال بغرفة تبادل معلومات السلامة الأحيائية أيضًا تعيين المستخدمين الوطنيين المعتمدين الذين يمكنهم إعداد مسودات السجلات لبلدهم وإرسالها إلى نقطة اتصال غرفة تبادل معلومات السلامة الأحيائية للتحقق منها ونشرها."></span></span></span> <span class="comma" ng-if="roles.isNationalAuthorizedUser">National Authorized User (NAU) <span ng-if="isBch" href="#" class="helpinfoInline fa fa-info-circle color-litegrey" data-bs-toggle="tooltip" data-html="true" data-container="body" 
                                        title="يمكن للمستخدم الوطني المعتمد إنشاء مسودة السجلات الوطنية وإرسالها إلى سلطة النشر للموافقة والنشر."></span><span ng-if="isAbs" href="#" class="helpinfoInline fa fa-info-circle color-litegrey" data-bs-toggle="tooltip" data-html="true" data-container="body" 
                                        title="يستطيع المستخدم الوطني المعتمد إنشاء مسودة السجلات الوطنية وإرسالها إلى سلطة النشر للموافقة عليها."></span></span> </span>

                                <span class="comma" ng-if="roles.isUser && (!roles.isNationalFocalPoint && !roles.isPublishingAuthority && !roles.isNationalAuthorizedUser)">Registered User <span href="#" class="helpinfoInline fa fa-info-circle color-litegrey" data-bs-toggle="tooltip" data-html="true" data-container="body" 
                                        title="بإمكان المستخدم العادي إنشاء مسودة من السجلات المرجعية وطلب نشرها من أمانة اتفاقية التنوع البيولوجي."></span></span>
                                
                                    <span class="comma" ng-if="roles.isAdministrator"><strong class="color-pink">Admin</strong></span>
                                </span>

                            </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>تحديث البيانات:</label>
                                </td>
                                <td><a rel="noopener" translation-url href="https://accounts.cbd.int/profile" target="_blank">accounts.cbd.int/profile</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>تحديث كلمة المرور:</label>
                                </td>
                                <td><a rel="noopener" translation-url href="https://accounts.cbd.int/password" target="_blank">accounts.cbd.int/password</a></td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <top-requests view-all-url="/register/requests"></top-requests>

            <div id="SubmitPage" style="background-color:#f9f9f9;">

                <div id="menuPlaceholder" ng-if="roles.isUser" class="bg-white">
                    <div class="row" style="padding:0;margin:0 0 5px 0;">
                        <table class="overview table" style="width:100%;">
                            <thead></thead>
                            <tbody>
                                <tr>
                                    <td style="min-width:250px;" class="bold">
                                        <h4 style="padding:0;margin:0;" id="recordOverview">نبذة عامة عن السجل</h4>
                                    </td>
                                    <td style="max-width:10%;" class="hidden-xs bold"><span id="offlineFormat" class="pull-right">تنسيقات تستخدم بلا اتصال بالإنترنت</span></td>
                                    <td id="publishFormat" style="width:7%;" class="hidden-xs text-center bold"><span
                                            class="label label-success"></span> منشور</td>
                                    <td style="width:7%;" class="hidden-xs text-center bold"><span
                                            class="label label-default"></span> مسودات</td>
                                    <td style="width:7%;" class="hidden-xs text-center bold"><span
                                            class="label label-danger"></span> طلبات</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div>
                    <div id="menuPlaceholder" ng-if="roles.isNationalUser||roles.is('Administrator')" style="margin:10px 0 20px 0;">

                        <div class="row" style="padding:0;margin:0 1px 0 1px; border-bottom:1px solid #ddd; "><span class="color-blue">السجلات الوطنية</span> <span href="#" class="helpinfoInline fa fa-info-circle color-litegrey" data-bs-toggle="tooltip" data-html="true" data-container="body" ng-if="isAbs"
                                title="يتم نشر السجلات الوطنية من قِبل الحكومات، وتتضمن المعلومات التي يلتزم الأطراف بتقديمها وفقًا للبروتوكول بالإضافة إلى المعلومات الوطنية الأخرى ذات الصلة بتنفيذ البروتوكول."></span> <span href="#" class="helpinfoInline fa fa-info-circle color-litegrey" data-bs-toggle="tooltip" data-html="true" data-container="body" ng-if="isBch"
                                title="يتم نشر السجلات الوطنية من قبل الحكومات، وتشمل المعلومات التي يلتزم الأطراف بتقديمها وفقًا للبروتوكول بالإضافة إلى المعلومات الوطنية الأخرى ذات الصلة بتنفيذ البروتوكول."></span></div>

                        <div ng-if="::roles.isNationalSchemaUser('focalPoint') || roles.is('Administrator')">
                            <table class="overview table  table-hover" style="width:100%;">
                                <thead></thead>
                                <tbody>
                                    <tr>
                                        <td style="width:70px;">
                                            <div class="btn-group btn-group-xs" style="width:70px;" role="group">
                                                <button disabled type="button" class="btn btn-xs btn-default" title="Quick view latest 10 records" data-bs-toggle="tooltip" ><i class="fa fa-chevron-circle-down cursor"></i></button>
                                                <button disabled type="button" class="btn btn-xs btn-default" title="إنشاء سجل جديد" data-bs-toggle="tooltip" ><i class="fa fa-plus"></i></button>
                                                <button disabled type="button" class="btn btn-xs btn-default" title="View list of all records" data-bs-toggle="tooltip" ><i class="fa fa-list"></i></button>
                                            </div>
                                        </td>
                                        <td style="min-width:180px!important;"><a rel="noopener" translation-url href="/search" class="color-darkgrey" style="font-weight:500;">نقاط الاتصال الوطنية (NFP)</a> <span ng-if="schemas['focalPoint'].description" href="#" class="helpinfoInline fa fa-info-circle color-litegrey" 
                                            data-bs-toggle="tooltip" data-html="true" title="{{schemas['focalPoint'].description|lstring:locale}}" data-container="body"></span></td>
                                        <td style="max-width:10%"><span class="hidden-xs pull-right" ng-include="'offline-formats'" onload="schema='focalPoint'"></span></td>
                                        <td style="width:21%;" colspan="3" class="text-center hidden-xs"><a rel="noopener" href="/kb/tags/getting-started/Procedure-for-nominating-National-Focal-Points/619c555d4f1f30000140eef4" ng-if="isBch">Explanatory Note on the appointment of NFPs <i class="fa fa-external-link"></i></a> <span rel="noopener" ng-if="isAbs">ABS-NFP designation must be submitted offline</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-if="isAbs">
                            <table class="overview table  table-hover" style="width:100%;">
                                <thead></thead>
                                <tbody>
                                    <tr>
                                        <td style="width:70px;">
                                            <div class="btn-group btn-group-xs" style="width:70px;" role="group">
                                                <button disabled type="button" class="btn btn-xs btn-default" title="Quick view latest 10 records" data-bs-toggle="tooltip" ><i class="fa fa-chevron-circle-down cursor"></i></button>
                                                <button disabled type="button" class="btn btn-xs btn-default" title="إنشاء سجل جديد" data-bs-toggle="tooltip" ><i class="fa fa-plus"></i></button>
                                                <button disabled type="button" class="btn btn-xs btn-default" title="View list of all records" data-bs-toggle="tooltip" ><i class="fa fa-list"></i></button>
                                            </div>
                                        </td>
                                        <td style="min-width:180px!important;"><span rel="noopener" class="color-darkgrey" style="font-weight:500;">ABS Publishing Authority (PA)</span></td>
                                        <td style="max-width:10%"><span class="hidden-xs pull-right" ng-include="'offline-formats'" onload="schema='publishingAuthority'"></span></td>
                                        <td style="width:21%;" colspan="3" class="text-center hidden-xs"><a rel="noopener" href="/kb/tags/abs/Designating-or-updating-the-Publishing-Authority-PA-or-National-Authorized-Users-NAUs-/619ea0429b7a7500012450c3" >Update or designate the PA/NAUs <i class="fa fa-external-link"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-repeat="schema in nationalSchemas" ng-if="::roles.isNationalSchemaUser(schema) || roles.is('Administrator')">
                            <table class="overview table table-hover" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td style="width:70px;">
                                            <div class="btn-group btn-group-xs" style="width:70px;" role="group">
                                                <button type="button" class="btn btn-xs btn-default" title="Quick view latest 10 records" data-bs-toggle="tooltip"
                                                    ng-click="showTopRecords($event,schema)"><i class="fa fa-chevron-circle-down cursor"
                                                        ng-class="{'fa-chevron-circle-down':!topRecords[schema], 'fa-chevron-circle-up':topRecords[schema]}"
                                                        aria-hidden="true"></i></button>
                                                    <button type="button" class="btn btn-xs btn-default" title="إنشاء سجل جديد" data-bs-toggle="tooltip"
                                                        ng-click="gotoNew($event,schema)"><i
                                                            class="fa fa-plus"></i></button>
                                                    <button type="button" class="btn btn-xs btn-default" title="View list of all records" data-bs-toggle="tooltip"
                                                        ng-click="gotoList($event,schema)"><i
                                                            class="fa fa-list"></i></button>
                                            </div>
                                        </td>
                                        <td style="min-width:180px!important;"><a rel="noopener" translation-url href="#" ng-click="gotoList($event,schema)"
                                                class="color-darkgrey" style="font-weight:500;"><span ng-bind="schema|schemaNamePlural"></span> (<span ng-bind="schema|urlSchemaShortName"></span>)</a> <span ng-if="schemas[schema].description" href="#" class="helpinfoInline fa fa-info-circle color-litegrey" 
                                                data-bs-toggle="tooltip" data-html="true" title="{{schemas[schema].description|lstring:locale}}" data-container="body"></span></td>
                                        <td style="max-width:10%"><span class="hidden-xs pull-right" ng-include="'offline-formats'"></span></td>
                                        <td style="width:7%;" class="text-center  hidden-xs"><a rel="noopener" translation-url
                                                ng-href="/register/{{schema|urlSchemaShortName|encodeURIComponent}}/status/published"
                                                class="label label-success"
                                                ng-class="{'bg-litegrey': facets(schema,'publish')===0}" ng-bind="facets(schema,'publish')"></a></td>

                                        <td style="width:7%;" class="text-center  hidden-xs"><a rel="noopener" translation-url
                                                ng-href="/register/{{schema|urlSchemaShortName|encodeURIComponent}}/status/drafts"
                                                class="label label-default"
                                                ng-class="{'bg-litegrey': Math.max(0, facets(schema,'draft') - facets(schema,'request'))===0}"><span ng-bind="Math.max(0,facets(schema,'draft') - facets(schema,'request'))"></span></a></td>

                                        <td style="width:7%;" class="text-center  hidden-xs"><a rel="noopener" translation-url
                                                ng-href="/register/{{schema|urlSchemaShortName|encodeURIComponent}}/status/requests"
                                                class="label label-danger"
                                                ng-class="{'bg-litegrey': facets(schema,'request')===0}" ng-bind="facets(schema,'request')"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div ng-if="topRecords[schema]" style="width:100%">
                                <top-records schema="{{schema}}" top="10" style="padding-top:5px;"
                                    show-schema-name="false">
                                </top-records>
                            </div>
                        </div>
                    </div>

                    <div style="padding-bottom: 20px;"  ng-if="::roles.isSchemaUser('contact') || roles.is('Administrator')">
                        <table class="overview table table-hover" style="width:100%;">
                            <thead></thead>
                            <tbody>
                                <tr>
                                    <td style="width:70px;">
                                        <div class="btn-group btn-group-xs" style="width:70px;" role="group">
                                            <button id="quickViewContact" type="button" class="btn btn-xs btn-default" title="Quick view latest 10 records" data-bs-toggle="tooltip"
                                                ng-click="showTopRecords($event,'contact')"><i class="fa fa-chevron-circle-down cursor"
                                                    ng-class="{'fa-chevron-circle-down':!topRecords['contact'], 'fa-chevron-circle-up':topRecords['contact']}"
                                                   aria-hidden="true"></i></button>
                                                <button id="addNewRecordContact" type="button" class="btn btn-xs btn-default" title="إنشاء سجل جديد" data-bs-toggle="tooltip"
                                                    ng-click="gotoNew($event,'contact')"><i
                                                        class="fa fa-plus"></i></button>
                                                <button  id="viewListContact" type="button" class="btn btn-xs btn-default" title="View list of all records" data-bs-toggle="tooltip"
                                                    ng-click="gotoList($event,'contact')"><i
                                                        class="fa fa-list"></i></button>
                                        </div>
                                    </td>
                                    <td style="min-width:180px!important;"><a rel="noopener" translation-url href="#" ng-click="gotoList($event,'contact')"
                                            class="color-darkgrey" style="font-weight:500;"><span ng-bind="schemas['contact'].titlePlural|lstring:locale"></span> (<span ng-bind="schemas['contact'].shortCode|lstring:locale"></span>)</a> <span ng-if="schemas['contact'].description" href="#" class="helpinfoInline fa fa-info-circle color-litegrey" 
                                            data-bs-toggle="tooltip" data-html="true" title="{{schemas['contact'].description|lstring:locale}}" data-container="body"></span></td>
                                    <td style="max-width:10%"><span class="hidden-xs pull-right" ng-include="'offline-formats'" onload="schema='contact'"></span></td>
                                    <td style="width:7%;" class="text-center hidden-xs"><a rel="noopener" translation-url
                                            ng-href="/register/CON/status/published" class="label label-success"
                                            ng-class="{'bg-litegrey': facets('contact','publish')===0}" ng-bind="facets('contact','publish')"></a></td>

                                    <td style="width:7%;" class="text-center  hidden-xs"><a rel="noopener" translation-url
                                            ng-href="/register/CON/status/drafts" class="label label-default"
                                            ng-class="{'bg-litegrey': Math.max(0, facets('contact','draft') - facets('contact','request'))===0}"
                                             ng-bind="Math.max(0, facets('contact','draft') - facets('contact','request'))"></a></td>

                                    <td style="width:7%;" class="text-center  hidden-xs"><a rel="noopener" translation-url
                                            ng-href="/register/CON/status/requests" class="label label-danger"
                                            ng-class="{'bg-litegrey': facets('contact','request')===0}" ng-bind="facets('contact','request')"></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="topRecords['contact']" style="position: relative;top:-5px;">
                            <top-records schema="contact" top="10" style="padding-top:5px;" show-schema-name="false">
                            </top-records>
                        </div>

                    </div>

                    <div>
                        <div class="row" style="padding:0;margin:0 1px 0 1px; border-bottom:1px solid #ddd; "><span class="color-orange">السجلات المرجعية <span href="#" class="helpinfoInline fa fa-info-circle color-litegrey" data-bs-toggle="tooltip" data-html="true" data-container="body" ng-if="isAbs"
                                    title="تتضمن السجلات المرجعية عددًا من الموارد والمعلومات المُتعلقة بالحصول على الموارد وتقاسم المنافع والتي يمكن أن يقدمها أي مستخدم مُسجل ويتم التحقق من صحتها من قِبل الأمانة قبل نشرها." ></span> <span href="#" class="helpinfoInline fa fa-info-circle color-litegrey" data-bs-toggle="tooltip" data-html="true" data-container="body"  ng-if="isBch"
                                    title="تتضمن السجلات المرجعية عددًا من الموارد والمعلومات المُتعلقة بالسلامة الأحيائية التي يمكن أن يقدمها أي مستخدم مسجل ويتم التحقق من صحتها من قِبل الأمانة قبل نشرها." ></span></span></div>

                        <div ng-repeat="schema in referenceSchemas"   ng-if="::roles.isSchemaUser(schema) || roles.is('Administrator')">
                            <table class="overview table table-hover" style="width:100%;">
                                <thead></thead>
                                <tbody>
                                    <tr>
                                        <td style="width:70px;">
                                            <div class="btn-group btn-group-xs" style="width:70px;" role="group">
                                                <button type="button" class="btn btn-xs btn-default" title="Quick view latest 10 records" data-bs-toggle="tooltip"
                                                    ng-click="showTopRecords($event,schema)"><i class="fa fa-chevron-circle-down cursor"
                                                        ng-class="{'fa-chevron-circle-down':!topRecords[schema], 'fa-chevron-circle-up':topRecords[schema]}"
                                                        aria-hidden="true"></i><button type="button" class="btn btn-xs btn-default" title="إنشاء سجل جديد" data-bs-toggle="tooltip"
                                                        ng-click="gotoNew($event,schema)"><i
                                                            class="fa fa-plus"></i></button>
                                                    <button type="button" class="btn btn-xs btn-default" title="View list of all records" data-bs-toggle="tooltip"
                                                        ng-click="gotoList($event,schema)"><i
                                                            class="fa fa-list"></i></button>
                                            </div>
                                        </td>
                                        <td style="min-width:180px!important;"><a rel="noopener" translation-url href="#" ng-click="gotoList($event,schema)"
                                                class="color-darkgrey" style="font-weight:500;"><span ng-bind="schema|schemaNamePlural"></span> (<span ng-bind="schema|urlSchemaShortName"></span>)</a> <span ng-if="schemas[schema].description" href="#" class="helpinfoInline fa fa-info-circle color-litegrey" 
                                            data-bs-toggle="tooltip" data-html="true" title="{{schemas[schema].description|lstring:locale}}" data-container="body"></span></td>
                                        <td style="max-width:10%"><span class="hidden-xs pull-right" ng-include="'offline-formats'"></span></td>
                                        <td style="width:7%;" class="text-center  hidden-xs"><a rel="noopener" translation-url
                                                ng-href="/register/{{schema|urlSchemaShortName|encodeURIComponent}}/status/published"
                                                class="label label-success"
                                                ng-class="{'bg-litegrey': facets(schema,'publish')===0}" ng-bind="facets(schema,'publish')"></a></td>

                                        <td style="width:7%;" class="text-center  hidden-xs"><a rel="noopener" translation-url
                                                ng-href="/register/{{schema|urlSchemaShortName|encodeURIComponent}}/status/drafts"
                                                class="label label-default"
                                                ng-class="{'bg-litegrey': Math.max(0, facets(schema,'draft') - facets(schema,'request'))===0}" ng-bind="Math.max(0,
                                            facets(schema,'draft') - facets(schema,'request'))"></a></td>

                                        <td style="width:7%;" class="text-center  hidden-xs"><a rel="noopener" translation-url
                                                ng-href="/register/{{schema|urlSchemaShortName|encodeURIComponent}}/status/requests"
                                                class="label label-danger"
                                                ng-class="{'bg-litegrey': facets(schema,'request')===0}" ng-bind="facets(schema,'request')"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div ng-if="topRecords[schema]" style="width:100%">
                                <top-records schema="{{schema}}" top="10" style="padding-top:5px;" show-schema-name="false">
                                </top-records>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/ng-template" trados-translation="true" id="rolesDialog">
                <div class="modal-header" dir="rtl">
                    <h3 class="modal-title">المهام</h3>
                </div>
                <div class="modal-body" dir="rtl"> 
                    <table class="table table-striped table-bordered table-condensed" style="width:100%">                                
                        <tr ng-repeat="role in userRoles|orderBy:'name'">                                    
                            <td ng-bind="role.name"></td>             
                        </tr>
                    </table>  
                </div>
                <div class="modal-footer" dir="rtl">
                    <button type="button" class="btn btn-default" aria-label="Close" ng-click="closeDialog()" ng-disabled="loading">إغلاق</button>
                </div>
            </script>

            <script type="text/ng-template" trados-translation="true" id="offline-formats">                
                <span ng-repeat="(code, lang) in ::languages" title="{{::lang}}" data-bs-toggle="tooltip" data-container="body" 
                    ng-if="::offlineFormats[schema][code]" dir="rtl"><a rel="noopener" target="_blank" ng-href="{{::offlineFormats[schema][code]|encodeURI}}" ng-bind="::code"></a> <span ng-if="::!$last">|</span></span></script>
        </div>
        
        
    </div>
    <joyride ng-if="tourOn"></joyride>
</div><!-- controller -->