<div id="SubmitPage" dir="rtl">
    
    <div class="container">
        
        <h1>إرسال المعلومات</h1>
    
        <h2>تسجيل السجلات الوطنية</h2>
        <p>إرسال السجلات ضمن هذه الفئة مقصور علي ‏المستخدمين الوطنيين المرخصين ‏‏والمستخدمين الوطنيين المرخصين. سيتم توجيه كل السجلات التي يرسلها المستخدمون الوطنيون المفوضون إلى نقطة الاتصال الوطنية في غرفة تبادل معلومات السلامة الأحيائية للمراجعة والتحقق قبل النشر (انظر الأسئلة الشائعة.</p>
        
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="s in ::recordTypesCtrl.schemas.national" >
                <h3 style="font-size:auto" ng-bind="::s.title"></h3>
                <p style="min-height:100px" ng-bind="::s.description"></p><a rel="noopener" translation-url ng-href="register/{{s.schema|urlSchemaShortName|encodeURIComponent}}" class="btn btn-default" style="width:100%">إرسال</a></div>
        </div>
        
        <h2>تسجيل السجلات المرجعية</h2>
        <p>يستطيع كل المستخدمين المُسجلين إرسال السجلات في هذه الفئة. هذه السجلات ستراجعها الأمانة وتصادق على صحتها قبل النشر (انظر الأسئلة السائعة).</p>
        
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="s in ::recordTypesCtrl.schemas.reference" >
                <h3 style="font-size:auto" ng-bind="::s.title"></h3>
                <p style="min-height:100px" ng-bind="::s.description"></p><a rel="noopener" ng-href="register/{{s.schema|urlSchemaShortName|encodeURIComponent}}" class="btn btn-default" style="width:100%">إرسال</a></div>
        </div>
    </div>
</div>