<div>

    <style>
        .radio label{
            padding:20px;
        }
        .radio-inline{
            display: inline-block !important;
        }
        .ngdialog.ngdialog-theme-default .ngdialog-content{padding:0;}
        
        .ngdialog-theme-default.wide .ngdialog-content{
            min-width:70% !important;
        }
        .modal-body{background-color:#FFF;}
         #datatable .tableexport-caption{
            display: none!important;
        } 
    </style>
    <div class="row">
        <div class="col-xs-12" >
            <div style="color:#bbb;text-transform: uppercase;font-weight: 500;text-shadow: 0px 1px 0px rgba(255,255,255,.5);cursor:pointer;"  ng-click="showDialog()" ng-disabled="loading">
                <span ng-if="helpTitle" class="helpinfoInline fa fa-table " data-bs-toggle="tooltip" data-html="true" data-title="{{helpTitle}}" data-container="body"></span>
            Export</div>
        </div>
    </div>
	<script type="text/ng-template" trados-translation="true" id="exportDialog">
        <div class="modal-header">
            <h3 class="modal-title">
                Export search 
            </h3>
        </div>
        <div class="modal-body" ng-disabled="forTour">		
            <!--<div class="form-group">
                <label for="filterTitle">Fields</label>
                
                    <button type="button" class="btn btn-info" ng-class="{'btn-primary' : field.checked}" ng-repeat="field in fields" ng-click="field.checked = !field.checked">
                        <i class="fa"  ng-class="{'a-check-square-o' : field.checked, 'fa-square-o' : !field.checked }"></i>
                        {{field.name}}
                    </button>
            </div>-->
            <div class="form-group">
                    Download Format :
                    <span class="radio" style="display: initial;">
                        <label class="radio-inline"><input type="radio" name="downloadFormatOption" value="xls" ng-model="downloadFormat" />XLS (Excel)</label>                   
                        <label class="radio-inline"><input type="radio" name="downloadFormatOption" value="xlsx" ng-model="downloadFormat" />XLSX (Excel)</label>                   
                        <label class="radio-inline"><input type="radio" name="downloadFormatOption" value="csv" ng-model="downloadFormat" />CSV (comma separated values)</label>
                    </span>
            </div>
            <div id="divTable"  style="max-height:300px;overflow:scroll; ">
                    <table id="datatable" class="table table-striped table-bordered table-condensed">
                        <thead>                        
                        <tr>
                            <th class="tableexport-string">Type</th>
                            <th class="tableexport-string">UID</th>
                            <th class="tableexport-string">Government</th>
                            <th class="tableexport-string">Title </th>
                            <th style="white-space:nowrap;" class="tableexport-string">Info 1 </th>
                            <th style="white-space:nowrap;" class="tableexport-string">Info 2 </th>
                            <th style="white-space:nowrap;" class="tableexport-string">Info 3 </th>
                            <th style="white-space:nowrap;" class="tableexport-string">Info 4 </th>
                            <th style="white-space:nowrap;" class="tableexport-string">Published on</th>
                            <th style="white-space:nowrap;" class="tableexport-string" ng-if="customFieldList.length>0" ng-repeat="field in  customFieldList"><span ng-bind="field"></span></th>
                        </tr>
                        </thead>
                        
                        <tr ng-repeat="row in downloadDocs">
                            <td class="tableexport-string" ng-bind="row.schema_s|schemaName"></td>
                            <td class="tableexport-string"><a rel="noopener" ng-href="https://absch.cbd.int/database/{{row.uniqueIdentifier_s|uppercase|encodeURIComponent}}" ng-bind="row.uniqueIdentifier_s|uppercase"></a></td>
                            <td class="tableexport-string" ng-bind="row.government"></td>
                            <td class="tableexport-string" ng-bind="row.rec_title"></td>
                            <td class="tableexport-string">{{getMeta(row.rec_meta1)}}</td>
                            <td class="tableexport-string">{{getMeta(row.rec_meta2)}}</td>
                            <td class="tableexport-string">{{getMeta(row.rec_meta3)}}</td>
                            <td class="tableexport-string">{{getMeta(row.rec_meta4)}}</td>  
                            <td class="tableexport-string">{{row.rec_date|formatDate}}</td> 
                            <td style="white-space:nowrap;" class="tableexport-string" ng-if="customFieldList.length>0" ng-repeat="field in  customFieldList">{{row[field]}}</td>                             
                        </tr>
                    </table>
                   <h3 class="color-red bold">This is only sample of the information to be exported. All records retrieved by this search will be included in the export.</h3>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" aria-label="Close" ng-click="closeDialog()" ng-disabled="loading||forTour">Cancel</button>
            <button type="button" class="btn btn-primary float-end" aria-label="Download" ng-click="downloadData()"  ng-disabled="loading||forTour" id="downloadDataFile">
                <i class="fa fa-spin fa-spinner" ng-if="loading" ></i> Download
            </button>
            
            <button ng-if="isAdministrator" type="button" class="btn btn-success float-start" aria-label="Custom Fields" ng-click="customFields()"  ng-disabled="loading" id="customFields">
                <i class="fa fa-spin fa-spinner" ng-if="loading" ></i> Custom Fields
            </button>      
        </div>
    </script>


	<script type="text/ng-template" trados-translation="true" id="customFieldsDialog">
        <div class="modal-header">
            <h3 class="modal-title">
                Custom Fields
            </h3>
        </div>
        <div class="modal-body">		
            <div id="divTable"  style="max-height:300px;overflow:scroll;  ">
                    <input ng-model="fieldSearch" class="form-control" placeholder="search fields" />
                    <table id="datatable" class="table table-striped table-bordered table-condensed">
                        <tr>
                            <th></th>
                            <th>Field</th>
                            <th>Description</th>
                        </tr>
                        <tr ng-repeat="field in fields | filter:fieldSearch">
                            <td><input type="checkbox" ng-model="field.selected"/></td>
                            <td ng-bind="field.title"></td>
                            <td ng-bind="field.description"></td>
                        </tr>
                        <!-- <tr ng-repeat="field in customFields">
                            <td><input type="checkbox" ng-model="field.selected"/></td>
                            <td>{{field.title}}</td>
                            <td>{{field.description}}</td> 
                        </tr> -->
                    </table>                   
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" aria-label="Close" ng-click="closeDialog()" ng-disabled="loading">Cancel</button>
            <button type="button" class="btn btn-primary float-start" ng-click="done()" id="downloadDataFile">
                <i class="fa fa-spin fa-spinner" ng-if="loading" ></i> Done
            </button>
        </div>
    </script>
</div>
