<div id="Announcements">
<style>

#Announcements img{
  
}

.news-date{vertical-align: text-bottom;padding:3px 0; font-size: 10px; text-transform: uppercase; }
.noimage{display: table-cell; vertical-align: middle; font-size:24px;padding:10px; top:-20px;position: relative; }

</style>
    <h4 style="padding-bottom:5px;margin-bottom:0;padding-top:20px;">
        Announcements
        <span class="pull-right more-link" style="top:10px; position: relative;"> <a rel="noopener" href="/articles/" class="color-litegrey"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> {{articlesCount}} records </a></span>
    </h4>
    <div style="border-top:1px solid #DDD; margin-bottom:8px;">
        <div class="row" style="max-height:180px;overflow:hidden;">
           <div  ng-repeat="article in articles | orderBy:'meta.createdOn':true | limitTo:9" style="cursor:pointer;" class="col-xs-12 col-md-6 col-lg-4"  >
                <div  class='row' style="margin:0px 0px;">
                        <table  style="width:100%;height:80px;background-color:#f9f9f9;border-top:1px solid #ddd; border-bottom:1px solid #ddd;margin:5px 0px;" ng-click="loadArticle(article._id)">
                            <tr>
                                <td style="width:80px;padding:3px 7px 3px 10px;"> 
                                    <img ng-src="{{getSizedImage(article.coverImage.url, '100x100')}}"  style="width:100%;height:auto;" height="42" width="42"></img>
                                </td>
                                <td style="padding:3px;">
                                        <h4 style="font-size:14px;padding:0;margin:0;" ng-class="{'noimage':!article.coverImage.url}">
                                        <span style="display:block;font-size: 10px; text-transform: uppercase;" class="color-blue bold">{{article.summary | lstring:locale}}</span>
                                        {{article.title | lstring:locale}}</h4>
                                        <span class="news-date">{{article.meta.createdOn | formatDateWithUtc}}</span>
                                </td>
                            </tr>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>
