<div ng-hide="loadingFacets">
    <style>
        #National .statsBox {
            background-color: #428BCA;
            padding: 5px;
            border-radius: 3px;
            text-align: center;
            margin: auto;
            width: 100%;
        }

        #Reference .statsBox {
            background-color: #fa6938;
            padding: 5px;
            min-height: 100px;
            border-radius: 3px;
            text-align: center;
            margin: auto;
            width: 100%;
        }

        #SCBDRecs .statsBox {
            background-color: #999;
            padding: 5px;
            height: 100px;
            border-radius: 3px;
            text-align: center;
            margin: auto;
            width: 100%;
        }

        .countryCount {
            font-size: 22px;
            font-weight: bold;
            color: white!important;
        }

        .countryText {
            font-size: 22px;
            font-weight: normal;
            color: #bbb!important;
        }

        .havePublished {
            color: #bbb!important;
            width: 100%;
            white-space: nowrap;
        }

        .recordText {
            color: #111!important;
            line-height: 1;
            padding-top: 3px;
        }

        .center {
            margin: auto;
            width: 100%;
            text-align: center;
        }

        @media (max-width: 680px) {
            #National .statsBox {
                height: 100px!important;
                ;
                margin-top: 10px!important;
            }
        }

        @media (min-width: 681px) {
            #National .statsBox {
                height: 100px;
                margin-top: 10px!important;
            }
        }

        @media (max-width: 768px) {
            #Reference .statsBox {
                margin-top: 10px!important;
            }
            #SCBDRecs .statsBox {
                margin-top: 10px!important;
            }
        }

        @media (min-width: 992px) {
            .seven-cols .col-md-1,
            .seven-cols .col-sm-1,
            .seven-cols .col-lg-1 {
                width: 14.285714285714285714285714285714%;
                *width: 14.285714285714285714285714285714%;
            }
            #National .statsBox {
                min-height: {{nationalRecords.absCheckpoint.recordCountpx!important;
            }
        }

        @media (min-width: 1115px) {
            #National .statsBox {
                min-height: 120px!important;
            }
        }

        @media (min-width: 1450px) {
            #National .statsBox {
                min-height: 100px!important;
            }
        }

        .flex {
            display: flex;
            justify-content: space-between;
        }

    </style>
    


    <h3 style="padding-left:15px;padding-bottom:0;margin-bottom:0;" class="color-blue">
        National records &nbsp;
        <help-popover title="title" content="content" placement="top"></help-popover>
    </h3>
    <div style="margin-left:15px;padding-left:15px;border-top:1px solid #BBB;"></div>

    <div class="row-fluid seven-cols center" id="National">

        <div class="col-xs-6 col-sm-3 col-lg-1 flex">
            <div class="statsBox color-white special-font">
                <div>
                    <span class="countryCount">{{nationalRecords.focalPoint.countryCount}}</span> &nbsp;
                    <span class="countryText">Countries</span>
                </div>
                <div class="havePublished"> - have published
                    <span class="color-white">{{nationalRecords.focalPoint.recordCount}}</span> - </div>
                <div class="recordText">ABS Focal Points&nbsp;<i class="info fa fa-question-circle"></i> </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3  col-lg-1 flex">
            <div class="statsBox color-white special-font">
                <div>
                    <span class="countryCount">{{nationalRecords.authority.countryCount}}</span> &nbsp;
                    <span class="countryText">countries</span>
                </div>
                <div class="havePublished"> - have published
                    <span class="color-white">{{nationalRecords.authority.recordCount}}</span> - </div>
                <div class="recordText">Competent National Authorities&nbsp;<i class="info fa fa-question-circle"></i> </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-lg-1 flex">
            <div class="statsBox color-white special-font">
                <div>
                    <span class="countryCount">{{nationalRecords.measure.countryCount}}</span> &nbsp;
                    <span class="countryText">countries</span>
                </div>
                <div class="havePublished"> - have published
                    <span class="color-white">{{nationalRecords.measure.recordCount}}</span> - </div>
                <div class="recordText">Legislative, Administrative or Policy Measures&nbsp;<i class="info fa fa-question-circle"></i> </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-lg-1 flex">
            <div class="statsBox color-white special-font">
                <div>
                    <span class="countryCount">{{nationalRecords.database.countryCount}}</span> &nbsp;
                    <span class="countryText">countries</span>
                </div>
                <div class="havePublished"> - have published
                    <span class="color-white">{{nationalRecords.database.recordCount}}</span> - </div>
                <div class="recordText">National Websites and Databases&nbsp;<i class="info fa fa-question-circle"></i> </div>
            </div>
        </div>


        <div class="col-xs-6 col-sm-3 col-lg-1 flex">
            <div class="statsBox color-white special-font">
                <div>
                    <span class="countryCount">{{nationalRecords.absPermit.countryCount}}</span> &nbsp;
                    <span class="countryText">countries</span>
                </div>
                <div class="havePublished"> - have published
                    <span class="color-white">{{nationalRecords.absPermit.recordCount}}</span> - </div>
                <div class="recordText">Internationally Recognized Certificates of Compliance&nbsp;<i class="info fa fa-question-circle"></i> </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-lg-1 flex">
            <div class="statsBox color-white special-font">
                <div>
                    <span class="countryCount">{{nationalRecords.absCheckpoint.countryCount}}</span> &nbsp;
                    <span class="countryText">countries</span>
                </div>
                <div class="havePublished"> - have published
                    <span class="color-white">{{nationalRecords.absCheckpoint.recordCount}}</span> - </div>
                <div class="recordText">Checkpoints&nbsp;<i class="info fa fa-question-circle"></i> </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-lg-1 flex">
            <div class="statsBox color-white special-font">
                <div>
                    <span class="countryCount">{{nationalRecords.absCheckpointCommunique.countryCount}}</span> &nbsp;
                    <span class="countryText">countries</span>
                </div>
                <div class="havePublished"> - have published
                    <span class="color-white">{{nationalRecords.absCheckpointCommunique.recordCount}}</span> - </div>
                <div class="recordText">Checkpoint Communiqués&nbsp;<i class="info fa fa-question-circle"></i> </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <h3 style="padding-left:15px;padding-bottom:0;margin-bottom:0;margin-top:50px;" class="color-orange">
        Reference records&nbsp;<i class="info fa fa-question-circle"></i></h3>
    <div style="margin-left:15px;padding-left:15px;border-top:1px solid #BBB;"></div>
    <div class="row-fluid">
        <div class="col-md-3">
            <div class="bg-orange" style="height:36px;">
                <h5 style="padding:3px;" class="color-white">
                    <span class="pull-right badge bg-white">{{referenceRecords.capacityBuildingResource.recordCount}}</span> Literature and Capacity Building Resources </h5>
            </div>
            <div ng-repeat="doc in referenceRecords.capacityBuildingResource.docs" ng-show="doc.title_t && $index < 5">
                <!-- <div id="capacityBuildingResources" ng-include="home-list.html"> -->
                <a href="{{doc.schema_s|mapSchema}}/{{doc.identifier_s}}" target="_new" style="padding-bottom:5px;">
                    <span style="text-transform:uppercase;font-weight:bold;font-size:10px;"> {{doc.createdDate_dt | formatDate}}</span>
                    <span class="color-grey" style="display:block;font-size:12px;">{{doc.title_t.length > 120 ? (doc.title_t | limitTo : 120) + "..." : doc.title_t }}</span>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-orange" style="height:36px;">
                <h5 style="padding:3px;" class="color-white">
                    <span class="pull-right badge bg-white">{{referenceRecords.modelContractualClause.recordCount}}</span>Model Contractual Clauses, Codes of Conduct, Guidelines, Best Practices and/or Standards </h5>
            </div>
            <div ng-repeat="doc in referenceRecords.modelContractualClause.docs" ng-show="doc.title_t && $index < 5">
                <!-- <div id="modelContractualClause" ng-include="home-list.html"> -->
                <a href="{{doc.schema_s|mapSchema}}/{{doc.identifier_s}}" target="_new" style="padding-bottom:5px;">
                    <span style="text-transform:uppercase;font-weight:bold;font-size:10px;"> {{doc.createdDate_dt | formatDate}}</span>
                    <span class="color-grey" style="display:block;font-size:12px;">{{doc.title_t.length > 120 ? (doc.title_t | limitTo : 120) + "..." : doc.title_t }}</span>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-orange" style="height:36px;">
                <h5 style="padding:3px;" class="color-white">
                    <span class="pull-right badge bg-white">{{referenceRecords.communityProtocol.recordCount}}</span> Community protocols and procedures and customary laws </h5>
            </div>
            <div ng-repeat="doc in referenceRecords.communityProtocol.docs" ng-show="doc.title_t && $index < 5">
                <!-- <div id="communityProtocol" ng-include="home-list.html"> -->
                <a href="{{doc.schema_s|mapSchema}}/{{doc.identifier_s}}" target="_new" style="padding-bottom:5px;">
                    <span style="text-transform:uppercase;font-weight:bold;font-size:10px;"> {{doc.createdDate_dt | formatDate}}</span>
                    <span class="color-grey" style="display:block;font-size:12px;">{{doc.title_t.length > 120 ? (doc.title_t | limitTo : 120) + "..." : doc.title_t }}</span>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-orange" style="height:36px;">
                <h5 style="padding:3px;" class="color-white">
                    <span class="pull-right badge bg-white">{{referenceRecords.capacityBuildingInitiative.recordCount}}</span> Capacity Building Initiatives</h5>
            </div>
            <div ng-repeat="doc in referenceRecords.capacityBuildingInitiative.docs" ng-show="doc.title_t && $index < 5">
                <!-- <div id="capacityBuildingInitiative" ng-include="home-list.html"> -->
                <a href="{{doc.schema_s|mapSchema}}/{{doc.identifier_s}}" target="_new" style="padding-bottom:5px;">
                    <span style="text-transform:uppercase;font-weight:bold;font-size:10px;"> {{doc.createdDate_dt | formatDate}}</span>
                    <span class="color-grey" style="display:block;font-size:12px;">{{doc.title_t.length > 120 ? (doc.title_t | limitTo : 120) + "..." : doc.title_t }}</span>
                </a>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <h3 style="padding-left:15px;padding-bottom:0;margin-bottom:0;margin-top:50px;">
        SCBD records&nbsp;<i class="info fa fa-question-circle"></i></h3>
    <div style="margin-left:15px;padding-left:15px;border-top:1px solid #BBB;"></div>
    <div class="row-fluid">
        <div class="col-md-3">
            <div class="bg-darkgrey">
                <h5 style="padding:3px;" class="color-white">
                    <span class="pull-right badge bg-white">{{referenceRecords.whatsnew.recordCount}}</span>What's New</h5>
            </div>
            <div>
                <div ng-repeat="doc in referenceRecords.whatsnew.docs" ng-show="doc.title_t && $index < 5">
                    <a href="https://www.cbd.int/{{doc.url_ss[0]}}" target="_n_e_w_" style="padding-bottom:5px;">
                        <span style="text-transform:uppercase;font-weight:bold;font-size:10px;"> {{doc.createdDate_dt | formatDate}}</span>
                        <!--<span style="text-transform:uppercase;font-weight:bold;font-size:10px;" class="color-orange"> {{doc.schema_s}}</span>-->
                        <span class="color-grey" style="display:block;font-size:12px;">{{doc.title_t.length > 120 ? (doc.title_t | limitTo : 120) + "..." : doc.title_t }}</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="bg-darkgrey">
                <h5 style="padding:3px;" class="color-white">
                    <span class="pull-right badge bg-white">{{referenceRecords.notification.recordCount}}</span>Latest Notifications</h5>
            </div>
            <div>
                <div ng-repeat="doc in referenceRecords.notification.docs" ng-show="doc.title_t && $index < 5">
                    <a href="https://www.cbd.int/{{doc.url_ss[0]}}" target="_n_e_w_" style="padding-bottom:5px;">
                        <span style="text-transform:uppercase;font-weight:bold;font-size:10px;"> {{doc.createdDate_dt | formatDate}}</span>
                        <!--<span style="text-transform:uppercase;font-weight:bold;font-size:10px;" class="color-orange"> {{doc.schema_s}}</span>-->
                        <span class="color-grey" style="display:block;font-size:12px;">{{doc.title_t.length > 120 ? (doc.title_t | limitTo : 120) + "..." : doc.title_t }}</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="bg-darkgrey">
                <h5 style="padding:3px;" class="color-white">
                    <span class="pull-right badge bg-white">{{referenceRecords.meeting.recordCount}}</span>
                    Upcoming Meetings</h5>
            </div>
            <div>
                <div ng-repeat="doc in referenceRecords.meeting.docs" ng-show="doc.title_t &&  $index < 5">
                    <a href="https://www.cbd.int/doc/?meeting={{doc.symbol_s}}" target="_n_e_w_" style="padding-bottom:5px;">
                        <span style="text-transform:uppercase;font-weight:bold;font-size:10px;"> {{doc.startDate_dt | formatDate}} - {{doc.endDate_s | formatDate}}</span>
                        <!--<span style="text-transform:uppercase;font-weight:bold;font-size:10px;" class="color-orange"> {{doc.schema_s}}</span>-->
                        <span class="color-grey" style="display:block;font-size:12px;">{{doc.title_t.length > 120 ? (doc.title_t | limitTo : 120) + "..." : doc.title_t }}</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="bg-darkgrey">
                <h5 style="padding:3px;" class="color-white">
                    <span class="pull-right badge bg-white">{{referenceRecords.news.recordCount}}</span>Latest News</h5>
            </div>
            <div>
                <div ng-repeat="doc in referenceRecords.news.docs" ng-show="doc.title_t && $index < 6">
                    <a href="{{doc.url_ss[0]}}" target="_n_e_w_" style="padding-bottom:5px;">
                        <span style="text-transform:uppercase;font-weight:bold;font-size:10px;"> {{doc.createdDate_dt | formatDate}}</span>
                        <!--<span style="text-transform:uppercase;font-weight:bold;font-size:10px;" class="color-orange"> {{doc.schema_s}}</span>-->
                        <span class="color-grey" style="display:block;font-size:12px;">{{doc.title_t.length > 120 ? (doc.title_t | limitTo : 120) + "..." : doc.title_t }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
