<div id="Announcements">

    <div class=" bs5 row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="bs5 col" ng-repeat="article in articles | orderBy:'meta.createdOn':true | limitTo:6">
            <div style="height:256px" class="bs5 card m-3 m-lg-3 position-relative shadow" style="cursor: pointer;">
                <span class="bs5 badge position-absolute top-0 end-0"><span
                        ng-bind="article.meta.createdOn | formatDateWithUtc"></span></span>
        
                <div class="bs5"
                    style="width:100%;height:120px;background-repeat: no-repeat; background-size: cover; background-image: url('{{::getSizedImage(article.coverImage.url, '400x400')}}');">
                    &nbsp;
                </div>
        
                <div class="bs5 card-body border-top" style="min-height:120px;">
                    <a class="stretched-link bs5 text-dark text-decoration-none card-title"
                        ng-click="loadArticle(article._id)">
                       <h4 class="fw-bold"> <span ng-bind="article.title | lstring:locale"></span></h4>
                    </a>
                    <p class="bs5 fs-5 card-text mt-3"> <span ng-bind="article.summary | lstring:locale"></span></p>
                </div>
            </div>
        </div>
     </div>

</div>

