<div  ng-hide="loadingFacets" >
     <style>
            #National .statsBox {
                background-color: #428BCA;
                padding: 5px;
                border-radius: 3px;
                text-align: center;
                margin: auto;
                width: 100%;
            }

            #Reference .statsBox {
                background-color: #fa6938;
                padding: 5px;
                min-height: 100px;
                border-radius: 3px;
                text-align: center;
                margin: auto;
                width: 100%;
            }

            #SCBDRecs .statsBox {
                background-color: #999;
                padding: 5px;
                height: 100px;
                border-radius: 3px;
                text-align: center;
                margin: auto;
                width: 100%;
            }

            .countryCount {
                font-size: 22px;
                font-weight: bold;
                color: white!important;
            }

            .countryText {
                font-size: 22px;
                font-weight: normal;
                color: #bbb!important;
            }

            .havePublished {
                color: #bbb!important;
                width: 100%;
                white-space: nowrap;
            }

            .recordText {
                color: #111!important;
                line-height: 1;
                padding-top: 3px;
            }

            .center {
                margin: auto;
                width: 100%;
                text-align: center;
            }

            @media (max-width: 680px) {
                #National .statsBox {height:100px!important;;margin-top:10px!important;}
            }
            @media (min-width: 681px) {
                #National .statsBox {height:100px;margin-top:10px!important;}
            }
            @media (max-width: 768px) {
                #Reference .statsBox {margin-top:10px!important;}
                #SCBDRecs .statsBox {margin-top:10px!important;}
            }
             @media (min-width: 992px) {
               .seven-cols .col-md-1,
               .seven-cols .col-sm-1,
               .seven-cols .col-lg-1 {
                    width: 14.285714285714285714285714285714%;
                    *width: 14.285714285714285714285714285714%;
               }
               #National .statsBox {min-height:180px!important;}
            }
            @media (min-width: 1115px) {
                #National .statsBox {min-height:120px!important;}
            }
            @media (min-width: 1450px) {
                #National .statsBox {min-height:100px!important;}
            }

            .flex {
                display: flex;
                justify-content: space-between;
            }
        </style>

        <h3 style="padding-left:15px;padding-bottom:0;margin-bottom:0;" class="color-blue">National records&nbsp;<i class="info fa fa-question-circle"></i></h3>
        <div style="margin-left:15px;padding-left:15px;border-top:1px solid #BBB;"></div>

        <div class="row-fluid seven-cols center" id="National" >

            <div class="col-xs-6 col-sm-3 col-lg-1 flex">
                <div class="statsBox color-white special-font">
                    <div>
                        <span class="countryCount">170</span> &nbsp;
                        <span class="countryText">Countries</span>
                    </div>
                    <div class="havePublished"> - have published <span class="color-white">180</span> - </div>
                    <div class="recordText">ABS Focal Points&nbsp;<i class="info fa fa-question-circle"></i> </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3  col-lg-1 flex">
                <div class="statsBox color-white special-font">
                    <div>
                        <span class="countryCount">170</span> &nbsp;
                        <span class="countryText">countries</span>
                    </div>
                    <div class="havePublished"> - have published <span class="color-white">180</span> - </div>
                    <div class="recordText">Competent National Authorities&nbsp;<i class="info fa fa-question-circle"></i> </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-lg-1 flex">
                <div class="statsBox color-white special-font">
                    <div>
                        <span class="countryCount">170</span> &nbsp;
                        <span class="countryText">countries</span>
                    </div>
                    <div class="havePublished"> - have published <span class="color-white">180</span> - </div>
                    <div class="recordText">Legislative, Administrative or Policy Measures&nbsp;<i class="info fa fa-question-circle"></i> </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-lg-1 flex">
                <div class="statsBox color-white special-font">
                    <div>
                        <span class="countryCount">170</span> &nbsp;
                        <span class="countryText">countries</span>
                    </div>
                    <div class="havePublished"> - have published <span class="color-white">180</span> - </div>
                    <div class="recordText">National Websites and Databases&nbsp;<i class="info fa fa-question-circle"></i> </div>
                </div>
            </div>


            <div class="col-xs-6 col-sm-3 col-lg-1 flex">
                <div class="statsBox color-white special-font">
                    <div>
                        <span class="countryCount">170</span> &nbsp;
                        <span class="countryText">countries</span>
                    </div>
                    <div class="havePublished"> - have published <span class="color-white">180</span> - </div>
                    <div class="recordText">Internationally Recognized Certificates of Compliance&nbsp;<i class="info fa fa-question-circle"></i> </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-lg-1 flex">
                <div class="statsBox color-white special-font">
                    <div>
                        <span class="countryCount">170</span> &nbsp;
                        <span class="countryText">countries</span>
                    </div>
                    <div class="havePublished"> - have published <span class="color-white">180</span> - </div>
                    <div class="recordText">Checkpoints&nbsp;<i class="info fa fa-question-circle"></i> </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-lg-1 flex">
                <div class="statsBox color-white special-font">
                    <div>
                        <span class="countryCount">170</span> &nbsp;
                        <span class="countryText">countries</span>
                    </div>
                    <div class="havePublished"> - have published <span class="color-white">180</span> - </div>
                    <div class="recordText">Checkpoint Communiqués&nbsp;<i class="info fa fa-question-circle"></i> </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <h3 style="padding-left:15px;padding-bottom:0;margin-bottom:0;margin-top:50px;" class="color-orange">Reference records&nbsp;</h3>
        <div style="margin-left:15px;padding-left:15px;border-top:1px solid #BBB;"></div>
        <div class="row-fluid">
            <div class="col-md-3">
                <div class="bg-orange" style="height:36px;"><h5 style="padding:3px;" class="color-white"> <span class="pull-right badge bg-white">100</span> Literature and Capacity Building Resources  </h5></div>
            </div>
             <div class="col-md-3">
                <div class="bg-orange" style="height:36px;"><h5 style="padding:3px;" class="color-white"> <span class="pull-right badge bg-white">100</span>Model Contractual Clauses, Codes of Conduct, Guidelines, Best Practices and/or Standards  </h5></div>
            </div>
             <div class="col-md-3">
                <div class="bg-orange" style="height:36px;"><h5 style="padding:3px;" class="color-white"> <span class="pull-right badge bg-white">100</span> Community protocols and procedures and customary laws  </h5></div>
            </div>
             <div class="col-md-3">
                <div class="bg-orange" style="height:36px;"><h5 style="padding:3px;" class="color-white"> <span class="pull-right badge bg-white">100</span>  Capacity Building Initiatives</h5></div>
            </div>

    </div>
</div>
