<div>
<div class="row" ng-show="!user.isAuthenticated" >
    <div class="col-xs-7" style="height:250px" >
        <div style="padding:1px 10px 10px 10px; margin:0;">
            <h2 style="text-align:left;">
                Sign in 
            </h2>
            <form name="form" ng-submit="doSignIn()" class="ng-pristine ng-invalid ng-invalid-required" >
                <div class="form-group">
                    <div class="input-group" >
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" id="inputEmail" name="email" ng-model="email" placeholder="registered email address" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock" style="width:14px"></i></span>
                        <input type="password" class="form-control ng-pristine ng-invalid ng-invalid-required" id="inputPassword" name="password" ng-model="password" placeholder="password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label class="pull-right">
                            <input type="checkbox" ng-model="rememberMe" class="ng-pristine ng-valid"> <a style="text-decoration:none;color:#222;">Remember me</a> | <a href="https://accounts.cbd.int/password/reset" style="text-decoration:none;color:#222;" target="_new">Forgot password?</a>
                        </label> 
                    </div>
                    <button type="submit" class="btn btn-primary pull-left" ng-disabled="waiting" style="position:relative;top:-30px;width:100px;margin:0;">Sign in</button>
               
                    <div class="spinner ng-hide" ng-show="waiting">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xs-5" style="border-left:5px solid #ccc;height:250px">
        <div style="padding:1px 10px 15px 10px; margin:0;">
        <h2 >No account?</h2>
        <p>
        <br>
            <strong><h5>Get started.</h5></strong>
            <span>Create your ABS-CH account.</span>
        </p>
        <br>
        <a href="#" ng-click="actionSignup()" style="margin-top:20px;" class="btn btn-primary" ng-disabled="waiting" style="margin-bottom:24px">Sign up</a>
    </div>
</div>
</div>