<span>
    <span ng-if="isBch">
        <a rel="noopener" ng-href="/countries/status/nonparty" ng-if="!partyStatus.isParty" 
        class="color-grey color-non-party bold partystatus">Non-Party</a>
        <a rel="noopener" ng-href="/countries/status/party" ng-if="partyStatus.isParty" class="color-party bold partystatus">Party to the <span class="short-text-display" aria-label="Cartagena">CPB</span> <span class="full-text-display">Cartagena Protocol on Biosafety</span></a>
        <!-- <a rel="noopener" ng-href="/countries/status/inbetween" ng-if="partyStatus.isInbetweenParty" 
        class="color-inbetween bold partystatus">Ratified, not yet Party</a> -->
        <span ng-if="partyStatus.treaties.XXVII8a.party || partyStatus.treaties.XXVII8a.deposit" class="bold color-grey color-non-party partystatus">
           <span class="full-text-display">Entry into force: </span>
           <span ng-bind="(partyStatus.treaties.XXVII8a.party || partyStatus.treaties.XXVII8a.deposit)|formatDate"></span>
        </span>
    </span>
    <span ng-if="isAbs">
        <a rel="noopener" ng-href="/countries/status/nonparty" ng-if="!partyStatus.isParty && !partyStatus.isInbetweenParty" 
        class="color-grey color-non-party bold partystatus">Non-Party</a>
        <a rel="noopener" ng-href="/countries/status/party" ng-if="partyStatus.isParty" class="color-party bold partystatus">Party to the <span class="short-text-display" aria-label="Cartagena">NP</span> <span class="full-text-display">Nagoya Protocol</span></a>
        <a rel="noopener" ng-href="/countries/status/inbetween" ng-if="partyStatus.isInbetweenParty" 
        class="color-inbetween bold partystatus">Ratified, not yet Party</a>
        <span ng-if="partyStatus.isSignatory" class="bold partystatus">Signatory</span>
        <span ng-if="partyStatus.entryIntoForce" class="bold color-grey color-non-party partystatus">
            <span class="full-text-display">Entry into force: </span>
            <span ng-bind="partyStatus.entryIntoForce|formatDate"></span>
        </span>
    </span>
</span>
