<span>
     <span ng-if="!partyStatus.isNPParty && !partyStatus.isNPInbetweenParty" class="color-grey bold partystatus">Non-Party</span>
     <span ng-if="partyStatus.isNPParty" class="color-party bold partystatus">Party to the Nagoya Protocol</span>
     <span ng-if="partyStatus.isNPInbetweenParty" class="color-inbetween bold partystatus">Ratified not yet Party</span>
     <span ng-if="partyStatus.isNPSignatory" class="bold color-pink partystatus">Signatory</span>
     <span ng-if="partyStatus.entryIntoForce" class="bold color-grey partystatus">Entry into force: {{partyStatus.entryIntoForce|formatDate}}</span>
</span>
