<div >
<style>
.date{
    font-size:11px!important;
    font-weight: 500;
    text-transform: uppercase;
    padding:3px;
    background-color: #f5f5f5;
   
        border-radius: 4px;

    border: 1px solid rgba(0, 0, 0, 0.15);
}
.label{
    font-size:10px!important;
    font-weight: 500;
    text-transform: uppercase;
    color: #666;
    padding:0!important;

}
.btn-lang{
    background-color: #f5f5f5;
   font-size:11px!important;
    font-weight: 500;
}
</style>
<div>
    <div class="pull-right">
        
            <span class="label">languages available:</span>
            <div class="btn-group  btn-group-xs" role="group">
                <button type="button" class="btn btn-lang btn-default btn-xs">en</button>
                <button type="button" class="btn btn-lang btn-default btn-xs">fr</button>
                <button type="button" class="btn btn-lang btn-default btn-xs">es</button>
            </div>

        <!-- if languages add spacer-->
         &nbsp; <span style="color:#ddd"> | </span> &nbsp;
    

         <span class="label  hidden-xs">published:</span>
         <span class="date"> {{date | formatDate}}</span>
  
    </div>
    
</div>
</div>
