<div >
<style>
.record-Options-div .date{
    font-size:11px!important;
    font-weight: 500;
    text-transform: uppercase;
    padding:3px;
    background-color: #f5f5f5;
   
        border-radius: 4px;

    border: 1px solid rgba(0, 0, 0, 0.15);
}
.record-Options-div .xlabel{
    font-size:11px!important;
    font-weight: 500;
    text-transform: uppercase;
    color: #666;
    padding:0!important;

}
.record-Options-div .btn-lang{
    /* background-color: #f5f5f5; */
    font-size:11px!important;
    font-weight: 500;
}
</style>
<div class="record-Options-div">
    <div class="pull-right">
            
        <!-- <a class="hidden-print record-link-style"target="_blank" ng-href="/api/v2017/generate-pdf/abs-dev/{{currentLocale}}/documents?documentID={{document | uniqueIDWithoutRevision}}&revision={{$parent.internalDocumentInfo.revision}}"><i class="fa fa-file-pdf-o"></i> Download</a> -->
        <span class="label" ng-if="document.header.languages.length>1">languages available:</span>
        <div class="btn-group  btn-group-xs" role="group" ng-if="document.header.languages.length>1">                
            <button type="button" class="btn btn-lang btn-default btn-xs" ng-class="{'active' : currentLocale==loc, 'btn-info' : currentLocale!=loc}" 
                ng-repeat="loc in document.header.languages"
                ng-click="setCurrentLocale(loc)" >{{loc | uppercase}}</button>
        </div>
        <!-- if languages add spacer-->
         <span ng-show="document.header.languages.length>1 && updatedOn" style="color:#ddd"> &nbsp;  |  &nbsp; </span>
    

        <span ng-if="updatedOn" class="xlabel">published:</span>
        <span ng-if="updatedOn" class="date"> {{updatedOn | formatDate}}</span>
        <div class="btn-group pdf-download-buttons" ng-show="$parent.internalDocumentInfo.revision">
            <a type="button" class="btn btn-primary btn-xs" 
            target="_blank" ng-href="/api/v2017/generate-pdf/abs-dev/documents/{{downloadLocale}}?documentID={{document | uniqueIDWithoutRevision}}&revision={{$parent.internalDocumentInfo.revision}}">
                <i class="fa fa-file-pdf-o"></i> Download 
                <span ng-if="downloadLocale=='ar'">العربية </span>
                <span ng-if="downloadLocale=='zh'">中文  </span>
                <span ng-if="downloadLocale=='en'">English</span>
                <span ng-if="downloadLocale=='es'">Español</span>
                <span ng-if="downloadLocale=='fr'">Français</span>
                <span ng-if="downloadLocale=='ru'">Русский</span>
            </a>
            <button type="button" class="btn btn-primary dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">      
                <li><a target="_blank" ng-href="/api/v2017/generate-pdf/abs-dev/documents/ar?documentID={{document | uniqueIDWithoutRevision}}&revision={{$parent.internalDocumentInfo.revision}}" ng-click="downloadLocale='ar'"><i class="fa fa-file-pdf-o"></i> العربية </a></li>
                <li><a target="_blank" ng-href="/api/v2017/generate-pdf/abs-dev/documents/zh?documentID={{document | uniqueIDWithoutRevision}}&revision={{$parent.internalDocumentInfo.revision}}" ng-click="downloadLocale='zh'"><i class="fa fa-file-pdf-o"></i> 中文  </a></li>
                <li><a target="_blank" ng-href="/api/v2017/generate-pdf/abs-dev/documents/en?documentID={{document | uniqueIDWithoutRevision}}&revision={{$parent.internalDocumentInfo.revision}}" ng-click="downloadLocale='en'"><i class="fa fa-file-pdf-o"></i> English</a></li>
                <li><a target="_blank" ng-href="/api/v2017/generate-pdf/abs-dev/documents/es?documentID={{document | uniqueIDWithoutRevision}}&revision={{$parent.internalDocumentInfo.revision}}" ng-click="downloadLocale='es'"><i class="fa fa-file-pdf-o"></i> Español</a></li>
                <li><a target="_blank" ng-href="/api/v2017/generate-pdf/abs-dev/documents/fr?documentID={{document | uniqueIDWithoutRevision}}&revision={{$parent.internalDocumentInfo.revision}}" ng-click="downloadLocale='fr'"><i class="fa fa-file-pdf-o"></i> Français</a></li>
                <li><a target="_blank" ng-href="/api/v2017/generate-pdf/abs-dev/documents/ru?documentID={{document | uniqueIDWithoutRevision}}&revision={{$parent.internalDocumentInfo.revision}}" ng-click="downloadLocale='ru'"><i class="fa fa-file-pdf-o"></i> Русский</a></li>
            </ul>
        </div>
    </div>
    
</div>
</div>
