<div> 
    <strong>{{currentRealmMessage()}}</strong>
    <div class="row">
        <div class="col-sm-12">
            <div class="well2">
                <div class="alert alert-danger col-xs-12">
                    The switch realm functionality should only be used to view records from other realms and not for adding or editing.
                    <div>    
                        <select class="form-control" ng-model="selectedRealm">
                            <option  ng-repeat="realm in realmList" value="{{realm.identifier}}">
                                {{realm.message}}
                            </option>
                        </select>
                        <button type="button" class="btn btn-default" ng-click="switchRealm()">
                        <i class="glyphicon glyphicon-thumbs-up"></i> Switch </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
