<div class="row" style="margin:0;padding:0;" ng-hide="hideEverything">
    <div class="col-xs-12" style="margin-bottom:20px;">

        <div class="panel panel-danger">
            <div class="panel-heading bg-red">
                <h3 style="padding:0;margin:0;" class="color-white">Publishing Request Pending</h3>
            </div>

            <div class="panel-body">
                Requested by: &nbsp;
                <span class="bold">
                {{workflow.createdBy_info.firstName + ' ' + workflow.createdBy_info.lastName}}
                <a ng-href="mailTo:{{workflow.createdBy_info.email}}" class="color-blue">({{workflow.createdBy_info.email}})</a>
                <span class="unbold"> on </span> {{workflow.createdOn | formatDateWithTime}}
                </span>
            </div>

            <div ng-repeat="activity in workflow.activities|filter:isOpen|orderBy:'createdOn'">
                <div class="row row-centered" style="margin:0;padding:0;" id="buttonsDiv" ng-show="isAssignedToMe(activity)">
                    <div class="col-xs-4 text-center" ng-show="isAssignedToMe(activity)">
                        <button type="button" class="btn btn-success bold" ng-click="updateActivity({ action : 'approve' })" ng-disabled="isUpdating">
                            <i class="fa fa-check-circle"></i>
                            <span class="hidden-xs">APPROVE</span>
                        </button>
                    </div>
                    <div class="col-xs-4 text-center" ng-show="!isUpdating">
                        <a type="button" class="btn btn-info bold  color-white" ng-href="/register/{{workflow.data.metadata.schema | schemaShortName}}/{{activity.input.identifier}}/edit?workflow={{workflowTaskId}}">
                            <i class="fa fa-pencil-square-o"></i>
                            <span class="hidden-xs">EDIT</span></a>

                    </div>
                    <div class="col-xs-4 text-center" ng-show="isUpdating">
                        <a type="button" class="btn btn-info bold color-white">
                            <i class="fa fa-cog fa-spin fa-lg" id="spinner" style="display:none" />
                            <span class="hidden-xs">EDIT</span></a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <button type="button" class="btn btn-warning bold" ng-click="showRejectDialog()" ng-disabled="isUpdating">
                            <i class="fa fa-times-circle"></i>
                           <span class="hidden-xs"> REJECT</span>
                        </button>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;" ng-show="workFlowIsCreatedByMe()">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-warning bold" ng-click="askCancelWorkflowRequest()" ng-disabled="isUpdating">
                            <i class="fa fa-rotate-left"></i>
                           <span class="hidden-xs"> Cancel Publishing Request</span>
                           
                        </button>

                    </div>
                </div>
            </div>
            <div class="panel-footer" style="margin-top:20px;">
                <span>This request will automatically expire in <span class="color-red bold">{{workflow.daysToApproval}} days</span> </span>
            </div>
        </div>


    </div>

    <div class="col-xs-12">
        <div ng-show="document" class="t-document">
            <record-loader show-details="showDetails" class="shadow-z-2" hide-buttons="true" link-target="_self"></record-loader>
        </div>
    </div>
    <script type="text/ng-template" id="rejectWorkflowRequestModalTemplate">
        <form name="rejectForm" role="form">
            <div class="modal-header bg-red">
                <h4 class="modal-title color-white">Request Changes or Reject a record version</h4>
            </div>
            <div class="modal-body">
                <p ng-class="{ 'has-warning':rejectForm.reason.$error.required, 'has-success':!rejectForm.reason.$invalid }">
                    <span ng-show="rejectForm.reason.$error.required">Please provide the reason this records is being rejected.</span>
                    <textarea class="form-control" rows="5" name="reason" ng-model="rejectReason" required></textarea>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="closeDialog();">Cancel</button>
                <button type="button" class="btn btn-danger bold" data-dismiss="modal" ng-disabled="rejectForm.reason.$error.required" ng-click="updateActivity({ action : 'reject', reason: rejectReason })"><i class="fa fa-times-circle"></i> Reject</button>
            </div>
        </form>
    </script>

    <script type="text/ng-template" id="cancelWorkflowRequestModalTemplate">
        <div id="cancelWorkflowRequestModal">
            <div class="modal-header">
                <h4>Cancel publishing request<i ng-show="loading==true" class="fa fa-spinner fa-spin" style="display:none"></i></h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to recall and cancel this publishing request?</p>
            </div>
            <div class="modal-footer" style="margin-top:0">
                <button type="button" class="btn btn-default" ng-click="closeDialog();">close</button>
                <button ng-disabled="loading==true" type="button" ng-click="cancelWorkflowRequest(workflow)" class="btn btn-primary">Yes</button>

            </div>
        </div>
    </script>

</div>