<div class="row">
    <div class="col-xs-12">

        <span ng-show="lastSaved && hideTimer=='false'" class="color-grey label pull-right" style="background-color:#ddd;text-transform:uppercase;font-size:12px;">
            <span style="position:relative;top:1px;"><i class="glyphicon glyphicon-time" style="position:relative;top:2px;"></i><span class="color-blue" style="padding:3px;">{{lastSaved}}</span> since last save</span>
        </span>
    </div>

    <div class="clearfix"></div>

    <div class="col-xs-12">
        <div km-form-languages ng-model="languages" style="padding-top:20px;" class="pull-left btn-xs"></div>

        <ul style="list-style-type:none;margin:0;padding:0;padding-top:20px;" class="pull-right">
            <li style="display: inline;"><button type="button" class="btn btn-warning " ng-click="close()" ng-disabled="loading">
                <i class="glyphicon glyphicon-remove"></i> Close</button>
            </li>
            <li style="display: inline;"  ng-show="security.canSaveDraft">
                <button type="button" class="btn btn-default bg-draft" width="50px" ng-click="tab='draft';saveDraft()" ng-disabled="loading">Save Draft
                    <i ng-show="tab=='draft' && (loading || security==undefined)" class="fa fa-spinner fa-spin"></i>
                  </button>
            </li>
            <li style="display: inline;" ng-show="security.canSave">
                <button type="button" class="btn btn-danger bg-published " width="50px" ng-click="tab='publish';publish()" ng-disabled="loading">Publish
                         <i ng-show="tab=='publish' && loading" class="fa fa-spinner fa-spin"></i>
                    </button>
            </li>
            <li style="display: inline;" ng-show="security.canSave!==undefined && (!security.canSave && security.canSaveDraft)">
                <button id="publish_button" type="button" class="btn btn-danger bg-request" ng-href="#" ng-click="tab='publishRequest';publishRequest()" ng-disabled="loading">Request Publication
                         <i ng-show="tab=='publishRequest' && loading" class="fa fa-spinner fa-spin"></i>
                    </button>
            </li>
        </ul>
    </div>

    <div class="clearfix"></div>

    <div class="col-xs-12" style="border-bottom:1px solid #eee;margin-bottom:20px;">
        <ul style="list-style-type:none;margin:0;padding:0;padding-top:20px;" class="pull-left">
            <li class="tab" style="display: inline;" ng-class="{'tab-selected': tab=='edit'}">
                <a translation-url  ng-click="tab='edit'" ng-disabled="loading || security==undefined">
                      Submission form
                   </a>
            </li>
            <li class="tab" style="display: inline;" ng-class="{'tab-selected': tab=='review'}">
                <a translation-url  ng-click="tab='review'" ng-disabled="loading || security==undefined">
                      Review
                   </a>
            </li>
        </ul>
    </div>

    <div style="display:none" id="msgDraftSaveMessage">
        Your record has been saved as a draft.
    </div>

    <div class="row" style="display:none" id="divShowError" ng-show="showError">
        <div class="col-xs-12">
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" ng-click="showError=false">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button> {{errorMessage}}
            </div>

        </div>
    </div>


    <div id="dialogCancel" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">×</button>
                    <h4>Canceling changes</h4>
                </div>
                <div class="modal-body">
                    <p>If you want to cancel the changes you just made to this draft, you can keep the previous version of the draft, which will then be available in the list of drafts on the Management Centre. You or your colleagues can then continue editing
                        the record in the current, or a later, session.</p>
                </div>
                <div class="modal-footer" style="margin-top:0">
                    <button type="button" ng-click="closeDialog()" class="btn btn-default cancelClose">Cancel</button>
                    <button type="button" ng-click="close(true)" class="btn btn-warning closeWithoutSaving pull-left">Close without saving</button>
                </div>
            </div>
        </div>
    </div>

    <div id="divAdditionalInfo" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-red color-white">
                    <button type="button" class="close" ng-click="closeAddInfoDialog(false)" aria-hidden="true">×</button>
                    <h2>Publishing Request</h2>
                </div>
                <div class="modal-body">
                    <p>Would you like to add additional information for the publishing authority?</p>
                    <textarea class="form-control" rows="5" name="info" ng-model="InfoDoc.additionalInfo"></textarea>
                </div>
                <div class="modal-footer" style="margin-top:0">
                    <button type="button" class="btn btn-default" ng-click="closeAddInfoDialog(false)">Cancel</button>
                    <button type="button" id="continueRequest" class="btn btn-primary pull-left" ng-disabled="loading">Send Request</button>
                </div>
            </div>
        </div>
    </div>


</div>