<div>
    
    <div id="freeText" ng-show="!skipTextFilter">
        <form ng-submit="saveFreeTextFilter(searchKeyword)" class="input-group">
            <input type="text" ng-model="searchKeyword" class="form-control" placeholder="Search the Clearing-House"
                style="font-weight:bold;">
            <span type="submit" style="cursor:pointer" ng-click="saveFreeTextFilter(searchKeyword)" class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span>
        </form>
    </div>




</div>
