<div  id="RegisterPage">

  <link href="/app/css/register.css" rel="stylesheet">
  <link href="/app/css/record.css" rel="stylesheet"><span register-top-menu></span><div class="innerPageContent register-content card card-1-notrans" style="margin:0;padding:20px;">
    <div class="register-content-header bg-pink color-white">
      <div style="padding:1px 10px;">
        <h3>Администратор МП-ДГРСИВ</h3>
      </div>
    </div>
    <div class="register-content-content" ng-if="roles.isAdministrator">
      <div class="row" style="padding:0;margin:0 0 30px 0;">
        <div class="col-md-12 cp-header">
          <table style="width:100%;">            
            <tr>
              <td></td>
              <td>
                <table class="table table-striped" style="width:100%">
                  <tbody>

                    <tr>
                      <td>Просмотр списка записей, представленных пользователями</td>
                      <td><a rel="noopener" translation-url class="btn btn-default" ng-href="/register/admin/reported-records">Управление записями, о которых получены сообщения</a></td>
                    </tr>
                    <tr>
                        <td>Общие вопросы ДГРСИВ</td>
                        <td><a rel="noopener" translation-url class="btn btn-default" ng-href="/register/admin/common-issues">Общие вопросы</a></td>
                      </tr>
                    <tr>
                      <td>Просмотр статуса операций с записями в МП-ДГРСИВ</td>
                      <td><a rel="noopener" translation-url class="btn btn-default" ng-href="/register/admin/requests">Управление операциями с записями</a></td>
                    </tr>
                    <tr>
                      <td>Просмотр показателей МП-ДГРСИВ в виде диаграммы и с применением нескольких фильтров</td>
                      <td><a rel="noopener" translation-url class="btn btn-default" ng-href="/register/admin/report-counts">Report counts</a></td>

                    </tr>
                    <tr>
                      <td>Смотреть количество МПССТ</td>
                      <td><a rel="noopener" translation-url class="btn btn-default" ng-href="/register/admin/ircc-counts">Количество МПССТ</a></td>

                    </tr>
                    <tr>
                      <td>Просмотр стран, назначивших/не назначивших роли пользователям МП-ДГРСИВ</td>
                      <td><a rel="noopener" translation-url class="btn btn-default" ng-href="/register/admin/user-role-report">Отчет о ролях пользователей</a></td>
                    </tr>
                    <tr>
                      <td>Просмотр списка пользователей с помощью подписки по электронной почте</td>
                      <td><a rel="noopener" translation-url class="btn btn-default" ng-href="/register/admin/subscriptions">Подписки</a></td>
                    </tr>
                    <tr>
                      <td>Просмотр ошибок клиентов</td>
                      <td><a rel="noopener" translation-url class="btn btn-default" ng-href="/register/admin/error-logs">Журнал ошибок</a></td>
                    </tr>
                    <tr>
                      <td>Проверить перевод</td>
                      <td>
                        <button type="button" class="btn btn-primary" ng-click="validateTranslation(!isValidatingTranslation)"><span ng-if="!isValidatingTranslation">Включить</span><span ng-if="isValidatingTranslation">Отключить</span></button>
                      </td>
                    </tr>
                  </tbody>

                </table>
              </td>
            </tr>
          </table>
        </div>





      </div>
    </div>
  </div>
</div><!-- controller -->