<div id="SubmitPage">
    
    <div class="container">
        
        <h1></h1>
    
        <h2></h2>
        <p></p>
        
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="s in ::recordTypesCtrl.schemas.national" >
                <h3 style="font-size:auto" ng-bind="::s.title"></h3>
                <p style="min-height:100px" ng-bind="::s.description"></p></div>
        </div>
        
        <h2></h2>
        <p></p>
        
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="s in ::recordTypesCtrl.schemas.reference" >
                <h3 style="font-size:auto" ng-bind="::s.title"></h3>
                <p style="min-height:100px" ng-bind="::s.description"></p></div>
        </div>
    </div>
</div>