<div>
	<style media="screen"></style>
	<div class="input-group"><input type="text" ng-model="displaySpans[i]" tabindex="-1" ng-focus="this.select()"
				ng-keydown="keydown($event)" ng-keyup="spansKeyup(i)" ng-blur="updateSpan(i, displaySpans[i]);"
				autocomplete="off"></span>
		<input {{required}} type="{{type||'text'}}" class="form-control" id="{{title}}"
			placeholder="" autocomplete="off" ng-model="bindingDisplay"
			ng-keydown="keydown($event)" ng-keyup="keyup(bindingDisplay, $event)" ng-focus="keydown($event)"
			select-all-on-click ng-blur="updateHideOptions()" ng-click="toggleAllOptions(true)"
			ng-class="{disabled:ngDisabledFn()}" ng-disabled="ngDisabledFn()"><button type="button" class="btn btn-default" ng-click="toggleAllOptions(true);" ng-disabled="ngDisabledFn()"
				ng-blur="delayHideOptions()" tabindex="-1" ng-class="{disabled:ngDisabledFn()}"></button></div>

	<div style="display: none; position: absolute; z-index: 9999; background-color: white; max-height: 300px; overflow: auto;"
		class="list-group">
			<div ng-repeat="item in buttonOverrideFilter(bindingDisplay, items)" ng-click="clickSelected($index)"
				ng-mouseover="updateSelected($index)" class="list-group-item" style="cursor: pointer;"
				ng-class="{'list-group-item-info': selected == $index, 'list-group-item-success': displaySpans.indexOf(item.__value)!=-1}"></div>
	</div>
	<div ng-show="!hidePreview" compile="preview"></div>	
</div>