<span style="text-align:left"> <span ng-hide="errors"><input type="button" class="btn btn-warning" ng-click="showCancelDialog(true)" value="Cancel"/>
		<input type="button" class="btn btn-primary" ng-click="showSaveDialog(true)" value="Save"  ng-show="hideSave"/></span>

    <!--Save Dialog-->
	<div id="dialogSave" class="modal fade" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">x</button>
					<h4>Sauvegarder le fichier <i ng-show="loading" class="fa fa-spinner fa-spin"></i></h4>
				</div>
				<div class="modal-body">

					<p>Si vous avez terminé de saisir l'ensemble des informations, vous pouvez soumettre le dossier pour publication.</p>

					<p>Si vous êtes dans l'incapacité d'achever l'enregistrement de ce fichier, vous pouvez le sauvegarder en tant que fichier provisoire, qui sera par la suite inséré dans la liste des fichiers provisoires dans le Centre de Gestion. Vos collègues ou vous-mêmes pourrez par la suite continuer à modifier le dossier au cours de cette même session ou lors d'une session ultérieure.</p>

				</div>
				<div class="modal-footer" style="margin-top:0">
					<button type="button" ng-click="closeDialog()" class="cancelClose btn btn-default" >Annuler</button>
					<button type="button" ng-click="saveDraft()"      ng-disabled="loading || !security.canSaveDraft" class="btn btn-info"    >Enregistrer le brouillon</button>
					<button type="button"                             ng-show="security.canSave===undefined" disabled class="btn btn-info"    >Enregistrer et publier</button>
					<button type="button" ng-click="publish()"        ng-show="security.canSave!==undefined &&  security.canSave" ng-disabled="loading || !security.canSave" class="btn btn-primary" >Enregistrer et publier</button>
					<button type="button" ng-click="publishRequest()" ng-show="security.canSave!==undefined && (!security.canSave && security.canSaveDraft)" ng-disabled="loading ||  security.canSave"  class="btn btn-primary" >Enregistrer et demander la publication</button>
				</div>
			</div>
		</div>
	</div><!--Cancel Dialog--><div id="dialogCancel" class="modal fade" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">x</button>
					<h4>Annulation des modifications...</h4>
				</div>
				<div class="modal-body">

					<p>Si vous souhaitez annuler les modifications apportées à ce dossier provisoire, vous pouvez conserver la version précédente du projet qui sera par la suite insérée dans la liste des dossiers provisoires dans le Centre de Gestion. Vos collègues ou vous-mêmes pourrez par la suite continuer à modifier le dossier au cours de cette même session ou lors d'une session ultérieure.</p>

				</div>
				<div class="modal-footer" style="margin-top:0">
					<button type="button" ng-click="closeDialog()" class="btn btn-default cancelClose" >Annuler</button>
					<button type="button" ng-click="close()"       class="btn btn-primary closeWithoutSaving" >Quitter sans enregistrer</button>
				</div>
			</div>
		</div>
	</div></span>