<script type="text/ng-template"  id="select-tree-renderer.html">
		<div class="km-select-description py-1 px-5" ng-if="showDescription=='true' && item.description" ng-bind="item.description">
		</div><ul class="dropdown-inline-submenu" ng-if="item.children">
			<li ng:repeat="item in item.children" ng-include="'select-tree-renderer.html'" class="position-relative">
		</ul>
	</script>


	<div ng-show="error">
		<div class="alert alert-warning" ng-bind="error">
		</div>
	</div><div class="btn-group" role="group" id="select-dropdown">
			<button id="btnGroupDrop1" type="button" style="padding: 7px;" class="btn btn-default dropdown-toggle fs-small-8" ng-click="autoInit()" ng-class="{disabled:ngDisabledFn(), 'btn-info' : hasSelectedItems() }" data-bs-toggle="dropdown" aria-expanded="false"></button>

			<ul class="dropdown-menu ps-2 overflow-auto fs-small-8" style="max-height: 23rem;" aria-labelledby="btnGroupDrop1">
			  <li ng-hide="!!rootItems"></li>
				<li ng-show="rootItems.length==0"></li>
				<li ng-show="!!rootItems && (searchEnabled || getMinimum()==0 || allowOther == 'true')" class="p-0 px-1" id="filterText">
					<div class="input-group mb-1">
						<input type="textbox"  ng-show="searchEnabled || getMinimum()==0 && rootItems.length!=0" ng-model="filterText" class="form-control p-0 px-1"/></div>
					<div>
						<button type="button" style="padding: 7px;" class="btn btn-outline-secondary fs-small-8" ng-show="hasSelectedItems()"type ="button" ng-click="clearSelection()" ng-disabled="!hasSelectedItems()"></button>
						<button style="padding: 7px;" class="btn btn-outline-secondary fs-small-8" ng-show="allowOther == 'true'" type="button" ng-click="chooseOther()"    ng-show="allowOther"></button>
					</div>
				</li>
				<li ng:repeat="item in rootItems | filter:filterList" ng-class="{disabled:!itemEnabled(item)}" ng-include="'select-tree-renderer.html'" class="text-decoration-none position-relative text-secondary">
				</li>
				<li class="border-top mt-1" ng-if="hasOtherSource"></li>
				<li ng-if="hasOtherSource && secondarySource" ng:repeat="item in secondarySource | filter:filterList" ng-class="{disabled:!itemEnabled(item)}" ng-include="'select-tree-renderer.html'" class="text-decoration-none position-relative text-secondary">
				</li>
			</ul>
		  </div>