<link href="/app/css/find.css" rel="stylesheet">
<link href="/app/css/record.css" rel="stylesheet">
<style>

#search_controls.affix-bottom {
    /*position: absolute;*/
}

.not-active{
    color:rgb(119, 119, 119)!important;
}
.active{
    color:#2a6496!important;
}


</style>

<div ng-controller="FindController" ng-intro-options="introOptions" ng-intro-method="startIntro" ng-intro-autostart="startTour">


    <section layout="row" style="position:relative; top:20px; padding-bottom:30px;" flex>


           <md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('min-width: 1200px')"
           style="height:1200px;" >


             <md-toolbar class="bg-medgrey" >
               <h1 class="md-toolbar-tools">

                   Search Information &nbsp;&nbsp;&nbsp;

               <span class="pull-right">
                   <a ng-href="#" ng-click="previewType='list'" class="not-active"
                     data-toggle="tooltip" title="View result set in list view ordered by creation date"
                     ng-class="{'active':previewType=='list'}"><i class="fa fa-list"/>
                   </a>
                   <a ng-href="#" ng-click="previewType='group'" class="not-active "
                       data-toggle="tooltip" title="View result set grouped by country"
                       ng-class="{'active':previewType=='group'}">
                       <i class="fa fa-th-large"/>
                   </a>
               </span>
               </h1>
             </md-toolbar>

             <md-content layout-padding layout-margin>


                    <div>
                         <div style="font-size:16;font-weight:bold;">Party status</div>
                         <a ng-click="queryStatus('party')">
                             <span class="label label-primary" >&nbsp;</span> Party to the Nagoya Protocol
                         </a>
                         <br>
                         <a ng-click="queryStatus('nonParty')">
                             <span class="label label-default">&nbsp;</span> Non-Party
                         </a>

                     </div>

                         <strong>SEARCH FILTERS</strong> <a ng-href="#" ng-click="clearFilter()" class="btn btn-info btn-xs pull-right " style="text-transform:uppercase;margin-bottom:10px;">Clear all filters</a>

                         <input type="text" ng-model="keyword" placeholder=" Keyword " class="form-control keyword" style="margin-bottom:10px;">

                         <div id="filterCheckboxes">
                             <search-filter-schemas  ng-model='schemas' field='schema_s' query='querySchema' preview-type="previewType" selected-filters="selectedSchemaFilters"></search-filter-schemas>

                             <a href="" ng-click="loadThemes=true;" data-toggle="modal" data-target="#themeModal" class="color-black"><h3>Thematic Areas</h3></a>
                             <a href="" data-toggle="modal" data-target="#countryModal" class="color-black"><h3>Countries</h3></a>
                             <a href="" ng-click="loadRegions=true;"data-toggle="modal" data-target="#regionModal" class="color-black"><h3>Regions</h3></a>


                         </div>
                          <!-- <div class="form-group">
                           <label for="sortby">Sort By</label>
                           <select ng-options="obj.value as obj.label for obj in sortOptions" ng-model="sortBy" class="form-control" ng-change="sortResults()" id="sortby"></select>
                         </div> -->




             </md-content>

         </md-sidenav>


         <md-content flex layout-margin style="margin:0 30px 30px 30px;padding:0;background-color:transparent;"  >
             <div layout="column" layout-align="top center"  >


                 <md-button ng-click="toggleLeft()" class="md-primary md-raised bg-medgrey" hide-gt-lg  style="margin: 0  0 10px 0;">
                         <i class="fa fa-chevron-circle-left "></i> Search Filters
                 </md-button>

                 <search-filter-themes api="thematicAreaApi" title='Thematic Areas' ng-model='thematicAreas' field='thematicAreas_ss' query='queryTheme'></search-filter-themes>
                 <search-filter-countries api="countryApi" title='Countries' ng-model='governments' field='government_s' query='queryGovernment' external-filter="countryResultFilter"></search-filter-countries>
                 <search-filter-regions api="regionsApi" title="Regions" ng-model="regions" field="government_REL_ss" query="queryRegion" facets="regionFacets"></search-filter-regions>


                 <div style="max-width:100%">
                     <span style="cursor:pointer" ng-click="queryStatus()" ng-show="queryPartyStatus && queryPartyStatus.length>0" class="label label-primary">
                         Party Status &nbsp;<span aria-hidden="true">&times;</span>
                     </span>
                     &nbsp;
                     <button class="btn btn-primary" type="button" ng-repeat="filter in selectedSchemaFilters" ng-click="removeFilter(filter)"
                             style="margin-right:2px;margin-bottom:2px">
                         {{filter.isTerm ? (filter.value|term) : filter.value}}
                          <span class="badge" >{{filter.count}}</span>
                          &nbsp;<span aria-hidden="true">&times;</span>
                     </button>
                    <button class="btn btn-primary" type="button"
                     ng-repeat="filter in countryApi.getSelected()"
                     ng-click="removeCountryFilter(filter)"
                            style="margin-right:2px;margin-bottom:2px">
                        {{filter.name|lstring}}
                         <span class="badge" >{{filter.count}}</span>
                         &nbsp;<span aria-hidden="true">&times;</span>
                    </button>
                    <button class="btn btn-primary" type="button"
                     ng-repeat="filter in thematicAreaApi.getSelected()"
                     ng-click="removeThematicAreaFilter(filter)"
                            style="margin-right:2px;margin-bottom:2px">
                        {{filter.title|lstring}}
                         <span class="badge" >{{filter.count}}</span>
                         &nbsp;<span aria-hidden="true">&times;</span>
                    </button>
                    <button class="btn btn-primary" type="button"
                     ng-repeat="filter in regionsApi.getSelected()"
                     ng-click="removeRegionFilter(filter)"
                            style="margin-right:2px;margin-bottom:2px">
                        {{filter.title|lstring}}
                         <span class="badge" >{{filter.count}}</span>
                         &nbsp;<span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div preview-type="previewType" document-list documents='rawDocs' filter='*' show-pagination='true' current-page='currentPage' document-Count='documentCount' order-by="orderBy">
                </div>
            </div>
        </div>
    </div>



</div>
