<div class="bg-white">
<style>
    .matrixTable tr .headerColumn {
        width: 30%;
        font-weight: bold;
    }

    .matrixheaderColumn {
        width: 40%;
    }

    .table > tbody > tr > td{
     padding:3px;
    }

    .tableCell {
        padding: 0px!important;
    }

    .tableCell table {
        border: none;
        margin: 0px;
    }

    .noBorder {
        border: none!important;
    }

    .noLeftBorder {
        border-left: none!important;
    }

    .noRightBorder {
        border-right: none!important;
    }

    .noTopBorder {
        border-top: none!important;
    }

    .noBottomBorder {
        border-bottom: none!important;
    }

    .whiteBackground {
        background-color: #fff!important;
    }

    .rightBorder {
        border-right: 1px solid #ddd;
    }

    .subList {
        padding-left: 5%!important;
    }

    .cover50 {
        width: 50%;
    }

    .cover45 {
        width: 45%;
    }

    .cover45_1 {
        width: 45.1%;
    }

    .cover55 {
        width: 55%;
    }


    .paddingleft3 {
        font-weight:bold;
    }

    .paddingleft3::before {
     /*content: " - ";*/
    }

    .paddingleft6 {
        padding-left: 6%!important;

    }

    .paddingleft6::before {
     content: "-";
    }

    .paddingleft9 {
        padding-left: 9%!important;
    }

    .paddingleft12 {
        padding-left: 12%!important;
    }

    .elementMeasure {
        padding-bottom:  0px!important;
    }

    .whiteTopBorder {
        border-bottom: 1px solid #fff;
    }

    .table > tbody > tr > td {
        border-top: none!important;
    }
    .hand{
        cursor: pointer;
    }
    .table{
        width:100%!important;
    }
     .expander{
        font-size:14px;
        font-weight:bold;
        position:relative;
    }
    .boldLabel{
        font-weight:bold;
    }
</style>
<legend>{{title}}

    <a class="pull-right expander" ng-click="collapseAll=!collapseAll;showHideAll(true)"  ng-show="!collapseAll">Collapse All <i class="fa fa-chevron-circle-up hand"></i></a>
    <a class="pull-right expander" ng-click="collapseAll=!collapseAll;showHideAll(false)" ng-show="collapseAll">Expand All <i class="fa fa-chevron-circle-down hand"></i></a>

</legend>

    <table class="table matrixTable bg-white" style="margin-bottom:0;">
          <tr ng-if="rootTerms.length==0">
              <td>

                   <div block-region activate="true" style="margin-bottom:20px;"></div>

              </td>
          </tr>
          <!-- <tr>
              <td>
                    <div ng-repeat="element in measureMainElements">
                            <div class="tableCell" ng-include="'/app/views/search/matrix/new-measure-matrix.directive'">
                            </div>
                    </div>
              </td>
          </tr> -->

        <tr ng:repeat="term in rootTerms" ng-if="rootTerms.length>0">
            <td class="tableCell" ng-include="'/app/views/search/matrix/measure-matrix.directive/abs/inner'">
            </td>
        </tr>
    </table>
    <script type="text/ng-template" id="/app/views/search/matrix/new-measure-matrix.directive">
        <table class="table">
            <tr>
                <td>
                    {{$index}}. {{element.title|lstring}}
                    <span ng-if="element.section">
                        ({{element.section|lstring}})
                    </span>
                </td>
            </tr>
        </table>
        <div ng-repeat="element in element.narrowerTerms" style="padding-left:50px;">
            <div class="tableCell" ng-include="'/app/views/search/matrix/new-measure-matrix.directive'">
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="/app/views/search/matrix/measure-matrix.directive/abs/inner">
        <!--{{term.identifier}}-->
        <table class="table" ng:if="term.identifier=='4E2974DF-216E-46C8-8797-8E3A3BLAISE1' || term.isChildSelected || (!term.broaderTerms && term.narrowerTerms) || (!term.broaderTerms && !term.narrowerTerms) || (term.identifier.indexOf('5B6177DD-5E5E-434E-8CB7-D63D67D5EBED')>=0)">
            <tr ng:class="{'elementMeasure':term.isMeasure, 'whiteTopBorder':term.hasMeasure}" >
                <td class="matrixheaderColumn rightBorder "
                ng:class="{'paddingleft0':term.level==1, 'paddingleft3':term.level==2 && !term.isMeasure , 'paddingleft6':term.level==3, 'paddingleft9':term.level==4}">
                        &nbsp;
                        <strong ng-if="!term.broaderTerms">
                           {{  term.title||term.name | lstring:locale|uppercase}}<span ng-if="term.identifier == '5B6177DD-5E5E-434E-8CB7-D63D67D5EBED' && otherCustomValues[term.identifier]">: {{otherCustomValues[term.identifier]| lstring:locale}}</span>
                        </strong>
                        <!--exception for TK-->
                        <span ng-if="term.broaderTerms && !term.isMeasure" ng-style="{'boldLabel':term.identifier=='B8A150E054154AD3AD97856ABD485E90'}">
                            {{(term.title||term.name)  | lstring:locale}}
                            <!--<span ng-if="term.identifier.indexOf('5B6177DD-5E5E-434E-8CB7-D63D67D5EBED')>=0">: {{otherCustomValues[term.identifier]  | lstring:locale}}</span>-->
                        </span>
                        <span ng-if="term.broaderTerms && term.isMeasure">
                            <span ng-if="term.measureType=='linked'">Related to</span>
                            <span ng-if="term.measureType=='amended'">Amended by</span>
                            <span class="color-blue">
                                <a target="new" ng-href="/database/record/{{term.measure|uniqueID}}" >{{term.title||term.name | lstring:locale}} </a>
                            </span>
                        </span>
                         <span ng-if="sections[term.identifier]" class="color-blue bold"> ( {{sections[term.identifier] | lstring:locale}} ) </span>
                         <span ng-if="term.isMeasure && term.measure.amendedFor"> amending {{term.measure.amendedFor}}</span>
                        <i class="fa fa-chevron-circle-up pull-right hand" ng-click="term.showUp=!term.showUp;showHideNode(term.identifier)" ng-show="!term.showUp" ng:if="term.level<2"></i>
                        <i class="fa fa-chevron-circle-down pull-right hand" ng-click="term.showUp=!term.showUp;showHideNode(term.identifier)" ng-show="term.showUp" ng:if="term.level<2"></i>

                </td>
            </tr>
            <tr ng-if="term.identifier=='4E2974DF-216E-46C8-8797-8E3A3BLAISE1'">
              <td colspan="3" style="padding-left:50px">
                  <span  ng-include="'/app/views/forms/edit/viewmeasure.directive/abs/inner/scopeElement'"></span>
              </td>
            </tr>
            <tr ng-if="term.identifier.indexOf('5B6177DD-5E5E-434E-8CB7-D63D67D5EBED')>=0 && identifiers[term.identifier]">
              <td colspan="3" style="padding-left:50px">
                  <span onload="otherElements = otherTerms[term.identifier]" ng-include="'/app/views/forms/edit/view-measure.directive/abs/inner/other'"></span>
              </td>
            </tr>
            <tr ng:if="term.narrowerTerms && term.narrowerTerms.length > 0" id="{{term.identifier}}">
                <td class="matrixheaderColumn rightBorder subList1 cover50 noBottomBorder noTopBorder"
                colspan="1" style="padding-top:0px;padding-bottom:0px">
                    <table class="table matrixTable" ng:class="{'table-bordered':!term.level>1}">
                        <tr ng:repeat="term in term.narrowerTerms|orderBy:['sortOrder', 'sortOrder2', 'createdDate_dt']" >
                            <td class="tableCell" ng:class="{'noBorder':term.isMeasure}" ng-include="'/app/views/search/matrix/measure-matrix.directive/abs/inner'"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </script>

    <script  type="text/ng-template"  id="/app/views/forms/edit/view-measure.directive/abs/inner/other">
        <table class="table table-hover" style="padding:0;margin:0;width:100%;">
            <tbody>
              <tr ng-repeat="element in otherElements">
                    <td>
                        {{element.name|lstring}} ({{element.section|lstring}})
                    </td>
              </tr>
            </tbody>
        </table>
    </script>
    <script  type="text/ng-template"  id="/app/views/forms/edit/viewmeasure.directive/abs/inner/scopeElement">
    <table class="table table-striped table-hover" style="padding:0;margin:0;">
      <tbody>
      <tr ng-repeat="element in binding.geneticResource.elements">
            <td style="vertical-align:middle">
              <span ng-repeat="area in element.types">
                {{area|term}}<span ng-if="!$last">,</span>
              </span>
            </td>
            <td style="vertical-align:middle">
              <class="bold" style="margin: 0 10px;"> found in </span>
           </td>
           <td style="vertical-align:middle">
              <span ng-repeat="area in element.areas">
                  {{area|term}} <span ng-if="!$last">,</span>
              </span>
            </td>
            <td class="text-right"  style="width:250px;text-align:right;vertical-align:middle">
                {{element.section|lstring}}
            </td>
      </tr>
      </tbody>
      </table>

    </script>

    <!-- ng:if="(term.narrowerTerms && term.narrowerTerms.length > 0) || sections[term.identifier]" -->
</div>
