<div>
<style>
    .matrixTable tr .headerColumn {
        width: 30%;
        font-weight: bold;
    }

    .matrixheaderColumn {
        width: 40%;
    }
    
    .table > tbody > tr > td{
     padding:3px;
    }

    .tableCell {
        padding: 0px!important;
    }

    .tableCell table {
        border: none;
        margin: 0px;
    }

    .noBorder {
        border: none!important;
    }

    .noLeftBorder {
        border-left: none!important;
    }

    .noRightBorder {
        border-right: none!important;
    }

    .noTopBorder {
        border-top: none!important;
    }

    .noBottomBorder {
        border-bottom: none!important;
    }

    .whiteBackground {
        background-color: #fff!important;
    }

    .rightBorder {
        border-right: 1px solid #ddd;
    }

    .subList {
        padding-left: 5%!important;
    }

    .cover50 {
        width: 50%;
    }

    .cover45 {
        width: 45%;
    }

    .cover45_1 {
        width: 45.1%;
    }

    .cover55 {
        width: 55%;
    }
    
    .paddingleft0 {
        background-color: #ddd;
        margin-top:30px!important;
        border-bottom:1px #fff solid;
    }
    
    .paddingleft3 {
        font-weight:bold;
    }
    
    .paddingleft3::before { 
     /*content: " - ";*/
    }

    .paddingleft6 {
        padding-left: 6%!important;
        
    }
    
    .paddingleft6::before { 
     content: "-";
    }

    .paddingleft9 {
        padding-left: 9%!important;
    }

    .paddingleft12 {
        padding-left: 12%!important;
    }

    .elementMeasure {
        padding-bottom:  0px!important;
    }

    .whiteTopBorder {
        border-bottom: 1px solid #fff;
    }

    .table > tbody > tr > td {
        border-top: none!important;
    }
    .hand{
        cursor: pointer;
    }
    .table{
        width:100%!important;
    }    
     .expander{
        font-size:14px;
        font-weight:bold;
        position:relative;
    }
    .boldLabel{
        font-weight:bold;
    }
</style>
    <table class="table matrixTable">
         <tr>
             <td>
                <a class="pull-right expander" ng-click="collapseAll=!collapseAll;showHideAll(true)"  ng-show="!collapseAll">Collapse All <i class="fa fa-chevron-circle-up hand"></i></a>
                <a class="pull-right expander" ng-click="collapseAll=!collapseAll;showHideAll(false)" ng-show="collapseAll">Expand All <i class="fa fa-chevron-circle-down hand"></i></a>
             </td>
          </tr>
          <tr ng-if="rootTerms.length==0">
              <td>
                  <i class="fa fa-spin fa-spinner fa-5x" />
              </td>
          </tr>                  
        <tr ng:repeat="term in rootTerms" ng-if="rootTerms.length>0">
            <td class="tableCell" ng-include="'/app/views/search/matrix/measure-matrix.directive/abs/inner'">               
            </td>
        </tr>
    </table>
    <script type="text/ng-template" id="/app/views/search/matrix/measure-matrix.directive/abs/inner">
        <table class="table" ng:if="term.isChildSelected || (!term.broaderTerms && term.narrowerTerms)">
            <tr ng:class="{'elementMeasure':term.isMeasure, 'whiteTopBorder':term.hasMeasure}" >
                <td class="matrixheaderColumn rightBorder " 
                ng:class="{'paddingleft0':term.level==1, 'paddingleft3':term.level==2 && !term.isMeasure && term.identifier.indexOf('#')<0 , 'paddingleft6':term.level==3, 'paddingleft9':term.level==4}">
                        &nbsp;                       
                        <strong ng-if="!term.broaderTerms">
                           {{  term.title||term.name | lstring:locale|uppercase}}
                        </strong>
                        <!--exception for TK--> 
                        <span ng-if="term.broaderTerms && !term.isMeasure" ng-style="{'boldLabel':term.identifier=='B8A150E054154AD3AD97856ABD485E90'}">
                            {{ (term.identifier.indexOf('#')>0 ? otherCustomValues[term.identifier]  : term.title||term.name)  | lstring:locale}} 
                        </span>
                        <span ng-if="term.broaderTerms && term.isMeasure">
                            <span ng-if="term.measureType=='linked'">Related to</span>
                            <span ng-if="term.measureType=='amended'">Amended by</span>
                            <!--<a target="_new" href="/database/measure/{{term.measure|uniqueIDWithoutRevision}}">-->                                
                               <i class="fa fa-star color-green" style="font-size:10px;" ></i> {{term.title||term.name | lstring:locale}}
                            <!--</a>-->                               
                        </span>
                         <span ng-if="sections[term.identifier]" class="color-blue bold">: {{sections[term.identifier] | lstring:locale}}</span>
                        <i class="fa fa-chevron-circle-up pull-right hand" ng-click="term.showUp=!term.showUp;showHideNode(term.identifier)" ng-show="!term.showUp" ng:if="term.level<2"></i>
                        <i class="fa fa-chevron-circle-down pull-right hand" ng-click="term.showUp=!term.showUp;showHideNode(term.identifier)" ng-show="term.showUp" ng:if="term.level<2"></i>

                </td>
                <!--<td style="width:48.99%" ng:class="{'paddingleft6':term.level==2 , 'paddingleft9':term.level==3, 'paddingleft12':term.level==4}">
                    <strong ng-show="!term.broaderTerms">{{sections[term.identifier] | lstring:locale}}</strong>
                    <span ng-show="term.broaderTerms">{{sections[term.identifier] | lstring:locale}}</span>
                </td>-->
            </tr>
            <tr ng:if="term.narrowerTerms && term.narrowerTerms.length > 0" id="{{term.identifier}}">
                <td class="matrixheaderColumn rightBorder subList1 cover50 noBottomBorder noTopBorder"
                colspan="1" style="padding-top:0px;padding-bottom:0px">
                    <table class="table matrixTable" ng:class="{'table-bordered':!term.level>1}">
                        <tr ng:repeat="term in term.narrowerTerms|orderBy:term.isMeasure:desc" >
                            <td class="tableCell" ng:class="{'noBorder':term.isMeasure}" ng-include="'/app/views/search/matrix/measure-matrix.directive/abs/inner'"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </script>
    <!-- ng:if="(term.narrowerTerms && term.narrowerTerms.length > 0) || sections[term.identifier]" -->
</div>
