<div id="search-new">
    <div class="container-fluid" style="margin-top:20px;">

        <div class="row" >
            <div class="col-xs-3" ng-hide="isObjectEmpty(setFilters)" >
               <!-- active filters -->
                <!-- <search-chips ></search-chips>  -->

                <left-side-filter></left-side-filter>

            </div>

            <div class="col-xs-12" ng-class="{'col-xs-9':!isObjectEmpty(setFilters)}">

                <div class="row">
                    <div class="col-md-5">
                        <!-- search input -->
                        <search-input></search-input>
                    </div>
                    <div class="col-md-7">
                        <!-- sortby options -->
                        <search-sort></search-sort>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <search-filters ></search-filters>
                    </div>
                </div>
        
                <div class="row">

                    <div class="col-md-12">
                        <!-- input filters -->
                        <search-subfilter-options></search-subfilter-options>
                    </div>

                    <div class="col-md-12">
                        <!-- results -->
                        <search-results-section></search-results-section>
                    </div>
                </div>

            </div>
        </div>




        


        <!-- help  -->
        <!-- <span class="btn-group pull-right">
    <a rel="noopener" ng-href="#" class="help-tour link2"
        style="font-size:10px;margin:5px 10px 0 5px; text-transform: uppercase;font-weight: 500;text-shadow: 0px 1px 0px rgba(255,255,255,.5);cursor:pointer;"
        ng-click="tour()"> <span class="hidden-xs hidden-sm"> <i class="fa fa-question-circle"
                aria-hidden="true"></i> Help using the search</span></a>

    <a rel="noopener" ng-href="#" ng-if="setFilters()" class="link2"
        style="font-size:10px;;text-transform: uppercase;font-weight: 500;text-shadow: 0px 1px 0px rgba(255,255,255,.5);cursor:pointer;"
        ng-click="showSaveFilter()">Save this search</a> 
</span>  -->








        <style>
            .ngdialog.ngdialog-theme-default.wide .ngdialog-content {
                width: 70% !important;
            }
        </style>
        <script type="text/ng-template" trados-translation="true" id="saveFilterDialog">

         <div class="modal-header">
            <h3 class="modal-title">
                Save Filter
            </h3>
        </div>
        <div class="modal-body">
            <form>
                <fieldset>
                    <div class="form-group">
                        <label for="filterTitle">Filter title</label>
                        <input if="filterTitle" type="text" ng-model="record.queryTitle" class="form-control" placeholder="Filter title">
                    </div>
                    <div class="form-group">
                        <label for="filters">Filters</label><br/>
                        <span id="filters" ng-repeat="filter in record.filters" style="margin-bottom:10px;margin-right:10px;">
                            <span class="label label-info">
                                <span ng-if="filter.type === 'freeText' || filter.type === 'UID'">&#34;</span>{{filter.name}}
                                <span ng-if="filter.type === 'freeText' || filter.type === 'UID'">&#34;</span>
                            </span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="sendEmail">
                            <input type="checkbox" name="sendEmail" ng-model="record.sendEmail">
                             Send me an email when records relevant to this search are added or updated.                        
                        </label>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" aria-label="Close" ng-click="closeDialog()" ng-disabled="loading">Cancel</button>
            <button type="button" class="btn btn-primary" aria-label="Save" ng-click="saveFilter()" ng-disabled="loading">Save</button>
        </div>
    </script>

        <div style="display: none;">
            <span id="exportDisabledMessage">Please wait for the query to finish before exporting.</span>
        </div>
        <joyride ng-if="tourOn"></joyride>
    </div>

</div>