
<div ng-controller="FindController">
    
       <div class="container-fluid md-whiteframe-z1"style="margin-bottom:20px;">
           <h1>
         <div layout="row ">
            <div style="padding-right:10px;"><i class="fa fa-search"></i></div>
            <div style="width:100%;"><input ng-model="keyword" placeholder="What are you looking for?" style="width:100%;border:0;background-color:transparent;"></div>
          </div></h1>
        </div>
        
        
         <div preview-type="previewType" document-list documents='rawDocs' filter='*' show-pagination='true' current-page='currentPage' document-Count='documentCount' order-by="orderBy">
         </div>

    
    <h3 class="container bg-blue " style="border-bottom:1px solid #888;padding-top:3px;padding-bottom:3px;margin:0 auto;">
      National Records </h3>
    <div class="container bg-white" style="padding-top:10px;border-bottom:1px solid #DDD;">
        
        <div class="row row-bottom-border"">
                <div class="col-xs-3">
                    <h5 style="padding-top:0;margin-top:0;"> Country Profiles</h5>
                </div>
                <div class="col-xs-6">
                    <p style="font-size:12px;">
                    Entities  designated to, in accordance with applicable national legislative, administrative or policy measures, be responsible for granting access or, as applicable, issuing written evidence that access requirements have been met and be responsible for advising on applicable procedures and requirements for obtaining prior informed consent and entering into mutually agreed terms (Article 13.2)
                    </p>
                </div>
                <div class="col-xs-3">
                    <div class="status-badge">
                        <span class="badge bg-published">{{getFacet('powpaDossier').public}}</span>
                    </div>
                </div>
            </div>
        
         <div class="row row-bottom-border"">
                <div class="col-xs-3">
                    <h5 style="padding-top:0;margin-top:0;"> National ABS Focal Points  (FP)</h5>
                </div>
                <div class="col-xs-6">
                    <p style="font-size:12px;">
                    Entities  designated to, in accordance with applicable national legislative, administrative or policy measures, be responsible for granting access or, as applicable, issuing written evidence that access requirements have been met and be responsible for advising on applicable procedures and requirements for obtaining prior informed consent and entering into mutually agreed terms (Article 13.2)
                    </p>
                </div>
                <div class="col-xs-3">
                    <div class="status-badge">
                        <span class="badge bg-published">{{getFacet('powpaDossier').public}}</span>
                    </div>
                </div>
            </div>
        
         <div class="row row-bottom-border"">
                <div class="col-xs-3">
                    <h5 style="padding-top:0;margin-top:0;"> Competent National Authorities (CNA)</h5>
                </div>
                <div class="col-xs-6">
                    <p style="font-size:12px;">
                    Entities  designated to, in accordance with applicable national legislative, administrative or policy measures, be responsible for granting access or, as applicable, issuing written evidence that access requirements have been met and be responsible for advising on applicable procedures and requirements for obtaining prior informed consent and entering into mutually agreed terms (Article 13.2)
                    </p>
                </div>
                <div class="col-xs-3">
                    <div class="status-badge">
                        <span class="badge bg-published">{{getFacet('powpaDossier').public}}</span>
                    </div>
                </div>
            </div>
     
         <div class="row row-bottom-border"">
                <div class="col-xs-3">
                    <h5 style="padding-top:0;margin-top:0;"> Legislative, administrative or policy measures (MSR)</h5>
                </div>
                <div class="col-xs-6">
                    <p style="font-size:12px;">
                    Entities  designated to, in accordance with applicable national legislative, administrative or policy measures, be responsible for granting access or, as applicable, issuing written evidence that access requirements have been met and be responsible for advising on applicable procedures and requirements for obtaining prior informed consent and entering into mutually agreed terms (Article 13.2)
                    </p>
                </div>
                <div class="col-xs-3">
                    <div class="status-badge">
                        <span class="badge bg-published">{{getFacet('powpaDossier').public}}</span>
                    </div>
                </div>
            </div>
      
         <div class="row row-bottom-border"">
                <div class="col-xs-3">
                    <h5 style="padding-top:0;margin-top:0;">  National Websites and Databases (NDB)</h5>
                </div>
                <div class="col-xs-6">
                    <p style="font-size:12px;">
                    Entities  designated to, in accordance with applicable national legislative, administrative or policy measures, be responsible for granting access or, as applicable, issuing written evidence that access requirements have been met and be responsible for advising on applicable procedures and requirements for obtaining prior informed consent and entering into mutually agreed terms (Article 13.2)
                    </p>
                </div>
                <div class="col-xs-3">
                    <div class="status-badge">
                        <span class="badge bg-published">{{getFacet('powpaDossier').public}}</span>
                    </div>
                </div>
            </div>
            
            <div class="row row-bottom-border"">
                <div class="col-xs-3">
                    <h5 style="padding-top:0;margin-top:0;">   Internationally Recognized Certificate of Compliance (IRCC)</h5>
                </div>
                <div class="col-xs-6">
                    <p style="font-size:12px;">
                    Entities  designated to, in accordance with applicable national legislative, administrative or policy measures, be responsible for granting access or, as applicable, issuing written evidence that access requirements have been met and be responsible for advising on applicable procedures and requirements for obtaining prior informed consent and entering into mutually agreed terms (Article 13.2)
                    </p>
                </div>
                <div class="col-xs-3">
                    <div class="status-badge">
                        <span class="badge bg-published">{{getFacet('powpaDossier').public}}</span>
                    </div>
                </div>
            </div>
            
             <div class="row row-bottom-border"">
                <div class="col-xs-3">
                    <h5 style="padding-top:0;margin-top:0;">    Checkpoints (CP)</h5>
                </div>
                <div class="col-xs-6">
                    <p style="font-size:12px;">
                    Entities  designated to, in accordance with applicable national legislative, administrative or policy measures, be responsible for granting access or, as applicable, issuing written evidence that access requirements have been met and be responsible for advising on applicable procedures and requirements for obtaining prior informed consent and entering into mutually agreed terms (Article 13.2)
                    </p>
                </div>
                <div class="col-xs-3">
                    <div class="status-badge">
                        <span class="badge bg-published">{{getFacet('powpaDossier').public}}</span>
                    </div>
                </div>
            </div>
            
             <div class="row row-bottom-border"">
                <div class="col-xs-3">
                    <h5 style="padding-top:0;margin-top:0;">   Checkpoint Communiqués  (CPC)</h5>
                </div>
                <div class="col-xs-6">
                    <p style="font-size:12px;">
                    Entities  designated to, in accordance with applicable national legislative, administrative or policy measures, be responsible for granting access or, as applicable, issuing written evidence that access requirements have been met and be responsible for advising on applicable procedures and requirements for obtaining prior informed consent and entering into mutually agreed terms (Article 13.2)
                    </p>
                </div>
                <div class="col-xs-3">
                    <div class="status-badge">
                        <span class="badge bg-published">{{getFacet('powpaDossier').public}}</span>
                    </div>
                </div>
            </div>
        
    </div>
    
    
    
    <h3 class="container bg-orange " style="border-bottom:1px solid #888;padding-top:3px;padding-bottom:3px;margin:20px auto 0 auto;">
      Reference Records </h3>
    <div class="container bg-white" style="padding-top:10px;border-bottom:1px solid #DDD;">
            <div class="row row-bottom-border"">
                <div class="col-xs-3">
                    <h5 style="padding-top:0;margin-top:0;"> Virtual Library Records</h5>
                </div>
                <div class="col-xs-6">
                    <p style="font-size:12px;">
                    Entities  designated to, in accordance with applicable national legislative, administrative or policy measures, be responsible for granting access or, as applicable, issuing written evidence that access requirements have been met and be responsible for advising on applicable procedures and requirements for obtaining prior informed consent and entering into mutually agreed terms (Article 13.2)
                    </p>
                </div>
                <div class="col-xs-3">
                    <div class="status-badge">
                        <span class="badge bg-published">{{getFacet('powpaDossier').public}}</span>
                    </div>
                </div>
            </div>
        
         <div class="row row-bottom-border"">
                <div class="col-xs-3">
                    <h5 style="padding-top:0;margin-top:0;"> Notifications</h5>
                </div>
                <div class="col-xs-6">
                    <p style="font-size:12px;">
                    Entities  designated to, in accordance with applicable national legislative, administrative or policy measures, be responsible for granting access or, as applicable, issuing written evidence that access requirements have been met and be responsible for advising on applicable procedures and requirements for obtaining prior informed consent and entering into mutually agreed terms (Article 13.2)
                    </p>
                </div>
                <div class="col-xs-3">
                    <div class="status-badge">
                        <span class="badge bg-published">{{getFacet('powpaDossier').public}}</span>
                    </div>
                </div>
            </div>
     
         <div class="row row-bottom-border"">
                <div class="col-xs-3">
                    <h5 style="padding-top:0;margin-top:0;">Meetings</h5>
                </div>
                <div class="col-xs-6">
                    <p style="font-size:12px;">
                    Entities  designated to, in accordance with applicable national legislative, administrative or policy measures, be responsible for granting access or, as applicable, issuing written evidence that access requirements have been met and be responsible for advising on applicable procedures and requirements for obtaining prior informed consent and entering into mutually agreed terms (Article 13.2)
                    </p>
                </div>
                <div class="col-xs-3">
                    <div class="status-badge">
                        <span class="badge bg-published">{{getFacet('powpaDossier').public}}</span>
                    </div>
                </div>
            </div>
      
         <div class="row row-bottom-border"">
                <div class="col-xs-3">
                    <h5 style="padding-top:0;margin-top:0;">  News</h5>
                </div>
                <div class="col-xs-6">
                    <p style="font-size:12px;">
                    Entities  designated to, in accordance with applicable national legislative, administrative or policy measures, be responsible for granting access or, as applicable, issuing written evidence that access requirements have been met and be responsible for advising on applicable procedures and requirements for obtaining prior informed consent and entering into mutually agreed terms (Article 13.2)
                    </p>
                </div>
                <div class="col-xs-3">
                    <div class="status-badge">
                        <span class="badge bg-published">{{getFacet('powpaDossier').public}}</span>
                    </div>
                </div>
            </div>
            
            <div class="row row-bottom-border"">
                <div class="col-xs-3">
                    <h5 style="padding-top:0;margin-top:0;">   Statements</h5>
                </div>
                <div class="col-xs-6">
                    <p style="font-size:12px;">
                    Entities  designated to, in accordance with applicable national legislative, administrative or policy measures, be responsible for granting access or, as applicable, issuing written evidence that access requirements have been met and be responsible for advising on applicable procedures and requirements for obtaining prior informed consent and entering into mutually agreed terms (Article 13.2)
                    </p>
                </div>
                <div class="col-xs-3">
                    <div class="status-badge">
                        <span class="badge bg-published">{{getFacet('powpaDossier').public}}</span>
                    </div>
                </div>
            </div>
            
             <div class="row row-bottom-border"">
                <div class="col-xs-3">
                    <h5 style="padding-top:0;margin-top:0;">    Press Releases</h5>
                </div>
                <div class="col-xs-6">
                    <p style="font-size:12px;">
                    Entities  designated to, in accordance with applicable national legislative, administrative or policy measures, be responsible for granting access or, as applicable, issuing written evidence that access requirements have been met and be responsible for advising on applicable procedures and requirements for obtaining prior informed consent and entering into mutually agreed terms (Article 13.2)
                    </p>
                </div>
                <div class="col-xs-3">
                    <div class="status-badge">
                        <span class="badge bg-published">{{getFacet('powpaDossier').public}}</span>
                    </div>
                </div>
            </div>
           
        
    </div>

</div>
