<link href="/app/css/find.css" rel="stylesheet">
<link href="/app/css/record.css" rel="stylesheet">
<style>
    .not-active {
        color: rgb(119, 119, 119)!important;
    }

    .active {
        color: #2a6496!important;
    }

    .typebtn:hover {
        background-color: #eee;
    }

    .handleSearchPage {
        position: absolute!important;
        right: 10%!important;
    }

    #sidebar-wrapper {
        width: 300px;
        background-color: white;
    }

    .sidebar-nav {
        width: 300px;
        /*padding-left: 5px;*/
    }

</style>

<div ng-controller="FindController">
    <div smooth-scroll duration="100" offset="200"></div>
    <div help schema="{{helpSchema}}" delay="100">
        <div id="wrapper" >
            <div id="sidebar-wrapper" class="bg-grey">
                <div class="sidebar-nav" style="margin-top:20px;">
                    <search-filter-schemas ng-model='schemas' field='schema_s'
                    query='querySchema' preview-type="previewType"
                    selected-filters="selectedSchemaFilters"
                    record-type="recordType"></search-filter-schemas>
                </div>
            </div>
            <div id="page-content-wrapper">
                <div class="container-fluid1">
                    <div class="row">
                        <div class="col-lg-12">
                            <i  class="fa fa-list pointer btn btn-default visible-xs visible-sm" id="menu-toggle" ng-click="toggleSideBar($event)"/>

                            <button class="btn btn-primary" type="button" ng-show="partyStatusString" ng-click="queryStatus()" style="margin-right:2px;margin-bottom:2px">
                                {{partyStatusString}} &nbsp;
                                <span aria-hidden="true">&times;</span>
                            </button>

                            <button class="btn btn-default" type="button" ng-repeat="filter in selectedSchemaFilters" ng-click="removeFilter(filter)" style="margin-right:2px;margin-bottom:2px">
                                {{filter.isTerm ? (filter.value|term) : filter.value}} &nbsp;
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <button class="btn btn-primary" type="button" ng-repeat="filter in countryApi.getSelected()" ng-click="removeCountryFilter(filter)" style="margin-right:2px;margin-bottom:2px">
                                {{filter.name|lstring}} &nbsp;
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <button class="btn btn-primary" type="button" ng-repeat="filter in thematicAreaApi.getSelected()" ng-click="removeThematicAreaFilter(filter)" style="margin-right:2px;margin-bottom:2px">
                                {{filter.title|lstring}} &nbsp;
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <button class="btn btn-primary" type="button" ng-repeat="filter in regionsApi.getSelected()" ng-click="removeRegionFilter(filter)" style="margin-right:2px;margin-bottom:2px">
                                {{filter.title|lstring}} &nbsp;
                                <span aria-hidden="true">&times;</span>
                            </button>

                            <search-filter-themes api="thematicAreaApi" title='Thematic Areas' ng-model='thematicAreas' field='thematicAreas_ss' query='queryTheme'></search-filter-themes>
                            <search-filter-countries api="countryApi" title='Countries' ng-model='governments' field='{{governmentsQueryField}}' query='queryGovernment' external-filter="countryResultFilter"></search-filter-countries>
                            <search-filter-regions api="regionsApi" title="Regions" ng-model="regions" field="{{regionQueryField}}" query="queryRegion" facets="regionFacets"></search-filter-regions>

                            <div record-type="recordType" preview-type="previewType" document-list documents='rawDocs' filter='*' show-pagination='true'
                                current-page='currentPage' document-Count='documentCount' order-by="orderBy" group-count="groupCount">
                            </div>

                            <div country-map-list ng-if="recordType=='countryProfile'" api="countryProfileApi" record-type="recordType" query="querySchema"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div search-directive></div> -->
    </div>
</div>
