<div ng-controller="ContactsController" class="register-content card card-1-notrans">

 <div class="register-content-header bg-blue color-white">
      <div style="padding:10px 10px;">
        <h3><span >National Contacts</span>
            <span >Manage Contacts</span>
            <span class="helpinfoInline fa fa-info-circle" data-toggle="tooltip" data-html="true" data-title=" This common format is to be used for registering organizations and contacts which can be used in other national records." data-container="body"></span></h3>
      </div>
  </div>
  
    <div class="register-content-content" >

        <div ng-show="msg" class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="msg=''">&times;</button>
            <strong>{{msg}}</strong>
        </div>
        <div ng-show="user.isAuthenticated && !editing">
              <br/>
            <field-embed-contact multiple ng-model="records" show-filter locales="localeRegister" caption="Add an organisation or a contact »"></field-embed-contact>
        </div>

    </div>

</div>
