[v-cloak] {
	display: none;
}
.knowledge-base .map-bg {
	background-color: #88939b;
}
.knowledge-base .masthead {
	padding: 40px 0 40px 0;
	text-align: center;
}
.knowledge-base .masthead h1 {
	color: #fff;
	font-size: 38px;
	font-weight: 300;
}

.knowledge-base .masthead .search-field {
	width: 100%;
	font-size: 15px;
	border-radius: 3px;
	padding: 0px 30px;
	border: none;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 55px;
}
.knowledge-base .masthead form button {
	position: absolute;
	right: 25px;
	top:77px;
	background: none;
	border: none;
	font-size: 30px;
	color: #86939e;
}
.knowledge-base .masthead .btn-kb {
	border: 2px solid #fff;
	color: #fff;
	border-radius: 3px;
	padding: 10px 20px;
	margin-top: 10px;
}
.knowledge-base .masthead .btn-kb:hover {
	background-color: rgb(255 255 255 / 19%);
	color: #fff
}
.knowledge-base .masthead .btn-kb-dark {
	border: 2px solid #008CD7;
	color: #fff;
	border-radius: 3px;
	padding: 10px 20px;
	margin-top: 10px;
	background: #008CD7;
	margin-left: 5px
}
.knowledge-base .masthead .btn-kb-dark:hover {
	border: 2px solid #0577B5;
	color: #fff;
	background: #0577B5;
}
.knowledge-base .kb-breadcrumbs {
	background: #f9f9f9;
	padding-top: 15px;
	padding-bottom: 5px;
	border-bottom: #eee 1px solid
}
.knowledge-base .kb-breadcrumbs ol {
	padding: 0;
}
.knowledge-base .kb-breadcrumbs ol li {
	display: inline-block;
	color: #5e6977;
	font-size: 14px;
}
.knowledge-base .kb-breadcrumbs ol li a {
	text-decoration: none;
	color: #5e6977;
}
.knowledge-base .kb-breadcrumbs ol li::after {
	content: " / ";
	padding: 0 10px;
}
.knowledge-base .kb-breadcrumbs ol .active {
	color: #7dc855;
}
.knowledge-base .kb-breadcrumbs ol li:last-child::after {
	content: " ";
}
.knowledge-base .categories {
	padding: 30px 0;
	background: #f9f9f9;
}
.categories header {
	position: relative;
}
.knowledge-base .categories header h2 {
	font-size: 38px;
	font-weight: 300;
	font-family: "Roboto", sans-serif;
	color: #43484d;
}
.knowledge-base .categories header p {
	font-size: 16px;
	font-weight: 300;
	color: #5e6977;
}
.knowledge-base .categories .row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -1rem;
	margin-left: -1rem;
}

.knowledge-base .categories-list .tagcloud .btn-mini {

	background-color: #fff;
	border:#efefef 1px solid;
	box-shadow: none;
}
.knowledge-base .match-height > [class*=col] {
	display: flex;
	flex-flow: column;
}
.knowledge-base .match-height > [class*=col] > .categories-list {
	flex: 1 1 auto;
}
.knowledge-base .match-height .loading {
	margin: 10% 50%;
}
.knowledge-base .categories-list h3 {
	/* margin: 0 */
}
.knowledge-base .categories-list.tag-count h3 {
	border-bottom: #efefef 1px solid;
	padding-bottom: 15px;
}
.knowledge-base .categories-list h3 a{
	text-transform: capitalize;
	font-size: 18px;
	text-decoration: none;
	color: #43484d
}
.knowledge-base .categories-list h3 a:hover{
	text-transform: capitalize;
	font-size: 18px;
	text-decoration: underline;
	color: #428bca
}
.knowledge-base .categories-list .view-more{
	text-align: end;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.knowledge-base .categories-list .view-more:hover{
	color: #428bca;
	text-decoration: underline;
}
.knowledge-base .categories h3 {
	font-size: 16px;
	font-weight: 400;
	line-height: 29px;
	color: #43484d;
	text-decoration: none;
	margin-left: 5px;
}
.knowledge-base .categories-list .badge {
	background-color: #A15603;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	line-height: 30px;
	min-width: 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	height: 30px;
	width: 30px;
	margin-right: 10px;
	padding: 0;
}
.knowledge-base .categories-list .cate-list-ul {
	margin: 10px 0 0 0;
	padding: 0
}
.knowledge-base .categories-list .cate-list-ul:nth-child(6) {
	padding-bottom: 20px;
}
.knowledge-base .article-by-tags .kb-listing .article-with-tags-ul:nth-child(6) {
	padding-bottom: 0;
}
.knowledge-base .categories-list .cate-list-ul .cate-list-li {
	list-style: none;
	padding-left: 5px;
	padding-top: 10px;
}
.knowledge-base .categories-list .cate-list-ul .cate-list-li:before {
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f016";
	color: #b5bfc7;
	font-size: 18px;
}
.knowledge-base .categories-list .cate-list-ul .cate-list-li.tag:before {
	content: "";
	font-size: 18px;
}
.knowledge-base .categories-list .cate-list-ul .cate-list-li a {
	padding-left: 5px;
	color: #5e6977;
	font-size: 14px;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	text-decoration: none;
	outline: 0 none;
}


.knowledge-base .widget-right-forum {
	margin-bottom: 24px;
	margin-top: 50px;
}

.knowledge-base .widget {
	border: 3px solid #f7f7f7;
	border-radius: 5px;
	padding: 25px;
	background: #fff
}
.knowledge-base .widget h4 {
	font-size: 18px;
	font-weight: 400;
	color: #43484d;
	line-height: 25px;
	margin: 0;
	border-bottom: #efefef 1px solid;
	padding-bottom: 15px;
}
.knowledge-base .widget_categories ul{
	padding: 0
}
.knowledge-base .widget_categories li {
	list-style: none;
	padding-left: 5px;
	padding-top: 10px;
}
.knowledge-base .widget_categories li::before {
	font-family: FontAwesome;
	content: "\f016";
	color: rgb(181, 191, 199);
	font-size: 18px;
}
.knowledge-base .widget_categories li a {
	padding-left: 15px;
	color: #5e6977;
	font-size: 14px;
	font-weight: 400;
	font-family: "Roboto",sans-serif;
	text-decoration: none;
	outline: 0 none;
}
.knowledge-base .mt-1{
	margin-top: 1rem
}
.knowledge-base .mt-2{
	margin-top: 2rem
}
.knowledge-base .mt-2.right-side-articles{
	margin-top: 1rem
}
.knowledge-base .tagcloud{
	margin-top: 3px;
	display: inline-block;
}
.knowledge-base .widget_categories .tag-scroll{
	height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 10px;
}

.knowledge-base .tagcloud a {
	margin: 3px;
	font-size: 11px;
}
.knowledge-base .tagcloud .btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 4px 15px;
	margin-bottom: 5px;
	font-size: 12px;
	line-height: 22px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333333;

	background-color: #fff;

	border: 1px solid #eee;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	*margin-left: .3em;

}
.knowledge-base .tagcloud .btn-mini {
	padding: 0px 8px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	border:#efefef 1px solid;
	box-shadow: none;

}
.knowledge-base .tagcloud .btn-mini:hover{
	background-color: rgb(235, 235, 235);
	border:#dadada 1px solid;
}

 .knowledge-base .tagcloud .btn:active, .knowledge-base .tagcloud .btn.active, .knowledge-base .tagcloud .btn.disabled, .knowledge-base .tagcloud .btn[disabled] {
	color: #333333;
	background-color: #fff;
	border:#efefef 1px solid;
	box-shadow: none;
	
}
.knowledge-base  .meta {
	text-align: left;

	border-bottom: 1px solid #F2F2F2;
	margin: 10px 0 20px 0 !important;
	padding: 0 0 20px 0 !important;

}
.knowledge-base .meta {
	text-align: left;

	border-bottom: 1px solid #F2F2F2;
	margin: 10px 0 20px 0 !important;
	padding: 0 0 20px 0 !important;

}
.knowledge-base .meta li {
	display: inline-block;
	font-weight: 300;
	color: #86939e;
}

.knowledge-base .meta li span {
	color: #43484d;
}
.knowledge-base .meta li::before {
	display: none
}
.knowledge-base .meta li::after {
	content: "|";
	padding: 0 20px;
}
.knowledge-base .meta li:last-child::after {
	content: none;
}

.knowledge-base .single p{
	font-size: 14px;
	font-weight: normal;
	color: #777;
	line-height: 26px;
	text-align: justify;
	font-family: "Roboto",sans-serif;
}

.knowledge-base .alert .fa{
	display:table-cell;
	float: left;
	color: black
}

.knowledge-base .alert div{
	padding-left: 5px;
	display:table-cell;
	float: left;
	width: 88%;
	margin-left: 15px
}
.knowledge-base .fa-3 {
	font-size: 4em;
}

.knowledge-base .alert-info {
	color: #888;
	background-color: #F6FAFD;
	border-color: #CAEDF3;
}
.knowledge-base .support-container {
	background-color: #fdf8c8;
	border: 1px solid #e7e0a1;
	padding: 20px 90px 20px 20px;
	font-size: 14px;
	color: #676767;
	font-weight: lighter;
	background-repeat: no-repeat;
	background-position: right 10px top 10px;
	margin-top: 30px;
}
.knowledge-base h2.support-heading {
	font-size: 20px;
	margin: 0;
	color: #333333;
	padding-bottom: 15px;
}
.knowledge-base .full-details .image {
	overflow: auto;
}

@media only screen and (min-width: 768px)  {

	.knowledge-base .masthead form button {
		top: 98px;
	}
}
@media only screen and (min-width: 992px) {

	.knowledge-base .masthead form button {
		top: 77px;
	}
}

@media screen and (min-width: 480px){

	.knowledge-base .masthead form button {
		top: 98px;
	}
}
/*  */
.knowledge-base h2.title-heading {
	font-size: 24px;
	text-overflow: ellipsis;
	color: #303030;
	font-weight: bold;
	cursor: pointer;
}
.knowledge-base h2.title-heading:hover {
	color: #337ab7;
	text-decoration: none;
}
.knowledge-base  .page-link{
	cursor: pointer;
}
.knowledge-base .kb-listing{

	float: left;
	width: 100%;
}
.knowledge-base .kb-listing .article-with-tags-ul{
	margin-left: -40px;
}
.knowledge-base .kb-listing .article-with-tags-ul .article-with-tags-li{
	background-color: #fff;
	border-radius: 4px;
	padding: 30px;
	position: relative;
	z-index: 3;
	text-decoration: none;
	overflow: hidden;
	width: 100%;
	display: block;
	outline: none;
	box-shadow: 0 3px 8px 0 rgb(0 0 0 / 3%);
	box-shadow: 0 3px 8px 0 rgb(0 0 0 / 3%);
	-webkit-transition: border .15s linear,background-color .15s linear,box-shadow .15s linear,opacity .15s linear,-webkit-transform .15s linear;
	transition: border .15s linear,background-color .15s linear,box-shadow .15s linear,opacity .15s linear,-webkit-transform .15s linear;
	transition: border .15s linear,transform .15s linear,background-color .15s linear,box-shadow .15s linear,opacity .15s linear;
	transition: border .15s linear,transform .15s linear,background-color .15s linear,box-shadow .15s linear,opacity .15s linear,-webkit-transform .15s linear;
	border: 1px solid transparent !important;
	margin-bottom: 30px;
}
.knowledge-base .kb-listing .article-with-tags-ul .article-with-tags-li:hover {
	border: 1px solid #e6ecf5 !important;
}
.knowledge-base .kb-listing .article-with-tags-ul .article-with-tags-li:hover .article-title,.knowledge-base .kb-listing .article-with-tags-ul .article-with-tags-li>i{
	/* color: #e01865!important; */
	font-size: 22px;
}

.knowledge-base .kb-listing .article-with-tags-ul .article-with-tags-li .article-title{
	font-weight: 400;
	margin: 5px 0 11px;
	text-decoration: none;
	font-size: 22px;
	line-height: 1.4;
	color: #515365;
}

.knowledge-base .kb-listing .article-with-tags-ul .article-with-tags-li .date-sec{
	float: left;
	width: 100%;
	background: #ffffff;
	margin-top: 15px;
	color: #5e6977;
}
.knowledge-base .kb-listing .article-with-tags-ul .article-with-tags-li .date-sec:hover{
	background: #ffffff;
}
.knowledge-base .kb-listing .article-with-tags-ul .article-with-tags-li .inner-area .btn-mini{
	color: #515365;
	padding: 5px;
	font-weight: bold;
}

.knowledge-base .kb-listing .article-with-tags-ul .article-with-tags-li .inner-area .btn-mini:hover{
	color: #428bca;
	text-decoration: underline;
}

.knowledge-base .article-description .detail-custom-tag {
	float: left;
	width: 100%;
	background: #eee;
	padding: 10px;
	margin: 10px 0;
}
.knowledge-base .article-description .detail-custom-tag .inner-area{
	float: left;
	width: auto;
	margin-right: 15px;
	color: #a3a3a3;
}
.knowledge-base .categories-list .detail-custom-tag .inner-area .fa{
	color: rgb(145, 145, 145);
}
.knowledge-base .kb-faq main {
	margin-top: 30px
}

.knowledge-base .article-summary{
	margin: 5px 0 11px;
	padding: 1.5rem 1.5rem 1.5rem 0.5rem;
	outline: none;
	border-radius: 0.25rem;
	text-align: left;
	cursor: pointer;
	position: relative;
	color: #000;
}
.knowledge-base .kb-faq summary{
	font-size: 1.8rem;
	font-weight: 500;
	background-color: #fafafa;
	color: #000;
	padding: 1.5rem;
	margin-bottom: 1rem;
	outline: none;
	border-radius: 0.25rem;
	text-align: left;
	cursor: pointer;
	position: relative;
}
.knowledge-base .kb-faq details{
	border: #EEEEEE 1px solid;
	margin-bottom: 10px;
}

.knowledge-base .kb-faq details[open] .faq-content{
	padding: 10px;
    background: #fff;
}
.knowledge-base .kb-faq details[open] summary ~ * {
	animation: sweep .5s ease-in-out;
}
@keyframes sweep {
	0%    {opacity: 0; margin-top: -10px}
	100%  {opacity: 1; margin-top: 0px}
}
.knowledge-base .kb-faq details > summary::after {
	position: absolute;
	content: "+";
	right: 25px;
}
.knowledge-base .kb-faq details[open] > summary::after {
	position: absolute;
	content: "-";
	right: 25px;
}
.knowledge-base .kb-faq details[open]{
	background-color: #fafafa;
}
.knowledge-base .kb-faq details[open] summary {
	 border-bottom: none;

 }
.knowledge-base .kb-faq details > summary::-webkit-details-marker {
	display: none;
}
