/* TODO: if we remove these links the fonts will not apply in kb,  this will be removed once these fonts available in project  */
@import url('http://fonts.cdnfonts.com/css/roboto');
@import url('http://fonts.cdnfonts.com/css/nunito');
[v-cloak] {
	display: none;
}
.knowledge-base .map-bg {
	background-color: #00405C;
}
.knowledge-base .masthead {
	padding:30px;
}
.knowledge-base .masthead h1 {
    font-style: normal;
	color: #fff;
	font-size:26px;
}

.knowledge-base .map-bg .searchbar .search_input {
	padding: 0 0.625rem;
    width: 94%;
    height: 2.5rem;
    transition: width 0.4s linear;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border: none;
}

.knowledge-base .map-bg .search_icon {
	background: #e9ecef;
	color: #9ea5ab;
	height: 2.5rem;
	width: 6%;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border-bottom-right-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.knowledge-base .categories {
	padding: 1.875rem 0;
}
.categories header {
	position: relative;
}
.knowledge-base .side-bar, .right-side-articles.side-popular-tags{
	margin-left: 1.25rem;
}

.knowledge-base .right-side-articles.relevant-articles{
	margin-left: 1.25rem;
	margin-top: 1.7rem !important;
}

.knowledge-base .side-bar hr, .widget_categories hr, .kb-faq hr, .article-by-tags hr{
	border: 1px solid #CBCBCB;
	transform: rotate(180deg);
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.widget_categories.tag-count hr{
	margin-top: -.2rem;
    margin-bottom: .4rem;
    width: 100%;
}
.knowledge-base .categories header h2, .article-by-tags h2, .kb-faq h2{
	text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.015em;
	
}

.knowledge-base .categories .row {
	display: flex;
	flex-wrap: wrap;
	color: #000;
}

.knowledge-base .categories-list .tagcloud .btn-mini {

	background-color: #fff;
	border:#efefef .1rem solid;
	box-shadow: none;
}
.knowledge-base .match-height > [class*=col] {
	display: flex;
	flex-flow: column;
}
.knowledge-base .match-height > [class*=col] > .categories-list {
	flex: 1 1 auto;
}
.knowledge-base .match-height .loading {
	margin: 10% 50%;
}


.knowledge-base .categories-list h3 a{
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 149.38%;
	letter-spacing: 0.015em;
	color: #6054BA;
	text-decoration: none;
}
.knowledge-base .categories-list h3 a:hover{
	text-decoration: underline;
	color: #6054BA
}
.knowledge-base .categories-list .view-more,.side-bar .right-side-articles .view-more{
	text-align: end;
	bottom: 0.6rem;
	right: 0.6rem;

	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	line-height: 170%;
	margin-top: 1.5rem;
}
.right-side-articles .view-more a{
	
}

.knowledge-base .categories-list .view-more:hover{
	
	text-decoration: underline;
}
.knowledge-base .categories h3 {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.75rem;
	
	text-decoration: none;
}
.categories-list.widget_categories.tag-count, .article-description.mt-0.single{
	padding: 0.6rem 1.25rem 0.6rem 1.25rem;
	background: #FFFFFF;
	box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
	border-radius: 0.25rem;
	margin-top: 1rem;
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-clip: border-box;
	flex: 1 1 auto;
	margin-bottom: 0.6rem;
}

.knowledge-base .categories-list .cate-list-ul {
	margin: 0;
	padding: 0;
}
.knowledge-base .categories-list .cate-list-ul:nth-child(6) {
	padding-bottom: 1.25rem;
}
.knowledge-base .article-by-tags .kb-listing .article-with-tags-ul:nth-child(6) {
	padding-bottom: 0;
}
.knowledge-base .article-by-tags {
	margin-top: 2.6rem;
}
.knowledge-base .categories-list .cate-list-ul .cate-list-li, .knowledge-base .widget_categories li {
	list-style: disc;
	padding-top: 0.3rem;
	margin-left: 1.25rem;
	font-size: 1rem;
	padding-left: 0;
}
.knowledge-base .categories-list .cate-list-ul .cate-list-li a {
	padding-left: 0;
	font-size: 1rem;
	font-weight: 400;
	text-decoration: none;
	outline: 0 none;
}


.knowledge-base .widget-right-forum {
	margin-bottom: 1.5rem;
	margin-top: 3.12rem;
}

.knowledge-base .widget h4 {
	padding-left: 1.5rem;
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 149.38%;
	letter-spacing: 0.015em;
	color: #6054BA;
}
.knowledge-base .widget_categories ul{
	padding: 0.6rem 0;
}
.knowledge-base .widget_categories .getting-help ul,.knowledge-base .kb-breadcrumbs ol{
	padding: 0;
}

.knowledge-base .widget_categories li a {
	color: #000;
	font-size: 1rem;
	font-weight: 400;
	text-decoration: none;
	outline: 0 none;
}

.knowledge-base .tagcloud{
	margin-top: .2rem;
	display: inline-flex;
	flex-wrap: wrap;
}
.knowledge-base .widget_categories .tag-scroll{
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 0.6rem;
}

.knowledge-base .tagcloud a {
	margin: .2rem;
	font-size: .75rem;
}
.knowledge-base .tagcloud .btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 0.25rem 1rem;
	margin-bottom: 0.3rem;
	font-size: .75rem;
	line-height: 1.25rem;	
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333333;

	background-color: #fff;

	border: 1px solid #eee;

	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	border-radius: 0.25rem;
	*margin-left: .3em;

}
.knowledge-base .tagcloud .btn-mini {
	display: flex;
	align-items: center;
	padding: 0.25rem 0.37rem;
	height: 1.25rem;
	background: transparent;
	border: .03rem solid #808080;
	box-sizing: border-box;
	border-radius: 0.125rem;
	font-style: normal;
	font-weight: 600;
	font-size: .75rem;
}
.knowledge-base .tagcloud .btn-mini:hover{
	background-color: rgb(235, 235, 235);
	border:#dadada .1rem solid;
}

 .knowledge-base .tagcloud .btn:active, .knowledge-base .tagcloud .btn.active, .knowledge-base .tagcloud .btn.disabled, .knowledge-base .tagcloud .btn[disabled] {
	color: #333333;
	background-color: #fff;
	border:#efefef .1rem solid;
	box-shadow: none;
	
}
.knowledge-base  .meta {
	text-align: left;

	border-bottom: .1rem solid #F2F2F2;
	margin: 0.6rem 0 1.25rem 0 !important;
	padding: 0 0 1.25rem 0 !important;

}
.knowledge-base .meta {
	text-align: left;

	border-bottom: .1rem solid #F2F2F2;
	margin: 0.6rem 0 1.25rem 0 !important;
	padding: 0 0 1.25rem 0 !important;

}
.knowledge-base .meta li {
	display: inline-block;
	font-weight: 300;
	color: #86939e;
}

.knowledge-base .meta li span {
	color: #43484d;
}
.knowledge-base .meta li::before {
	display: none
}
.knowledge-base .meta li::after {
	content: "|";
	padding: 0 1.25rem;
}
.knowledge-base .meta li:last-child::after {
	content: none;
}


.knowledge-base .alert .fa{
	display:table-cell;
	float: left;
	color: black
}

.knowledge-base .alert div{
	padding-left: 0.3rem;
	display:table-cell;
	float: left;
	width: 88%;
	margin-left: 1rem
}
.knowledge-base .fa-3 {
	font-size: 4em;
}

.knowledge-base .alert-info {
	color: #888;
	background-color: #F6FAFD;
	border-color: #CAEDF3;
}
.knowledge-base .support-container {
	background-color: #fdf8c8;
	border: 1px solid #e7e0a1;
	padding: 1.25rem 5.5rem 1.25rem 1.25rem;
	font-size: 1rem;
	color: #676767;
	font-weight: lighter;
	background-repeat: no-repeat;
	background-position: right 0.6rem top 0.6rem;
	margin-top: 1.87rem;
}
.knowledge-base h2.support-heading {
	font-size: 1.25rem;
	margin: 0;
	color: #333333;
	padding-bottom: 1rem;
}
.knowledge-base .full-details .image {
	overflow: auto;
}

@media only screen and (min-width: 768px)  {

	.knowledge-base .masthead form button {
		top: 6.2rem;
	}
}
@media only screen and (min-width: 992px) {

	.knowledge-base .masthead form button {
		top: 4.8rem;
	}
}

@media screen and (min-width: 480px){

	.knowledge-base .masthead form button {
		top: 6.2rem;
	}
}

.knowledge-base h2.title-heading {
	font-size: 1.5rem;
	text-overflow: ellipsis;
	font-weight: bold;
	cursor: pointer;
}
.knowledge-base h2.title-heading:hover {
	color: #337ab7;
	text-decoration: none;
}
.knowledge-base  .page-link{
	cursor: pointer;
}
.knowledge-base .kb-listing .article-with-tags-ul{
	margin-left: -2.5rem;
}
.knowledge-base .kb-listing .article-with-tags-ul .article-with-tags-li{
	background-color: #fff;
	border-radius: 0.25rem;
	padding: 10px;
	position: relative;
	z-index: 3;
	text-decoration: none;
	overflow: hidden;
	width: 100%;
	display: block;
	outline: none;
	box-shadow: 0 .2rem 0.5rem 0 rgb(0 0 0 / 3%);
	box-shadow: 0 .2rem 0.5rem 0 rgb(0 0 0 / 3%);
	-webkit-transition: border .15s linear,background-color .15s linear,box-shadow .15s linear,opacity .15s linear,-webkit-transform .15s linear;
	transition: border .15s linear,background-color .15s linear,box-shadow .15s linear,opacity .15s linear,-webkit-transform .15s linear;
	transition: border .15s linear,transform .15s linear,background-color .15s linear,box-shadow .15s linear,opacity .15s linear;
	transition: border .15s linear,transform .15s linear,background-color .15s linear,box-shadow .15s linear,opacity .15s linear,-webkit-transform .15s linear;
	border: 1px solid transparent !important;
	margin-bottom: 1.87rem;
}
.knowledge-base .kb-listing .article-with-tags-ul .article-with-tags-li:hover {
	border: 1px solid #e6ecf5 !important;
	background-color: rgba(255, 255, 255, 0.7);
}
.knowledge-base .kb-listing .article-with-tags-ul .article-with-tags-li .article-title,.knowledge-base .kb-listing .article-with-tags-ul .article-with-tags-li>i{
	font-size: 1.5rem;
}

.knowledge-base .kb-listing .article-with-tags-ul .article-with-tags-li .article-title{
	font-weight: 600;
	margin: 0.3rem 0 0.7rem;
	text-decoration: none;
	font-size: 1rem;
	line-height: 1.4;
	color: #515365;
}
.knowledge-base .kb-listing .article-with-tags-ul .article-with-tags-li .inner-area .btn-mini{
	color: #111;
	padding: 0.3rem;
	font-weight: bold;
}

.knowledge-base .kb-listing .article-with-tags-ul .article-with-tags-li .inner-area .btn-mini:hover{
	color: #428bca;
	text-decoration: underline;
}

.knowledge-base .article-description .detail-custom-tag {
	float: left;
	width: 100%;
	background: #eee;
	padding: 0.6rem;
	margin: 0.6rem 0;
}
.knowledge-base .article-description .detail-custom-tag .inner-area{
	float: left;
	width: auto;
	margin-right: 1rem;
	color: #111;
}
.knowledge-base .categories-list .detail-custom-tag .inner-area .fa{
	color:#111;
}
.knowledge-base .kb-faq {
  margin-top: 4.5rem;
}

.knowledge-base .kb-faq main {
	margin-top: 1.87rem
}

.knowledge-base .article-summary{
	margin: 0.3rem 0 0.7rem;
	padding: 1.5rem 1.5rem 1.5rem 0.5rem;
	outline: none;
	border-radius: 0.25rem;
	text-align: left;
	cursor: pointer;
	position: relative;
	color: #000;
}
.knowledge-base .kb-faq summary{
	font-size: 1.2rem;
	font-weight: 500;
	background-color: #fafafa;
	color: #000;
	padding: 1rem;
	margin-bottom: 1rem;
	outline: none;
	border-radius: 0.25rem;
	text-align: left;
	cursor: pointer;
	position: relative;
}

.knowledge-base .kb-faq details[open] .faq-content{
	padding: 0.6rem;
    background: #fff;
}
.knowledge-base .kb-faq details[open] summary ~ * {
	animation: sweep .5s ease-in-out;
}
@keyframes sweep {
	0%    {opacity: 0; margin-top: -0.6rem}
	100%  {opacity: 1; margin-top: 0}
}
.knowledge-base .kb-faq details > summary::after {
	position: absolute;
	content: "+";
	right: 1.5rem;
}
.knowledge-base .kb-faq details[open] > summary::after {
	position: absolute;
	content: "-";
	right: 1.5rem;
}
.knowledge-base .kb-faq details[open]{
	background-color: #fafafa;
}
.knowledge-base .kb-faq details[open] summary {
	 border-bottom: none;

 }
.knowledge-base .kb-faq details > summary::-webkit-details-marker {
	display: none;
}

.shared-links .email-links ul li {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shared-links .show-emails[aria-expanded=false] .bi-chevron-up {
  display: none;
}
.shared-links .show-emails[aria-expanded=true] .bi-chevron-down {
  display: none;
}