<div>
    <div style="margin:0 10% 0 10%" >
        <h1 class="dropshadow1 color-green" style="font-size:250%;margin-bottom:20px;">Смена языка</h1>
        <hr>
       <div class="well">
           <p>Дождитесь перехода на сайт <span ng-bind="chShortName"></span> Механизма посредничества <span ng-bind="currentLanguage"></span></p>
           <h3 class="color-green">По вопросам получения технической поддержки просьба обращаться в нашу службу поддержки по адресу: <span class="color-blue" style="text-transform: lowercase" ng-bind="email"></span></h3>
       </div>
      </div>
    </div>
</div>
