<div ng-controller="myTasksCotroller" class="col-xs-9" style="padding-top:20px;">
	<div>
	    <a class="pull-right" ng-show="!toggleHelp" ng-click="toggleHelp=!toggleHelp;" style="cursor:pointer;padding:5px;"><i class="glyphicon glyphicon-question-sign" >
	      </i> show help
	    </a>
	    <a class="pull-right" ng-show="toggleHelp" ng-click="toggleHelp=!toggleHelp;" style="cursor:pointer;color:#666;padding:5px;"><i class="glyphicon glyphicon-question-sign" >
	      </i> hide help
	    </a>
	</div>
	<div class="registerpage-header">
	    <h2>
	      <span class="abbreviation">My pending requests</span>	     
	    </h2>	  
  	</div>  
  	<style type="text/css">
  		.header1{
  			padding: 8px;
			line-height: 1.428571429;
			vertical-align: top;
			border-top: 1px solid #dddddd;
			font-weight: bold;
  		}
  	</style>
	<div class="registerpage-content">
		<div class="alert alert-danger" ng-show="__error">
			<strong>Error: </strong>{{__error}}
		</div>
		<div class="pull-right">
			<input type="text" ng-model="keywords" placeholder=" Search " class="form-control keyword" style="width:250px;display:inline;">
		</div>
		<br>
		<br>
		<div class="table table-striped">
			<div ng-show="tasks.length && !__error" >
				<div class="row header1" >
					<div class="col-xs-2 col-md-2 col-ls-2"><span style="cursor:pointer;" ng-click="sortTable('workflow._id')">ID 
             		<i ng-show="sortTerm=='workflow._id'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i></div>
					<div class="col-xs-3 col-md-3 col-ls-3 "><span style="cursor:pointer;" ng-click="sortTable('workflow.data.metadata.schema')">Description 
             		<i ng-show="sortTerm=='workflow.data.metadata.schema'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i></div>
					<div class="col-xs-3 col-md-3 col-ls-3 "><span style="cursor:pointer;" ng-click="sortTable('activity.name')">Status 
             		<i ng-show="sortTerm=='activity.name'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i></div>
					<div class="col-xs-3 col-md-3 col-ls-3 "><span style="cursor:pointer;" ng-click="sortTable('workflow.createdOn')">Requested on 
             		<i ng-show="sortTerm=='workflow.createdOn'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i></div>
					<div class="col-xs-1 col-md-1 col-ls-1 ">&nbsp;</div>
				</div>

				<div class="table-striped" ng-repeat="task in tasks|filter:keywords|orderBy:sortTerm:orderList"style="border-bottom:1px solid gray;padding:5px;">
					<div class="row" >
						<div class="col-xs-2 col-md-2 col-ls-2"> <!-- ID -->
							<a style="text-transform:uppercase;white-space:nowrap;" href="" ng-click="tasksDisplay=!tasksDisplay; formLoading=false"  type="button">{{formatWID(task.workflow._id)}}</a><!-- /register/tasks/{{task.workflow._id}}/{{task.activity.name}} -->
							<div ng-switch="task.workflow.type.name">
								<em ng-switch-when="publishNationalRecord">Publishing request</em>
								<em ng-switch-when="publishReferenceRecord">Publishing request</em>
								<em ng-switch-default>*{{task.workflow.type.name|uppercase}}*</em>
							</div>
						</div>

						<div class="col-xs-3 col-md-3 col-ls-3"> <!-- Description -->
							<strong ng-show="task.workflow.result.documentID||task.workflow.data.documentID"><a ng-href="/database/record?documentID={{task.workflow.result.documentID||task.workflow.data.documentID}}">{{task.workflow.data.metadata.schema|schemaName}}</a></strong>
							<strong ng-hide="task.workflow.result.documentID||task.workflow.data.documentID">{{task.workflow.data.metadata.schema|schemaName}}</strong>

							<div>{{task.workflow.data.title | lstring}}</div>
						</div>
						
						<div class="col-xs-3 col-md-3 col-ls-3"> <!-- Status -->
							<div ng-switch="task.activity.name">
								<span ng-switch-when="publishRecord">Waiting for validation</span>
								<span ng-switch-default>{{activity.name}}*</span>
							</div>
						</div>

						<div class="col-xs-3 col-md-3 col-ls-3"> <!-- Requested on -->
							<div>{{task.workflow.createdOn|date:'short'}}</div>
							<div><em> by {{task.workflow.createdBy_info.firstName}} {{task.workflow.createdBy_info.lastName}}</em></div>
						</div>

						<div style="text-align:end" class="col-xs-1 col-md-1 col-ls-1">
							<!-- <a class="btn btn-info" ng-href="/register/tasks/{{task.workflow._id}}/{{task.activity.name}}"  type="button"><i class="glyphicon glyphicon-edit"></i></button> -->					
							<a class="btn btn-info" ng-click="tasksDisplay=!tasksDisplay; formLoading=false" type="button"><i class="glyphicon glyphicon-edit"></i></a>
						</div>	

					</div>
					<div class="row" ng-show="tasksDisplay">
						<div class="col-xs-12 col-md-12 col-ls-12">					
							<div  task-id class="record-body" load-task-data='formLoading' workflow-task-id="{{task.workflow._id}}" parent-watcher="dashboard" >
							</div>
						</div>		
					</div>
				</div>
			</div>
		</div>
		<div class="alert alert-success" ng-show="tasks.length==0">
			No Item is requiring your attention
		</div>
	</div>
</div>
