<div class="text-center mt-3">
    <header class="px-2 d-sm-none d-md-none">
        <nav class="navbar navbar-sm navbar-light bg-light rounded" >
            <a ng-href="{{url}}">
                <span class="realm-base-acronym fw-bold color-orange"> {{::('bchHeaderT.bch'|$translate)}}  </span> 
                <span class="fw-bold fs-md-4 text-uppercase color-orange ">{{::('bchHeaderT.biosafetyClearingHouse'|$translate)}}</span>
                <span ng-if="isDEV" class="fs-size-paragraph fw-bold bg-yellow badge text-uppercase link-dark">
                    {{::('bchHeaderT.development'|$translate)}}</span>
                <span ng-if="isTRG" class="fs-size-paragraph fw-bold bg-yellow badge text-uppercase link-dark">
                        {{::('bchHeaderT.training'|$translate)}}</span>
            </a>
        </nav>
    </header>

    <header class="pt-2 nav-lg-header">
        <a ng-href="{{url}}" class="realm-base-acronym color-orange mx-3 px-lg-4">
            {{::('bchHeaderT.bch'|$translate)}}
            <span class="fw-bold ch-name">{{::('bchHeaderT.biosafetyClearingHouse'|$translate)}}</span>
            <span ng-if="isDEV" class="fs-3 fw-bold px-2 bg-yellow badgetext-uppercase link-dark">
                {{::('bchHeaderT.development'|$translate)}}</span>
            <span ng-if="isTRG" class="fs-3 fw-bold bg-yellow badge text-uppercase link-dark">
                    {{::('bchHeaderT.training'|$translate)}}</span>

        </a>
    </header>
</div>