
<div class="bs5 new-css-footer-bch" style="margin-top:50px;">
    <div class="bs5 mx-3 px-3 pt-5 mx-lg-3 px-lg-5 pt-lg-5">

        <div class="bs5 row row-cols-2">
            <div class="bs5 col-sm-8">
                <h4>Quick links</h4>
                        <hr>

                        <div class="bs5 row row-cols-2">
                            <div class="bs5 col-xs-6">
                                <div class="bs5 nav flex-column">
                                    <a class="bs5 nav-link fw-light link-light py-1" href="/kb">About the BCH</a>
                                    <a class="bs5 nav-link fw-light link-light py-1" href="http://bch.cbd.int/protocol">About the Cartagena Protocol</a>
                                    <a class="bs5 nav-link fw-light link-light py-1" href="http://bch.cbd.int/protocol/supplementary">Supplementary Protocol</a>
                                    <br><br>
                                    <a class="bs5 nav-link fw-light link-light py-1" href="/signin">Sign In</a>
                                    <a class="bs5 nav-link fw-light link-light py-1" href="/search">Search records</a>
                                    <a class="bs5 nav-link fw-light link-light py-1" href="/register">Submit records</a>
                                </div>
                            </div>
                            <div class="bs5 col-xs-6">
                                <div class="bs5 nav flex-column lh-1">
                                    <a class="bs5 nav-link fw-light link-light py-1" href="/about">Registries:LMO-Organism-Gene</a>
                                    <a class="bs5 nav-link fw-light link-light py-1" href="/countries">Country profiles</a>
                                    <a class="bs5 nav-link fw-light link-light py-1" href="/reports">National Report Analyzer</a>
                                    <br><br>
                                    <a class="bs5 nav-link fw-light link-light py-1" href="#">Forums and portals</a>
                                    <br><br>
                                    <a class="bs5 nav-link fw-light link-light py-1" href="#">BCH news & Announcements </a>
                                </div>
                            </div>
                        </div>

            </div>
            <div class="bs5 col-sm-4">
                <h4>Need help?</h4>
                        <hr>
                        <div class="bs5 nav flex-column lh-1">
                            <a class="bs5 nav-link fw-light link-light py-1" href="/kb">Knowledge Base</a>
                            <a class="bs5 nav-link fw-light link-light py-1" href="/kb/faqs">FAQs</a>
                            <a class="bs5 nav-link fw-light link-light py-1" href="https://bch3-vle.unep.org/">Training materials</a>
                            <a class="bs5 nav-link fw-light link-light py-1" href="#">Training site</a>
                            <!-- <a class="bs5 nav-link fw-light link-light py-1" href="#">BCH on BCH Forum</a> -->
                            <br><br>
                            <a class="bs5 nav-link fw-light link-light py-1" href="#">Contact us at: bch@cbd.int</a>
                            <a class="bs5 nav-link fw-light link-light py-1" href="#">chat with us</a>
                        </div>
            </div>
        </div>
        <hr>
        <div class="bs5 row">
            <div class="bs5 col">
                <span class="bs5 fw-bold fs-1 text-uppercase">BCH<span>
                        <span class="bs5 fs-5 text-uppercase">Biosafety Clearing-House</span>
            </div>
            <div class="bs5 col"><a class="bs5 nav-link fw-light link-light py-1" href="#">Subscribe to our mailing list</a></div>
            <div class="bs5 col"><a class="bs5 nav-link fw-light link-light py-1" href="#">Subscribe to our newletter </a></div>
        </div>
    </div>
</div>