<div class="bs5 bg-white ">
    <header class="bs5 new-css-sm-header px-3">
        <nav class="bs5 navbar new-css-navbar-sm navbar-light bg-light rounded" >
            <div ng-click="showNav = !showNav"  style="cursor: pointer;" >
                <button class="bs5 navbar-toggler new-css-navbar-toggler collapsed" type="button" >
                    <span class="bs5 navbar-toggler-icon"></span>
                </button>   
                <span class="bs5 new-css-acronym fw-bold new-color-red "> BCH  </span> 
                <span class="bs5 fw-bold  fs-4 text-uppercase new-color-red">Biosafety Clearing-House</span>
                <span ng-if="isDEV" class="bs5 fs-3 fw-bold  bg-yellow badgetext-uppercase link-dark">
                    DEVELOPEMENT</span>
                <span ng-if="isTRG" class="bs5 fs-3 fw-bold bg-yellow badge text-uppercase link-dark">
                        TRAINING</span>
            </div>
            
              <div ng-if="showNav" class="bs5 navbar-collapse">
                <ul class="bs5 navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="bs5 nav-item"><a class="bs5 nav-link active" aria-current="page" rel="noopener" translation-url href=".">Home</a></li>
                    <li class="bs5 nav-item"><a class="bs5 nav-link active" aria-current="page" rel="noopener" translation-url ng-href="/kb" >Help</a></li>
                    <li class="bs5 nav-item"><a class="bs5 nav-link active" aria-current="page" rel="noopener" translation-url ng-href="/search" >Search</a></li>
                    <li class="bs5 nav-item"><a class="bs5 nav-link active" aria-current="page" rel="noopener" translation-url ng-href="/register" >Submit</a></li>
                    <li class="bs5 nav-item"><a class="bs5 nav-link active" aria-current="page" rel="noopener" translation-url ng-href="/countries" >Country Profiles</a></li>
                    <li class="bs5 nav-item"><a class="bs5 nav-link active" aria-current="page" rel="noopener" translation-url ng-href="/reports" >National reports</a></li>
                    <li class="bs5 nav-item"><a class="bs5 nav-link active" aria-current="page" rel="noopener" translation-url ng-href="/onlineconferences" >Forums</a></li>
                </ul>
              </div>
          </nav>
    </header>

    <header class="bs5 new-css-header pt-4 new-css-lg-header">
        <div class="bs5">
            <a href="." class="bs5 fw-bold new-css-acronym color-orange mx-3 mx-md-3 px-md-3 px-lg-5">
                BCH
                <span class="bs5 fw-bold new-css-ch-name">Biosafety Clearing-House</span>
                <span ng-if="isDEV" class="bs5 fs-3 fw-bold  bg-yellow badgetext-uppercase link-dark">
                    DEVELOPEMENT</span>
                <span ng-if="isTRG" class="bs5 fs-3 fw-bold bg-yellow badge text-uppercase link-dark">
                        TRAINING</span>

            </a>
        </div>
    </header>

    <nav class="bs5 border-bottom mt-2 new-css-lg-header">
        <div class="bs5 mx-0 mx-md-3 mx-lg-5 d-flex flex-wrap">
            <ul class="bs5 nav me-auto mx-2">
                <li class="bs5 nav-item"><a rel="noopener" translation-url href="." class="bs5 fw-bold new-css-main-nav-link nav-link link-dark  px-2 px-md-4 active"
                        aria-current="page">
                        <span class="hidden-sm hidden-xs">Home</span> 
                        <span class="hidden-md hidden-lg"> <i class="fa fa-home"></i> </span> 
                    </a>
                </li>
                <li class="bs5 nav-item"><a rel="noopener" translation-url href="/kb"
                        class="bs5 fw-bold new-css-main-nav-link nav-link link-dark px-2 px-md-4 ">about</a></li>
                <li hover-effect=".dropdown-menu" class="bs5 nav-item dropdown">
                    <a rel="noopener" translation-url href="#" class="bs5 fw-bold new-css-main-nav-link nav-link link-dark px-2 px-md-4 dropdown-toggle"
                        type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false">Search</a>
                    <ul class="bs5 dropdown-menu new-css-dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a rel="noopener" translation-url class="bs5 fw-bold dropdown-item new-css-dropdown-menu-item" href="search">Records</a></li>
                        <li><span rel="noopener" translation-url class="bs5 dropdown-item text-muted fw-bold new-css-dropdown-menu-item" >Registries</span>
                            <ul class="new-css-nav-menu-list">
                                <li class=""><a rel="noopener" translation-url class="bs5 dropdown-item new-css-dropdown-menu-item fw-bold " href="/registries/living-modified-organisms"> LMO</a></li>
                                <li class=""><a rel="noopener" translation-url class="bs5 dropdown-item new-css-dropdown-menu-item fw-bold " href="/registries/organisms"> Organism</a></li>
                                <li class=""><a rel="noopener" translation-url class="bs5 dropdown-item new-css-dropdown-menu-item fw-bold " href="/registries/genetic-elements"> Gene</a></li>
                                
                            </ul>
                        </li>
                        <li><a rel="noopener" translation-url class="bs5 dropdown-item new-css-dropdown-menu-item fw-bold link-dark " href="/reports">National Report Analyzer</a></li>
                    </ul>
                </li>
                <li class="bs5 nav-item"><a rel="noopener" translation-url href="/register"
                        class="bs5 fw-bold new-css-main-nav-link nav-link link-dark px-2 px-md-4 ">submit</a>
                </li>




                <li hover-effect=".dropdown-menu" class="bs5 nav-item dropdown">
                    <a id="countryProfile" role="button" rel="noopener" href="#" class="bs5 fw-bold new-css-main-nav-link nav-link link-dark px-2 px-md-4  dropdown-toggle"
                        type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="hidden-sm hidden-xs">country profiles</span> 
                        <span class="hidden-md hidden-lg"> countries </span></a>
                    <ul class="bs5 dropdown-menu new-css-dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <li class="new-css-nav-country-profiles-search">
                            <input type="text" class="form-control" placeholder="Search countries" ng-click="countrySearch($event)"
                                ng-model="countrySearchQuery" />
                        </li>
                        <li>
                            <ul class="new-css-nav-country-profiles">
                                <li ng-repeat="c in countries | filter:startsWith track by c.code">
                                    <a rel="noopener" translation-url  class="bs5 dropdown-item" ng-href="/countries/{{::c.code|encodeURIComponent}}">
                                        <span class="bold"
                                            ng-class="{'color-party': c.isParty, 'color-non-party':!c.isParty}">
                                            {{::c.name | lstring:locale}}
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="new-css-nav-country-profiles-footer">
                            <a rel="noopener" translation-url href="/countries"> Overview - List all countries <i class="fa fa-arrow-right"></i> </a>
                        </li>
                    </ul>
                </li>
                <li hover-effect=".dropdown-menu" class="bs5 nav-item dropdown">
                    <a href="/kb" class="bs5 fw-bold new-css-main-nav-link nav-link link-dark px-2 px-md-4  dropdown-toggle"
                        type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">help</a>
                    <ul class="bs5 dropdown-menu new-css-dropdown-menu" aria-labelledby="dropdownMenuButton3">
                        <li><a class="bs5 dropdown-item fw-bold new-css-dropdown-menu-item" rel="noopener" translation-url href="/kb">Knowledge Base</a></li>
                        <li><a class="bs5 dropdown-item fw-bold new-css-dropdown-menu-item" rel="noopener" translation-url href="/kb/faqs">FAQs</a></li>
                        <li><a class="bs5 dropdown-item fw-bold new-css-dropdown-menu-item" rel="noopener" translation-url href="https://bch3-vle.unep.org/" target="_blank">Training materials</a></li>
                        <li><a class="bs5 dropdown-item fw-bold new-css-dropdown-menu-item" rel="noopener" translation-url href="#">Training site</a></li>
                        <li><a class="bs5 dropdown-item fw-bold  new-css-dropdown-menu-item" rel="noopener" translation-url href="http://bch.cbd.int/onlineconferences/portal_art20/nfps/newBCHforum.shtml">BCH on BCH Forum</a></li>
                        <li><a class="bs5 dropdown-item fw-bold new-css-dropdown-menu-item" rel="noopener" translation-url href="/kb/articles/60df8a891d6d9f0001e45410/Contact-us/bch">Contact us</a></li>
                    </ul>
                </li>
                <li class="bs5 nav-item"><a href="https://bch.cbd.int/onlineconferences/"
                        class="bs5 fw-bold new-css-main-nav-link nav-link link-dark px-2 px-md-4 ">forums</a></li>
            </ul>
            <ul class="bs5 nav">
                <li hover-effect=".dropdown-menu" class="bs5 nav-item dropdown ">
                    <a href="#"  class="bs5 fw-bold new-css-main-nav-link nav-link link-dark  dropdown-toggle" type="button"
                        id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">
                        <span> Protocol </span> 
                    </a>

                    <ul class="bs5 dropdown-menu  dropdown-menu-right new-css-dropdown-menu" aria-labelledby="dropdownMenuButton4">
                        <li><a rel="noopener" translation-url class="bs5 fw-bold dropdown-item new-css-dropdown-menu-item" href="http://bch.cbd.int/protocol">Cartagena Protocol</a></li>
                        <li><a rel="noopener" translation-url class="bs5 fw-bold dropdown-item new-css-dropdown-menu-item" href="http://bch.cbd.int/protocol/supplementary/">Supplementary Protocol</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <breadcrumbs></breadcrumbs>
</div>