<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-darkgrey"><h4>Reuniones</h4></div>
	<div class="record-body panel-body">

			
		<document-date></document-date><!-- <div ng-show="document.symbol_s">
			<label>Symbol</label>
			<span class="km-value">
				{{document.symbol_s}}
			</span>
		</div> --><div ng-show="document.title_s">
			<label>Título</label><span class="km-value">{{document.title_s}}</span></div>

		<div ng-show="document.startDate_dt">
			<label>Fecha de inicio</label><span class="km-value">{{document.startDate_dt | moment:'utc' | formatDate}}</span></div>
		<div ng-show="document.endDate_dt">
			<label>Fecha de finalización</label><span class="km-value">{{document.endDate_dt | moment:'utc' | formatDate}}</span></div>

		<div ng-show="document.eventCountry_CEN_s">
			<label>País donde se realiza la actividad</label><span class="km-value">{{document.eventCountry_CEN_s |stringToJSON | lstring:locale}}</span></div>

		<div ng-show="document.eventCity_s">
			<label>Ciudad donde se realiza la actividad</label><span class="km-value">{{document.eventCity_s}}</span></div>
		<div ng-show="document.url_ss">
			<label>Documentos de la reunión</label><span class="km-value"><ul class="list">
					<li ng-repeat="url in document.url_ss"><a rel="noopener" translation-url  ng-href="{{url}}" target="_"><span ng-bind="url"></span></a></li>
				</ul></span></div><!--
		<div ng-show="document.themes_CEN_ss">
			<label>Themes</label>
			<ul class="km-value">
				<li ng-repeat="item in document.themes_CEN_ss">{{item |stringToJSON  | lstring:locale}}</li>
			</ul>
		</div> --><div ng-show="document.thematicAreas_CEN_ss">
			<label>Áreas temáticas</label>
			<div class="km-value">
				<ul >
					<li ng-repeat="item in document.thematicAreas_CEN_ss">{{item |stringToJSON | lstring:locale}}</li>
				</ul>
			</div>
		</div>
	</div>
    <div document-metadata  class="panel-footer"></div>
</div>
