<div id="printContentHeader" class="row">
    <div class="row image-row">
        <div class="col-xs-4">
            <img class="unep-logo" src="/app/img/UNEP_logo.svg" />
        </div>
        <div class="col-xs-4">
            <img src="/app/img/cbd-logo-black-en.svg" class="cbd-logo" />
        </div>
        <div class="col-xs-4">
            <img class="un-logo" src="/app/img/Emblem_of_the_United_Nations.svg" />
        </div>
        <div class="row" >
           <strong> 
                <span class="col-xs-12" style="margin-top:20px;text-align:center;"><span ng-bind="realm.chLongName"></span> (<span ng-bind="realm.chShortName"></span>)</span>
           </strong>
        </div>
    </div>
    <br/>
</div>
