<div class="record-metadata">

		<div ng-show="document.createdBy">
				<label class="record-metadata-label">Published by:</label>
				<span class="records-metadata-text">
					{{document.createdBy.firstName}} {{document.createdBy.lastName}} ({{document.createdBy.email}}) on {{document.createdOn}}
				</span>
		</div>
		
		<div ng-show="document.updatedBy && document.updatedOn != document.createdOn">				
				<label class="record-metadata-label">Last udpated by:</label>
				<span class="records-metadata-text">
					{{document.updatedBy.firstName}} {{document.updatedBy.lastName}} ({{document.updatedBy.email}}) on {{document.updatedOn}}
				</span>
		</div>
	</div>