    <link rel="stylesheet" href="/app/css/record.css">

 <div class="container">
    <div class="row">
        <div class="col-md-12">
        
            <br>

                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                    </div>
                    <div style="background-color: #e0e0e0; padding: 5px 20px 30px 20px;margin:0;">

                    <div record-loader></div>

                    </div>
                </div>
             </div> <!-- end col        -->
   </div> <!-- end row -->
</div> <!-- end container -->



