<div>

    <div smooth-scroll duration="100" offset="200"></div>
    <div block-region activate="loading"></div>

    <div class="alert alert-danger text-center" ng-show="error">
        <strong>Error as occured...</strong>
        <div>{{error}}</div>
    </div>
    <div class="jumbotron" style="background-color:white;" role="alert" ng-show="documentSuccess">
        <h2>Thank you for downloading document {{documentUID}}.</h2>
        <p>If the document did not download try clicking
            <a href="{{documentUrl}}" class="alert-link">here...</a></p>
        </br>
        </br>
        </br>
        </br>
        This window will close automatically in {{timeLaspe}} seconds.
    </div>

    <div class="jumbotron" style="background-color:white;" role="alert" ng-show="documentError">
        <h2>Thank you for requesting document {{documentUID}}.</h2>
        <p>The document does not exists, if you think this file should be available, please report to
            <a href="mailto:absch@cbd.int" class="alert-link">absch@cbd.int</a></p>
    </div>

    <div id="RecordDetails" ng-if="showDetails">
        <div class="row">
            <div class="col-xs-12">
                <div class="well">
                    <h3 style="margin:0 0 20px 0;padding:0;">Record Information</h3>
                    <table style="width:100%!important;">
                        <tr>
                            <td><label> Unique Identifier: </label></td>
                            <td class="bold">
                                {{internalDocument | uniqueID}}
                            </td>
                        </tr>
                        <tr>
                            <td><label> Current Status: </label></td>
                            <td class="bold">
                                <span class="color-grey" ng-if="internalDocument.amendmentIntent!=1 && !internalDocumentInfo.deletedOn && (internalDocumentInfo.latestRevision == 0 || internalDocumentInfo.revision === '0')">
                                        DRAFT
                                    </span>
                                <span class="color-green" ng-if="internalDocument.amendmentIntent!=1 && !internalDocumentInfo.deletedOn && internalDocumentInfo.latestRevision > 0 && internalDocumentInfo.revision > 0">
                                        PUBLISHED
                                    </span>
                                <span class="color-red" ng-if="internalDocument.amendmentIntent!=1 && !internalDocumentInfo.deletedOn && internalDocumentInfo.workingDocumentLock">
                                        [ Locked: Pending {{workflowRequestType}} request ]
                                </span>
                                <span class="color-grey" ng-if="internalDocument.amendmentIntent!=1 && internalDocumentInfo.deletedOn && internalDocumentInfo.revision > 0">
                                    DELETED
                                </span>
                                <span ng-show="!internalDocument.deletedOn && internalDocument.amendmentIntent==1  && internalDocument.type!='absCheckpointCommunique'">
                                    <span class="bold color-red"> REVOKED</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><label> Record Type: </label></td>
                            <td class="bold">{{internalDocumentInfo.metadata.schema | schemaName}}</td>
                        </tr>
                        <tr ng-if="docInfo.revision > 0">
                            <td><label> Record Versions: </label></td>
                            <td class="bold">{{internalDocumentInfo.revision}}</td>
                        </tr>
                        <tr ng-if="docInfo.metadata.government">
                            <td><label> Record Owner: </label></td>
                            <td class="bold"> {{getUserCountry(internalDocumentInfo.metadata.government)}}</td>
                        </tr>
                        <tr>
                            <td><label> History:</label></td>
                            <td>
                                <div view-history document-id="internalDocumentInfo.identifier"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="alert alert-danger" role="alert" ng-show="internalDocumentInfo.latestRevision != internalDocumentInfo.revision && revisionNo != 'draft'">
        <h2> 
                <span ng-if="(internalDocument.header.schema | schemaShortName) != 'IRCC'"> This record has been updated. This is not the latest published version.</span>
                <span ng-if="(internalDocument.header.schema | schemaShortName) === 'IRCC'">This Internationally Recognized Certificate of Compliance (IRCC) has been updated. A new version has been constituted and <u> this version is no longer valid.</u> </span>
                <a ng-href="/database/{{internalDocument.header.schema | schemaShortName}}/{{internalDocument | uniqueIDWithoutRevision}}" target="new"> Click here to view the latest version of the record.</a>
			</h2>
    </div>


    <div style="float:right; position:relative;top:1px;right:1px;" ng-if="!isIRCCRevoked && showDetails">
        <div>
            <a title="Edit" ng-show="!internalDocumentInfo.deletedOn && !internalDocumentInfo.workingDocumentLock" type="button" class="btn btn-default" href="/register/{{internalDocument.header.schema|schemaShortName}}/{{internalDocument.header.identifier}}/edit">
                <i class="fa fa-edit"></i> edit </a>
            <button title="Delete" ng-show="!isRequest(record) && showAddButton()" ng-class="{'red':(record.type == 'absPermit' && isPublished(record))}" type="button" class="btn btn-default" ng-click="askDelete(record)"><i class="fa fa-trash-o"></i></button>
        </div>
    </div>

    <div id="schemaView" ng-show="internalDocument"></div>

</div>