<div record-loader></div>

<script src="/app/views/forms/view/view-abs-checkpoint.directive.js"></script>
<script src="/app/views/forms/view/view-abs-checkpoint-communique.directive.js"></script>
<script src="/app/views/forms/view/view-abs-permit.directive.js"></script>
<script src="/app/views/forms/view/view-authority.directive.js"></script>
<script src="/app/views/forms/view/view-authority-reference.directive.js"></script>
<script src="/app/views/forms/view/view-contact.directive.js"></script>
<script src="/app/views/forms/view/view-contact-reference.directive.js"></script>
<script src="/app/views/forms/view/view-database.directive.js"></script>
<script src="/app/views/forms/view/view-measure.directive.js"></script>
<script src="/app/views/forms/view/view-organization.directive.js"></script>
<script src="/app/views/forms/view/view-organization-reference.directive.js"></script>
<script src="/app/views/forms/view/view-resource.directive.js"></script>

<script src="/app/views/forms/view/record-loader.directive.js"></script>
