
<div class="default-reference-viewer">
    <span ng-if="errorCode==404" class="label label-warning">Reference record not found ({{model}})</span>
	<div ng-if="!errorCode">					
        <div class="selected-reference-uid">
            <a translation-url  ng-href="/database/{{document.body.header.schema | urlSchemaShortName}}/{{document | uniqueIDWithoutRevision}}/{{document.revision}}" target="_new">
                <i class="fa fa-external-link-square" aria-hidden="true"></i> {{document | uniqueID}}
            </a>
        </div>
        <div class="selected-reference-name">{{document.body.header.schema | schemaName}} </div>
        <div class="selected-reference-title" ng-if="document.workingDocumentTitle||document.title">{{(document.workingDocumentTitle||document.title) | lstring:locale}} </div> 
        <div class="selected-reference-title" ng-if="document.body.title">{{document.body.title | lstring:locale}} </div> 
        <div class="selected-reference-title" ng-if="!document.body.title && document.body.name ">{{document.body.name | lstring:locale}} </div>

        <span  ng-if="document.body.scientificName">
            {{document.body.scientificName}} 
            <span ng-if="document.body.commonNames" ng-repeat="name in document.body.commonNames" 
                ng-bind="' - ' + (name|lstring:locale) + ($last ? '' : ', ')"></span>
        </span> 
    </div>     
</div>
