<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-blue">
		<h4>
			<span ng-bind="::document.header.schema|schemaName"></span>
			<span class="color-white">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span>
		</h4>
	</div>
	<div class="record-body panel-body bg-white">
		<document-date></document-date>
		<div ng-show="document.type">
			<label>Type</label>
			<div class="km-value" compare-val>				
				<span class="capitalize-first-letter" ng-bind="document.type | lstring:locale"></span>
			</div>
		</div>
		<div ng-show="document.type=='organization'">
			
			<div ng-show="document.government">
				<label>Country</label>
				<div class="km-value" compare-val>
					<span ng-bind="document.government | term:locale"></span>
				</div>
			</div>
			<div ng-show="document.organization || document.organizationAcronym">
                <label>Name</label>
				<div class="km-value" compare-val>
					<span ng-bind="document.organization | lstring:locale"></span> <i ng-show="document.organizationAcronym">(<span ng-bind="document.organizationAcronym | lstring:locale"></span>)</i>
				</div>
			</div>
			<div ng-show="document.organizationType">
				<label>Type of organization</label>
				<div class="km-value" compare-val>
					<span ng-bind="document.organizationType | term:locale"></span>
				</div>
			</div>

		</div>


		<div ng-show="document.type=='person'">
			 <div ng-show="document.government">
  			   <label>Country</label>
  			   <div class="km-value" compare-val>
  				   <span ng-bind="document.government | term:locale"></span>
  			   </div>
  		   </div>

            <div>
				<label>Name</label>
				<div class="km-value" compare-val>
					<span ng-bind="document.prefix | lstring:locale"></span> <span ng-bind="document.firstName"></span> <span ng-bind="document.middleName"></span> <span ng-bind="document.lastName"></span>
				</div>
			</div>


			<div ng-show="document.designation">
				<label>Job title</label>
				<div class="km-value" compare-val>
					<span ng-bind="document.designation| lstring:locale"></span>
				</div>
			</div>

            <div ng-show="document.department">
				<label>Department / Division / Unit</label>
				<div class="km-value" compare-val>
					<span ng-bind="document.department| lstring:locale"></span>
				</div>
			</div>

            <div ng-show="document.contactOrganization">
				<legend>Organization</legend>
				<div class="km-value" compare-val>
					<view-record-reference ng-model='document.contactOrganization' locale="locale"></view-record-reference>
				</div>
			</div>

		</div>
		<div ng-show="document.address || document.city || document.state || document.postalCode || document.country">
			<label>Address of Contact</label>
			<div compare-val>
				<address class="km-value">
					<div class="km-pre" ng-bind="document.address | lstring:locale"></div>
					<span ng-bind="document.city | lstring:locale"></span><span ng-show="document.city && document.state">, </span>
					<span ng-bind="document.state | lstring:locale"></span>
					<br ng-show="document.city || document.state" />
					<span ng-bind="document.postalCode | lstring:locale"></span><span ng-show="document.postalCode">, </span><b ng-bind="document.country|term:locale"></b>
				</address>
			</div>
		</div>
        <div ng-show="document.phones" >
            <label>Phone number(s)</label>
            	<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.phones"><span ng-bind="item"></span></li>
					</ul>
				</div>
        </div>

        <div ng-show="document.faxes">
            <label>Fax number(s)</label>
            	<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.faxes"><span ng-bind="item"></span></li>
					</ul>
				</div>
        </div>

        <div ng-show="document.emails">
            <label>Email(s)</label>
            <div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.emails">
						<a rel="noopener" translation-url  ng-href="mailto:{{item|encodeURIComponent}}" ng-bind="item"></a></li>
				</ul>
			</div>
        </div>

        <div ng-show="document.websites">
			<label>Website address(es)</label>
			<div compare-val>
				<div class="km-value" ng-repeat="item in document.websites">
					<a rel="noopener" translation-url  target="{{target}}" ng-href="{{item.url|encodeURI}}" ng-bind="item.name||item.url"></a>
				</div>
			</div>
        </div>

		<div>
			<div ng-show="document.relevantInformation||document.relevantDocuments">
				<legend>Additional Information</legend>

				<div ng-show="document.relevantInformation" compare-val>
					<km-value-ml html value="document.relevantInformation" locales="locale"></km-value-ml>
				</div>

				<div ng-show="document.relevantDocuments">
					<label>Other relevant website addresses and/or attached documents</label>
					<div class="km-value" compare-val="relevantDocuments">
						<km-link-list ng-model="document.relevantDocuments" style="margin-top: 5px;"></km-link-list>
					</div>
				</div>
			</div>

		</div>
		<div>
			<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>
		</div>

	</div>
	<div document-metadata class="panel-footer" ></div>
</div>