<div id="view-history">

<table style="width:100%!important;" class="table table-condensed" >
               
              
                <tbody ng-repeat="document in documents | orderBy:'updatedOn':false"  >
                     
                     <tr ng-show="$index===0 && !publicView" style="border-bottom:2px solid #ddd;">
                         <td>
                            <span> DRAFT </span>
                        </td>
                        <td ><span  style="margin:0 10px;" class="bold color-grey"> CREATED </span></td>
                        <td>  by <span style="font-weight:500;">{{document.submittedBy.firstName}} {{document.submittedBy.lastName}} ({{document.submittedBy.email}})</span> on <span style="font-weight:500;">{{document.submittedOn | formatDateWithTime}}</span> </td>
                    </tr>
               
                    <tr>
                        
                   <td style="white-space:nowrap;">
                         <a ng-href="/database/{{document.type | schemaShortName}}/{{document | uniqueIDWithoutRevision}}/{{document.revision}}"  target="_blank">
						 <span>{{document | uniqueID}}</span>
						 </a>
                    </td>
                    <td >
                        <div  style="margin:0 10px;">
                        <span ng-show="document.body.amendmentIntent==1  && document.type!='absCheckpointCommunique'">
                            <span class="bold color-red"> REVOKED</span></span>
                        <span ng-show="isPermit && document.type=='absCheckpointCommunique'">
                            <span class="bold"> CPC SENT</span></span>
                        <span ng-show="(document.body.amendmentIntent==0 || (document.revision > 1 && document.body.amendmentIntent==undefined) && !isPermit && document.type!='absCheckpointCommunique')||
                            (document.revision > 1 && undefined==isPermit && document.type=='absCheckpointCommunique')">
                            <span class="bold color-green"> UPDATED</span></span>
                        <span ng-show="(document.revision == 1 && isPermit && document.type!='absCheckpointCommunique') || (document.revision == 1 && !isPermit)">
                            <span class="bold color-green"> PUBLISHED</span></span>
                        </div>
                    </td>
             
                    <td style="width:100%;"> 
                        <div ng-show="!publicView">by <span style="font-weight:500;">{{document.updatedBy.firstName}}{{document.updatedBy.lastName}} ({{document.updatedBy.email}})</span> on <span style="font-weight:500;">{{document.updatedOn | formatDateWithTime}}</span></div> 
                        <div ng-show="publicView"> on <span style="font-weight:500;">{{document.updatedOn | formatDateWithTime}}</span></div> 
                       
                        <div ng-show="document.body.amendmentsDescription">
                                <span ng-show="document.body.amendmentsDescription">
						  		<span ng-show="!more" ng-bind-html="document.body.amendmentsDescription| lstring:locale | limitTo:80">
						  		<a ng-href="#" ng-click="more=!more" ng-show="(document.body.amendmentsDescription| lstring:locale).length > 200">
									<strong>...more</strong> </a></span>
									<span ng-show="more" ng-bind-html="document.body.amendmentsDescription| lstring:locale">
										<a ng-href="#" ng-click="more=!more"> <strong>less</strong></a>
									</span>
					  			</span>
                            </div>
                    </td>

                 
               
                    
                </tr>
                </tbody>
              
                </table>
               
                        
		<span ng-if="error" >{{error}}</span>
</div>