
	<div>

			<ul style="list-style-type: none;">
				<li ng-repeat="document in documents | orderBy:document.createdOn">
					<a type="button" target="_blank"  ng-href="https://s3.amazonaws.com/absch.documents/ABSCH-{{government}}-{{document.documentID}}-{{document.revision}}.pdf">
					<i class="glyphicon glyphicon-file"></i> 
					ABSCH-{{government|uppercase}}-{{document.documentID}}-{{document.revision}}</a>
					 updated by <strong>{{document.createdBy.firstName}} {{document.createdBy.lastName}}</strong>
					  on <strong>{{document.createdOn |formatDateWithTime}}</strong>
					 
					  <span ng-show="document.body.amendmentsDescription">
						  <span ng-show="!more"> {{document.body.amendmentsDescription | limitTo:50}} ...
						  <a ng-href="#" ng-click="more=!more"> more</a></span><span ng-show="more"> {{document.body.amendmentsDescription}} <a ng-href="#" ng-click="more=!more"> less</a></span>
					  </span>
				</li>
			</ul>

		<div ng-hide="documents">
			<div class="text-center"><h1 style="color:#fa6938"><i class="fa fa-spinner fa-spin"></i></h1></div>	
		</div>
		<span ng-show="error" >{{error}}</span>	
	</div>



