
<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-orange">
		<h4>{{document.header.schema| schemaName }}
			<span class="color-black"> ({{document.header.schema|schemaShortName}})</span>
		</h4>

	</div>
	<div class="record-body panel-body">


		<document-date></document-date> <br>

		<div ng-show="document.title">
			<label>Title</label>
			<strong><km-value-ml value="document.title" locales="locale"></km-value-ml></strong>
		</div>
		<div ng-show="document.summary && isABS">
			<label>Summary</label>
			<km-value-ml value="document.summary" locales="locale"></km-value-ml>
		</div>
		<div ng-show="document.resourceLinks && isABS">
			<label>Link to the resource(s)</label>
			<km-link-list class="km-value"  ng-if="document.resourceLinks" ng-model="document.resourceLinks" style="margin-top: 5px;"></km-link-list>
		</div>
		<div ng-show="document.authors">
			<label>Author(s)</label>
			<km-value-ml value="document.authors" locales="locale"></km-value-ml>
		</div>
		<div ng-show="document.authorsInfo && isBCH">
			<label>Authors information</label>
			<km-value-ml value="document.authorsInfo" locales="locale"></km-value-ml>
		</div>
		<div ng-show="organizations && organizations.length>0 && isABS">
			<label>Reference to the authoring organisation(s)</label>
			<div >
				<div class="row">
					<div class="col-sm-12"  ng-repeat="organization in organizations">
						<div class="km-value">
							<div view-record-reference ng-model="organization" locale="locale"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="organizations && organizations.length>0 && isBCH">
			<label>Organization(s) involved in the publication of this resource</label>
			<div >
				<div class="row">
					<div class="col-sm-12"  ng-repeat="organization in organizations">
						<div class="km-value">
							<div view-record-reference ng-model="organization" locale="locale"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="document.languages && isBCH">
			<label>Language(s)</label>
			<div class="km-value">
				<ul class="list">
				<li ng-repeat="term in document.languages"><span ng-bind="term | term | lstring:locale"></span></li>
				</ul>
			</div>
		</div>
		<div ng-show="document.publicationYear">
			<label>Publication date</label>
			<div class="km-value"><span ng-bind="document.publicationYear"></span><span ng-if="!isABS && document.publicationMonth">-<span ng-bind="document.publicationMonth"></span></span></div>
		</div>
		<div ng-show="document.summary && isBCH">
			<label>Summary, abstract or table of contents</label>
			<km-value-ml value="document.summary" locales="locale" html></km-value-ml>
		</div>
		<div ng-show="document.bchSubjects && isBCH">
			<label>Thematic areas(s)</label>
			<div class="km-value">
				<ul class="list">
					<li ng-repeat="term in document.bchSubjects"><span ng-bind="term|term"></span></li>
				</ul>
			</div>
		</div>
		<div ng-show="document.addressLmoCategories && document.addressLmoCategories != undefined && isBCH">
			<label>Does this resource address one or more specific categories of organisms or genes or LMOs</label>
			<div class="km-value">
				<div ng-if="document.addressLmoCategories">Yes</div>
			</div>
			<div ng-show="document.organisms && document.organisms.length>0 && isBCH">
				<label>Organism(s) identification</label>
				<div >
					<div class="row">
						<div class="col-sm-12"  ng-repeat="orga in document.organisms">
							<div class="km-value">
								<div view-record-reference ng-model="orga" locale="locale"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="document.genes && document.genes.length>0 && isBCH">
				<label>Gene(s) identification</label>
				<div >
					<div class="row">
						<div class="col-sm-12"  ng-repeat="gene in document.genes">
							<div class="km-value">
								<div view-record-reference ng-model="gene" locale="locale"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="document.modifiedOrganisms && document.modifiedOrganisms.length>0 && isBCH">
			<label>LMO(s) identification</label>
			<div >
				<div class="row">
					<div class="col-sm-12"  ng-repeat="lmo in document.modifiedOrganisms">
						<div class="km-value">
							<div view-record-reference ng-model="lmo" locale="locale"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="document.resourceTypes">
			<label>Type of resource</label>
			<div class="km-value">
				<ul class="list">
					<li ng-repeat="val in document.resourceTypes"><span ng-bind="val | term | lstring:locale"></span></li>
				</ul>
			</div>
		</div>
		<div ng-show="document.Identifier && isBCH">
			<label>Identifier</label>
			<km-value-ml value="document.Identifier | lstring" locales="locale"></km-value-ml>
		</div>
		<div ng-show="document.publisher && isBCH">
			<label>Publisher and its location</label>
			 <km-value-ml value="document.publisher" locales="locale"></km-value-ml>
		</div>
		<div ng-show="document.rights && isBCH">
			<label>Rights</label>
			 <km-value-ml value="document.rights" locales="locale"></km-value-ml>
		</div>
		<div ng-show="document.format && isBCH">
			<label>Format</label>
			<km-value-ml value="document.format" locales="locale"></km-value-ml>
		</div>
		<div ng-show="document.source && isBCH">
			<label>Source</label>
			<km-value-ml value="document.source" locales="locale"></km-value-ml>
		</div>
		<div ng-show="document.keywords">
			<label>Keywords</label>
			<div class="km-value" >
				<ul class="list">
					<li ng-repeat="term in document.keywords"><span ng-bind="term | lstring:locale"></span></li>
				</ul>
			</div>
		</div>
		<div ng-show="document.resourceLinks && isBCH">
			<label>Link to the resource(s)</label>
			
			<km-link-list class="km-value"  ng-if="document.resourceLinks" ng-model="document.resourceLinks" style="margin-top: 5px;"></km-link-list>
		</div>
		<div ng-show="document.resourceAccess && isBCH">
			<label>How to obtain the resource</label>
			<km-value-ml value="document.resourceAccess" locales="locale" html></km-value-ml>
		</div>

		<div ng-show="document.fileFormat && isABS">
			<label>Format/File type</label>
			<km-value-ml value="document.fileFormat | term" locales="locale"></km-value-ml>
		</div>
		<div ng-show="document.formatDetails && isABS">
			<label>Format details</label>
			<km-value-ml value="document.formatDetails" locales="locale"></km-value-ml>
		</div>

		<div ng-show="document.purpose && isABS">
			<label>Main purpose of the resource</label>
			<div class="km-value">
				<ul class="list">
					<li ng-repeat="purpose in document.purpose"><span ng-bind="purpose | term:locale"></span></li>
				</ul>
			</div>
		</div>
		<div ng-show="document.targetGroups && isABS">
			<label>Target group(s)/beneficiary(ies)</label>
			<div class="km-value">
				<ul class="list">
					<li ng-repeat="group in document.targetGroups"><span ng-bind="group | term:locale"></span></li>
				</ul>
			</div>
		</div>
		<div ng-show="document.expertiseLevel && isABS">
			<label>Level of the content or   level of knowledge/expertise of the audience for which the resource is intended</label>
			<km-value-ml value="document.expertiseLevel | term" locales="locale" html></km-value-ml>
		</div>
		<div ng-show="document.rights && isABS">
			<label>Rights</label>
			<km-value-ml value="document.rights" locales="locale"></km-value-ml>
		</div>
		<div ng-show="document.source && isABS">
			<label>Source</label>
			<km-value-ml value="document.source" locales="locale"></km-value-ml>
		</div>
		<div ng-show="document.covers && isABS">
			<label>Cover image(s)</label>
			<div class="km-value">
				<ul class="list">
					<li ng-repeat="link in document.covers">
						<a rel="noopener" translation-url  ng-href="{{link.url|encodeURI}}" target="_blank">
							<img class="img-polaroid" ng-src="{{link.url.replace('attachments/','attachments/thumbnail/')|encodeURIComponent}}" alt="{{link.name}}" style="max-height: 150px; max-width: 150px" />
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div ng-show="document.regions && isABS">
			<label>Country(ies), Regional or Economic group(s) related to the resource</label>
			<div class="km-value">
				<ul ng-repeat="term in document.regions" class="list">
					<li><span ng-bind="term | term | lstring:locale"></span></li>
				</ul>
			</div>
		</div>
		<div ng-show="document.aichiTargets && isABS">
			<label>Related Aichi target(s)</label>
			<div class="km-value">
				<ul  class="list">
					<li ng-repeat="term in document.aichiTargets"><span ng-bind="term | term:locale"></span></li>
				</ul>
			</div>
		</div>
		<div ng-show="(document.absSubjects || document.mccKeywords || document.keywords) && isABS">

			<label> Thematic areas(s) and keywords for facilitating online searches</label>
			<div class="km-value" ng-show="document.absSubjects || document.mccKeywords">
				<ul class="list">
					<li ng-repeat="term in document.absSubjects"><span ng-bind="term | term:locale"></span></li>
					<li ng-repeat="term in document.mccKeywords"><span ng-bind="term | term:locale"></span></li>
				</ul>
			</div>

			<div ng-show="document.keywords">
				<label>Keywords and any other relevant information</label>
				<km-value-ml value="document.keywords" locales="locale"></km-value-ml>
			</div>

		</div>
		<div ng-show="document.format" ng-if="document.header.type=='resource' && isABS">
			<label>Format</label>
			<km-value-ml value="document.format" locales="locale"></km-value-ml>
		</div>

		<div ng-show="document.absKeyAreas && isABS">
			<label>Key areas and strategic measures for capacity-building and development</label>
			<div class="km-value">
				<ul  class="list">
					<li ng-repeat="term in document.absKeyAreas"><span ng-bind="term | term:locale"></span></li>
				</ul>
			</div>
		</div>

		<div ng-show="(document.relevantInformation||document.relevantDocuments) && isABS">
			<legend>Additional Information</legend>

			<div ng-show="document.relevantInformation">
				<km-value-ml value="document.relevantInformation" locales="locale" html></km-value-ml>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>Other relevant website address or attached documents</label>
				<km-link-list class="km-value"  ng-if="document.relevantDocuments" ng-model="document.relevantDocuments" style="margin-top: 5px;"></km-link-list>
			</div>
		</div>

		<div>
			<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>
		</div>
		<div id="divEndorsement">
			<span endorsement identifier="document.header.identifier" schema="document.header.schema"></span>
		</div>
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
