<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-orange" ng-show="display('header')">
		<h4>
			<span ng-bind="::document.header.schema|schemaName"></span>
			<span class="color-black">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span>
		</h4>
    </div>
	<div class="record-body panel-body">

		<document-date></document-date> <br>

		<legend>General information</legend>
    <div ng-show="document.title">
			<label>Title of the initiative</label>
			<div compare-val>
			<km-value-ml value="document.title" locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-show="document.projectNumber">
			<label>Project number or identifier</label>
			<div compare-val>
			<km-value-ml value="document.projectNumber" locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.projectDocument">
			<label>Website address(es)</label>
			<div compare-val>
			<km-link-list class="km-value" ng-model="document.projectDocument"></km-link-list>
			</div>
		</div>
		
		<div ng-if="document.contacts">
			<label>Contact person</label>
			<div class="km-value" compare-val="Contact person">
			<div ng-repeat="contact in document.contacts">
				<div view-record-reference ng-model="contact" locale="locale"></div>
			</div>
			</div>
		</div>
		

		<div ng-show="document.geographicScope">
			<label>Geographic scope</label>
			<div compare-val>
			<km-value-ml value="document.geographicScope | term:locale" locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-show="document.countryRegions">
			<label>Geographical or political/economic group(s) and/or country(ies)</label>
			<div class="km-value" compare-val="Geographical or political/economic">
                <ul  class="list">
                    <li ng-repeat="val in document.countryRegions" ng-bind="val | term:locale"></li>
                </ul>
            </div>
		</div>

		<div ng-show="document.geographicScope.countries">
			<label>Countries</label>
			<div class="km-value" compare-val="Countries">
				<ul  class="list">
					<li ng-repeat="val in document.geographicScope.countries" ng-bind="val | term:locale"></li>
				</ul>
			</div>
		</div>

		<div ng-show="document.status">
			<label>Status</label>
			<div compare-val>
			<km-value-ml value="document.status | term:locale" locales="locale"></km-value-ml>
			</div>
		</div>
		
		<div ng-show="(document.startDate && document.endDate) || document.durationPeriod || document.durationText">
			<div class="row" ng-show="document.startDate && document.endDate">
				<div class="col-md-6">
					<label>Start date</label>
					<div compare-val>
					<km-value-ml value="document.startDate | date : 'longDate'" locales="locale"></km-value-ml>
					</div>
				</div>
				<div class="col-md-6">
					<label>End date</label>
					<div compare-val>
					<km-value-ml value="document.endDate | date : 'longDate'" locales="locale"></km-value-ml>
					</div>
				</div>
			</div>

			<div class="row" ng-show="document.durationPeriod || document.durationText">
				<div class="col-md-12">
					<label>Duration</label>
					<div class="km-value" compare-val>
						<span  ng-bind="document.durationPeriod | lstring:locale"></span>
						<span  ng-bind="document.durationText | lstring:locale"></span>
					</div>
				</div>
			</div>
		</div>


		<div ng-show="document.activityScope">
			<label>Type of capacity development initiative</label>
			<div compare-val>
				<km-value-ml value="document.activityScope | term:locale" locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-show="document.isProjectProgramme!=undefind">
			<label>Is this part of a larger project or programme?</label>
			<div compare-val>
				<km-value-bool value="document.isProjectProgramme" locales="locale"></km-value-bool>
			</div>
		</div>
			<div ng-show="document.projectProgrammeName">
				<label>Name of project or programme</label>
				<div compare-val>
					<km-value-ml value="document.projectProgrammeName" locales="locale"></km-value-ml>
				</div>
			</div>
			<div ng-show="document.broaderProjects">
				<label>Clearing-house record about this project or programme</label>
				<div class="km-value" compare-val="Clearing-house record">
					<div ng-repeat="broaderProject in document.broaderProjects">
					<div view-record-reference ng-model="broaderProject" locale="locale"></div>
					</div>
				</div>
			</div>
		<div ng-show="document.isImplementedByAgencies || document.isExecutededByAgencies || document.isCollaboratededByPartners">

			<div ng-show="document.isImplementedByAgencies && document.implementingAgencies">
				<label>Implementing agency(ies) or organization(s)</label>
				<div class="km-value" compare-val="Implementing agency(ies)">
				<div ng-repeat="contact in document.implementingAgencies">
					<div view-record-reference ng-model="contact" locale="locale"></div>
				</div>
			</div>
			</div>

			<div ng-show="document.isExecutededByAgencies && document.executingAgencies">
				<label>Executing agency(ies) or organization(s)</label>
				<div class="km-value" compare-val="Executing agency(ies)">
				<div ng-repeat="contact in document.executingAgencies">
					<div view-record-reference ng-model="contact" locale="locale"></div>
				</div>
			</div>
			</div>

			<div ng-show="document.isCollaboratededByPartners && document.collaboratingPartners">
				<label>Collaborating partner(s)</label>
				<div class="km-value" compare-val="Collaborating partner(s)">
				<div ng-repeat="contact in document.collaboratingPartners">
					<div view-record-reference ng-model="contact" locale="locale"></div>
				</div>
			</div>
			</div>
		</div>

		<legend>Detailed information</legend>

		<div ng-show="document.description">
			<label>Short description of the initiative, including its goals and objectives</label>
			<div compare-val>
			<km-value-ml value="document.description" locales="locale" html></km-value-ml>
			</div>
		</div>
		<div ng-show="document.categories">
			<label>Category(ies) of capacity development activities</label>
			<div class="km-value" compare-val="categories">
				<ul class="list">
					<li ng-repeat="val in document.categories" ng-bind="val | term:locale"></li>
				</ul>
			</div>
		</div>
		<div ng-show="document.targetGroups">
			<label>Main target group(s)/beneficiary(ies)</label>
			<div class="km-value" compare-val="Main target group(s)">
				<view-terms-hierarchy ng-model="document.targetGroups" locale="locale" term-domain="cbiAudience" on-terms-loaded="onTargetGroupsTerms(terms)"></view-terms-hierarchy>
			</div>
		</div>

		<div ng-show="document.cbdSubjects || document.aichiTargets">

			<legend>Information on thematic coverage of the initiative</legend>

			<div ng-show="document.cbdSubjects">
				<label>Related CBD subject areas</label>
				<div class="km-value" compare-val="Related CBD subject areas">
					<view-terms-hierarchy ng-model="document.cbdSubjects" locale="locale" term-domain="cbdSubjects" on-terms-loaded="onCbdSubjectsTerms(terms)"></view-terms-hierarchy>
				</div>
			</div>

			<div ng-show="document.aichiTargets && isABS">
					<label>Aichi target(s)</label>
					<div class="km-value" compare-val="Aichi target(s)">
						<ul class="list">
							<li ng-repeat="val in document.aichiTargets" ng-bind="val | term:locale"></li>
						</ul>
					</div>
			</div>
		</div>

		<div ng-show="document.absKeyAreas">
			<label>ABS thematic areas</label>

			<label>Key areas and strategic measures for capacity-building and development</label>
			<div class="km-value" compare-val="Key areas and strategic measures">
				<ul class="list">
					<li ng-repeat="val in document.absKeyAreas" ng-bind="val | term:locale"></li>
				</ul>
			</div>
		</div>

		<div ng-show="document.cpbThematicAreas">
			<label>Biosafety thematic areas</label>
			<div class="km-value" compare-val="Biosafety thematic areas">
				<view-terms-hierarchy ng-model="document.cpbThematicAreas" locale="locale" term-domain="cpbThematicAreas" on-terms-loaded="onThematicAreasTerms(terms)"></view-terms-hierarchy>
			</div>
		</div>


		<div ng-show="document.fundingSourceTypes || document.coreFundingSources || document.coFinancingSources || document.totalBudget">
			<legend>Information on funding</legend>

			<div ng-show="document.fundingSourceTypes">
				<label>Type(s) of funding source(s)</label>
				<div class="km-value" compare-val="Type(s) of funding source(s)">
					<ul class="list">
						<li ng-repeat="val in document.fundingSourceTypes" ng-bind="val | term:locale"></li>
					</ul>
				</div>
			</div>
			<div ng-show="document.coreFundingSources">
				<label>Primary funding source(s)</label>
				<div class="km-value" compare-val="Primary funding source(s)">
				<div ng-repeat="contact in document.coreFundingSources">
					<div view-record-reference ng-model="contact" locale="locale"></div>
				</div>
				</div>
			</div>

			<div ng-show="document.coFinancingSources">
				<label>Co-financing source(s)</label>
				<div class="km-value" compare-val="Co-financing source(s)">
				<div ng-repeat="contact in document.coFinancingSources">
					<div view-record-reference ng-model="contact" locale="locale"></div>
				</div>
				</div>
			</div>

			<div ng-show="document.totalBudget">
				<label>Total budget (amount, in US dollars)</label>
				<div compare-val>
				<km-value-ml value="document.totalBudget | currency:'USD$'" locales="locale"></km-value-ml>
				</div>
			</div>

		</div>
			<div ng-show="document.resultsAchievements || document.resultsOutputs || document.bestPractices">
				<legend>Capacity development outcomes</legend>

				<div ng-show="document.resultsAchievements">
					<div><strong>Results</strong></div>
					<label>Main achievements</label>
					<div compare-val>
					<km-value-ml value="document.resultsAchievements" locales="locale" html></km-value-ml>
					</div>
				</div>

				<div ng-show="document.resultsOutputs">
					<label>Main outputs</label>
					<div compare-val="Main outputs">
					<km-link-list class="km-value" ng-model="document.resultsOutputs"></km-link-list>
					</div>
				</div>
				<div ng-show="document.resultsReference">
					<label>Virtual library record number</label>
					<div class="km-value" compare-val="Virtual library record number">
					  <div ng-repeat="contact in document.resultsReference">
						<div view-record-reference ng-model="contact" locale="locale"></div>
					  </div>
					</div>
				  </div>

				<div ng-show="document.bestPractices">
					<label>Good practices and lessons learned</label>
					<div compare-val>
					<km-value-ml value="document.bestPractices" locales="locale" html></km-value-ml>
					</div>
				</div>


				<div ng-show="document.relevantInformation||document.relevantDocuments">
					<legend>Additional Information</legend>

					<div ng-show="document.relevantInformation">
						<label>Any other relevant information</label>
						<div compare-val>
							<km-value-ml value="document.relevantInformation" locales="locale" html></km-value-ml>
						</div>
					</div>

					<div ng-show="document.relevantDocuments">
						<label>Other relevant website addresses and/or attached documents</label>
						<div class="km-value" compare-val="Other relevant website addresses and/or attached documents">
						<km-link-list  ng-model="document.relevantDocuments"></km-link-list>
						</div>
					</div>
				</div>
			<div>
			<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>
		</div>

	</div>
	</div>
	<div document-metadata class="panel-footer" ></div>

</div>
