<div class="national-report-view">
    <div class="section-pane panel panel-default" ng-repeat="section in reportQuestions" id="section{{$index+1}}" style="margin-bottom:3px!important">
        <div class="panel-heading border-bottom">
            <div compare-val>
                <strong ng-bind-html="section.title"></strong>
            </div>
            <div compare-val>
                <div ng-bind-html="section.description" ng-if="section.description"></div>
            </div>
            <div compare-val>
                <div ng-if="section.footnote" ng-bind-html="section.footnote" ></div>
            </div>
        </div>
        <div ng-if="vueComponent"> 
            <national-report-section
              ng-vue="vueComponent"
              :document="makeReactive(document)"
              :report-section="makeReactive(section)"
            />
        </div> 
      </div>

      <div document-metadata class="panel-footer" />
</div>
