
<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-orange">
		<h4>{{document.header.schema| schemaName }}
			<span class="color-black"> ({{document.header.schema|schemaShortName}})</span>
		</h4>

	</div>
	<div class="record-body panel-body">


		<document-date></document-date> <br>

		<div ng-show="document.title">
			<label>Title</label>
			<div compare-val>
				<km-value-ml value="document.title" locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-show="document.resourceTypes">
			<label>Type(s) of resource</label>
			<div class="km-value" compare-val>
				<view-terms-hierarchy ng-model="document.resourceTypes" locale="locale" term-domain="resourceTypesVlr"></view-terms-hierarchy>
				
			</div>
		</div>
		<div ng-show="document.authors">
			<label>Author(s) name</label>
			<div compare-val>
				<km-value-ml value="document.authors" locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-show="document.organizations">
			<label>Name of the person or organization who has authored the publication or information resource.</label>
				<div class="km-value" compare-val="organizations">
					<div class="col-sm-12" ng-repeat="organization in organizations">
							<div view-record-reference ng-model="organization" locale="locale"></div>
					</div>
				</div>
		</div>

		<div ng-show="document.publisher">
			<label>Publisher</label>
			<div compare-val>
				<km-value-ml value="document.publisher" locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-show="document.source">
			<label>Source</label>
			<div compare-val>
				<km-value-ml value="document.source" locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-show="document.publicationDate">
			<label>Publication date</label>
			<div compare-val>
				<km-value-ml value="document.publicationDate" locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-show="document.rights">
			<label>Rights</label>
			<div compare-val>
			 	<km-value-ml value="document.rights" locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-show="document.resourceLinks">
			<label>Link to the resource(s)</label>
			<div compare-val>
			<km-link-list class="km-value"  ng-model="document.resourceLinks" style="margin-top: 5px;"></km-link-list>
			</div>
		</div>
		<div ng-show="document.covers">
			<label>Cover image(s)</label>
			<div class="km-value" compare-val="covers">
				<ul class="list">
					<li ng-repeat="link in document.covers">
						<a rel="noopener" translation-url  ng-href="{{link.url|encodeURI}}" target="_blank">
							<img class="img-polaroid" ng-src="{{link.url.replace('attachments/','attachments/thumbnail/')|encodeURIComponent}}" alt="{{link.name}}" style="max-height: 150px; max-width: 150px" />
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div ng-show="document.summary">
			<label>Summary, abstract or table of contents</label>
			<km-value-ml html value="document.summary" locales="locale"></km-value-ml>
		</div>

		
		<div ng-show="document.countryRegions">
			<label>Country(ies), Regional or Economic group(s) related to the resource</label>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.countryRegions">
						<span ng-bind="item|term:locale"></span>
					</li>
				</ul>
			</div>
		</div>

		<div ng-show="document.aichiTargets && !isBCH">
			<label>Related Aichi target(s)</label>
			<div class="km-value" compare-val="aichiTargets">
				<view-terms-hierarchy ng-model="document.aichiTargets" locale="locale" term-domain="aichiTargets"></view-terms-hierarchy>
			</div>
		</div>

		<div ng-show="document.cbdSubjects">
			<label>CBD Subject Areas</label>
			<div class="km-value" compare-val="cbdSubjects">
				<view-terms-hierarchy ng-model="document.cbdSubjects" locale="locale" term-domain="cbdSubjects"></view-terms-hierarchy>
			</div>
		</div>
		<!-- If BCH, Start -->
		<div ng-if="isBCH">
			<div ng-show="document.biosafety.subjects">
				<label>Biosafety Thematic Areas</label>
				<div class="km-value" compare-val="bchSubjects">
					<view-terms-hierarchy ng-model="document.biosafety.subjects" locale="locale" term-domain="cpbThematicAreas"></view-terms-hierarchy>
				</div>
			</div>	

			<div ng-show="document.biosafety.raRecommend != undefined">
				<label>Would you like to recommend this document as background material for the “Guidance on Risk Assessment of Living Modified Organisms”?</label>
				<div class="km-value" compare-val>
					<km-value-bool value="document.biosafety.raRecommend" locales="locale"></km-value-bool>
				</div>

				<div ng-show="document.biosafety.raAuthorAffiliation && document.biosafety.raRecommend">
					<label>Author affiliation</label>
					<div class="km-value" compare-val="raAuthorAffiliation">
						<view-terms-hierarchy ng-model="document.biosafety.raAuthorAffiliation" locale="locale" term-domain="bchRaAuthorAffiliation"></view-terms-hierarchy>
					</div>
				</div>

				<div ng-show="document.biosafety.raSubjects && document.biosafety.raRecommend">
					<label>Guidance on Risk Assessment of Living Modified Organisms</label>
					<div class="km-value" compare-val="raSubjects">
						<view-terms-hierarchy ng-model="document.biosafety.raSubjects" locale="locale" term-domain="bchRaSubjects"></view-terms-hierarchy>
					</div>
				</div>
				
			</div>


			<div ng-show="document.biosafety.addressmodifiedOrganisms != undefined">
				<label>Does this resource address one or more specific LMOs?</label>
				<div class="km-value" compare-val>
					<km-value-bool value="document.biosafety.addressmodifiedOrganisms" locales="locale"></km-value-bool>
				</div>

				<div ng-show="document.biosafety.modifiedOrganisms && document.biosafety.addressmodifiedOrganisms">
					<label>LMO(s) identification</label>
					<div class="km-value" compare-val="modifiedOrganisms">
						<ul class="list">
							<li ng-repeat="item in document.biosafety.modifiedOrganisms" >
								<view-record-reference ng-model='item' locale="locale"></view-record-reference>
							</li>
						</ul>
					</div>
				</div>		
			</div>

			<div ng-show="document.biosafety.addressOrganisms != undefined">
				<label>Does this resource address one or more specific organisms?</label>
				<div class="km-value" compare-val>
					<km-value-bool value="document.biosafety.addressOrganisms" locales="locale"></km-value-bool>
				</div>

				<div ng-show="document.biosafety.organisms && document.biosafety.addressOrganisms">
					<label>Organism(s) identification</label>
					<div class="km-value" compare-val="organisms">
						<ul class="list">
							<li ng-repeat="item in document.biosafety.organisms" >
								<view-record-reference ng-model='item' locale="locale"></view-record-reference>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div ng-show="document.biosafety.addressGenes != undefined">
				<label>Does this resource address one or more specific genetic elements?</label>
				<div class="km-value" compare-val>
					<km-value-bool value="document.biosafety.addressGenes" locales="locale"></km-value-bool>
				</div>

				<div ng-show="document.biosafety.genes && document.biosafety.addressGenes">
					<label>Gene(s)  identification</label>
					<div class="km-value" compare-val="genes">
						<ul class="list">
							<li ng-repeat="item in document.biosafety.genes" >
								<view-record-reference ng-model='item' locale="locale"></view-record-reference>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- If BCH, End -->

		<!-- If ABS, Start -->
		<div ng-if="isABS">
			<legend>Keywords related to Access and Benefit-Sharing</legend>
			<div ng-show="document.nagoya.subjects">				
				<label>ABS Thematic Areas</label>
				<div class="km-value" compare-val="absSubjects">
					<view-terms-hierarchy ng-model="document.nagoya.subjects" locale="locale" term-domain="absSubjects"></view-terms-hierarchy>
				</div>
			</div>

			<div ng-show="document.nagoya.keyAreas">
				<label>Key areas and strategic measures for capacity-building and development addressed by the resource</label>
				<div class="km-value" compare-val="keyAreas">
					<view-terms-hierarchy ng-model="document.nagoya.keyAreas" locale="locale" term-domain="keyAreas"></view-terms-hierarchy>
				</div>
			</div>
		</div>
		<!-- If ABS, End -->
		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>Additional Information</legend>

			<div ng-show="document.relevantInformation">
				<label>Any other relevant information</label>
				<div compare-val="relevantInformation">
				<km-value-ml html value="document.relevantInformation" locales="locale"></km-value-ml>
				</div>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>Other relevant website address or attached documents</label>
				<div compare-val>
				<km-link-list class="km-value"  ng-if="document.relevantDocuments" ng-model="document.relevantDocuments" style="margin-top: 5px;"></km-link-list>
				</div>
			</div>
		</div>


		<div>
			<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>
		</div>
		<div id="divEndorsement">
			<div compare-val>
			<span endorsement identifier="document.header.identifier" schema="document.header.schema"></span>
			</div>
		</div>
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
