<div>
    <div  ng-show="!user.isAuthenticated" style="margin:0 10% 0 10%" >
        <h1 class="dropshadow1 color-green" style="font-size:250%;margin-bottom:20px;">Veuillez vous connecter pour publier de l’information au <span ng-bind="chShortName"></span></h1>
        <hr>
       <div class="well">
       <h3>Comment m’inscrire pour obtenir un compte CDB?</h3>
       <p>Toute personne peut avoir un compte CBD qui lui permettra d'enregistrer des informations dans toutes les centres d’échage d’information de la CDB, y compris le Centre d'échange pour la prévention des risques biotechnologiques, le Centre d'échange sur l'accès et le partage des avantages et le Centre d'échange en vertu de la Convention. Vous pouvez vous inscrire pour créer un compte au <a rel="noopener" translation-url  href="http://accounts.cbd.int/signin" class="bold">accounts.cbd.int/signin</a></p>
        <p>Assure-vous d’entrer toutes les informations requises, tel qu’indiqué dans le formulaire. Vous recevrez automatique un courriel avec un hyperlien sur lequel vous devrez cliquer pour confirmer votre compte.</p>
       <h3>Vous avez oublié votre mot de passe ?</h3>
        <p>Cliquez ici <a rel="noopener" translation-url  href="http://accounts.cbd.int/password/reset" class="bold">accounts.cbd.int/password/reset</a> pour un nouveau mot de passe. On vous demandera votre adresse électronique et, si vous êtes un utilisateur inscrit, un courriel vous sera immédiatement envoyé à votre compte de messagerie électronique inscrit avec les instructions à suivre pour créer un nouveau mot de passe.</p>
        <h3>Avez-vous des problèmes avec l'affichage du Centre d’échange?</h3>
        <p>Le <span ng-bind="chShortName"></span>a été conçu pour l’usager qui utilise les versions récentes des navigateurs Internet récents (Firefox, Chrome or Internet Explorer 9+)</p>
        <h3 class="color-green">Pour du soutien technique, contactez notre service d’aide au : <span class="color-blue" style="text-transform: lowercase" ng-bind="email"></span></h3>
       </div>
      </div>
</div>
