<div ng-show="showWarning">
    <div class="card" ng-if="responsibleCNA && responsibleCNA.numFound > 0">
        <h3 class="color-red">Ya se ha publicado una ANC, indicada como la única ANC designada para su país.</h3>
            <h5 class="color-red">Usted puede guardar borradores, sin embargo, no podrá publicar una nueva ANC antes de actualizar el siguiente registro:</h5>
            <div>
            <div ng-repeat="rec in responsibleCNA.docs">
                <result-default doc='rec' type="nationalRecords"></result-default>
            </div>
            </div>
    </div>
</div>
