<div class="main-nav" dir="rtl">

    <style> a[href]:after { content: ''; } #printContentHeader .row{ margin:auto; } </style>
    <div >
        <div class="row">
            <div class="col-xs-12">
                <div id="printContentHeader" ng-include="'/app/views/forms/view/print-header.html'"></div>                
                <div class="col-xs-12 bg-green">
                    <h1 class="color-litegreen  text-center" style="padding:0;">{{title(schema)}}</h1>
                </div>

                <div class="col-xs-12"><br/><div class="row">
                        <div ng-repeat-start="contact in absch_nfp|orderBy:'government_EN_t'"class="col-xs-4">                        
                            <div class="panel panel-default" ng-class="{'panel-success':contact.schema_s=='focalPoint',
                                                                    'panel-warning':contact.schema_s=='absCheckpoint',
                                                                    'panel-info':contact.schema_s=='authority'||contact.schema_s=='database'}">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a rel="noopener" ng-href="/countries/{{contact.government_s|encodeURIComponent}}" ng-bind="contact.government_EN_t"></a></h4>
                                </div>
                                <div class="panel-body"><a rel="noopener" ng-href="/database/{{schema}}/{{contact.uniqueIdentifier_s|uppercase|encodeURIComponent}}" ng-bind="contact.title_t"></a><div ng-show="contact.summary_t" ng-bind-html="contact.summary_t"></div>
                                    <ul ng-show="contact.telephones || contact.telephone_ss || contact.fax_ss" style="list-style-type: none;padding:0;margin:0;">                                        
                                        <li ng-show="contact.telephone_ss" ng-repeat="item in contact.telephone_ss"><span ng-bind="item"></span></li>
                                        <li ng-show="contact.telephones" ng-repeat="item in contact.telephones"><span ng-bind="item"></span></li>
                                        <li ng-show="contact.fax_ss" ng-repeat="item in contact.fax_ss"><span ng-bind="item"></span></li>
                                    </ul>
                                    <ul ng-show="contact.emails || contact.email_ss" style="list-style-type: none;padding:0;margin:0;">
                                        <li ng-repeat="item in contact.emails || contact.email_ss"><a rel="noopener" ng-href="mailto:{{item|encodeURIComponent}}" ng-bind="item"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat-end class="clearfix" style="margin:15px" ng-if="($index+1)%3==0"><br></div>
                    </div>
                </div>
                
                <legend>معلومات إضافية</legend>
                <table class="top-border">
                    <tr>
                        <td class="col-md-6" width="50%" style="font-size:12px;text-align: justify">Questions about the permit or its equivalent constituting an internationally recognized certificate of compliance should be addressed to the competent national authority issuing the permit or its equivalent. يمكن الاطلاع على معلومات إضافية عن التصريح أو ما يعادله في غرفة تبادل المعلومات بشأن الحصول على الموارد وتقاسم المنافع ( <a rel="noopener" href="https://absch.cbd.int/">https://absch.cbd.int/</a>). <br> <br> يمكنكم توجيه أي استفسارات أو أسئلة حول بروتوكول ناغويا بشأن الحصول على الموارد وتقاسم المنافع أو آلية عمل غرفة تبادل المعلومات بشأن الحصول على الموارد وتقاسم المنافع إلى الأمانة العامة لاتفاقية التنوع البيولوجي.</td>
                        <td class="col-md-6" style="font-size:12px;vertical-align: top"><strong>Secretariat of the Convention on Biological Diversity</strong> <br/> 413 rue Saint-Jacques, suite 800 <br/> Montreal, Québec, H2Y 1N9 <br/> Canada <br/> فاكس: 6588 288 514 1+ <br/> البريد الإلكتروني: <a rel="noopener" href="mailto:secretariat@cbd.int" style="color:white;">secretariat@cbd.int</a></td>
                    </tr>
                </table>
            </div>

        </div>

    </div>

</div>
