<div id="cbdBranding" class="footer ng-cloak">
    <div class="footer">
        <div class="footer-cbd"
            style="padding:50px 30px; background-color: #111!important; border-top: 1px solid #444; ">

            <style> #cbd-footer a { color: #999; font-size: 12px; } #cbd-footer ul { list-style: none; padding: 0; } #cbd-footer { color: #333; } #cbd-footer h4 { color: #ddd; font-size: 14px; } #cbd-footer h3 { color: #ddd; } </style>

            <div class="container-fluid" id="cbd-footer">
                <div class="row hidden-xs ">
                    <div class="col-xs-12" style="margin-bottom:20px;">
                        <h3 style="font-size:18px;">EL CONVENIO SOBRE LA DIVERSIDAD BIOLÓGICA</h3>
                    </div>
                </div>

                <div class="row hidden-xs">
                    <div class="col-sm-4">
                        <h4>Enlaces rápidos</h4>
                        <hr style="border-color: #bbb;">

                        <div class="col-xs-6" style="margin:0;padding:0;">
                            <ul>
                                <li><a href="https://absch.cbd.int/"
                                        title="Centro de Intercambio de Información sobre Acceso y Participación en los Beneficios">Centro de Intercambio de Información sobre Acceso y Participación en los Beneficios</a></li>
                                <li><a href="https://bch.cbd.int/" title="Centro de Intercambio de Información sobre Seguridad de la Biotecnología">Centro de Intercambio de Información sobre Seguridad de la Biotecnología</a></li>
                                <li><a href="https://chm.cbd.int/" title="Mecanismo de Intercambio de Información">Mecanismo de Intercambio de Información</a></li>
                                <li><a href="https://www.cbd.int/contributions" title="Contribuciones">Contribuciones</a></li>
                                <li><a href="https://www.cbd.int/countries/" title="Perfiles de los países">Perfiles de los países</a></li>
                                <li><a href="https://www.cbd.int/meetings/" title="Reuniones y actos">Reuniones y actos</a></li>
                                <li><a href="https://www.cbd.int/nbsap"
                                        title="National Biodiversity Strategies and Action Plans (NBSAPs)">Estrategias y planes de acción nacionales en materia de diversidad biológica (EPANDB)</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6" style="margin:0;padding:0;">
                            <ul style="margin-left:20px;">
                                <li><a href="https://www.cbd.int/nfp" title="Puntos focales nacionales">Puntos focales nacionales</a></li>
                                <li><a href="https://www.cbd.int/reports" title="Informes nacionales">Informes nacionales</a></li>
                                <li><a href="https://www.cbd.int/news/" title="Titulares de las noticias">Titulares de las noticias</a></li>
                                <li><a href="https://www.cbd.int/notifications/" title="Notificaciones">Notificaciones</a></li>
                                <li><a href="https://www.cbd.int/parties" title="Partes">Partes</a></li>
                                <li><a href="https://www.cbd.int/publications" title="Publicaciones">Publicaciones</a></li>
                            </ul>
                        </div>


                    </div>
                    <div class="col-sm-4">
                        <h4>Temas</h4>
                        <hr style="border-color: #bbb;">

                        <ul>
                            <li><a href="https://www.cbd.int/topic/business-women-youth-and-other-stakeholders"
                                    title="Sector empresarial, mujeres, jóvenes y otros interesados directos">Sector empresarial, mujeres, jóvenes y otros interesados directos</a></li>
                            <li><a href="https://www.cbd.int/topic/climate-change" title="Cambio climático">Cambio climático</a></li>
                            <li><a href="https://www.cbd.int/topic/poverty-reduction" title="Reducción de la pobreza">Reducción de la pobreza</a></li>
                            <li><a href="https://www.cbd.int/topic/food" title="Alimentación">Alimentación</a></li>
                            <li><a href="https://www.cbd.int/topic/water" title="Agua">Agua</a></li>
                            <li><a href="https://www.cbd.int/topic/indigenous-peoples-and-local-communities"
                                    title="Pueblos indígenas y comunidades locales">Pueblos indígenas y comunidades locales</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h4>Información</h4>
                        <hr style="border-color: #bbb;">

                        <ul>
                            <li><a href="https://www.cbd.int/contact" title="Contáctenos">Contáctenos</a></li>
                            <li><a href="https://www.cbd.int/terms" title="Términos utilizados">Términos utilizados</a></li>
                            <li><a href="https://www.cbd.int/privacy" title="Política de privacidad">Política de privacidad</a></li>
                            <li><a href="https://www.cbd.int/credits" title="Créditos">Créditos</a></li>
                            <li><a href="https://www.cbd.int/copyright" title="© Secretaría del CDB">© Secretaría del CDB</a></li>
                            
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h4>Una parte de</h4>
                        <hr style="border-color: #bbb;"><img class="uno-environment" src="https://www.cbd.int/themes/custom/bootstrap_sass/images/UN_brand_neg.svg"
                            style="padding: 0; margin:0; width:100px;" alt="ONU Medio ambiente"> <br> <img class="uno-brand" src="https://www.cbd.int/themes/custom/bootstrap_sass/images/UNEP_50_white.svg"
                            style="padding: 0; margin: 0; width:100px;" alt="Marca de las Naciones Unidas"></div>
                </div>

                <div class="row">
                    <div class="col-xs-12 text-center" style="margin-bottom:20px;"><a rel="noopener" translation-url href="http://www.cbd.int"><img
                                src="/app/img/cbd-logo-white-en.svg" style="padding: 0; margin: 0; width:220px;" /></a></div>
                </div>

            </div>
        </div>
    </div>
</div>