<div class="popover" >
  <div class="arrow"></div>
  <h2 class="popover-title"></h2>
  <div style="color:black;min-height:100px;padding: 6px 6px 6px 6px; ">
    <img src="{{logo_s}}" style="min-width:100px;min-height:100px;max-width:200px;max-height:200px;float:right;"> {{description_s}}
    <br> {{descriptionNative_s}} {{address_s}} {{email_s}} {{phone_s}}
  </div>
  <div class="popover-footer text-nowrap" style="clear:both;height:38px;vertical-align:center; ">
    <span class="text-nowrap" style="color:black;float:left;font-size:18px;">
      <i class="flag-icon flag-icon-{{countryCode}}"></i> Location: {{countryName}}
    </span>
    <span class="text-nowrap" style="color:black;float:right;font-size:18px;">
      {{website_s}} {{facebook_s}} {{youtube_s}} {{twitter_s}} {{directions_s}}
    </span>
  </div>
</div>