<div id="CBD-Branding" class="footer ng-cloak">
  <div class="footer">
    <div class="footer-cbd">
      <div class="container-fluid footer-cbd-container">
        <div class="row copyright">
          <div class="col-xs-12"><a rel="noopener" translation-url href="http://www.cbd.int"><img src="/app/components/scbd-branding/images/cbd-logo-white-en.svg" style="padding: 0 0 14px 0; margin: 0; width:200px;" /></a><p style="font-size:10px;"><a rel="noopener" translation-url href="http://www.cbd.int">© {{year}} 生物多样性公约秘书处</a> | <a rel="noopener" translation-url href="http://www.cbd.int/privacy">隐私政策</a> | <a rel="noopener" translation-url href="http://www.cbd.int/terms">使用条款</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
