<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-blue">
		<h4><span ng-bind="::document.header.schema|schemaName"></span> <span class="color-black">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span></h4>
	</div>
	<div class="record-body panel-body">

		<document-date></document-date>

		<div ng-if="document.isAmendment!= undefined || amendedByRecords">
			<legend>Amendement</legend>
			<div ng-if="document.isAmendment!=undefined">
				<label>Est-ce qu’il s’agit d’un amendement sur une décision ou une communication déjà publiée au CEPRB?*</label>
				<div compare-val>
					<km-value-bool value="document.isAmendment" locales="locale"></km-value-bool>
				</div>
			</div>
			<div ng-if="document.amendedRecords">
				<label>Décision(s) ou communication(s) modifiées</label>
				<div class="km-value" compare-val="amendedRecords">
					<ul class="list">
						<li ng-repeat="item in document.amendedRecords">
							<view-record-reference ng-model='item.identifier' locale="locale"></view-record-reference>
						</li>
					</ul>						
				</div>
			</div>
			<div ng-if="document.amendmentsDetails">
				<label>Résumé de la/des modification(s)</label>
				<div compare-val>
					<km-value-ml value="document.amendmentsDetails" locales="locale" html></km-value-ml>
				</div>
			</div>
			<div ng-if="amendedByRecords">
				<label>La loi/règlement dans cet enregistrement a été modifié par la ou les loi(s)/règlement(s) dans le(s) enregistrement(s) suivant(s)</label>
				<div class="km-value" compare-val="amendedByRecords">
					<div ng-repeat="referenced in amendedByRecords">
						<view-record-reference ng-model="referenced"></view-record-reference>
					</div>
				</div>
			</div>
        </div>

		<legend>Informations générales</legend>		
		<div ng-if="document.government">
			<label name="country">Pays</label>
			<div class="km-value" compare-val><a rel="noopener" ng-href="/countries/{{document.government.identifier|uppercase|encodeURIComponent}}" target="{{target}}" ng-bind="document.government|term:locale"></a> <span ng-party-status government="document.government" id="government"></span></div>
		</div>

		<div ng-if="document.authorities">
			<label>Autorité(s) nationale(s) compétente(s) responsable(s) de la décision ou de la communication</label>
			<div class="km-value" compare-val="authorities">
				<ul class="list">
					<li ng-repeat="item in document.authorities" >
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-if="document.title">
			<label>Titre / numéro de référence de la décision ou de la communication</label>
			<div compare-val>
				<km-value-ml value="document.title" locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-if="document.date">
			<label>Date de la décision</label>
			<div compare-val>
			<div class="km-value" ng-bind-html="document.date | formatDate"></div>
			</div>
		</div>
		<div ng-if="document.takenPriorEntryIntoForce != undefined">
			<label>La décision est-elle prise avant l'entrée en vigueur du Protocole?</label>
			<div compare-val>
				<km-value-bool value="document.takenPriorEntryIntoForce" locales="locale"></km-value-bool>
			</div>
		</div><!-- Not used --> <!-- <div ng-if="document.jurisdictions.length">
			<label>Jurisdiction</label>
			<div class="km-value" compare-val="jurisdictions">
				<ul class="list">
					<li ng-repeat="item in document.jurisdictions" ng-bind="item|term:locale"></li>
				</ul>
			</div>
		</div> --><div ng-if="document.jurisdictionsDetails">
			<label>Territoire</label>
			<div compare-val>
				<km-value-ml value="document.jurisdictionsDetails" locales="locale"></km-value-ml>
			</div>
		</div>

	<div ng-if="document.decisionTypes">
		<legend>Sujet de la décision, notification, communication ou déclaration :</legend>
		<div class="km-value" compare-val="decisionTypes">
			<ul class="list">
				<li  ng-style="{'margin-left': (item.identifier == 'A0F944AD-1578-47F4-BB71-A9805EC0EB7A' || item.identifier == '47B66371-7016-4F28-B33A-0DBFF43581CA' || item.identifier ==  '0D0BEEF4-54E4-44C1-ABB2-B89DC145E0B3' || item.identifier == 'C15E5CD8-B6F9-41AE-A09C-7EF5F73B0507') ? '40px' : '0'}"
				ng-repeat="item in document.decisionTypes" ><span ng-if="item.identifier!='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="item|term:locale"></span> <span ng-if="item.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'">Tout autres décisions, notifications, déclarations ou communications <span ng-if="item.customValue">(<span ng-bind="item.customValue|lstring:locale"></span>)</span></span></li>
			</ul>
		</div>
	</div><!-- =============SECTION A END ======================== --> <!-- =============SECTION B START======================== --><div ng-if="isLmoDecisionForIntentionalIntroduction">
		<legend>OVM destinés à une introduction intentionnelle dans l'environnement</legend>

		<div ng-if="document.addressesTransboundaryMovement!=undefined">
			<label>Was the decision triggered by a request for a transboundary movement of LMOs into your country?</label>
			<div compare-val>
				<km-value-bool value="document.addressesTransboundaryMovement" locales="locale"></km-value-bool>
			</div>
		</div>

		<div ng-if="document.intentionDecisions!=undefined">
			<label>La décision a été prise conformément à</label>
			<div compare-val>
			<view-terms-hierarchy  class="km-value" ng-model="document.intentionDecisions" locale="locale" term-domain="intentionDecisions"></view-terms-hierarchy>
			</div>
		</div>

		<div ng-if="document.receiptDate">
			<label>Date de réception de la notification</label>
			<div compare-val>
			<div class="km-value" ng-bind-html="document.receiptDate | formatDate"></div>
			</div>
		</div>

		<div ng-if="document.receiptAcknowledgementDate">
			<label>Date d'envoi de l'accusé de réception de la notification à son auteur</label>
			<div compare-val>
			<div class="km-value" ng-bind-html="document.receiptAcknowledgementDate | formatDate"></div>
			</div>
		</div>

		<div ng-if="document.communicationDate">
			<label>Date de communication de la décision à l'auteur de la notification</label>
			<div compare-val>
			<div class="km-value" ng-bind-html="document.communicationDate | formatDate"></div>
			</div>
		</div>

		<div ng-if="document.exporters">
			<label>Coordonnées de l'exportateur</label>
			<div class="km-value" compare-val="exporters">
				<ul class="list">
					<li ng-repeat="item in document.exporters">
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>
		<div ng-if="document.importers && document.addressesTransboundaryMovement">
			<label>Coordonnées de l'importateur</label>
			<div class="km-value" compare-val="importers">
				<ul class="list">
					<li ng-repeat="item in document.importers">
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-if="document.appliesToTransboundaryMovement!=undefined">
			<label>La décision s'applique-t-elle aux mouvements transfrontières des OVM entrant au pays?</label>
			<div compare-val>
				<km-value-bool value="document.appliesToTransboundaryMovement" locales="locale"></km-value-bool>
			</div>
		</div>
		<div ng-if="document.importers && !document.addressesTransboundaryMovement">
			<label>Coordonnées de du demandeur</label>
			<div class="km-value" compare-val="importers">
				<ul class="list">
					<li ng-repeat="item in document.importers">
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-if="document.involvesFieldTrial!=undefined">
			<label>La décision prévoit-elle des essais sur le terrain?</label>
			<div compare-val>
				<km-value-bool value="document.involvesFieldTrial" locales="locale"></km-value-bool>
			</div>
		</div>
		<div ng-if="document.involvesCommercialRelease!=undefined">
			<label>La décision prévoit-elle un dédouanement commercial?</label>
			<div compare-val>
				<km-value-bool value="document.involvesCommercialRelease" locales="locale"></km-value-bool>
			</div>
		</div>
		<div ng-if="document.appliesToSubsequentIntroductions!=undefined">
			<label>La décision s'appliquera-t-elle aux introductions subséquentes des mêmes OVM dans l'environnement?</label>
			<div compare-val>
				<km-value-bool value="document.appliesToSubsequentIntroductions" locales="locale"></km-value-bool>
			</div>
		</div>

	</div><!-- =============SECTION B END ======================== --> <!-- =============SECTION C START======================== --><div ng-if="isLmoDecisionForDirectUse">
			<legend>Les OMV destinés à être utilisés directement pour l'alimentation humaine ou animale ou à être transformés (OMV-FFP).</legend>
			<div ng-if="document.uses">
				<label>Utilisation(s) de L’OVM</label>
				<div class="km-value" compare-val="uses">
					<ul class="list">
						<li ng-repeat="item in document.uses" ng-bind="item|term:locale"></li>
					</ul>
				</div>
			</div>
			<div ng-if="document.takenInAccordanceWithA116!=undefined">
				<label>La décision a-t-elle été prise en l'absence d'un cadre de réglementation intérieur et conformément à l'article 11.6?</label>
				<div comapre-val>
					<km-value-bool value="document.takenInAccordanceWithA116" locales="locale"></km-value-bool>
				</div>
			</div>


			<div ng-if="document.directUseDecisions">
				<legend>Type de décision</legend>
				<div compare-val="directUseDecisions">
					<ul class="list">
						<li ng-repeat="item in document.directUseDecisions"><span ng-bind="item|term:locale"></span></li>
					</ul>
				</div>
			</div>
			<div ng-if="document.exporters && isDecisionOnLmoImport">
				<label>Coordonnées de l'exportateur</label>
				<div class="km-value" compare-val="exporters">
					<ul class="list">
						<li ng-repeat="item in document.exporters">
							<view-record-reference ng-model='item' locale="locale"></view-record-reference>
						</li>
					</ul>
				</div>
			</div>
			<div ng-if="document.importers && (isDecisionOnLmoDomesticUse || isDecisionOnLmoImport)">
				<label ng-if="isDecisionOnLmoImport">Coordonnées de l'importateur ou du demandeur</label>
				<label ng-if="isDecisionOnLmoDomesticUse">Coordonnées de du demandeur</label>
				<div class="km-value" compare-val="importers">
					<ul class="list">
						<li ng-repeat="item in document.importers">
							<view-record-reference ng-model='item' locale="locale"></view-record-reference>
						</li>
					</ul>
				</div>
			</div>
	</div><!-- =============SECTION C END ======================== --> <!-- =============SECTION D START======================== --><div ng-if="isLmoDecisionForIntentionalIntroduction || isLmoDecisionForDirectUse">
		<legend>Résultat de la décision</legend>
		<div ng-if="document.decisionResult">
			<label>Résultat de la décision</label>
			<div compare-val>
				<div class="km-value" ng-bind="document.decisionResult | term:locale"></div>
			</div>
		</div>
		<div ng-if="document.conditions">
			<label>Conditions</label>
			<div compare-val>
				<km-value-ml value="document.conditions" html locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-if="document.reasons">
			<label>Raisons</label>
			<div compare-val>
				<km-value-ml html value="document.reasons" locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.extensionPeriod">
			<label>Précisez le délai en jours</label>
			<div compare-val>
				<km-value-ml value="document.extensionPeriod" locales="locale"></km-value-ml>
			</div>
		</div>
	</div><!-- =============SECTION   D END ======================== --> <!-- =============SECTION E START======================== --><div ng-if="isSimplifiedProcedure">
		<legend>Procédure simplifiée</legend>
		<div ng-if="document.movementAllowedUnderA131A || document.exemptedFromAIA">
			<label>Objet de la décision dans le cadre de la procédure simplifiée:</label>
			<div class="km-value" compare-val>
				<div ng-if="document.movementAllowedUnderA131A">Case(s) in which the intentional transboundary movement of LMOs may take place at the same time of the notification to the Party of import</div>
				<div ng-if="document.exemptedFromAIA">Décision précisant que l'importation de l'OVM est exemptée de la procédure d'accord préalable en connaissance de cause (APCC)</div>
			</div>
			<div ng-if="document.appliesToSubsequentImports!=undefined">
				<label>La décision s'applique-t-elle aux importations subséquentes semblables d'OVM?</label>
				<div compare-val>
					<km-value-bool value="document.appliesToSubsequentImports" locales="locale"></km-value-bool>
				</div>
			</div>
		</div>		
	</div><!--=============SECTION E END======================== --> <!--=============SECTION F START======================== --><div ng-if="isTransboundaryMovement">
		<legend>Illegal transboundary movement or unintentional transboundary movement</legend>

		<div ng-if="document.transboundaryMovementType">
			<label>Type de mouvement transfrontalier</label>
			<div class="km-value" compare-val><span ng-bind="document.transboundaryMovementType|term:locale"></span></div>
		</div>

		<div ng-if="document.releaseInformation">
			<label>Informations sur le lieu où s'est produit l'événement et/ou le rejet</label>
			<div compare-val>
			<km-value-ml locales="locale" value="document.releaseInformation"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.estimatedQuantities">
			<label>Toute information pertinente disponible sur les quantités estimatives et les caractéristiques et caractères pertinents des organismes vivants modifiés</label>
			<div compare-val>
			<km-value-ml locales="locale" value="document.estimatedQuantities"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.releaseCircumstance">
			<label>Information sur les circonstances de la sortie</label>
			<div compare-val>
			<km-value-ml locales="locale" value="document.releaseCircumstance"></km-value-ml>
			</div>
		</div>
		<div ng-if="document.releaseDate">
			<label>Information sur les circonstances de la sortie</label>
			<div compare-val>
			<div class="km-value" ng-bind-html="document.releaseDate | formatDate"></div>
			</div>
		</div>

		<div ng-if="document.lmoUseInformation">
			<label>Informations sur l'utilisation de l'organisme vivant modifié dans la Partie d'origine</label>
			<div compare-val>
			<km-value-ml locales="locale" value="document.lmoUseInformation"></km-value-ml>
			</div>
		</div>
		<div ng-if="document.adverseEffectInformation">
			<label>Toute information disponible sur les effets défavorables potentiels sur la conservation et l'utilisation durable de la diversité biologique, tenant aussi en compte les risques pour la santé humaine, ainsi que toute information disponible sur les mesures possibles de gestion des risques</label>
			<div compare-val>
			<km-value-ml locales="locale" value="document.adverseEffectInformation"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.otherTransboundryInformation">
			<label ng-if="document.transboundaryMovementType.identifier=='22B915C4-193E-4087-89ED-D104EEEC4330'">Tout autre information utile</label>
			<label ng-if="document.transboundaryMovementType.identifier=='A9A800DC-F313-4F79-B3E4-768E41088D11'">Brève description lorsqu'il n'a pas été possible d'identifier l'OVM en question.</label>
			<div compare-val>
			<km-value-ml locales="locale" value="document.otherTransboundryInformation"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.pointOfContact">
			<label>Les coordonnées à contacter pour tout complément d'information.</label>
			<div  class="km-value" compare-val="pointOfContact">
				<ul class="list">
					<li ng-repeat="item in document.pointOfContact">
						<view-record-reference ng-model="item.identifier"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>
	</div><!--=============SECTION F END========================--> <!--=============SECTION G START========================--><div ng-if="isDecisionOnContainedUseOfLMOs || isLmoDecisionForIntentionalIntroduction || isSimplifiedProcedure || isLmoDecisionForDirectUse">
		<legend>Partage d’informations avec d’autres bases de données</legend>
		<div ng-if="document.isForCommercialUse!=undefined">
			<label>Est-ce que cette évaluation des risques est liée à un OVM pour une utilisation commerciale?</label>
			<div compare-val>
				<km-value-bool value="document.isForCommercialUse" locales="locale"></km-value-bool>
			</div>
			<div ng-if="document.forwardToOECD!=undefined">
				<label>Est-ce que cette décision devrait être transférée au Secrétariat de l’OCDE pour une inclusion possible dans la <a rel="noopener" translation-url href="https://biotrackproductdatabase.oecd.org/" target="_blank">base de données de produits Biotrack</a>?</label>
				<div  compare-val>
					<km-value-bool value="document.forwardToOECD" locales="locale"></km-value-bool>
				</div>
			</div>
			<div ng-if="document.isForFoodSafety!=undefined">
				<label>Est-ce que cette décision est liée à la sécurité alimentaire?</label>
				<div  compare-val>
					<km-value-bool value="document.isForFoodSafety" locales="locale"></km-value-bool>
				</div>
			</div>
			<div ng-if="document.codexConducted!=undefined">
				<label>A-t-elle été menée conformément aux directives du <em>Codex Alimentarius pour la conduite de l'évaluation de la sécurité sanitaire des aliments dérivés de plantes à ADN recombiné?</em></label>
				<div  compare-val>
					<km-value-bool value="document.codexConducted" locales="locale"></km-value-bool>
				</div>
			</div>
			<div ng-if="document.forwardToFAO!=undefined">
				<label>Should this information be forwarded to the Secretariat of the <a rel="noopener" translation-url href="https://www.fao.org/food/food-safety-quality/gm-foods-platform/en/" target="_blank"><u>FAO GM Foods Platform</u></a>?</label>
				<div compare-val>
					<km-value-bool value="document.forwardToFAO" locales="locale"></km-value-bool>
				</div>
			</div>
		</div>
	</div><!--=============SECTION G END ========================--> <!--=============SECTION H start ========================--><div ng-if="document.modifiedOrganisms || document.riskAssessments">
		<legend>Évaluation des OVM et des risques</legend>
		<div ng-if="document.modifiedOrganisms">
			<label>Identification de l'OVM</label>
			<div  class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.modifiedOrganisms">
						<view-record-reference ng-model="item.identifier"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-if="document.riskAssessments">
			<label>Évaluation des risques</label>
			<div  class="km-value" compare-val="riskAssessments">
				<ul class="list">
					<li ng-repeat="item in document.riskAssessments">
						<view-record-reference ng-model="item.identifier"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>
	</div><!--=============SECTION H END ========================--> <!--=============SECTION I Start ========================--><div ng-if="document.documents">
		<legend>Document sur la décision, la communication, la notification ou la déclaration</legend>
		<div class="km-value" compare-val="documents">
			<km-link-list  ng-model="document.documents"></km-link-list>
			
		</div>
	</div><!--=============SECTION I END ========================--> <!--=============SECTION K START ========================--><div ng-if="document.relevantInformation||document.relevantDocuments">
			<legend>Informations supplémentaires</legend>

			<div ng-if="document.relevantInformation">
				<div compare-val>
				<div class="km-value" ng-bind-html="document.relevantInformation | lstring:locale"></div>
				</div>
			</div>

			<div ng-if="document.relevantDocuments">
				<label>Autres sites web pertinents et/ou documents en pièce jointe</label>
				<div class="km-value" compare-val>
					<km-link-list ng-model="document.relevantDocuments"></km-link-list>
					
				</div>
			</div>
	</div><!--=============SECTION K END ========================--><div>
			<view-referenced-records ng-model="document.header.identifier" on-data-fetch="onReferencedRecordsDataFetch(data)"></view-referenced-records>
		</div>
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
