<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-blue">
		<h4><span ng-bind="::document.header.schema|schemaName"></span> <span class="color-black">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span></h4>
	</div>
	<div class="record-body panel-body">

		<document-date></document-date>

		<div ng-if="document.isAmendment!= undefined || amendedByRecords">
			<legend>Enmienda</legend>
			<div ng-if="document.isAmendment!=undefined">
				<label>¿Se trata de una enmienda a una decisión o una comunicación ya publicada en el CIISB?</label>
				<div compare-val>
					<km-value-bool value="document.isAmendment" locales="locale"></km-value-bool>
				</div>
			</div>
			<div ng-if="document.amendedRecords">
				<label>Decisión(es) o comunicación(es) enmendadas</label>
				<div class="km-value" compare-val="amendedRecords">
					<ul class="list">
						<li ng-repeat="item in document.amendedRecords">
							<view-record-reference ng-model='item.identifier' locale="locale"></view-record-reference>
						</li>
					</ul>						
				</div>
			</div>
			<div ng-if="document.amendmentsDetails">
				<label>Sinopsis de la(s) enmienda(s)</label>
				<div compare-val>
					<km-value-ml value="document.amendmentsDetails" locales="locale" html></km-value-ml>
				</div>
			</div>
			<div ng-if="amendedByRecords">
				<label>La decisión/comunicación que figura en este registro fue enmendada por la(s) decisión(es)/comunicación(es) que figuran en el/los siguiente(s) registro(s)</label>
				<div class="km-value" compare-val="amendedByRecords">
					<div ng-repeat="referenced in amendedByRecords">
						<view-record-reference ng-model="referenced"></view-record-reference>
					</div>
				</div>
			</div>
        </div>

		<legend>Información general</legend>		
		<div ng-if="document.government">
			<label name="country">País</label>
			<div class="km-value" compare-val><a rel="noopener" ng-href="countries/{{document.government.identifier|uppercase|encodeURIComponent}}" target="{{target}}" ng-bind="document.government|term:locale"></a></div>
		</div>

		<div ng-if="document.authorities">
			<label>Autoridad(es) Nacional(es) Competente(s) responsable(s) de la decisión o comunicación</label>
			<div class="km-value" compare-val="authorities">
				<ul class="list">
					<li ng-repeat="item in document.authorities" >
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-if="document.title">
			<label>Título / Número de referencia de la decisión/comunicación</label>
			<div compare-val>
				<km-value-ml value="document.title" locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-if="document.date">
			<label>Fecha de la decisión</label>
			<div compare-val>
			<div class="km-value" ng-bind-html="document.date | formatDate"></div>
			</div>
		</div>
		<div ng-if="document.takenPriorEntryIntoForce != undefined">
			<label>¿La decisión fue tomada antes de la entrada en vigor del Protocolo?</label>
			<div compare-val>
				<km-value-bool value="document.takenPriorEntryIntoForce" locales="locale"></km-value-bool>
			</div>
		</div><!-- Not used --> <!-- <div ng-if="document.jurisdictions.length">
			<label>Jurisdiction</label>
			<div class="km-value" compare-val="jurisdictions">
				<ul class="list">
					<li ng-repeat="item in document.jurisdictions" ng-bind="item|term:locale"></li>
				</ul>
			</div>
		</div> --><div ng-if="document.jurisdictionsDetails">
			<label>Jurisdicción</label>
			<div compare-val>
				<km-value-ml value="document.jurisdictionsDetails" locales="locale"></km-value-ml>
			</div>
		</div>

	<div ng-if="document.decisionTypes">
		<legend>Tema de la decisión, notificación, comunicación o declaración</legend>
		<div class="km-value" compare-val="decisionTypes">
			<ul class="list">
				<li  ng-style="{'margin-left': (item.identifier == 'A0F944AD-1578-47F4-BB71-A9805EC0EB7A' || item.identifier == '47B66371-7016-4F28-B33A-0DBFF43581CA' || item.identifier ==  '0D0BEEF4-54E4-44C1-ABB2-B89DC145E0B3' || item.identifier == 'C15E5CD8-B6F9-41AE-A09C-7EF5F73B0507') ? '40px' : '0'}"
				ng-repeat="item in document.decisionTypes" ><span ng-if="item.identifier!='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="item|term:locale"></span> <span ng-if="item.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'">Otras decisiones, notificaciones, declaraciones o comunicaciones<span ng-if="item.customValue">(<span ng-bind="item.customValue|lstring:locale"></span>)</span></span></li>
			</ul>
		</div>
	</div><!-- =============SECTION A END ======================== --> <!-- =============SECTION B START======================== --><div ng-if="isLmoDecisionForIntentionalIntroduction">
		<legend>OVM para su introducción intencional en el medio ambiente</legend>

		<div ng-if="document.addressesTransboundaryMovement!=undefined">
			<label>¿La decisión fue generada por un pedido de un movimiento transfronterizo de OVM hacia su país?</label>
			<div compare-val>
				<km-value-bool value="document.addressesTransboundaryMovement" locales="locale"></km-value-bool>
			</div>
		</div>

		<div ng-if="document.intentionDecisions!=undefined">
			<label>La decisión fue adoptada conforme a</label>
			<div compare-val>
			<view-terms-hierarchy  class="km-value" ng-model="document.intentionDecisions" locale="locale" term-domain="intentionDecisions"></view-terms-hierarchy>
			</div>
		</div>

		<div ng-if="document.receiptDate">
			<label>Fecha de recibo de la notificación</label>
			<div compare-val>
			<div class="km-value" ng-bind-html="document.receiptDate | formatDate"></div>
			</div>
		</div>

		<div ng-if="document.receiptAcknowledgementDate">
			<label>Fecha en que el acuse de recibo de la notificación fue enviado al notificador</label>
			<div compare-val>
			<div class="km-value" ng-bind-html="document.receiptAcknowledgementDate | formatDate"></div>
			</div>
		</div>

		<div ng-if="document.communicationDate">
			<label>Fecha en que la decisión fue comunicada al notificador</label>
			<div compare-val>
			<div class="km-value" ng-bind-html="document.communicationDate | formatDate"></div>
			</div>
		</div>

		<div ng-if="document.exporters">
			<label>Información de contacto del exportador</label>
			<div class="km-value" compare-val="exporters">
				<ul class="list">
					<li ng-repeat="item in document.exporters">
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>
		<div ng-if="document.importers && document.addressesTransboundaryMovement">
			<label>Información de contacto del importador</label>
			<div class="km-value" compare-val="importers">
				<ul class="list">
					<li ng-repeat="item in document.importers">
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-if="document.appliesToTransboundaryMovement!=undefined">
			<label>¿La decisión se aplica a movimientos transfronterizos de OVM en el país?</label>
			<div compare-val>
				<km-value-bool value="document.appliesToTransboundaryMovement" locales="locale"></km-value-bool>
			</div>
		</div>
		<div ng-if="document.importers && !document.addressesTransboundaryMovement">
			<label>Información de contacto del solicitante</label>
			<div class="km-value" compare-val="importers">
				<ul class="list">
					<li ng-repeat="item in document.importers">
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-if="document.involvesFieldTrial!=undefined">
			<label>¿La decisión comprende pruebas de campo?</label>
			<div compare-val>
				<km-value-bool value="document.involvesFieldTrial" locales="locale"></km-value-bool>
			</div>
		</div>
		<div ng-if="document.involvesCommercialRelease!=undefined">
			<label>¿La decisión comprende el lanzamiento comercial?</label>
			<div compare-val>
				<km-value-bool value="document.involvesCommercialRelease" locales="locale"></km-value-bool>
			</div>
		</div>
		<div ng-if="document.appliesToSubsequentIntroductions!=undefined">
			<label>¿La decisión se aplicará a introducciones posteriores del mismo OVM en el medio ambiente?</label>
			<div compare-val>
				<km-value-bool value="document.appliesToSubsequentIntroductions" locales="locale"></km-value-bool>
			</div>
		</div>

	</div><!-- =============SECTION B END ======================== --> <!-- =============SECTION C START======================== --><div ng-if="isLmoDecisionForDirectUse">
			<legend>OVM para uso directo como alimento humano o animal o para procesamiento</legend>
			<div ng-if="document.uses">
				<label>Uso(s) de los OVM</label>
				<div class="km-value" compare-val="uses">
					<ul class="list">
						<li ng-repeat="item in document.uses" ng-bind="item|term:locale"></li>
					</ul>
				</div>
			</div>
			<div ng-if="document.takenInAccordanceWithA116!=undefined">
				<label>¿La decisión se adoptó en ausencia de un marco reglamentario local conforme al artículo 11.6?</label>
				<div comapre-val>
					<km-value-bool value="document.takenInAccordanceWithA116" locales="locale"></km-value-bool>
				</div>
			</div>


			<div ng-if="document.directUseDecisions">
				<legend>Tipo de decisión</legend>
				<div compare-val="directUseDecisions">
					<ul class="list">
						<li ng-repeat="item in document.directUseDecisions"><span ng-bind="item|term:locale"></span></li>
					</ul>
				</div>
			</div>
			<div ng-if="document.exporters && isDecisionOnLmoImport">
				<label>Información de contacto del exportador</label>
				<div class="km-value" compare-val="exporters">
					<ul class="list">
						<li ng-repeat="item in document.exporters">
							<view-record-reference ng-model='item' locale="locale"></view-record-reference>
						</li>
					</ul>
				</div>
			</div>
			<div ng-if="document.importers && (isDecisionOnLmoDomesticUse || isDecisionOnLmoImport)">
				<label ng-if="isDecisionOnLmoImport">Información de contacto del importador o solicitante</label>
				<label ng-if="isDecisionOnLmoDomesticUse">Información de contacto del solicitante</label>
				<div class="km-value" compare-val="importers">
					<ul class="list">
						<li ng-repeat="item in document.importers">
							<view-record-reference ng-model='item' locale="locale"></view-record-reference>
						</li>
					</ul>
				</div>
			</div>
	</div><!-- =============SECTION C END ======================== --> <!-- =============SECTION D START======================== --><div ng-if="isLmoDecisionForIntentionalIntroduction || isLmoDecisionForDirectUse">
		<legend>Resultado de la decisión</legend>
		<div ng-if="document.decisionResult">
			<label>Resultado de la decisión</label>
			<div compare-val>
				<div class="km-value" ng-bind="document.decisionResult | term:locale"></div>
			</div>
		</div>
		<div ng-if="document.conditions">
			<label>Condiciones</label>
			<div compare-val>
				<km-value-ml value="document.conditions" html locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-if="document.reasons">
			<label>Motivos</label>
			<div compare-val>
				<km-value-ml html value="document.reasons" locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.extensionPeriod">
			<label>Especifique la duración de la extensión en días</label>
			<div compare-val>
				<km-value-ml value="document.extensionPeriod" locales="locale"></km-value-ml>
			</div>
		</div>
	</div><!-- =============SECTION   D END ======================== --> <!-- =============SECTION E START======================== --><div ng-if="isSimplifiedProcedure">
		<legend>Procedimiento simplificado</legend>
		<div ng-if="document.movementAllowedUnderA131A || document.exemptedFromAIA">
			<label>Tema de la decisión en el marco del procedimiento simplificado</label>
			<div class="km-value" compare-val>
				<div ng-if="document.movementAllowedUnderA131A">Caso(s) en que los movimientos transfronterizos intencionales de OVM pueden ocurrir al mismo tiempo que la notificación a la Parte de importación</div>
				<div ng-if="document.exemptedFromAIA">Decisión que especifica que la importación del OVM está exenta de contar con un procedimiento de acuerdo fundamentado previo (AFP)</div>
			</div>
			<div ng-if="document.appliesToSubsequentImports!=undefined">
				<label>¿La decisión se aplica a posteriores importaciones similares de OVM?</label>
				<div compare-val>
					<km-value-bool value="document.appliesToSubsequentImports" locales="locale"></km-value-bool>
				</div>
			</div>
		</div>		
	</div><!--=============SECTION E END======================== --> <!--=============SECTION F START======================== --><div ng-if="isTransboundaryMovement">
		<legend>Movimiento transfronterizo ilícito o movimiento transfronterizo involuntario</legend>

		<div ng-if="document.transboundaryMovementType">
			<label>Tipo de movimiento transfronterizo</label>
			<div class="km-value" compare-val><span ng-bind="document.transboundaryMovementType|term:locale"></span></div>
		</div>

		<div ng-if="document.releaseInformation">
			<label>Información sobre el lugar en el que se produjo el hecho y/o la liberación</label>
			<div compare-val>
			<km-value-ml locales="locale" value="document.releaseInformation"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.estimatedQuantities">
			<label>Información pertinente disponible sobre las cantidades estimadas y las características y/o rasgos importantes del organismo vivo modificado</label>
			<div compare-val>
			<km-value-ml locales="locale" value="document.estimatedQuantities"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.releaseCircumstance">
			<label>Información sobre las circunstancias de la liberación</label>
			<div compare-val>
			<km-value-ml locales="locale" value="document.releaseCircumstance"></km-value-ml>
			</div>
		</div>
		<div ng-if="document.releaseDate">
			<label>Información sobre la fecha estimada de la liberación</label>
			<div compare-val>
			<div class="km-value" ng-bind-html="document.releaseDate | formatDate"></div>
			</div>
		</div>

		<div ng-if="document.lmoUseInformation">
			<label>Información sobre el uso del organismo vivo modificado en la Parte de origen</label>
			<div compare-val>
			<km-value-ml locales="locale" value="document.lmoUseInformation"></km-value-ml>
			</div>
		</div>
		<div ng-if="document.adverseEffectInformation">
			<label>Información sobre los posibles efectos adversos para la conservación y utilización sostenible de la diversidad biológica, teniendo también en cuenta los riesgos para la salud humana, así como información disponible acerca de las posibles medidas de gestión del riesgo</label>
			<div compare-val>
			<km-value-ml locales="locale" value="document.adverseEffectInformation"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.otherTransboundryInformation">
			<label ng-if="document.transboundaryMovementType.identifier=='22B915C4-193E-4087-89ED-D104EEEC4330'">Cualquier otra información pertinente</label>
			<label ng-if="document.transboundaryMovementType.identifier=='A9A800DC-F313-4F79-B3E4-768E41088D11'">Breve descripción cuando no haya sido posible identificar el OVM en cuestión</label>
			<div compare-val>
			<km-value-ml locales="locale" value="document.otherTransboundryInformation"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.pointOfContact">
			<label>Un punto de contacto para obtener información adicional</label>
			<div  class="km-value" compare-val="pointOfContact">
				<ul class="list">
					<li ng-repeat="item in document.pointOfContact">
						<view-record-reference ng-model="item.identifier"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>
	</div><!--=============SECTION F END========================--> <!--=============SECTION G START========================--><div ng-if="document.isForCommercialUse!=undefined && (isDecisionOnContainedUseOfLMOs || isLmoDecisionForIntentionalIntroduction || isSimplifiedProcedure || isLmoDecisionForDirectUse)">
		<legend>Intercambio de información con otras bases de datos</legend>
		<div ng-if="document.isForCommercialUse!=undefined">
			<label>¿Esta decisión está relacionada con un OVM para uso comercial?</label>
			<div compare-val>
				<km-value-bool value="document.isForCommercialUse" locales="locale"></km-value-bool>
			</div>
			<div ng-if="document.forwardToOECD!=undefined">
				<label>¿Habría que enviar esta decisión a la Secretaría de la OCDE para su posible inclusión en la <a rel="noopener" translation-url href="https://biotrackproductdatabase.oecd.org/" target="_blank">Base de Datos BioTrack de rastreabilidad de los productos biológicos</a>?</label>
				<div  compare-val>
					<km-value-bool value="document.forwardToOECD" locales="locale"></km-value-bool>
				</div>
			</div>
			<div ng-if="document.isForFoodSafety!=undefined">
				<label>¿Esta decisión está relacionada con la inocuidad de los alimentos?</label>
				<div  compare-val>
					<km-value-bool value="document.isForFoodSafety" locales="locale"></km-value-bool>
				</div>
			</div>
			<div ng-if="document.codexConducted!=undefined">
				<label>¿Se realizó de conformidad con las <em>Directrices del Codex Alimentarius para la realización de la evaluación de la inocuidad de los alimentos obtenidos de plantas de ADN recombinante</em>?</label>
				<div  compare-val>
					<km-value-bool value="document.codexConducted" locales="locale"></km-value-bool>
				</div>
			</div>
			<div ng-if="document.forwardToFAO!=undefined">
				<label>Should this information be forwarded to the Secretariat of the <a rel="noopener" translation-url href="https://www.fao.org/food/food-safety-quality/gm-foods-platform/en/" target="_blank"><u>FAO GM Foods Platform</u></a>?</label>
				<div compare-val>
					<km-value-bool value="document.forwardToFAO" locales="locale"></km-value-bool>
				</div>
			</div>
		</div>
	</div><!--=============SECTION G END ========================--> <!--=============SECTION H start ========================--><div ng-if="document.modifiedOrganisms || document.riskAssessments">
		<legend>Identificación y evaluación del riesgo del OVM</legend>
		<div ng-if="document.modifiedOrganisms">
			<label>Identificación del OVM</label>
			<div  class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.modifiedOrganisms">
						<view-record-reference ng-model="item.identifier"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-if="document.riskAssessments">
			<label>Evaluación del riesgo</label>
			<div  class="km-value" compare-val="riskAssessments">
				<ul class="list">
					<li ng-repeat="item in document.riskAssessments">
						<view-record-reference ng-model="item.identifier"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>
	</div><!--=============SECTION H END ========================--> <!--=============SECTION I Start ========================--><div ng-if="document.documents">
		<legend>Documentación sobre la decisión, comunicación, notificación o declaración</legend>
		<div class="km-value" compare-val="documents">
			<km-link-list  ng-model="document.documents"></km-link-list>
			
		</div>
	</div><!--=============SECTION I END ========================--> <!--=============SECTION K START ========================--><div ng-if="document.relevantInformation||document.relevantDocuments">
			<legend>Información adicional</legend>

			<div ng-if="document.relevantInformation">
				<div compare-val>
				<div class="km-value" ng-bind-html="document.relevantInformation | lstring:locale"></div>
				</div>
			</div>

			<div ng-if="document.relevantDocuments">
				<label>Otras direcciones de sitios web y/o documentos adjuntos pertinentes</label>
				<div class="km-value" compare-val>
					<km-link-list ng-model="document.relevantDocuments"></km-link-list>
					
				</div>
			</div>
	</div><!--=============SECTION K END ========================--><div>
			<view-referenced-records ng-model="document.header.identifier" on-data-fetch="onReferencedRecordsDataFetch(data)"></view-referenced-records>
		</div>
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
