<div id="innerPage">
    <div class="mastHead" ng-class="{'bg-abs':isABS}">
        <div ng-if="infoBlockUrl" ng-include="infoBlockUrl"></div>
    </div>

    <div class="innerPageContent">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Panorama</h3>
            </div>

            <div class="panel-body" style="padding: 0px;">
                <table class="table" cellspacing="0" cellpadding="0" style="width:100%;margin-bottom: 0px;">
                    <thead>
                        <tr>
                            <th>Informe</th>
                            <th style="text-align:center;" class="hidden-xs">Plazo</th>
                            <th style="text-align:center;">Número de Partes <br />en el plazo establecido</th>
                            <th style="text-align:center;" class="hidden-xs"
                                ng-repeat="region in reportData[0].regionMapping"><span
                                    ng-bind="(region.shortTitle|lstring:locale).replace('CBD - ', '')"></span></th>
                            <th style="text-align:center;" class="hidden-xs">Por Partes*</th>
                            <th style="text-align:center;" class="hidden-xs">Por Países que no son Partes*</th>
                            <th style="text-align:center;">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="activeReport in reportData ">
                            <td><span style="margin-right:10px;" ng-bind="activeReport.title"></span> <span style="display:inline-block;"
                                    ng-if="activeReport.offlineFormats && activeReport.offlineFormats.length>0"><i class="fa fa-file-word-o" aria-hidden="true"></i> | <span ng-repeat="format in activeReport.offlineFormats"><a rel="noopener" ng-href="{{format.url|encodeURI}}" target="_blank"
                                            ng-bind="format.lang"></a> <i ng-if="!$last">|</i></span></span></td>
                            <td style="text-align:center;" class="hidden-xs" ng-bind="activeReport.deadline|formatDate">
                            </td>
                            <td style="text-align:center;" ng-bind="activeReport.partyCount"></td>
                            <td style="text-align:center;" class="hidden-xs"
                                ng-repeat="region in activeReport.regionMapping"><span ng-bind="region.count"></span></td>
                            <td style="text-align:center;" class="hidden-xs" ng-bind="activeReport.partyReportCount">
                            </td>
                            <td style="text-align:center;" class="hidden-xs" ng-bind="activeReport.nonPartyReportCount">
                            </td>
                            <td style="text-align:center;"><!-- <a rel="noopener" href="/search/nationalRecords?schema=absNationalReport"> --> <b><span
                                        ng-bind="activeReport.partyReportCount + activeReport.nonPartyReportCount"></span></b> <!-- </a> --></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="11"><span class="pull-right">* Estado de la Parte en la fecha del plazo establecido para la presentación del informe</span></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div><br><div class="register-content-content" style="padding:5px;">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <table style="width:100%">
                        <tr>
                            <td style="width:99%">
                                <h4 class="panel-title">Analizador de informes nacionales</h4>Esta herramienta le permite seleccionar secciones o preguntas específicas del informe y mostrar los resultados por país o región.</td>
                            <td>
                                <button type="button" class="btn btn-primary" ng-click="analyze()">Analizar »</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body" ng-if="reportData">
                    <national-report-questions-selector report-type="$parent.selectedReportType"
                        questions="$parent.selectedQuestions" regions="$parent.selectedRegions"
                        regions-preset="$parent.selectedRegionsPreset"
                        regions-preset-filter="$parent.selectedRegionsPresetFilter" report-data="reportData">
                    </national-report-questions-selector>
                </div>

                <div class="panel-footer text-right">
                    <button type="button" class="btn btn-primary" ng-click="analyze()">Analizar »</button>
                </div>

            </div>
        </div>


    </div>

</div>