<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-orange">
		<h4><span ng-bind="::document.header.schema|schemaName"></span> <span class="color-black">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span></h4>
	</div>
	<div class="record-body panel-body">
		<div class="pull-right"><a rel="noopener" ng-if="document.info.documentID" target="_blank" ng-href="reports/lmo/{{document.info.identifier|encodeURIComponent}}/decisions"><i class="fa fa-external-link"></i> Decisiones sobre el OVM</a><a rel="noopener" ng-if="document.info.documentID" target="_blank" ng-href="reports/lmo/{{document.info.identifier|encodeURIComponent}}/risk-assessments" >Evaluación del riesgo</a> &nbsp;<document-date></document-date>
		</div>
		
		<legend>Identidad del organismo vivo modificado</legend>
		<div ng-show="document.info.documentID" style="text-align: center">
			<div class="help-info">En la imagen que se encuentra abajo se identifica el OVM mediante su identificador único, nombre comercial y enlace a esta página del CIISB. Haga clic en el enlace para descargar una imagen más grande en su computadora. Para obtener ayuda sobre cómo utilizarlo, vaya a las páginas de enlace rápido al OVM.</div><a rel="noopener" ng-href="/api/v2020/bch/lmo-qrcode/{{document.header.identifier|encodeURIComponent}}?download=true"><img style="max-width:100%;" class="responsive" border="none" ng-src="/api/v2020/bch/lmo-qrcode/{{document.header.identifier}}"></a></div>
		<div ng-show="document.identity">
			<label>Nombre</label>
			<div compare-val>
				<km-value-ml value="document.identity" locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-show="document.transformationEvent">
			<label>Eventos de transformación</label>
			<div compare-val>
				<div ng-bind="document.transformationEvent" class="km-value"></div>
			</div>
		</div>
		<div ng-show="document.uniqueIdentification">
			<label>Identificador único</label>
			<div compare-val>
			<div ng-bind="document.uniqueIdentification" class="km-value"></div></div>
		</div>
		<div ng-show="document.developers">
			<label>Creador(es)</label>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.developers" >						
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>
		
		<div ng-show="document.description">
			<label>Descripción</label>
			<div compare-val>
			<km-value-ml html value="document.description" locales="locale"></km-value-ml></div>
		</div>

		<div ng-show="document.recipientOrganisms">
			<label>Organismo receptor u organismos parentales</label>
			<div class="help-info" style="font-size: 10px;">El término "organismo receptor" hace referencia a un organismo (modificado o no modificado) que fue objeto de una modificación genética, en tanto que "organismos parentales" hace referencia a los implicados en el cruzamiento o la fusión de células.</div>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.recipientOrganisms" >						
						<view-record-reference ng-model='item.identifier' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-show="document.recipientOrganismCollectionPoint">
			<label>Punto de recolección o adquisición del organismo receptor o de los organismos parentales</label>
			<div compare-val>			
			<km-value-ml html value="document.recipientOrganismCollectionPoint" locales="locale"></km-value-ml></div>
		</div>
		<div ng-show="document.linkedModifiedOrganisms">
			<label>OVM relacionado(s)</label>	
			<div class="km-value" compare-val>	
				<ul class="list">
					<li ng-repeat="item in document.linkedModifiedOrganisms" >						
						<view-lmo-reference ng-model='item.identifier' locale="locale"></view-lmo-reference>
					</li>
				</ul>
			</div>
		</div>
		
		<legend>Características del proceso de modificación</legend>
		
		<div ng-show="document.vector">
			<label>Vector</label><div compare-val>
			<km-value-ml value="document.vector" locales="locale"></km-value-ml></div>
		</div>
		<div ng-show="document.techniqueUsed">
			<label>Técnicas utilizadas para la modificación</label>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="use in document.techniqueUsed" ng-bind="use | term:locale"></li>
				</ul>
			</div>
		</div>

		<div ng-show="document.geneConstructs">
			<label>Constructo elementos genéticos</label>

			<div class="km-value" compare-val>
				<div ng-repeat="construct in document.geneConstructs" style="margin-bottom:5px;">
					<view-lmo-gene ng-model="construct"></view-lmo-gene>
				</div>
			</div>
		</div>
		<div ng-show="document.genes">
			<label>Elemento(s) introducido(s) o genéticamente modificado(s)</label>
			<div class="help-info" style="font-size: 10px;">Algunos de estos elementos genéticos pueden estar presentes como fragmentos o formas truncadas. Por favor, véanse las notas a continuación, en los casos en los que corresponda.</div>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.genes" >						
						<view-record-reference ng-model='item.identifier' locale="locale" hide-schema='true'></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-show="document.geneNotes">
			<label>Notas relacionadas con los elementos genéticos presentes en este OVM</label>
			<div compare-val>
			<km-value-ml html value="document.geneNotes" locales="locale"></km-value-ml></div>
		</div>


		<legend>Características del OVM</legend>		
		<div ng-show="document.traits">
			<label>Rasgos modificados</label>
			<div class="km-value" compare-val>
				<view-terms-hierarchy ng-model="document.traits" locale="locale" term-domain="dnaSequenceTraits"></view-terms-hierarchy>
			</div>
		</div>
		<div ng-show="document.affectedGenes">
			<label>Otro(s) gen(es) cuya expresión fue afectada por la transformación</label>			
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.affectedGenes" >						
						<view-record-reference ng-model='item.identifier' locale="locale" hide-schema='true'></view-record-reference>
					</li>
				</ul>
			</div>
		</div>
		<div ng-show="document.affectedGeneNotes">
			<label>Cómo se vio afectada la expresión del(los) gen(es)</label>
			<div compare-val>
			<km-value-ml value="document.affectedGeneNotes" html locales="locale"></km-value-ml></div>
		</div>
		<div ng-show="document.commonUses">
			<label>Uso(s) común(es) del OVM</label>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="use in document.commonUses" ng-bind="use | term:locale"></li>
				</ul>
			</div>
		</div>
		<div ng-show="document.detectionMethod||document.detectionMethodLinks">
			<legend>Método(s) de detección</legend>
			<div ng-show="document.detectionMethodLinks">
				<label>Enlace(s) externo(s)</label>
				<div compare-val>
				<km-link-list class="km-value" ng-model="document.detectionMethodLinks"></km-link-list></div>
			</div>
			<div ng-show="document.detectionMethod">
				<label>Información adicional</label>
				<div compare-val="detectionMethodAddInformation">
				<km-value-ml value="document.detectionMethod" html locales="locale"></km-value-ml></div>
			</div>
		</div>
		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>Información adicional</legend>

			<div ng-show="document.relevantInformation">
				<label>Información adicional</label>
				<div compare-val>
				<div class="km-value" ng-bind-html="document.relevantInformation | lstring:locale"></div></div>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>Otras direcciones de sitios web y/o documentos adjuntos pertinentes</label>
				<div class="km-value" compare-val="relevantDocuments">
					<km-link-list  ng-model="document.relevantDocuments"></km-link-list>
					
				</div>
			</div>
		</div>
		
		<div> 
			<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>		
		</div>
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
