<div class="lmo-gene-construct-viewer" style="display:inline">

    <table cellspacing="0px" ng-repeat="gene in model" class="lmo-transcript {{gene.type}}"
    ng-style="{'margin-left:5px':!$first}">                
            <tr>
                <td class="left" >&nbsp;</td>
                <td class="middle">
                    <div >{{dnaDetails[removeRevsion(gene.identifier)].identity}}</div>
                    <div ><!-- dnaDetails[removeRevsion(gene.identifier)].uniqueIdentifier|| --> <a rel="noopener" target="_blank" ng-href="{{dnaDetails[removeRevsion(gene.identifier)].urls[0]|encodeURIComponent}}">{{dnaDetails[removeRevsion(gene.identifier)]. título}}</a></div>
                    <div ><span >{{parseSize(gene.size)}} kb</span></div>
                </td>
                <td class="right" >&nbsp;</td>
            </tr>
    </table>
</div>
