<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-blue">
		<h4><span ng-bind="::document.header.schema|schemaName"></span> <span class="color-white">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span></h4>
	</div>
	<div class="record-body panel-body bg-white">



		<document-date></document-date>


		<div ng-if="document.isAmendment!= undefined || amendedByRecords">
			<legend>Enmienda</legend>
			<div ng-if="document.isAmendment!=undefined">
				<label>¿Se trata de una enmienda a una ley, reglamentación, directriz o acuerdo ya publicado en el CIISB?</label>
				<div compare-val>
					<km-value-bool value="document.isAmendment" locales="locale"></km-value-bool>
				</div>
			</div>
			<div ng-if="document.amendedRecords">
				<label>Ley(es)/reglamentación(es) enmendadas</label>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.amendedRecords">
							<view-record-reference ng-model='item.identifier' locale="locale"></view-record-reference>
						</li>
					</ul>						
				</div>
			</div>
			<div ng-if="document.amendmentsDetails">
				<label>Sinopsis de la(s) enmienda(s)</label>
				<div compare-val>
					<km-value-ml value="document.amendmentsDetails" html locales="locale"></km-value-ml>
				</div>
			</div>
			<div ng-if="amendedByRecords">
				<label>La ley/reglamentación que figura en este registro fue enmendada por la/s ley(es) que figuran en el/los siguiente(s) registro(s)</label>
				<div class="km-value" compare-val>
					<div ng-repeat="referenced in amendedByRecords">
						<view-record-reference ng-model="referenced"></view-record-reference>
					</div>
				</div>
			</div>
		</div>

		<legend>Información general</legend>

		<div ng-if="document.government">
			<label name="country">País que presenta una ley, reglamentación, directriz o acuerdo</label>
			<div class="km-value" compare-val><a rel="noopener" ng-href="countries/{{document.government.identifier|uppercase|encodeURIComponent}}" target="{{target}}" ng-bind="document.government|term:locale"></a></div>
		</div>

		<div ng-if="document.title">
			<label>Título</label>			
			<div compare-val>
				<km-value-ml value="document.title" locales="locale"></km-value-ml>
			</div>
		</div>
		<legend>Información legislativa</legend>
		<div>
			<div ng-if="document.type">
				<label>Tipo de ley/reglamentación</label>
				<div class="km-value" compare-val><span ng-if="item.identifier!='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="document.type|term:locale"></span> <span ng-if="item.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="document.type.customValue|lstring:locale"></span></div>
			</div>
			<div ng-if="document.jurisdiction">
				<label>Zona de jurisdicción</label>
				<div class="km-value" compare-val><span ng-if="document.jurisdiction.identifier!='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="document.jurisdiction|term:locale"></span> <span ng-if="document.jurisdiction.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="document.jurisdiction.customValue|lstring:locale"></span></div>
			</div>

			<div ng-if="document.jurisdictionScope">
				<label>Grupo(s) geográfico(s) o político-económico(s)</label>	
				<div class="km-value" compare-val>
					<ul ng-if="document.jurisdictionScope" class="list">
						<li ng-repeat="item in document.jurisdictionScope"><span ng-if="item.identifier!='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="item|term:locale"></span></li>
					</ul>
				</div>
			</div>

			<div ng-if="document.cpbSubjectAreas">
				<label>Áreas temáticas</label>
				<div class="km-value" compare-val>
					<view-terms-hierarchy  ng-model="document.cpbSubjectAreas" locale="locale" term-domain="subjectAreas" on-terms-loaded="onSubjectAreasTerms(terms)"></view-terms-hierarchy>
				</div>
			</div>
			<div ng-if="document.cpbOrganismTypes">
				<label>Tipos de organismos abarcados</label>
				<div class="km-value" compare-val>
					<view-terms-hierarchy ng-model="document.cpbOrganismTypes" locale="locale" term-domain="typeOfOrganisms" on-terms-loaded="onOrganismTypesTerms(terms)"></view-terms-hierarchy>
				</div>
			</div>

			<div ng-if="document.description">
				<label>Descripción breve del documento que incluya objetivos y alcance</label>
				<div compare-val>
					<km-value-ml value="document.description" html locales="locale"></km-value-ml>
				</div>
			</div>
			<div ng-if="document.entryIntoForce">
				<label>Fecha de entrada en vigor</label>
				<div class="km-value" compare-val><span ng-bind="document.entryIntoForce|formatDate"></span></div>
			</div>
		</div>


		<div ng-if="document.documents || document.unofficialDocuments || document.documentsInfo">
			<legend>Información del documento</legend>
			<div ng-if="document.documents">
				<label>Texto del documento</label>
				<div class="km-value" compare-val>
					<km-link-list  ng-model="document.documents"></km-link-list>
				</div>
			</div>

			<div ng-if="document.unofficialDocuments">
				<label>Documentos oficiosos</label>
				<div class="km-value" compare-val>
					<km-link-list  ng-model="document.unofficialDocuments"></km-link-list>
				</div>			
			</div>
			<div compare-val ng-if="document.documentsInfo">
				<km-value-ml value="document.documentsInfo" html locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.relatedRecords || document.relationDetails">
			<legend>Relación con otras leyes/reglamentaciones</legend>
			<div ng-if="document.relatedRecords">
				<label>Registro(s) que contiene(n) las medidas conexas</label>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.relatedRecords">
							<view-record-reference ng-model='item.identifier' locale="locale"></view-record-reference>
						</li>
					</ul>						
				</div>
			</div>
			<div ng-if="document.relationDetails">
				<label>Descripción de la relación entre las medidas</label>
				<div compare-val>
					<km-value-ml value="document.relationDetails" html locales="locale"></km-value-ml>
				</div>
			</div>
		</div>


		<div ng-if="document.authorities">
			<legend>Información del contacto regulatorio</legend>
			<label>Autoridad(es) nacional(es) competente(s) y/o Autoridad(es) competente(s) en el Protocolo suplementario</label>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.authorities" >						
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-if="document.relevantInformation||document.relevantDocuments">
			<legend>Información adicional</legend>

			<div ng-if="document.relevantInformation">
				<div class="km-value" compare-val ng-bind-html="document.relevantInformation | lstring:locale"></div>
			</div>

			<div ng-if="document.relevantDocuments">
				<label>Otras direcciones de sitios web y/o documentos adjuntos pertinentes</label>
					<div class="km-value" compare-val>
						<km-link-list  ng-model="document.relevantDocuments"></km-link-list>
					</div>
			</div>
		</div>
		
		<div>
			<view-referenced-records ng-model="document.header.identifier" on-data-fetch="onReferencedRecordsDataFetch(data)"></view-referenced-records>
		</div>
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
