<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-darkgrey"><h4></h4></div>
	<div class="record-body panel-body">

			
		<document-date></document-date><div ng-show="document.title_s">
			<label></label></div>

		<div ng-show="document.startDate_dt">
			<label></label></div>
		<div ng-show="document.endDate_dt">
			<label></label></div>

		<div ng-show="document.eventCountry_CEN_s">
			<label></label></div>

		<div ng-show="document.eventCity_s">
			<label></label></div>
		<div ng-show="document.url_ss">
			<label></label><ul class="list">
					<li ng-repeat="url in document.url_ss"></li>
				</ul></div><div ng-show="document.thematicAreas_CEN_ss">
			<label></label>
			<div class="km-value">
				<ul >
					<li ng-repeat="item in document.thematicAreas_CEN_ss"></li>
				</ul>
			</div>
		</div>
	</div>
    <div document-metadata  class="panel-footer"></div>
</div>
