<div id="Search-Filter" class="row" >

      <div  class="col-md-6" ng-show="nf_filters.length" style="margin-bottom:30px;" >
        <div class="heading color-blue" ng-if="nf_filters.length"></div>
        <hr  class="heading" ng-if="nf_filters.length">
        <p class="helpinfo" ng-if="nf_filters.length" ></p>
        <style></style>
        <div ng-repeat="doc in nf_filters = (nf_searchFilters | filter:searchKeyword | orderBy:['filterSort', 'sort'])" ng-class="{'contact-spacing': doc.id=='contact'}"></div>
      </div>
      
      <div  class="col-md-6" ng-show="nf_filters.length" style="margin-bottom:30px;">
        <div class="heading" ng-if="nf_status.length"></div>
        <hr  class="heading" ng-if="nf_status.length">
        
        <div ng-repeat="doc in nf_status = (nf_partyStatus | filter:searchKeyword | orderBy:['filterSort', 'sort'])"></div>
      </div>

</div>
