<div>
    <div style="margin:0 10% 0 10%" >
        <h1 class="dropshadow1 color-green" style="font-size:250%;margin-bottom:20px;">
            Email verification pending</h1>
        <hr>
       <div class="card">
           <p>
              Email verification pending. Please verify you email before submitting any data.   
           </p>
           <h3 class="color-green">Please click on the verification link in the email sent on <span ng-bind="user.email"></span>. 
              click <a rel="noopener" href="https://accounts.cbd.int/activate/resend">here</a> to resend the activation email.</h3>
       </div>
      </div>
    </div>
</div>



