<div id="Search-Filter"  class="row"  ng-show="sf_filters.length" style="margin-bottom:30px;" dir="rtl">
    <div  class="col-md-12">
        <div class="heading" ng-if="sf_filters.length">سجلات أمانة اتفاقية التنوع البيولوجي</div>
            <hr class="heading"  ng-if="sf_filters.length">

        <p class="helpinfo" ng-if="sf_filters.length"><i class="fa fa-info-circle helpicon" ></i> المعلومات التي تنشرها أمانة اتفاقية التنوع البيولوجي. وتشمل الاجتماعات والقصص الإخبارية والإخطارات والبيانات.</p>
        
        <div ng-repeat="doc in sf_filters = (sf_searchFilters | filter:searchKeyword | orderBy:['filterSort', 'sort'])"><a rel="noopener" translation-url  class="filter text-decoration-none"  ng-click="saveFilter(doc)" ng-class="{'disabled':!$parent.searchResult.data.facets.schemas[doc.id]}"><i class="fa check" ng-class="{'fa-check-square':isFilterOn(doc.id),'fa-square':!isFilterOn(doc.id)}"></i> <span ng-bind="doc.name|lstring:locale"></span> <strong>(<span ng-bind="$parent.searchResult.data.facets.schemas[doc.id]||0"></span>)</strong></a> <!--<p class="helpinfo" ><i class="fa fa-info-circle helpicon" ng-if="doc.description"></i> {{doc.description}} </p>--></div>
        <div ng-if="(searchKeyword && !showFilters) && sf_filters.length" style="margin-bottom:10px;"></div>  
    </div>
</div>
