<div>
	<div class="registerpage-content">

		<div workflow-arrow-buttons on-review-language-change="onReviewLanguageChange(lang)" document="getCleanDocument()" languages="document.header.languages" tab="tab">
			<edit-form>
					<form name="editForm" class="editForm" style="margin-top:10px">

						<div ng-show="tab=='edit'" km-tab="edit">
			
							<legend name="formInfo" style="display:none"></legend>
							<section>
								<div class="well no-shadow bg-white">
									<legend>Amendment</legend>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="km-control-group" name="isAmendment" required caption="Is this a new record or a modification to an existing record?">
                                                
                                                <div km-yes-no required ng-model="document.isAmendment" locales="document.header.languages"></div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <!-- IF NO SECTION -->
                                    <div ng-class="{'disable':!document.isAmendment, 'bg-white':document.isAmendment}"  style="padding-top:0;padding-bottom:0;">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h3 ng-show="!document.isAmendment" style="color:black!important;">
                                                    If no, the following information is not required.
                                                </h3>
												<div class="row">
													<div class="col-xs-12">
														<div class="km-control-group" name="amendedRecords" caption="Please provide the BCH record number of the record that is being updated">	

																<div document-selector ng-model="document.amendedRecords" question="amendedRecords" caption="Update of an existing record"
																on-build-query="onBuildAmendedVlrQuery(searchText)" allow-new="true"
																allow-new-schema="resource"></div>
														</div>
													</div>
													
												</div>
    
                                            </div>
                                        </div>
									</div>
								</div>
							</section>
							<section>
								<div class="well no-shadow bg-white">
									<legend>General information</legend>
			
                                    <div class="row">
                                        <div class="col-xs-12" >
                                            <div class="km-control-group" name="header.languages" required caption="Please select in which language(s) you wish to submit this record:">
                                                <div class="indent">
                                                    <div km-form-languages multiple required name="documentLanguages" ng-model="document.header.languages"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" required name="title" caption="Title">
												<div class="help-block">This will appear as the title of the BCH record.</div>
												<div km-textbox-ml required ng-model="document.title" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" required name="resourceTypes" caption="Type of resource">
												this section will be changed to table
												<div km-term-check name="resourceTypes" required ng-model="document.resourceTypes"  terms="options.resourceTypes()"
														 binding-type="term[]" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
									<!-- <div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" required name="bchSubjects" caption="Thematic areas">
												<div class="help-info">this is a test section, we will replace with Type of resource later. </div>
												<div km-term-check name="bchSubjects" required ng-model="document.bchSubjects" ng-change="onThematicAreaChange(document.bchSubjects);" terms="options.bchSubjects()"
														 binding-type="term[]" tabular-shape="true" locales="document.header.languages"></div>
											</div>
										</div>
                                    </div> -->

									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="authors" caption="Author(s)">
												<div km-rich-textbox ng-model="document.authors" rows="2" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
									<div class="row"><div class="col-xs-12"><div class="km-control-group">and/or</div></div></div>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" required name="organizations" caption="Reference to the authoring organisation(s)">
												<div class="help-block">Name of the person or organization who has authored the publication or information resource.</div>
												<div document-selector required type="radio" ng-model="document.organizations" question="organizations"
													 on-build-query="onAuthorContactQuery(searchText)" allow-new="true" filter="true" question="organizations"
													 allow-new-schema="contact"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="publisher" caption="Publisher">
												<div km-rich-textbox name="publisher" ng-model="document.publisher" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="source" caption="Source">
												<div class="help-block">A reference to a resource from which the present resource is derived, e.g. the name of a journal for an article published in a journal.</div>
												<div km-rich-textbox name="source" ng-model="document.source" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
									<!-- TODO NEED TO CHANGE  -->
									<!-- <div class="row">
										<div class="col-xs-6">
											<div class="km-control-group" required name="publicationYear" caption="Publication year">
												<select class="form-control" required name="publicationYear" ng-model="document.years" convert-to-number>
													<option ng-repeat="option in years" value="{{option.id}}">{{option.name}}</option>
												</select>
											</div>
										</div>
										<div class="col-xs-6">
											<div class="km-control-group" required name="publicationMonth" caption="Publication month">
												<select class="form-control" required name="publicationMonth" ng-model="document.publicationMonth" convert-to-number>
													 <option value="1">January</option>
													 <option value="2">February</option>
													 <option value="3">March</option>
													 <option value="4">April</option>
													 <option value="5">May</option>
													 <option value="6">June</option>
													 <option value="7">July</option>
													 <option value="8">August</option>
													 <option value="9">September</option>
													 <option value="10">October</option>
													 <option value="11">November</option>
													 <option value="12">December</option>
												</select>
											</div>
										</div>
									</div> -->
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="publicationDate" caption="Publication Date">	
												<div km-textbox-ml name="publicationDate" ng-model="document.publicationDate" placeholder="mm-yyyy" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="rights" caption="Rights">
												<div class="help-block">Information about rights held in and over the resource, such as copyright holder, 
													and availability for reproduction for educational or non-profit purposes.</div>
												<div km-rich-textbox name="rights" ng-model="document.rights" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
								</div>
							</section>

							<section>
								<div class="well no-shadow bg-white">
									<legend>Access to the resource(s)</legend>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="resourceLinks" caption="Link to the resource(s)">
												<div class="help-block">reproduction for educational or non-profit purposes.
													Please always attach the relevant document(s) that will be stored in the database for
													 users to download. When resources are available on the Internet, please also provide a 
													 link to them. Please note that attachments are preferable to links because attachments 
													 are permanently accessible whereas links can become broken.
												  </div>
												<div km-link name="resourceLinks"  ng-model="document.resourceLinks" allow-link="true" allow-file="true"
												 extensions="options.documentLinksExt" identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" name="cover" caption="Cover image(s)">
												<div km-link name="cover" ng-model="document.covers" allow-link="false" allow-file="true" mimeTypes="image/jpeg;image/png"
												 identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
								</div>
							</section>

							<section>
								<div class="well no-shadow bg-white">
									<legend>Information on the content of the resource</legend>
									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" required name="summary" caption="Summary, abstract or table of contents (max 300 words)">
												<div km-rich-textbox required ng-model="document.summary" rows="4" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<!-- TODO need to convert the code, split the list into country and regions  -->
										<div class="col-xs-12">
											<div class="km-control-group" name="regions" caption="Country(ies), Regional or Economic group(s) related to the resource">
												<div km-select style="display: inline-block" name="regions" ng-model="document.countryRegions" items="options.countryRegions()"
												 multiple placeholder="Select a country(ies) and/or region(s)..."></div>
											</div>
										</div>
									</div>

								</div>
								
							</section>
							<section>
								<div class="well no-shadow bg-white">
									<legend>Keywords for facilitating searching for information in the clearing-houses</legend>
									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" required name="aichiTargets" caption="Aichi Targets">
												<div km-term-check name="aichiTargets" required ng-model="document.aichiTargets" terms="options.aichiTargets()"
												 binding-type="term[]"></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-xs-12">
											<div class="km-control-group" required name="cbdSubjects" caption="CBD Subject Areas">
														<div km-term-check name="cbdSubjects" required ng-model="document.cbdSubjects" 
														terms="options.cbdSubjects()" binding-type="term[]" locales="document.header.languages"></div>
													
										</div>
                                    </div>

								</div>
							</section>
						<!-- Till now all fields are common for all CHs  -->
						<!-- IF BCH START -->
						<section ng-if="isBCH">
							<div class="well no-shadow bg-white">
								<legend>Keywords related to Biosafety</legend>
								<div class="row">
									<div class="col-xs-12">
										<div class="km-control-group" required name="bchSubjects" caption="Biosafety Thematic Areas">
											<div km-term-check name="bchSubjects" required ng-model="document.biosafety.subjects"  terms="options.bchSubjects()"
											 binding-type="term[]"></div>
										</div>
									</div>
								</div>
								<!-- TODO: need to apply a condation -->
						        
									<div class="row">
										<div  class="col-xs-12">
											<div class="km-control-group" name="raRecommend" caption="Guidance on risk assessment of living modified organisms">
												<div km-yes-no required ng-model="document.biosafety.raRecommend" ng-click="onRaRecommendChange(document.biosafety.raRecommend)"  locales="document.header.languages"></div>
												<div ng-if="document.biosafety.raRecommend" style="margin-top: 15px;">
													<div class="col-xs-12">
														<div class="km-control-group" name="raAuthorAffiliation"  caption="Author affiliation">
															<div class="help-block">please provide information on the author affiliation</div>
															<div km-term-check name="raAuthorAffiliation" ng-model="document.raAuthorAffiliation" terms="options.bchRaAuthorAffiliation()"
																 binding-type="term[]" locales="document.header.languages">
															</div>
														</div>
													</div>

													<div class="col-xs-12">
														<div class="km-control-group" name="raSubjects" required  caption="Please indicate to which section(s) of the “Guidance” this background material is relevant">
															<div km-term-check name="raSubjects" required ng-model="document.raSubjects" terms="options.bchRaSubjects()"
																 binding-type="term[]" locales="document.header.languages">
															</div>
														</div>
													</div>
													
												</div>
											</div>
										</div>
									</div>
									<!-- end of condation  -->
									<div class="row">
										<div  class="col-xs-12">
											<div class="km-control-group" name="addressmodifiedOrganisms" caption="Does this resource address one or more specific LMOs?" required>
												<div km-yes-no required ng-model="document.addressmodifiedOrganisms"  locales="document.header.languages"></div>
												<div ng-if="document.addressmodifiedOrganisms" style="margin-top: 15px;">
													<div class="col-xs-12">
														<div class="km-control-group" required name="modifiedOrganisms"  caption="LMO(s) identification">
															<div document-selector required type="checkbox"  ng-model="document.modifiedOrganisms"
															   on-build-query="onBuildQuery(searchText, 'modifiedOrganism')" allow-new="true"  filter="true"
															   allow-new-schema="modifiedOrganism"></div>
													</div>
													
												</div>
											</div>
										</div>
									</div>


									<div class="row">
										<div  class="col-xs-12">
											<div class="km-control-group" name="addressOrganisms" caption="Does this resource address one or more specific organisms?" required>
												<div km-yes-no required ng-model="document.addressOrganisms"  locales="document.header.languages"></div>
												<div ng-if="document.addressOrganisms" style="margin-top: 15px;">
													<div class="col-xs-12">
														<div class="km-control-group" required name="organisms"  caption="Organism(s) identification">
															<div document-selector required ng-model="document.organisms"
																 on-build-query="onBuildQuery(searchText, 'organism')" allow-new="true"
																 allow-new-schema="organisms"></div>
														</div>
													</div>
													
												</div>
											</div>
										</div>
									</div>


									<div class="row">
										<div  class="col-xs-12">
											<div class="km-control-group" name="addressGenes" caption="Does this resource address one or more specific genetic elements?" required>
												<div km-yes-no required ng-model="document.addressGenes"  locales="document.header.languages"></div>
												<div ng-if="document.addressGenes" style="margin-top: 15px;">
													<div class="col-xs-12">
														<div class="km-control-group" required name="genes"  caption="Gene(s)  identification">
															<div document-selector required type="checkbox"  ng-model="document.genes"
																   on-build-query="onBuildQuery(searchText, 'dnaSequence')" allow-new="true"  filter="true"
																   allow-new-schema="dnaSequence"></div>
														</div>
													</div>
													
												</div>
											</div>
										</div>
									</div>
								
							</div>
						</section>
						<!-- IF BCH END -->
						<!-- IF ABS START -->
						<section ng-if="isABS">
							<div class="well no-shadow bg-white">
								<a rel="noopener" translation-url name="#AdditionalInformation"></a>
								<legend>Keywords related to Access and Benefit-Sharing</legend>
								<div class="row">
									<div class="col-xs-12">
										<div class="km-control-group" required name="absSubjects" caption="ABS Thematic Areas">
											<div km-term-check name="absSubjects" required ng-model="document.nagoya.subjects"  terms="options.absSubjects()"
											 binding-type="term[]"></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12">
										<div class="km-control-group" required name="keyAreas" caption="Key areas and strategic measures for capacity-building and development addressed by the resource">
											<div km-term-check name="keyAreas" required ng-model="document.nagoya.keyAreas"  terms="options.keyAreas()"
											 binding-type="term[]"></div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!-- IF ABS END -->
						<section>
							<div class="well no-shadow bg-white">
								<a rel="noopener" translation-url name="#AdditionalInformation"></a>
								<legend>Additional information</legend>
		
								<div class="row">
									<div class="col-xs-12">
										<div class="km-control-group" name="address" caption="Any other relevant information">
											<div class="help-block">Please use this field to provide any other relevant information that may not have been
												addressed elsewhere in the
												record.</div>
											<div km-rich-textbox ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
										</div>
									</div>
								</div>
		
								<div class="row">
									<div class="col-xs-12">
										<div class="km-control-group" name="relevantDocuments" caption="Any other relevant documents">
											<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true"
											 identifier="document.header.identifier"></div>
										</div>
									</div>
								</div>
							</div>
						</section>	
						<!-- BCH COMPLETED HERE 	 -->
							
			
					</div>
			
				</form>
			</edit-form>
			<review-form>
					<div view-resource ng-model="review.document" locale="review.locale" allow-drafts="true" heading="{{heading}}"
					short-heading="{{shortHeading}}"></div>
			</review-form>
			<!-- <publish-form></publish-form> -->
			<!-- use when you wan to display more than publish buttons -->
		</div>

	</div>
</div>
