<div>
	<div  ng-hide="document.type=='organization'">

		<legend>Personal Information</legend>

		<div  class="row">

			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
				<div class="km-control-group" name="prefix" caption="Title">
					<div km-textbox-ml name="prefix" ng-model="document.prefix" locales="locales"></div>
				</div>
			</div>

			<div class="col-lg-4 col-md-8 col-sm-8 col-xs-12">
				<div class="km-control-group" name="firstName" required caption="First name">
					<input type="text" class="form-control" name="firstName" ng-model="document.firstName" required/>
				</div>
			</div>

			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
				<div class="km-control-group" name="middleName" caption="Middle Name">
					<input type="text" class="form-control" name="middleName" ng-model="document.middleName"/>
				</div>
			</div>

			<div class="col-lg-4 col-md-8 col-sm-8 col-xs-12">
				<div class="km-control-group" name="lastName" required caption="Last name">
					<input type="text" class="form-control" name="lastName" ng-model="document.lastName" required/>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="designation" caption="Job Title">
					<div km-textbox-ml name="designation" ng-model="document.designation" locales="locales"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-md-7 col-xs-12">
			<div class="km-control-group" name="organization" required caption="Organization">
				<div class="help-block">Fullname without abbreviation</div>
				<div km-textbox-ml name="organization" ng-model="document.organization" required locales="locales"></div>
			</div>
		</div>

		<div class="col-md-5 col-xs-12">
			<div class="km-control-group" name="organizationAcronym" caption="Acronym">
				<div class="help-block">Abbreviation for long name</div>
				<div km-textbox-ml name="organizationAcronym" ng-model="document.organizationAcronym" placeholder="example: SCBD" locales="locales"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="km-control-group" name="organizationType" caption="Type of organization">
				<div km-select name="organizationType" ng-model="document.organizationType" watch-items items="options.organizationTypes"></div>
			</div>
		</div>
	</div>

	<div ng-show="document.type=='organization'">

		<legend>Contact Person </legend>

		<div class="help-block">Please provide name of the person in the organization (if any)</div>

		<div  class="row">

			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
				<div class="km-control-group" name="prefix" caption="Title">
					<div km-textbox-ml name="prefix" ng-model="document.prefix" locales="locales"></div>
				</div>
			</div>

			<div class="col-lg-4 col-md-8 col-sm-8 col-xs-12">
				<div class="km-control-group" name="firstName" caption="First name">
					<input type="text" class="form-control" name="firstName" ng-model="document.firstName"/>
				</div>
			</div>

			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
				<div class="km-control-group" name="middleName" caption="Middle Name">
					<input type="text" class="form-control" name="middleName" ng-model="document.middleName"/>
				</div>
			</div>

			<div class="col-lg-4 col-md-8 col-sm-8 col-xs-12">
				<div class="km-control-group" name="lastName" caption="Last name">
					<input type="text" class="form-control" name="lastName" ng-model="document.lastName"/>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="km-control-group" name="designation" caption="Job Title">
					<div km-textbox-ml name="designation" ng-model="document.designation" locales="locales"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="km-control-group" name="department" caption="Department / Division / Unit">
				<div km-textbox-ml name="department" ng-model="document.department" locales="locales"></div>
			</div>
		</div>
	</div>

	<legend>Address</legend>

	<div class="row">
		<div class="col-md-12">
			<div class="km-control-group" name="address" caption="Street address">
				<div km-textbox-ml ng-model="document.address" rows="2" placeholder="example: 413 St-Jacques Ouest, Suite 800" locales="locales"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="km-control-group" name="city" required caption="City">
				<div km-textbox-ml name="city" ng-model="document.city" required locales="locales" placeholder="example: Montreal"></div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="km-control-group" name="state" caption="State or Province">
				<div km-textbox-ml name="state" ng-model="document.state" locales="locales" placeholder="example: Quebec"></div>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-md-6">
			<div class="km-control-group" name="postalCode" caption="Postal Code or Zip">
				<div km-textbox-ml name="postalCode" ng-model="document.postalCode" locales="locales" placeholder="example: Quebec"></div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="km-control-group" name="country" required caption="Country address">
				<div km-select name="country" ng-model="document.country" watch-items items="options.countries" required></div>
			</div>
		</div>
	</div>

	<legend>Contact Information</legend>

	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="phones" required caption="Phone numbers">
				<div class="help-block">Please use the following format: +[country code] [city code] [telephone number] [extension, if necessary].</div>
				<div km-inputtext-list name="phones" ng-model="document.phones" required placeholder="example: +1 514.288.2220"></div>
			</div>
		</div>

		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="faxes" caption="Fax Numbers">
				<div class="help-block">Please use the following format: +[country code] [city code] [telephone number] [extension, if necessary].</div>
				<div km-inputtext-list name="faxes" ng-model="document.faxes" placeholder="example: +1 514.288.6588"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="emails" caption="Emails">
				<div km-inputtext-list name="emails" type="email" ng-model="document.emails" pattern="email" placeholder="example: secretariat@cbd.int"></div>
			</div>
		</div>

		<div class="col-md-6 col-xs-12">
			<div class="km-control-group" name="websites" caption="Website addresses">
				<div km-link name="websites" ng-model="document.websites" allow-file="false"></div>
			</div>
		</div>
	</div>
</div>
