<div>
	<div class="registerpage-content">

		<div ng-show="msg" class="alert alert-success alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="msg=''">&times;</button>
			<strong>{{msg}}</strong>
		</div>

		<div class="alert alert-error" ng-show="hasError()">
			<strong>Error as occured...</strong>
			<div>{{error}}</div>
		</div>

		<!--<div ng-show="isLoading()">
			<i class="fa fa-spinner fa-spin"></i> Loading...
		</div>-->

		<div ng-show="!isLoading() && status!='hidden'">
			<div workflow-std-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="false" ></div>

			<div km-document-validation ng-model="validationReport"></div>
			<form name="editForm" class="editForm" style="margin-top:10px">

				<div ng-show="tab=='edit'" km-tab="edit">

					<legend name="formInfo" style="display:none"></legend>
					<section>
						<legend>General information</legend>

						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" required name="title" caption="Title">
									<div km-textbox-ml required ng-model="document.title" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-6">
								<div class="km-control-group" required name="resourceTypes" caption="Type of resource">
                                    <div class="help-info"  ng-if="isResource">"Case study" in this regard refers to a specific study/description or analysis of a project, policy or activity which documents experiences and lessons learned that are likely to help inform or improve future activities or activities of others.</div>
                                    <div class="help-info"  ng-if="isResource">"Good practice" refers to practices, processes, techniques or working methods that have consistently and empirically proved effective and are being used as a benchmark or standard.</div>
									<div km-select multiple  name="resourceTypes" required ng-model="document.resourceTypes" items="options.resourceTypes()"></div>
								</div>
							</div>
							<div class="col-xs-6" ng-show="isOtherSelected(document.resourceTypes)">
								<div class="km-control-group" required name="resourceTypeName" caption="Name of other type of resource">
									<div km-textbox-ml  required name="resourceTypeName" rows="1" ng-model="document.resourceTypeName" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

                        <div class="row" ng-if="isResource">
							<div class="col-md-12">
								<div class="km-control-group" required name="fileFormat" caption="Format/File type">
									<div km-select  name="fileFormat" required ng-model="document.fileFormat" items="options.fileFormats()"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12" ng-if="isResource">
								<div class="km-control-group" required name="purpose" caption="Please identify the main purpose of the resource">
                                    <div class="help-info">"Assessing capacity-building needs" are, for example, capacity needs assessment tools, methodological guidance, surveys, etc.</div>
                                    <div class="help-info">"Providing technical guidance" refers to guidance materials that provide practical advice and support, including explanations/illustrations, instructions and advice for
performing certain types of tasks and/or implementing specific approaches. </div>
									<div km-select multiple  required name="purpose" ng-model="document.purpose" items="options.purposes()"></div>
								</div>
							</div>
						</div>

						<div class="row" ng-if="isResource && IsCapacityBuilding()">
							<div class="col-md-12">
								<div class="km-control-group" required="IsCapacityBuilding()" name="targetGroups" caption="Target group(s)/beneficiary(ies)">
									<div km-term-check name="targetGroups" required="IsCapacityBuilding()" ng-model="document.targetGroups" terms="options.targetGroups()" binding-type="term[]"></div>
								</div>
							</div>
						</div>

						<div class="row" ng-if="isResource && IsCapacityBuilding()">
							<div class="col-md-12">
								<div class="km-control-group" name="expertiseLevel" caption="Level of the content or   level of knowledge/expertise of the audience for which the resource is intended">
									<div km-select name="expertiseLevel" ng-model="document.expertiseLevel" items="options.expertiseLevels()"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" required name="authors" caption="Author(s)">
									<div class="help-info">Name of the person who has authored the publication or information resource.</div>
									<div km-textbox-ml required ng-model="document.authors" rows="2" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" name="organizations" caption="Authoring organisation(s) ">

                                    <!-- <div document-selector ng-model="document.organizationsRef"
                                                                        question="organizationsRef"
                                                                        schema="contact"
                                                                        government="document.government"
                                                                        filter="true"
                                                                        ></div> -->
								<field-embed-contact multiple ng-model="document.organizations" organization-only locales="document.header.languages" caption="Add organizations »">

								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" required name="publicationYear" caption="Publication year">
									<input type="number" required name="publicationYear" ng-model="document.publicationYear"/>
									<!-- min="0" max="9999" maxlength="4"  ng-change="maxLengthCheck(document.publicationYear)"/> -->
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" name="rights" caption="Rights">
									<div class="help-info">Information about rights held in and over the attached files, such as copyright holder, and availability for reproduction
										for educational or non-profit purposes.</div>
									<div km-textbox-ml name="rights" ng-model="document.rights" locales="document.header.languages"></div>
								</div>
							</div>
						</div>



						<div class="row" >
							<div class="col-xs-12" ng-if="isResource">
								<div class="km-control-group" name="source" caption="Source">
									<div class="help-info">A reference to a document or resource from which the present resource is derived (e.g. an article from a journal). For original
										documents you may wish to specify "original document".</div>
									<div km-textbox-ml name="source" ng-model="document.source" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

					</section>

					<section>
						<legend>Attached files, documents, or resources</legend>

						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" required name="resourceLinks" caption="Link to the resource(s)">
									<div class="help-block">Please attach the relevant files so that they will be stored in the database for users to download. When resources
										are available on the Internet, please also provide a link to them.</div>
									<div km-link name="resourceLinks" required ng-model="document.resourceLinks" allow-link="true" allow-file="true" extensions="options.documentLinksExt"
									identifier="document.header.identifier"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" name="cover" caption="Cover image(s)">
									<div class="help-block">Only JPEG and PNG formats are supported.</div>
									<div km-link name="cover" ng-model="document.covers" allow-link="false" allow-file="true" mimeTypes="image/jpeg;image/png"
									identifier="document.header.identifier"></div>
								</div>
							</div>
						</div>
                          <div class="row" ng-if="isResource">
							<div class="col-md-12">
								<div class="km-control-group" required name="fileFormat" caption="Format/File type">
									<div km-select  name="fileFormat" required ng-model="document.fileFormat" items="options.fileFormats()"></div>
								</div>
							</div>
						</div>

						<div class="row" >
							<div class="col-md-12">
								<div class="km-control-group" name="formatDetails" caption="Format details">
									<div class="help-info">Format details may be used to provide further information relating to the format of the attachments, including its dimensions (e.g. size, number of pages or duration) or the software, hardware, or other equipment needed to display or operate it (e.g. “Requires Acrobat Reader for viewing.”</div>
									<div km-textbox-ml rows="2" name="formatDetails" ng-model="document.formatDetails" locales="document.header.languages"></div>
								</div>
							</div>
						</div>
					</section>
					<section>
						<legend>Information on the content of attachments</legend>

						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group"  name="summary" caption="Summary, abstract or table of contents (max 300 words)">
									<div km-textbox-ml ng-model="document.summary"  rows="4" locales="document.header.languages"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" name="regions" caption="Country(ies), Regional or Economic group(s) related to the resource">
									<div km-select style="display: inline-block" name="regions" ng-model="document.regions" items="options.regions()" multiple
									placeholder="Select a country(ies) and/or region(s)..."></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="aichiTargets" caption="Related Aichi Biodiversity Target(s)">
									<div km-term-check name="aichiTargets" required ng-model="document.aichiTargets" terms="options.aichiTargets()" binding-type="term[]"></div>
								</div>
							</div>
						</div>
					</section>
					<section>

						<legend ng-if="IsCapacityBuilding() || IsLiterature() || isMcc">Keywords for facilitating online searches</legend>

                        <div class="row" ng-if="isMcc">
							<div class="col-xs-12">
								<div class="km-control-group" name="mccKeywords" caption="Please select the relevant keywords for describing the content of  the code of conduct, guidelines and best practices and/or standards being submitted">
									<div km-term-check name="mccKeywords" required ng-model="document.mccKeywords" terms="options.mccKeywords()" binding-type="term[]"></div>
								</div>
							</div>
						</div>

						<div class="row" ng-if="(isResource && IsLiterature() && IsTarget16()) || !isResource">
							<div class="col-xs-12">
								<div class="km-control-group" required name="absSubjects" caption="Thematic areas(s)">
									<div km-term-check name="absSubjects" required ng-model="document.absSubjects" terms="options.absSubjects()" binding-type="term[]"></div>
								</div>
							</div>
						</div>

						<div class="row" ng-if="IsCapacityBuilding() && IsTarget16()">
							<div class="col-md-12">
								<div class="km-control-group" name="absKeyAreas" caption="Key areas and strategic measures for capacity-building and development">
                                    <div class="help-info">The key areas are identified by the Strategic Framework for capacity-building and development to support the effective
implementation of the Nagoya Protocol (decision NP-1/8, annex I).</div>
									<div km-term-check name="absKeyAreas" ng-model="document.absKeyAreas" terms="options.absKeyAreas()" binding-type="term[]"></div>
								</div>
							</div>
						</div>
					</section>



					<section>

						<a name="#AdditionalInformation"></a>
						<legend>Additional information</legend>

						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" name="address" caption="Any other relavent information">
									<div class="help-block">Please use this field to provide any other relevant information that may not have been addressed elsewhere in the
										record.</div>
									<div km-textbox-ml ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" name="relevantDocuments" caption="Any other relevant documents">
									<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
								</div>
							</div>
						</div>

					</section>
					<section>
						<legend>Notes</legend>
						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" name="notes">
									<div class="help-block">The “Notes” field is for your personal notes or comments and will be hidden when viewing the record. This field
										is not meant to be used for confidential information.</div>
									<textarea class="form-control" rows="4" name="notes" ng-model="document.notes"></textarea>
								</div>
							</div>
						</div>
					</section>



				</div>




			</form>

			<div ng-show="tab=='review'" km-tab="review">

				<div class="btn-group" ng-show="reviewDocument.header.languages.length>1">
					<input type="button" class="btn" ng-class="{'active' : review.locale==locale, 'btn-info' : review.locale==locale}" ng-repeat="locale in document.header.languages"
					ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}" />
				</div>

				<div view-resource ng-model="reviewDocument" locale="review.locale" allow-drafts="true" heading="{{heading}}" short-heading="{{shortHeading}}"></div>
			</div>

			<!-- <hr style="margin-top:20px;">

        <div class="row" style="padding-top:20px;">
            <div class="col-xs-12">

                <div workflow-std-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="true"/>

            </div>
        </div> -->

		</div>
	</div>
</div>
