<div ng-controller="editDatabase" class="md-whiteframe-z1" >

    <div ng-include="'/app/views/forms/edit/edit_header.html'"></div>

    <md-content layout-padding style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;">

  <div class="registerpage-content">

    <div ng-show="msg" class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="msg=''">&times;</button>
      <strong>{{msg}}</strong>
    </div>

    <div class="alert alert-error" ng-show="hasError()">
      <strong>Error as occured...</strong>
      <div>{{error}}</div>
    </div>

    <div ng-show="isLoading()">
        <i class="fa fa-spinner fa-spin"></i> Loading...
    </div>

    <div ng-show="!isLoading() && status!='hidden'">
    <div workflow-std-buttons document="getCleanDocument()" languages="document.header.languages"  hide-timer="false"/>

            <div km-document-validation ng-model="validationReport"></div>
		<form name="editForm" class="editForm" style="margin-top:10px">
			<div ng-show="tab=='edit'" km-tab="edit">
				<section>
				<legend>Website or Database details </legend>
				<div class="row">
					<div class="col-xs-12">
						<div class="km-control-group" name="government" required caption="Country">
              <div afc-autocomplete required name="government" ng-disabled="userGovernment()" ng-model="document.government" source="options.countries" filter="genericFilter" mapping="genericMapping" selectbox="true" placeholder="Please select a country..."></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="km-control-group" name="title" required caption="Website or database name">
							<div class="help-block">Please enter the name of the website or database as you would like it to appear in the title of the record.</div>
							<div km-textbox-ml required name="title" ng-model="document.title" locales="document.header.languages" placeholder="example: The title"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="km-control-group" name="description" required caption="Description">
							<div class="help-block">Please enter a short description of the national website or database, such as its function or information it makes available.</div>
							<div km-rich-textbox required name="description" ng-model="document.description" rows="4" locales="document.header.languages" placeholder="example: The description"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="km-control-group" name="website" required caption="Website address">
							<div class="help-block">Please provide the full URL of the website (e.g. http://www.cbd.int).</div>
							<input type="url" ng-model="document.website.url" required class="form-control" placeholder="example: http://www.cbd.int" />
						</div>
					</div>
				</div>
				</section>

				<section>

				<legend>Additional information</legend>

				<div class="row">
					<div class="col-xs-12">
						<div class="km-control-group" name="address" caption="Any other relevant information">
							<div class="help-block">Please use this field to provide any other relevant information that may not have been addressed elsewhere in the record.</div>
							<div km-rich-textbox ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="km-control-group" name="relevantDocuments" caption="Any other relevant documents">
							<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
						</div>
					</div>
				</div>
				</section>

				<section>

				<legend>Notes</legend>
				<div class="row">
					<div class="col-xs-12">
						<div class="km-control-group" name="notes">
							<div class="help-block">The field “Notes” is for personal reference and can be seen only when the record is being edited</div>
							<textarea class="form-control" name="notes" ng-model="document.notes" rows="4"></textarea>
						</div>
					</div>
				</div>
				</section>

			</div>
		</form>

		<div ng-show="tab=='review'" km-tab="review">

            <div class="btn-group" ng-show="reviewDocument.header.languages.length>1">
                <input type="button" class="btn" ng-class="{'active' : review.locale==locale, 'btn-info' : review.locale==locale}" ng-repeat="locale in document.header.languages" ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}" />
            </div>

            <div view-database ng-model="reviewDocument" locale="review.locale" allow-drafts="true"></div>

		</div>

        <!-- <hr style="margin-top:20px;">

        <div class="row" style="padding-top:20px;">
            <div class="col-xs-12">

                <div workflow-std-buttons document="getCleanDocument()" languages="document.header.languages" hide-timer="true"/>


            </div>
        </div> -->


    </div>
  </div>
</div>

</div>

</md-content>
</div>
