<div>

	<div class="alert alert-error" ng-show="hasError()">
		<strong>Error as occured...</strong>
		<div>{{error}}</div>
	</div>

    <div ng-show="isLoading()">
        <i class="fa fa-spinner fa-spin"></i> Loading...
    </div>

    <div ng-show="!isLoading() && status!='hidden'">

        <div class="row">
            <div class="col-xs-12 visible-xs">
                <div>
                    <span km-form-std-buttons document="getCleanDocument()"></span>
                    <span km-form-languages ng-model="document.header.languages"></span>
                </div>
            </div>

            <div class="col-sm-7 col-xs-12" id="helpTip2">
                <ul class="pagination">
                    <li ng-class="{ disabled: tab=='edit'   }"><a href="" ng-click="tab='edit'">&laquo;</a></li>
                    <li ng-class="{ active  : tab=='edit'   }"><a href="" ng-click="tab='edit'" >General</a></li>
                    <li ng-class="{ active  : tab=='review' }"><a href="" ng-click="tab='review'">Review</a></li>
                    <li ng-class="{ disabled: tab=='review' }"><a href="" ng-click="tab='review'">&raquo;</a></li>
                </ul>
            </div>

            <div class="col-sm-5 hidden-xs text-right">
                <div class="pagination">
                    <span km-form-languages ng-model="document.header.languages"></span>
                    <span km-form-std-buttons document="getCleanDocument()"></span>
                </div>
            </div>

        </div>

		<form name="editForm" style="margin-top:10px">

			<div ng-show="tab=='edit'" km-tab="edit">

				<legend>General information</legend>

				<div class="row">
					<div class="col-md-8 col-xs-12">
						<div class="km-control-group" name="name" required caption="Name of the organization">
							<div km-textbox-ml name="name" required ng-model="document.name" placeholder="text entry" locales="document.header.languages"></div>
						</div>
					</div>

					<div class="col-md-4 col-xs-12">
						<div class="km-control-group" name="acronym" required caption="Acronym">
							<div km-textbox-ml name="acronym" required ng-model="document.acronym" placeholder="text entry" locales="document.header.languages"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="km-control-group" name="contacts" caption="Contact person in the organization">
							<div km-reference multiple name="contacts" ng-model="document.contacts" loader="loadRecords(identifier, 'contact')">
								<div>
									<div><strong>{{reference.title | lstring}}</strong></div>
										<div ng-bind-html="reference.summary | lstring"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<legend>Organization Coordinates</legend>

				<div class="row">
					<div class="col-md-12">
						<div class="km-control-group" name="address" caption="Address">
							<div km-textbox-ml ng-model="document.address" rows="2" placeholder="example: 413 St-Jacques Ouest, Suite 800" locales="document.header.languages"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-xs-12">
						<div class="km-control-group" name="city" required caption="City">
							<div km-textbox-ml required name="city" ng-model="document.city" locales="document.header.languages" placeholder="example: Montreal"></div>
						</div>
					</div>

					<div class="col-md-6 col-xs-12">
						<div class="km-control-group" name="state" caption="State or Province">
							<div km-textbox-ml name="state" ng-model="document.state" locales="document.header.languages" placeholder="example: Quebec"></div>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col-md-6 col-xs-12">
						<div class="km-control-group" name="postalCode" caption="Postal Code or Zip">
							<div km-textbox-ml name="postalCode" ng-model="document.postalCode" locales="document.header.languages" placeholder="example: H2Y 1N9"></div>
						</div>
					</div>

					<div class="col-md-6 col-xs-12">
						<div class="km-control-group" name="country" required caption="Country">
							<div km-select required name="country" ng-model="document.country" items="options.countries()"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-xs-12">
						<div class="km-control-group" name="phones" required caption="Phone numbers">
							<div class="help-block">Please use the following format: +[country code] [city code] [telephone number] [extension, if necessary].</div>
							<div km-inputtext-list required name="phones" ng-model="document.phones" placeholder="example: +1 514.288.2220"></div>
						</div>
					</div>

					<div class="col-md-6 col-xs-12">
						<div class="km-control-group" name="faxes" caption="Fax Numbers">
							<div class="help-block">Please use the following format: +[country code] [city code] [telephone number] [extension, if necessary].</div>
							<div km-inputtext-list name="faxes" ng-model="document.faxes" placeholder="example: +1 514.288.6588"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-xs-12">
						<div class="km-control-group" name="emails" required caption="Emails">
							<div km-inputtext-list required name="emails" ng-model="document.emails" placeholder="example: secretariat@cbd.int"></div>
						</div>
					</div>

					<div class="col-md-6 col-xs-12">
						<div class="km-control-group" name="websites" caption="Web Sites">
							<div km-link name="websites" ng-model="document.websites" allow-link="true" allow-file="false"></div>
						</div>
					</div>
				</div>

				<legend>Detailed information</legend>

				<div class="row">
					<div class="col-md-12">
						<div class="km-control-group" name="libraries" required caption="Relevant libraries">
							<div km-select required name="libraries" ng-model="document.libraries" items="options.libraries()" multiple></div>
						</div>
					</div>
				</div>

				<div class="row" ng-show="isInLibrary('chm')">
					<div class="col-md-12">
						<div class="km-control-group" name="thematicAreas" caption="CBD Thematic areas">
							<div km-select name="thematicAreas" ng-model="document.thematicAreas" items="options.cbdSubjects()" multiple></div>
						</div>
					</div>
				</div>
				<div class="row" ng-show="isInLibrary('absch')">
					<div class="col-md-12">
						<div class="km-control-group" name="absThematicAreas" caption="ABS Thematic areas">
							<div km-select name="absThematicAreas" ng-model="document.absThematicAreas" items="options.absThematicAreas()" multiple></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="km-control-group" name="organizationType" required caption="Type of organization">
							<div km-select required name="organizationType" ng-model="document.organizationType" items="options.organizationTypes()" ></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="km-control-group" name="profileLink" required caption="Organization’s profile">
							<div km-link required name="profileLink" ng-model="document.profileLink" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="km-control-group" name="linkedOrganizations" caption="Linked organizations">
							<div km-reference multiple name="linkedOrganizations" ng-model="document.linkedOrganizations" loader="loadRecords(identifier, 'organization')">
								<div>
									<div><strong>{{reference.title | lstring}}</strong></div>
										<div ng-bind-html="reference.summary | lstring"></div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<a name="#AdditionalInformation"></a>
				<legend>Additional information</legend>

				<div class="row">
					<div class="col-md-12">
						<div class="km-control-group" name="address" caption="Any other relevant information">
							<div class="help-block">Please use this field to provide any other relevant information that may not have been addressed elsewhere in the record.</div>
							<div km-textbox-ml ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="km-control-group" name="relevantDocuments" caption="Any other relevant documents">
							<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-12">
						<div class="km-control-group" name="notes" caption="Notes">
							<div class="help-block">The “Notes” field is for your personal notes or comments and will be hidden when
                                            viewing the record. This field is not meant to be used for confidential information.</div>
							<textarea class="form-control" name="notes" ng-model="document.notes" rows="4"></textarea>
						</div>
					</div>
				</div>
			</div>
		</form>

		<div ng-show="tab=='review'" km-tab="review">

            <div km-document-validation ng-model="validationReport"></div>

            <div class="btn-group" ng-show="reviewDocument.header.languages.length>1">
                <input type="button" class="btn" ng-class="{'active' : review.locale==locale, 'btn-info' : review.locale==locale}" ng-repeat="locale in document.header.languages" ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}" />
            </div>

            <div view-organization ng-model="reviewDocument" locale="review.locale" allow-drafts="true"></div>

		</div>


        <div class="row">

            <div class="col-sm-7 col-xs-12">
                <ul class="pagination">
                    <li ng-class="{ disabled: tab=='edit'   }"><a href="" ng-click="tab='edit'">&laquo;</a></li>
                    <li ng-class="{ active  : tab=='edit'   }"><a href="" ng-click="tab='edit'" >General</a></li>
                    <li ng-class="{ active  : tab=='review' }"><a href="" ng-click="tab='review'">Review</a></li>
                    <li ng-class="{ disabled: tab=='review' }"><a href="" ng-click="tab='review'">&raquo;</a></li>
                </ul>
            </div>

            <div class="col-sm-5 hidden-xs text-right">
                <div class="pagination">
                    <span km-form-std-buttons document="getCleanDocument()"></span>
                </div>
            </div>

            <div class="col-xs-12 visible-xs">
                <div>
                    <span km-form-std-buttons document="getCleanDocument()"></span>
                </div>
            </div>

        </div>
	</div>
</div>
