<style>
	.km-control-group .control-label{
		display: block;
	}
	.km-control-group .control-label[for="startDate"]{display: inline-block;}
	.km-control-group .control-label[for="endDate"]{display: inline-block;}
</style>
<div class="md-whiteframe-z2" >

	<div ng-include="'/app/views/forms/edit/edit_header.html'"></div>

	<div style="padding: 24px;background-color:#FFF;border-bottom:2px solid #ccc;">

		<span block-region activate="isLoading()" ng-if="isLoading()"></span>
		<div class="registerpage-content">

			<div class="alert alert-success alert-dismissable" ng-show="msg">
				<button aria-hidden="true" class="close" data-dismiss="alert" ng-click="msg=''" type="button">&times;</button>
				<strong><span ng-bind="msg"></span></strong>
			</div>

			<div workflow-arrow-buttons on-review-language-change="onReviewLanguageChange(lang)" document="getCleanDocument()"
					languages="document.header.languages" tab="tab">

				<edit-form>
					<form name="editForm" style="margin-top:10px">


						<div ng-show="tab=='edit'" km-tab="edit">
							<section>
								<div class="well no-shadow bg-white">

									<legend>General information</legend>

									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" name="header.languages" required caption=" Please select in which language(s) you wish to submit this record:">
												<div class="indent">
													<div km-form-languages multiple required name="header.languages" ng-model="document.header.languages"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" required name="title" caption="Title of the initiative">
												<div km-textbox-ml required ng-model="document.title" locales="document.header.languages"></div>
											</div>
										</div>
									</div>

								<div class="row">
									<div class="col-md-12">
										<div class="km-control-group" name="projectNumber" caption="Project number or identifier">
											<div class="help-info">Please provide any project number, identifier or reference number, if applicable.</div>
											<div km-textbox-ml name="projectNumber" ng-model="document.projectNumber" locales="document.header.languages"></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="km-control-group" name="projectDocument" caption="Website address(es)">
										<div class="help-info">Please provide the URL of the website (e.g. http://www.cbd.int) and the name of the website (e.g. 'Convention on Biological Diversity').</div>
										<div km-link name="projectDocument" required ng-model="document.projectDocument" allow-link="true" allow-file="false" identifier="document.header.identifier"></div>
										</div>
									</div>
								</div>
			
									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" required name="contacts" caption="Contact person">
												<div document-selector ng-model="document.contacts" question="contacts"
														on-build-query="onContactQuery(searchText)" allow-new="true" filter="true"
														allow-new-schema="contact"></div>
											</div>
										</div>
									</div>


									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" required name="geographicScope" caption="Geographic scope">
												<div km-select name="geographicScope" required ng-model="document.geographicScope"
														placeholder="Please select one option" items="options.geographicScope()"></div>
											</div>
										</div>
									</div>
									<div class="row" ng-if="document.geographicScope && (isGlobalOrRegional() || isNational())">
										<div class="col-md-12">
											<div class="km-control-group"  required style="padding:10px;">
												<div class="row">
													<div class="col-md-3" ng-show="!isNational()">

														<div class="km-control-group" required name="geographicScope" caption="">
																<label name="countryRegions" class="control-label" for="geographicScope">Geographical or political/economic group(s)</label>
															<div km-select multiple required name="regions"
																	ng-model="countryRegions.regions" placeholder="Please select option(s)"
																	items="options.regions()"></div>
														</div>
													</div>
													<div class="col-md-1" ng-hide="!isGlobalOrRegional()">
														and/or
													</div>
													<div class="col-md-3">
														<div class="km-control-group" style="text-align: left;"  caption="">
															<label name="countryRegions" ng-required="isNational()" class="control-label" for="countryRegions">
																Country(ies)
															</label>
															<div km-select multiple required filter-type="startsWith" ng-model="countryRegions.countries" placeholder="Please select option(s)" items="options.countries()"></div>
														</div>
													</div>
												</div>
											</div></div>
									</div>

									<div class="row" ng-if="document.geographicScope && isSubnational()">
										<div class="col-md-12">
											<div class="km-control-group"  name="countryRegions" caption="">
												<label name="countryRegions" required class="control-label" for="countryRegions">
													Country(ies)
												</label>
												<div km-select multiple required  ng-model="countryRegions.countries" placeholder="Please select option(s)" items="options.countries()"></div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="km-control-group"  name="geographicScope.customValue" caption="">
												<label name="geographicScope.customValue" required="isSubnational()" class="control-label" for="geographicScope.customValue">
													Name of the sub-national jurisdiction
												</label>
												<div km-textbox-ml required="isSubnational()"  ng-model="document.geographicScope.customValue" placeholder="Please select option(s)" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
									<div class="row" ng-if="document.geographicScope && isCommunity()">
										<div class="col-md-12">
											<div class="km-control-group"  name="countries" caption="">
												<label name="countryRegions" required class="control-label" for="countryRegions">
													Country(ies)
												</label>
												<div km-select multiple required ng-model="countryRegions.countries" placeholder="Please select option(s)" items="options.countries()"></div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="km-control-group" name="geographicScope.customValue" caption="">
												<label name="geographicScope.customValue" required="isCommunity()" class="control-label" for="geographicScope.customValue">
													Community name
												</label>
												<div km-textbox-ml required="isCommunity()" ng-model="document.geographicScope.customValue" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" required name="status" caption="Status">
												<div km-select name="status" required ng-model="document.status" id="documentStatus"
														placeholder="Please select one option" items="options.status()"  show-description="true"></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" name="timeframe" required caption="Timeframe">
													<div class="row">
														<div class="col-md-3">
															<div class="km-control-group" name="startDate" caption="Start date"
																	 help-content="<img src='/app/img/help-images/datetime_control.gif' />"  help-title="Help: CDI, Start date">
																<div km-date name="startDate" ng-model="document.startDate"></div>
															</div>
														</div>
														<div class="col-md-3">
															<div class="km-control-group" name="endDate" caption="End date"
																	 help-content="<img src='/app/img/help-images/datetime_control.gif' />"  help-title="Help: CDI, End date">
																<div km-date name="startDate" ng-model="document.endDate"></div>
															</div>
														</div>
														<div class="col-md-1 text-center" ng-show="!document.status || isProposedOrApproved()">
															<div class="km-control-group bold" style="margin-top:30px;" > OR </div>
														</div>
														<div class="col-md-5">
															
															<div class="km-control-group" name="duration" caption="Duration" ng-show="!document.status || isProposedOrApproved()">
																<div class="row">
																	<div class="col-md-2">
																		<input type="number" name="durationPeriod" ng-model="document.durationPeriod"
																			minlength="1" placeholder="eg. 24" ng-change="clearDates()" class="form-control"
																			style="display:inline-block;width:100px"/>
																	</div>
																	<div class="col-md-2">
																		<div class="km-control-group" name="durationText" caption="">
																			<div style="height: 0px;width:0px;opacity: 0;" name="durationText">
																				<label name="durationText" for="durationText">Duration period in day(s)/month(s)/year(s)</label>
																			</div>
																			<select name="durationText" ng-model="document.durationText"  class="form-control"
																				style="display:inline-block;width:100px" placeholder="eg. Months"
																				ng-options="obj.value as obj.text for obj in timing">
																			</select>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" name="activityScope" caption="Type of capacity development initiative">
												<div km-term-radio name="activityScope" ng-model="document.activityScope" terms="options.activityScope()"
														description="true" binding-type="term" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group"  bold="true" required name="isProjectProgramme" caption="Is this part of a larger project or programme?">
												<div class="km-yes-no" required name="isProjectProgramme" ng-model="document.isProjectProgramme" ng-click="isBroaderProjectSelected(!document.isProjectProgramme)"></div>
											</div>
										</div>
										<div class="col-md-12" ng-if="document.isProjectProgramme">
											<div class="col-md-5">
											<div class="km-control-group" required name="projectProgrammeName" caption="Please specify the name of project or programme.">
												<div km-textbox-ml required ng-model="document.projectProgrammeName" locales="document.header.languages"></div>
											</div>
											</div>
											<div class="col-md-2 text-center">
												and/or
											</div>
											<div class="col-md-5">
											<div class="km-control-group" required name="broaderProjects" caption="Please link to a clearing-house record about this project or programme.">
												<div document-selector ng-model="document.broaderProjects" question="broaderProjects"
														on-build-query="onBuildQuery(searchText,'capacityBuildingInitiative')" allow-new-schema="capacityBuildingInitiative" allow-new="true" filter="true"></div>
											</div>
											</div>
											</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" required  caption="Agency(ies) or organisation(s) implementing and/or executing the initiative">
												<div class="help-info">In some instances, an agency could play both the implementing and executing roles. In those cases, please select both boxes.</div>
												<div class="checkbox"><label for="isImplementedByAgencies"><input type="checkbox" id="isImplementedByAgencies" ng-model="document.isImplementedByAgencies" ng-click="isImpAgencies(!document.isImplementedByAgencies)">Implementing agency(ies) or organization(s)</label></div>

												<div class="row" >
													<div class="col-md-12">
														<div class="km-control-group" ng-show="document.isImplementedByAgencies" name="implementingAgencies" caption="Please select the implementing agency(ies) or organization(s)">
															<div class="help-info">Implementing agency refers to the organisation or legal entity responsible for developing the initiative and overseeing its
																implementation, monitoring and evaluation, including making funding available, ensuring that fiduciary standards and quality
																assurance are applied, and preparation of the project completion reports. The implementing agency is ultimately the entity
																responsible for the completion of the initiative and is accountable to the donor.</div>

															<div document-selector name="implementingAgencies" ng-model="document.implementingAgencies" question="implementingAgencies"
																	on-build-query="onBuildQuery(searchText,'organization')" allow-new-schema="organization" allow-new="true" filter="true"></div>
														</div>
													</div>
												</div>

												<div class="checkbox"><label for="isExecutededByAgencies"><input id="isExecutededByAgencies" type="checkbox" ng-model="document.isExecutededByAgencies" ng-click="isExcAgencies(!document.isExecutededByAgencies)">Executing agency(ies) or organization(s)</label></div>
												<div class="row">
													<div class="col-md-12">
														<div class="km-control-group" ng-show="document.isExecutededByAgencies" name="executingAgencies" caption="Please select the executing agency(ies) or organization(s)">
															<div class="help-info">Executing agency refers to the organisation/institution directly managing the initiative, including the day-to-day planning,
																coordination and execution of its activities, monitoring and reporting on the progress made, procuring and managing resources
																(staff, funds, equipment, etc.), and carrying out other project management functions.</div>
															<div document-selector ng-model="document.executingAgencies" question="executingAgencies"
																	on-build-query="onBuildQuery(searchText,'organization')"  allow-new-schema="organization" allow-new="true" filter="true"></div>
														</div>
													</div>
												</div>
												<div class="checkbox"><label for="isCollaboratededByPartners"><input type="checkbox" id="isCollaboratededByPartners" ng-model="document.isCollaboratededByPartners">Collaborating partner(s)</label></div>
												<div class="row">
													<div class="col-md-12">
														<div class="km-control-group" ng-show="document.isCollaboratededByPartners" name="collaboratingPartners" caption="Please select the collaborating partner(s)">
															<div class="help-info">Collaborating partners refer to entities or organizations making significant financial or other contribution to the initiative and/or
																actively supporting or collaborating in the implementation of the initiative.
															</div>
															<div document-selector ng-model="document.collaboratingPartners" question="collaboratingPartners"
																	on-build-query="onBuildQuery(searchText,'organization')"  allow-new-schema="organization" allow-new="true" filter="true"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section>
								<div class="well no-shadow bg-white">
									<legend>Detailed information</legend>

									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" required name="description" caption="Short description of the initiative, including its goals and objectives (max 150 words)">
												<div km-textbox-ml required ng-model="document.description" rows="4" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" required  name="categories" caption="Category(ies) of capacity development activities">
												<div km-term-check required show-description="true" name="categories" ng-model="document.categories" terms="options.absCategories()" binding-type="term[]" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" name="targetGroups" caption="Main target group(s)/beneficiary(ies)">
												<div km-term-check name="targetGroups"  ng-model="document.targetGroups" terms="options.targetGroups()" binding-type="term[]" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
									
								</div>
							</section>

							<section>
								<div class="well no-shadow bg-white">
									<legend>Information on thematic coverage of the initiative</legend>
									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group tabular-term-check" name="cbdSubjects"
													caption="Related CBD subject areas">
												<div km-term-check name="cbdSubjects" ng-model="document.cbdSubjects"
														terms="cbdSubjects()" binding-type="term[]" tabular-shape="true"></div>
											</div>
										</div>
									</div>

									<div class="row" ng-if="isABS">
										<div class="col-md-12">
											<div class="km-control-group" name="aichiTargets"
													caption="Aichi targets:">
												<div km-term-check name="aichiTargets" required ng-model="document.aichiTargets"
														terms="options.aichiTargets()" binding-type="term[]"></div>
											</div>
										</div>
									</div>

									<div class="row" ng-if="isABS">
										<div class="col-md-12">
											<div class="km-control-group" name="absKeyAreas"
													caption="Key areas and strategic measures for capacity-building and development">
												<div class="help-info">The key areas have been identified by the Strategic Framework for
													capacity-building and development to support the effective implementation of the Nagoya Protocol
													(decision NP-1/8).</div>
												<div km-term-check name="absKeyAreas" ng-model="document.absKeyAreas" terms="options.absKeyAreas()"
														binding-type="term[]"></div>
											</div>
										</div>
									</div>
									<div class="row" ng-if="isBCH">
										<div class="col-md-12">
											<div class="km-control-group tabular-term-check fourth-column" required name="cpbThematicAreas"
													caption="Thematic areas">
													<div km-term-check required name="cpbThematicAreas" ng-model="document.cpbThematicAreas" locales="document.header.languages"
													terms="options.cpbThematicAreas()" binding-type="term[]" show-description="true" tabular-shape="true"></div>
											</div>
										</div>
									</div>

								</div>
							</section>

							<section>
								<div class="well no-shadow bg-white">
									<legend>Information on funding</legend>

									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" name="fundingSourceTypes" caption="Type(s) of funding source(s)">
												<div km-term-check show-description="true" name="fundingSourceTypes" ng-model="document.fundingSourceTypes" terms="options.fundingSources()" binding-type="term[]"></div>
											</div>
										</div>
									</div>

								<div class="km-control-group" ng-show="isSelfFunding()" name="selfFunding" caption="Please provide further information on funding">
									<!-- ToDO: isSelfFunding method can also be used -->
									<div km-textbox-ml required="isSelfFunding()" rows="2" name="selfFunding" ng-model="document.fundingSourceTypes[document.fundingSourceTypes.length-1].customValue" placeholder="" locales="document.header.languages"></div>
								</div>

									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" name="coFinancingSources" caption="Primary funding source(s)">
												<div document-selector ng-model="document.coreFundingSources" question="coreFundingSources"
														on-build-query="onBuildQuery(searchText,'organization')" allow-new-schema="organization" allow-new="true" filter="true"></div>

											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" name="coFinancingSources" caption="Co-funding source(s)">
												<div document-selector ng-model="document.coFinancingSources" question="coFinancingSources"
														on-build-query="onBuildQuery(searchText,'organization')" allow-new-schema="organization" allow-new="true" filter="true"></div>

											</div>
										</div>
									</div>


									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" name="totalBudget" caption="Total budget (amount, in US dollars)">
												<div class="help-info">This may include in-kind contributions expressed in monetary terms. Please do not use spaces, periods or commas when you enter the amount.</div>
												<div class="input-group">
													<span class="input-group-addon">USD$</span>
													<input type="text" class="form-control" style="width:200px" required name="totalBudget" ng-model="document.totalBudget" />
												</div>
											</div>
										</div>
									</div>

								</div>
							</section>
							<section>
								<div class="well no-shadow bg-white">
									<legend>Capacity development outcomes</legend>
									<strong>Results</strong>
									<div class="help-info">This information can be provided once there are some results (outputs, outcomes or impacts) or best practices and lessons learned from the ongoing or completed initiative.</div>
										<div class="km-control-group" name="resultsAchievements" caption="">
											<div class="row">
												<div class="col-md-12">
													<div class="km-control-group" name="resultsAchievements" caption="Main achievements">
														<span class="help-info">Please provide a short summary of the main achievements of the initiative, including those related to advancing gender equality in achieving the objectives of the Convention and its Protocols, if applicable (max 200 words).</span>
														<div km-rich-textbox name="resultsAchievements" ng-model="document.resultsAchievements" rows="4" locales="document.header.languages"></div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-12">
													<div class="km-control-group" name="resultsOutputs" caption="Main outputs">
														<span class="help-info">Please provide a web link to, or attach a copy of, the relevant products (e.g. tools and materials) developed by the initiative and/or reports.</span>
														<div km-link name="resultsOutputs" ng-model="document.resultsOutputs" allow-link="true" allow-file="true" identifier="document.header.identifier" ></div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-12">
													<div class="km-control-group" name="resultsReference" caption="Please select the virtual library record number containing relevant information.">
														<div document-selector ng-model="document.resultsReference" question="resultsReference"
														on-build-query="onBuildQuery(searchText,'resource')" allow-new="true" filter="true"
																allow-new-schema="resource"></div>
													</div>
												</div>
											</div>
										</div>

									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" name="bestPractices" caption="Good practices and lessons learned">
												<span class="help-info">Please provide a short summary of the best practices and lessons learned (max 500 words).</span>
												<div km-rich-textbox name="bestPractices" ng-model="document.bestPractices" rows="4" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
								</div>
							</section>

							<section>
								<div class="well no-shadow bg-white">
									<legend>Additional information</legend>
									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" name="address" caption=" Any other relevant information" >
												<div class="help-info">Please use this field to provide any other relevant information that may not have been addressed elsewhere in the record.</div>
												<div km-rich-textbox ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" name="relevantDocuments" caption="Any other relevant documents">
												<div class="help-info">Please use this field to provide any other relevant website addresses and/or one or more relevant documents that will be stored in the database for users to download.</div>
												<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true" identifier="document.header.identifier" ></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" name="notes">
												<legend>Notes</legend>
												<span class="help-info">
														The “Notes” field is for personal use. It can only be seen when the record is being edited but is not visible when the record is published. This field is not meant to be used for confidential information.
													</span>
												<div km-notes name="notes" ng-model="document.notes"></div>
											</div>
										</div>
									</div>
								</div>

							</section>
						</div>
					</form>
				</edit-form>
				<review-form>
					<view-capacity-building-initiative ng-model="review.document" locale="review.locale" allow-drafts="true"></view-capacity-building-initiative>
				</review-form>
				<!-- <publish-form></publish-form> --> <!-- use when you wan to display more than publish buttons -->
			</div>

		</div>
	</div>
</div>
