<div class="editHeader">
    <link href="/app/css/register.css" rel="stylesheet">
    <link href="/app/css/record.css" rel="stylesheet">
    <span register-top-menu></span>

    <div class="register-content-header mb-0"
        ng-class="{'bg-blue': schemaType != 'referenceRecords','bg-orange': schemaType == 'referenceRecords' }">

        <div class="p-1 d-flex justify-content-between align-items-center">
            <h3 class="py-0 px-1 m-0 fw-normal">
                <a class="text-decoration-none text-white" rel="noopener" href="/register/{{type}}"
                    class="color-white"><span ng-bind="type|mapSchema|schemaName"></span> (<span ng-bind="type"></span>)
                </a>
            </h3>
            <span class="btn-group float-end dashboard-tour pt-1">
                <a rel="noopener" ng-href="#" class="text-white text-decoration-none d-flex align-items-center"
                    ng-click="tour()">
                    <i class="bi bi-question-circle-fill"></i>
                    <span class="ms-1 d-md-block d-none fs-6">{{::('editHeaderT.tour'|$translate)}}</span>
                </a>
            </span>
            <!-- TODO:delete it after testing -->
            <!-- <h3 style="padding: 0 5px 0 5px; margin: 0; font-weight: normal;"> 
                <a rel="noopener" href="/register/{{type}}" class="color-white">
                    <span ng-bind="type|mapSchema|schemaName"></span> (<span ng-bind="type"></span>)  
                </a>
             </h3> -->
        </div>
    </div>
    <joyride ng-if="tourOn"></joyride>
</div>