<div ng-controller="editAuthority">
    <div>
        <div ng-include="'/app/views/forms/edit/edit_header.html'"></div>
        <div style="padding: 24px;background-color:#FFF;;border-bottom:2px solid #ccc;">
            <div class="registerpage-content">

                <warning-message-cna doc="document"></warning-message-cna>

                <div workflow-arrow-buttons document="getCleanDocument()" languages="document.header.languages" tab="tab">
                    <edit-form>
                        <form class="editForm" name="editForm">

                            <div ng-show="tab=='edit'" km-tab="edit">
                                <legend name="formInfo" style="display:none"></legend>

                                <br>
                                <div class="row">
                                        <div class="col-xs-12">
                                            <div class="km-control-group" name="languages" required caption=" Please select in which language(s) you wish to submit this record:">
                                                <div class="indent">
                                                    <div km-form-languages required name="languages" ng-model="document.header.languages"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
			
                                <section>
                                    <legend name="generalInfo">General information</legend>

                                    <div class="row">
                                        <div class="col-xs-12" >
                                            <div class="km-control-group" name="languages" required caption=" Please select in which language(s) you wish to submit this record:">
                                                <div class="indent">
                                                    <div km-form-languages required name="languages" ng-model="document.header.languages"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="km-control-group" name="government" required caption="Country">
                                                <div>
                                                    <div afc-autocomplete required name="government" ng-disabled="userGovernment()"
                                                        ng-model="document.government" source="options.countries"
                                                        filter="genericFilter" mapping="genericMapping" selectbox="true"
                                                        placeholder="Please select a country..."></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="km-control-group" name="name" required caption="Name of the Competent National Authority">
                                                <div class="help-info"> Provide the name of the responsible entity e.g.
                                                    Ministry of Environment. Bear in mind that the name of the CNA will
                                                    help to identify the record in the ABS Clearing-House.</div>
                                                <div km-textbox-ml name="name" required ng-model="document.name" rows="1"
                                                    placeholder="" locales="document.header.languages"></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section>
                                    <legend name="coordinates">Coordinates</legend>
                                    <div class="help-info">The coordinates will help users of genetic resources to get
                                        in contact with the CNA. It is important to keep this information up to date in
                                        order to provide users with recent and accurate information.</div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="km-control-group" name="address" caption="Address">
                                                <div km-textbox-ml ng-model="document.address" rows="2" placeholder="example: 413 St-Jacques Ouest, Suite 800"
                                                    locales="document.header.languages"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="km-control-group" name="city" required caption="City">
                                                <div km-textbox-ml name="city" ng-model="document.city" required
                                                    locales="document.header.languages" placeholder="example: Montreal"></div>
                                            </div>
                                        </div>

                                        <div class="col-xs-6">
                                            <div class="km-control-group" name="state" caption="State or Province">
                                                <div km-textbox-ml name="state" ng-model="document.state" locales="document.header.languages"
                                                    placeholder="example: Quebec"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-xs-6">
                                            <div class="km-control-group" name="postalCode" caption="Postal Code or Zip">
                                                <div km-textbox-ml name="postalCode" ng-model="document.postalCode"
                                                    locales="document.header.languages" placeholder="example: H2Y 1N9"></div>
                                            </div>
                                        </div>

                                        <div class="col-xs-6">
                                            <div class="km-control-group" name="country" required caption="Country">
                                                <div afc-autocomplete name="country" ng-model="document.country" source="options.countries"
                                                    filter="genericFilter" mapping="genericMapping" selectbox="true"
                                                    required></div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="km-control-group" name="phones" required caption="Phone numbers">
                                                <div km-inputtext-list name="phones" ng-model="document.phones"
                                                    required placeholder="example: +1 514.288.2220"></div>
                                            </div>
                                        </div>

                                        <div class="col-xs-6">
                                            <div class="km-control-group" name="faxes" caption="Fax Numbers">
                                                <div km-inputtext-list name="faxes" ng-model="document.faxes"
                                                    placeholder="example: +1 514.288.6588"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="km-control-group" name="emails" required caption="Emails">
                                                <div km-inputtext-list name="emails" required type="email" ng-model="document.emails"
                                                    placeholder="example: secretariat@cbd.int"></div>
                                            </div>
                                        </div>

                                        <div class="col-xs-6">
                                            <div class="km-control-group" name="websites" caption="Website address">
                                                <div km-link name="websites" ng-model="document.websites" allow-link="true"
                                                    allow-file="false"></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <legend name="contactInfo">Contact Information</legend>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="km-control-group" name="contacts" caption="Additional contacts">

                                            <div document-selector ng-model="document.contacts" question="contacts"
                                                government="document.government" schema="(contact authority)" filter="true"></div>

                                        </div>
                                    </div>
                                </div>
                                </section>

                                <section>
                                    <legend name="policyBasis">Legal, administrative or policy basis for the competence
                                        of the CNA</legend>
                                    <div class="help-info">In this section, a reference to the related ABS measure
                                        granting the competence of the CNA can be included. In order to link the CNA to
                                        a relevant ABS measure, the record of the ABS measure needs to be entered
                                        first. Therefore, if you have not yet submitted the relevant ABS measure, you
                                        may wish to save the CNA as a draft and publish the ABS measure before.</div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="km-control-group" name="absPolicyBasisForCompetencyRef" caption="Provide a link to any relevant legal, administrative or policy measures">
                                                <div document-selector ng-model="document.absPolicyBasisForCompetencyRef"
                                                    question="absPolicyBasisForCompetencyRef" government="document.government"
                                                    schema="measure" filter="true"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="km-control-group" name="absPolicyBasisForCompetency" caption="If needed, provide additional information on the legal, administrative or policy basis for the competence of the CNA:"></div>
                                            <div km-rich-textbox ng-model="document.absPolicyBasisForCompetency" rows="6"
                                                placeholder="" locales="document.header.languages"></div>
                                        </div>
                                    </div>
                                </section>


                                <section>
                                    <legend name="responsibilities">Responsibilities</legend>
                                    <div class="help-info">
                                        Article 13, paragraph 4 provides that "Where a Party designates more than one
                                        competent national authority, it shall convey to the Secretariat, with its
                                        notification thereof, relevant information on the respective
                                        responsibilities of those authorities. Where applicable, such information,
                                        shall, at a minimum, specify which competent authority is responsible for the
                                        genetic resource sought".
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="km-control-group" ng-show="showResponsibleforAllMsg()" name="absResponsibleForAllNot"
                                                caption="There is already a CNA for your country, please specify the scope of responsibilities of each CNA." />

                                            <div class="km-control-group" name="absResponsibleForAll" required caption="Is this the only designated competent national authority (CNA) in your country? If “no”, please describe the responsibilities of this competent national authority (CNA).">

                                                <div km-yes-no required ng-model="document.absResponsibleForAll"
                                                    locales="document.header.languages"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- IF NO SECTION -->
                                    <div ng-class="{'disable':(document.absResponsibleForAll==true || document.absResponsibleForAll==null), 'bg-white':!(document.absResponsibleForAll==true || document.absResponsibleForAll==null) }"
                                        class="well no-shadow" style="padding-top:0;padding-bottom:0;">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <h4 ng-show="document.absResponsibleForAll==null">
                                                            If "no", the following information is required.</h4>
                                                        <h4 ng-show="document.absResponsibleForAll==true">
                                                            This section is not required.</h3>
                                                            <div ng-show="document.absResponsibleForAll==false">
                                                                <h4 class="color-red">
                                                                    This section is required when there is more than
                                                                    one competent national authority (CNA).
                                                                    Please ensure that the responsibilities for each
                                                                    competent national authority (CNA) are well
                                                                    described in all published records.
                                                                </h4>
                                                            </div>

                                                            <div class="km-control-group" name="responsibilities"
                                                                caption="Short description of CNA responsibilities (maximum 300 characters)."
                                                                required>
                                                                <div class="help-info">Article 13, paragraph 2 provides
                                                                    that “Competent national authorities shall, in
                                                                    accordance with applicable national legislative,
                                                                    administrative or policy measures, be responsible
                                                                    for granting access or, as applicable, issuing
                                                                    written evidence that access requirements have been
                                                                    met and be responsible for advising on applicable
                                                                    procedures and requirements for obtaining prior
                                                                    informed consent and entering into mutually agreed
                                                                    terms”. Remember that the purpose of this section
                                                                    is to help users understand responsibilities
                                                                    regarding access to genetic resources and should
                                                                    answer the question: Who grants access for what?
                                                                    The description of responsibilities should be short
                                                                    and clear to understand. </div>
                                                                <div km-rich-textbox name="responsibilities" ng-model="document.responsibilities"
                                                                    rows="6" placeholder="" locales="document.header.languages"
                                                                    required></div>
                                                            </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="km-control-group" name="absJurisdiction" caption="Area of jurisdiction for granting access to genetic resources"
                                                            required>
                                                            <div class="help-info">The information on the area of
                                                                jurisdiction (national/federal, subnational, or
                                                                community level) helps to map out the different
                                                                responsibilities among various CNAs.</div>
                                                            <div km-select multiple name="absJurisdiction" ng-model="document.absJurisdiction"
                                                                items="options.jurisdictions()" required></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div ng-show="showJurisdictionName()">
                                                            <div class="km-control-group" name="absJurisdictionName"
                                                                required caption="Name of the jurisdiction(s)">
                                                                <div km-textbox-ml ng-model="document.absJurisdictionName"
                                                                    rows="1" locales="document.header.languages"
                                                                    placeholder="jurisdition names"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="km-control-group" name="absGeneticResourceTypes"
                                                            caption="Keywords to describe  scope of CNA responsibilities">
                                                            <div class="help-info">The collection of this information
                                                                is important for facilitating harmonized searches
                                                                throughout the records. Please select all relevant
                                                                keywords that could assist in describing the
                                                                responsibilities of the competent national authority.</div>
                                                            <div km-select multiple name="absGeneticResourceTypes"
                                                                ng-model="document.absGeneticResourceTypes" items="options.keywords()"
                                                                show-description="true"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END IF NO SECTION -->
                                </section>




                                <section>
                                    <legend>Additional Information</legend>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="km-control-group" name="relevantInformation" caption="Additional Information">
                                                <div class="help-info">Please use this field to provide any other
                                                    relevant information that may not have been addressed elsewhere in
                                                    the record.</div>
                                                <div km-rich-textbox name="relevantInformation" rows="6" ng-model="document.relevantInformation"
                                                    locales="document.header.languages"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="km-control-group" name="relevantDocuments" caption="Other relevant website address or attached documents">
                                                <div km-link name="relevantDocuments" ng-model="document.relevantDocuments"
                                                    identifier="document.header.identifier"></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section>
                                    <legend>Notes</legend>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="km-control-group" name="notes">
                                                <div class="help-info">The “Notes” field is for your personal notes or
                                                    comments and will be hidden when viewing the record. This field is
                                                    not meant to be used for confidential information.</div>
                                                <textarea class="form-control" rows="4" name="notes" ng-model="document.notes"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </form>
                    </edit-form>
                    <review-form>
                        <view-authority ng-model="reviewDocument" locale="review.locale" allow-drafts="true"></view-authority>
                    </review-form>
                </div>

            </div>

        </div>
    </div>
</div>
