<div ng-show="showWarning">
    <div class="alert alert-danger" ng-if="responsibleCNA && responsibleCNA.numFound > 0">
        <h3>You have already published a CNA which is indicated as the only designated CNA for your country. 
            </h3>
            <h5> Please update the following record before publishing a new record:</h5>
            <div id="search-new">
            <div ng-repeat="rec in responsibleCNA.docs">
                <result-default doc='rec' type="nationalRecords"></result-default>
            </div>
            </div>
    </div>
</div>
