<div class="bs5">
    <div class="bs5 new-css-home-section-top-bch min-vh-100" >
        <div class="bs5 container">

            <h1 class="bs5 display-6 fs-1 fs-sm-4 lh-sm color-white mx-3 my-3 pt-md-5 pb-md-2 my-lg-5 pt-lg-5 pb-lg-2">
                The Biosafety Clearing-House (BCH) is an online platform for exchanging information on Living Modified
                Organisms (LMOs) and a key tool for facilitating the implementation of the Cartagena Protocol on
                Biosafety.</h1>

            <div class="bs5 row justify-content-md-center p-0 pt-sm-2 pt-sm-3  ">
                <div class="bs5 col-md-12 col-lg-4 new-display-flex">
                    <div class="bs5 rounded card new-card shadow-lg border-0 m-3 m-lg-4">
                        <div class="bs5 card-body">
                            <div class="bs5 d-flex position-relative ">
                               
                                <img src="/app/img/new-home/Lightbulb (1).svg" alt="learn about bch" class="new-css-boxes-icons">
                                <div class="ps-3">
                                    <h2 class="bs5 fw-bold text-left mt-2 mb-4">Learn about the BCH</h2>
                                    <ul>
                                        <li><a class="link-dark text-decoration-none" rel="noopener" translation-url  href="/kb">About the BCH</a></li>
                                        <li><a class="link-dark text-decoration-none" rel="noopener" translation-url href="http://bch.cbd.int/protocol">About the Protocol</a></li>
                                        <li><a class="link-dark text-decoration-none" rel="noopener" translation-url href="/kb/faqs">FAQs</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="bs5 card-footer new-css-card-footer text-muted">
                            <a class="bs5 text-end nav-link fs-4 fw-bold text-uppercase color-white" href="/kb">
                                Get Started
                                <i class="fa fa-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="bs5 rounded col-md-12 col-lg-4 new-display-flex">
                    <div class="bs5 card new-card shadow-lg border-0 m-3 m-lg-4">
                        <div class="bs5 card-body">
                            <div class="bs5 d-flex position-relative ">
                                <img src="/app/img/new-home/search_dna (1).svg" alt="search bch" class="new-css-boxes-icons">
                                <div  class="ps-3">
                                    <h2 class="bs5 fw-bold text-left mt-2 mb-4">Search records</h2>

                                    <ul>
                                        <li><a class="link-dark text-decoration-none" rel="noopener" translation-url href="/search?openTour">Take the Tour</a></li>
                                        <li><a class="link-dark text-decoration-none" rel="noopener" translation-url href="/kb/tags/finding-information/Searching-for-information-in-the-BCH/5ffe522c261fe900012a104b">Help using the Search</a></li>
                                        <li><a class="link-dark text-decoration-none" rel="noopener" translation-url href="/registries">Registries: LMO-Organism-Gene</a></li>
                                        <li><a class="link-dark text-decoration-none" rel="noopener" translation-url href="/search?currentPage=1&tab=nationalRecords&group=government&group=schema&schema=cpbNationalReport4">Fourth National Reports</a></li>
                                    </ul>


                                </div>
                            </div>
                        </div>
                        <div class="bs5 card-footer new-css-card-footer text-muted">
                            <a class="bs5 text-end nav-link fs-4 fw-bold text-uppercase color-white" href="/search">Search <i class="fa fa-arrow-right"></i> </a>
                        </div>
                    </div>

                </div>
                <div class="bs5 rounded col-md-12 col-lg-4 new-display-flex">
                    <div class="bs5 card new-card shadow-lg border-0 m-3 m-lg-4">
                        <div class="bs5 card-body">
                            <div class="bs5 d-flex position-relative ">
                                <img src="/app/img/new-home/Upload (1).svg" alt="submit bch" class="new-css-boxes-icons">
                                <div class="ps-3">
                                    <h2 class="bs5 fw-bold text-left mt-2  mb-4">Submit records</h2>
                                    
                                    <ul>
                                        <li><a class="link-dark text-decoration-none" rel="noopener" translation-url href="/signin">Sign in</a></li>
                                        <li><a class="link-dark text-decoration-none" rel="noopener" translation-url href="/register?openTour">Take the Tour</a></li>
                                        <li><a class="link-dark text-decoration-none" rel="noopener" translation-url href="/kb/tags/submitting-information/Step-by-step-guide-for-submitting-and-publishing-a-new-record-in-the-BCH/5ffe5700261fe900012a1057">Help submitting records</a></li>
                                    </ul>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="bs5 card-footer new-css-card-footer text-muted">
                            <a class="bs5 text-end nav-link fs-4 fw-bold text-uppercase color-white" href="/register">Submit
                                <i class="fa fa-arrow-right"></i> </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="cursor-pointer bs5 my-2 my-lg-5 mt-lg-5 p-2 pt-lg-5 text-center   hidden-sm hidden-xs">
                <a class= "text-decoration-none" ng-click="exploreMore();">
                  <span class="bs5 display-6 fs-1 rounded  py-3 px-5 color-white new-explore-btn">Explore the map <i class="fa  fa-arrow-down"></i></span>
                </a>
              </div >
            
        </div>
    </div>

    <div id="homePageMapSection" class="bs5  min-vh-100 new-css-home-section-map hidden-sm hidden-xs" >
            <home-map></home-map>
    </div>

    <div class="bs5 min-vh-100 ">
        <div class="bs5 container ">
            <p class="bs5 display-6 pt-5 mt-5 fw-bold">Announcements
                <hr>
            </p>
            <home-articles tags="BCH-Announcement"></home-articles>
            <div class="bs5 text-end mt-4 new-css-down-margin">
                <a class="bs5 nav-link fs-4 text-muted fw-bold text-uppercase" href="/kb/tags/bch-announcement/">
                    See more <i class="fa fa-arrow-right"></i> </a>
            </div>
        </div>
    </div>
    <div class="bs5 min-vh-100 home-page-record">
        <div class="bs5 container ">
            <p class="bs5 display-6 fw-bold">National records
                <hr>
            </p>
            <div ng-if="exportVueComponent">
                <homepage-records ng-vue="exportVueComponent" type="national" :rows="recordCount"></homepage-records>
            </div>
        </div>
    </div>
    <div class="bs5 min-vh-100 home-page-record">
        <div class="bs5 container ">
            <p class="bs5 display-6 fw-bold">Reference records
                <hr>
            </p>
            <div ng-if="exportVueComponent">
                <homepage-records ng-vue="exportVueComponent" type="reference" :rows="recordCount"></homepage-records>
            </div>
        </div>
    </div>

</div>
