<div>
    <div class="home-section-top-absch">
        <div class="container py-5">
            <span class="lh-sm fs-4 color-white my-3">
                {{::('absHomeT.absDescription'|$translate)}}
                <a href="kb/tags/about/About"
                    class="link-light text-decoration-underline">{{::('absHomeT.learnMore'|$translate)}}</a>
            </span>
            <div class="row mt-2 py-3">
                <div class="col-sm-12 col-md-4 p-2 d-none d-sm-none d-md-none d-lg-block" style="white-space:nowrap;">
                    <a class="text-decoration-none cursor-pointer link-light" ng-click="scrollTo('homePageMapSection');">
                        <div class="rounded p-2 fs-5 p-1 bg-green text-uppercase border border-1 border-dark border-secondary w-100 text-center">
                            <i class="bi bi-globe"></i>
                            {{::('absHomeT.exploreMap'|$translate)}}
                            <i class="fa  fa-arrow-down"></i>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12 col-md-4 p-2" style="white-space:nowrap;">
                    <a class="text-decoration-none cursor-pointer link-light " ng-click="scrollTo('gettingStartedSection');">
                        <div class="rounded p-2 fs-5 p-1  bg-green text-uppercase border border-1 border-dark border-secondary w-100 text-center">
                            <i class="bi bi-lightbulb"></i>
                            {{::('absHomeT.getStarted'|$translate)}}
                            <i class="fa  fa-arrow-down"></i>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12 col-md-4 p-2" style="white-space:nowrap;"> <a
                        class="text-decoration-none cursor-pointer link-light " ng-click="scrollTo('recentRecordsSection');">
                        <div class="rounded p-2 fs-5  p-1  bg-green text-uppercase border border-1 border-dark border-secondary w-100 text-center">
                            <i class="bi bi-table"></i>
                            {{::('absHomeT.recentRecords'|$translate)}}
                            <i class="fa  fa-arrow-down"></i>
                        </div>
                    </a></div>
            </div>
            <div>
                <p class="fs-2 m-0 mt-4 color-white">
                    {{::('absHomeT.announcements'|$translate)}}
                    <hr class="m-0 color-white">
                </p>
                <div ng-if="announcementCounts" class="pt-3">
                    <home-articles tags="absch-announcement" layout="vertical" show-summary="true" counts="{{announcementCounts}}"></home-articles>
                </div>
                <div class="text-end mt-4 card-down-margin">
                    <a class="nav-link fs-6 fw-bold text-uppercase color-white" href="kb/tags/absch-announcement/">
                        {{::('absHomeT.seeMore'|$translate)}} <i class="fa fa-arrow-right"></i> </a>
                </div>
            </div>
        </div>
    </div>

    <div id="homePageMapSection" class="max-vh-100 bg-white d-none d-lg-block overflow-hidden">
        <home-map></home-map>
    </div>

    <!-- Gettingstarted -->
    <div class="container pb-3 mb-3" id="gettingStartedSection">
        <div class="row justify-content-md-center p-0 pt-sm-2 pt-sm-3  ">
            <p class="fs-2 m-0 pt-md-4 mt-4 fw-bold ">
                {{::('absHomeT.getStarted'|$translate)}}
                <hr class="m-0">
            </p>
            <div class="rounded col-12 col-lg-4 d-flex py-lg-3">
                <div class="card w-100 shadow-lg border-0 m-3 bg-white ">
                    <h5 class="card-header bg-green">
                        <a class="link-light fs-6 fw-bold text-uppercase" rel="noopener" translation-url
                            href="kb/tags/about/About">
                            <i class="bi bi-lightbulb pe-3" alt="Learn"></i>
                            {{::('absHomeT.learn'|$translate)}}
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </h5>
                    <div class="card-body">
                        <ul>
                            <li><a class="link-dark text-decoration-none" rel="noopener" translation-url
                                    href="kb">{{::('absHomeT.aboutAbs'|$translate)}}</a></li>
                            <li><a class="link-dark text-decoration-none" rel="noopener" translation-url
                                    href="http://www.cbd.int/abs">{{::('absHomeT.aboutProtocol'|$translate)}}</a></li>
                            <li><a class="link-dark"
                                    href="/kb/tags/getting-started/Getting-started-using-the-ABS-Clearing-House-for-Governments/5bbe211fb899670001de9bb9">Getting
                                    started for governments</a></li>
                            <li><a class="link-dark text-decoration-none" rel="noopener" translation-url
                                    href="kb/faqs">{{::('absHomeT.faq'|$translate)}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="rounded col-12 col-lg-4 d-flex py-lg-3">
                <div class="card w-100 shadow-lg border-0 m-3 bg-white ">
                    <h5 class="card-header bg-green">
                        <a class="link-light fs-6 fw-bold text-uppercase" rel="noopener" translation-url
                            href="search">
                            <i class="bi bi-search pe-3" alt="Search"></i>
                            {{::('absHomeT.search'|$translate)}} 
                            <i class="fa fa-arrow-right"></i> </a>
                    </h5>
                    <div class="card-body">
                        <ul>
                            <li><a class="link-dark text-decoration-none" rel="noopener" translation-url
                                    href="search?openTour">{{::('absHomeT.takeTour'|$translate)}}</a></li>
                            <li><a class="link-dark text-decoration-none" rel="noopener" translation-url
                                    href="kb/tags/finding-information">{{::('absHomeT.helpFindingInfo'|$translate)}}</a>
                            </li>
                            <li><a class="link-dark text-decoration-none" rel="noopener" translation-url
                                    href="countries">{{::('absHomeT.countryProfiles'|$translate)}}</a></li>
                            <li><a class="link-dark text-decoration-none" rel="noopener" translation-url
                                    href="reports">{{::('absHomeT.nationalReports'|$translate)}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="rounded col-12 col-lg-4 d-flex py-lg-3">
                <div class="card w-100 shadow-lg border-0 m-3 bg-white ">
                    <h5 class="card-header bg-green">
                        <a class="link-light fs-6 fw-bold text-uppercase" rel="noopener" translation-url
                            href="register">
                            <i class="bi bi-upload pe-3" alt="Share"></i>
                            {{::('absHomeT.submit'|$translate)}}
                            <i class="fa fa-arrow-right"></i> </a>
                    </h5>
                    <div class="card-body">
                        <ul>
                            <li ng-if="!user.isAuthenticated"><a class="link-dark text-decoration-none" rel="noopener"
                                    translation-url href="signin">{{::('absHomeT.signIn'|$translate)}}</a></li>
                            <li><a class="link-dark text-decoration-none" rel="noopener" translation-url
                                    href="https://accounts.cbd.int/profile">{{::('absHomeT.getAccount'|$translate)}}</a>
                            </li>
                            <li><a class="link-dark text-decoration-none" rel="noopener" translation-url
                                    href="register?openTour">{{::('absHomeT.takeTour'|$translate)}}</a></li>
                            <li><a class="link-dark text-decoration-none" rel="noopener" translation-url
                                    href="kb/tags/submitting-information/Submitting-information">{{::('absHomeT.helpPublishingRecords'|$translate)}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END Gettingstarted -->

    <div class="max-vh-100 home-page-record pt-4 mt-4" id="recentRecordsSection">
        <div class="container">
            <p class="fs-2 m-0 fw-bold">{{::('absHomeT.nationalRecords'|$translate)}}
                <hr class="m-0">
            </p>
            <div ng-if="exportVueComponent">
                <homepage-records ng-vue="exportVueComponent" type="national" :rows="recordCount"></homepage-records>
            </div>
        </div>
    </div>
    <div class="home-page-record">
        <div class="container ">
            <p class="fs-2 m-0 fw-bold">{{::('absHomeT.referenceRecords'|$translate)}}
                <hr class="m-0">
            </p>
            <div ng-if="exportVueComponent">
                <homepage-records ng-vue="exportVueComponent" type="reference" :rows="recordCount"></homepage-records>
            </div>
        </div>
    </div>
</div>