<link href="/app/css/index.css" rel="stylesheet">
<link href="/app/css/carousel.css" rel="stylesheet">
<div >
    <div smooth-scroll duration="100" offset="200"></div>
    
   
    <div>
        <div id="Jumbotron" class="JumboHeader bg-green">
            <div class="container">
    
                <p class="headlineText color-white">
                   The ABS Clearing-House is a platform for exchanging information on and a key tool for 
                        facilitating the implementation of the Nagoya Protocol on ABS.
                       
                </p>
    
                <div class="row">
                    <div class="col-md-4">
                        <div class="card" style="background-color:white;width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title"> <i class="fa fa-sign-in color-orange"></i> Learn about the BCH</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk
                                    of the card's content.</p>
                            </div>
                            <div class="card-footer">
                                <a class="cardFooterLink pull-right" href="#">Get Started <i class="fa fa-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title"> <i class="fa fa-search color-orange"></i> Search records</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                    of the card's content.</p>
    
                            </div>
                            <div class="card-footer">
                                <a class="cardFooterLink pull-right" href="#"> Search  <i class="fa fa-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title"> <i class="fa fa-upload color-orange"></i> Submit records</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                    of the card's content.</p>
                            </div>
                            <div class="card-footer">
                                <a class="cardFooterLink pull-right" href="#"> Submit records  <i class="fa fa-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
    
    
            </div>
        </div>
    
        <div style="position: absolute;">
            <a class="button btn btn-default"> Explore the map</a>
        </div>
   
    <div id="Jumbotron" style="border-top:1px solid #555;border-bottom:2px solid #ddd;" >
       <home-map></home-map>
    </div>

    <div>
        
        <div>
            <home-articles-small></home-articles-small>
        </div>

        <div>
            <home-country-dashboard></home-country-dashboard>
        </div>

        <div class="clearfix"></div>

        <div style="margin-top:50px!important;">
            <h4 style="padding-bottom:5px;margin-bottom:0;">About the Nagoya Protocol</h4>
            <div style="border-top:1px solid #DDD;"></div>
            <div class="row" style="padding-top:20px;">
                <div class="col-md-8">
                    <div class="home-col">
                        The Nagoya Protocol on Access to Genetic Resources and the Fair and Equitable Sharing of Benefits Arising from their Utilization to the Convention on Biological Diversity is an international agreement which aims at sharing the benefits arising from the
                        utilization of genetic resources in a fair and equitable way, including by appropriate access to genetic resources and by appropriate transfer of relevant technologies, taking into account all rights over those resources and to
                        technologies, and by appropriate funding, thereby contributing to the conservation of biological diversity and the sustainable use of its components.
                        <a rel="noopener" translation-url  href="http://www.cbd.int/abs"> <i class="fa fa-chevron-circle-right"></i> read more at: www.cbd.int/abs</a>
                    </div>
                    <br>
                </div>

                <div class="col-md-4">
                    <div class="home-col">
                        <div class="text-center " ng-show="entryintoforce">
                            <div class="row" >
                                <div  class="col-xs-4 bg-green">
                                    <span class="color-white" style="font-weight:550; font-size:32px;text-shadow: 0 1px 2px rgba(0, 0, 0, .6);" ng-bind="yearsSinceEntry"></span>
                                    <br>
                                    <span style="color:#ddd;text-transform: uppercase;font-weight:bold;font-size:14px;">year<span ng-if="yearsSinceEntry != 1">s</span>
                                    </span>
                                </div>
                                <div  class="col-xs-4 bg-green" style="border-left:3px solid #eee;; border-right:3px solid #eee;">
                                    <span class="color-white" style="font-weight:550; font-size:32px;text-shadow: 0 1px 2px rgba(0, 0, 0, .6);" ng-bind="monthsSinceEntry"></span>
                                    <br>
                                    <span style="color:#ddd;text-transform: uppercase;font-weight:bold;font-size:14px;">month<span ng-if="monthsSinceEntry != 1">s</span>
                                    </span>
                                </div>
                                <div  class="col-xs-4 bg-green" >
                                    <span class="color-white" style="font-weight:550; font-size:32px;text-shadow: 0 1px 2px rgba(0, 0, 0, .6);" ng-bind="daysSinceEntry"></span>
                                    <br>
                                    <span style="color:#ddd;text-transform: uppercase;font-weight:bold;font-size:14px;">day<span ng-if="daysSinceEntry != 1">s</span>
                                    </span>
                                </div>
                            </div>
                            <div style="color:#666;text-transform:uppercase;font-weight:bold;font-size:14px;">
                                Since the entry into force of the Nagoya Protocol</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<style>
    .JumboHeader{
    height:350px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    }
    .headlineText {
        padding: 30px 0;
        font-size: 26px;
        line-height: 120%;
        color: white !important;
    }

    .cardFooterLink {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        color: white;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0px;
        border-radius: 0.25rem;
    }

    .card>hr {
        margin-right: 0;
        margin-left: 0;
    }

    .card>.list-group {
        border-top: inherit;
        border-bottom: inherit;
    }

    .card>.list-group:first-child {
        border-top-width: 0;
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
    }

    .card>.list-group:last-child {
        border-bottom-width: 0;
        border-bottom-right-radius: calc(0.25rem - 1px);
        border-bottom-left-radius: calc(0.25rem - 1px);
    }

    .card>.card-header+.list-group,
    .card>.list-group+.card-footer {
        border-top: 0;
    }

    .card-body {
        flex: 1 1 auto;
        padding: 1rem 1rem;
    }

    .card-title {
        margin-bottom: 0.5rem;
        font-size: 120%;
    }

    .card-subtitle {
        margin-top: -0.25rem;
        margin-bottom: 0;
    }

    .card-text:last-child {
        margin-bottom: 0;
    }

    .card-link+.card-link {
        margin-left: 1rem;
    }

    .card-header {
        padding: 0.5rem 1rem;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    .card-header:first-child {
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }

    .card-footer {
        padding: 0.5rem 1rem;
        background-color: #1a536c;
        border-top: 1px solid rgba(0, 0, 0, 0.125);
    }

    .card-footer:last-child {
        border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
    }

    .card-header-tabs {
        margin-right: -0.5rem;
        margin-bottom: -0.5rem;
        margin-left: -0.5rem;
        border-bottom: 0;
    }

    .card-header-pills {
        margin-right: -0.5rem;
        margin-left: -0.5rem;
    }

    .card-img-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        border-radius: calc(0.25rem - 1px);
    }

    .card-img,
    .card-img-top,
    .card-img-bottom {
        width: 100%;
    }

    .card-img,
    .card-img-top {
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
    }

    .card-img,
    .card-img-bottom {
        border-bottom-right-radius: calc(0.25rem - 1px);
        border-bottom-left-radius: calc(0.25rem - 1px);
    }

    .card-group>.card {
        margin-bottom: 0.75rem;
    }

    @media (min-width: 576px) {
        .card-group {
            display: flex;
            flex-flow: row wrap;
        }

        .card-group>.card {
            flex: 1 0 0%;
            margin-bottom: 0;
        }

        .card-group>.card+.card {
            margin-left: 0;
            border-left: 0;
        }

        .card-group>.card:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .card-group>.card:not(:last-child) .card-img-top,
        .card-group>.card:not(:last-child) .card-header {
            border-top-right-radius: 0;
        }

        .card-group>.card:not(:last-child) .card-img-bottom,
        .card-group>.card:not(:last-child) .card-footer {
            border-bottom-right-radius: 0;
        }

        .card-group>.card:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .card-group>.card:not(:first-child) .card-img-top,
        .card-group>.card:not(:first-child) .card-header {
            border-top-left-radius: 0;
        }

        .card-group>.card:not(:first-child) .card-img-bottom,
        .card-group>.card:not(:first-child) .card-footer {
            border-bottom-left-radius: 0;
        }
    }
</style>