<div>
   <div class="box box-primary  no-padding">
       <div class="box-header with-border">
         <h3 class="box-title">Read Mail</h3>
<!--         <div class="box-tools pull-right">
           <a rel="noopener" translation-url  href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Previous"><i class="fa fa-chevron-left"></i></a>
           <a rel="noopener" translation-url  href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Next"><i class="fa fa-chevron-right"></i></a>
         </div>-->
       </div>
       <div class="box-body no-padding">
         <div class="mailbox-read-info">
           <h3>{{mail.data.subject}}</h3>
           <h5>From: {{mail.createdBy_info.firstName + ' ' + mail.createdBy_info.lastName}} &lt;{{mail.createdBy_info.email}}&gt; <span class="mailbox-read-time pull-right">{{mail.createdOn|formatDate}}</span></h5>
         </div>
         <div class="mailbox-controls with-border text-center">
           <div class="btn-group">
             <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></button>
             <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="Reply"><i class="fa fa-reply"></i></button>
             <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="Forward"><i class="fa fa-share"></i></button>
           </div>
           <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="Print"><i class="fa fa-print"></i></button>
         </div>
         <div class="mailbox-read-message">
           {{mail.data.message}}
         </div>
       </div>
       <div class="box-footer">
       </div>
       <div class="box-footer">
         <div class="pull-right">
           <button type="button" class="btn btn-default" ng-click="reply()"><i class="fa fa-reply"></i> Reply</button>
           <button type="button" class="btn btn-default" ng-click="forward()"><i class="fa fa-share"></i> Forward</button>
         </div>
         <button type="button" class="btn btn-default" ng-click="delete()"><i class="fa fa-trash-o"></i> Delete</button>
         <button type="button" class="btn btn-default"><i class="fa fa-print"></i> Print</button>
       </div>
   </div>
</div>
