﻿<div >
    <style> .cp-header label{margin-bottom:0;} .breadcrumbs {background-color:#FFF!important; } .breadcrumbs { font-size: 12px; color:#111; text-decoration: none;} .breadcrumbs a { font-size: 12px; color:#999; text-decoration: none;} </style>
    <div smooth-scroll duration="100" offset="200"></div>
        <div id="Jumbotron" style="position: relative;" class="hidden-sm hidden-xs bg-white" selected-color="#FFFFFF" block-region activate="loadingMap"> 
        </div>
        <div class="row" style="margin:0;">
            <div class="col-xs-12">
                <h1 style="font-size:280%;"><i class="flag-icon" ng-class="country.cssClass"></i> <strong><span ng-bind="country.name"></span></strong></h1>
                <div class="well bg-white cp-header">
                        <div style="margin-bottom:5px; font-size: 1.3em !important;" ng-if="isABS"><span ng-if="!country.isParty && !country.isInbetweenParty" class="color-grey color-non-party bold">非名古屋议定书缔约方</span> <span ng-if="country.isParty" class="color-party bold">名古屋议定书缔约方</span> <span ng-if="country.isInbetweenParty" class="color-inbetween bold">已批准，但尚未成为名古屋议定书缔约方</span></div>
                        <div style="margin-bottom:5px; font-size: 1.3em !important;" ng-if="isBCH"><span ng-if="!country.isParty && !country.isInbetweenParty" class="color-grey color-non-party bold">非卡塔赫纳生物安全议定书缔约方</span> <span ng-if="country.isParty" class="color-party bold">卡塔赫纳生物安全议定书缔约方</span></div>
                        <div ng-if="country.isParty || country.isInbetweenParty" style="margin-bottom:10px; margin-top:-5px;"><span class="bold" ng-class="{' color-party': country.isParty, ' color-non-party':!country.isParty && !country.isInbetweenParty, ' color-inbetween': country.isInbetweenParty}">(<span ng-if="country.isInbetweenParty">Entry into force on:</span><span ng-if="country.isParty && !country.isInbetweenParty">since</span> <span ng-bind="country.entryIntoForce|formatDate"></span>)</span></div>
                        <div ng-if="isBCH && country.isNKLSParty" style="margin-top:10px; margin-bottom: 15px;"><span class="color-NKLSP bold" style=" font-size: 1.3em !important;">Party to the Nagoya - Kuala Lumpur Supplementary Protocol on Liability and Redress</span><div ng-if="country.partyToNKLSPDate"><span class="color-NKLSP bold">(since <span  ng-bind="country.partyToNKLSPDate|formatDate"></span>)</span></div>
                        </div>
                        <div ng-if="isBCH && !country.isNKLSParty" style="margin-top:10px; margin-bottom: 15px;"><span class="color-non-party bold" style=" font-size: 1.3em !important;">Not a Party to the Nagoya - Kuala Lumpur Supplementary Protocol on Liability and Redress</span></div>
                        <div style="margin-bottom:5px;" ng-if="isABS">
                            <label>签字方：</label><span ng-if="country.isSignatory && !country.dateSigned" class="bold">签字方</span> <span ng-if="country.isSignatory && country.dateSigned" class="bold">签署日期：<span ng-bind="country.dateSigned|formatDate"></span></span><span ng-if="!country.isSignatory" class="color-grey color-non-party bold">否</span></div>

                        <div ng-if="isABS" style="margin: 10px 0px;">
                            <div ng-if="country.code==='dk'"><i class="fa fa-info-circle"></i> 丹麦对名古屋议定书的批准并不适用于格陵兰岛及法罗群岛。</div>
                            <div ng-if="country.code==='gb'"><i class="fa fa-info-circle"></i> 英国对名古屋议定书的批准并不延伸到<a rel="noopener" ng-href="#" class="gb-territories" data-bs-toggle="tooltip" data-placement="bottom" title="安圭拉；百慕大；英属南极领土；英属印度洋领地；英属维尔京群岛；开曼群岛；福克兰群岛；直布罗陀；蒙特塞拉特；皮特凯恩群岛；圣赫勒拿、阿森松岛和特里斯坦达库尼亚；南乔治亚岛和南桑威奇群岛；阿克罗蒂里和德凯利亚英属基地区；特克斯和凯科斯群岛" >14个海外领土</a>或<a rel="noopener" ng-href="#" class="gb-territories" data-bs-toggle="tooltip" data-placement="bottom" 
                                title="泽西岛皇家属地、根西岛皇家属地和马恩岛">3个属地</a></div>
                        </div>
                        <div ng-if="isBCH" style="margin: 10px 0px;">
                            <div ng-if="country.code==='dk'"><i class="fa fa-info-circle"></i> 丹麦对卡塔赫纳议定书的批准并不适用于格陵兰岛及法罗群岛。</div>
                            <div ng-if="country.code==='gb'"><i class="fa fa-info-circle"></i> 英国对卡塔赫纳议定书的批准并不延伸到<a rel="noopener" ng-href="#" class="gb-territories" data-bs-toggle="tooltip" data-placement="bottom" title="安圭拉；百慕大；英属南极领土；英属印度洋领地；英属维尔京群岛；开曼群岛；福克兰群岛；蒙特塞拉特；皮特凯恩群岛；圣赫勒拿、阿森松岛和特里斯坦达库尼亚；南乔治亚岛和南桑威奇群岛；阿克罗蒂里和德凯利亚英属基地区；特克斯和凯科斯群岛" >14个海外领土</a>或<a rel="noopener" ng-href="#" class="gb-territories" data-bs-toggle="tooltip" data-placement="bottom" 
                                title="泽西岛皇家属地、根西岛皇家属地和马恩岛">3个属地</a></div>
                        </div>
                        <div style="white-space:nowrap;overflow-x:hidden;margin-bottom:5px;">
                            <label>生物多样性公约国家概况：</label><a rel="noopener" translation-url   href="https://www.cbd.int/countries/?country={{country.code}}" target="_blank">www.cbd.int/countries/?country={{country.code}}</a></div>
                            
                </div>
            </div>
            <div class="col-xs-12" ng-if="countryProfile && countryProfile.profile">
                <div class="well bg-white cp-header"> 
                    <legend>国家概况的补充信息</legend><span ng-bind-html="countryProfile.profile|lstring:locale|toTrusted"></span></div>
            </div>
        </div>
    
        <div class="row" style="margin:0;">
            <div class="col-xs-12" >
                <div country-profile code="code"></div>
            </div>
        </div>
    
    </div>