<div id="Record" class="record panel panel-default" >

	<div class="panel-heading bg-blue" ng-show="display('header')">
		<h4>
		<span>{{schema.title|lstring:locale}} <span class="color-black"> ({{schema.shortCode}}) </span> </span>
		</h4>	
	</div>

	<div class="record-body panel-body" help schema="ViewCP" >
		
		<document-date></document-date>

		<legend ng-if="document.government || document.name">General information</legend>

		<div ng-show="document.government">
			<label name="country">Country</label>
			<div class="km-value" compare-val>
				<a rel="noopener" ng-href="/countries/{{document.government.identifier|uppercase|encodeURIComponent}}" target={{target}}>{{document.government|term:locale}}</a>
                <span ng-party-status government="document.government" id="government"></span>
			</div>
		</div>

		<legend>Description of the ABS Procedure</legend>
		 <div ng-show="document.name">
		 	<label>Title</label>
			 <div compare-val>
			<km-value-ml value="document.name" locales="locale"></km-value-ml>
			 </div>
		 </div>
		 
		<div ng-show="document.jurisdiction">
			<label>Area of Jurisdiction</label>
			<div class="km-value" compare-val>
				{{document.jurisdiction|term}}
			</div>
		</div>

		<div ng-show="document.contacts || document.links">
			<label>Where should applications for access be made</label>
			<div compare-val>
				<div class="km-value" ng-repeat="contact in document.contacts"  ng-show="document.contacts">
					<div view-record-reference ng-model="contact" locale="locale"></div>
				</div>
			</div>
			<div compare-val="links">
				<div class="km-value" ng-repeat="item in document.links" ng-show="document.links">
					<a rel="noopener" translation-url  target="{{target}}" ng-href="{{item.url|encodeURI}}">{{item.name||item.url}}</a>
					<i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i>
				</div>
			</div>
		</div>


		<div ng-show="document.requirements">
			<label>Conditions or requirements a potential user needs to fulfil to apply for access</label>
			<div compare-val>
				<km-value-ml value="document.requirements" locales="locale" km-pre html></km-value-ml>
			</div>
		</div>
		
		<div ng-show="document.description || document.descriptionLinks">
			<label>Step-by step description or a visual representation of the ABS procedure</label>
			<div compare-val>
				<km-value-ml value="document.description" locales="locale" km-pre html></km-value-ml>
			</div>
			<div compare-val="descriptionLinks">
			<div class="km-value" ng-repeat="item in document.descriptionLinks" ng-show="document.descriptionLinks">
				<a rel="noopener" translation-url  target="{{target}}" ng-href="{{item.url|encodeURI}}">{{item.name||item.url}}</a>
				<i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i>
			</div>
			</div>
		</div>

		<div ng-show="document.hasApplicationDocuments!=undefined">
			<legend>Does the applicant need to provide any documents</legend>
			<div compare-val="document.hasApplicationDocuments">
				<div class="km-value">{{document.hasApplicationDocuments ? 'Yes':'No'}}</div>
			</div>
		</div>
		<div ng-show="document.applicationInformation">
			<label>Information on application forms or required documents</label>
			<div compare-val>
				<km-value-ml value="document.applicationInformation" locales="locale" km-pre html></km-value-ml>
			</div>
		</div>
		<div ng-show="document.applicationLinks">
			<label>Relevant application form/documents or a link to website</label>
			<div compare-val>
				<div class="km-value" ng-repeat="item in document.applicationLinks">
				<a rel="noopener" translation-url  target="{{target}}" ng-href="{{item.url|encodeURI}}">{{item.name||item.url}}</a>
				<i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i>
				</div>
			</div>
		</div>

		<div ng-show="document.applicationContacts">
			<label>Information on whom the application should be sent to</label>
			<div compare-val>
				<div class="km-value" ng-repeat="contact in document.applicationContacts">
					<div view-record-reference ng-model="contact" locale="locale"></div>
				</div>
			</div>
		</div>

		<div ng-show="document.hasApplicationFees!=undefined">
			<legend>Are there application fees</legend>
				<div compare-val="document.hasApplicationFees">
					<div  class="km-value">{{document.hasApplicationFees ? 'Yes':'No'}}</div>
				</div>
			
		</div>
		<div ng-show="document.applicationFeesInformation">
			<label>Additional information on application fees</label>
			<div compare-val>
				<km-value-ml value="document.applicationFeesInformation" locales="locale" km-pre html></km-value-ml>
			</div>
		</div>
		
		<div ng-show="document.applicationFeesInformation">
			<label>How long does the application process take</label>
			<div class="km-value" compare-val>
				<strong>{{document.duration}} {{document.durationPeriod}}</strong>
			</div>
		</div>

		<div ng-show="document.relevantMeasures">
			<label>Relevant ABS measure(s)</label>
			<div compare-val>
			<div class="km-value" ng-repeat="measure in document.relevantMeasures">
				<div view-record-reference ng-model="measure.identifier" locale="locale"></div>
			</div></div>
		</div>

		<!-- <div ng-show="document.keywords">
			<label>Keywords</label>
			<div class="km-value">
				<ul class="list">
					<li ng-repeat="term in document.keywords">{{term | term:locale}}</li>
				</ul>
			</div>
		</div> -->

		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>Additional Information</legend>

			<div ng-show="document.relevantInformation">
				<!-- need to test -->
				<div compare-val>
					<km-value-ml value="document.relevantInformation" locales="locale" km-pre html></km-value-ml>
				</div>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>Other relevant links or attached documents</label>
				<div compare-val>
					<div class="km-value" ng-repeat="item in document.relevantDocuments">
					<a rel="noopener" translation-url  target="{{target}}" ng-href="{{item.url|encodeURI}}">{{item.name||item.url}}</a>
					<i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i>
					</div>
				</div>
			</div>
		</div>

		<div>
			<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>
		</div>
	</div>
	
	 <div document-metadata class="panel-footer"></div>

</div>
