<div id="Record" class="record panel panel-default" >

	<div class="panel-heading bg-blue" ng-show="display('header')">
		<h4>
		<span>Checkpoint <span class="color-black"> (CP) </span> </span>
		</h4>	
	</div>

	<div class="record-body panel-body" help schema="ViewCP" >

		
			<document-date></document-date>

		 <div name="article17-1-a"></div>

		<legend ng-if="document.government || document.name">General information</legend>

		<div ng-show="document.government">
			<label name="country">Country</label>
			<div class="km-value" >
				<a ng-href="/countries/{{document.government.identifier}}" target={{target}}>{{document.government|term:locale}}</a>
                <span ng-party-status government="document.government" id="government"></span>
			</div>
		</div>

		 <div ng-show="display('title') && document.name">
		 <label>Name of the checkpoint</label>
		 	<div class="km-value">
		 	<strong>{{document.name | lstring:locale}}</strong>
		 	</div>
		 </div>



		<div ng-show="document.responsibilities || document.jurisdiction ||
			document.jurisdictionName">
			<legend name="Responsibilities">Checkpoint Responsibilities</legend>
			<div ng-show="document.responsibilities">
				<!--<label>Short description of responsibilities</label>-->
				<div class="km-value km-pre" ng-bind-html="document.responsibilities|lstring:locale"></div>
			</div>
			<div ng-show="document.jurisdiction">
				<label>Area of Jurisdiction</label>
				<div class="km-value">
					<ul class="list">
						<li>{{document.jurisdiction|term}}
							<span ng-if="isSubNational() ||isCommunity() || isOthers()">({{document.jurisdictionName | lstring:locale}})</span>
						</li>
					</ul>
				</div>
			</div>
			<!--<div ng-show="document.jurisdictionName">
				<label ng-show="isSubNational()">Name of the sub-national jurisdiction</label>
				<label ng-show="isCommunity()">Name of the community jurisdiction</label>
				<label ng-show="isOthers()">Other jurisdiction</label>
				<div class="km-value">{{document.jurisdictionName | lstring:locale}}</div>
			</div>-->
		</div>

		<div ng-if="document.informAllAuthorities || document.contactsToInform" >
			<legend>Authority/ies to receive courtesy copies of checkpoint communiqués</legend>

			<div class="help-info" style="padding-top:10px;">The contacts indicated below will receive email copies of checkpoint communiqués containing the information collected or received and published from this checkpoint.</div>
			<div class="km-value" ng-show="document.informAllAuthorities">
					 All Competent National Authorities designated for <strong>{{document.government|term:locale}}</strong> have been selected to automatically receive checkpoint communiqués by email published from this checkpoint.</li>

			</div>
          
			
			<div  ng-show="document.contactsToInform">
					<div class="km-value"  ng-repeat="authority in document.contactsToInform" >
						<span view-contact-reference ng-model="authority" locale="locale"></span>
					</div>
				</div>
			<!--<div ng-show="document.contactsToInform" class="row">
				<div ng-repeat="contact in document.contactsToInform">
					<div class="col-xs-12">
						<div view-contact-reference ng-model="contact" locale="locale" class="well"></div>
					</div>
				</div>
			</div>-->

			<div class="km-value" ng-show="!document.informAllAuthorities && !document.authoritiesToInform && !document.contactsToInform">
				<span >No additional authorities have been selected to receive the automatic email copies of checkpoint communiqués published from this checkpoint. </span>
			</div>

		</div>

		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>Additional Information</legend>

			<div ng-show="document.relevantInformation">
				<div class="km-value" ng-bind-html="document.relevantInformation | lstring:locale"></div>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>Other relevant links or attached documents</label>
				<div class="km-value" ng-repeat="item in document.relevantDocuments">
					<a translation-url  target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a>
					<i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i>
				</div>
			</div>
		</div>

	</div>
	
	 <div document-metadata class="panel-footer"></div>

</div>
