<div><script type="text/ng-template"  trados-translation="true" id="divReportRecordDiaglog">

        <div class="modal-header">
            <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body alert alert-danger">
            <form>               
                <div block-region activate=" loading">
                    <p style="margin-left:20px" ng-if="::isBCH"></p>
                    <p style="margin-left:20px" ng-if="::isABS"></p>
                    <hr/>
                    <div class="alert alert-info" ng-if="showError"></div>
                    <div></div>
                    <div class="form-group checkbox" style="margin-left:20px">
                        <label style="font-size:14px">
                            <input type="checkbox" value="" ng-model="report.incorrect" /></label>
                    </div>
                    <div class="checkbox" style="margin-left:20px">
                        <label style="font-size:14px">
                            <input type="checkbox" value="" ng-model="report.broken" /></label>
                    </div>
                    <div class="checkbox" style="margin-left:20px">
                        <label style="font-size:14px">
                            <input type="checkbox" value="" ng-model="report.copyright" /></label>
                    </div><div><textarea class="form-control" rows="3"
                        placeholder="additional information"  ng-model="report.additionalInformation"></textarea>
                    </div><div><input class="form-control"
                        placeholder=""  ng-model="report.reportedBy" disabled></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-click="submitReport(report)" ng-disabled="loading"></button>
            <button type="button" ng-click="cancelReport()" class="btn btn-warning float-end" ng-disabled="loading"></button>
        </div>
    </script>

</div>
