<ul class="blaise btn" style="clear:none;">
  <li class="dropdown"><ul class="dropdown-menu" style="width:300px"><div class="list-group" >
            <button type="button" class="btn btn-xs btn-default"  type ="button" ng-click="clearSelection()" ng-disabled="!hasSelectedItems()"></button>
            <div class="list-group-item active"></div>
            <div class="list-group-item dropdowndate" >   
                <select class="form-control" ng-model="selectedDate" ng-change="onSelectedDate()" ng-options="date.text for date in dates"></select>
                <div class="row" style="margin-top:6px">
                    <div class="col-md-6">
                        <div style="font-size:10px;font-weight:bold"></div>
                        <div class="km-date" ng-model="since"></div>
                    </div>
                    <div class="col-md-6">
                        <div style="font-size:10px;font-weight:bold"></div>
                        <div class="km-date" ng-model="until"></div>
                    </div>
                </div>
                <style></style>
            </div>     
        </div>
    </ul>
  </li>
</ul>

