#CBD-Branding .header h1 {
  font-size: 60px;
  background-color: #fff;
}

#CBD-Branding .header {
  font-size: 14px;

}
#CBD-Branding .header span:focus {
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color auto 0px;
}
#CBD-Branding .header a:hover{
  color: #428bca!important;
  text-decoration: none;

}

#CBD-Branding .navlist {
    margin: 0;
    padding: 0;
    display: inline;
}

#CBD-Branding .header-nav-img {
  max-height: 24px;
  position: relative;
  top: -2px;
  padding: 0 0 0 0;
  margin: 0;
}
#CBD-Branding .brand {
  color:#333;
  font-size: 15px;
  padding: 0 10px 0 0;
}
#CBD-Branding .navbar-cbd {
    min-height: 30px;
    margin-bottom: 0;
    border: 0;
    z-index: 100;
    border-bottom: 1px solid rgb(231, 231, 231);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
}
#CBD-Branding .container-cbd {
  /*background-color: #009b48!important;*/
  /*color:white;*/
  color: #bdbdbd;
  min-height: 26px;
  padding-top: 5px;
  list-style-type: none;
}

#CBD-Branding .container-cbd-icon {
  color: #bdbdbd;
  cursor: pointer;
}
#CBD-Branding .cbd-toggle{
  color: #bdbdbd;

  cursor: pointer;
  font-size: 80%;

}
 #CBD-Branding .bump-up-one{bottom:1px;}

 #CBD-Branding .navlist {
  margin: 0;
  padding: 0;
  display: inline;
  padding-left: 40px;
}
 #CBD-Branding .navlist li {
  display: inline;
  list-style-type: none;
  padding: 0 15px 0 0;
  margin: 0;
  line-height: 20px;
}
 #CBD-Branding .header #CBD-Branding .navbar-default #CBD-Branding .navbar-nav li {
  padding: 0 10px;
}
/*#CBD-Branding .navbar-default #CBD-Branding .navbar-nav li a {
    color: #bdbdbd;
    cursor:pointer;
  padding: 0 0 0 5px;
  line-height: 32px;
  text-shadow: 0 0 0;
  letter-spacing: 1.5px;
  font-weight: 200;
}*/
/*#CBD-Branding .navbar-default #CBD-Branding .navbar-nav li a:hover {
  color: white;     color: #428bca!important;
}*/
 #CBD-Branding .mobi-menu-btn {
  right: 30px;
  float: none;
  line-height: 32px;
  cursor: pointer;
}
 #CBD-Branding .header #CBD-Branding .navbar-toggle {
  border: 0;
  color: white;
  padding: 0 5px;
  margin: 0 0 0 15px;
}
#CBD-Branding .fa-fix2 {
  left: 0;
}
 #CBD-Branding .header .navbar-default .navbar-toggle {
  background-color: #fff!important;
}
@media (max-width: 990px) {
 #CBD-Branding .header #CBD-Branding .navbar-header {
    float: none;
  }
 #CBD-Branding .header #CBD-Branding .navbar-toggle {
    display: inline;
  }
 #CBD-Branding .header #CBD-Branding .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
 #CBD-Branding .header #CBD-Branding .navbar-collapse #CBD-Branding .collapse {
    display: none!important;
  }
 #CBD-Branding .header #CBD-Branding .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
#CBD-Branding .header   #CBD-Branding .navbar-nav>li {
    float: none;
  }
 #CBD-Branding .header #CBD-Branding .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
#CBD-Branding .header #CBD-Branding .navbar-collapse #CBD-Branding .collapse.in {
    display: block!important;
  }
#CBD-Branding.header #CBD-Branding.collapsing {
    overflow: hidden!important;
  }
}
@media (max-width: 767px) {
#CBD-Branding .header #CBD-Branding.navbar-default #CBD-Branding.navbar-nav #CBD-Branding.open #CBD-Branding.dropdown-menu li a {
    color: white;
  }
}
#CBD-Branding .btn1 {
  color : rgb(49, 46, 46);
  background-color: rgba(255, 222, 121, 0.96);
  border-radius: 10px 0 0 10px;
  font-size: 16px;
}

