#CBD-Branding .locale {
  font-size: 16px;
  margin-bottom: 0;
  border: 0;
  z-index: 100;
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  margin: 0 0 0 0;
  line-height: 30px;
  font-weight: 200;
}
#CBD-Branding .locale-menu{  position:absolute;
  left:-80px;}
  #CBD-Branding .badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #999;
    border-radius: 10px;
}
/*@media screen and (min-width: 250px) {
  .navbar-default .navbar-nav .dropdown-menu li a {
    color: white;
    font-size: 14px;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a:hover {
    color: #428bca!important;
  }
  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #009b48;
    color: white;
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background-image: none;
  }
}
@media screen and (min-width: 480px) {
  #dropdown-menu a {
    color: black;
    font-size: 14px;
  }
  .navbar-default .navbar-nav .dropdown-menu {
    background-color: white;
    padding: 3px;
  }
  .navbar-default .navbar-nav .dropdown-menu li {
    margin: 0;
    padding: 0;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a:hover {
    color: #428bca!important;
  }
  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #009b48;
    color: white;
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background-image: none;
  }
}*/