<div ng-controller="nationalUsersController">
    <style>
        .ngdialog-content {
            background: transparent !important;
        }

        .ngdialog.ngdialog-theme-default.wide .ngdialog-content {
            width: 750px !important;
        }
    </style>

    <div class="bg-medgrey">
        <h3 class="md-toolbar-tools color-white">National Users</h3>
    </div>
    <div style="padding: 10px;" class="bg-white md-whiteframe-z1">

        <div class="row">
            <div class="col-xs-12">

                <p>
                    This page allows you to manage national users and their roles.
                </p>

                <p>
                    The following roles can be granted to national users:
                </p>

                <ul>
                    <li><b>Drafting Role</b> – A user with this role is called a
                        <em>National Authorized User (NAU)</em>. S/he can draft national content but cannot publish it.</li>
                    <li><b>Publishing Role</b> – A user with this role is called a
                        <em>National Publishing Authority (NPA)</em>. S/he can publish national content, including content drafted by national authorized users.</li>
                </ul>

                <p></p>

            </div>

            <div class="col-xs-12" ng-show="error">

                <div ng-switch="error.code + '-' + error.field">
                    <div class="alert alert-warning" ng-switch-when="mandatory-government">
                        <b>Oops...</b> We're sorry, but you are not member of any government.
                    </div>
                    <div class="alert alert-warning" ng-switch-when="forbidden-">
                        <b>Oups...</b> We're sorry, but you are not authorized access this page.
                    </div>
                    <div class="alert alert-danger" ng-switch-default>
                        <b>Oops...</b> We're sorry, but something went wrong. {{error|json}}
                    </div>
                </div>

            </div>

            <div class="col-sm-offset-8 col-sm-4 col-xs-12" ng-hide="error">

                <div class="input-group" style="margin-bottom:2px; padding-left: 0px">
                    <input type="text" class="form-control" ng-model="searchText.$" ng-disabled="loading" placeholder="Search within the national users list..." />
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>

            <div class="col-xs-12" ng-hide="error">

                <table class="table table-striped" style="width:100%">
                    <tr>
                        <th>User</th>
                        <th>Organization/Division</th>
                        <th style="max-width:200px">Roles</th>
                        <th class="text-right">
                            <button class="btn btn-default" ng-click="search()" ng-disabled="loading || !canAdd()">Add Authorized User <i class="fa fa-plus-circle"></i></button>
                        </th>
                    </tr>
                    <tr ng-repeat="u in users | filter:defaultFilter | filter:searchText | orderBy:sortKey ">
                        <td>
                            <b>{{u.firstName}} {{u.lastName}}</b>
                            <br>
                            <a href="mailto:{{u.email}}">{{u.email}}</a>
                        </td>
                        <td>
                            {{u.organization}}
                        </td>
                        <td>
                            <span ng-repeat="rid in u.roles|filter:isContextRole">
                                <span class="label label-default" style="font-size:10px;margin-right:4px">{{roles[rid].name}}</span>
                                <br>
                            </span>

                            <a href="#" style="font-size:75%" ng-click="u.showExtraRoles=!u.showExtraRoles" ng-show="(u.roles|filter:isNotContextRole).length">
                                <span ng-show="!u.showExtraRoles">Show additional roles <i class="fa fa-caret-down"></i></span>
                                <span ng-show=" u.showExtraRoles">Hide additional roles <i class="fa fa-caret-up"></i></span>
                            </a>

                            <div ng-if="u.showExtraRoles">
                                <span ng-repeat="rid in u.roles|filter:isNotContextRole">
                                    <span class="label label-info" style="font-size:10px;margin-right:4px">{{roles[rid].name}}</span>
                                    <br>
                                </span>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="btn-group" role="group" aria-label="...">
                                <button class="btn btn-default" ng-click="edit(u)" ng-disabled="!canEdit(u)"><i class="fa fa-list  fa-fw"></i></button>
                                <button class="btn btn-default" ng-click="dropUser(u)" ng-disabled="!canDrop(u)"><i class="fa fa-trash fa-fw"></i></button>
                            </div>
                        </td>

                    </tr>
                    <tr ng-if="!users">
                        <td colspan="4">
                            <i class="fa fa-cog fa-spin fa-fw"></i> Loading...
                        </td>
                    </tr>
                    <tr ng-if="!!users">
                        <td colspan="3">
                            {{(users | filter:defaultFilter | filter:searchText).length}} of {{users.length}} |
                            <a href="#" ng-show="!$parent.showAll" ng-click="$parent.showAll=true;$parent.searchText={}">Show more <i class="fa fa-caret-down"></i></a>
                            <a href="#" ng-show=" $parent.showAll" ng-click="$parent.showAll=false;$parent.searchText={}">Show less <i class="fa fa-caret-up"></i></a>
                        </td>
                        <td class="text-right">
                            <button class="btn btn-default" ng-click="search()" ng-disabled="loading || !canAdd()">Add Authorized User <i class="fa fa-plus-circle"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
