<div class="km-terms-check">

	<div class="col-xs-12" ng-show="enableSearch" style="margin-bottom: 5px;">
		<div class="input-group float-start" style="max-width:400px;">
			<input  type="text" ng-model="searchKeyword" class="form-control" placeholder="" style="font-weight:bold;" /></div></div>
	<div class="row col-12 pt-2" >
		<div ng-if="searchKeyword && searchKeyword.length > 2"  class="optionsbox">
			<table class="table table-condensed" >
				<tr ng-repeat="term in filteredList = (searchList|filter:hasMatch)">
					<td  ng-class="{'no-border':$first}">
						<label>
							<input type="checkbox" ng-model="selectedItems[term.identifier].selected" ng-change="save(term.identifier)" 
								ng-required="IsRequired()" value="{{term.identifier}}"/></label>
					</td>
				</tr>
				<tfoot>
					<tr>
						<td>
							<button type="button" class="btn btn-xs btn-primary" ng-click="$parent.searchKeyword=undefined"></button>
						</td>
					</tr>
				</tfoot>
			</table>
			<p ng-hide="filteredList.length"></p>
		</div>

		<div ng-class="{'searchbox': enableSearch}" >

			<button type="button" class="btn btn-default btn-xs float-end easing" ng-click="clear()" ng-if="binding.length>0"></button>
			<ul ng-if="!tabularShape" style="list-style: none;">	

				<li ng:repeat="term in rootTerms" ng-class="{'other-term': otherTermIdentifier==term.identifier}" ng-include="'term-check-tree-renderer.html'"></li>

				<li ng-show="error">
					<div class="alert" ng-bind="error">
					</div>
				</li>

				<li ng-show="__loading"></li>

				
			</ul>
			<div ng-if="tabularShape" class="tabular-terms col-xs-12">
				<div class="col-md-4 col-xs-6 terms" ng:repeat="term in rootTerms" ng-include="'term-check-tree-renderer.html'"></div>				
			</div>

			<script type="text/ng-template" id="term-check-tree-renderer.html">
				<label>
					<input type="checkbox" ng-model="selectedItems[term.identifier].selected" ng-change="save(term.identifier)" 
						ng-required="IsRequired()" value="{{term.identifier}}" id="chk_{{term.identifier}}"/></label>
				<div ng-if="(otherTermIdentifier==term.identifier ||term.type) && !term.multiple && selectedItems[term.identifier].selected">
					<input ng-if="term.type=='int'" type="number" placeholder=""
					ng-model="selectedItems[term.identifier].customValue" class="km-terms-check-add-input-int" ng-change="save()" />
					<div ng-if="term.type=='lstring'" style="padding-left:50px;"><div km-textbox-ml name="custom value"  placeholder=""
							required ng-model="selectedItems[term.identifier].customValue" locales="locales"  ng-change="save()"></div>
					</div>
				</div><table class="table table-hover others" style="padding:0;margin:0;width:100%;">
						<tr ng-repeat="element in otherElements[term.identifier]">
							<td ng-show="otherElements[term.identifier].length > 1" class="text-center" style="vertical-align:middle;width:30px;"></td>
							<td>
								<div km-textbox-ml ng-model="element.customValue" locales="locales" required="true" placeholder="" ng-change="appendEmptyOther(otherElements[term.identifier])"></div>
							</td>
						</tr>
					</table><div class="km-select-description" ng-if="showDescription && term.description" ng-bind="term.description" style="padding: 3px 25px;">
				</div>
				<ul style="list-style:none">
					<li ng:repeat="term in term.narrowerTerms" ng-include="'term-check-tree-renderer.html'">
				</ul>
			</script>
		</div>
	</div>


</div>


