<div>
   <div class="box box-primary no-padding">
       <div class="box-header with-border">
         <h3 class="box-title">Compose Mail</h3>
       </div>
       <div class="box-body">
          <div class="alert alert-danger" role="alert" ng-show="errorMessage">
             {{errorMessage}}
          </div>
         <div class="input-group form-group">
            <span class="input-group-addon text-sm">To:</span>
            <input type="text" class="form-control" ng-model="mail.assignedTo" />
         </div>
          <div class="input-group form-group">
            <span class="input-group-addon text-sm">Subject:</span>
            <input type="text" class="form-control" ng-model="mail.data.subject"/>
         </div>
         <div class="editor">
            <div class="media-box">
               <div class="media-box-body">
                  <textarea placeholder="Text here....." class="form-control" ng-model="mail.data.message" rows="10"></textarea>
               </div>
            </div>
         </div>
      </div>
      <br>
      <div class="box-footer">
         <div class="pull-right">
           <!-- <button class="btn btn-default"><i class="fa fa-pencil"></i> Draft</button> -->
           <button type="submit" class="btn btn-primary" ng-click="sendMail()"><i class="fa fa-envelope-o"></i> Send</button>
         </div>
         <!-- <button class="btn btn-default"><i class="fa fa-times"></i> Discard</button> -->
       </div>
  </div>
</div>
