<div dir="rtl">
    <div style="margin:0 10% 0 10%" >
        <h1 class="dropshadow1 color-green" style="font-size:250%;margin-bottom:20px;">تغيير اللغة</h1>
        <hr>
       <div class="well">
           <p>يُرجى الانتظار أثناء توجيهك إلى موقع <span ng-bind="chShortName"></span> غرفة تبادل المعلومات <span ng-bind="currentLanguage"></span></p>
           <h3 class="color-green">لطلب الدعم الفني، يُرجى التواصل مع مكتب المساعدة على: <span class="color-blue" style="text-transform: lowercase" ng-bind="email"></span></h3>
       </div>
      </div>
    </div>
</div>
