<div>
    <div  ng-show="!user.isAuthenticated" style="margin:0 10% 0 10%" >
        <h1 class="dropshadow1 color-green" style="font-size:250%;margin-bottom:20px;">Por favor, iniciar sesión para publicar información en el <span ng-bind="chShortName"></span></h1>
        <hr>
       <div class="card">
       <h3>¿Cómo registro una cuenta en el CDB?</h3>
       <p>Cualquier persona puede tener una cuenta en el CDB, que le permitirá acceder a registrar información en todos los centros de intercambio de información del CDB –el Centro de Intercambio de Información sobre Seguridad de la Biotecnología (CIISB), el Centro de Intercambio de la Información sobre APB y el Mecanismo de facilitación del Convenio. Puede registrar una cuenta en el CDB en <a rel="noopener" translation-url  href="http://accounts.cbd.int/signin" class="bold">accounts.cbd.int/signin</a></p>
        <p>No olvide ingresar toda la información solicitada, según las instrucciones del formulario. Automáticamente recibirá un correo electrónico con un enlace en el que hay que hacer clic para confirmar la cuenta.</p>
       <h3>¿Olvidó su contraseña?</h3>
        <p>Haga clic aquí <a rel="noopener" translation-url  href="http://accounts.cbd.int/password/reset" class="bold">accounts.cbd.int/password/reset</a> para recuperar su contraseña. Se le pedirá su dirección de correo electrónico y, si es usted un usuario registrado, se le enviará inmediatamente un correo electrónico a su dirección de correo electrónico registrada con las instrucciones para recuperar su contraseña.</p>
        <h3>¿Problemas con la visualización en pantalla del Centro de Intercambio de Información?</h3>
        <p>El <span ng-bind="chShortName"></span> funciona mejor con las versiones más recientes de los buscadores de Internet (Firefox, Chrome o Internet Explorer 9+).</p>
        <h3 class="color-green">Para apoyo técnico, sírvase ponerse en contacto con nuestra mesa de ayuda en: <span class="color-blue" style="text-transform: lowercase" ng-bind="email"></span></h3>
       </div>
      </div>
</div>
