<div>
    <div style="margin:0 10% 0 10%" >
        <h1 class="dropshadow1 color-green" style="font-size:250%;margin-bottom:20px;">Verificación del correo electrónico pendiente</h1>
        <hr>
       <div class="well">
           <p>Verificación del correo electrónico pendiente. Por favor, verifique su correo electrónico antes de enviar datos.</p>
           <h3 class="color-green">Haga clic en el enlace de verificación en el correo electrónico enviado a <span ng-bind="user.email"></span>. Haga clic <a rel="noopener" href="https://accounts.cbd.int/activate/resend">aquí</a> para volver a enviar el correo electrónico de activación.</h3>
       </div>
      </div>
    </div>
</div>



