<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-blue">
		<h4><span ng-bind="::document.header.schema|schemaName"></span> <span class="color-black">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span></h4>
	</div>
	<div class="record-body panel-body">



		<document-date></document-date>
		<legend>一般信息</legend>

		<div ng-show="document.government" class="padding-top-10">
			<label name="country">国家</label>
			<div class="km-value" compare-val><a rel="noopener" ng-href="/countries/{{document.government.identifier|uppercase|encodeURIComponent}}" target="{{target}}" ng-bind="document.government|term:locale"></a> <span ng-party-status government="document.government" id="government"></span></div>
		</div>

		<section>
			<legend>专家档案</legend>
			<div ng-if="document.profile">
				<label>简要介绍</label>
				<div compare-val>
				<km-value-ml value="document.profile" locales="locale" html></km-value-ml>
				</div>
			</div>
			<div ng-if="document.contact">
				<label>联系方式</label>
				<div class="km-value" compare-val>
					<view-record-reference ng-model="document.contact" locale="locale"></view-record-reference>
				</div>
			</div>

			<div ng-if="document.birthYear">
				<div ng-if="document.birthYear">
					<label>出生年份</label>
					<div class="km-value" compare-val><span ng-bind="document.birthYear"></span></div>
				</div>
			</div>
			<div ng-show="document.birthCountry">
				<label>出生地</label>
				<div class="km-value" compare-val><span ng-bind="document.birthCountry|term:locale"></span></div>
			</div>

			<div ng-if="document.nationalities">
				<label>国籍</label>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.nationalities"><span ng-bind="item|term:locale"></span></li>
					</ul>
				</div>
			</div>
		</section>
		<section ng-if="document.currentEmployment">
			<legend>当前工作的详细信息</legend>
			
			<div ng-if="document.currentEmployment.name">
				<label>雇主 / 组织 / 公司名称</label>
				<div compare-val>
				<km-value-ml value="document.currentEmployment.name" locales="locale"></km-value-ml>
				</div>
			</div>
			<div ng-if="document.currentEmployment.organizationType">
				<label>机构类型</label>
				<div compare-val class="km-value"><span  ng-bind="document.currentEmployment.organizationType|term:locale"></span></div>
			</div>
			<div ng-if="document.currentEmployment.title">
				<label>头衔</label>
				<div compare-val>
				<km-value-ml value="document.currentEmployment.title" locales="locale"></km-value-ml>
				</div>
			</div>
			<div ng-if="document.currentEmployment.department">
				<label>部门/分支机构/单位</label>
				<div compare-val>
				<km-value-ml value="document.currentEmployment.department" locales="locale"></km-value-ml>
				</div>
			</div>
			<div  class="row"  ng-if="document.currentEmployment.startDate || document.currentEmployment.endDate">
				<div class="col-md-6" ng-if="document.currentEmployment.startDate">
					<label>开始日期</label>
					<div comprae-val><span class="km-value" ng-bind="document.currentEmployment.startDate"></span></div>
				</div>

				<div class="col-md-6" ng-if="document.currentEmployment.organizationType" >
					<label>组织类型</label>
					<div compare-val><span class="km-value" ng-if="document.currentEmployment.organizationType.identifier!='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" 
						ng-bind="document.currentEmployment.organizationType|term:locale"></span> <span class="km-value" ng-if="document.currentEmployment.organizationType.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" 
						ng-bind="document.currentEmployment.organizationType.customValue|lstring:locale"></span></div>
				</div>
			</div>
			
			<div ng-if="document.currentEmployment.responsibilities">
				<label>主要职责范围</label>
				<div compare-val>
				<km-value-ml value="document.currentEmployment.responsibilities" html locales="locale"></km-value-ml>
				</div>
			</div>
		</section>
		<section ng-if="document.previousEmployment || document.countryRegionsWorkedIn">
			<legend>工作经验</legend>
			<div ng-if="document.countryRegionsWorkedIn">
				<label>工作过的国家或地区</label>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.countryRegionsWorkedIn"><span ng-bind="item|term:locale"></span></li>
					</ul>
				</div>
			</div>
			<div ng-if="document.previousEmployment.name">
				<label>先前雇主/组织/公司名称</label>
				<div compare-val>
				<km-value-ml  km-pre value="document.previousEmployment.name" locales="locale"></km-value-ml>
				</div>
			</div>
			<div ng-if="document.previousEmployment.organizationType">
				<label>机构类型</label>
				<div compare-val class="km-value"><span  ng-bind="document.currentEmployment.previousEmployment|term:locale"></span></div>
			</div>
			<div ng-if="document.previousEmployment.department">
				<label>部门/分支机构/单位</label>
				<div compare-val>
				<km-value-ml value="document.previousEmployment.department" locales="locale"></km-value-ml>
				</div>
			</div>
			<div class="row"  ng-if="document.previousEmployment.startDate || document.previousEmployment.endDate">
				<div class="col-md-6" ng-if="document.previousEmployment.startDate">
					<label>开始日期</label>
					<div compare-val><span class="km-value" ng-bind="document.previousEmployment.startDate"></span></div>
				</div>

				<div class="col-md-6" ng-if="document.previousEmployment.endDate">
					<label>结束日期</label>
					<div compare-val><span class="km-value" ng-bind="document.previousEmployment.endDate"></span></div>
				</div>
			</div>

			<div ng-if="document.previousEmployment.organizationType">
				<label>组织类型</label>
				<div compare-val><span class="km-value" ng-if="document.previousEmployment.organizationType.identifier!='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" 
					ng-bind="document.previousEmployment.organizationType|term:locale"></span> <span class="km-value" ng-if="document.previousEmployment.organizationType.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" 
					ng-bind="document.previousEmployment.organizationType.customValue|lstring:locale"></span></div>
			</div>
			<div ng-if="document.previousEmployment.responsibilities">
				<label>主要职责范围</label>
				<div compare-val>
				<km-value-ml value="document.previousEmployment.responsibilities" html locales="locale"></km-value-ml>
				</div>
			</div>
		</section>
		<section>
			<legend>中学后教育</legend><strong>正规教育</strong><section ng-if="document.primaryEducation" style="padding-top: 20px;"><u>第一学位</u><div ng-if="document.primaryEducation.title">
					<label>学位或其它学术资格和学术科目名称</label>
					<div compare-val>
					<km-value-ml value="document.primaryEducation.title" locales="locale"></km-value-ml>
					</div>
				</div>
				<div ng-if="document.primaryEducation.institution">
					<label>学术机构名称</label>
					<div compare-val>
					<km-value-ml value="document.primaryEducation.institution" locales="locale"></km-value-ml>
					</div>
				</div>
				<div class="row"  ng-if="document.primaryEducation.startDate || document.primaryEducation.endDate">
					<div class="col-md-6" ng-if="document.primaryEducation.startDate">
						<label>开始日期</label>
						<div compare-val><span class="km-value" ng-bind="document.primaryEducation.startDate"></span></div>
					</div>

					<div class="col-md-6" ng-if="document.primaryEducation.endDate">
						<label>结束日期</label>
						<div compare-val><span class="km-value" ng-bind="document.primaryEducation.endDate"></span></div>
					</div>
				</div>
			</section>
			<section ng-if="document.secondaryEducation" style="padding-top: 10px;"><u>第二学位</u><div ng-if="document.secondaryEducation.title">
					<label>学位或其它学术资格和学术科目名称</label>
					<div compare-val>
					<km-value-ml value="document.secondaryEducation.title" locales="locale"></km-value-ml>
					</div>
				</div>
				<div ng-if="document.secondaryEducation.institution">
					<label>学术机构名称</label>
					<div compare-val>
					<km-value-ml value="document.secondaryEducation.institution" locales="locale"></km-value-ml>
					</div>
				</div>
				<div class="row"  ng-if="document.secondaryEducation.startDate || document.secondaryEducation.endDate">
					<div class="col-md-6" ng-if="document.secondaryEducation.startDate">
						<label>开始日期</label>
						<div compare-val><span class="km-value" ng-bind="document.secondaryEducation.startDate"></span></div>
					</div>

					<div class="col-md-6" ng-if="document.secondaryEducation.endDate">
						<label>结束日期</label>
						<div compare-val><span class="km-value" ng-bind="document.secondaryEducation.endDate"></span></div>
					</div>
				</div>
			</section>
			<section ng-if="document.thirdEducation" style="padding-top: 10px;"><U>第三学位</U><div ng-if="document.thirdEducation.title">
					<label>学位或其它学术资格和学术科目名称</label>
					<div compare-val>
					<km-value-ml value="document.thirdEducation.title" locales="locale"></km-value-ml>
					</div>
				</div>
				<div ng-if="document.thirdEducation.institution">
					<label>学术机构名称</label>
					<div compare-val>
					<km-value-ml value="document.thirdEducation.institution" locales="locale"></km-value-ml>
					</div>
				</div>
				<div class="row"  ng-if="document.thirdEducation.startDate || document.thirdEducation.endDate">
					<div class="col-md-6" ng-if="document.thirdEducation.startDate">
						<label>开始日期</label>
						<div compare-val><span class="km-value" ng-bind="document.thirdEducation.startDate"></span></div>
					</div>

					<div class="col-md-6" ng-if="document.thirdEducation.endDate">
						<label>结束日期</label>
						<div compare-val><span class="km-value" ng-bind="document.thirdEducation.endDate"></span></div>
					</div>
				</div>
			</section>

			<div ng-if="document.professionalQualification.length" class="padding-top-10"><strong>B. 其它专业资格</strong><div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.professionalQualification"><span ng-bind-html="item|lstring:locale"></span></li>
					</ul>
				</div>
			</div>
		</section>
		<section>
			<div ng-if="document.expertise.length">
				<legend>专业知识领域</legend>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.expertise"><span ng-if="item.identifier!='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="item|term:locale"></span> <span ng-if="item.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="item.customValue|lstring:locale"></span></li>
					</ul>
				</div>
			</div>

			<div ng-if="document.relevantPublication.length">
				<legend>出版物</legend>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.relevantPublication"><span ng-bind-html="item|lstring:locale"></span></li>
					</ul>
				</div>
			</div>

			<div ng-if="document.professionalMemberships.length">
				<legend>专业会员资格</legend>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.professionalMemberships"><span ng-bind-html="item|lstring:locale"></span></li>
					</ul>
				</div>
			</div>

			<div ng-if="document.panelServed.length">
				<label>所在技术委员会，专家小组或咨询机构</label>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.panelServed"><span ng-bind-html="item|lstring:locale"></span></li>
					</ul>
				</div>
			</div>
		</section>

		<section>
			<legend>语言能力</legend>
			<div ng-if="document.motherTongue.length">
				<label>母语</label>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.motherTongue"><span ng-bind="item|term:locale"></span></li>
					</ul>
				</div>
			</div>
			<div ng-if="document.languageRating.length">
				<label>其它语文</label>
				<div compare-val>
					<table class="table table-bordered">
						<tr>
							<th style="width: 10%; font-size: 12px;">语言</th>
							<th style="width: 90%; font-size: 12px;">层级</th>
						</tr>
						<tr ng-repeat="item in document.languageRating" style="padding-top: 5px;">
							<td><span ng-bind="item|term:locale"></span></td>
							<td><span ng-bind="item.level"></span></td>
						</tr>
					</table>
				</div>
			</div>
			
		</section>

		<div ng-if="document.additionalInformation||document.additionalDocuments">
			<legend>其它相关信息</legend>

			<div ng-if="document.additionalInformation">
				<div compare-val>
				<km-value-ml value="document.additionalInformation" locales="locale" html></km-value-ml>
				</div>
			</div>

			<div ng-if="document.additionalDocuments">
				<label>其他相关网站地址和/或附加文件</label>
				<div compare-val>
				<div class="km-value" ng-if="document.additionalDocuments" km-link-list 
					ng-model="document.additionalDocuments" style="margin-top: 5px;"></div>
				</div>
			</div>
		</div>
		
		<div>
			<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>
		</div>
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
