<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-orange">
		<h4><span ng-bind="::document.header.schema|schemaName"></span> <span class="color-white">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span></h4>
	</div>
	<div class="record-body panel-body">



		<document-date></document-date>
		<legend>一般信息</legend>

		<div ng-show="document.title">
			<label>称谓</label>
			<div class="km-value" compare-val><strong ng-bind="document.title | lstring:locale"></strong></div>
		</div>

		<div ng-show="document.name">
			<label>基因片段名称</label>
			<div compare-val>
			<km-value-ml value="document.name" locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-show="document.synonymNames">
			<label>备选基因片段名称（同义词）</label>
			<div compare-val>
			<ul class="list" style="padding-left:0px">
				<li ng-repeat="synonym in document.synonymNames" style="padding-bottom:5px;">
					<km-value-ml value="synonym" locales="locale"></km-value-ml>
				</li>
			</ul>
			</div>
			
		</div>
		<div ng-show="document.abbreviation">
			<label>缩写</label>
			<div compare-val>
				<km-value-ml value="document.abbreviation" locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-show="document.family">
			<label>类别</label>
			<div compare-val>
				<div class="km-value" ng-bind="document.family | term:locale"></div>
			</div>
		</div>

		<div ng-show="document.isSynthetic!=undefined">
			<label>此基因片段是合成分子吗？</label>
			<div compare-val>
				<div class="km-value" ng-if="document.isSynthetic">是</div>
				<div class="km-value" ng-if="!document.isSynthetic">否</div>
			</div>
		</div>
	
	<div ng-if="document.donorOrganisms || document.donorOrganismCollectionPoint || document.gisFiles ">
		<legend>供体生物体</legend>

		<div ng-show="document.donorOrganisms">
			<label>供体生物体</label>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.donorOrganisms">
						<view-record-reference ng-model="item.identifier" locale="locale" target="target"></view-record-reference>
					</li>
				</ul>						
			</div>
		</div>

		<div ng-show="document.donorOrganismCollectionPoint">
			<label>供体生物体的收集点或获得点</label>
			<div compare-val>
				<km-value-ml value="document.donorOrganismCollectionPoint"  html locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.gisFiles">
			<label>地理坐标</label>
			<km-link-list class="km-value" ng-model="document.gisFiles"></km-link-list>
		</div>
	</div>
	<div ng-if="document.family.identifier=='1ECB698D-3F3D-41BC-BEBD-DD5C734BCDCF'">
		<legend>蛋白质编码序列特征</legend>

		<div ng-show="document.proteinName">
			<label>编码序列表达之蛋白质的名称</label>
			<div compare-val>
				<km-value-ml value="document.proteinName" locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-show="document.biologicalFunction">
			<label>该蛋白质的生物功能</label>
			<div compare-val>
				<km-value-ml value="document.biologicalFunction" html locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-show="document.traits">
			<label>生物科技中的相关性状或用途</label>
			<div compare-val>
				<view-terms-hierarchy class="km-value" ng-model="document.traits" locale="locale" term-domain="dnaSequenceTraits"></view-terms-hierarchy>
			</div>
		</div>
	</div>
		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>更多信息</legend>

			<div ng-show="document.relevantInformation">
				<div compare-val>
					<km-value-ml value="document.relevantInformation" html locales="locale"></km-value-ml>
				</div>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>其他相关网站地址和/或附加文件</label>
				<div class="km-value" compare-val>
					<km-link-list  ng-model="document.relevantDocuments"></km-link-list>
				</div>
			</div>
		</div>
		<div>
			<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>
		</div>
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
