<div class="modal-content">
    <style> .has-error .fa-validate:before { content: "\f069"; color: #a94442; } .has-warning .fa-validate:before { content: "\f0a5"; color: #c09853; } .has-success .fa-validate:before { content: "\f00c"; color: #468847; } .help-block.error { text-transform: uppercase; font-size: 10px; font-weight: bold; margin-bottom: -10px; } .panel-identity { position: relative; padding-top: 19px; } .panel-identity:after { content: "Identity"; position: absolute; top: -1px; left: -1px; padding: 3px 7px; font-size: 12px; font-weight: bold; background-color: #f5f5f5; border: 1px solid #ddd; color: #9da0a4; height: 1.6em; line-height: 1em; -webkit-border-radius: 4px 0 4px 0; -moz-border-radius: 4px 0 4px 0; border-radius: 4px 0 4px 0; } </style>

    <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" ng-click="closeThisDialog()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Usuario nuevo - <span ng-bind="editUserDialogCtrl.user.firstName+' '+editUserDialogCtrl.user.lastName"><span ng-if="!editUserDialogCtrl.user.firstName && !editUserDialogCtrl.user.lastName">Información de contacto</span></h3>
        <h4 class="modal-title" ng-bind="editUserDialogCtrl.user.email"></h4>
    </div>

    <div class="modal-body">
        <form name="form" novalidate>

            <p>Sírvase completar la siguiente información de contacto básica de la persona designada</p>

            <div class="panel panel-default panel-identity" style="min-height:300px;position:relative">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-warning': form.firstName.$invalid }">
                                <label for="firstName">Nombre</label>
                                <input type="text" class="form-control" name="firstName" ng-model="editUserDialogCtrl.user.firstName" required>
                                <p class="help-info error" ng-show="form.firstName.$invalid">Este campo es obligatorio</p>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-warning': form.lastName.$invalid }">
                                <label for="lastName">Apellido</label>
                                <input type="text" class="form-control" name="lastName" ng-model="editUserDialogCtrl.user.lastName" required>
                                <p class="help-info error" ng-show="form.lastName.$invalid">Este campo es obligatorio</p>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group" ng-class="{ 'has-warning': form.organization.$invalid }">
                                <label for="organization">Organización</label>
                                <input type="text" class="form-control" name="organization" ng-model="editUserDialogCtrl.user.organization" required>
                                <p class="help-info error" ng-show="form.organization.$invalid">Este campo es obligatorio</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group" ng-class="{ 'has-warning': form.email.$invalid }">
                                <label>Correo electrónico</label>
                                <div class="input-group" style="margin-bottom:2px; padding-left: 0px"><span class="input-group-addon"><i class="fa fa-envelope"></i></span><input type="email" name="email" class="form-control" ng-model="editUserDialogCtrl.user.email" ng-disabled="true" placeholder="email@domain.xyz" required>
                                </div>
                                <p class="help-info error" ng-show="form.email.$invalid && !form.email.$error.email">Este campo es obligatorio</p>
                                <p class="help-info error" ng-show="form.email.$error.email">Correo electrónico inválido o incompleto</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" aria-label="Close" ng-click="closeThisDialog()">Cancelar</button>
        <button type="button" class="btn btn-primary" aria-label="Save" ng-click="editUserDialogCtrl.save()" ng-disabled="form.$invalid">Siguiente »</button>
    </div>
</div>
