<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-blue">
		<h4><span ng-bind="::document.header.schema|schemaName"></span> <span class="color-black">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span></h4>
	</div>
	<div class="record-body panel-body">



		<document-date></document-date>


		<div ng-if="document.isAmendment!= undefined || amendedByRecords">
			<legend>Amendment</legend>
			<div ng-if="document.isAmendment!=undefined">
				<label>是对已在生物安全信息交换所中发布的法律、法规、指南或协议的修改吗？</label>
				<div compare-val>
					<km-value-bool value="document.isAmendment" locales="locale"></km-value-bool>
				</div>
			</div>
			<div ng-if="document.amendedRecords">
				<label>经修改的法律/法规</label>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.amendedRecords">
							<view-record-reference ng-model='item.identifier' locale="locale"></view-record-reference>
						</li>
					</ul>						
				</div>
			</div>
			<div ng-if="document.amendmentsDetails">
				<label>修改摘要</label>
				<div compare-val>
					<km-value-ml value="document.amendmentsDetails" html locales="locale"></km-value-ml>
				</div>
			</div>
			<div ng-if="amendedByRecords">
				<label>本记录中的法律/法规已由以下记录中的法律/法规所修改</label>
				<div class="km-value" compare-val>
					<div ng-repeat="referenced in amendedByRecords">
						<view-record-reference ng-model="referenced"></view-record-reference>
					</div>
				</div>
			</div>
		</div>

		<legend>一般信息</legend>

		<div ng-if="document.government">
			<label name="country">提交法律、法规、指南或协议的国家</label>
			<div class="km-value" compare-val><a rel="noopener" ng-href="countries/{{document.government.identifier|uppercase|encodeURIComponent}}" target="{{target}}" ng-bind="document.government|term:locale"></a></div>
		</div>

		<div ng-if="document.title">
			<label>称谓</label>			
			<div compare-val>
				<km-value-ml value="document.title" locales="locale"></km-value-ml>
			</div>
		</div>
		<legend>立法细节</legend>
		<div>
			<div ng-if="document.type">
				<label>法律/法规的类型</label>
				<div class="km-value" compare-val><span ng-if="item.identifier!='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="document.type|term:locale"></span> <span ng-if="item.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="document.type.customValue|lstring:locale"></span></div>
			</div>
			<div ng-if="document.jurisdiction">
				<label>辖区</label>
				<div class="km-value" compare-val><span ng-if="document.jurisdiction.identifier!='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="document.jurisdiction|term:locale"></span> <span ng-if="document.jurisdiction.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="document.jurisdiction.customValue|lstring:locale"></span></div>
			</div>

			<div ng-if="document.jurisdictionScope">
				<label>地区或政治/经济集团</label>	
				<div class="km-value" compare-val>
					<ul ng-if="document.jurisdictionScope" class="list">
						<li ng-repeat="item in document.jurisdictionScope"><span ng-if="item.identifier!='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="item|term:locale"></span></li>
					</ul>
				</div>
			</div>

			<div ng-if="document.cpbSubjectAreas">
				<label>主题领域</label>
				<div class="km-value" compare-val>
					<view-terms-hierarchy  ng-model="document.cpbSubjectAreas" locale="locale" term-domain="subjectAreas" on-terms-loaded="onSubjectAreasTerms(terms)"></view-terms-hierarchy>
				</div>
			</div>
			<div ng-if="document.cpbOrganismTypes">
				<label>所涉生物体类型</label>
				<div class="km-value" compare-val>
					<view-terms-hierarchy ng-model="document.cpbOrganismTypes" locale="locale" term-domain="typeOfOrganisms" on-terms-loaded="onOrganismTypesTerms(terms)"></view-terms-hierarchy>
				</div>
			</div>

			<div ng-if="document.description">
				<label>文件（包含目标和范围）的简要描述</label>
				<div compare-val>
					<km-value-ml value="document.description" html locales="locale"></km-value-ml>
				</div>
			</div>
			<div ng-if="document.entryIntoForce">
				<label>生效日期</label>
				<div class="km-value" compare-val><span ng-bind="document.entryIntoForce|formatDate"></span></div>
			</div>
		</div>


		<div ng-if="document.documents || document.unofficialDocuments || document.documentsInfo">
			<legend>文档细节</legend>
			<div ng-if="document.documents">
				<label>文档文本</label>
				<div class="km-value" compare-val>
					<km-link-list  ng-model="document.documents"></km-link-list>
				</div>
			</div>

			<div ng-if="document.unofficialDocuments">
				<label>非正式文件</label>
				<div class="km-value" compare-val>
					<km-link-list  ng-model="document.unofficialDocuments"></km-link-list>
				</div>			
			</div>
			<div compare-val ng-if="document.documentsInfo">
				<km-value-ml value="document.documentsInfo" html locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.relatedRecords || document.relationDetails">
			<legend>与其他法律/法规的关系</legend>
			<div ng-if="document.relatedRecords">
				<label>包含相关措施的记录</label>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.relatedRecords">
							<view-record-reference ng-model='item.identifier' locale="locale"></view-record-reference>
						</li>
					</ul>						
				</div>
			</div>
			<div ng-if="document.relationDetails">
				<label>描述这些措施之间的关系</label>
				<div compare-val>
					<km-value-ml value="document.relationDetails" html locales="locale"></km-value-ml>
				</div>
			</div>
		</div>


		<div ng-if="document.authorities">
			<legend>监管联系方式</legend>
			<label>国家主管部门和/或补充议定书主管部门</label>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.authorities" >						
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-if="document.relevantInformation||document.relevantDocuments">
			<legend>更多信息</legend>

			<div ng-if="document.relevantInformation">
				<div class="km-value" compare-val ng-bind-html="document.relevantInformation | lstring:locale"></div>
			</div>

			<div ng-if="document.relevantDocuments">
				<label>其他相关网站地址和/或附加文件</label>
					<div class="km-value" compare-val>
						<km-link-list  ng-model="document.relevantDocuments"></km-link-list>
					</div>
			</div>
		</div>
		
		<div>
			<view-referenced-records ng-model="document.header.identifier" on-data-fetch="onReferencedRecordsDataFetch(data)"></view-referenced-records>
		</div>
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
