<div id="Record" class="record panel panel-default" dir="rtl">
	<div class="panel-heading bg-darkgrey"><h4>Statement</h4></div>
	<div class="record-body panel-body">
			
		<document-date></document-date><br><div ng-show="document.title_EN_t">
			<label>العنوان</label><span class="km-value">{{document.title_EN_t | lstring:locale}}</span></div>

		<div ng-show="document.description_EN_t">
			<label>الوصف</label><span class="km-value">{{document.description_EN_t}}</span></div><!-- <div ng-show="document.text_EN_txt">
			<label>Text</label>
			<span class="km-value">
				{{document.text_EN_txt}}
			</span>
		</div> --><div ng-show="document.themes_CEN_ss">
			<label>الموضوعات</label>
			<div class="km-value" >
				<ul class="list">
					<li ng-repeat="item in document.themes_CEN_ss">{{item |stringToJSON | lstring:locale}}</li>
				</ul>
			</div>
		</div>

		<div ng-show="document.thematicAreas_CEN_ss">
			<label>Thematic Areas</label>
			<div class="km-value" >
				<ul class="list">
					<li ng-repeat="item in document.thematicAreas_CEN_ss">{{item |stringToJSON | lstring:locale}}</li>
				</ul>
			</div>
		</div>


		<div ng-show="document.url_ss">
			<label>رابط الوثيقة</label><span class="km-value"><ul class="list">
					<li ng-repeat="url in document.url_ss"><a rel="noopener" translation-url  ng-href="{{url}}" target="_"><span ng-bind="url"></span></a></li>
				</ul></span></div>
	</div>
	<div document-metadata  class="panel-footer"></div>
</div>
