<div class="about-section"   id="aboutPage">

<style> .ngdialog.ngdialog-theme-default .ngdialog-content { width: 80%; } </style>

  <link rel="stylesheet" ng-href="/app/css/about.css">
    <div class="container">
    <div class="row" >
        <div class="col-xs-12" >
            <h1 class="main">视频</h1></br><div ng-repeat="video in videos" style="padding-bottom: 15px;">
                <h1 ng-bind="video.heading"></h1>
                <p ng-bind="video.desc"></p>
                <p class="thumbnail">
                    <ng-youtube-embed width="100%" video="video.url"></ng-youtube-embed>
                </p>
            </div>
        </div>
    </div>
</div><!-- Modal --><script type="text/ng-template" trados-translation="true" id="video-pop-modal">
             <div ng-repeat="video in video_pop" style="padding-bottom: 15px;">
                <h1 ng-bind="video.heading"></h1>
                <p ng-bind="video.desc"></p>
                <p class="thumbnail">
                     <ng-youtube-embed width="100%" video="video.url"></ng-youtube-embed> 
                </p>
            </div>
    </script>


</div>
