<div class="row top-records" style="margin:0 0 5px 0" ng-show="loading || self.records.Items.length > 0">
    <h4 ng-if="self.title" style="padding:3px;margin-top:0;border-bottom:1px solid #ddd;" ng-bind="self.title"></h4>
    <div ng-if="loading" style="margin:0 48%"></div>
    <style></style>
    <table class="table table-hover table-striped" style="width:100%;" ng-if="self.records.Items.length > 0">
        <thead style="padding-bottom:10px;">
            <tr>
                <th></th>
                <th style="font-weight: normal;font-size:12px;"></th>
                <th style="font-weight: normal;font-size:12px;"></th>
                <th style="font-weight: normal;font-size:12px;"></th>
            </tr>
        </thead> 
        <tbody ng-repeat="record in self.records.Items | orderBy:'workingDocumentLock.lockedOn'">
            <tr id="record{{record.identifier}}">
                <td style="width:100px; text-align: right;"><div class="btn-group document_buttons btn-group-xs" ng-show="record.workflowActivityStatus!='pending'"></div></td>       
                <td style="width:40%;"></td>
                <td>                    
                    <div ng-if="record.workingDocumentUpdatedBy"></div>
                    <div ng-if="record.workingDocumentCreatedBy && !record.workingDocumentUpdatedBy"></div>
                    <div ng-if="!record.workingDocumentCreatedBy && !record.workingDocumentUpdatedBy">
                            <div ng-show="record.updatedBy"></div>
                            <div ng-show="record.createdBy && !record.updatedBy"></div>
                        </div>
                </td>
                <td class=""></td> 
            </tr>
        </tbody>
    </table>
</div>
