<div class="container-fluid record-metadata" dir="rtl"><!--<div class="row">
        <div class="col-xs-12">
            <div id="divEndorsements" ng-show="endorsements && endorsements.length > 0">
                <label>Government(s) that have endorsed this record</label>
				<div class="km-value">
					<ul>
						<li ng-repeat="endorsement in endorsements">
							<a rel="noopener" translation-url   ng-href="/countries/{{endorsement.government_s}}">{{endorsement.government_EN_s}}</a>
						</li>
					</ul>
				</div>
            </div>
        </div>
    </div>--></div>
