<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-orange" ng-show="display('header')">
		<h4></h4>
    </div>
	<div class="record-body panel-body">

			
		<document-date></document-date><div ng-show="document.title">
			<label></label>
			<div class="km-value km-pre" ng-bind="document.title | lstring:locale"></div>
		</div>

		<div ng-show="document.resourceTypes">
			<label></label>
            <div class="km-value">
			<ul class="list">
				<li ng-repeat="resourceType in document.resourceTypes"></li>
			</ul>
            </div>
		</div>

		<div ng-show="document.fileFormat">
			<label></label>
			<div class="km-value" ng-bind="document.fileFormat | term:locale"></div>
		</div>

		<div ng-show="document.formatDetails">
			<label></label>
			<div class="km-value km-pre" ng-bind="document.formatDetails | lstring:locale"></div>
		</div>

		<div ng-show="document.purpose">
			<label></label>
			<div class="km-value">
            <ul class="list">
				<li ng-repeat="term in document.purpose"></li>
			</ul>
            </div>
		</div>

		<div ng-show="document.targetGroups">
			<label></label>
            <div class="km-value">
                <ul class="list">
                    <li ng-repeat="term in document.targetGroups"></li>
                </ul>
            </div>
		</div>

		<div ng-show="document.expertiseLevel">
			<label></label>
			<div class="km-value" ng-bind="document.expertiseLevel | term:locale"></div>
		</div>

		<div ng-show="document.authors">
			<label></label>
			<div class="km-value km-pre" ng-bind="document.authors | lstring:locale"></div>
		</div>

		<div ng-show="document.organizations">
			<label></label>
			<div class="km-value" ng-repeat="contact in document.organizations">
				<div view-record-reference ng-model="contact" locale="locale"></div>
			</div>
		</div>

		<div ng-show="document.publicationYear">
			<label></label>
			<div class="km-value" ng-bind="document.publicationYear"></div>
		</div>

		<div ng-show="document.rights">
			<label></label>
			<div class="km-value km-pre" ng-bind="document.rights | lstring:locale"></div>
		</div>

		<div ng-show="document.source">
			<label></label>
			<div class="km-value km-pre" ng-bind="document.source | lstring:locale"></div>
		</div>

		<legend ng-show="document.resourceLinks || document.covers"></legend>

		<div ng-show="document.resourceLinks">
			<label></label>
			<div class="km-value" compare-val="Link to the resource(s)">
				<km-link-list  ng-model="document.resourceLinks"></km-link-list>
			</div>
		</div>

		<div ng-show="document.covers">
			<label ></label>
			<div class="km-value"></div>
		</div>

		<legend ng-show="document.summary || document.regions"></legend>

		<div ng-show="document.summary">
			<label></label>
			<div class="km-value km-pre" ng-bind="document.summary | lstring:locale"></div>
		</div>

		<div ng-show="document.regions">
			<label></label>
			<div class="km-value">
            <ul class="list">
				<li ng-repeat="term in document.regions | orderBy:name"></li>
			</ul>
            </div>
		</div>


		<div ng-show="document.cbdSubjects || document.aichiTargets">

			<legend></legend>

			<div ng-show="document.cbdSubjects">
				<label></label>
					<div class="km-value">
						<ul class="list">
							<li ng-repeat="term in document.cbdSubjects"></li>
						</ul>
					</div>
			</div>

			<div ng-show="document.aichiTargets">
				<div ng-show="document.aichiTargets">
					<label></label>
					<div class="km-value">
                     <ul class="list">
						<li ng-repeat="term in document.aichiTargets"></li>
					</ul>
                    </div>
				</div>
			</div>
		</div>

		<div ng-show="document.absKeyAreas">
			<legend></legend>

			<label></label>
			<div class="km-value">
              <ul class="list">
				<li ng-repeat="term in document.absKeyAreas"></li>
			</ul>
            </div>
		</div>

		<div ng-show="document.bchSubjects">

			<legend></legend>

			<div ng-show="document.bchSubjects">
				<label></label>
				<div class="km-value">
                <ul class="list">
					<li ng-repeat="term in document.bchSubjects"></li>
				</ul>
			</div>
            </div>
		</div>

		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend></legend>

			<div ng-show="document.relevantInformation">
				<div class="km-value km-pre" ng-bind-html="document.relevantInformation | lstring:locale | markdown"></div>
			</div>

			<div ng-show="document.relevantDocuments">
				<label></label>
				<div class="km-value" compare-val="Other relevant website addresses and/or attached documents">
					<km-link-list ng-model="document.relevantDocuments"></km-link-list>
				</div>
			</div>
		</div>
		<div>
			<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>
		</div>
</div>

	<div document-metadata  class="panel-footer"></div>

</div>