<div  id="RegisterPage" dir="rtl">
	<link href="/app/css/register.css" rel="stylesheet">
	<link href="/app/css/record.css" rel="stylesheet"><span register-top-menu dir="rtl"></span><style> .table>tbody:hover { background-color: #f2dede; ; } .hyphenate { /* Careful, this breaks the word wherever it is without a hyphen */ overflow-wrap: break-word; word-wrap: break-word; /* Adds a hyphen where the word breaks */ -webkit-hyphens: auto; -ms-hyphens: auto; -moz-hyphens: auto; hyphens: auto; } .message_body{ max-width: 1759px; margin-right: 15px!important; margin-left: 15px!important; } </style>
	<div class=" innerPageContent register-content card card-1-notrans" style="margin:0;padding:20px;">

		<div class="register-content-header bg-pink color-white">
			<div style="padding:10px 10px;">
				<h3>طلبات الإدارة المعلقة</h3>
			</div>
		</div>
		<div class="register-content-content">

			<legend name="formInfo" style="display:none"></legend><!--<div style="font-weight:bold;">Records which have been not approved since 12 weeks.</div>--><div class="registerpage-content">

				<div class="alert alert-danger" ng-show="__error"><strong>خطأ:</strong><span ng-bind="__error"></span></div>
				<legend>فلاتر التصفية</legend>
				<div class="row">
					<div class="col-xs-6">
						<div class="km-control-group" name="startDate" required caption="تاريخ البدء">
							<div km-date placeholder="يوم - شهر - سنة" required name="startDate" ng-model="filters.startDate"></div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="km-control-group" name="endDate" caption="End Date">
							<div km-date placeholder="يوم - شهر - سنة" name="endDate" ng-model="filters.endDate"></div>
						</div>
					</div>
				</div><!--<div class="row">
                    <div class="col-xs-12">
                        <div class="pull-left">                            
                            <input type="text" ng-model="keywords" placeholder=" keyword " class="form-control keyword" style="width:250px;display:inline;">
                        </div>
                    </div>
                </div>--> <br> <br><div class="row">
					<div class="col-xs-12">
						<div class="table-responsive " style="margin-top:15px;">

							<table class="table table-bordered " infinite-scroll="loadErrors()" infinite-scroll-busy="loadingErrors" infinite-scroll-distance="0">
								<thead>
									<tr>
										<th>لا.</th>
										<th>إصدار التطبيق</th>
										<th>المستوى</th>
										<th>تاريخ</th>
										<th>الرسالة</th>
										<th></th>
									</tr>
								</thead>
								<tbody ng-repeat="error  in errors">
									<tr>
										<td ng-bind="recordCount - $index"></td>
										<td><!--https://github.com/scbd/absch.cbd.int/releases/tag/2016.49.3--> <a rel="noopener" target="_blank" ng-href="https://github.com/scbd/absch.cbd.int/commit/{{getGitHash(error.appVersion)|encodeURIComponent}}"><span ng-bind="error.appVersion|limitTo:20"></span>...</a></td>
										<td ng-bind="error.level"></td>
										<td ng-bind="error.timestamp|formatDateWithTime"></td>
										<td ng-bind="error.message|limitTo:100"></td>
										<td>
											<button type="button" class="btn btn-primary" ng-click="error.showDetails=!error.showDetails">إظهار التفاصيل</button>
										</td>
									</tr>
									<tr ng-if="error.showDetails">
										<td colspan="6">
											<div class="message_body"><span class=""><b>عنوان الرابط:</b> <span ng-bind="error.url"></span><br> </span><br> <span class=""><b>اسم المستخدم:</b> <a rel="noopener" ng-if="error.user != 1" ng-href="https://accounts.cbd.int/admin/users/{{error.user|encodeURIComponent}}" ng-bind="error.user"></a> <span ng-if="error.user == 1">مجهول</span></span><br><br> <span class=""><b>وكيل المستخدم:</b> <span ng-bind="error.userAgent.trim()"></span><br> </span><br><p class="hyphenate"><b>الرسالة:</b> <span ng-bind="error.message.trim()"></span></p><br><pre class="special_formatting ">													
														<p class="language-html pull-left hyphenate" data-lang="html" style="margin:0px" ng-bind-html="error.stack">
														</p>
													</pre>
											</div>

										</td>
									</tr>
								</tbody>
							</table>
							<div class="alert alert-success" ng-show="errors.length==0">لا يوجد ما يستدعي الاهتمام</div>
							<div style="margin-left:50%" ng-show="loadingErrors"><i class="fa fa-spin fa-spinner" ></i> قيد التحميل ...</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>