<div >
	<div class="container" style="margin-top:20px;">
		<style></style>
		<div class="row">
			<div class="col-sm-12 card">
				<h1></h1>
			</div>

			<div class="col-sm-12 card" ng-repeat="measure in measures">
				<div ng-click="loadMatrix(measure)" style="cursor:pointer"></div>
				<div ng-show="measure.isLoading"></div>
				<div class="row" ng-show="measure.document && measure.showDocument"><div class="col-sm-1"></div>
					<div class="col-sm-11">
						<table class="table noBorder">
							<tr>
								<td></td>
								<td>
									<div ng-repeat="amended in measure.document[0].amendedMeasures"></div>
								</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>
									<div ng-repeat="linkedMeasure in measure.document[0].linkedMeasures"></div>
								</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
						</table>
					</div>
					<div class="col-sm-12">
						<div measure-matrix-elements name="absMeasures" ng-model="measure.document[0].absMeasures" locales="measure.document[0].header.languages" document="measure.document"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
