<div id="CBD-Branding" class="footer ng-cloak" dir="rtl">
  <div class="footer">
    <div class="footer-cbd">
      <div class="container-fluid footer-cbd-container">
        <div class="row copyright">
          <div class="col-xs-12"><a rel="noopener" translation-url href="http://www.cbd.int" dir="rtl"><img src="/app/components/scbd-branding/images/cbd-logo-white-en.svg" style="padding: 0 0 14px 0; margin: 0; width:200px;" /></a><p style="font-size:10px;"><a rel="noopener" translation-url href="http://www.cbd.int">© {{year}} أمانة اتفاقية التنوع البيولوجي SCBD</a> | <a rel="noopener" translation-url href="http://www.cbd.int/privacy">سياسية الخصوصية</a> | <a rel="noopener" translation-url href="http://www.cbd.int/terms">شروط الاستخدام</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
