<div>  
    <div ng-if="currentCountry.code" style="padding:5px;margin-bottom:10px;" ng-class="{ 
    'bg-chm': isCHM && currentCountry.isParty && !currentCountry.isInbetweenParty, 
    'bg-darkgrey':!currentCountry.isParty && !currentCountry.isInbetweenParty, 
    'bg-inbetween': currentCountry.isInbetweenParty}">
        <div>
        
            <span class="color-white fw-bold" ng-if="((isCHM && currentCountry.isParty) || (isCHM && currentCountry.isParty)) && !currentCountry.isInbetweenParty">
                {{::('homepinPopupChmTranslation.partyToConvention'|$translate)}}</span>
            
                <span  class="color-white fw-bold" ng-if="(isCHM && currentCountry.isInbetweenParty)">
                    {{::('homepinPopupChmTranslation.ratifiedNotYetParty'|$translate)}}</span>

                <span  class="color-white fw-bold" ng-if="(isCHM && !currentCountry.isParty && !currentCountry.isInbetweenParty) || (isCHM && !currentCountry.isParty)">
                    {{::('homepinPopupChmTranslation.notPartyToConvention'|$translate)}}</span>

        </div>


    </div>
    <div>

        <table class="table table-map table-condensed" style="display: block;overflow-x: auto;white-space: nowrap;" >
            <tr ng-repeat="schema in countryMapScope.currentCountry.schemas" style="border:none;">
                <td>
                    <span class="rounded badge ms-2"  ng-class="{'bg-gray-300' : schema.count==0, 'bg-chm':schema.count>0 }" ng-bind="schema.count"></span>
                </td>
                <td>                  
                    <a rel="noopener" ng-if="currentCountry.code" translation-url ng-click="ToggleCountyList(schema.shortCode,currentCountry.code)" class="  text-black cursor-pointer" >
                        <span ng-bind="schema.title | lstring:locale"></span>
                    </a>                
                    <a rel="noopener" ng-if="!currentCountry.code" translation-url href="{{translationUrl}}/search?schema={{schema.shortCode|mapSchema}}" class="  text-black ">
                        <span ng-bind="schema.title | lstring:locale"></span>   
                    </a>                   
                </td>
            </tr>
        </table>
    </div>
</div>
