<div>
    <div ng-if="currentCountry.code" style="padding:5px;" ng-class="{'bg-party': currentCountry.isParty, 'bg-darkgrey':!currentCountry.isParty, 'bg-inbetween': currentCountry.isInbetweenParty}">
        <div>
            <span ng-if="(isABS && currentCountry.isParty) || (isBCH && currentCountry.isParty)"
                >Party to the Nagoya Protocol</span>
            <span ng-if="(isABS && currentCountry.isInbetweenParty)"
                >Ratified, not yet Party</span>
            <span ng-if="(isABS && !currentCountry.isParty && !currentCountry.isInbetweenParty) || (isBCH && !currentCountry.isParty)"
                >Not a Party to the Nagoya Protocol</span>
        </div>

        <div class="row abs-exception-tooltip"
        ng-if="countryMapScope.currentCountry.exceptionCountry=='dk'||countryMapScope.currentCountry.code.toLowerCase()=='dk'||
                countryMapScope.currentCountry.code.toLowerCase()=='fk'||countryMapScope.currentCountry.code.toLowerCase()=='eh'||
                countryMapScope.currentCountry.exceptionCountry=='gb'||countryMapScope.currentCountry.code.toLowerCase()=='gb'">
            <div class="col-lg-12">
                <div class="small  {{(countryMapScope.currentCountry.exceptionCountry.toLowerCase()=='dk' || countryMapScope.currentCountry.code.toLowerCase()=='dk') ? 'show' : 'hide'}}"
                    style="margin-top:5px;white-space: normal;padding:3px;">
                    Denmark’s ratification of the Protocol does not apply in respect of Greenland and the Faroe Islands.
                </div>
                <div class="{{countryMapScope.currentCountry.exceptionCountry.toLowerCase()=='fk' ? 'show' : 'hide'}}   small " style="margin-top:5px;white-space: normal;padding:3px;">
                    A dispute exists between the Governments of Argentina and the United Kingdom of Great Britain and Northern
                    Ireland concerning sovereignty over the Falkland Islands (Malvinas).
                </div>
                <div class="{{countryMapScope.currentCountry.code.toLowerCase()=='eh' ? 'show' : 'hide'}}   small " style="margin-top:25px;white-space: normal;padding:3px;font-size: x-large;">
                    Non-Self Governing Territory.
                </div>
                <div class="small  {{(countryMapScope.currentCountry.exceptionCountry.toLowerCase()=='gb'||countryMapScope.currentCountry.code.toLowerCase()=='gb') ? 'show' : 'hide'}}" style="margin-top:5px;white-space: normal;padding:3px;">
                    The UK’s ratification of the Nagoya Protocol does not extend to the
                    <a rel="noopener" ng-href="#"  class=" color-litegrey gb-territories" 
                    data-container="body" data-toggle="tooltip" data-placement="top" title="Anguilla; Bermuda; British Antarctic Territory; British Indian Ocean Territory; British Virgin Islands; Cayman Islands; Falkland Islands; Gibraltar; Montserrat; Pitcairn Islands; Saint Helena, Ascension and Tristan da Cunha; South Georgia and the South Sandwich Islands; Sovereign Base Areas of Akrotiri and Dhekelia; Turks and Caicos Islands">14 Overseas Territories </a>
                    or
                    <a rel="noopener" ng-href="#" class=" color-litegrey gb-territories"  data-container="body" 
                        data-toggle="tooltip" data-placement="left" title="Bailiwick of Jersey, the Bailiwick of Guernsey and the Isle of Man">3 Crown Dependencies</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <table class="table table-map table-condensed" style="display: block;overflow-x: auto;white-space: nowrap;" >
            <tr ng-repeat="schema in countryMapScope.currentCountry.schemas" style="border:none;">
                <td >
                    <span class="badge" ng-class="{'bg-gray-300' : schema.count==0}"><span ng-bind="schema.count" ng-class="{'bg-gray-300' : schema.count==0}"></span></span>
                </td>
                <td>
                    <a rel="noopener" ng-if="currentCountry.code" translation-url href="{{translationUrl}}/countries/{{currentCountry.code}}/{{schema.shortCode}}"  style="color:#fff">
                        <span ng-bind="schema.title | lstring:locale"></span>
                    </a>
                    <a rel="noopener" ng-if="!currentCountry.code" translation-url href="{{translationUrl}}/search?schema={{schema.shortCode|mapSchema}}"  style="color:#fff">
                        <span ng-bind="schema.title | lstring:locale"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
