<div>   
    <div ng-if="currentCountry.code" style="padding:5px;" ng-class="{'bg-party': currentCountry.isParty, 'bg-darkgrey':!currentCountry.isParty, 'bg-inbetween': currentCountry.isInbetweenParty}">
        <div>
            <span ng-if="(isCHM && currentCountry.isParty) || (isCHM && currentCountry.isParty)">
                {{::('pinPopupChmT.partyToNagoya'|$translate)}}</span>
            <span ng-if="(isCHM && currentCountry.isInbetweenParty)">
                {{::('pinPopupChmT.ratified'|$translate)}}</span>
            <span ng-if="(isCHM && !currentCountry.isParty && !currentCountry.isInbetweenParty) || (isCHM && !currentCountry.isParty)">
                {{::('pinPopupChmT.notPartyToNagoya'|$translate)}}</span>
        </div>     
    </div>
    <div>    
        <table class="table table-map table-condensed" style="display: block;overflow-x: auto;white-space: nowrap;" >
            <tr ng-repeat="schema in countryMapScope.currentCountry.schemas" style="border:none;">
                <td >
                    <span class="badge bg-black"><span ng-bind="schema.count"></span></span>
                </td>
                <td>
                    <a rel="noopener" ng-if="currentCountry.code" translation-url href="{{translationUrl}}/countries/{{currentCountry.code}}/{{schema.shortCode}}"  style="color:#fff">
                        <span ng-bind="schema.title | lstring:locale"></span>                     
                    </a>
                    <a rel="noopener" ng-if="!currentCountry.code" translation-url href="{{translationUrl}}/search?schema={{schema.shortCode|mapSchema}}"  style="color:#fff">
                        <span ng-bind="schema.title | lstring:locale"></span>                     
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
