<div>

    <div class="row">
            <div class="col-lg-12" >
                <table class="table table-hover"  style="padding-bottom:3px;background-color:#fff">
    				<tr ng-repeat="doc in rawPermitSelected">{{doc}}<td><span class="latest-date">{{doc.createdDate_dt | formatDate}}</span> | <span class="latest-country">{{doc.government | term:locale}}</span> | <span>{{doc | uniqueID}}</span><div class="latest-title">{{doc.title_t}}</div>
    					</td>
                        <td><span style="font-size: 16px; color: white;margin:0;padding:0;float:right;"><a rel="noopener" translation-url  ng-click="removePermit(doc)" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span>&nbsp;移除</a></span></td>
    				</tr>
    			</table>
            </div>
    </div>


<style media="screen"> .dateBox{padding:0px;background-color:#fff;} .dateBox li, .uniqueId{ border: 1px solid transparent; border-radius: 4px; border-color: #ccc; } .datepicker{z-index:1151 !important;} </style>



    <button type="button" class="btn btn-default" ng-click="openDialog();" ng-disabled="disabled" >{{caption||'将链接添加到现有 IRCC »'}}</button><!-- Modal --><div class="modal fade rounded" id="existingPermits" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-grey">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                    <h1>已公布的国际公认合规证书（IRCC）</h1>

                    <div>
                            <div km-select multiple required name="queryGovernment" ng-model="queryGovernment" items="options.government()" placeholder="政府"></div>
                            <div km-select multiple required name="permitusage" ng-model="permitusage" items="options.usage()" placeholder="意图"></div>
                            <div km-select multiple required name="permitkeywords" ng-model="permitkeywords" items="options.keywords()" placeholder="关键词"></div><span  class="dateBox" search-filter-dates title='许可证签发日期' query='permitIssuanceDate' field="expiration_s"></span><div class="btn-group" >
                                <button type="button" style="button" class="btn btn-default dropdown-toggle"  data-toggle="dropdown"><span>修正</span><span ng-show="amendmentIntent==0"  style="color:#428BCA">：已增补</span><span ng-show="amendmentIntent==1"  style="color:#428BCA">：撤销</span><span ng-show="amendmentIntent==-1" style="color:#428BCA">： 无</span> <span class="caret"></span></button>
                                <ul class="dropdown-menu" style="max-height:400px;overflow-y:auto;text-align:left">
                                <li ><a rel="noopener" translation-url  style="color:#999;" href ng-click="amendmentIntent=-2;" value="undefined"  ng-model="amendmentIntent" name="amendmentIntent">清除选择</a></li>
                                <li><a rel="noopener" translation-url  href ng-click="amendmentIntent=-1;" value="-1"  ng-model="amendmentIntent" name="amendmentIntent"><span ng-show="amendmentIntent==-1" class="glyphicon glyphicon-ok"></span> 无</a></li>
                                <li><a rel="noopener" translation-url  href ng-click="amendmentIntent=0;" value="0"  ng-model="amendmentIntent" name="amendmentIntent"><span ng-show="amendmentIntent==0" class="glyphicon glyphicon-ok"></span> 已增补</a></li>
                                <li ><a rel="noopener" translation-url  href ng-click="amendmentIntent=1;" value="1"  ng-model="amendmentIntent" name="amendmentIntent"><span ng-show="amendmentIntent==1" class="glyphicon glyphicon-ok"></span> 已撤销</a></li>

                            </ul>
                            </div>
                            <div class="btn-group uniqueId">
                                <input type="textbox" ng-model="uniqueId" placeholder="唯一识别码"  class="form-control" >
                            </div>
                        </div>
                </div>
                <div class="modal-body">

                        <div   style="max-height:400px;overflow-y:auto">
                            	<table class="table table-hover" style="padding:0;margin:0">
            						<tr ng-show="!isLoading" ng-repeat="doc in rawPermitDocs | filter:isSelected">
            							<td>
            								<input type="checkbox" ng-model="doc.__checked"/>
            							</td>
            							<td><span class="latest-date">{{doc.createdDate_dt | formatDate}}</span> | <span class="latest-country">{{doc.government | term:locale}}</span> | <span>{{doc | uniqueID}}</span> <!-- <span class="latest-schema"> {{doc.schema_EN_t | schemaName}} </span> --><div class="latest-title">{{doc.title_t}}</div>
            							</td>
                                        <td><a rel="noopener" translation-url  target="_blank" href="/database/record?documentID={{doc.identifier_s}}&documentSchema={{doc.schema_EN_t}}"><i class="glyphicon glyphicon-new-window" id="help-record-newwindow"></i></a></td>
            						</tr>

            						<tr ng-show="rawPermitDocs.length==0">
            							<td colspan="3">无记录。</td>
            						</tr>

            						<tr ng-show="isLoading">
            							<td colspan="3">正在加载...</td>
            						</tr>
            					</table>
                        </div>

                </div>
                <div class="modal-footer bg-grey">
                    <div class="row"><a rel="noopener" translation-url  type="button" class="btn btn-primary" ng-click="savePermits()">保存</a> <a rel="noopener" translation-url  type="button" class="btn btn-default" data-dismiss="modal">关闭</a></div>
                </div>

            </div>
        </div>
    </div>
</div>
