<div id="CBD-Branding" class="footer ng-cloak" >
  <div class="footer">
    <div class="footer-cbd" style="padding-top:50px;background-color: #555; border-top: 1px solid #444; " >
     
          <style>
            #cbd-footer a {color:#999;font-size:12px;}
            #cbd-footer ul { list-style: none;padding:0;}
            #cbd-footer {color:#333;}
            #cbd-footer h4{color:#ddd;font-size:14px;}
            #cbd-footer h3{color:#ddd;}
        </style>
   
          <div class="container" id="cbd-footer">
              <div class="row hidden-xs ">
                  <div class="col-xs-12">
                      <h3>
                        THE CONVENTION ON BIOLOGICAL DIVERSITY 
                      <span class="pull-right" >
                        <a rel="noopener" href="https://bch.cbd.int/member/subscriptions.shtml">
                            <i class="fa fa-fw fa-envelope"></i></a>
                        <a rel="noopener" href="https://bch.cbd.int/resources/rss.shtml">      
                             <i class="fa fa-fw fa-rss"></i></a>
                        <a rel="noopener" href="http://twitter.com/bchcpb/">                    
                            <i class="fa fa-fw fa-twitter"></i></a>
                        <a rel="noopener" href="http://www.facebook.com/UNBiodiversity/">       
                            <i class="fa fa-fw fa-facebook"></i></a>
                        <a rel="noopener" href="http://www.youtube.com/user/bchcpb/">           
                            <i class="fa fa-fw fa-youtube"></i></a>
                      </span>
                    </h3>
                       
                      <hr style="border-color: #bbb;">
                  </div>
              </div>

              <div class="row hidden-xs" >
              <div class="col-lg-2 col-md-2 col-sm-2 ">
                  <h4>The Convention</h4>
                  <ul>
                      <li><a translation-url="" href="https://www.cbd.int/convention/text/">Text of the Convention</a></li>
                      <li><a translation-url="" href="https://www.cbd.int/convention/parties/list/">List of Parties</a></li>
                      <li><a translation-url="" href="https://www.cbd.int/sp/">Strategic Plan</a></li>
                      <li><a translation-url="" href="https://www.cbd.int/programmes/">Programmes and Issues</a></li>
                      <li><a translation-url="" href="https://www.cbd.int/cooperation/">Cooperation &amp; Partnerships</a></li>
                  </ul>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                  <h4>Cartagena Protocol</h4>
                  <ul>
                      <li><a translation-url="" href="https://bch.cbd.int/protocol/text/">Text of the Protocol</a></li>
                      <li><a translation-url="" href="https://bch.cbd.int/protocol/parties/">List of Parties</a></li>
                      <li><a translation-url="" href="https://bch.cbd.int/protocol/issues/cpb_stplan.shtml">Strategic Plan</a></li>
                      <li><a translation-url="" href="https://bch.cbd.int/">Biosafety Clearing-House</a></li>
                  </ul>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                  <h4>Nagoya Protocol</h4>
                  <ul>
                      <li><a translation-url="" href="https://www.cbd.int/abs/text/">Text of the Protocol</a></li>
                      <li><a translation-url="" href="https://www.cbd.int/abs/nagoya-protocol/signatories/">List of Parties</a></li>
                      <li><a translation-url="" href="https://absch.cbd.int/">ABS Clearing-House</a></li>
                  </ul>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                  <h4>Programmes</h4>
                  <ul>
                      <li><a translation-url="" href="https://www.cbd.int/programmes/">Thematic Programmes</a></li>
                      <li><a translation-url="" href="https://www.cbd.int/programmes/">Cross-Cutting Issues</a></li>
                      <li><a translation-url="" href="https://www.cbd.int/programmes/">Major Groups</a></li>
                  </ul>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                  <h4>Information</h4>
                  <ul>
                      <li><a translation-url="" href="https://www.cbd.int/meetings/">Meetings</a></li>
                      <li><a translation-url="" href="https://www.cbd.int/notifications/">Notifications</a></li>
                      <li><a translation-url="" href="https://www.cbd.int/countries/">National Information</a></li>
                      <li><a translation-url="" href="https://www.cbd.int/information/publications.shtml">Publications</a></li>
                  </ul>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                  <h4>Secretariat</h4>
                  <ul>
                      <li><a translation-url="" href="https://www.cbd.int/secretariat/">Overview</a></li>
                      <li><a translation-url="" href="https://www.cbd.int/secretariat/staff/">Staff</a></li>
                      <li><a translation-url="" href="https://www.cbd.int/secretariat/vacancies/">Opportunities</a></li>
                      <li><a translation-url="" href="https://www.cbd.int/contact/">Contact Us</a></li>
                  </ul>
              </div>
          </div>

            <div class="row copyright" >
              <div class="col-xs-12 text-center">
                <a rel="noopener" translation-url href="http://www.cbd.int"><img src="/app/img/cbd-logo-white-en.svg" style="padding: 0; margin: 0; width:220px;" /></a>
                <img class="uno-environment" src="/app/img/UNEP_2019_brand_white.svg" style="padding: 0; margin: 40px; width:100px;" alt="UN ENVIRONMENT">
                <img class="uno-brand" src="/app/img/UN_brand_neg.svg" style="padding: 0; margin: 0; width:100px;" alt="UN BRAND">
             </div>

             <div class="col-xs-12 text-center" >
                <p style="margin-top;20px;font-size:10px;">
                    <a  rel="noopener" translation-url href="http://www.cbd.int">© {{year}} SCBD</a> 
                  <span style="color:#999"> | </span> <a rel="noopener" translation-url href="http://www.cbd.int/privacy">Privacy Policy</a> 
                  <span style="color:#999"> | </span> <a rel="noopener" translation-url href="http://www.cbd.int/terms">Terms of Use</a></p>
             </div>
              
            </div>
          </div>
      </div>
    </div>
  </div>
