<div id="CBD-Branding" class="footer ng-cloak" >
  <div class="footer">
    <div class="footer-cbd" style="padding-top:50px;background-color: #555; border-top: 1px solid #444; " >
     
          <style>
            #cbd-footer a {color:#999;font-size:12px;}
            #cbd-footer ul { list-style: none;padding:0;}
            #cbd-footer {color:#333;}
            #cbd-footer h4{color:#ddd;font-size:14px;}
            #cbd-footer h3{color:#ddd;}
        </style>
   
          <div class="container" id="cbd-footer">
              <div class="row hidden-xs ">
                  <div class="col-xs-12">

                    <a rel="noopener" translation-url href="http://www.cbd.int"><img src="/app/img/cbd-logo-white-en.svg" style="padding: 0; margin: 0; width:220px;" /></a>

                      <h3>
                        THE CONVENTION ON BIOLOGICAL DIVERSITY 
                      <span class="pull-right" >
                        <a rel="noopener" href="https://bch.cbd.int/member/subscriptions.shtml">
                            <i class="fa fa-fw fa-envelope"></i></a>
                        <a rel="noopener" href="https://bch.cbd.int/resources/rss.shtml">      
                             <i class="fa fa-fw fa-rss"></i></a>
                        <a rel="noopener" href="http://twitter.com/bchcpb/">                    
                            <i class="fa fa-fw fa-twitter"></i></a>
                        <a rel="noopener" href="http://www.facebook.com/UNBiodiversity/">       
                            <i class="fa fa-fw fa-facebook"></i></a>
                        <a rel="noopener" href="http://www.youtube.com/user/bchcpb/">           
                            <i class="fa fa-fw fa-youtube"></i></a>
                      </span>
                    </h3>
                       
                      <hr style="border-color: #bbb;">
                  </div>
              </div>

              <div class="row hidden-xs" >
              <div class="col-sm-4">
                  <h4>Quick Links</h4>

                  <div class="flex-two-column">
                    <a href="https://absch.cbd.int/" title="Access and Benefit-Sharing Clearing-House">Access and Benefit-Sharing Clearing-House</a>
                  <a href="https://bch.cbd.int/" title="Biosafety Clearing-House">Biosafety Clearing-House</a>
                  <a href="https://chm.cbd.int/" title="Clearing-House Mechanism">Clearing-House Mechanism</a>
                  <a href="/contributions" title="Contributions">Contributions</a>
                  <a href="https://www.cbd.int/countries/" title="Country Profiles">Country Profiles</a>
                  <a href="/meetings/" title="Meetings and Events">Meetings and Events</a>
                  <a href="/nbsap" title="National Biodiversity Strategies and Action Plans (NBSAPs)">National Biodiversity Strategies and Action Plans (NBSAPs)</a>
                  <a href="/nfp" title="National Focal Points">National Focal Points</a>
                  <a href="/reports" title="National Reports">National Reports</a>
                  <a href="/news/" title="News Headlines">News Headlines</a>
                  <a href="/notifications/" title="Notifications">Notifications</a>
                  <a href="/parties" title="Parties">Parties</a>
                  <a href="/publications" title="Publications">Publications</a>
                </div>

                  
              </div>
              <div class="col-sm-4">
                  <h4>Topics</h4>
                  <div class="flex-two-column">
                    <a href="/topic/business-women-youth-and-other-stakeholders" title="Business, Women, Youth and other Stakeholders">Business, Women, Youth and other Stakeholders</a>
                  <a href="/topic/climate-change" title="Climate Change">Climate Change</a>
                  <a href="/topic/poverty-reduction" title="Poverty Reduction">Poverty Reduction</a>
                  <a href="/topic/food" title="Food">Food</a>
                  <a href="/topic/water" title="Water">Water</a>
                  <a href="/topic/indigenous-peoples-and-local-communities" title="Indigenous Peoples and Local Communities">Indigenous Peoples and Local Communities</a>
              </div>
              </div>
              <div class="col-sm-4">
                  <h4>Information</h4>
                  <div class="flex-one-column">
                    <a href="/contact" title="Contact us">Contact us</a>
                <a href="/terms" title="Terms of Use">Terms of Use</a>
                <a href="/privacy" title="Privacy Policy">Privacy Policy</a>
                <a href="/credits" title="Credits">Credits</a>
                <a href="/copyright" title="© CBD Secretariat">© CBD Secretariat</a>
              </div>
              </div>
              <div class="col-sm-4">
                  <h4>A part of</h4>
                  <img class="uno-environment" src="/app/img/UNEP_2019_brand_white.svg" style="padding: 0; margin: 40px; width:100px;" alt="UN ENVIRONMENT">
                  <img class="uno-brand" src="/app/img/UN_brand_neg.svg" style="padding: 0; margin: 0; width:100px;" alt="UN BRAND">
              </div>
          </div>

            <div class="row copyright" >
             <div class="col-xs-12 text-center" >
                <p style="margin-top:20px;font-size:10px;">
                    <a  rel="noopener" translation-url href="http://www.cbd.int">© {{year}} SCBD</a> 
                  <span style="color:#999"> | </span> <a rel="noopener" translation-url href="http://www.cbd.int/privacy">Privacy Policy</a> 
                  <span style="color:#999"> | </span> <a rel="noopener" translation-url href="http://www.cbd.int/terms">Terms of Use</a></p>
             </div>
            </div>

          </div>
      </div>
    </div>
  </div>
