<div id="Search-Filter"  class="row" ng-show="rf_filters.length" style="margin-bottom:30px;">
    <div  class="col-md-12"  >
    <div class="heading color-orange" ng-if="rf_filters.length"></div>
    <hr class="heading" ng-if="rf_filters.length">
        <p class="helpinfo" ng-if="rf_filters.length"></p>
        
    <div ng-repeat="doc in rf_filters = (rf_searchFilters | filter:searchKeyword | orderBy:['filterSort', 'sort'])"></div>
    <div ng-if="(searchKeyword && !showFilters) && rf_filters.length" style="margin-bottom:10px;"></div>  
    </div>
</div>
