.map-disclaimer {
  position: absolute;
  font-family: Verdana;
  font-size: 11px;
  opacity: .7;
  display: block;
  bottom: 30px;
  right: 0px;
  cursor: pointer;
  left: 70%;
}
.tag-line {
  position: relative;


  font-family: Verdana;
  font-size: 11px;
  opacity: 0.7;
  display: block;
  float:right;
  bottom:20px;
  cursor: pointer;
}
.map a {color:white important!;}

.z10{ z-index: 1000 important!;}