<div>
	<h1>{{country.name}}</h1>

	<dl>
		<dt>Convention on Biological Diversity (<a href="http://treaties.un.org/doc/Treaties/1992/06/19920605%2008-44%20PM/Ch_XXVII_08p.pdf">certified true copy</a>)</dt>
		<dd>
			<dl class="dl-horizontal">
				<dt>Signature</dt>
				<dd>{{country.treaties.XXVII8.signature}}&nbsp;</dd>
				<dt>Depositary notification</dt>
				<dd>{{country.treaties.XXVII8.deposit}} <span ng-show='country.treaties.XXVII8.instrument+null'>({{country.treaties.XXVII8.instrument}})</span>&nbsp;</dd>
				<dt>Entry into force</dt>
				<dd>{{country.treaties.XXVII8.party}}&nbsp;</dd>
			</dl>
		</dd>
		<dt>Nagoya Protocol on Access and Benefits Sharing (<a href="http://treaties.un.org/doc/Treaties/2010/11/20101127%2002-08%20PM/XXVII-8-b-Corr-Original.pdf">certified true copy</a>)</dt>
		<dd>
			<dl class="dl-horizontal">
				<dt>Signature</dt>
				<dd>{{country.treaties.XXVII8b.signature}}&nbsp;</dd>
				<dt>Depositary notification</dt>
				<dd>{{country.treaties.XXVII8b.deposit}} <span ng-show='country.treaties.XXVII8b.instrument+null'>({{country.treaties.XXVII8b.instrument}})</span>&nbsp;</dd>
				<dt>Entry into force</dt>
				<dd>-</dd>
			</dl>
		</dd>
	</dl>

	<table class="table table-striped">
		<tr>
			<th>Type of document</th>
			<th>Number of records</th>
		</tr>
		<tr ng-repeat="facet in facets">
			<td>
				<a ng-show="facet.count>0" ng-href="/database?government={{country.code|lowercase}}&schema={{facet.symbol}}">{{facet.en}}</a>
				<span ng-show="facet.count==0">{{facet.en}}</span>
			</td>
			<td>{{facet.count}}</td>
		</tr>
	</table>

</div>