<div>

    <!-- Country Map and Other -->
    <div class="container-fluid " >


                <div class="row" id="divList" >
                    <div class="col-lg-12 col-md-12 col-xs-12">
                         <div class="row table-hover table-msr bg-grey1" style="border-radius:0!important;padding:9px 0;" >
                                 <div class="col-xs-5" >
                                        <div style="font-size:14px;font-weight:bold;text-transform:uppercase;" class="color-black">SORT</div>
                                        <a id="sortByAsc" href="" class="label label-default  bg-darkgrey1" style="width:20px;" ng-click="sortTable('name.en', 'ASC')">
                                            <i class=" fa fa-sort-alpha-asc" style="width:20px;"></i>
                                        </a>
                                         &nbsp; &nbsp;
                                        <a id="sortByDesc" href="" class="label label-default bg-darkgrey1" style="width:20px;" ng-click="sortTable('name.en', 'DESC')">
                                            <i class=" fa fa-sort-alpha-desc" style="width:20px;"></i>
                                        </a>
                                        &nbsp; &nbsp;
                                        <span id="sortByParties"  class="label label-default bg-blue" style="cursor:pointer;" ng-click="sortTable('treaties.XXVII8b.deposit', 'DESC')">Parties</span>
                                        &nbsp; &nbsp;
                                        <span id="sortByNonParties" class="label label-default bg-medgrey" style="cursor:pointer;" ng-click="sortTable('treaties.XXVII8b.deposit', 'ASC')">Non-Parties</span>

                                    </div>

                                    <div class="col-lg-1 col-md-1 col-xs-1 " >
                                    <span style="cursor:pointer;" ng-click="sortTable('NFP')" data-toggle="tooltip" title="National Focal Points"data-container="body">
                                        <!--<i class="material-icons color-blue" style="font-size:16pt;position:relative;top:3px;">
                                           {{'nfp' | schemaIcon}}
                                       </i><br>-->
                                         <span id="nfpCount" class="bold color-black">NFP</span> <br> <span class="badge">{{totalFacetCount(ct,'NFP')}}</span>
                                    </span>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-xs-1 " >
                                    <span style="cursor:pointer;" ng-click="sortTable('NDB')" data-toggle="tooltip" title="National Websites and Databases"data-container="body">
                                        <!--<i class="material-icons color-blue" style="font-size:16pt;position:relative;top:3px;">
                                           {{'ndb' | schemaIcon}}
                                       </i><br>-->
                                      <span id="ndbCount" class="bold color-black">NDB</span> <br> <span class="badge">{{totalFacetCount(ct,'NDB')}}</span>
                                    </span>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-xs-1 " >
                                    <span style="cursor:pointer;" ng-click="sortTable('CNA')"  data-toggle="tooltip" title="Competent National Authorities"data-container="body">
                                        <!--<i class="material-icons color-blue" style="font-size:16pt;position:relative;top:3px;">
                                           {{'cna' | schemaIcon}}
                                       </i><br>-->
                                       <span id="cnaCount" class="bold color-black">CNA</span> <br> <span class="badge">{{totalFacetCount(ct,'CNA')}}</span>
                                    </span>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-xs-1 " >
                                    <span style="cursor:pointer;" ng-click="sortTable('MSR')" data-toggle="tooltip" title="Legislative, administrative or policy measures"data-container="body">
                                        <!--<i class="material-icons color-blue" style="font-size:16pt;position:relative;top:3px;">
                                           {{'msr' | schemaIcon}}
                                       </i><br>-->
                                       <span id="msrCount" class="bold color-black">MSR</span> <br> <span class="badge">{{totalFacetCount(ct,'MSR')}}</span>
                                    </span>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-xs-1 " >
                                    <span style="cursor:pointer;" ng-click="sortTable('IRCC')" data-toggle="tooltip" title="Internationally Recognized Certificate of Compliance"data-container="body">
                                        <!--<i class="material-icons color-blue" style="font-size:16pt;position:relative;top:3px;">
                                           {{'ircc' | schemaIcon}}
                                       </i><br>-->
                                       <span id="irccCount" class="bold color-black">IRCC</span> <br> <span class="badge">{{totalFacetCount(ct,'IRCC')}}</span>
                                    </span>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-xs-1 " >
                                    <span style="cursor:pointer;" ng-click="sortTable('CP')" data-toggle="tooltip" title="Checkpoints"data-container="body">
                                        <!--<i class="material-icons color-blue" style="font-size:16pt;position:relative;top:3px;">
                                           {{'cp' | schemaIcon}}
                                       </i><br>-->
                                       <span id="cpCount" class="bold color-black">CP</span> <br> <span class="badge">{{totalFacetCount(ct,'CP')}}</span>
                                        </span>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-xs-1 " >
                                        <span style="cursor:pointer;" ng-click="sortTable('CPC')" data-toggle="tooltip" title="Checkpoint Communiqués"data-container="body">

                                        <!--<i class="material-icons color-blue" style="font-size:16pt;position:relative;top:3px;">
                                           {{'cpc' | schemaIcon}}
                                       </i><br>-->
                                        <span id="cpcCount" class="bold color-black">CPC</span> <br> <span class="badge">{{totalFacetCount(ct,'CPC')}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="row table-hover table-msr" ng-repeat="country in ct = (countries | filter:query.countryProfile_keyword  | filter: hasStatus | filter: recordTypeFilter | orderBy:sortTermFilter:orderList) ">
                                    <div class="row">
                                        <div class="row table-row" id="countryCode{{country.code}}" style="border-top:1px solid #ddd;padding:10px;font-weight:500;margin:0;"  ng-click="country.displayDetails=!country.displayDetails;showCountryProfile(country)" ng-class="{'bg-white':country.displayDetails}">
                                            <!--<div class="col-lg-1 col-md-1 col-xs-1 tableheader" >

                                            </div>-->
                                            <div class="col-lg-5 col-md-5 col-xs-5">
                                                <span>{{$index + 1}}</span> &nbsp;&nbsp;
                                                <span style="font-size:16px;" ng-class="{'color-blue': country.isNPParty, 'color-grey':!country.isNPParty}">{{country.name.en}}</span>
                                            </div>
                                            <!--<div class="col-lg-2 col-md-2 col-xs-2 tableheader">
                                                 <span ng-show="country.isNPParty" style="font-weight:bold;">Party</span>
                                                <span ng-show="!country.isNPParty" >Non-Party</span>
                                                <span ng-show="country.isNPInbetweenParty" ><br>(entry into force on: {{(country.entryIntoForce)| formatDate}})</span>
                                            </div>-->
                                            <div class="col-lg-1 col-md-1 col-xs-1 " >{{country.NFP}}
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-xs-1 " >{{country.NDB}}
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-xs-1 " >{{country.CNA}}
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-xs-1 " >{{country.MSR}}
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-xs-1 " >{{country.IRCC}}
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-xs-1 " >{{country.CP}}
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-xs-1 " >{{country.CPC}}
                                            </div>

                                        </div>
                                        <div class="row bg-white" ng-if="country.displayDetails" style="padding:0;margin:0px;">

                                            <i class="glyphicon glyphicon-remove-circle circle pull-right" style="position:relative;top:40px;z-index:100;font-size:20px;color:white;" ng-click="country.displayDetails=!country.displayDetails;"></i>
                                            <div country-profile api="country.api" code="country.profileCode"></div>

                                        </div>
                                    </div>
                                </div>


                <div ng-show="!countries || loading" style="padding-left:50%;margin-top:60px;">
                    <i class="fa fa-spin fa-spinner fa-5x" style="margin:auto" />
                </div>


        </div>
    </div>
</div>
</div>
