<script type="text/javascript">
    jQuery(document).ready(function() {

    });

        // '<strong id="titCountry" class="title">Brazil</strong><br>' +
                            // 'IRCC:0<br/>'+
                            // 'CPC:0<br/>'+
                            // 'CP:0<br/>'+
                            // 'MSR:0<br/>'
    </script>

    <link href="/app/libs/jqvmap/jqvmap/jqvmap.css" rel="stylesheet">
    <style media="screen">

        .jqvmap-label{
            background:none;
        }
        .jqvmap-zoomin, .jqvmap-zoomout{
            padding:0px;
        }
    </style>
    <div ng-controller="CountryMapController">
        <div class="category-container" >
            <div class="container">
                <span class="category">
                  <div class="row"  >
                      <br><br><br><br><br><br>
                      <div id="vmap" style="width: 100%; height: 600px;"></div>
                      <br><br><br><br><br><br><br>
                  </div>
                </span>
            </div>
        </div>
    </div>
