<div ng-controller="CountryListController">
	<style>
		table {
			border-collapse: collapse;
		}
		
		.tableContainer {
			margin: auto;
		}
		
		.fixed {
			top: 0;
			position: fixed;
		}
		
		.scrollMore {
			margin-top: 600px;
		}
		
		.up {
			cursor: pointer;
		}
		
		.table-hover > tbody > tr:hover > td {
			background-color: #FFF;
		}
		
		.letter {
			color: #999;
		}
		
		.letter-active {
			font-weight: bold;
			color: #111!important;
		}
		
		.evenly-spaced {
			display: flex;
			justify-content: space-between;
		}
		
		.zero {
			background-color: #DDD!important;
		}
		
		@media (max-width: 992px) {
			/* .sm-small {
				font-size: 10px;
			} */
		}
	</style>


	<div id="Jumbotron" class="bg-texture-green color-black hidden-sm hidden-xs" 
	style="border-top:1px solid #555;border-bottom:2px solid #ddd;position:relative;" 
	block-region activate="loadingMap"  ng-style="{'height': isBCH ? '450px' : '350px'}">	
	</div>
	<div block-region activate="loading" block-text=" Loading country details">
		<div style="height:0px;width:0px;" ng-if="readyForExport">
			<table id="forExport" style="height:0px;width:0px">
					<tr>
						<th>Country</th>
						<th>Status</th>
						<th ng-if="regions.length>0">Regions</th>
						<th ng-repeat="header in headerCount">{{header.shortCode}}</th>
					</tr>
					<tr ng-repeat="country in list = (countries | filter:hasCountries | filter: hasStatus | filter: hasRegions | orderBy:sortTermFilter:orderList) track by country.name.en">
						<td>{{country.name|lstring:locale}}</td>
						<td>
							<span ng-if="!country.isParty" class="color-grey" style="font-size:10px;margin-right:10px;">Non-Party</span>
							<span ng-if="country.isParty" class="color-party" style="font-size:10px;margin-right:10px;">Party</span>
						</td>
						<td ng-if="regions.length>0">{{::getRegions(country.code)}}</td>
						<td ng-repeat="schema in country.schemas">{{schema.count }}</td>		
					<tr>

			</table>	
		</div>		
		<div class="row" style="margin-top:10px">
			<div class="col-xs-12" >
				
			</div>
		</div>
		<div class="row bg-grey1" style="margin:10px 0 5px 0;padding:10px 0 5px 0;border:1px solid #d5d5d5;">
			<div class="col-sm-12 col-md-6">

				<div class="dropdown" style="display:inline;">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="true">
                            <i ng-if="sortTerm==='name.en'" class="fa" ng-class="{'fa-sort-alpha-asc':!orderList, 'fa-sort-alpha-desc':orderList}" style="width:20px;"></i>
                            <span ng-if="sortTerm!=='name.en'">Ordered by: <strong> {{sortTerm|schemaShortName}}</strong></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a rel="noopener" translation-url  href="#" ng-click="sortTable('name.en', 'ASC')"><i class=" fa fa-sort-alpha-asc" style="width:20px;"></i> Sort alphabetical A-Z </a></li>
                        <li><a rel="noopener" translation-url  href="#" ng-click="sortTable('name.en', 'DESC')"><i class=" fa fa-sort-alpha-desc" style="width:20px;"></i> Sort alphabetical Z-A</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a rel="noopener" translation-url  href="#" ng-repeat="header in headerCount" ng-click="sortTable(header.schema)"> {{ header.schema |schemaNamePlural}} </a></li>
                    </ul>
                    </div>

					<div  km-select required name="countryFilter" ng-model="countryFilter" items="options.countries()"
						 multiple placeholder="Countries" display-count="0" show-selection-pop-over="true"></div>

				   <div class="dropdown" style="display:inline;">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span>
							<strong ng-if="partyFilter==='All' || !partyFilter" >Party Status</strong>
							<strong ng-if="partyFilter == 'party'" ><i class="color-party fa fa-square"></i> Parties</strong>
							<strong ng-if="partyFilter == 'inbetween'" ><i class="color-inbetween fa fa-square"></i> Ratified, not yet Party</strong>
							<strong ng-if="partyFilter == 'nonparty'" ><i class="color-nonparty fa fa-square"></i> Non-Parties</strong>
						</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a rel="noopener" translation-url  href="#" ng-click="setPartyFilter('All');" > Show all </a></li>
						<li role="separator" class="divider"></li>
						<li><a rel="noopener" translation-url  href="#" ng-click="setPartyFilter('party');" > <i class="color-party fa fa-square"></i> Parties</a></li>
						<li><a rel="noopener" translation-url  href="#" ng-click="setPartyFilter('inbetween');" >  <i class="color-inbetween fa fa-square"></i> Ratified, not yet Party</a></li>
						<li><a rel="noopener" translation-url  href="#" ng-click="setPartyFilter('nonparty');" > <i class="color-nonparty fa fa-square"></i> Non-Parties</a></li>
                    </ul>
                    </div>

					<div  km-select required name="regions" ng-model="regions" items="options.regions()"
						 multiple placeholder="Regions" display-count="0" show-selection-pop-over="true"></div>
					
					<button class="btn btn-default" style="text-transform: uppercase;" ng-click="export()" ng-disabled="readyForExport||loading">					
						<i class="fa fa-table" ></i> Export
				</button>
              </div>
              <div class="col-xs-6 evenly-spaced center-text hidden-xs hidden-sm" >                            
				<div ng-repeat="header in headerCount">
					<span style="cursor:pointer;" ng-click="sortTable(header.schema)" data-toggle="tooltip" title="{{header.title|lstring:locale}}"
						data-container="body">
                        <span id="nrCount" class="bold color-black">{{header.shortCode}}&nbsp;<i class="fa fa-info-circle color-litegrey" ></i> </span><br>
					<span class="badge bg-black">{{header.count}}</span>
					</span>
				</div>
			</div>
		</div>
		<!--end row-->
		<div class="row linkWhite" style="margin:0;border-bottom:2px solid #DDD;padding:5px 0 10px 0;" ng-click="gotoCountryProfile(country.code)"
			ng-repeat="country in list = (countries | filter:hasCountries | filter: hasStatus | filter: hasRegions | orderBy:sortTermFilter:orderList) track by country.name.en">
			<div class="col-md-6">

				<div style="text-align:left;width:30px;display:inline-block;"> {{$index+1}} </div>

				<div style="display:inline;">
					<span style="font-size:18px;font-weight:500;" ng-class="{'color-party': country.isParty, 'color-grey':!country.isParty, 'color-inbetween': country.isInbetweenParty}">
                                    {{country.name|lstring:locale}}</span>
				</div>
				<div style="margin-left:35px;text-transform:uppercase;font-weight:500;">
					<div ng-if="isABS">
						<span ng-if="!country.isParty && !country.isInbetweenParty" class="color-grey" style="font-size:10px;margin-right:10px;">Non-Party</span>
						<span ng-if="country.isParty" class="color-party" style="font-size:10px;margin-right:10px;">Party to the Nagoya Protocol</span>
						<span ng-if="country.isInbetweenParty" class="color-inbetween" style="font-size:10px;margin-right:10px;">Ratified, not yet Party</span>
						<span ng-if="country.isSignatory" style="font-size:10px;margin-right:10px;">Signatory</span>
						<span ng-if="country.entryIntoForce" class="color-grey" style="font-size:10px;margin-right:20px;">Entry into force: {{country.entryIntoForce|formatDate}}</span>
					</div>
					<div ng-if="isBCH">
						<span ng-if="!country.isParty" class="color-grey" style="font-size:10px;margin-right:10px;">Non-Party</span>
						<span ng-if="country.isParty" class="color-party" style="font-size:10px;margin-right:10px;">Party to the Cartagena Protocol</span>
					</div>
				</div>
			</div>

			<div class="col-md-6 evenly-spaced center-text hidden-xs" style="white-space:nowrap;margin-top:5px;">
				<span class="color-litegrey" style="margin-right:5px;" ng-repeat="schema in country.schemas" ng-click="gotoCountryProfile(country.code, schema, $event)"> 
					{{schema.shortCode}} <br class="hidden-sm">
					<span class="label label-default"  ng-class="{'zero':schema.count==0, 'bg-green':schema.count>0}" >
						{{schema.count }}
					</span>
				</span>
			</div>
		</div>


	</div>
	<!--end loading-->

</div>
<!--end controller-->
