﻿<div >
    <style>
            .cp-header label{margin-bottom:0;}
            .breadcrumbs {background-color:#FFF!important; }
            .breadcrumbs { font-size: 12px; color:#111; text-decoration: none;}
            .breadcrumbs a { font-size: 12px; color:#999; text-decoration: none;}
        
    </style>
    <div smooth-scroll duration="100" offset="200"></div>
        <div id="Jumbotron" class="d-none d-lg-block bg-white position-relative overflow-hidden" selected-color="#FFFFFF" block-region activate="loadingMap"> 
        </div>
        <div class="row m-0">
            <div class="col-12">
                <h1 class="fs-1 my-2"><i class="flag-icon" ng-class="country.cssClass"></i> <strong> <span ng-bind="country.name"></span> </strong>
                </h1>
                <div class="p-3 bg-white">
                        <div class="mb-1 fs-6" ng-if="isABS">
                            <span ng-if="!country.isParty && !country.isInbetweenParty" class="color-grey color-non-party bold">{{::('countryProfileT.notPartyToNagoya'|$translate)}}</span>
                            <span ng-if="country.isParty" class="color-party bold">{{::('countryProfileT.partyToNagoya'|$translate)}}</span>
                            <span ng-if="country.isInbetweenParty" class="color-inbetween bold">{{::('countryProfileT.ratified'|$translate)}}</span>
                        </div>
                        <div class="mb-1 fs-6" ng-if="isBCH">
                            <span ng-if="!country.isParty && !country.isInbetweenParty" class="color-grey color-non-party bold">{{::('countryProfileT.notPartyToCartagena'|$translate)}}</span>
                            <span ng-if="country.isParty" class="color-party bold">{{::('countryProfileT.partyToCartagena'|$translate)}}</span>
                        </div>
                        <div ng-if="country.isParty || country.isInbetweenParty" class="mt-1 mb-2" >
                            <span class="bold" ng-class="{' color-party': country.isParty, ' color-non-party':!country.isParty && !country.isInbetweenParty, ' color-inbetween': country.isInbetweenParty}">
                                (<span ng-if="country.isInbetweenParty">{{::('countryProfileT.entry'|$translate)}}:</span><span ng-if="country.isParty && !country.isInbetweenParty">{{::('countryProfileT.since'|$translate)}}</span> 
                                <span ng-bind="country.entryIntoForce|formatDate"></span>)
                            </span>
                        </div>
                        <div ng-if="isBCH && country.isNKLSParty" class="mt-1 mb-2">
                            <span class="color-NKLSP bold fs-6">{{::('countryProfileT.partyToSuppProtocol'|$translate)}}</span>
                            <div ng-if="country.partyToNKLSPDate">
                                <span class="color-NKLSP bold">({{::('countryProfileT.since'|$translate)}} <span  ng-bind="country.partyToNKLSPDate|formatDate"></span>)</span>
                            </div>
                        </div>
                        <div ng-if="isBCH && !country.isNKLSParty" class="mt-1 mb-2">
                            <span class="color-non-party bold fs-6">{{::('countryProfileT.notPartyToSuppProtocol'|$translate)}}</span>
                        </div>

                        <div ng-if="isABS" class="m-0 my-2">
                            <div ng-if="country.code==='dk'"><i class="fa fa-info-circle"></i> {{::('countryProfileT.dkTextNagoya'|$translate)}}</div>
                            <div ng-if="country.code==='gb'">
                                 <i class="fa fa-info-circle"></i> 
                                 {{::('countryProfileT.gbTextNagoya'|$translate)}} 
                                 <a rel="noopener" ng-href="#" class="gb-territories" data-bs-toggle="tooltip" data-placement="bottom" title="{{::('countryProfileT.gbTitle14'|$translate)}}" >{{::('countryProfileT.overseasTerritories14'|$translate)}} </a>
                                or <a rel="noopener" ng-href="#" class="gb-territories" data-bs-toggle="tooltip" data-placement="bottom" 
                                title="{{::('countryProfileT.gbTitle3'|$translate)}}">{{::('countryProfileT.crownDependencies'|$translate)}}</a>
                            </div>
                        </div>
                        <div ng-if="isBCH" class="m-0 my-2">
                            <div ng-if="country.code==='dk'"><i class="fa fa-info-circle"></i> {{::('countryProfileT.dkTextCartagena'|$translate)}}</div>
                            <div ng-if="country.code==='gb'">
                                 <i class="fa fa-info-circle"></i> 
                                 {{::('countryProfileT.gbTextCartagena'|$translate)}} 
                                 <a rel="noopener" ng-href="#" class="gb-territories" data-bs-toggle="tooltip" data-placement="bottom" title="{{::('countryProfileT.gbTitle13'|$translate)}}" >{{::('countryProfileT.overseasTerritories13'|$translate)}} </a>
                                or <a rel="noopener" ng-href="#" class="gb-territories" data-bs-toggle="tooltip" data-placement="bottom" 
                                title="{{::('countryProfileT.gbTitle3'|$translate)}}">{{::('countryProfileT.crownDependencies'|$translate)}}</a>
                            </div>
                        </div>

                        <div class="mb-1" ng-if="isABS">
                            <label class="fw-bold">{{::('countryProfileT.signatory'|$translate)}}:</label>
                            <span ng-if="country.isSignatory && !country.dateSigned" >{{::('countryProfileT.signatory'|$translate)}}Signatory</span>
                            <span ng-if="country.isSignatory && country.dateSigned" >{{::('countryProfileT.signedOn'|$translate)}} <span ng-bind="country.dateSigned|formatDate"></span> </span>
                            <span ng-if="!country.isSignatory" class="color-grey color-non-party bold">{{::('countryProfileT.no'|$translate)}}</span>
                        </div>

                       
                        <div class="mb-1 text-nowrap overflow-hidden">
                            <label  class="fw-bold">{{::('countryProfileT.CbdCountryProfile'|$translate)}}:</label>
                            <a class="text-decoration-none" rel="noopener" translation-url href="https://www.cbd.int/countries/?country={{country.code}}" target="_blank"> www.cbd.int/countries/?country={{country.code}} </a>
                        </div>
                            
                </div>
            </div>
            <div class="col-12" ng-if="countryProfile && countryProfile.profile">
                <div class="card bg-white cp-header"> 
                    <legend class="ps-3">{{::('countryProfileT.addIno'|$translate)}}</legend>
                    <span class="p-3" ng-bind-html="countryProfile.profile|lstring:locale|toTrusted"></span> 
                </div>
            </div>
        </div>
    
        <div class="row m-0 mb-5">
            <div class="col-12">
                <div country-profile code="code"></div>
            </div>
        </div>
    
    </div>