<div>
    <h1 class="special-font">{{::('countriesLeftMenuT.countryInformation'|$translate)}}</h1>
                 
    <div role="tabpanel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a rel="noopener" translation-url  href="#map" aria-controls="map" role="tab" data-bs-toggle="tab"><h4 style="padding:0;margin:0;">{{::('countriesLeftMenuT.map'|$translate)}}</h4></a></li>
        <li role="presentation"><a rel="noopener" translation-url  href="#countries" aria-controls="countries" role="tab" data-bs-toggle="tab"><h4 style="padding:0;margin:0;">{{::('countriesLeftMenuT.selectCountry'|$translate)}}</h4></a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content card bg-white">
        <div role="tabpanel" class="tab-pane active" id="map">
              
             <div style="padding-bottom:30px;" >
                <div><strong>{{::('countriesLeftMenuT.filterByStatus'|$translate)}}</strong></div>
                <hr  style="padding-bottom:5px;margin:0;">
         
                    <div ng-click="updateMap('all')" style="width:100%;padding:2px;cursor:pointer;border-radius:3px;"  ng-class="{'bg-grey1':type=='all'}">
                        <span class="badge float-end"  ng-bind="countries.length"></span>
                        <span>{{::('countriesLeftMenuT.all'|$translate)}}</span>
                    </div>
                    
                     <div ng-click="updateMap('party')" style="width:100%;padding:2px;cursor:pointer;border-radius:3px;"  ng-class="{'bg-grey1':type=='party'}">
                        <span class="badge   float-end" ng-bind="npParty"></span>
                        <span style="font-weight:bold;color:#428bca">{{::('countriesLeftMenuT.party'|$translate)}}</span>
                    </div>
                    
                    <div ng-click="updateMap('nonParties')" style="width:100%;padding:2px;cursor:pointer;border-radius:3px;"  ng-class="{'bg-grey1':type=='nonParties'}">
                        <span class="badge float-end" ng-bind="nonParty"></span>
                        <span style="font-weight:bold;color:#888">{{::('countriesLeftMenuT.nonParty'|$translate)}}</span>
                    </div>
             </div>
     
             <div style="padding-bottom:10px;" >
                <div><strong>{{::('countriesLeftMenuT.filterByRecordTypes'|$translate)}}</strong></div>
                <hr style="padding-bottom:5px;margin:0;">
         
                    <div class="row">
                        <div class="col-xs-2 stats-country color-black text-center">{{::('countriesLeftMenuT.countries'|$translate)}}</div>
                        <div class="col-xs-10 stats-country color-black text-right">{{::('countriesLeftMenuT.records'|$translate)}}</div>
                        
                        <div class="clearfix"></div>  
                        <div class="col-xs-2  text-center" ng-class="{'bg-grey1':selected_facet=='all'}">  
                            <div ng-click="searchFilter=isPartyToCBD;" style="width:100%;padding:2px;cursor:pointer;border-radius:3px;"  >
                                <strong>{{::('countriesLeftMenuT.all'|$translate)}}</strong>
                            </div>
                        </div>
                        <div class="col-xs-10" ng-class="{'bg-grey1':selected_facet=='all'}">
                             <div ng-click="searchFilter=isPartyToCBD;" style="width:100%;padding:2px;cursor:pointer;border-radius:3px;"  >
                                <span>&nbsp;</span>
                            </div>
                        </div>  
                
                                
                        <div ng-repeat="facet in $parent.commonFormatFacets" style="cursor:pointer">   
                         <div class="clearfix"></div>
                         <div ng-click="selected_facet=facet[0];updateMap(facet[0]);" style="width:100%;padding:2px;cursor:pointer;border-radius:3px;" >
                             <div class="col-xs-2 text-center"  ng-class="{'bg-grey1': selected_facet==facet[0], 'bg-white':selected_facet!=facet[0]}" style="height:28px!important;">
                                 <span class="stats-count" ng-bind="facet[1].countryCount"></span></div>
                             <div class="col-xs-10" ng-class="{'bg-grey1': selected_facet==facet[0], 'bg-white':selected_facet!=facet[0]}" style="height:28px!important;">
                                 <span class="badge   float-end" ng-bind="facet[1].facetCount"></span>
                                 <div  style="padding-top:3px;line-height:1;font-size:11px;text-transform:uppercase;"><span ng-bind="facet[0]|lowercase|schemaNamePlural"></span></div>
                             </div>
                         </div>
                        </div>
                    </div>

             </div>
      
                    
           
<!--            <a rel="noopener" translation-url  ng-click="selected_facet=facet[0];updateMap(facet[0]);" ng-repeat="facet in $parent.commonFormatFacets" style="display:inline;cursor:pointer">

                <div ng-show="facet[0]== 'RAT'">
                    <div class="stats-count">{{facet[1].facetCount}} </div>
                    <div class="stats-country">Parties to the Nagoya Protocol</div>
                </div>

                <div ng-show="facet[0] != 'RAT' && facet[0] != 'resource'">

                    <div class="stats-top">
                        <div class="stats-count">
                            {{facet[1].countryCount}}
                        </div>

                        <div class="stats-country">
                            <span ng-show="facet[1].countryCount">Countries </span>
                        </div>
                    </div>

                    <div class="text-center">
                        <hr style="padding:0;margin:5px 0;border:dashed 1px #ccc!important;" />
                        <span class="stats-hr" ng-class="{'myWell-on': isSelected(facet[0])}" style="position:relative;top:-18px;background-color:#fff;" ng-show="facet[0]!= 'RAT'">have submitted</span>
                    </div>

                    <div class="stats-bottom">
                        <div class="stats-bottom" style="position:relative;top:-18px;">
                            <div class="stats-count-rec">{{facet[1].facetCount}}</div>
                            <div class="stats-schema-rec">{{facet[0]|lowercase|schemaNamePlural}}</div>
                        </div>
                    </div>

                </div>


                <div ng-show="facet[0]== 'resource'">
                    <div class="stats-count">{{facet[1].facetCount}} </div>
                    <div class="stats-country">{{facet[0]|lowercase|schemaNamePlural}}</div>
                </div>

            </a>-->
            
                 
        </div>
        <div role="tabpanel" class="tab-pane" id="list">...</div>
        <div role="tabpanel" class="tab-pane" id="countries">

             <div style="padding-bottom:10px;">
         
                <strong>{{::('countriesLeftMenuT.filterByStatus'|$translate)}}</strong>
               
                <ul>
                  <li><a rel="noopener" translation-url  ng-click="updateMap('all')">All <span class="badge float-end"><span ng-bind="countries.length"></span></span></a></li>
                  <li><a rel="noopener" translation-url  style="font-weight:bold;color:#428bca" ng-click="updateMap('party');selected=': Parties'"  >{{::('countriesLeftMenuT.party'|$translate)}}<span class="badge float-end" ng-bind="npParty"></span></a></li>
                  <li><a rel="noopener" translation-url  style="font-weight:bold;color:#888" ng-click="updateMap('nonParties');selected=': Non-Parties'" >{{::('countriesLeftMenuT.nonParty'|$translate)}}<span class="badge float-end" ng-bind="nonParty"></span></a></li>
                </ul>
             </div>
    
    
                <strong>{{::('countriesLeftMenuT.selectCountry'|$translate)}}</strong>
                <input type="textbox" ng-model="countryFilter" placeholder="filter by country name" class="form-control form-control-small" />
    
                <div class="clearfix"></div>
    
                <div style="max-height:500px;overflow:scroll; cursor:pointer;padding:5px;">
                    <ul class="list-group">
                        <li class="row list-group-item" style="min-width:300px;" ng-click="navigateCountry(country.code)"
                        ng-repeat="country in countries | filter:countryFilter | filter:searchFilter | orderBy:'name.en'"
                        ng-class="{'list-group-item-primary':country.isParty,
                                'list-group-item-default':!country.isParty}">
    
                            <div class="col-xs-12"><span ng-bind="country.name |lstring"></span></div>
                        </li>
                    </ul>
                </div>
            
        </div>
      </div>
    
    </div>



</div>
