
/*Country Profiles*/
.country-profile h1 {
  font-size: 55px;
  font-weight: 600;
}
.country-profile-list .link1 .label {
  font-weight: inherit;
  color: #555;
}
@media (max-width: 767px){
  .country-profile-list .link1 .label {
      display: contents;
  }
}