<div>
  <!-- Country Map and Other -->
  <div class="container1 ng-scope" style="min-height:800px;" id="worldMap">

    <div class="row">
      <div class="col-xs-12">
        <div class="row" style="margin-bottom:-22px;padding-top:20px;padding-bottom:20px;">
          <a ng-href="#" ng-click="searchFilter=isPartyToCBD;updateMap('party')">
            <div class="col-xs-8ths" id="myWell" style="height:80px;">
              <div class="well text-center">
                <br>
                <span class="stats-count" ng-class="{'myWell-on': isSelected(facet[0])}">ALL</span>
                <br>
                <br>
                <br>
              </div>
            </div>
          </a>
          <a ng-href="#" ng-click="selected_facet=facet[0];updateMap(facet[0]);" ng-repeat="facet in commonFormatFacets" style="display:inline;">
            <div class="col-xs-8ths" id="myWell">
              <div class="well text-center">

                <div class="stats-schema">
                  <span ng-show="facet[0]!= 'RAT'">{{facet[0]|lowercase|schemaName}}</span>
                  <span ng-show="facet[0]== 'RAT'">Ratifications</span>
                </div>

                <span class="stats-count" ng-class="{'myWell-on': isSelected(facet[0])}">{{facet[1].facetCount}}</span>
                <br>
                <span class="stats-country">
                    <span ng-show="!facet[1].countryCount">&nbsp;</span>
                <span ng-show="facet[1].countryCount" style="color:#777">Countries {{facet[1].countryCount}}</span>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="row" id="divMap" style="padding-top:20px;">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div id="vmap" style="width: 100%; min-height: 600px;background-color:#EEE!important;"></div>
        </div>
    </div>

    <div class="row" id="divList">
      <div class="span12">

        <table class="table table-countries table-striped">
          <tr>
            <td colspan="10">
              <div class="pull-right" style="width:30%">
                <div angucomplete id="ex1" placeholder="Search countries" pause="100" localdata="countriesforAutocomplete" minlength="1" inputclass="form-control form-control-small" searchfields="name" selectedObject="selectedCountry" searchStr="countryFilter" titlefield="name"
                />
              </div>
            </td>
          </tr>
          <tr>
            <th>#</th>
            <th style="white-space:nowrap;"><span style="cursor:pointer;" ng-click="sortTable('name.en')">Country
                    <i ng-show="sortTerm=='name.en'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i></span>
            </th>
            <th style="white-space:nowrap;"><span style="cursor:pointer;" ng-click="sortTable('treaties.XXVII8b.deposit')">Deposit
                    <i ng-show="sortTerm=='treaties.XXVII8b.deposit'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i></span>
            </th>
            <th style="white-space:nowrap;">
              <span style="cursor:pointer;" ng-click="sortTable('CNA')">CNA
                        <i ng-show="sortTerm=='CNA'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i></span>
            </th>
            <th style="white-space:nowrap;">
              <span style="cursor:pointer;" ng-click="sortTable('CP')">CP
                            <i ng-show="sortTerm=='CP'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i></span>
            </th>
            <th style="white-space:nowrap;">
              <span style="cursor:pointer;" ng-click="sortTable('CPC')">CPC
                                <i ng-show="sortTerm=='CPC'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i></span>
            </th>
            <th style="white-space:nowrap;">
              <span style="cursor:pointer;" ng-click="sortTable('IRCC')">IRCC
                                    <i ng-show="sortTerm=='IRCC'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i></span>
            </th>
            <th style="white-space:nowrap;">
              <span style="cursor:pointer;" ng-click="sortTable('MSR')">MSR
                                        <i ng-show="sortTerm=='MSR'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i></span>
            </th>
            <th style="white-space:nowrap;">
              <span style="cursor:pointer;" ng-click="sortTable('NDB')">NDB
                                            <i ng-show="sortTerm=='NDB'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i></span>
            </th>
            <th style="white-space:nowrap;">
              <span style="cursor:pointer;" ng-click="sortTable('FP')">FP
                                                <i ng-show="sortTerm=='FP'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i></span>
            </th>

          </tr>
          <tr ng-repeat="country in (countries | filter:countryFilter | filter: searchFilter | orderBy:sortTermFilter:orderList)" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
            <td>{{$index + 1}}</td>
            <td><a ng-href="#" ng-click="navigateCountry('',country.code,'')" class="country-list-name label"
                ng-class="{'label-info':country.isSignatory && !country.isRatified,
                'label-primary':country.isRatified,
                'label-default':!country.isRatified && !country.isSignatory,
                'label-success' : country.isInbetweenParty}">
                {{country.name.en}}</a>
              &nbsp;
              <span class="label label-success" ng-show={{country.isInbetweenParty}}>entry into force on {{addDate(country.treaties.XXVII8b.deposit)| formatDate}}</span>
            </td>
            <td>{{country.treaties.XXVII8b.deposit}}</td>
            <td>{{country.CNA}}</td>
            <td>{{country.CP}}</td>
            <td>{{country.CPC}}</td>
            <td>{{country.IRCC}}</td>
            <td>{{country.MSR}}</td>
            <td>{{country.NDB}}</td>
            <td>{{country.FP}}</td>
          </tr>
        </table>


      </div>

    </div>


  </div>
</div>
