<link href="/app/css/country.css" rel="stylesheet">
<link href="/app/css/record.css" rel="stylesheet">
<link href="/app/css/profiles.css" rel="stylesheet">

<div ng-controller="CountriesMapController">
    <style>

        table{
          border-collapse:collapse;
        }
        .tableContainer{
              margin:auto;
        }
        .fixed{
          top:0;
          position:fixed;
          display:none;
          border:none;
        }

        .scrollMore{
          margin-top:600px;
        }

        .up{
          cursor:pointer;
        }
        .table-hover > tbody > tr:hover > td{
          background-color: #DDD;
        }
    </style>
    <div>
        <div class="row" help schema="countryInformation">
            <div class="col-xs-12 col-md-12" style="padding-top:5px;">
                <search-map></search-map>
                <legend name="formInfo" style="display:none"></legend>
                <div>
                    <div block-region activate="loading" block-text="Loading country details">
                    <table class="table table-hover countriesTable" style="border-radius:0!important;padding:9px 0;width:100%">
                        <thead class="bg-grey1">
                            <th colspan="5" style="min-width:100%">
                                <div style="font-size:14px;font-weight:bold;text-transform:uppercase;" class="color-black">SORT</div>
                                <a id="sortByAsc" href="" class="label label-default  bg-darkgrey1" style="width:20px;" ng-click="sortTable('name.en', 'ASC')">
                                    <i class=" fa fa-sort-alpha-asc" style="width:20px;"></i>
                                </a>
                                &nbsp; &nbsp;
                                <a id="sortByDesc" href="" class="label label-default bg-darkgrey1" style="width:20px;" ng-click="sortTable('name.en', 'DESC')">
                                    <i class=" fa fa-sort-alpha-desc" style="width:20px;"></i>
                                </a>
                                &nbsp; &nbsp;
                                <span id="sortByParties" class="label label-default bg-blue" style="cursor:pointer;" ng-click="sortTable('isNPParty', 'DESC')">Parties</span>
                                &nbsp; &nbsp;
                                <span id="sortByNonParties" class="label label-default bg-medgrey" style="cursor:pointer;" ng-click="sortTable('!isNPParty', 'ASC')">Non-Parties</span>

                            </th>

                            <th>
                                <span style="cursor:pointer;" ng-click="sortTable('NFP')" data-toggle="tooltip" title="National Focal Points" data-container="body">

                                    <span id="nfpCount" class="bold color-black">NFP</span>
                                    <br>
                                    <span class="badge">{{headerCount.focalPoint}}</span>
                                </span>
                            </th>
                            <th>
                                <span style="cursor:pointer;" ng-click="sortTable('NDB')" data-toggle="tooltip" title="National Websites and Databases" data-container="body">

                                    <span id="ndbCount" class="bold color-black">NDB</span>
                                    <br>
                                    <span class="badge">{{headerCount.database}}</span>
                                </span>
                            </th>
                            <th>
                                <span style="cursor:pointer;" ng-click="sortTable('CNA')" data-toggle="tooltip" title="Competent National Authorities" data-container="body">

                                    <span id="cnaCount" class="bold color-black">CNA</span>
                                    <br>
                                    <span class="badge">{{headerCount.authority}}</span>
                                </span>
                            </th>
                            <th>
                                <span style="cursor:pointer;" ng-click="sortTable('MSR')" data-toggle="tooltip" title="Legislative, administrative or policy measures" data-container="body">

                                    <span id="msrCount" class="bold color-black">MSR</span>
                                    <br>
                                    <span class="badge">{{headerCount.measure}}</span>
                                </span>
                            </th>
                            <th>
                                <span style="cursor:pointer;" ng-click="sortTable('IRCC')" data-toggle="tooltip" title="Internationally Recognized Certificate of Compliance" data-container="body">

                                    <span id="irccCount" class="bold color-black">IRCC</span>
                                    <br>
                                    <span class="badge">{{headerCount.absPermit}}</span>
                                </span>
                            </th>
                            <th>
                                <span style="cursor:pointer;" ng-click="sortTable('CP')" data-toggle="tooltip" title="Checkpoints" data-container="body">

                                    <span id="cpCount" class="bold color-black">CP</span>
                                    <br>
                                    <span class="badge">{{headerCount.absCheckpoint}}</span>
                                </span>
                            </th>
                            <th>
                                <span style="cursor:pointer;" ng-click="sortTable('CPC')" data-toggle="tooltip" title="Checkpoint Communiqués" data-container="body">
                                    <span id="cpcCount" class="bold color-black">CPC</span>
                                    <br>
                                    <span class="badge">{{headerCount.absCheckpointCommunique}}</span>
                                </span>
                            </th>
                        </thead>
                        <tbody style="cursor:pointer" ng-click="showCountry(country.code)"
                        ng-repeat="country in ct = (countries | filter:query.countryProfile_keyword  | filter: hasStatus | filter: recordTypeFilter | orderBy:sortTermFilter:orderList) track by country.name.en ">
                            <tr>
                                <td colspan="5"  style="min-width:100%">
                                    <span>{{$index + 1}}</span> &nbsp;&nbsp;
                                    <span style="font-size:16px;" ng-class="{'color-blue': country.isNPParty, 'color-grey':!country.isNPParty}">
                                        {{country.name.en}}
                                    </span>
                                    <span ng-if="country.entryIntoForce" class="label label-primary">Entry into force {{country.entryIntoForce|formatDate}}</span>  
                                </td>
                                <td>
                                    {{country.schemas.focalPoint}}
                                </td>
                                <td>
                                    {{country.schemas.database}}
                                </td>
                                <td>
                                    {{country.schemas.authority}}
                                </td>
                                <td>
                                    {{country.schemas.measure}}
                                </td>
                                <td>
                                    {{country.schemas.absPermit}}
                                </td>
                                <td>
                                    {{country.schemas.checkpoint}}
                                </td>
                                <td>
                                    {{country.schemas.absCheckpointCommunique}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
