<div>
    
    <div class="arrow "></div>
    <div style="text-align:left;padding: 6px 6px 6px 6px;">         
         <div class="row col-xs-12">
            <div class="small alert-info {{(country.exceptionCountry=='dk' || country.code.toLowerCase()=='dk') ? 'show' : 'hide'}}" style="margin-top:5px;white-space: normal;line-height:0.9;padding:3px;">
                <i class="fa fa-info-circle" /> 
            Denmark’s ratification of the Protocol does not apply in respect of Greenland and the Faroe Islands.
            </div>
            <div class="{{country.code.toLowerCase()=='fk' ? 'show' : 'hide'}}  alert-info small " style="margin-top:5px;white-space: normal;line-height:0.9;padding:3px;">
                <i class="fa fa-info-circle" />
                A dispute exists between the Governments of Argentina and the United Kingdom of Great Britain and Northern Ireland concerning sovereignty over the Falkland Islands (Malvinas).
            </div>
            <div class="{{country.code.toLowerCase()=='eh' ? 'show' : 'hide'}}  alert-info small " style="margin-top:25px;white-space: normal;line-height:0.9;padding:3px;font-size: x-large;">
                <i class="fa fa-info-circle fa-1x" />
                Non-Self Governing Territory.
            </div>
            <div class="small alert-info {{(country.exceptionCountry=='gb'||country.code.toLowerCase()=='gb') ? 'show' : 'hide'}}" style="margin-top:5px;white-space: normal;line-height:0.9;padding:3px;">
                <i class="fa fa-info-circle" /> 
                The UK’s ratification of the Nagoya Protocol does not extend to the 
                    <a ng-href="#" class="gb-territories" data-toggle="tooltip" data-placement="bottom" title="Anguilla; Bermuda; British Antarctic Territory; British Indian Ocean Territory; British Virgin Islands; Cayman Islands; Falkland Islands; Gibraltar; Montserrat; Pitcairn Islands; Saint Helena, Ascension and Tristan da Cunha; South Georgia and the South Sandwich Islands; Sovereign Base Areas of Akrotiri and Dhekelia; Turks and Caicos Islands" >14 Overseas Territories </a>
                    or <a ng-href="#" class="gb-territories" data-toggle="tooltip" data-placement="bottom" 
                    title="Bailiwick of Jersey, the Bailiwick of Guernsey and the Isle of Man">3 Crown Dependencies</a>
            </div>
         </div>
    </div>
    <div >
        <table class="table">
            <tr ng-repeat="schema in country.schemas">
                <td>
                    <span class="badge">{{schema.count}}</span>
                </td>
                <td>{{schema.title|lstring:locale}}</td>
            </tr>
        </table>
    </div>
</div>
