<div>
    <style></style>
    <div>

        <div class="row border-bottom ">

                <p ng-if="showTitle" class="fs-1 fw-bold text-center pt-3"></p>

                  

            <div class="bg-white col-10 col-md-9"><div id="chartdiv" style="min-height:550px" class="px-3"></div>

                <div class="map-disclaimer" data-bs-toggle="modal" href="#dialogDisclaimer"></div>
                <div id="dialogDisclaimer" class="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-bs-dismiss="modal"></button>
                                <h2 class="modal-title"></h2>
                            </div>
                            <div class="modal-body"></div>
                            <div class="modal-footer" style="text-align:left;">
                                <button type="button" class="btn btn-default" data-bs-dismiss="modal"></button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-2 col-md-3 g-0 border-end overflow-scroll border-start border-bottom bg-white">
                <div class="p-3 map-country-list border-top">
                    <div class="pb-1"></div>
                    <div ng-if="isBCH && currentCountry">
                        <homepin-popup-bch>
                    </div>
                    <div ng-if="isABS && currentCountry" class="country-item-name">
                        <homepin-popup-abs>
                    </div>
                </div>
            </div>

            <div id="Parties" class="text-center m-3">
                <div class="row">
                    <div class="col-md-4 text-center "></div>

                    <div class="col-md-4 text-center" data-bs-toggle="tooltip" delay="0"
                    title=""></div>

                    <div class="col-md-4 text-center"></div>
                </div>
            </div>

        </div>
    </div>
