 <div class="about-section"  id="submit-cf">   
    <h1>Common formats</h1>
    <p>
        The clearing-house operates based on submissions submitted under common formats. Common formats are standardized forms to facilitate submission of information in a harmonized manner. The ABSCH common formats make use of controlled vocabulary and metadata in order to facilitate a consistent registering and search of information in the ABSCH. 
    </p>
    <p>
    The common formats differentiate between mandatory and non-mandatory information.  Some fields are mandatory to ensure that the record contains the minimum information necessary for displaying records consistently.  The common formats are also designed to be flexible and provide for opportunities to include additional information
    </p>
    <p>
    Common formats are available online in the submit section of the website and offline in MS word format. 
    Offline versions can be downloaded from the links below:
    </p>
    <h3 class="color-blue">National Records</h3>
        <ul class="list-group">
        <li class="list-group-item"> <i class="fa fa-file-word-o"></i><a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-CON.doc"> National Contact (person or organization)<i class="fa fa-download pull-right"></i></a></li>
        <li class="list-group-item"> <i class="fa fa-file-word-o"></i><a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-CNA.doc"> Competent National Authority<i class="fa fa-download pull-right"></i></a></li>
        <li class="list-group-item"> <i class="fa fa-file-word-o"></i><a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-NDB.doc"> National Websites and Database<i class="fa fa-download pull-right"></i></a></li>
        <li class="list-group-item"> <i class="fa fa-file-word-o"></i><a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-MSR.doc"> Legislative, administrative or policy measures<i class="fa fa-download pull-right"></i></a></li>
        <li class="list-group-item"> <i class="fa fa-file-word-o"></i><a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-IRCC.doc"> Internationally Recognized Certificate of Compliance<i class="fa fa-download pull-right"></i></a></li>
        <li class="list-group-item"> <i class="fa fa-file-word-o"></i><a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-CP.doc"> Checkpoint<i class="fa fa-download pull-right"></i></a></li>
        <li class="list-group-item"> <i class="fa fa-file-word-o"></i><a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-CPC.doc"> Checkpoint Communiqué<i class="fa fa-download pull-right"></i></a></li>
        <li class="list-group-item"> <i class="fa fa-file-word-o"></i>Interim National Report<span class="pull-right">      
                <a href="http://www.cbd.int/abs/doc/commonformats/NR-en.doc"  target="_new">en</a> | 
                <a href="http://www.cbd.int/abs/doc/commonformats/NR-fr.doc"  target="_new">fr</a> | 
                <a href="http://www.cbd.int/abs/doc/commonformats/NR-es.doc" target="_new">es</a> | 
                <a href="http://www.cbd.int/abs/doc/commonformats/NR-ru.doc"  target="_new">ru</a> | 
                <a href="http://www.cbd.int/abs/doc/commonformats/NR-ar.doc"  target="_new">ar</a> | 
                <a href="http://www.cbd.int/abs/doc/commonformats/NR-zh.doc"  target="_new">zh</a> </i></span>

        <li class="list-group-item"> <i class="fa fa-file-word-o"></i><a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-NFP.doc"> Designation of ABS National Focal Point<i class="fa fa-download pull-right"></i></a></li>
        <li class="list-group-item"> <i class="fa fa-file-word-o"></i><a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-PA-NAU.doc"> Designation of  Publishing Authority/National Authorised Users<i class="fa fa-download pull-right"></i></a></li>
        </ul>
    <h3 class="color-orange">Reference Records</h3>
        <ul class="list-group">
        <li class="list-group-item"> <i class="fa fa-file-word-o"></i><a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-VLR.doc"> Virtual Library Record<i class="fa fa-download pull-right"></i></a></li>
        <li class="list-group-item"> <i class="fa fa-file-word-o"></i><a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-CBI.doc">  Capacity-building Initiative<i class="fa fa-download pull-right"></i></a></li>
        <li class="list-group-item"> <i class="fa fa-file-word-o"></i><a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-A19-20.doc"> Model Contractual Clauses, Codes of Conduct, Guidelines, Best Practices and Standards <i class="fa fa-download pull-right"></i></a></li>
        <li class="list-group-item"> <i class="fa fa-file-word-o"></i><a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-CPP.doc">  Community protocols and procedures and customary laws<i class="fa fa-download pull-right"></i></a></li>
        </ul></p>
    <a translation-url  scroll-to="top" class="color-green pull-right" href="#"><i class="fa fa-arrow-circle-up color-blue fa-2x"></i></a>
    </div>