



                <h1>Offline versions of the ASBCH common formats.</h1>
<h4>
                <ul class="cf">
                    <li>
                        <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-MSR.doc" >
                        Legislative, administrative or policy measures</a></li>

                    <li>
                        <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-CPC.doc" >
                        Checkpoint Communiqué</a></li>

                    <li>
                        <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-CNA.doc" >
                        Competent National Authority</a></li>
                    <li>
                        <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-IRCC.doc" >
                        Internationally Recognized Certificate of Compliance</a></li>

                    <li>
                        <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-CP.doc" >
                        Checkpoint</a></li>
                    <li>
                        <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-NDB.doc" >
                        National Websites and Database</a></li>
                    <li>
                        <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-VLR.doc" >
                        Virtual Library Record</a></li>
                    <li>
                        <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-NFP.doc" >
                        National Focal Point</a></li>
                    <li>
                        <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-PA-NAU.doc" >
                        Publishing Authority/National Authorised User</a></li>
                </ul>
                </h4>
