<div id="blogPage" ng-controller="GuidesController" >
  <div smooth-scroll duration="100" offset="200"></div>
  
  <div class="container">
    <div class="row">
     
      <h1>Step-By-Step Guides</h1>
      
      <p>The Secretariat has prepared Step-By-Step Guides to assist you with creating and managing your CBD account, user management in the ABS Clearing-House, publishing national contacts, national records and reference records. The Step-By-Step Guides on national and reference will provide you a detailed overview of the common formats, mandatory information, and guidance on filling the forms. </p>
      <br>
 
      <p><a href="http://www.cbd.int/abs/doc/guides/Accounts.pdf" target="_new" class="link1 bold" style="font-size:110%;display:block;">
         <i class="fa fa-file-pdf-o" ></i> Creating and Managing your CBD Account</a>
        While the information published in the ABS Clearing-House can be seen by anyone, in order to publish records it is necessary to create a CBD account. This guide will provide detailed assistance in creating and managing a CBD account.
      </p>
      <br>
       <p><a href="http://www.cbd.int/abs/doc/guides/UserManagement.pdf" target="_new" class="link1 bold" style="font-size:110%;display:block;">
         <i class="fa fa-file-pdf-o" ></i> User Management in the ABS Clearing-House</a>
        If you are the national focal point (NFP) on access and benefit-sharing for your country, you can designate the PA and one or more NAUs through the ABS Clearing-House. Also, if you are the PA, you can designate the NAUs through the ABS Clearing-House. This guide will offer assistance in granting or revoking these roles online through the ABS Clearing-House.
      </p>
      <br>
      <h3 class="color-blue">National records</h3>
     <br>
       <p><a href="http://www.cbd.int/abs/doc/guides/CNA.pdf" target="_new" class="link1 bold" style="font-size:110%;display:block;">
         <i class="fa fa-file-pdf-o" ></i> Publishing Competent National Authorities (CNA)</a>
        CNAs are entities designated to, in accordance with applicable national legislative, administrative or policy measures, be responsible for granting access or, as applicable, issuing written evidence that access requirements have been met and be responsible for advising on applicable procedures and requirements for obtaining prior informed consent and entering into mutually agreed terms. The Step-By-Step Guide will assist you with publishing information on your CNAs.
      </p>
      <br>
      
       <p><a href="http://www.cbd.int/abs/doc/guides/UpdateMSRs.pdf" target="_new" class="link1 bold" style="font-size:110%;display:block;">
         <i class="fa fa-file-pdf-o" ></i> Updating legislative, administrative and policy measures on access and benefit sharing (MSR)</a>
        The common format for legislative, administrative or policy measures (ABS measures) was revised in 2016 to include: a modified list of types of measures, reference to model contractual clauses, and a modified list of ABS elements. As a result, previously published records of ABS measures should be updated according to the revised common format. This Step-By-Step Guide will provide assistance in updating previously published ABS measures.
      </p>
      <!--<br>
       <p><a href="http://www.cbd.int/abs/doc/guides/MSRs.pdf" target="_new" class="link1 bold" style="font-size:110%;display:block;">
         <i class="fa fa-file-pdf-o" ></i> Publishing legislative, administrative and policy measures on access and benefit sharing (MSR)</a>
        ABS measures are adopted at domestic level to implement the access and benefit-sharing obligations of the Convention or/and the Nagoya Protocol. Using the Step-By-Step Guide, you will be able to publish records of ABS measures, an important component for the implementation of the Nagoya Protocol.
      </p>
      <br>
       <p><a href="http://www.cbd.int/abs/doc/guides/NDBs.pdf" target="_new" class="link1 bold" style="font-size:110%;display:block;">
         <i class="fa fa-file-pdf-o" ></i> Publishing National Websites and Databases (NDB)</a>
          Information and links to national websites or databases which are relevant for ABS. National Websites and Databases may hold relevant information to ABS which can assist Parties with the implementation of the Nagoya Protocol. They may also provide specific information about genetic resources and traditional knowledge associated with genetic resources.  With this Step-By-Step Guide, you can go through the process of publishing NDBs in the ABS Clearing-House. 
      </p>
       <br>
       <p><a href="http://www.cbd.int/abs/doc/guides/CPs.pdf" target="_new" class="link1 bold" style="font-size:110%;display:block;">
         <i class="fa fa-file-pdf-o" ></i> Publishing Checkpoints (CP)</a>
          Checkpoints are entities designated by Parties to effectively collect or receive relevant information related to prior informed consent, to the source of the genetic resource, to the establishment of mutually agreed terms and/or to the utilization of genetic resources, as appropriate. This Step-By-Step Guide will provide assistance with publishing information on a checkpoint in the ABS Clearing-House. 
      </p>
      <br>
       <p class="color-litegrey"><span class="bold" style="font-size:110%;display:block;">
         <i class="fa fa-file-pdf-o" ></i> Publishing a Permit or its Equivalent Constituting an Internationally Recognized Certificate of Compliance (IRCC)</span>
          IRCCs are constituted from the information on the permit or its equivalent registered in the ABS Clearing-House, serving as evidence that the genetic resource which it covers has been accessed in accordance with prior informed consent and that mutually agreed terms have been established. It contains the minimum necessary information to allow monitoring the utilization of genetic resources by users throughout the value chain. The Step-By-Step Guide will provide assistance with registering information on the permit or its equivalent, and publish an IRCC in the ABS Clearing-House.
      </p>
      <br>
       <p class="color-litegrey"><span class="bold" style="font-size:110%;display:block;">
         <i class="fa fa-file-pdf-o" ></i> Publishing Checkpoint Communiqués (CPC) </span>
         The information collected or received by the checkpoints and distributed through the checkpoint communiqué (CPC) will assist Parties to monitor how the genetic resources within and outside of their jurisdiction are used. The Step-By-Step Guide will provide assistance in entering information in the ABS Clearing-House and publishing a checkpoint communiqué.
      </p>-->
         <br>
          <h3 class="color-orange">Reference records</h3>
        <br>
       <!--<p><a href="http://www.cbd.int/abs/doc/guides/VLRs.pdf" target="_new" class="link1 bold" style="font-size:110%;display:block;">
         <i class="fa fa-file-pdf-o" ></i> Publishing Virtual Library Records (VLR)</a>
          The virtual library in the ABS Clearing-House hosts a number of ABS relevant resources submitted by any registered user of the ABS Clearing-House. This includes, among others, general literature on ABS, awareness-raising materials, case studies, videos, capacity-building resources, etc. Using this Step-By-Step Guide, you will receive assistance in submitting information on VLR through the ABS Clearing-House. 
      </p>
      <br>-->
       <p><a href="http://www.cbd.int/abs/doc/guides/A19A20.pdf" target="_new" class="link1 bold" style="font-size:110%;display:block;">
         <i class="fa fa-file-pdf-o" ></i> Publishing Model Contractual Clauses, Codes of Conduct, Guidelines, Best practices and Standards (Art. 19/20)</a>
          Articles 19 and 20 of the Nagoya Protocol require each Party to encourage, as appropriate, the development, update and use of sectoral and cross-sectoral model contractual clauses for mutually agreed terms, as well as voluntary codes of conduct, guidelines and best practices and/or standards in relation to access and benefit sharing. With this Step-By-Step Guide, you will receive assistance in submitting information through the ABS Clearing-House.  
      </p>
      <br>
       <!--<p><a href="http://www.cbd.int/abs/doc/guides/CPPs.pdf" target="_new" class="link1 bold" style="font-size:110%;display:block;">
         <i class="fa fa-file-pdf-o" ></i> Publishing Community Protocols and Procedures and Customary Laws (CPP)</a>
          Community protocols and procedures and customary laws are addressed in Article 12 of the Protocol. They can help other actors to understand and respect the community’s procedures and values with respect to access and benefit-sharing. With this Step-By-Step Guide, you will receive assistance in submitting information on CPP through the ABS Clearing-House as a reference record. 
      </p>
      <br>-->
       <p><a href="http://www.cbd.int/abs/doc/guides/CBIs.pdf" target="_new" class="link1 bold" style="font-size:110%;display:block;">
         <i class="fa fa-file-pdf-o" ></i> Publishing Capacity-Building Initiatives (CBI)</a>
          Information on Capacity-building Initiatives at national, regional and international levels, are shared to promote synergy and coordination on capacity-building and development for access and benefit-sharing. This Step-By-Step Guide provides assistance in submitting information on CBIs through the ABS Clearing-House. 
      </p>
      
    </div>
  </div>
  
  
</div><!--  end controller -->
