<div ng-controller="nrFaqController">

    <style>
        #NRFaqs h3 {
            margin-top: 10px!important;
        }
    </style>
    <div class="container-fluid" id="NRFaqs">
        <div class="row-fluid">


            <div class="row">
                <div class="col-xs-3">
                    <span left-menu navigate-on-click="true"></span>
                </div>
                <div class="col-xs-9 bg-white">
                    <div smooth-scroll duration="100" offset="200"></div>
                    <h1>Interim National Report on the Implementation of the Nagoya Protocol
                        <br/> Frequently Asked Questions (FAQs)
                    </h1>

                    <hr style="border-top:1px solid #999;">
                    <p>This page provides answers to Frequently Asked Questions (FAQs) on the preparation and submission of
                        Interim National Report on the Implementation of the Nagoya Protocol.</p>

                    <div class="well">
                        <h3 class="color-grey">What is the deadline for submission of the Interim National Report?</h3>
                        <p>In decision NP-1/3, paragraph 4, the Conference of the Parties serving as the meeting of the Parties
                            to the Nagoya Protocol (COP-MOP) requests Parties to the Protocol to submit an interim national
                            report on the implementation of the Nagoya Protocol, as called for under Article 29 of the Protocol,
                            twelve months prior to the third meeting of the COP-MOP. The decision also welcomes submissions
                            of relevant information by Non-Parties. Accordingly, Parties and non-Parties are invited to submit
                            to the Secretariat their interim national report, through the ABS Clearing-House, as soon as
                            possible and no later than <strong class="color-red">1 November 2017</strong>.</p>
                    </div>



                    <div class="well">
                        <h3 class="color-grey">
                            Why is it important to submit the Interim National Report?
                        </h3>
                        <p> Article 29 of the Nagoya Protocol provides that each Party shall monitor the implementation of its
                            obligations under the Protocol, and shall, at intervals and in the format to be determined by
                            the Conference of the Parties serving as the meeting of the Parties to the Protocol (COP-MOP),
                            report to the COP-MOP on measures that it has taken to implement the Protocol.
                        </p>
                        <p> The information received through these reports will assist the COP-MOP in reviewing the implementation
                            of the Nagoya Protocol and to make the decisions necessary to promote its effective implementation.
                            Information submitted through the interim national report, as well as through the ABS Clearing-House,
                            will be taken into account by the Executive Secretary in the preparation of documentation for
                            consideration by the Compliance Committee, the second meeting of the Subsidiary Body on Implementation,
                            and the third meeting of the COP-MOP.
                        </p>
                    </div>


                    <div class="well">
                        <h3 class="color-grey">
                            How is the Interim National Report to be submitted?
                        </h3>
                        <p>The report is submitted online through the ABS Clearing-House at the following address: <a href="https://absch.cbd.int/register/NR/new">absch.cbd.int/register/NR/new</a>.
                        </p>
                        <p> In order to make national information available on the ABS Clearing-House, countries first need to
                            designate a publishing authority. Countries that have not yet designated their publishing authority
                            are kindly requested to do so at their earliest convenience. The designation can be done by the
                            national focal point on access and benefit-sharing, online using the ABS Clearing-House or offline
                            by completing the following
                            <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-PA-NAU.doc" target="_new">nomination form</a>,
                            and sending it to the CBD Secretariat (secretariat@cbd.int).
                        </p>
                    </div>


                    <div class="well">
                        <h3 class="color-grey">
                            Can Non-Parties submit the interim national reports?
                        </h3>
                        <p>
                            Yes, Non-Parties are encouraged to submit their interim national reports and publish relevant information in the ABS Clearing-House
                            under the same conditions as Parties.
                        </p>
                    </div>



                    <div class="well">
                        <h3 class="color-grey">
                            What is important to keep in mind during the preparation of the Interim National Report?
                        </h3>
                        <p>
                            When preparing the report, it is recommended that countries involve all relevant stakeholders in order to ensure a participatory
                            and transparent approach to its development. In addition, countries are:
                            <ul>
                                <li>Encouraged to include information in their interim national reports on difficulties and challenges
                                    related to implementation of the Protocol in line with decision NP 2/3, paragraph 4;
                                    <li>Invited to pay particular attention to providing information on the implementation of
                                        the provisions of the Protocol related to traditional knowledge associated with genetic
                                        resources held by indigenous peoples and local communities, with the full and effective
                                        participation of indigenous peoples and local communities, when preparing and submitting
                                        their interim national reports, in line with decision NP-2/10, paragraph 3; and
                                        <li>Invited to submit information on their experiences related to the mobilization of
                                            resources in support of the implementation of the Protocol, as well as on the
                                            status of funds mobilized in line with decision NP-1/7, paragraph 8.
                            </ul>
                        </p>
                    </div>



                    <div class="well">
                        <h3 class="color-grey">
                            How do I submit the report if I have limited Internet connectivity?
                        </h3>
                        <p>
                            When online submissions are technically not feasible Parties may submit their interim national reports offline. Offline submissions
                            should use MS Word format found here: <a href="https://absch.cbd.int/commonformats">absch.cbd.int/commonformats</a>.
                            It is recommended that countries send the report via email to the Secretariat (secretariat@cbd.int),
                            and include a scanned copy of the last page signed by the ABS Clearing-House publishing authority.
                        </p>
                    </div>


                    <div class="well">
                        <h3 class="color-grey">
                            What is the format of the Interim National Report?
                        </h3>
                        <p>
                            The form consists of a series of questions mainly focused on those provisions of the Protocol that establish obligations
                            for the Parties to the Protocol. These questions are identified as mandatory and are marked with
                            an asterisk. Each question is structured to select “Yes” or “No” (or in some cases, “Not applicable”).
                            Generally, these questions are followed by text-boxes where countries are encouraged to provide
                            details on the measures taken as well as to report on difficulties and challenges to implement
                            particular provisions. You can also provide further information on the issue by linking to existing
                            ABS Clearing-House records, websites or uploading documents. Your responses in the text-boxes
                            should be as relevant, succinct and clear as possible.
                        </p>
                        <p>Some questions are not strictly based on the provisions of the Protocol and are identified as voluntary.
                            They will contribute to the assessment and review of the effectiveness of the Protocol in the
                            context of Article 31 and to identify challenges and difficulties in implementing the Protocol.

                        </p>
                    </div>


                    <div class="well">
                        <h3 class="color-grey">
                            In what language can I submit the Interim National Report?
                        </h3>
                        <p>
                            The report may be submitted in any of the six official languages of the United Nations: Arabic, Chinese, English, French,
                            Russian, and Spanish.
                        </p>
                    </div>


                    <div class="well">
                        <h3 class="color-grey">
                            Where do I get help to publish the Interim National Report or any other information in the ABS Clearing-House
                        </h3>
                        <p>The CBD Secretariat is available to provide support for the publication of information in the ABS
                            Clearing-House and to assist in the submission of the interim national report.
                        </p>
                        <p>Step-by-step instructional guides on how to publish information in the ABS Clearing-House, including
                            the interim national report, can be downloaded here: <a href="https://absch.cbd.int/register/NR/new">absch.cbd.int/guides</a>.
                        </p>
                        <p>For any questions or assistance, please contact absch@cbd.int.

                        </p>
                    </div>



                    <div class="well">
                        <h3 class="color-grey">
                            Can I provide comments on the report format?
                        </h3>
                        <p>
                            Yes. The Executive Secretary welcomes any comments on the adequacy of the questions and difficulties in completing the questions,
                            and any further recommendations on how these reporting guidelines could be improved.
                        </p>
                    </div>


                    <div class="well">
                        <h3 class="color-grey">
                            Is my country eligible for UNEP-GEF funding to complete the Interim National Report?
                        </h3>
                        <p>

                            <p> For more information please see the following notification: 
                                <a target="_new" href="https://www.cbd.int/doc/notifications/2017/ntf-2017-032-abs-en.pdf"> 
                                GEF Support for the Preparation of the Interim National Reports on the
                                Implementation of the Nagoya Protocol</a></p>
                            <p>Eligible Parties may contact:</p>
                            <p>
                                <strong>Alex Owusu-Biney</strong><br> Portfolio Manager, GEF Coordination<br> Division of
                                Environmental Policy Implementation<br> United Nations Environment Programme (UNEP)<br> P.
                                O. Box 30552 - 00100, Nairobi, Kenya<br> Tel: +254 20 7624066<br> Fax: +254 20 7624041/42<br>                                
                                Email: Alex.Owusu-Biney@unep.org<br>

                            </p>
                    </div>


                </div>
            </div>
        </div>

    </div>

</div>
