<div class="help_content">
    <h1>Information-sharing obligations under the Protocol</h1>
    <div>
      <p>
          Each Party to the Nagoya Protocol is required to make available the following types of information to the ABS Clearing-House in accordance with <a href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-14" target="_new">Article 14, paragraph 2</a>: 
          <ul>
              <li>(a) Legislative, administrative and policy measures on access and benefit-sharing;</li>
              <li> (b) Information on the national focal point and competent national authority or authorities; and </li>
              <li>(c) Permits or their equivalent issued at the time of access as evidence of the decision to grant prior informed consent and of the establishment of mutually agreed terms.</li>
          </ul>
      </p>

      <p>
        In accordance with <a href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-13" target="_new">Article 13, paragraph 4</a>, the contact information of a Party’s national focal point and its competent national authority or authorities shall be provided to the Secretariat no later than the date of entry into force of the Protocol, and Parties shall subsequently notify the Secretariat of any changes. The Secretariat will make this information available through the ABS Clearing-House. 
      </p>

      <p>
        Where a Party designates more than one competent national authority, it must provide to the Secretariat relevant information on the respective responsibilities of those authorities along with its notification designating the authority. Where applicable, such information shall, at a minimum, specify which competent authority is responsible for the genetic resources sought.  
      </p>

      <p>
         <a href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-14" target="_new">Article 14, paragraph 2</a>, also requires Parties to make available through the ABS Clearing-House any information required by this Protocol. This would include: 
            <ul>
              <li>(a) Measures to inform potential users of traditional knowledge associated with genetic resources about their obligations for access to and fair and equitable sharing of benefits arising from the utilization of such knowledge (<a href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-12" target="_new">Article 12, paragraph 2</a>);</li>
              <li> (b) Information provided to designated checkpoints that collect or receive, as appropriate, relevant information related to prior informed consent, to the source of the genetic resource, to the establishment of mutually agreed terms, and/or to the utilization of genetic resources, including from internationally recognized certificates of compliance, where they are available (<a href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-17" target="_new">Article 17, paragraph 1 (a) (iii)</a>); and </li>
              <li>(c) Information on capacity-building and development initiatives at national, regional and international levels that should be shared through the ABS Clearing-House with a view to promoting synergy and coordination on capacity-building and development for access and benefit-sharing (<a href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-22" target="_new">Article 22, paragraph 6</a>).  </li>
          </ul>
      </p>

      <p>
          The ABS Clearing-House will also need to provide access to other types of information that Parties may provide relevant to the implementation of the Protocol. Additional information specified in the Protocol (<a href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-14" target="_new">Article 14, paragraph 3</a>) includes
          <ul>
              <li>(a) Relevant competent authorities of indigenous and local communities, and information as so decided; </li>
              <li>(b) Model contractual clauses; </li>
              <li>(c) Methods and tools developed to monitor genetic resources; and </li>
              <li>(d) Codes of conduct and best practices. </li>
          </ul>
      </p>

      <p>
          Finally, <a href="http://www.cbd.int/abs/text/articles/default.shtml?sec=abs-14" target="_new">Article 14, paragraph 2</a>, provides that Parties shall make information to the ABS Clearing-House any information required pursuant to the decisions taken by the Conference of the Parties to the Protocol.
      </p>
      
    </div>
  </div>
