<div class="about-section"  ng-controller="videosController" id="aboutPage">
  <link rel="stylesheet" ng-href="/app/css/about.css">
    <div class="container-fluid">
    <div class="row-fluid" >
        <div class="col-xs-3">
            <span left-menu navigate-on-click="true"></span>
        </div>
        <div class="col-xs-9 col-md-9" >
            <h1 class="main">Videos </h1>
            </br>
            <div ng-repeat="video in videos" style="padding-bottom: 15px;">
                <h1 ng-bind="video.heading"></h1>
                <p ng-bind="video.desc"></p>
                <p class="thumbnail">
                    <ng-youtube-embed width="100%" video="video.url"></ng-youtube-embed>
                </p>
            </div>
        </div>
    </div>
</div>
</div>
