<div id="cbdBranding" class="footer ng-cloak">
    <div class="footer">
        <div class="footer-cbd"
            style="padding:50px 30px; background-color: #111!important; border-top: 1px solid #444; ">

            <style> #cbd-footer a { color: #999; font-size: 12px; } #cbd-footer ul { list-style: none; padding: 0; } #cbd-footer { color: #333; } #cbd-footer h4 { color: #ddd; font-size: 14px; } #cbd-footer h3 { color: #ddd; } </style>

            <div class="container-fluid" id="cbd-footer">
                <div class="row hidden-xs ">
                    <div class="col-xs-12" style="margin-bottom:20px;">
                        <h3 style="font-size:18px;">生物多样性公约</h3>
                    </div>
                </div>

                <div class="row hidden-xs">
                    <div class="col-sm-4">
                        <h4>快速链接</h4>
                        <hr style="border-color: #bbb;">

                        <div class="col-xs-6" style="margin:0;padding:0;">
                            <ul>
                                <li><a href="https://absch.cbd.int/"
                                        title="获取和惠益分享信息交换所">获取和惠益分享信息交换所</a></li>
                                <li><a href="https://bch.cbd.int/" title="生物安全信息交换所">生物安全信息交换所</a></li>
                                <li><a href="https://chm.cbd.int/" title="信息交换所机制">信息交换所机制</a></li>
                                <li><a href="https://www.cbd.int/contributions" title="贡献">贡献</a></li>
                                <li><a href="https://www.cbd.int/countries/" title="国家概况">国家概况</a></li>
                                <li><a href="https://www.cbd.int/meetings/" title="会议与活动">会议与活动</a></li>
                                <li><a href="https://www.cbd.int/nbsap"
                                        title="国家生物多样性战略和行动计划">National Biodiversity Strategies and Action Plans (NBSAPs)</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6" style="margin:0;padding:0;">
                            <ul style="margin-left:20px;">
                                <li><a href="https://www.cbd.int/nfp" title="国家联络点">国家联络点</a></li>
                                <li><a href="https://www.cbd.int/reports" title="国家报告">国家报告</a></li>
                                <li><a href="https://www.cbd.int/news/" title="新闻头条">新闻头条</a></li>
                                <li><a href="https://www.cbd.int/notifications/" title="通知">通知</a></li>
                                <li><a href="https://www.cbd.int/parties" title="缔约方">缔约方</a></li>
                                <li><a href="https://www.cbd.int/publications" title="出版物">出版物</a></li>
                            </ul>
                        </div>


                    </div>
                    <div class="col-sm-4">
                        <h4>话题</h4>
                        <hr style="border-color: #bbb;">

                        <ul>
                            <li><a href="https://www.cbd.int/topic/business-women-youth-and-other-stakeholders"
                                    title="企业、妇女、青年和其他利益攸关方">企业、妇女、青年和其他利益攸关方</a></li>
                            <li><a href="https://www.cbd.int/topic/climate-change" title="气候变化">气候变化</a></li>
                            <li><a href="https://www.cbd.int/topic/poverty-reduction" title="减贫">减贫</a></li>
                            <li><a href="https://www.cbd.int/topic/food" title="食品">食品</a></li>
                            <li><a href="https://www.cbd.int/topic/water" title="水">水</a></li>
                            <li><a href="https://www.cbd.int/topic/indigenous-peoples-and-local-communities"
                                    title="原住民和当地社区">原住民和当地社区</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h4>信息</h4>
                        <hr style="border-color: #bbb;">

                        <ul>
                            <li><a href="https://www.cbd.int/contact" title="联系我们">联系我们</a></li>
                            <li><a href="https://www.cbd.int/terms" title="使用条款">使用条款</a></li>
                            <li><a href="https://www.cbd.int/privacy" title="隐私政策">隐私政策</a></li>
                            <li><a href="https://www.cbd.int/credits" title="制作人员">制作人员</a></li>
                            <li><a href="https://www.cbd.int/copyright" title="© 生物多样性公约秘书处">© 生物多样性公约秘书处</a></li>
                            <li><a rel="noopener" href="https://bch.cbd.int/member/subscriptions.shtml"><i class="fa fa-fw fa-envelope"></i></a> <a rel="noopener" href="https://bch.cbd.int/resources/rss.shtml"><i class="fa fa-fw fa-rss"></i></a> <a rel="noopener" target="_blank" href="http://twitter.com/bchcpb/"><i class="fa fa-fw fa-twitter"></i></a> <a rel="noopener" target="_blank" href="http://www.facebook.com/UNBiodiversity/"><i class="fa fa-fw fa-facebook"></i></a> <a rel="noopener" target="_blank" href="https://www.youtube.com/playlist?list=PL4yoXk7tzMgBioR9tbLPfGhmKLaHdS38g"><i class="fa fa-fw fa-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h4>隶属：</h4>
                        <hr style="border-color: #bbb;"><img class="uno-environment" src="https://www.cbd.int/themes/custom/bootstrap_sass/images/UN_brand_neg.svg"
                            style="padding: 0; margin:0; width:100px;" alt="联合国环境规划署"> <br> <img class="uno-brand" src="https://www.cbd.int/themes/custom/bootstrap_sass/images/UNEP_50_white.svg"
                            style="padding: 0; margin: 0; width:100px;" alt="联合国品牌"></div>
                </div>

                <div class="row">
                    <div class="col-xs-12 text-center" style="margin-bottom:20px;"><a rel="noopener" translation-url href="http://www.cbd.int"><img
                                src="/app/img/cbd-logo-white-en.svg" style="padding: 0; margin: 0; width:220px;" /></a></div>
                </div>

            </div>
        </div>
    </div>
</div>