<div>
    <iframe id="authenticationFrame" src="https://accounts.cbd.int/app/authorize.html" style="display:none"></iframe>

    <nav class="navbar navbar-cbd navbar-default bg-white navbar-static-top" id="anchorTop" >
        <div class="alert alert-info" style="margin-bottom: 0px; text-align: center" ng-show="showEmailVerificationMessage">
            <button type="button" ng-click="showEmailVerificationMessage = undefined" class="close" style="opacity: 1;">&times;</button>
            <strong>{{showEmailVerificationMessage}}</strong>
            <br/>
            Please click on the verification link in the email sent on {{user.email}}. Click <a href="https://accounts.cbd.int/activate/resend">here</a> to resend the activation email.
        </div>
      <div class="container-fluid container-cbd" ng-mouseleave="showCBDlinks = false">
          <ul class="navbar-left navlist " >
                <li style="color: #bdbdbd;cursor:pointer;">
                    <span class="hidden-xs hidden-sm" ng-click="showCBDlinks = !showCBDlinks">  <i class="fa fa-bars"></i> Convention on Biologicial Diversity</span>
                    <span class="hidden-md hidden-lg" href="http://www.cbd.int"> <img src="/app/img/cbd-spine.png" style="height:16px;position:relative;top:-2px;padding:0 5px 0 0;margin:0;"/>CBD</span>
                </li>
                <li ng-if="showCBDlinks" class="hidden-xs hidden-sm"><a class="color-litegrey" href="http://www.cbd.int/convention/">The Convention</a></li>
                <li ng-if="showCBDlinks" class="hidden-xs hidden-sm"><a class="color-litegrey" href="http://bch.cbd.int/protocol">Cartagena Protocol</a></li>
                <li ng-if="showCBDlinks" class="hidden-xs hidden-sm"><a class="color-litegrey" href="http://www.cbd.int/abs/">Nagoya Protocol<a></li>
                <li ng-if="showCBDlinks" class="hidden-xs hidden-sm"><a class="color-litegrey" href="http://www.cbd.int/programmes/">Programmes</a></li>
                <li ng-if="showCBDlinks" class="hidden-xs hidden-sm"><a class="color-litegrey" href="http://www.cbd.int/information/">Information</a></li>
                <li ng-if="showCBDlinks" class="hidden-xs hidden-sm"><a class="color-litegrey" href="http://www.cbd.int/secretariat/">Secretariat</a></li>
          </ul>

           <ul class="navlist navbar-right">
            <li class="pull-right" style="margin-right:0;padding-right:0;">
                    <a class="set-languages" data-toggle="dropdown" href="#">
                        <span class="badge badge-default color-white" style="position:relative;top:-2px;">en</span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="disabled" style="font-weight:bold;color:#BBB;padding-left:3px;">LANGUAGES</li>
                        <hr style="padding;0;margin:0;">
                        <li class="disabled"><a>لعربية</a></li>
                        <li class="disabled"><a>中文</a></li>
                        <li><a href="#"><strong>English</strong></a></li>
                        <li class="disabled"><a>Español</a></li>
                        <li class="disabled"><a>Français</a></li>
                        <li class="disabled"><a>Русский</a></li>
                    </ul>
            </li>
            <li class="pull-right" ng-cloak id="dropdownNotification" ng-show="user && user.isAuthenticated"  >
                   <a id="dLabel" ng-href="/register#notifications" class="notification-btn hidden-sm hidden-md hidden-lg">
                        <span ng-show="(notifications|filter:isUnread).length > 0 " >
                            <i class="fa fa-bell"></i>
                            <span class="label label-default">{{(notifications|filter:isUnread).length}}</span>
                        </span>
                        <span ng-show="(notifications|filter:isUnread).length <= 0">
                            <i class="fa fa-bell-o" class="bg-grey"></i>
                        </span>
                    </a>

                    <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" ng-href="#" class="notification-btn hidden-xs">
                        <span ng-show="(notifications|filter:isUnread).length > 0 " >
                            <i class="fa fa-bell"></i>
                            <span class="label label-default">{{(notifications|filter:isUnread).length}}</span>
                        </span>
                        <span ng-show="(notifications|filter:isUnread).length <= 0">
                            <i class="fa fa-bell-o" class="bg-grey"></i>
                        </span>
                    </a>

                    <div class="dropdown-menu hidden-xs handleSearchPage" role="menu" aria-labelledby="dLabel">
                        <div class="panel panel-danger" style="width:500px;padding:0;margin:0;">
                            <div class="panel-heading">
                                <h4>User Notifications and Recent Activity</h4>
                            </div>
                            <div class="panel-body" >
                                <div xuser-notifications></div>
                            </div>
                            <div class="panel-footer">
                                <a ng-href="/dashboard">
                                    <h4 class="menu-title">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
                                </a>
                            </div>
                        </div>
                    </div>
            </li>

            <li class="pull-right">
                 <a ng-hide="user && user.isAuthenticated" class="signin color-litegrey" href="#" data-slug="signin" data-toggle="modal" data-target="#loginDialog">
                     <i class="fa fa-power-off"></i> <span style="text-transform:uppercase;"><strong>sign in</strong></span>
                 </a>

                 <a ng-show="user && user.isAuthenticated"  href="#" data-toggle="dropdown">
                     <span class="hidden-sm hidden-xs"><i class="fa fa-chevron-down"></i>  {{user.name}}</span>
                     <span class="hidden-md hidden-lg"><i class="fa fa-user"></i></span>

                 </a>
                    <ul class="dropdown-menu" role="menu" >
                        <li>
                            <a href="#" ng-click="actionProfile()">
                                <i class="fa fa-user" style="font-size:15px"></i>&nbsp; Profile</a>
                        </li>
                        <li>
                            <a href="#" ng-click="actionPassword()">
                                <i class="fa fa-user" style="font-size:15px"></i>&nbsp; Password</a>
                        </li>
                        <li>
                            <a href="#" ng-click="actionSignOut()">
                                <i class="fa fa-sign-out" style="font-size:15px"></i>&nbsp; Sign-out</a>
                        </li>
                    </ul>
           </li> <!--  end sign in-->
          </ul>


      </div><!-- /.container-fluid -->
    </nav>

    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="loginDialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header center">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size:42px;">&times;</button>
                    <h1 class="modal-title" id="myModalLabel">Sign in to the ABSCH</h1>
                </div>
                <div class="modal-body" style="color:white;background-color:#1FA65D;border-bottom-left-radius:6px;border-bottom-right-radius:6px;">
                    <div login on-authorization="closePopup()"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="error-message" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Error: {{errorMessage.title}}</h4>
                </div>
                <div class="modal-body">
                    <p compile="errorMessage.body"></p>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

</div>
