<div id="innerPage">
    <div class="mastHead" ng-class="{'bg-abs':isABS}">
        <div ng-if="infoBlockUrl" ng-include="infoBlockUrl"></div>
    </div>

    <div class="innerPageContent">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>

            <div class="panel-body bg-white p-0">
                <table class="table" cellspacing="0" cellpadding="0" style="width:100%;margin-bottom: 0px;">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-center d-none d-sm-table-cell"></th>
                            <th class="text-center"></th>
                            <th class="d-none d-sm-table-cell"
                                ng-repeat="region in reportData[0].regionMapping"></th>
                            <th class="text-center d-none d-sm-table-cell"></th>
                            <th class="text-center d-none d-sm-table-cell"></th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="activeReport in reportData ">
                            <td></td>
                            <td class="text-center d-none d-sm-table-cell" ng-bind="activeReport.deadline|formatDate">
                            </td>
                            <td class="text-center" ng-bind="activeReport.partyCount"></td>
                            <td class="text-center d-none d-sm-table-cell"
                                ng-repeat="region in activeReport.regionMapping"></td>
                            <td class="text-center d-none d-sm-table-cell" ng-bind="activeReport.partyReportCount">
                            </td>
                            <td class="text-center d-none d-sm-table-cell" ng-bind="activeReport.nonPartyReportCount">
                            </td>
                            <td class="text-center"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="11"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div><div class="register-content-content" style="padding:5px;">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <table style="width:100%">
                        <tr>
                            <td style="width:78%">
                                <h4 class="panel-title"></h4></td>
                            <td>
                                <button type="button" class="btn btn-primary float-end" ng-click="analyze()"></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body" ng-if="reportData">
                    <national-report-questions-selector report-type="$parent.selectedReportType"
                        questions="$parent.selectedQuestions" regions="$parent.selectedRegions"
                        regions-preset="$parent.selectedRegionsPreset"
                        regions-preset-filter="$parent.selectedRegionsPresetFilter" report-data="reportData">
                    </national-report-questions-selector>
                </div>

                <div class="panel-footer text-right">
                    <button type="button" class="btn btn-primary" ng-click="analyze()"></button>
                </div>

            </div>
        </div>


    </div>

</div>