<div class="container" style="padding-top:20px;">
    <div class="row">
            <div class="col-xs-12 well bg-white">
 
 

<p class="pull-right" style="font-size:12px;">mercredi 27 janvier 2016</p>
 <h1>Cours : Cadres juridiques pour la mise en œuvre du Protocole de Nagoya</h1><img class="thumbnail" src="http://www.idlo.int/sites/default/files/Nagoya%20Protocol%20event%20photo.jpg"><p style="font-size:20px;"><strong>ÉTABLIR DES CADRES JURIDIQUES POUR LA MISE EN OEUVRE DU PROTOCOLE DE NAGOYA</strong></p>

<p style="font-size:20px;">Un cours de renforcement des capacités IDLO-SCBD, plusieurs dates disponibles en 2016</p>

<p>Les ressources génétiques sont les ingrédients bruts de l'innovation dans les domaines de la médecine, de la biotechnologie, des cosmétiques, de l'alimentation et des boissons, etc. Le Protocole de Nagoya est un accord mondial qui appelle au partage juste et équitable des avantages de l'utilisation des ressources génétiques entre ceux qui les utilisent et ceux qui les fournissent. Il vise à promouvoir la recherche et l'innovation sur les ressources génétiques tout en créant des incitations pour leur conservation et leur utilisation durable au profit du développement et du bien-être humain.</p>

<p>Suite à l'entrée en vigueur du Protocole de Nagoya en octobre 2014, de nombreux pays s'emploient désormais activement à rendre le Protocole opérationnel.&nbsp;L'un des premiers défis de la mise en œuvre du Protocole consiste à renforcer les capacités nécessaires pour permettre aux pays d'établir de nouvelles lois nationales sur l'APA ou de les amender, mesures administratives et Chaque pays devra définir sa propre approche adaptée à ses propres besoins et priorités. Chaque pays devra définir sa propre approche adaptée à ses propres besoins et priorités.</p>

<p>L'OIDD et le Secrétariat de la Convention sur la diversité biologique (SCBD), avec un financement du Fonds japonais pour la biodiversité, mettent en œuvre un programme&nbsp; conjoint de renforcement des capacités pour soutenir la mise en œuvre du Protocole de Nagoya. Ce cours couvre des thèmes clés et présente les dernières connaissances disponibles concernant la mise en place de mesures législatives, administratives et politiques nationales en matière d'APA. Il est conçu pour renforcer les capacités des avocats et des responsables politiques activement impliqués dans la conception et la mise en œuvre des cadres nationaux ou dans le conseil sur les processus nationaux de mise en œuvre du Protocole de Nagoya.</p>

<p>Le cours est composé de :</p>

<p>• Séances d'apprentissage en ligne préparatoires obligatoires de 4 semaines pour en savoir plus sur les concepts fondamentaux de l'APA et de la mise en œuvre du protocole&nbsp;</p>

<p>• Un atelier interactif en face-à-face de 5 jours avec des sessions de partage de connaissances entre pairs, pour développer des feuilles de route juridiques adaptées à la mise en œuvre et pour renforcer les compétences de facilitation et de communication&nbsp;</p>

<p>• Suivi de l'apprentissage entre pairs et du partage des connaissances par le biais d'un réseautage en ligne et d'un forum de discussion.</p>

<p style="font-size:20px;"><strong>Les manifestations d'intérêt sont acceptées jusqu'au 22 février 2016. Les candidats retenus seront informés avant le 28 mars. Les candidats sélectionnés</strong><strong style="font-size: 20px; line-height: 35.5556px;"> &nbsp;des pays en développement recevront un soutien financier pour couvrir les frais de voyage et d'hébergement.</strong></p>

<h3>Pièce jointe*</h3>
<div><i class="fa fa-file"></i> <a rel="noopener" translation-url  href="https://www.cbd.int/doc/abs/Course Description - IDLO-SCBD Legal Frameworks for Nagoya Protocol.pdf">Course Description - IDLO-SCBD Legal Frameworks for Nagoya Protocol.pdf (disponible en anglais)</a></div>
<div><i class="fa fa-file"></i> <a rel="noopener" translation-url  href="https://www.cbd.int/doc/abs/Application Form - IDLO-SCBD Legal Frameworks for Nagoya Protocol.docx">Application Form - IDLO-SCBD Legal Frameworks for Nagoya Protocol.docx (disponible en anglais)</a></div>


</div>  
</div>
</div>