<div ng-controller="DashboardController" class="register-content card card-1-notrans">

 <div class="register-content-header bg-darkgrey color-white">
      <div style="padding:10px 10px;">
        <h3>Dashboard <span class="helpinfoInline fa fa-info-circle" data-toggle="tooltip" data-html="true" data-title="Dashboard help info....goes here" data-container="body"></span></h3>
      </div>
  </div>
  <div class="register-content-content" >
       
         <div class="row" style="padding:0;margin:0 0 30px 0;" >
            <h4 style="padding:3px;margin-top:0;border-bottom:1px solid #ddd;">&nbsp; Welcome <span class="color-black bold">{{user.name}}</span></h4>
          
             <div class="col-md-12 cp-header">
                 

                  <table>
                    <tr>
                        <td><label>Name:</label></td>
                        <td><strong>{{user.name}}</strong></td>
                    </tr>
                    <tr>
                        <td><label>Primary email:</label></td>
                        <td><strong>{{user.email}}</strong></td>
                  </tr>
                   <tr ng-if="user.government">
                        <td><label>Country affiliation:</label></td>
                        <td><a href="/countries/{{user.government | uppercase}}"><strong>{{userCountry|term}}</strong></a></td>
                    </tr>
                    <tr>
                        <td><label>Role(s):</label></td>
                        <td>
                            
                           <span class="comma" ng-if="roles.isAbsNationalFocalPoint">
                            <strong>National ABS Focal Point </strong>
                            <span class="helpinfoInline fa fa-info-circle" data-toggle="tooltip" data-html="true" data-title="National ABS Focal Points are responsible for liason with the Secretariat as well as to designate themselves or another user as the Publishing Authority (PA) for the ABSCH." data-container="body"></span>
                            </span>
                            
                            <span class="comma"  ng-if="roles.isAbsPublishingAuthorities" ><strong>National Publishing Authority (PA)</strong>
                                <span class="helpinfoInline fa fa-info-circle " data-toggle="tooltip" data-html="true" data-title="Each country can designate only one PA for the ABSCH. The PA's job is to make information publically available on the ABSCH by verifing and publishing records.
                                PAs can also designate National Authorized Users (NAUs) who are allowed to submit draft records for their country." data-container="body"></span>
                            </span>
                            
                            <span  class="comma" ng-if="roles.isAbsNationalAuthorizedUser"><strong>National Authorized User</strong>
                                <span class="helpinfoInline fa fa-info-circle" data-toggle="tooltip" data-html="true" data-title="National ABS Focal Points have the responsiblity to designate themselves or another user as the Publishing Authority (PA) as well as be the liason with the Secretariat." data-container="body"></span>
                            </span>
                            
                            <span class="comma"  ng-if="roles.isUser"><strong>Regular User</strong>
                                <span  class="helpinfoInline fa fa-info-circle" data-toggle="tooltip" data-html="true" data-title="Regular users can create draft reference records and request their publication from the SCBD." data-container="body"></span>
                            </span>
                            
                            <span class="comma"  ng-if="roles.isAbsAdministrator"><strong class="color-pink">ABSCH Admin</strong>
                            </span>
                            
                            <span  class="comma" ng-if="roles.isAdministrator" ><strong class="color-pink">Admin</strong>
                            </span> 
                            
                          </td>
                    </tr>
                     <tr>
                        <td><label>Update profile:</label></td>
                        <td><a href="https://accounts.cbd.int/profile" target="_new"><strong>accounts.cbd.int/profile</strong></a></td>
                    </tr>
                    <tr>
                        <td><label>Update password:</label></td>
                        <td><a href="https://accounts.cbd.int/password" target="_new"><strong>accounts.cbd.int/password</strong></a></td>
                    </tr>
                    
                  </table>
                  
          
                  <dt ng-if="user.roles.indexOf(getRoleName('AbsAdministrator'))>=0" style="text-align:left;white-space:nowrap;">Current Realm</dt>
                  <dd ng-if="user.roles.indexOf(getRoleName('AbsAdministrator'))>=0"><span switch-realm></span></dd>
              </dl>
          </div>

          <!--<div class="col-md-6" style="margin-top:10px;margin-bottom:20px;" >
              <div class="box no-shadow thin-border" style="padding:10px;margin:0;">
                  <h4 style="padding-top;0;margin-top:0;">Manage your account with <a href="http://accounts.cbd.int" class="color-green bold">accounts.cbd.int</a></h4>
                  <ul style="padding:0 0 0 15px;">
                      <li><a href="#" ng-click="actionProfile()">Update your profile</a></li>
                      <li><a href="#" ng-click="actionPassword()" >Change your password</a></li>
                      <li><a href="#" ng-click="actionSignOut()" >Sign out</a></li>
                      <li> <strong>Need Help? Contact us: <a href="mailto:absch@cbd.int" class="color-blue">absch@cbd.int</a></strong></li>
                  </ul>
              </div>
          </div>-->
      </div>
    
      <record-overview></record-overview>
       
      
  </div>
</div> <!-- controller -->
