<div id="RegisterPage">
    <link href="/app/css/register.css" rel="stylesheet">
    <link href="/app/css/record.css" rel="stylesheet">
    <style>
        .popover {
            margin-top: 3px;
            background-color: #d9534f !important;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, .2);
        }

        .popover.right>.arrow {
            border-right-color: #999;
            border-right-color: rgba(0, 0, 0, .25);
        }

        .popover.right>.arrow:after {
            border-right-color: #d9534f;
        }
        .cursor{
            cursor: pointer;
        }
        .overview>tbody>tr>td{
            padding:3px!important;
            border:0;
        }
        
    </style>
    <span register-top-menu></span>

    <div class="register-content card card-1-notrans">
        <div class="register-content-header bg-darkgrey color-white">
            <div style="padding:10px 10px;">
                <h3>Dashboard
                    <span class="helpinfoInline">
                        <i class="fa fa-info-circle helpicon pull-right" ng-click="showInfo = !showInfo"></i>
                    </span>
                </h3>

                <!--help info---------------------------->
                <div ng-if="showInfo" class="well well-help">
                    <div ng-if="user.government">
                        The Dashbaord allows registered ABS-CH users to find information about your CH account, your role and permissions in the
                        ABS-CH. Here you can also update your profile or change your password. This page also provides an
                        overview of all the records prepared by the authorized users of your country and their different
                        status: published, drafts and pending requests. Click on the category of record you wish to view
                        for more details or add a new record.
                        <br>
                        <br> Upon request a training site is also available to help ABS-CH users familiarize themselves with
                        the functioning of the ABS-CH without altering the content of the official ABS-CH.
                    </div>
                    <div ng-if="!user.government">
                        The Dashbaord allows registered ABS-CH users to find information about your CH account, your role and permissions in the
                        ABS-CH. Here you can also update your profile or change your password. This page also provides an
                        overview of all your records their different status: published, drafts and pending requests. Click
                        on the category of record you wish to view for more details or add a new record. Upon request a training
                        site is also available to help ABS-CH users familiarize themselves with the functioning of the ABS-CH
                        without altering the content of the official ABS-CH.
                    </div>

                </div>

            </div>
        </div>
        <div class="register-content-content">
            <div class="row well" style="margin:0 0 30px 0">
                <h4 style="padding-bottom:3px;margin-top:0;border-bottom:1px solid #ddd;">
                        <span class="hidden-xs">Welcome </span> 
                        <span class="color-black bold">{{user.name}}
                        <span ng-if="roles.isAbsPublishingAuthority" style="font-weight: normal;"> (Publishing Authority)</span>
                        <span ng-if="roles.isAbsNationalAuthorizedUser" style="font-weight: normal;"> (Authorized User)</span>
                </span>
                    <span class="pull-right"> <span style="color:#999; cursor: pointer;" class="hidden-xs" ng-click="showProfileInfo=!showProfileInfo"> 
                        view profile information </span> 
                        <i class="pull-right fa fa-chevron-circle-down cursor" ng-show="!showProfileInfo" aria-hidden="true" ng-click="showProfileInfo=true"></i>
                        <i class="pull-right fa fa-chevron-circle-up cursor"   ng-show="showProfileInfo" aria-hidden="true" ng-click="showProfileInfo=false"></i>
                    </span>
                </h4>
                <div class="row" ng-if="showProfileInfo">
                    <div class="col-md-6 cp-header">
                        <table>
                            <tr>
                                <td>
                                    <label>Name:</label>
                                </td>
                                <td>
                                    <strong>{{user.name}}</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Primary email:</label>
                                </td>
                                <td>
                                    <strong>{{user.email}}</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Country affiliation:</label>
                                </td>
                                <td ng-if="user.government">
                                    <a translation-url href="/countries/{{user.government | uppercase}}">
                                        <strong>{{userCountry|term}}</strong>
                                    </a>
                                </td>
                                <td ng-if="!user.government">
                                    <strong>none</strong>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6 cp-header">
                        <table>
                            <td>
                                <label>Role(s):</label>
                            </td>
                            <td>
                                <span class="comma" ng-if="roles.isAbsNationalFocalPoint">
                                    <strong>ABS National Focal Point </strong>
                                    <span class="helpinfoInline fa fa-info-circle" data-toggle="tooltip" data-html="true" data-title="The ABS National Focal Point is responsible for liason with the Secretariat as well as to designate themselves or another user as the Publishing Authority (PA) for the ABSCH."
                                        data-container="body"></span>
                                </span>

                                <span class="comma" ng-if="roles.isAbsPublishingAuthority">
                                    <strong>National Publishing Authority (PA)</strong>
                                    <span class="helpinfoInline fa fa-info-circle " data-toggle="tooltip" data-html="true" data-title="Each country can designate only one PA for the ABSCH. The PA's job is to make information publically available on the ABSCH by verifing and publishing records.
                                    PAs can also designate National Authorized Users (NAUs) who are allowed to submit draft records for their country."
                                        data-container="body"></span>
                                </span>

                                <span class="comma" ng-if="roles.isAbsNationalAuthorizedUser">
                                    <strong>National Authorized User (NAU)</strong>
                                    <span class="helpinfoInline fa fa-info-circle" data-toggle="tooltip" data-html="true" data-title="The ABS National Focal Point has the responsiblity to designate themselves or another user as the Publishing Authority (PA) as well as be the liason with the Secretariat."
                                        data-container="body"></span>
                                </span>

                                <span class="comma" ng-if="roles.isUser">
                                    <strong>Registered User</strong>
                                    <span class="helpinfoInline fa fa-info-circle" data-toggle="tooltip" data-html="true" data-title="Regular users can create draft reference records and request their publication from the SCBD."
                                        data-container="body"></span>
                                </span>

                                <span class="comma" ng-if="roles.isAbsAdministrator">
                                    <strong class="color-pink">ABSCH Admin</strong>
                                </span>

                                <span class="comma" ng-if="roles.isAdministrator">
                                    <strong class="color-pink">Admin</strong>
                                </span>

                            </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Update profile:</label>
                                </td>
                                <td>
                                    <a translation-url href="https://accounts.cbd.int/profile" target="_new">
                                        <strong>accounts.cbd.int/profile</strong>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Update password:</label>
                                </td>
                                <td>
                                    <a translation-url href="https://accounts.cbd.int/password" target="_new">
                                        <strong>accounts.cbd.int/password</strong>
                                    </a>
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>         

            <top-requests ng-if="roles.isAbsNationalFocalPoint || roles.isAbsPublishingAuthority || roles.isAbsAdministrator || roles.isAdministrator" filter="workingDocumentLock/lockedOn ne null" title="Your pending requests" top="3" view-all-url="/register/pending-requests"></top-requests>
            
            <div id="SubmitPage">
                <h4 class="visible-xs" style="padding:3px;margin-top:0;border-bottom:1px solid #ddd;">
                    Record overview
                    <div class="row bg-white hidden-xs" style="font-size:12px;padding:5x 0;margin:0;">
                        <span class="pull-right">
                            <span class="label label-danger">&nbsp;</span> Requests</span>
                        <span class="pull-right">&nbsp;&nbsp;
                            <span class="label label-default">&nbsp;</span> Draft records&nbsp;&nbsp;</span>
                        <span class="pull-right">
                            <span class="label label-success">&nbsp;</span> Published records</span>
                    </div>
                </h4>

                <div class="row hidden-xs" style="padding:0;margin:0 0 10px 0;border-bottom:1px solid #ddd;">
                    <div>
                        <h4 style="padding:0;margin:0;">Record overview</h4>
                    </div>

                </div>

                <div id="menuPlaceholder" ng-if="roles.isUser">
                    <div class="row  bg-grey" style="padding:0;margin:0 0 5px 0;">
                            <table class="overview table" style="width:100%;">
                                    <thead></thead>
                                    <tbody>
                                    <tr>
                                        <td style="min-width:250px;" class="bold">&nbsp; Contacts (People and Organizations) 
                                                <span href="#" class="helpinfoInline fa fa-info-circle color-litegrey" data-toggle="tooltip" data-html="true" data-title="Published contacts (a person or organization) can be referenced in other records. However, 
                                                contacts can not be created from others records.
                                                You will need to have your contacts published before they are available to be included in other records."
                                                data-container="body"></span>
                                        </td>
                                        <td style="width:7%;font-size: 12px;" class="hidden-xs text-center bold"> <span class="label label-success"></span> Published</td>
                                        <td style="width:7%;font-size: 12px;" class="hidden-xs text-center bold"> <span class="label label-default"></span> Drafts</div></td>
                                        <td style="width:7%;font-size: 12px;" class="hidden-xs text-center bold"> <span class="label label-danger"></span> Requests</div></td>
                                    </tr>
                                    </tbody>
                                </table> 
                    </div>

                    <table class="overview table" style="width:100%;">
                            <thead></thead>
                            <tbody>
                            <tr>
                                <td style="width:70px;"> 
                                        <div class="btn-group btn-group-xs" style="width:70px;" role="group" >
                                                <button type="button" class="btn btn-xs btn-default" ng-click="showTopRecords($event,'contact')">
                                                        <i class="fa fa-chevron-circle-down cursor" ng-class="{'fa-chevron-circle-down':!topRecords['contact'], 'fa-chevron-circle-up':topRecords['contact']}"
                                                        aria-hidden="true"></i>
                                                <button type="button" class="btn btn-xs btn-default" ng-click="gotoNew($event,'contact')"><i class="fa fa-plus"></i></button>
                                                <button type="button" class="btn btn-xs btn-default" ng-click="gotoList($event,'contact')"><i class="fa fa-list"></i></button>
                                        </div>
                                </td>
                                <td style="min-width:180px!important;">
                                     <a translation-url href="#" ng-click="gotoList($event,'contact')" class="color-darkgrey" style="font-weight:500;">
                                                Contacts (CON)</a>
                                </td>
                                <td  style="width:7%;" class="text-center"><a translation-url ng-href="/register/CON/status/published" class="label label-success" ng-class="{'bg-litegrey': facets('contact','publish')===0}">{{facets('contact','publish')}}</a>  </td>

                                <td   style="width:7%;" class="text-center"><a translation-url ng-href="/register/CON/status/drafts" class="label label-default" ng-class="{'bg-litegrey': Math.max(0, facets('contact','draft') - facets('contact','request'))===0}">{{Math.max(0, facets('contact','draft') - facets('contact','request'))}}</a> </td>

                                <td  style="width:7%;" class="text-center"><a translation-url ng-href="/register/CON/status/requests" class="label label-danger" ng-class="{'bg-litegrey': facets('contact','request')===0}">{{facets('contact','request')}}</a></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div ng-if="topRecords['contact']" style="position: relative;top:-5px;">
                            <top-records schema="contact" top="10" style="padding-top:5px;" show-schema-name="false"></top-records>
                        </div>
                </div>

                <div id="menuPlaceholder" ng-if="isNationalUser">

                    <div class="row  bg-grey" style="padding:0;margin:20px 0 5px 0;">
                        <div class="bold">
                            <span class="color-blue">&nbsp; National records</span>
                            <span href="#" class="helpinfoInline fa fa-info-circle color-litegrey" data-toggle="tooltip" data-html="true" data-title="National records contain information that is typically required to be reported as part of a Party’s obligations under the Nagoya
                                Protocol on Access and Benefit-sharing and must be validated by the ABS-CH Publishing Authority prior to being made available in the ABS Clearing-House."
                                data-container="body"></span>
                        </div>
                    </div>

                    <div ng-repeat="schema in nationalSchemas">                    
                        <table class="overview table table-hover" style="width:100%;">
                            <thead></thead>
                            <tbody>
                            <tr>
                                <td style="width:70px;"> 
                                        <div class="btn-group btn-group-xs" style="width:70px;" role="group" >
                                                <button type="button" class="btn btn-xs btn-default" ng-click="showTopRecords($event,schema)">
                                                        <i class="fa fa-chevron-circle-down cursor" ng-class="{'fa-chevron-circle-down':!topRecords[schema], 'fa-chevron-circle-up':topRecords[schema]}"
                                                        aria-hidden="true"></i>
                                                <button type="button" class="btn btn-xs btn-default" ng-click="gotoNew($event,schema)"><i class="fa fa-plus"></i></button>
                                                <button type="button" class="btn btn-xs btn-default" ng-click="gotoList($event,schema)"><i class="fa fa-list"></i></button>
                                        </div>
                                </td>
                                <td style="min-width:180px!important;">
                                     <a translation-url href="#" ng-click="gotoList($event,schema)" class="color-darkgrey" style="font-weight:500;">
                                            {{schema|schemaName}} ({{schema|urlSchemaShortName}})</a>
                                </td>
                                <td style="width:7%;" class="text-center"><a translation-url ng-href="/register/{{schema|urlSchemaShortName}}/status/published" class="label label-success" ng-class="{'bg-litegrey': facets(schema,'publish')===0}">{{facets(schema,'publish')}}</a>  </td>

                                <td style="width:7%;" class="text-center"><a translation-url ng-href="/register/{{schema|urlSchemaShortName}}/status/drafts" class="label label-default" ng-class="{'bg-litegrey': Math.max(0, facets(schema,'draft') - facets(schema,'request'))===0}">{{Math.max(0, facets(schema,'draft') - facets(schema,'request'))}}</a> </td>

                                <td style="width:7%;" class="text-center"><a translation-url ng-href="/register/{{schema|urlSchemaShortName}}/status/requests" class="label label-danger" ng-class="{'bg-litegrey': facets(schema,'request')===0}">{{facets(schema,'request')}}</a></div>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                        <div ng-if="topRecords[schema]" style="width:100%">
                            <top-records schema="{{schema}}" top="10" style="padding-top:5px;" show-schema-name="false"></top-records>
                        </div>
                    </div>

                </div>

                <div class="row  bg-grey" style="padding:0;margin:20px 0 5px 0;">
                    <div class="bold">
                        <span class="color-orange">&nbsp; Reference records</span>
                        <span href="#" class="helpinfoInline fa fa-info-circle color-litegrey" data-toggle="tooltip" data-html="true" data-title="Reference records contain information relevant to the Protocol (but not reported as part of a Party’s obligations under the
                  Protocol). This information can be made available to the ABS Clearing-House by any registered user
                  (including representatives of Governments, indigenous and local communities, academia, nongovernmental organizations, research
                  institutions, business representatives, etc.). All reference records are validated by the Secretariat prior to being made available in the ABS
                  Clearing-House." data-container="body"></span>
                    </div>
                </div>

                <div ng-repeat="schema in referenceSchemas">                    
                        <table class="overview table table-hover" style="width:100%;">
                            <thead></thead>
                            <tbody>
                            <tr>
                                <td style="width:70px;"> 
                                        <div class="btn-group btn-group-xs" style="width:70px;" role="group" >
                                                <button type="button" class="btn btn-xs btn-default" ng-click="showTopRecords($event,schema)">
                                                        <i class="fa fa-chevron-circle-down cursor" ng-class="{'fa-chevron-circle-down':!topRecords[schema], 'fa-chevron-circle-up':topRecords[schema]}"
                                                        aria-hidden="true"></i>
                                                <button type="button" class="btn btn-xs btn-default" ng-click="gotoNew($event,schema)"><i class="fa fa-plus"></i></button>
                                                <button type="button" class="btn btn-xs btn-default" ng-click="gotoList($event,schema)"><i class="fa fa-list"></i></button>
                                        </div>
                                </td>
                                <td style="min-width:180px!important;">
                                     <a translation-url href="#" ng-click="gotoList($event,schema)" class="color-darkgrey" style="font-weight:500;">
                                            {{schema|schemaName}} ({{schema|urlSchemaShortName}})</a>
                                </td>
                                <td style="width:7%;" class="text-center"><a translation-url ng-href="/register/{{schema|urlSchemaShortName}}/status/published" class="label label-success" ng-class="{'bg-litegrey': facets(schema,'publish')===0}">{{facets(schema,'publish')}}</a>  </td>

                                <td style="width:7%;" class="text-center"><a translation-url ng-href="/register/{{schema|urlSchemaShortName}}/status/drafts" class="label label-default" ng-class="{'bg-litegrey': Math.max(0, facets(schema,'draft') - facets(schema,'request'))===0}">{{Math.max(0, facets(schema,'draft') - facets(schema,'request'))}}</a> </td>

                                <td style="width:7%;" class="text-center"><a translation-url ng-href="/register/{{schema|urlSchemaShortName}}/status/requests" class="label label-danger" ng-class="{'bg-litegrey': facets(schema,'request')===0}">{{facets(schema,'request')}}</a></div>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                        <div ng-if="topRecords[schema]" style="width:100%">
                            <top-records schema="{{schema}}" top="10" style="padding-top:5px;" show-schema-name="false"></top-records>
                        </div>
                    </div>

            </div>

        </div>
    </div>
</div>
<!-- controller -->
