<div ng-controller="NotificationsController" class="register-content card card-1-notrans">

 <div class="register-content-header bg-darkgrey color-white">
      <div style="padding:10px 10px;">
        <h3>Notifications <span class="helpinfoInline fa fa-info-circle" data-toggle="tooltip" data-html="true" data-title="Dashboard help info....goes here" data-container="body"></span></h3>
      </div>
  </div>
  <div class="register-content-content" >
         <xuser-notifications-panel></xuser-notifications-panel>
  </div>
</div> <!-- controller -->
