<div ng-controller="NotificationsController" class="register-content card card-1-notrans">

 <div class="register-content-header bg-darkgrey color-white">
      <div style="padding:10px 10px;">
        <h3>Requests & Notifications 
            <span class="helpinfoInline">
                <i class="fa fa-info-circle helpicon pull-right" ng-click="showInfo = !showInfo"></i> 
            </span>
        </h3>
        
        <!--help info---------------------------->
         <div ng-if="showInfo" class="well well-help" >
             Requests & Notifications  help...
         </div>
            
      </div>
  </div>
  <div class="register-content-content" >
         <xuser-notifications-panel></xuser-notifications-panel>
  </div>
</div> <!-- controller -->
