.info-header-links {
  line-height: 30px;
  font-family: Tahoma;
  font-weight: 700;
  color: #0a4527;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #ddd;
  padding-left: 10px;
}
.info-links {
  padding-top: 4px;
  padding-bottom: 4px;
  background: #edece8;
  padding-left: 10px;
  border-top: 4px solid #fff;
  font-family: Tahoma;
  cursor: pointer;
}
.info-links a {
  color: #999;
}
.head-bar {
  padding-right: 4px;
  border-top: #6a6c99 1px solid;
  padding-left: 4px;
  font-weight: bold;
  padding-bottom: 1px;
  padding-top: 1px;
  border-bottom: #6a6c99 1px solid;
  font-family: Verdana;
  background-color: whitesmoke;
}
.tableHeaderTop {
  padding-bottom: 15px !important;
  padding-top: 15px !important;
  border-bottom: 1px solid #6a6c99 !important;
}

.card.sub-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.display-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3%;
  padding: 10px 0px 10px 0px;
}
.registry-summary-title {
  font-weight: 700;
  padding: 12px;
  background-color: #ffff;
}
.registry-summary-description {
  background-color: #ffff;
  line-height: 1.5;
  padding: 10px;
  min-height: 230px;
}
.end-card {
  margin-left: 10px;
  display: flow-root;
}
.end-card h4 {
  float: left;
}
.end-card p {
  float: right;
  margin: 8px;
}
.panel-default p {
  padding: 10px 10px 0px 10px;
}
.panel-default .panel-heading {
  background-color: #666;
}
.panel-default .panel-heading h2 {
  color: #ffffff;
}
.container-sections {
  background-color: #ffffff;
  display: inline-flex;
}
.container-sections table {
  width: 230px;
  margin-right: 5px;
}
.register-content-header > div {
  padding: 1px 10px;
}
.export-button {
  text-transform: uppercase;
  padding: 0px 5px 5px 0px;
  float: right;
}
