.info-header-links {
  line-height: 30px;
  font-family: Tahoma;
  font-size: 13pt;
  font-weight: 700;
  color: #0a4527;
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #ddd;
  padding-left: 10px;
}
.info-links {
  vertical-align: top;
  line-height: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #edece8;
  padding-left: 10px;
  border-top: 4px solid #fff;
  color: #496610;
  font-family: Tahoma;
  font-size: 11pt;
  text-decoration: none;
  cursor: pointer;
}
.head-bar {
  padding-right: 4px;
  border-top: #6a6c99 1px solid;
  padding-left: 4px;
  font-weight: bold;
  font-size: 11px;
  padding-bottom: 1px;
  padding-top: 1px;
  border-bottom: #6a6c99 1px solid;
  font-family: Verdana;
  background-color: whitesmoke;
}
.tableHeaderTop {
  padding-bottom: 15px !important;
  padding-top: 15px !important;
  border-bottom: 1px solid #6a6c99 !important;
}

.card.sub-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.display-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3%;
  padding: 10px 0px 10px 0px;
}
.registry-summary-title {font-weight: 700;padding: 12px;background-color : #ffff;}
.registry-summary-description {
  background-color: #ffff;
  line-height: 1.5;
  padding: 10px;
  min-height: 200px;
}
.end-card {
  margin-left:10px;display: flow-root;
}
.end-card h4 {float: left;}
.end-card p {float: right;margin: 8px;}
