<div id="Record" class="record panel panel-default" >

        <div class="panel-heading bg-blue" ng-show="display('header')">
            <h4><span><span ng-bind="schema.title|lstring:locale"></span> <span class="color-black">(<span ng-bind="schema.shortCode"></span>)</span></span></h4>	
        </div>
    
        <div class="record-body panel-body" help schema="ViewCP" >
            
            <document-date></document-date>
    
            <legend ng-if="document.government || document.name">Información general</legend>
    
            <div ng-show="document.government">
                <label name="country">País</label>
                <div class="km-value" compare-val><a rel="noopener" ng-href="countries/{{document.government.identifier|uppercase|encodeURIComponent}}" target="{{target}}" ng-bind="document.government|term:locale"></a></div>
            </div>
    
            <legend>Información general</legend>
             <div ng-show="document.title">
                 <label>Título</label>
                 <div class="km-value" compare-val><strong><span ng-bind="document.title | lstring:locale"></span></strong></div>
             </div>
             <div ng-show="document.description">
                <label>Resumen</label>
                 <div compare-val>
                <km-value-ml value="document.description" locales="locale" km-pre html></km-value-ml>
                 </div>
            </div>
            <div ng-show="document.jurisdiction">
                <label>Zona de jurisdicción</label>
                <div class="km-value" compare-val><span ng-bind="document.jurisdiction|term"></span></div>
            </div>
    
            <div ng-show="document.relevantMeasures">
                <label>Medida(s) pertinentes en materia de APB</label>
                <div compare-val>
                <div class="km-value" ng-repeat="measure in document.relevantMeasures">
                    <div view-record-reference ng-model="measure.identifier" locale="locale"></div>
                </div>
                </div>
            </div>
    
            <div ng-show="document.keywords">
                <label>Palabras clave</label>
                <div class="km-value" compare-val>
                    <ul class="list">
                        <li ng-repeat="term in document.keywords"><span ng-bind="term | term:locale"></span></li>
                    </ul>
                </div>
            </div>
    
            <div ng-show="document.keywords">
                <label>Área(s) temática(s)</label>
                <div class="km-value" compare-val>
                    <ul class="list">
                      <li ng-repeat="term in document.thematicAreas"><span ng-bind="term | term:locale"></span></li>
                    </ul>
                </div>
            </div>
            <div ng-show="document.relevantInformation||document.relevantDocuments">
                <legend>Archivos, documentos o recursos adjuntos</legend>
    
                <div ng-show="document.relevantInformation">
                        <label>Información adicional</label>
                    <div compare-val>
                    <km-value-ml value="document.relevantInformation" locales="locale" km-pre html></km-value-ml>
                    </div>
                </div>
    
                <div ng-show="document.relevantDocuments">
                        <label>Enlaces o archivos o documentos adjuntos</label>
                    <div class="km-value" compare-val="relevantDocuments">
                        <km-link-list ng-model="document.relevantDocuments"></km-link-list>
                    </div>
                </div>
            </div>
			<div>
				<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>
			</div>
    
        </div>
        
         <div document-metadata class="panel-footer"></div>
    
    </div>
