<div id="Record" class="record panel panel-default" >

	<div class="panel-heading bg-blue" ng-show="display('header')">
		<h4><span ng-bind="::document.header.schema|schemaName"></span> <span class="color-black">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span></h4>	
	</div>

	<div class="record-body panel-body" help schema="ViewCP" >

		
			<document-date></document-date>

		 <div name="article17-1-a"></div>

		<legend ng-if="document.government || document.name">Información general</legend>

		<div ng-show="document.government">
			<label name="country">País</label>
			<div class="km-value" compare-val><a rel="noopener" ng-href="countries/{{document.government.identifier|uppercase|encodeURIComponent}}" target="{{target}}" ng-bind="document.government|term:locale"></a></div>
		</div>

		 <div ng-show="display('title') && document.name">
		 <label>Nombre del punto de verificación</label>
		 	<div class="km-value" compare-val><strong><span ng-bind="document.name | lstring:locale"></span></strong></div>
		 </div>



		<div ng-show="document.responsibilities || document.jurisdiction ||
			document.jurisdictionName || document.responsibleFunctions || document.valueChainStage">
			<legend name="Responsibilities">Responsabilidades del punto de verificación</legend><!-- <div ng-show="document.responsibleFunctions">
				<label>Responsible functions</label>
				<div  class="km-value" compare-val>
					<view-terms-hierarchy  ng-model="document.responsibleFunctions" locale="locale"
						term-domain="responsibleFunctions" on-terms-loaded="onResponsibleFunctionsTerms(terms)"></view-terms-hierarchy>
				</div>
			</div> --><div ng-if="document.valueChainStage">
				<label>Etapa en la que se recopila o recoge la información</label>
				<div compare-val>
					<div class="km-value" ng-bind="document.valueChainStage | term:locale"></div>
				</div>
			</div>

			<div ng-show="document.responsibilities"><!--<label>Short description of responsibilities</label>--><div compare-val="responsibilities">
				<div class="km-value km-pre" ng-bind-html="document.responsibilities|lstring:locale"></div>
				</div>
			</div>
			<div ng-show="document.jurisdiction">
				<label>Zona de jurisdicción</label>
				<div class="km-value" compare-val>
					<ul class="list">
						<li><span ng-bind="document.jurisdiction|term"></span> <span ng-if="isSubNational() ||isCommunity() || isOthers()">(<span ng-bind="document.jurisdictionName | lstring:locale"></span>)</span></li>
					</ul>
				</div>
			</div><!-- <div  ng-show="document.inquiryContact">
				<label>Contact information for inquires related to the information gathered or the functioning of this checkpoint</label>
				<div compare-val="inquiryContact">
					<div class="km-value"  ng-repeat="contact in document.inquiryContact" >
						<span view-record-reference ng-model="contact" locale="locale"></span>
					</div>
				</div>
			</div> --> <!--<div ng-show="document.jurisdictionName">
				<label ng-show="isSubNational()">Name of the sub-national jurisdiction</label>
				<label ng-show="isCommunity()">Name of the community jurisdiction</label>
				<label ng-show="isOthers()">Other jurisdiction</label>
				<div class="km-value">{{document.jurisdictionName | lstring:locale}}</div>
			</div>--></div>

		<div ng-if="document.informAllAuthorities || document.contactsToInform" >
			<legend>Autoridad(es) para recibir las copias de cortesía de los comunicados del punto de verificación</legend>

			<div class="help-info" style="padding-top:10px;">Los contactos indicados a continuación recibirán copias por correo electrónico de los comunicados del punto de verificación que contengan información recopilada o recibida y publicada originada en ese punto de verificación.</div>
			<div class="km-value" ng-show="document.informAllAuthorities">Todas las autoridades nacionales competentes <strong><span ng-bind="document.government|term:locale"></span></strong> han sido seleccionadas para recibir automáticamente por correo electrónico los comunicados del punto de verificación publicados que se hayan originado en dicho punto de verificación.</li>

			</div>
			       
			
			<div  ng-show="document.contactsToInform">
				<div compare-val="contactsToInform">
					<div class="km-value"  ng-repeat="authority in document.contactsToInform" ><span view-record-reference ng-model="authority" locale="locale"></span></div>
				</div>
				</div><!--<div ng-show="document.contactsToInform" class="row">
				<div ng-repeat="contact in document.contactsToInform">
					<div class="col-xs-12">
						<div view-record-reference ng-model="contact" locale="locale" class="well"></div>
					</div>
				</div>
			</div>--><div compare-val>
			<div class="km-value" ng-show="!document.informAllAuthorities && !document.authoritiesToInform && !document.contactsToInform"><span >No se han seleccionado autoridades adicionales para recibir las copias automáticas por correo electrónico de los comunicados del punto de verificación publicados por dicho punto de verificación.</span></div>
			</div>
		</div>

		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>Información adicional</legend>

			<div ng-show="document.relevantInformation">
				<div compare-val="relevantInformation">
				<div class="km-value" ng-bind-html="document.relevantInformation | lstring:locale"></div>
				</div>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>Otros enlaces o documentos adjuntos pertinentes</label>
				<div class="km-value" compare-val="relevantDocuments">
					<km-link-list ng-model="document.relevantDocuments"></km-link-list>
				</div>
			</div>
		</div>
		<div>
			<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>
		</div>
	</div>
	
	 <div document-metadata class="panel-footer"></div>

</div>
