<div>

    <div name="lblGroup" style="border-bottom:1px solid #ddd;padding:0 0 10px 0;">
        <input type="checkbox" ng-model="groupby">
        <span class="filter-text bold" ng-click="groupby=!groupby" style="cursor:pointer;" ng-class="{'notSelected': groupby==false}">Group results by country </span>
    </div>


    <!--<div style="padding-bottom:10px;">
        <div style="color:#333;font-size:11px;font-weight:bold;margin-right:0;padding-bottom:10px;padding-top:12px;">Filter by keyword</div>
        <input ng-model="keyword" placeholder="keyword" style="width:100%;border:0;border-bottom:1px solid #ddd;">
    </div>

    <div class="btn-group" style="width:100%;padding:0;margin:0;">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        style="width:100%;border:0;border-bottom:1px solid #DDD;border-radius:0;text-align:left;padding:0;margin:0;">
            <div style="font-size:11px;color:#333;font-weight:bold;padding:0 0 10px 0;margin:0;">Filter by Party status </div>
            <div ng-show="!partyStatus" style="color:#AAA;font-weight:bold;padding:0;margin:0;">Select Party status <span class="pull-right"><i class="caret"></i></span></div>
            <div ng-show="partyStatus">

                <div style="padding-left:3px;margin-right:0;">
                    <span ng-show="partyStatus=='parties'"> <i class="fa fa-square color-blue" ></i> Parties </span>
                    <span ng-show="partyStatus=='nonParties'"> <i class="fa fa-square color-grey" ></i> Non-Parties</span>
                    <span class="pull-right"><i class="caret color-darkgrey"></i></span>
                </div>
            </div>
        </button>
        <ul class="dropdown-menu ddm">
            <li><a href="#" ng-click="partyStatus='';queryStatus()">Both Parties and Non-Parties</a></li>
            <li>
                <a href="#" ng-click="partyStatus='parties';queryStatus('parties')"> <i class="fa fa-square color-blue"></i> Parties to the Nagoya Protocol </a>
            </li>
            <li>
                <a href="#" ng-click="partyStatus='nonParties';queryStatus('nonParties')"> <i class="fa fa-square color-grey"></i> Non-Parties to the Nagoya Protocol</a>
            </li>
        </ul>
    </div>

    <div style="padding-bottom:0px;border-bottom:1px solid #ddd;margin:0;">
        <div style="color:#333;font-size:11px;font-weight:bold;margin-right:0;padding-bottom:10px;padding-top:12px;">Filter by countries</div>
        <a href="" data-toggle="modal" data-target="#countryModal" style="font-weight:bold;color:#AAA;margin-top:15px;padding-left:3px;">Select countries  <span class="pull-right"><i class="caret"></i></span></a>

    </div>
    <div style="padding-bottom:0px;border-bottom:1px solid #ddd;margin:0;">
        <div style="color:#333;font-size:11px;font-weight:bold;margin-right:0;padding-bottom:10px;padding-top:12px;">Filter by regions</div>
        <a href="" ng-click="$parent.loadRegions=true;" data-toggle="modal" data-target="#regionModal" style="font-weight:bold;color:#AAA;margin-top:15px;padding-left:3px;">Select regions <span class="pull-right"><i class="caret"></i></span></a>

    </div>-->


    <div style="color:#333;font-size:11px;font-weight:bold;margin-right:0;padding-bottom:10px;padding-top:12px;">Filter by record type</div>
    <div ng-class="{'check_active': focalPoint.selected}" style="padding:5px 0;border-bottom:1px solid #ddd;">
        <div layout="row">
            <div>
                <input type="checkbox" ng-model="focalPoint.selected" ng-change="refresh(focalPoint.selected,'focalPoint')">
            </div>
            <div flex style="padding:0 3px 0 3px;"> <span class="filter-text bold" ng-class="{'notSelected': focalPoint.selected==false}"> National Focal Points </span></div>
            <div> <span class="badge badge-white pull-right">{{focalPoint.count}}</span></div>
        </div>
        <div ng-show="focalPoint.selected" class="subfilters-section" style="padding-top:10px;padding-bottom:5px;margin-left:15px;">
            <input type="checkbox" ng-model="focalPointNP" ng-change="refresh(focalPointNP.selected,'focalPoint')" id="ckfocalPointNP"> <span class="filter-text">ABS National Focal Points</span></br>
            <input type="checkbox" ng-model="focalPointCBD" ng-change="refresh(focalPointCBD.selected,'focalPoint')" id="ckfocalPointCBD"> <span class="filter-text">CBD Focal Points</span></br>
        </div>
    </div>

    <div ng-class="{'check_active': authority.selected}" style="padding:5px 0;border-bottom:1px solid #ddd;">
        <div layout="row">
            <div>
                <input type="checkbox" ng-model="authority.selected" ng-change="refresh(authority.selected,'authority')">
            </div>
            <div flex style="padding:0 3px 0 3px;"> <span class="filter-text bold" ng-class="{'notSelected': authority.selected==false}"> Competent National Authorities </span></div>
            <div> <span class="badge badge-white pull-right">{{authority.count}}</span></div>
        </div>
        <div ng-show="authority.selected" class="subfilters-section" style="padding-top:10px;padding-bottom:5px;margin-left:0px;">
            <div km-select class="filter-btn" multiple api="cnaJurisdictionApi" ng-model="cnaJurisdiction" binding-type="string" placeholder="Jurisdictions"
            items="options.cnaJurisdictions()"></div>
            <br>
            <div km-select class="filter-btn" multiple api="cnaGeneticResourceTypesApi" ng-model="cnaGeneticResourceTypes" binding-type="string"
            placeholder="Scope of Responsibilities" items="options.absGeneticResourceTypes()"></div>
        </div>
    </div>

    <div ng-class="{'check_active': measure.selected}" style="padding:5px 0;border-bottom:1px solid #ddd;">
        <div layout="row">
            <div>
                <input type="checkbox" ng-model="measure.selected"  ng-change="refresh(measure.selected,'measure')">
            </div>
            <div flex style="padding:0 3px 0 3px;"> <span class="filter-text bold" ng-class="{'notSelected': measure.selected==false}">Legislative, administrative or policy measures </span></div>
            <div> <span class="badge badge-white pull-right">{{measure.count}}</span></div>
        </div>
        <div ng-show="measure.selected" class="subfilters-section" style="padding-top:10px;padding-bottom:5px;">
            <div km-select class="filter-btn" multiple api="msrJurisdictionApi" ng-model="msrJurisdiction" binding-type="string" placeholder="Jurisdictions"
            items="options.jurisdiction()"></div>
            <br>
            <div km-select class="filter-btn" multiple api="msrStatusApi" ng-model="msrStatus" binding-type="string" placeholder="Status"
            items="options.status()"></div>
            <br>
            <div km-select class="filter-btn" multiple api="msrTypeApi" ng-model="msrType" binding-type="string" placeholder="Types"
            items="options.typeOfDocuments()"></div>
        </div>
    </div>



    <div ng-class="{'check_active': database.selected}" style="padding:5px 0;border-bottom:1px solid #ddd;">
        <div layout="row">
            <div>
                <input type="checkbox" ng-model="database.selected" ng-change="refresh(database.selected,'database')">
            </div>
            <div flex style="padding:0 3px 0 3px;"> <span class="filter-text bold" ng-class="{'notSelected': database.selected==false}"> National Websites and Databases </span></div>
            <div> <span class="badge badge-white pull-right">{{database.count}}</span></div>
        </div>
    </div>


    <div ng-class="{'check_active': absPermit.selected}" style="padding:5px 0;border-bottom:1px solid #ddd;">
        <div layout="row">
            <div>
                <input type="checkbox" ng-model="absPermit.selected"  ng-change="refresh(absPermit.selected,'absPermit')">
            </div>
            <div flex style="padding:0 3px 0 3px;"> <span class="filter-text bold" ng-class="{'notSelected': absPermit.selected==false}"> Internationally Recognized Certificate of Compliance </span></div>
            <div> <span class="badge badge-white pull-right">{{absPermit.count}}</span></div>
        </div>
        <div ng-show="absPermit.selected" class="subfilters-section" style="padding-top:10px;padding-bottom:5px;margin-left:0px;">

            <div km-select class="filter-btn" multiple api="permitusageApi" name="permitusage" ng-model="permitusage" items="options.usage()"
            placeholder="Intent"></div>
            <br>
            <div km-select class="filter-btn" multiple api="permitkeywordsApi" name="permitkeywords" ng-model="permitkeywords" items="options.keywords()"
            placeholder="Keywords"></div>
            <br>
            <div class="btn-group filter-btn">
                <button style="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="btnamendmentIntent">
                    <span>Amendments</span>
                    <span ng-show="amendmentIntent==0" style="color:#428BCA">: Amended </span>
                    <span ng-show="amendmentIntent==1" style="color:#428BCA">: Revoked </span>
                    <span ng-show="amendmentIntent==-1" style="color:#428BCA">: None </span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="max-height:400px;overflow-y:auto;text-align:left">
                    <li>
                        <a style="color:#999;" ng-href="#" ng-click="amendmentIntent=-2;buildQuery()" value="undefined" ng-model="amendmentIntent"
                        name="amendmentIntent">clear selection</a>
                    </li>
                    <li>
                        <a ng-href="#" ng-click="amendmentIntent=-1;buildQuery()" value="-1" ng-model="amendmentIntent" name="amendmentIntent">
                            <span ng-show="amendmentIntent==-1" class="glyphicon glyphicon-ok"></span>no ammendments</a>
                    </li>
                    <li>
                        <a ng-href="#" ng-click="amendmentIntent=0;buildQuery()" value="0" ng-model="amendmentIntent" name="amendmentIntent">
                            <span ng-show="amendmentIntent==0" class="glyphicon glyphicon-ok"></span> has been amended</a>
                    </li>
                    <li>
                        <a ng-href="#" ng-click="amendmentIntent=1;buildQuery()" value="1" ng-model="amendmentIntent" name="amendmentIntent">
                            <span ng-show="amendmentIntent==1" class="glyphicon glyphicon-ok"></span> has been revoked</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>


    <div ng-class="{'check_active': absCheckpoint.selected}" style="padding:5px 0;border-bottom:1px solid #ddd;">
        <div layout="row">
            <div>
                <input type="checkbox" ng-model="absCheckpoint.selected"  ng-change="refresh(absCheckpoint.selected,'authority')">
            </div>
            <div flex style="padding:0 3px 0 3px;"> <span class="filter-text bold" ng-class="{'notSelected': absCheckpoint.selected==false}"> Checkpoints</span></div>
            <div> <span class="badge badge-white pull-right">{{absCheckpoint.count}}</span></div>
        </div>
        <div ng-show="absCheckpoint.selected" class="subfilters-section" style="padding-top:10px;padding-bottom:5px;margin-left:0px;">
            <span km-select class="filter-btn" multiple api="cpJurisdictionApi" ng-model="cpJurisdiction" binding-type="string" placeholder="Jurisdictions"
            items="options.cpJurisdictions()"></span>
        </div>
    </div>


    <div ng-class="{'check_active': absCheckpointCommunique.selected}" style="padding:5px 0;">
        <div layout="row">
            <div>
                <input type="checkbox" ng-model="absCheckpointCommunique.selected" 
                ng-change="refresh(absCheckpointCommunique.selected,'authority')">
            </div>
            <div flex style="padding:0 3px 0 3px;"> <span class="filter-text bold" ng-class="{'notSelected': absCheckpointCommunique.selected==false}"> Checkpoint Communiqué</span></div>
            <div> <span class="badge badge-white pull-right">{{absCheckpointCommunique.count}}</span></div>
        </div>
    </div>

</div>