<div>

  <div class="panel-body bg-white">

    <div class="btn-group" style="width:100%;">
      <div ng-show="nationalSearch.keyword">
        <div style="display:relative;top:-7px;font-size:12px;color:#AAA;font-weight:bold;padding-left:12px;">Keyword</div>
      </div>
      <input ng-model="nationalSearch.keyword" style="font-weight:bold;color:#333;width:100%;border:0;border-bottom:1px solid #DDD;border-radius:0;text-align:left;padding-left:12px;padding-bottom:5px;"
      placeholder="Keyword"></input>
    </div>

    <div class="btn-group" style="width:100%;">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      style="width:100%;border:0;border-bottom:1px solid #DDD;border-radius:0;text-align:left;">
        <div ng-show="!nationalSearch.layout" style="color:#AAA;font-weight:bold;">List layout <span class="pull-right"><i class="caret"></i></span></div>
        <div ng-show="nationalSearch.layout">
          <div style="display:relative;top:-7px;font-size:12px;color:#AAA;font-weight:bold;">List layout</div>
          <div style="font-weight:bold;">
            <span ng-show="nationalSearch.layout=='group'">Group by country</span>
            <span ng-show="nationalSearch.layout=='list'">List records</span>
            <span class="pull-right"><i class="caret"></i></span></div>
        </div>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#" ng-click="nationalSearch.layout='list'"> List records </a></li>
        <li><a href="#" ng-click="nationalSearch.layout='group'"> Group by country </a></li>
      </ul>
    </div>

    <br>

    <div class="btn-group" style="width:100%;">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      style="width:100%;border:0;border-bottom:1px solid #DDD;border-radius:0;text-align:left;">
        <div ng-show="!nationalSearch.partyStatus" style="color:#AAA;font-weight:bold;">Party status <span class="pull-right"><i class="caret"></i></span></div>
        <div ng-show="nationalSearch.partyStatus">
          <div style="display:relative;top:-7px;font-size:12px;color:#AAA;font-weight:bold;">Party status </div>
          <div style="font-weight:bold;">
            <span ng-show="nationalSearch.partyStatus=='parties'"> <i class="fa fa-square color-blue" ></i> Parties </span>
            <span ng-show="nationalSearch.partyStatus=='nonParties'"> <i class="fa fa-square color-grey" ></i> Non-Parties</span>
            <span ng-show="nationalSearch.partyStatus=='both'">Both Parties and Non-Parties</span>
            <span class="pull-right"><i class="caret"></i></span>
          </div>
        </div>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#" ng-click="nationalSearch.partyStatus='parties'"> <i class="fa fa-square color-blue"></i> Parties to the Nagoya Protocol </a>
        </li>
        <li>
          <a href="#" ng-click="nationalSearch.partyStatus='nonParties'"> <i class="fa fa-square color-grey"></i> Non-Parties to the Nagoya Protocol</a>
        </li>
        <li><a href="#" ng-click="nationalSearch.partyStatus='both'">Both Parties and Non-Parties</a></li>
      </ul>
    </div>

    <br>

    <div class="btn-group" style="width:100%;">
       <md-select placeholder="Regions" ng-model="nationalSearch.country" md-on-open="options.countries()" style="min-width: 200px;">
          <md-option ng-value="user" ng-repeat="country in collections.countries">{{country.name|lstring}}</md-option>
      </md-select>
    </div>
    <br>
    <div class="btn-group" style="width:100%;">
      <md-select placeholder="Regions" ng-model="user" md-on-open="options.regions()" style="min-width: 200px;">
          <md-option ng-value="user" ng-repeat="region in collections.regions">{{region.name|lstring}}</md-option>
      </md-select>
    </div>

    <br>
    <div style="padding-top:10px;">
      <div style="padding-left:10px;font-size:12px;color:#AAA;font-weight:bold;margin-bottom:3px;">Record type</div>

      <div class="typebtn" layout="row" style="">
        <div>
          <md-checkbox ng-model="nationalSearch.NFP.selected" class="md-primary" style="position:relative;top:0;padding-top:0;margin-top:0;"></md-checkbox>
        </div>
        <div flex ng-class="{'bold': nationalSearch.NFP.selected}" ng-click="nationalSearch.NFP.selected=!nationalSearch.NFP.selected" style="padding-top:7px;font-size:12px;line-height:12px;">
        ABS National Focal Point (FP) </div>
        <div style="padding-left:3px;"> <span class="badge">1</span> </div>
      </div>
      <div layout="row" ng-show="nationalSearch.NFP.selected" class="typebtn_sub" layout="row">
        <div flex class="bold" style="font-size:12px;line-height:12px;">
          <div class="btn-group" style="width:100%;">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            style="font-size:12px;width:100%;border:0;border-bottom:1px solid #DDD;border-radius:0;text-align:left;padding-left:35px;">
              <div ng-show="!nationalSearch.NFP.type" style="color:#AAA;font-weight:bold;">Focal Point Type <span class="pull-right"><i class="caret"></i></span></div>
              <div ng-show="nationalSearch.NFP.type">
                <div style="display:relative;top:-7px;font-size:12px;color:#AAA;font-weight:bold;">Focal Point Type </div>
                <div style="font-weight:bold;">
                  {{nationalSearch.NFP.type}} <span class="pull-right"><i class="caret"></i></span></div>
              </div>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="#" ng-click="nationalSearch.NFP.type='ABS'"> <i class="fa fa-square color-blue"></i> ABS National Focal Points</a>
              </li>
              <li>
                <a href="#" ng-click="nationalSearch.NFP.type='CBD'"> <i class="fa fa-square color-grey"></i> CBD National Focal Points</a>
              </li>
              <li>
                <a href="#" ng-click="nationalSearch.NFP.type='both'"> <i class="fa fa-square color-grey"></i> All types</a>
              </li>
            </ul>
          </div>
        </div>
      </div>



      <div class="typebtn" layout="row" style="">
        <div>
          <md-checkbox ng-model="nationalSearch.CNA.selected" class="md-primary" style="position:relative;top:0;padding-top:0;margin-top:0;"></md-checkbox>
        </div>
        <div flex ng-class="{'bold': nationalSearch.CNA.selected}" ng-click="nationalSearch.CNA.selected=!nationalSearch.CNA.selected" style="padding-top:7px;font-size:12px;line-height:12px;">
        Competent National Authority (CNA) </div>
        <div style="padding-left:3px;"> <span class="badge">1</span> </div>
      </div>
      <div layout="row" ng-show="nationalSearch.CNA.selected" class="typebtn_sub" layout="row">
        <div flex class="bold" style="font-size:12px;line-height:12px;">
          <div class="btn-group" style="width:100%;">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            style="font-size:12px;width:100%;border:0;border-bottom:1px solid #DDD;border-radius:0;text-align:left;padding-left:35px;">
              <div ng-show="!nationalSearch.CNA.scope" style="color:#AAA;font-weight:bold;"> Scope of responsibilities <span class="pull-right"><i class="caret"></i></span></div>
              <div ng-show="nationalSearch.CNA.scope">
                <div style="display:relative;top:-7px;font-size:12px;color:#AAA;font-weight:bold;"> Scope of responibilities </div>
                <div style="font-weight:bold;">
                  {{nationalSearch.CNA.scope}} <span class="pull-right"><i class="caret"></i></span></div>
              </div>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#" ng-click="nationalSearch.CNA.scope='everything'">everything</a></li>
              <li><a href="#" ng-click="nationalSearch.CNA.scope='nothing'">nothing</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div layout="row" ng-show="nationalSearch.CNA.selected" class="typebtn_sub" layout="row">
        <div flex class="bold" style="font-size:12px;line-height:12px;">
          <div class="btn-group" style="width:100%;">
             <md-select placeholder="Authority Jurisdictions" ng-model="nationalSearch.CNA.jurisdiction" md-on-open="options.jurisdictions()" style="min-width: 200px;">
                <md-option ng-value="jurisdiction.identifier" ng-repeat="jurisdiction in collections.jurisdictions">{{jurisdiction.title|lstring}}</md-option>
            </md-select>
          </div>
        </div>
      </div>

      <div class="typebtn" layout="row" style="">
        <div>
          <md-checkbox ng-model="nationalSearch.NDB.selected" class="md-primary" style="position:relative;top:0;padding-top:0;margin-top:0;"></md-checkbox>
        </div>
        <div flex ng-class="{'bold': nationalSearch.NDB.selected}" ng-click="nationalSearch.NDB.selected=!nationalSearch.NDB.selected" style="padding-top:7px;font-size:12px;line-height:12px;">
        National Website or Database (NDB) </div>
        <div style="padding-left:3px;"> <span class="badge">1</span> </div>
      </div>

      <div class="typebtn" layout="row" style="">
        <div>
          <md-checkbox ng-model="nationalSearch.MSR.selected" class="md-primary" style="position:relative;top:0;padding-top:0;margin-top:0;"></md-checkbox>
        </div>
        <div flex ng-class="{'bold': nationalSearch.MSR.selected}" ng-click="nationalSearch.MSR.selected=!nationalSearch.MSR.selected" style="position:relative;top:2px;font-size:12px;line-height:12px;">
        Legislative, administrative or policy measures (MSR)</div>
        <div style="padding-left:3px;"> <span class="badge">1</span> </div>
      </div>
      <div layout="row" ng-show="nationalSearch.MSR.selected" class="typebtn_sub" layout="row">
        <div flex class="bold" style="font-size:12px;line-height:12px;">
          <div class="btn-group" style="width:100%;">
            <md-select placeholder="Measure Jurisdictions" ng-model="nationalSearch.MSR.jurisdiction" md-on-open="options.jurisdictions()" style="min-width: 200px;">
                <md-option ng-value="jurisdiction.identifier" ng-repeat="jurisdiction in collections.jurisdictions">{{jurisdiction.title|lstring}}</md-option>
            </md-select>
          </div>
        </div>
      </div>
      <div layout="row" ng-show="nationalSearch.MSR.selected" class="typebtn_sub" layout="row">
        <div flex class="bold" style="font-size:12px;line-height:12px;">
          <div class="btn-group" style="width:100%;">
            <md-select placeholder="Measure Status" ng-model="nationalSearch.MSR.status" md-on-open="options.statuses()" style="min-width: 200px;">
                  <md-option ng-value="status.identifier" ng-repeat="status in collections.statuses">{{status.title|lstring}}</md-option>
              </md-select>
          </div>
        </div>
      </div>
      <div layout="row" ng-show="nationalSearch.MSR.selected" class="typebtn_sub" layout="row">
        <div flex class="bold" style="font-size:12px;line-height:12px;">
          <div class="btn-group" style="width:100%;">
            <md-select placeholder="Measure Type" ng-model="nationalSearch.CP.type" md-on-open="options.types()" style="min-width: 200px;">
                  <md-option ng-value="type.identifier" ng-repeat="type in collections.types">{{type.title|lstring}}</md-option>
              </md-select>
          </div>
        </div>
      </div>

      <div class="typebtn" layout="row" style="">
        <div>
          <md-checkbox ng-model="nationalSearch.IRCC.selected" class="md-primary" style="position:relative;top:0;padding-top:0;margin-top:0;"></md-checkbox>
        </div>
        <div flex ng-class="{'bold': nationalSearch.IRCC.selected}" ng-click="nationalSearch.IRCC.selected=!nationalSearch.IRCC.selected" style="position:relative;top:2px;font-size:12px;line-height:12px;">
        Internationally Recognized Certificate of Compliance (IRCC)</div>
        <div style="padding-left:3px;"> <span class="badge">1</span> </div>
      </div>
      <div layout="row" ng-show="nationalSearch.IRCC.selected" class="typebtn_sub" layout="row">
        <div flex class="bold" style="font-size:12px;line-height:12px;">
          <div class="btn-group" style="width:100%;">
            <md-select placeholder="IRCC intent" ng-model="nationalSearch.CP.intent" md-on-open="options.intents()" style="min-width: 200px;">
                  <md-option ng-value="intent.identifier" ng-repeat="intent in collections.intents">{{intent.title|lstring}}</md-option>
              </md-select>
          </div>
        </div>
      </div>

      <div layout="row" ng-show="nationalSearch.IRCC.selected" class="typebtn_sub" layout="row">
        <div flex class="bold" style="font-size:12px;line-height:12px;">
          <div class="btn-group" style="width:100%;">
            <md-select placeholder="IRCC keyword" ng-model="nationalSearch.CP.keyword" md-on-open="options.keywords()" style="min-width: 200px;">
                  <md-option ng-value="keyword.identifier" ng-repeat="keyword in collections.keywords">{{keyword.title|lstring}}</md-option>
              </md-select>
          </div>
        </div>
      </div>
      <div layout="row" ng-show="nationalSearch.IRCC.selected" class="typebtn_sub" layout="row">
        <div flex class="bold" style="font-size:12px;line-height:12px;">
          <div class="btn-group" style="width:100%;">
            <md-select placeholder="Ammendment" ng-model="nationalSearch.CP.ammendment" md-on-open="options.ammendments()" style="min-width: 200px;">
                  <md-option ng-value="ammendment.identifier" ng-repeat="ammendment in collections.ammendments">{{ammendment.title|lstring}}</md-option>
              </md-select>
          </div>
        </div>
      </div>


      <div class="typebtn" layout="row" style="">
        <div>
          <md-checkbox ng-model="nationalSearch.CP.selected" class="md-primary" style="position:relative;top:0;padding-top:0;margin-top:0;"></md-checkbox>
        </div>
        <div flex ng-class="{'bold': nationalSearch.CP.selected}" ng-click="nationalSearch.CP.selected=!nationalSearch.CP.selected" style="position:relative;top:7px;font-size:12px;line-height:12px;">
        Checkpoint (CP)</div>
        <div style="padding-left:3px;"> <span class="badge">1</span> </div>
      </div>
      <div layout="row" ng-show="nationalSearch.CP.selected" class="typebtn_sub" layout="row">
        <div flex class="bold" style="font-size:12px;line-height:12px;">
          <div class="btn-group" style="width:100%;">
            <md-select placeholder="Measure Jurisdictions" ng-model="nationalSearch.CP.jurisdiction" md-on-open="options.jurisdictions()" style="min-width: 200px;">
                  <md-option ng-value="jurisdiction.identifier" ng-repeat="jurisdiction in collections.jurisdictions">{{jurisdiction.title|lstring}}</md-option>
              </md-select>
          </div>
        </div>
      </div>

      <div class="typebtn" layout="row" style="">
        <div>
          <md-checkbox ng-model="nationalSearch.CPC.selected" class="md-primary" style="position:relative;top:0;padding-top:0;margin-top:0;"></md-checkbox>
        </div>
        <div flex ng-class="{'bold': nationalSearch.CPC.selected}" ng-click="nationalSearch.CPC.selected=!nationalSearch.CPC.selected" style="position:relative;top:7px;font-size:12px;line-height:12px;">
        Checkpoint Communiqué (CPC)</div>
        <div style="padding-left:3px;"> <span class="badge">1</span> </div>
      </div>

    </div>

  </div>


</div>
