<link rel="stylesheet" href="/app/css/about.css">
<!-- <script src="/app/views/about.html.js"></script> -->


<div ng-controller="AboutController" data-spy="scroll" data-target="#affix-nav" >

<div class="container">
    <div  class="row">
      <div  class="col-xs-9 main-content" >
        <ng-include src="subTemplateUrl" ng-show="user.isAuthenticated"></ng-include></ng-include>
      </div>

      <div class="col-xs-3" style="padding-left:40px;" >
        <div class="right-links" >
        <br>
          <ul >
            <li><a ng-class="{active:tab=='about'}" href="/about/absch">About the ABS-CH</a></li>
           <!--  <li><a href="#overview">Overview</a></li> -->
            <!-- <li><a href="#policies">Policies</a></li> -->
            <li><a ng-class="{active:tab=='modalities'}" href="/about/modalities">Modalities of operation</a></li>
           <!--  <li><a href="#awareness">Awareness-raising material</a></li> -->
            <li><a ng-class="{active:tab=='development'}" href="/about/Development">Development</a></li>
            <li><a ng-class="{active:tab=='portal10'}" href="/about/portal10" >Article 10 Forum</a></li>
            <li><a ng-class="{active:tab=='iac'}" href="/about/iac">ABS-CH IAC Forum</a></li>
            <li><a ng-class="{active:tab=='obligations'}" href="/about/obligations">Information-sharing obligations</a></li>
            <li><a ng-class="{active:tab=='pilotphase'}" href="/about/pilotphase" >Pilot phase</a></li>
            <!-- <li><a href="#status">Status of Protocol</a></li> -->
            <li><a  ng-class="{active:tab=='contactus'}" href="/about/contactus">Contact us</a></li>
            <!--  <li class="backtotop"><a href="#"><i class="glyphicon glyphicon-arrow-up"></i> back to top</a></li>
             <li><br/></li> -->
             <br/>
             <li><a  href="/help"><i class="fa fa-question-circle"></i> Help</a></li>

          </ul>
        </div>
      </div>
    </div> <!-- end row -->
  </div> <!-- end container  -->
</div><!--  end controller -->
<br><br><br>
<script type="text/javascript">
    $('#affix-nav').affix({
    offset: {
      top: 10
    , bottom: function () {
        return (this.bottom = $('.footer').outerHeight(true))
      }
    }
  })
</script>
