<link rel="stylesheet" href="/app/css/help.css">

<style media="screen">
    .help-feature-box {
        height: 170px;
    }
</style>


<div ng-controller="CommonFromarController" data-spy="scroll" data-target="#affix-nav" >

    <div class="container" style="padding-top:20px;">



        <div class="row" style="padding-bottom:30px;">
            <div class="col-xs-12">
                <h1 style="font-weight:normal;color:#999;">Offline versions of common formats .</h1>
            </div>
        </div>

        <div class="row" style="padding-bottom:20px;">

            <div class="col-md-2 col-xs-4">

                <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-MSR.doc" class="color-litegrey"><div class="help-feature-box">
                    <i class="fa fa-star fa-2"></i><br>
                        Legislative, administrative or policy measures
                    </div>
                </a>

            </div>
            <div class="col-md-2 col-xs-4">

                <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-CPC.doc" class="color-red"><div class="help-feature-box">
                    <i class="fa fa-youtube-play fa-2"></i><br>
                    Checkpoint Communiqués </div>
                </a>

            </div>

            <div class="col-md-2 col-xs-4">

                <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-CNA.doc" class="color-green"><div class="help-feature-box">
                    <i class="fa fa-user fa-2"></i><br>
                    Competent National Authorities</div>
                </a>

            </div>
            <div class="col-md-2 col-xs-4">

                <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-IRCC.doc" class="color-blue"><div class="help-feature-box">
                        <i class="fa fa-search fa-2"></i><br>
                        Internationally Recognized Certificate of Compliance</div>
                    </a>

            </div>
            <div class="col-md-2 col-xs-4">

                <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-CP.doc" class="color-orange"><div class="help-feature-box">
                        <i class="fa fa-pencil-square-o fa-2"></i><br>
                    Checkpoints</div>
                </a>

            </div>
            <div class="col-md-2 col-xs-4">

                <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-NDB.doc" class="color-green"><div class="help-feature-box">
                        <i class="fa fa-cloud fa-2"></i><br>
                    National Websites and Databases</div>
                </a>

            </div>

            <div class="col-md-2 col-xs-4">

                <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-VLR.doc" class="color-blue"><div class="help-feature-box">
                        <i class="fa fa-globe fa-2"></i><br>
                    Virtual Library Records</div>
                </a>

            </div>

            <div class="col-md-2 col-xs-4">

                <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-NFP.doc" class="color-orange"><div class="help-feature-box">
                        <i class="fa fa-key fa-2"></i><br>
                    Nation Focal Point</div>
                </a>

            </div>

            <div class="col-md-2 col-xs-4">

                <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-PA-NAU.doc" class="color-blue"><div class="help-feature-box">
                        <i class="fa fa-group fa-2"></i><br>
                    Publishing Authority/National Authorised User</div>
                </a>

            </div>
        </div>




    </div><!-- end container -->

</div>
