<link rel="stylesheet" href="/app/css/help.css">

<style media="screen">
    .help-feature-box {
        height: 170px;
    }
</style>


<div ng-controller="CommonFromarController" data-spy="scroll" data-target="#affix-nav" >

    <div class="container" style="padding-top:20px;">



        <div class="jumbotron" style="background-color:white;padding-bottom:30px;">
            <!-- <div class="col-xs-12"> -->
                <h2 style="font-weight:normal;color:#999;">Offline versions of common formats.</h2>

                <ul>
                    <li>
                        <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-MSR.doc" >
                        Legislative, administrative or policy measures</a></li>

                    <li>
                        <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-CPC.doc" >
                        Checkpoint Communiqués </a></li>

                    <li>
                        <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-CNA.doc" >
                        Competent National Authorities</a></li>
                    <li>
                        <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-IRCC.doc" >
                        Internationally Recognized Certificate of Compliance</a></li>

                    <li>
                        <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-CP.doc" >
                        Checkpoints</a></li>
                    <li>
                        <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-NDB.doc" >
                        National Websites and Databases</a></li>
                    <li>
                        <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-VLR.doc" >
                        Virtual Library Records</a></li>
                    <li>
                        <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-NFP.doc" >
                        Nation Focal Point</a></li>
                    <li>
                        <a href="http://www.cbd.int/abs/doc/commonformats/ABSCH-PA-NAU.doc" >
                        Publishing Authority/National Authorised User</a></li>
                </ul>

            <!-- </div> -->
        </div>

    </div><!-- end container -->

</div>
