<div ng-controller="DashboardController">
<link rel="stylesheet" href="/app/libs/nvd3/nv.d3.css"/>
  <div class="col-xs-9" style="padding-top:20px;">

    <div>
      <a class="pull-right" ng-show="!help" ng-click="help=!help;" style="cursor:pointer;padding:5px;">
        <i class="glyphicon glyphicon-question-sign"></i> show help
      </a>
      <a class="pull-right" ng-show="help" ng-click="help=!help;" style="cursor:pointer;color:#666;padding:5px;">
        <i class="glyphicon glyphicon-question-sign" ></i> hide help
      </a>
    </div>

    <div class="registerpage-header">
      <h2>
        <span class="abbreviation">DASHBOARD</span>
        <span class="title">Check the status of your work in the ABS-CH</span>
      </h2>

      <p class="help1" ng-show="help">
        The dashboard is a personal working area where it will be possible to follow-up the status of records prepared for their publication in the ABS-CH. The content of the dashboard will differ depending on the role assigned in the ABS-CH (publishing authority or national authorized user).<br>
        <br>
        In this area you can check whether there are items that require your approval (in the case of the publishing authority) or what is the status of records sent for validation of the publishing authority (in the case of national authorized users).
      </p>

    </div>

    <div class="registerpage-content">

      <div ng-show="msg" class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="msg=''">&times;</button>
        <strong>{{msg}}</strong>
      </div>

      <div class="alert alert-info" ng-show="user.isAuthenticated">
        <p>You are signed in as: <strong>{{user.name}}</strong>
          <span ng-show="user.roles.indexOf('AbsPublishingAuthorities') != -1">(PA)</span>
          <span ng-show="user.roles.indexOf('abschiac') != -1">(IAC)</span>
          <span ng-show="user.roles.indexOf('AbsNationalAuthorizedUser') != -1">(NAU)</span>
          <span ng-show="user.roles.indexOf('AbsNationalFocalPoint') != -1">(FP)</span>
        </p>
      </div>

      <div ng-hide="user.isAuthenticated">
        <a ng-show="!user.isAuthenticated" ng-click="signIn('dashboard')" class="btn btn-info">
          <i class="glyphicon glyphicon-off"></i> SIGN IN
        </a>
      </div>
    

    </div> <!-- registerpage-content -->
  </div> <!-- col-xs-9 -->
</div> <!-- controller -->
