<div>
    <a ng-click="showSelect=!showSelect" class="filter-title" style="text-decoration:none;color:#111;">{{title}}&nbsp; 
        <i ng-class="{'fa fa-caret-down':!showSelect, 'fa fa-caret-up':showSelect}" ></i></a>
    
    <div class="list-group-item-expand">
        <div ng-repeat="item in terms | orderBy:'title' | filter:{selected:true}" ng-class="ccc(item)" ng-click="onclick(this, $event)">
            <div class="filter-selected truncate" style="cursor:pointer">
                <i class="glyphicon glyphicon-remove-circle"></i> {{item.title}} ({{item.count}})
            </div>
        </div>
    <div>

    <!--Save Dialog-->
    <div ng-show="showSelect" >
        <div class="filter-options well">
            <div>
                <div style="padding-left:20px">

                 <div class="pull-right" >
                     <a ng-click="showSelect=!showSelect" style="text-decoration:none;" ><i class="glyphicon glyphicon-remove-circle"></i> Close</a>
                </div>

                    <table width="100%" ><tr>
                    <td width="50%" class="national-records">
                        <h4>National Records</h4>
                        <div class="checkbox"><label>
                            <input type="checkbox" ng-model="focalpoint.selected" bind-indeterminate="focalpoint.indeterminate" ng-change="refresh()">
                            National Focal Points ({{focalpoint.count}})
                        </label></div>
                        <div class="checkbox"><label>
                            <input type="checkbox" ng-model="authority.selected" bind-indeterminate="authority.indeterminate" ng-change="refresh()">
                            Competent National Authorities ({{authority.count}})
                        </label></div>
                        <div class="checkbox"><label>
                            <input type="checkbox" ng-model="database.selected" bind-indeterminate="database.indeterminate" ng-change="refresh()">
                            National Websites and Databases ({{database.count}})
                        </label></div>
                        <div class="checkbox"><label>
                            <input type="checkbox" ng-model="measure.selected" bind-indeterminate="measure.indeterminate" ng-change="refresh()">
                            Legislative, administrative or policy measures ({{measure.count}})
                        </label></div>
                        <div class="checkbox"><label>
                            <input type="checkbox" ng-model="absPermit.selected" bind-indeterminate="absPermit.indeterminate" ng-change="refresh()">
                            Permits and their equivalent ({{absPermit.count}})
                        </label></div>
                        <div class="checkbox"><label>
                            <input type="checkbox" ng-model="absCheckpoint.selected" bind-indeterminate="absCheckpoint.indeterminate" ng-change="refresh()">
                            Checkpoints ({{absCheckpoint.count}})
                        </label></div>
                        <div class="checkbox"><label>
                            <input type="checkbox" ng-model="absCheckpointCommunique.selected" bind-indeterminate="absCheckpointCommunique.indeterminate" ng-change="refresh()">
                            Checkpoint Communiqués ({{absCheckpointCommunique.count}})
                        </label></div>
                    </td>
                    <td width="50%" class="reference-records">
                        <h4>Reference Records</h4>
                        <div class="checkbox"><label>
                            <input type="checkbox" ng-model="resource.selected" bind-indeterminate="resource.indeterminate" ng-change="refresh()">
                            Virtual Library Records ({{resource.count}})
                        </label></div>
                      <!--   <div class="checkbox"><label>
                            <input type="checkbox" ng-model="organization.selected" bind-indeterminate="organization.indeterminate" ng-change="refresh()">
                            ABS Related Organizations ({{organization.count}})
                        </label></div> -->
                        <div class="checkbox"><label>
                            <input type="checkbox" ng-model="meeting.selected" bind-indeterminate="meeting.indeterminate" ng-change="refresh()">
                            Meetings &amp; Meeting Outcomes ({{meeting.count}})
                        </label></div>

                        <h4>&nbsp;</h4>
                        <div class="checkbox"><label>
                            <input type="checkbox" ng-model="notification.selected" bind-indeterminate="notification.indeterminate" ng-change="refresh()">
                            Notifications ({{notification.count}})
                        </label></div>
                        <div class="checkbox"><label>
                            <input type="checkbox" ng-model="pressRelease.selected" bind-indeterminate="pressRelease.indeterminate" ng-change="refresh()">
                            Press Releases ({{pressRelease.count}})
                        </label></div>
                        <div class="checkbox"><label>
                            <input type="checkbox" ng-model="statement.selected" bind-indeterminate="statement.indeterminate" ng-change="refresh()">
                            Statements ({{statement.count}})
                        </label></div>
                    </td>
                    </tr></table>
                </div>
               
            </div>
        </div>
    </div>

    <style>
        .options .checkbox {
            min-height: 0;
        }

        .truncate {
            display:block;
            width:150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 2px 4px;
            font-size: 10px;
            font-weight: normal;
            color: #000;
        }
    </style>
</div>
