<li>
	<div data-toggle="modal" href="#dialogSelectThemes" ng-class="{false:'not', true:'x'}[expanded]"><strong>{{title}}&nbsp;<b class="caret"></b></strong> </div>
	<div class="list-group-item-expand" style="position:relative">
		<div ng-repeat="item in termsArray | filter:{selected:true}" ng-click="onclick(this, $event)">
			<div class="label label-selected-facet">
				<div style="position:absolute;right:6px;top:6px" class="icon-remove-sign"></div>
				<div class="truncate">
					{{item.name}} ({{item.count}})
				</div>
			</div>
		</div>
	<div>

	<style>
	.list-group-item .not:before {
	    content: "\f054"; 
	    font-family: FontAwesome;
	    font-style: normal;	
	    font-weight: normal;
	    text-decoration: inherit;

	    color: #000;
	    font-size: 18px;
	    padding-right: 0.5em;
	    position: absolute;
	    top: 10px;
	    right: 0;
	}
	</style>

	<div id="dialogSelectThemes" class="modal fade">
		<div class="modal-dialog"><!--  style="width:760px;margin-left:-380px"  -->
			<div class="modal-content" style="width:760px">
				<div class="modal-body">
					<div style="height:360px;overflow-y:auto">
						<div ng-repeat="item in terms" class="checkbox">
							<label><input type="checkbox" ng-model="item.selected" bind-indeterminate="item.indeterminate" ng-click="ts(this, $event)">{{item.name}} ({{item.count}})</label>
							<div class="checkbox" ng-repeat="item in item.narrowerTerms" style="padding-left:20px">
								<label><input type="checkbox" ng-model="item.selected" bind-indeterminate="item.indeterminate" ng-click="ts(this, $event)">{{item.name}} ({{item.count}})</label>
								<div class="checkbox" ng-repeat="item in item.narrowerTerms" style="padding-left:20px">
									<label><input type="checkbox" ng-model="item.selected" bind-indeterminate="item.indeterminate" ng-click="ts(this, $event)">{{item.name}} ({{item.count}})</label>
									<div class="checkbox" ng-repeat="item in item.narrowerTerms" style="padding-left:20px">
										<label><input type="checkbox" ng-model="item.selected" bind-indeterminate="item.indeterminate" ng-click="ts(this, $event)">{{item.name}} ({{item.count}})</label>
										<div class="checkbox" ng-repeat="item in item.narrowerTerms" style="padding-left:20px">
											<label><input type="checkbox" ng-model="item.selected" bind-indeterminate="item.indeterminate" ng-click="ts(this, $event)">{{item.name}} ({{item.count}})</label>
											<div class="checkbox" ng-repeat="item in item.narrowerTerms" style="background-color:red;padding-left:20px">
												<label><input type="checkbox" ng-model="item.selected" bind-indeterminate="item.indeterminate" ng-click="ts(this, $event)">{{item.name}} ({{item.count}})</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</li>
