<div>
    <a ng-click="showSelect=!showSelect" class="filter-title" style="text-decoration:none;color:#111;">{{title}}&nbsp; 
        <i ng-class="{'fa fa-caret-down':!showSelect, 'fa fa-caret-up':showSelect}" ></i></a>
    
    <div class="list-group-item-expand">
        <div ng-repeat="item in terms | orderBy:'title' | filter:{selected:true}" ng-class="ccc(item)" ng-click="onclick(this, $event)">
            <div class="filter-selected truncate" style="cursor:pointer">
                <i class="glyphicon glyphicon-remove-circle"></i> {{item.title}} ({{item.count}})
            </div>
        </div>
    <div>

	<style>
	.list-group-item .not:before {
	    content: "\f054"; 
	    font-family: FontAwesome;
	    font-style: normal;	
	    font-weight: normal;
	    text-decoration: inherit;

	    color: #000;
	    font-size: 18px;
	    padding-right: 0.5em;
	    position: absolute;
	    top: 10px;
	    right: 0;
	}
	</style>

<!--Save Dialog-->
    <div ng-show="showSelect" >
        <div class="filter-options well" style="position:relative;left:-380px;">
            <div>
                <div style="padding-left:20px">

                 <div class="pull-right" >
                     <a ng-click="showSelect=!showSelect" style="text-decoration:none;" ><i class="glyphicon glyphicon-remove-circle"></i> Close</a>
                </div>
                <br>
					<div style="height:200px;overflow-y:auto">
						<div ng-repeat="item in terms" class="checkbox">
						
							<label><input type="checkbox" ng-model="item.selected" bind-indeterminate="item.indeterminate" ng-click="ts(this, $event)">{{item.name}} ({{item.count}})</label>
							<div class="checkbox" ng-repeat="item in item.narrowerTerms" style="padding-left:20px">
								<label><input type="checkbox" ng-model="item.selected" bind-indeterminate="item.indeterminate" ng-click="ts(this, $event)">{{item.name}} ({{item.count}})</label>
								<div class="checkbox" ng-repeat="item in item.narrowerTerms" style="padding-left:20px">
									<label><input type="checkbox" ng-model="item.selected" bind-indeterminate="item.indeterminate" ng-click="ts(this, $event)">{{item.name}} ({{item.count}})</label>
									<div class="checkbox" ng-repeat="item in item.narrowerTerms" style="padding-left:20px">
										<label><input type="checkbox" ng-model="item.selected" bind-indeterminate="item.indeterminate" ng-click="ts(this, $event)">{{item.name}} ({{item.count}})</label>
										<div class="checkbox" ng-repeat="item in item.narrowerTerms" style="padding-left:20px">
											<label><input type="checkbox" ng-model="item.selected" bind-indeterminate="item.indeterminate" ng-click="ts(this, $event)">{{item.name}} ({{item.count}})</label>
											<div class="checkbox" ng-repeat="item in item.narrowerTerms" style="background-color:red;padding-left:20px">
												<label><input type="checkbox" ng-model="item.selected" bind-indeterminate="item.indeterminate" ng-click="ts(this, $event)">{{item.name}} ({{item.count}})</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
