<link rel="stylesheet" href="/app/css/help.css">



<div ng-controller="HelpController" data-spy="scroll" data-target="#affix-nav"  >

    <div class="container" style="padding-top:20px;">



        <div class="row">

            <div class="col-xs-3">

                <div class="help-feature-box">
                    <i class="fa fa-user fa-3"></i><br>
                    Problems with your account</div>

            </div>
                <div class="col-xs-3">

                <div class="help-feature-box">
                        <i class="fa fa-search fa-3"></i><br>
                        Help finding information</div>

            </div>

            <div class="col-xs-3">

                <div class="help-feature-box">
                        <i class="fa fa-pencil-square-o fa-3"></i><br>
                    Help registering information</div>

            </div>
            <div class="col-xs-3">

                <div class="help-feature-box">
                        <i class="fa fa-globe fa-3"></i><br>
                    Help with the country profiles</div>

            </div>


        </div>






<div class="row">

            <div class="col-xs-12">




                <h1 style="font-weight:normal;color:#999;">Sometimes you just need a little <span class="color-orange">help</span>.</h1>

            </div>

        </div>



    </div>
</div>
