<link rel="stylesheet" href="/app/css/help.css">



<div ng-controller="HelpController" data-spy="scroll" data-target="#affix-nav"  >

    <div class="container" style="padding-top:20px;">



        <div class="row" style="padding-bottom:30px;">
            <div class="col-xs-12">
                <h1 style="font-weight:normal;color:#999;">Sometimes you just need a little <span class="color-orange">help</span>.</h1>
            </div>
        </div>

        <div class="row" style="padding-bottom:20px;">

            <div class="col-xs-2">

                <a href="#signin" class="color-litegrey"><div class="help-feature-box">
                    <i class="fa fa-star fa-2"></i><br>
                    About the ABSCH</div>
                </a>

            </div>
            <div class="col-xs-2">

                <a href="#signin" class="color-red"><div class="help-feature-box">
                    <i class="fa fa-youtube-play fa-2"></i><br>
                    Online guided tours</div>
                </a>

            </div>

            <div class="col-xs-2">

                <a href="#signin" class="color-green"><div class="help-feature-box">
                    <i class="fa fa-user fa-2"></i><br>
                    Help signing in to your account</div>
                </a>

            </div>
            <div class="col-xs-2">

                <a href="#signin" class="color-blue"><div class="help-feature-box">
                        <i class="fa fa-search fa-2"></i><br>
                        Help finding information</div>
                    </a>

            </div>
            <div class="col-xs-2">

                <a href="#signin" class="color-orange"><div class="help-feature-box">
                        <i class="fa fa-pencil-square-o fa-2"></i><br>
                    Help registering information</div>
                </a>

            </div>
            <div class="col-xs-2">

                <a href="#signin" class="color-grey"><div class="help-feature-box">
                        <i class="fa fa-globe fa-2"></i><br>
                    Help with the country profiles</div>
                </a>

            </div>

        </div>

        <div class="row" >
            <div class="col-xs-12">
                <h3 class="color-litegrey">We aim provide all CBD Parties with the help they need to ensure they are able to fulfil their obligations under the Protocol and
                submit the relevant national information to the ABS clearing-house.

                <br><br>

                If you are having any difficulties using the ABS clearing-house please
                contact us and we will be happy to arrange a personal one-on-one training session or any other help as needed.

                    <br><br>
                        <span class="color-litegrey">Email us at:</span>
                        <span class="color-orange">absch@cbd.int</span>
                    <br><br>
                        <span class="color-litegrey">Skype:</span>
                        <span class="color-orange">absch</span>
                    <br><br>
                        <span class="color-litegrey">Talk with a human from the ABSCH team:</span>

                </h3>

            </div>
        </div>

        <div class="row" style="padding-bottom:30px;">
            <div class="col-xs-2">
                <div class="pic">
                    <i class="fa fa-meh-o fa-3"></i>
                </div>
                <div>
                    <strong>Beatriz Gomes-Castro</strong> <br>
                    Languages: En, Fr, Es <br>
                    Expertise: Legal aspects and policy issues<br>
                    +1 514
                </div>
            </div>
            <div class="col-xs-2">
                <div class="pic">
                    <i class="fa fa-meh-o fa-3"></i>
                </div>
                <div>
                    <strong>Matthew Dias</strong><br>
                    Languages: En, Fr, Es <br>
                    Expertise: Development issues<br>
                    +1 514 287 6682<br>

                    <i class="fa fa-skype color-blue"></i> <a href="skype:matt.dias?chat">matt.dias</a>

                    <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
                    <div id="SkypeButton_Call_matt.dias_1">
                      <script type="text/javascript">
                        Skype.ui({
                          "name": "dropdown",
                          "element": "SkypeButton_Call_matt.dias_1",
                          "participants": ["matt.dias"],
                          "imageSize": 24
                        });
                      </script>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="pic">
                    <i class="fa fa-meh-o fa-3"></i>
                </div>
                <div>
                    Natalia <br>
                    Languages: En, Fr, Es <br>
                    Expertise: Legal aspects<br>
                    +1 514
                </div>
            </div>
            <div class="col-xs-2">
                <div class="pic">
                    <i class="fa fa-meh-o fa-3"></i>
                </div>
                <div>
                    Fabiana <br>
                    Languages: En, Fr, Es <br>
                    Expertise: Legal aspects<br>
                    +1 514
                </div>
            </div>
            <div class="col-xs-2">
                <div class="pic">
                    <i class="fa fa-meh-o fa-3"></i>
                </div>
                <div>
                    Ali Benryane <br>
                    Languages: En, Fr, Ar <br>
                    Expertise: <br>
                    +1 514
                    skype
                </div>
            </div>
            <div class="col-xs-2">
                <div class="pic">
                    <i class="fa fa-meh-o fa-3"></i>
                </div>
                <div>
                    Blaise Fonseca<br>
                    Languages: En <br>
                    Expertise: Programming <br>
                </div>
            </div>



        </div>


    </div><!-- end container -->



<!-- help signing in -->
    <div class="bg-white" style="border-top:2px solid #ddd;" name="signin">
        <div class="container">
            <h3 class="color-litegrey help-section-title" > <i class="fa fa-star"></i> About the ABSCH</h3>
                <div class="col-xs-12">
                 <div class="panel-group">
                     <ul style="list-style-type: none; padding:0;margin:0;" >
                        <li><a href="/about/absch"><i class=" fa-1 fa fa-circle"></i> About the ABS-CH</a></li>
                        <li><a href="/about/modalities"><i class=" fa-1 fa fa-circle"></i> Modalities of operation</a></li>
                        <li><a href="/about/Development"><i class=" fa-1 fa fa-circle"></i>  Development</a></li>
                        <li><a href="/about/portal10" ><i class=" fa-1 fa fa-circle"></i>  Article 10 Forum</a></li>
                        <li><a href="/about/iac"><i class=" fa-1 fa fa-circle"></i>  ABS-CH IAC Forum</a></li>
                        <li><a href="/about/obligations"><i class=" fa-1 fa fa-circle"></i>  Information-sharing obligations</a></li>
                        <li><a href="/about/pilotphase" ><i class=" fa-1 fa fa-circle"></i>  Information on the Pilot phase</a></li>
                    </ul>
                </div>
        </div>
 </div>     <!--end help signing in -->




<!-- help signing in -->
    <div class="bg-white"  name="signin">
        <div class="container">
            <h3 class="color-red help-section-title" > <i class="fa fa-youtube-play"></i> Online guided tours</h3>
                <div class="col-xs-12">
                 <div class="panel-group">
                     <ul style="list-style-type: none;padding:0;margin:0;">
                         <li><a href=""> <i class=" fa-1 fa fa-play"></i> How to find information on the search page</a></li>
                         <li><a href=""> <i class=" fa-1 fa fa-play"></i> Introduction to the dashboard and register page</a></li>
                         <li><a href=""> <i class=" fa-1 fa fa-play"></i> How to find information on the search page</a></li>
                         <li><a href=""> <i class=" fa-1 fa fa-play"></i> How to find information on the search page</a></li>
                    </ul>
                </div>
        </div>
 </div>     <!--end help signing in -->






<!-- help signing in -->
    <div class="bg-white"  name="signin">
        <div class="container">
            <h3 class="color-green">Help signing in to your account</h3>
                <div class="col-xs-12">
                 <div class="panel-group" id="accordion">

 <!-- collapse help  -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Forgot your password?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Need an account?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Need permissions to publish or draft national information?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>

<!-- end collapse help -->
                </div>
        </div>
 </div>     <!--end help signing in -->





<!-- help signing in -->
    <div class="bg-white"  name="signin">
        <div class="container">
            <h3 class="color-blue">Help finding information</h3>
                <div class="col-xs-12">
                 <div class="panel-group" id="accordion">

 <!-- collapse help  -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Forgot your password?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Need an account?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Need permissions to publish or draft national information?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>

<!-- end collapse help -->
                </div>
        </div>
 </div>     <!--end help signing in -->




 <!-- help signing in -->
    <div class="bg-white"  name="signin">
        <div class="container">
            <h3 class="color-orange">Help registering information</h3>
                <div class="col-xs-12">
                 <div class="panel-group" id="accordion">

 <!-- collapse help  -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Forgot your password?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Need an account?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Need permissions to publish or draft national information?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>

<!-- end collapse help -->
                </div>
        </div>
 </div>     <!--end help signing in -->




 <!-- help signing in -->
    <div class="bg-white" name="signin">
        <div class="container">
            <h3 class="color-grey">Help with country profiles</h3>
                <div class="col-xs-12">
                 <div class="panel-group" id="accordion">

 <!-- collapse help  -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Forgot your password?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Need an account?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Need permissions to publish or draft national information?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>

<!-- end collapse help -->
                </div>
        </div>
 </div>     <!--end help signing in -->





</div>
