<link href="/app/css/index.css" rel="stylesheet">
<link href="/app/css/carousel.css" rel="stylesheet">
<!-- <script src="/app/views/index.html.js"></script> -->
<!-- <script src="/app/views/directives/login.directive.html.js"></script> -->
<div ng-controller="IndexController">
                                       

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel" >
    <!-- Indicators -->
    <ol class="carousel-indicators" >
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" >
        <div class="item active" >
            <div class="container" >
                <div class="carousel-caption" style="text-align:left;">
                    <h1 >Participate in the testing of the <span style="color:#fa6938;">pilot phase</span> of the ABS-CH</h1>
                    <p class="visible-lg" style="font-size:14px;">Login and start publishing records and providing feedback on how we can improve it.</p>
                         <div class="row" ng-show="user.isAuthenticated">

                                <div style="background-color:#1a9351; padding:50px; margin:0;" class="text-center">
                                   <h1 style="font-size:360%;"> WELCOME {{user.name}} </h1>
                                </div>

                         </div>
                        <div class="row" ng-show="!user.isAuthenticated">
                            <div class="col-xs-12" >
                               <div login></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item" >
             <img  class="image-responsive" style="border:5px solid #000;" src="https://dl.dropboxusercontent.com/u/281146418/Regional%20Workshops/Guyana/pics/header1.jpg">
            <div class="container">
                
                <div class="carousel-caption">
                    <h1 style="background-color: #000;opacity: 0.8;">SUBREGIONAL CAPACITY-BUILDING WORKSHOP ON THE NAGOYA PROTOCOL ON ACCESS AND BENEFIT SHARING FOR THE CARIBBEAN 
                    <span style="color:#999">19-22 MAY 2014 - GEORGETOWN, GUYANA</span>
                    </h1>
                    <p><a class="btn btn-lg btn-primary" href="/workshops/caribbean" role="button">Learn more</a></p>
                </div>
            </div>
        </div>

        <div class="item" >
             <img  class="image-responsive" style="border:5px solid #000;" src="https://dl.dropboxusercontent.com/u/281146418/Regional%20Workshops/LAC%20Region/group.jpg">
            <div class="container">
                
                <div class="carousel-caption">
                    <h1 style="background-color: #000;opacity: 0.8;">Regional Capacity-building Workshop for Latin America on Nagoya Protocol on Access and Benefit-sharing
                    <span style="color:#999">24 - 28 March 2014 - Montevideo, Uruguay</span>
                    </h1>
                    <!-- <img  class="img-responsive thumbnail" src="https://dl.dropboxusercontent.com/u/281146418/Regional%20Workshops/LAC%20Region/Photos/24%20March%202014/Original_Files/03%20-%202014%20lunes%2024%20de%20marzo%20de%202014%20Protocolo%20de%20Nagoya%20xh%20%28616%29.JPG">
                    <br> -->
                    <p><a class="btn btn-lg btn-primary" href="/workshops/lac" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
         <!--
        <div class="item">
            <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>One more for good measure.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                </div>
            </div>
        </div> -->
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- /.carousel -->



<div class="container">
    <div class="row" >

        <div class="col-md-4">
            <div class="home-col">
                <h3 class="headline1"><a href="/about#about">What is the ABS-CH?</a></h3>
                <p>The ABS-CH is a platform for exchanging information on ABS and a key tool for facilitating the implementation of the Nagoya Protocolby enhancing transparency on procedures for access and on the utilization of genetic resources, and in this way increasing the opportunities for benefit-sharing. <a href="/about#about">
                <i class="fa fa-forward"></i> more</a></p>
            </div>
        </div>

          <div class="col-md-4">
            <div class="home-col">
                <h3 class="headline1"><a href="">Participate.</a></h3>
                <p>The value of the ABS-CH lays in the information published by Parties and others. For the ABS-CH to become an important tool for implementing the Protocol and enhancing transparency, certainty and clarity on access and benefit-sharing, information published by Parties and others needs to be comprehensive and reliable.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="home-col">
                <h3 class="headline1"><a href="">Development of the pilot phase</a></h3>
                <p>The ABS-CH is currently in its pilot phase and needs your participation and feedback so that it can be fully operational by the time of entry into force of the Nagoya Protocol.
                 </p>       
                <p>
                    <a href="http://absch.tumblr.com/"><i class="fa fa-forward"></i> Follow our development <strong>blog</strong> here</a>
                </p>
            </div>
        </div>

      

    </div>
</div>


<hr>


<div class="container">

    <div class="row">

        <div class="col-md-6">
            <div class="home-col">
                <h3>News from the development blog</h3>
                    <div class="feeds">
                    <ul>
                        
                        <li ng-repeat="feed in feeds | filter:filterText" style="padding-top:10px;">                 
                            <h4><a href="{{feed.link}}" target="_new" style="color:#287fcb;font-size:14px;font-weight:bold;">{{feed.title}}</a></h4>                                        
                            <p class="text-left">{{feed.contentSnippet}}</p>                  
                            <span class="small" >{{feed.publishedDate | date:'dd MMM yyyy'}}</span>
                        </li>                
                    </ul>            
                    </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="home-col">
                <h3>Meetings</h3>
                <div class="feeds">
                    <ul>
                        
                        <li ng-repeat="meeting in meetings.response.docs" style="padding-top:10px;">  
                             <span class="small" >{{meeting.startDate_s | date:'dd MMM'}} - {{meeting.endDate_s | date:'dd MMM yyyy'}} 
                            </span>               
                            <h4><a href="{{meeting.url_ss[0]}}" target="_new" style="color:#287fcb;font-size:14px;font-weight:bold;">
                            {{meeting.title_t}}</a></h4>                                                         
                            <span>
                            <strong>{{meeting.eventCountry_EN_t}}</strong></span>
                        </li>                
                    </ul>            
                    </div>
            </div>
        </div>

    </div>
</div>


<hr>


<div class="container" >
    <div class="row" style="min-height: 300px;">
        <div class="col-md-3">
            <div class="home-col">
                <h3>Regional Workshops</h3>
                <ul style="list-style:none;padding:0;margin:0;">
                    <li><a href="/workshops/lac"> <strong>LAC Region:</strong> 24 - 28 March - Montevideo, Uruguay</a></li>
                </ul>

                <ul style="list-style:none;padding:0;margin:0;">
                    <li><a href="/workshops/caribbean"> <strong>Caribbean:</strong> 19 - 22 May - Georgetown, Guyana</a></li>
                </ul>
            </div>

        </div>

        <div class="col-md-3">
            <div class="home-col">
                <h3>Help and Resources</h3>
            </div>
        </div>

        <div class="col-md-3">
            <div class="home-col">
                <h3>About the Nagoya Protocol</h3>
            </div>
        </div>
        <div class="col-md-3">
            <div class="home-col">
                <h3>Online Dicussion Forums</h3>
                <ul style="list-style:none;padding:0;margin:0;">
                        <li><a href="/about#iac"> <i class="fa fa-comment-o"></i> <strong>IAC</strong> Discussion Forum</a></li>
                        <li><a href="/about#portal10"> <i class="fa fa-comment-o"></i> <strong>Art. 10</strong> Discussion Forum</a></li>
                </ul>
           
            </div>
        </div>

    </div>
</div>


<br /><br />