<link href="/app/css/profiles.css" rel="stylesheet">
<link href="/app/css/find.css" rel="stylesheet">
<link href="/app/css/record.css" rel="stylesheet">
<link href="/app/libs/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
<link href="/app/libs/angucomplete/angucomplete.css" rel="stylesheet">

<div ng-controller="ProfileController">
  <style>
    .dl-horizontal dd {
      text-align: left;
    }
    #wrapper {
      /*padding-left: 70px;*/
      transition: all .4s ease 0s;
      /*height: 100%*/
    }
    #sidebar-wrapper {
      margin-left: -220px;
      /*left: 70px;*/
      width: 200px;
      float: left;
      /*position: fixed;*/
      height: 100%;
      z-index: -10000;
      transition: all .4s ease 0s;
    }
    .sidebar-nav {
      display: block;
      float: left;
      /*width: 250px;*/
      list-style: none;
      margin: 0;
      padding: 0;
    }
    #wrapper.active {
      padding-left: 150px;
    }
    /*#wrapper.active #sidebar-wrapper {
      left: 150px;
    }*/
    .show {
      display: block
    }
    .hide {
      display: none;
    }
    .list-group-item-default {color: #fff;
        background-color: #999;
    }
    .list-group-item-primary {color: #fff;
        background-color: #428bca;
    }
    .list-group-item-info {color: #fff;
        background-color: #5bc0de;
    }
    .list-group-item-success {color: #fff;
        background-color: #5cb85c;
    }
  </style>

  <div class="container" id="wrapper">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-md-12" style="padding-top:20px;">
        <div style="position:absolute;margin:auto; width:100%">
          <img ng-hide="code=='EUR'" src="/app/libs/mapsicon/all/{{code.toLowerCase()}}/1024.png" style="opacity:0.15; z-index:-9999;">
          <!-- <img ng-show="code=='EUR'" src="/app/img/EUMap.svg" style="opacity:0.15;padding-top:100px;padding-left:100px;"> -->
        </div>
        <br>

        <!-- Sidebar -->
        <!-- Sidebar -->
        <div class="row">
          <div class="col-md-1 col-lg-1">
            <div id="sidebar-wrapper" class="hide">
            <div style="padding-left:15px">
                <!-- <span>Country List</span> -->
                <input type="textbox" ng-model="countryFilter" placeholder="filter by country name."
                class="form-control form-control-small">
            </div>
              <div style="max-height:500px;overflow:scroll;">
                <ul class="list-group" style="padding-left:10px">
                  <li class="list-group-item" ng-show="!countries">loading countries <i class="fa fa-spinner"/>
                  <li ng-click="loadCountryDetails(country.code)" class="list-group-item"
                      ng-repeat="country in countries | filter:countryFilter"
                      style="cursor:pointer"  ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}"
                      ng-class="{'list-group-item-info':country.isSignatory && !country.isRatified,
                      'list-group-item-primary':country.isRatified,
                      'list-group-item-default':!country.isRatified && !country.isSignatory,
                      'list-group-item-success' : country.isInbetweenParty}">
                        {{country.name |lstring}}
                    <!-- </span> -->
                  </li>
                </ul>
              </div>

            </div>
          </div>
          <div class="col-md-11 col-lg-11">

            <div id="page-content-wrapper">
              <div class="page-content inset">
                <div class="container1 ng-scope">
                  <div id="sidebar_menu" class="sidebar-nav">
                    <span class="sidebar-brand"><a id="menu-toggle" class="toggleMe" href="#"><span id="main_icon" class="glyphicon glyphicon-align-justify"></span>
                    </a>
                    </span>
                  </div>

                  <div class="row top" style="padding-bottom:30px;">
                    <div class="col-xs-12 col-md-5 col-lg-5">
                      <span class="country-name">{{country.name.en}}</span>
                      </br>
                      <span style="vertical-align:top" class="label label-success" ng-show="isInbetweenParty()">in-between Party</span>
                      <span style="vertical-align:top" class="label label-success" ng-show="isInbetweenParty()">
                    entry into force on {{entryIntoForceDate| formatDate}}</span>
                    </div>
                    <div class="col-xs-8 col-md-4 col-lg-4">

                      <h3 style="padding:0 0 15px 0; margin: 0 0 0 80px;white-space:nowrap;color:#1FA65D;">Nagoya Protocol on ABS</h3>
                      <div class="row" style="text-align:right;">
                        <div class="col-xs-6 col-md-6 col-lg-6">Signature</div>
                        <div class="col-xs-6 col-md-6 col-lg-6">{{ country.treaties.XXVII8b.signature ? country.treaties.XXVII8b.signature : '- - - - - -'}}</div>
                        <div class="col-xs-6 col-md-6 col-lg-6">Instrument</div>
                        <div class="col-xs-6 col-md-6 col-lg-6">{{country.treaties.XXVII8b.instrument ? country.treaties.XXVII8b.instrument : '- - - - - -'}}</div>
                        <div class="col-xs-6 col-md-6 col-lg-6">Deposit</div>
                        <div class="col-xs-6 col-md-6 col-lg-6">{{country.treaties.XXVII8b.deposit ? country.treaties.XXVII8b.deposit : '- - - - - -'}}</div>
                      </div>
                    </div>

                    <div class="col-xs-6 col-md-3 col-lg-3 text-right" style="max-width:20%">
                      <div style="height:100px;" class="flag-icon-background flag-icon-{{code.toLowerCase()}}"></div>

                    </div>

                  </div>
                  <div class="row">

                    <div class="col-sm-12">
                      <div class="pull-right" style="width:30%">
                        <div angucomplete id="ex1" placeholder="search country information" pause="100" localdata="autocompleteData" minlength="1" inputclass="form-control form-control-small" searchfields="title" selectedObject="selectedCountry" searchStr="searchText.$" titlefield="title"
                        />
                      </div>
                      <div class="clearfix"></div>
                      <div class="panel-group" id="accordion">

                        <div class="panel" ng-show="absch_nfp.response.numFound > 0">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <h4>
			          <span style="color:#111;"><i class="fa fa-plus-circle"></i> </span>
			          <span style="color: #428BCA; ">NFP</span>
			         <span style="color:#111;">ICNP ABS National Focal Points ({{nfpCount}})</span>

			         </h4>
                          </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                          <div class="panel-body">
                            <div>
                              <div document-list documents='absch_nfp.response.docs' filter='focalPoint' show-pagination='false' advance-filter="searchText" current-page='currentPage' document-Count='documentCount'></div>
                            </div>
                          </div>
                        </div>


                        <div class="panel">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            <h4>

			          <span style="color:#111;"><i class="fa fa-plus-circle"></i> </span>
			          <span style="color: #428BCA; ">CNA</span>
			         <span style="color:#111;">Competent National Authority ({{nationalAuthority}})</span>
			         </h4>
                          </a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                          <div class="panel-body">
                            <div document-list documents='absch_nfp.response.docs' filter='authority' show-pagination='false' advance-filter="searchText" current-page='currentPage' document-Count='documentCount'></div>
                          </div>
                        </div>

                        <div class="panel">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            <h4>
			          <span style="color:#111;"><i class="fa fa-plus-circle"></i> </span>
			          <span style="color: #428BCA; ">MSR</span>
			         <span style="color:#111;">Legislative, administrative or policy measures on access and benefit-sharing ({{nationalMeasure}})</span>
			         </h4>
                          </a>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                          <div class="panel-body">
                            <div document-list documents='absch_nfp.response.docs' filter='measure' show-pagination='false' advance-filter="searchText" current-page='currentPage' document-Count='documentCount'></div>
                          </div>
                        </div>


                        <div class="panel">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            <h4>
			          <span style="color:#111;"><i class="fa fa-plus-circle"></i> </span>
			          <span style="color: #428BCA; ">IRCC</span>
			         <span style="color:#111;">Permit or its equivalent constituting an internationally recognized certificate of compliance ({{Permit}})</span>
			         </h4>
                          </a>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                          <div class="panel-body">
                            <div document-list documents='absch_nfp.response.docs' filter='absPermit' show-pagination='false' advance-filter="searchText" current-page='currentPage' document-Count='documentCount'></div>
                          </div>
                        </div>


                        <div class="panel">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                            <h4>
			        <!--  <div class="numberCircle1" style="padding-left:16px;">
			         {{absCheckpoint}}
			         </div> -->
			          <span style="color:#111;"><i class="fa fa-plus-circle"></i> </span>
			          <span style="color: #428BCA; ">CP</span>
			         <span style="color:#111;">Checkpoint ({{absCheckpoint}})</span>
			         </h4>
                          </a>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                          <div class="panel-body">
                            <div document-list documents='absch_nfp.response.docs' filter='absCheckpoint' show-pagination='false' advance-filter="searchText" current-page='currentPage' document-Count='documentCount'></div>
                          </div>
                        </div>


                        <div class="panel">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                            <h4>
			        <!--  <div class="numberCircle1" style="padding-left:16px;">
			         {{absCheckpointCommunique}}
			         </div> -->
			          <span style="color:#111;"><i class="fa fa-plus-circle"></i> </span>
			          <span style="color: #428BCA; ">CPC</span>
			         <span style="color:#111;">Checkpoint Communiqué ({{absCheckpointCommunique}})</span>
			         </h4>
                          </a>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                          <div class="panel-body">
                            <div document-list documents='absch_nfp.response.docs' filter='absCheckpointCommunique' show-pagination='false' advance-filter="searchText" current-page='currentPage' document-Count='documentCount'></div>
                          </div>
                        </div>


                        <div class="panel">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                            <h4>
			         <!-- <div class="numberCircle1" style="padding-left:16px;">
			         {{database}}
			         </div> -->
			         <span style="color:#111;"><i class="fa fa-plus-circle"></i> </span>
			          <span style="color: #428BCA; ">NDB</span>
		         <span style="color:#111;">ABS National Databases and Websites ({{database}})</span>
			         </h4>
                          </a>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                          <div class="panel-body">
                            <div document-list documents='absch_nfp.response.docs' filter='database' show-pagination='false' advance-filter="searchText" current-page='currentPage' document-Count='documentCount'></div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <!-- end row -->
              </div>
              <!-- end container -->
            </div>
          </div>
        </div>
      </div>

      <!-- end controller -->
    </div>
  </div>
</div>
