<link href="/app/css/profiles.css" rel="stylesheet">
<link href="/app/css/find.css" rel="stylesheet">
<link href="/app/css/record.css" rel="stylesheet">
<link href="/app/libs/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
<script src="/app/views/profiles.html.js"></script>
<script src="/app/views/forms/view/record-loader.directive.js"></script>
<script src="/app/views/directives/document-list.partial.html.js"></script>

<script src="/app/views/forms/view/view-abs-checkpoint.directive.js"></script>
<script src="/app/views/forms/view/view-abs-checkpoint-communique.directive.js"></script>
<script src="/app/views/forms/view/view-abs-permit.directive.js"></script>
<script src="/app/views/forms/view/view-authority.directive.js"></script>
<script src="/app/views/forms/view/view-authority-reference.directive.js"></script>
<script src="/app/views/forms/view/view-contact.directive.js"></script>
<script src="/app/views/forms/view/view-contact-reference.directive.js"></script>
<script src="/app/views/forms/view/view-database.directive.js"></script>
<script src="/app/views/forms/view/view-measure.directive.js"></script>
<script src="/app/views/forms/view/view-organization.directive.js"></script>
<script src="/app/views/forms/view/view-organization-reference.directive.js"></script>
<script src="/app/views/forms/view/view-resource.directive.js"></script>
<script src="/app/views/forms/view/view-other.directive.js"></script>

<div ng-controller="ProfileController">

 <div class="container"> 
    <div class="row"  >
      <div class="span12"  style="padding-top:20px;">

	<br>
    <div class="alert alert-warning"> <i class="glyphicon glyphicon-warning-sign"></i> 
    <strong>This page is currently under construction. </strong>
    <br>Please email questions to: absch@cbd.int
    </div>


      		<div class="container ng-scope">

  	<div class="row top" style="padding-bottom:30px;">
  		<div style="position:absolute; top:100px; margin:auto; width:100%">
			<img src="/app/libs/mapsicon/all/{{code}}/1024.png" style="opacity:0.15">
		</div>

  		<div class="col-lg-7 col-md-6 col-sm-5">
			<span class="country-name">{{country.name.en}}</span>
			
		</div>
		<div class="col-lg-3 col-md-4 col-sm-5">

			<h3 style="padding:0;margin: 0 0 0 80px;white-space:nowrap;color:#1FA65D;">Nagoya Protocol on ABS</h3>
			<dl class="dl-horizontal">
				<dt>Signature</dt><dd>{{country.treaties.XXVII8b.signature}}</dd>
				<dt>Instrument</dt><dd>{{country.treaties.XXVII8b.instrument}}</dd>
				<dt>Deposit</dt></dt><dd>{{country.treaties.XXVII8b.deposit}}</dd>
				
			</dl>
		</div>

		<div class="col-lg-2 col-md-2 col-sm-2 text-right ">
           <div style="height:100px;" class="flag-icon-background flag-icon-{{code.toLowerCase()}}"></div>
		</div> 

		<div class="clearfix"></div>
<hr/>
<!--  	<div class="row" style="margin-top:12px; ">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="row text-center">
						<div class="col-sm-2" ></div>
						<div class="col-sm-1"><div class="numberCircle">8</div><div class="name">ABSCH-NFP</div></div>
						<div class="col-sm-1"><div class="numberCircle">4</div><div class="name">ABSCH-CNA</div></div>
						<div class="col-sm-1"><div class="numberCircle">2</div><div class="name">ABSCH-MSR</div></div>
						<div class="col-sm-1"><div class="numberCircle">1</div><div class="name">ABSCH-IRCC</div></div>
						<div class="col-sm-1"><div class="numberCircle">1</div><div class="name">ABSCH-CPC</div></div>
						<div class="col-sm-1"><div class="numberCircle">1</div><div class="name">ABSCH-CP</div></div>
						<div class="col-sm-1"><div class="numberCircle">1</div><div class="name">ABSCH-NDB</div></div>
						<div class="col-sm-1"><div class="numberCircle">1</div><div class="name">ABSCH-VLR</div></div>
						<div class="col-sm-2" ></div>
					</div>
				</div>
				
			</div> 
<hr/> -->
<div class="clearfix"></div>



  		<div class="col-sm-12" >

  			<div class="panel-group" id="accordion">
			  
			  <div class="panel" ng-show="absch_nfp.response.numFound > 0">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			         <h2> 
			         <div class="numberCircle" style="padding-left:16px;">		         	
			         {{nfpCount}}	<!-- {{absch_nfp.response.numFound}} -->
			         </div>
			        <!--   <span style="color:#111;"><i class="fa fa-plus-circle"></i> </span> -->
			          <span style="color: #428BCA; font-weight: bold;font-size:120%;">ABSCH-NFP</span> 
			         <span style="color:#111;">ABS National Focal Points</span>
			         </h2> 
			        </a>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in">
			      <div class="panel-body">
			       <!-- {{absch_nfp.response.docs}}-->			      		
					<div>
					<!-- <div document-list documents='absch_nfp.response.docs' filter='National Focal Point' show-pagination='false' ></div> -->
					<div document-list  documents='absch_nfp.response.docs' filter='National Focal Point' show-pagination='false'
						 current-page='currentPage' document-Count='documentCount' ></div>
					</div>
			      </div>
			    </div>
			  

				<div class="panel">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			         <h2> 
			         <div class="numberCircle" style="padding-left:16px;">		         	
			         {{nationalAuthority}}	<!-- {{absch_nfp.response.numFound}} -->
			         </div>
			          <!-- <span style="color:#111;"><i class="fa fa-plus-circle"></i> </span> -->
			          <span style="color: #428BCA; font-weight: bold;font-size:120%;">ABSCH-CNA</span> 
			         <span style="color:#111;">Competent National Authority</span>
			         </h2> 
			        </a>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse">
			      <div class="panel-body">			        
			        <div document-list  documents='absch_nfp.response.docs' filter='Competent National Authority' show-pagination='false'
						 current-page='currentPage' document-Count='documentCount' ></div>
			      </div>
			    </div>
			
			  <div class="panel">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			         <h2> 
			         <div class="numberCircle" style="padding-left:16px;">		         	
			         {{nationalMeasure}}	<!-- {{absch_nfp.response.numFound}} -->
			         </div>
			          <!-- <span style="color:#111;"><i class="fa fa-plus-circle"></i> </span> -->
			          <span style="color: #428BCA; font-weight: bold;font-size:120%;">ABSCH-MSR</span> 
			         <span style="color:#111;">Legislative, administrative or policy measures on access and benefit-sharing</span>
			         </h2>  
			        </a>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse">
			      <div class="panel-body">			       
			       <div document-list  documents='absch_nfp.response.docs' filter='National Measure' show-pagination='false'
						 current-page='currentPage' document-Count='documentCount' ></div>
			      </div>
			    </div>


			  <div class="panel">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
			         <h2> 
			         <div class="numberCircle" style="padding-left:16px;">		         	
			         {{Permit}}	<!-- {{absch_nfp.response.numFound}} -->
			         </div>
			          <!-- <span style="color:#111;"><i class="fa fa-plus-circle"></i> </span> -->
			          <span style="color: #428BCA; font-weight: bold;font-size:120%;">ABSCH-IRCC</span> 
			         <span style="color:#111;">Permit or its equivalent constituting an internationally recognized certificate of compliance</span>
			         </h2>  
			        </a>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse">
			      <div class="panel-body">			       
			       <div document-list  documents='absch_nfp.response.docs' filter='Permit' show-pagination='false'
						 current-page='currentPage' document-Count='documentCount' ></div>
			      </div>
			    </div>


			  <div class="panel">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
			         <h2> 
			         <div class="numberCircle" style="padding-left:16px;">		         	
			         {{absCheckpoint}}	<!-- {{absch_nfp.response.numFound}} -->
			         </div>
			          <!-- <span style="color:#111;"><i class="fa fa-plus-circle"></i> </span> -->
			          <span style="color: #428BCA; font-weight: bold;font-size:120%;">ABSCH-CP</span> 
			         <span style="color:#111;">Checkpoint</span>
			         </h2>  
			        </a>
			    </div>
			    <div id="collapseFive" class="panel-collapse collapse">
			      <div class="panel-body">			       	
			       	<div document-list  documents='absch_nfp.response.docs' filter='absCheckpoint' show-pagination='false'
						 current-page='currentPage' document-Count='documentCount' ></div>
			      </div>
			    </div>


			  <div class="panel">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
			         <h2> 
			         <div class="numberCircle" style="padding-left:16px;">		         	
			         {{absCheckpointCommunique}}	<!-- {{absch_nfp.response.numFound}} -->
			         </div>
			          <!-- <span style="color:#111;"><i class="fa fa-plus-circle"></i> </span> -->
			          <span style="color: #428BCA; font-weight: bold;font-size:120%;">ABSCH-CPC</span> 
			         <span style="color:#111;">Checkpoint Communiqué</span>
			         </h2>  
			        </a>
			    </div>
			    <div id="collapseSix" class="panel-collapse collapse">
			      <div class="panel-body">			       	
			       	<div document-list  documents='absch_nfp.response.docs' filter='absCheckpointCommunique' show-pagination='false'
						 current-page='currentPage' document-Count='documentCount' ></div>
			      </div>
			    </div>


			  <div class="panel">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
			         <h2> 
			         <div class="numberCircle" style="padding-left:16px;">		         	
			         {{Unknow}}	<!-- {{absch_nfp.response.numFound}} -->
			         </div>
			          <!-- <span style="color:#111;"><i class="fa fa-plus-circle"></i> </span> -->
			          <span style="color: #428BCA; font-weight: bold;font-size:120%;">ABSCH-NDB</span> 
			         <span style="color:#111;">ABS National Databases and Websites</span>
			         </h2>  
			        </a>
			    </div>
			    <div id="collapseSeven" class="panel-collapse collapse">
			      <div class="panel-body">
			       	<div document-list  documents='absch_nfp.response.docs' filter='Unknow' show-pagination='false'
						 current-page='currentPage' document-Count='documentCount' ></div>
			      </div>
			    </div>


			  <div class="panel">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
			         <h2> 
			         <div class="numberCircle" style="padding-left:16px;">		         	
			         {{resource}}	<!-- {{absch_nfp.response.numFound}} -->
			         </div>
			          <!-- <span style="color:#111;"><i class="fa fa-plus-circle"></i> </span> -->
			          <span style="color: #428BCA; font-weight: bold;font-size:120%;">ABSCH-VLR</span> 
			         <span style="color:#111;">Virtual Library Record</span>
			         </h2>  
			        </a>
			    </div>
			    <div id="collapseEight" class="panel-collapse collapse">
			      <div class="panel-body">			        	
			        	<div document-list  documents='absch_nfp.response.docs' filter='resource' show-pagination='false'
						 current-page='currentPage' document-Count='documentCount' ></div>
			      </div>
			    </div>

			  </div>
			</div> 

		</div>

    </div> <!-- end row -->
</div> <!-- end container -->
</div> <!-- end controller -->