<div>

<style>
  .red{background-color:#ccc!important;}
</style>



  <div class="row">
      <div class="col-xs-10" >
        <span ng-click="statusFilter=null" class="btn btn-info"> 
        <i ng-hide="statusFilter" class="glyphicon glyphicon-ok"></i> All <span class="badge badge-default">
        {{(records | filter:schemaFilter).length}}</span></span>
        <span ng-click="statusFilter=isRequest" class="btn btn-danger"> 
        <i ng-show="statusFilter==isRequest" class="glyphicon glyphicon-ok"></i> Requests <span class="badge badge-default">{{(records | filter:schemaFilter | filter:isRequest).length}}</span></span>
        <span ng-click="statusFilter=isPublished" class="btn btn-success"> 
        <i ng-show="statusFilter==isPublished" class="glyphicon glyphicon-ok"></i> Published  <span class="badge badge-default">{{(records | filter:schemaFilter | filter:isPublished).length}}</span></span>
        <span ng-click="statusFilter=isDraft" class="btn btn-default btn-draft" style="color:#fff">
        <i ng-show="statusFilter==isDraft" class="glyphicon glyphicon-ok"></i> Draft  <span class="badge badge-default" style="color:#999">{{(records | filter:schemaFilter | filter:isDraft).length}}</span></span>
        <input type="text" ng-model="keywords" placeholder=" Keyword " class="form-control keyword" style="width:160px;display:inline;">
      </div>
      <div class="col-xs-2 pull-right">
        <span style="font-size: 16px; color: white;margin:0;padding:0;float:right;">
        <a ng-click="newDoc(schema, null)" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add new</a></span>
      </div>
  </div>

  <p></p>
<div class="row" >
  <div class="col-lg-12 col-md-12 col-sm-12" >        
        <div ng-show="records" class="row table table-striped table-condensed" style="margin:0px;min-height:30px;border-bottom:5px #333 solid;">
          <div class="col-lg-3 col-md-3 col-sm-3">Title</div>
          <div class="col-lg-3 col-md-3 col-sm-3">Created</div>
          <div class="col-lg-3 col-md-3 col-sm-3">last Updated</div>
          <div class="col-lg-3 col-md-3 col-sm-3 pull-right">{{filteredRecords.length}} record(s)</div>
        </div>

        <div ng-show="records" class="row table table-striped table-condensed" style="margin:0px;padding-top:10px; border-bottom:2px #333;solid"
          ng-repeat="record in (filteredRecords = (records | filter:schemaFilter | filter:statusFilter | filter:keywords | orderBy:'-createdOn'))">
           <div class="col-lg-12 col-md-12 col-sm-12" >
              <div class="row">
                          <div class="col-lg-3 col-md-3 col-sm-3">
                               <!-- <b>{{record.type|schemaName}}</b><br/> -->
                                <a ng-click="loadDocument(record); displayDetails = !displayDetails"  ng-show="record.documentID">
                                <h4>{{(record.workingDocumentTitle||record.title)|lstring}}</h4></a>

                                <span ng-hide="record.documentID">
                                
                                
                                  <a href="" ng-click="edit(record)"><h4><span style="font-size:12px;font-weight:bold;color:#333;"> [new] </span> 
                                  {{(record.workingDocumentTitle||record.title)|lstring}}</h4></a>
                                
                                </span> 
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3">
                               <div ng-show="record.createdBy">
                                <a style="color:#666" href="mailto:{{record.createdBy.email}}"><strong>{{record.createdBy.firstName}} {{record.createdBy.lastName}}</strong></a>
                                <span style="font-size:10px;white-space:nowrap;">{{record.createdOn | date:"dd MMM yyyy h:mm a (Z)" }}</span>
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3">
                             <!--  <a ng-show="isPublished(record)" ng-click="loadDocument(record); displayDetails = !displayDetails" class="btn btn-xs btn-success" title="Published">P</a>
                              <a ng-show="isRequest(record)"   href="/register/tasks/{{getWorkflowID(record)}}" class="btn btn-xs btn-danger" title="Request">R</a> -->
                               <a ng-show="isPublished(record)" ng-click="loadDocument(record); displayDetails = !displayDetails;displayRequest =false" class="btn btn-xs btn-success" title="Published">P</a>
                              <a ng-show="isRequest(record)" ng-click="displayDetails =false; displayRequest = !displayRequest; formLoading=false"  class="btn btn-xs btn-danger" title="                                Request">R</a>                            
                              <a ng-show="isDraft(record)" ng-click="edit(record)" class="btn btn-xs btn-default btn-draft" title="Draft" style="color:#fff">D</a>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3 pull-right">
                               <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-click="edit(record)"><i class="fa fa-edit"></i></button>
                                
                                <button ng-class="{'red':(record.type == 'absPermit' && isPublished(record))}" type="button" class="btn btn-default" ng-click="askDelete(record)"><i class="fa fa-trash-o"></i></button>

                              </div>
                          </div>
              </div>
              <div class="row" ng-show="displayDetails">
                <div class="col-lg-12 col-md-12 col-sm-12" style="background-color:#fff !important; padding-bottom:10px">
                   <a  class="title" >                    
                    <div  record-loader document="record.data" class="record-body" ></div>
                  </a>
                </div>
            </div>
             <div class="row" ng-show="displayRequest">
                 <div class="col-lg-12 col-md-12 col-sm-12" style="background-color:#fff !important; padding-bottom:10px">
                    <a  class="title" >                    
                     <div  task-id class="record-body" load-task-data='formLoading' workflow-task-id="{{getWorkflowID(record)}}" ></div>
                     <!-- href="/register/tasks/{{getWorkflowID(record)}}" -->
                  </a>
                </div>
           </div>
        </div>
  </div>
</div>


 <!-- <div ng-show="displayDetails" record-loader document="document.data" class="record-body" ></div> -->
                                  


  <div id="deleteRecordModel" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">What do you want to delete? <i ng-show="loading" class="fa fa-spinner fa-spin"></i></h4>
        </div>
        <div class="modal-body" ng-hide="cantDelete">

          <div ng-show="isDraft(recordToDelete)" class="well">
            <button type="button" class="btn btn-warning pull-right" ng-disabled="loading" ng-click="deleteDraft(recordToDelete)">Delete the draft</button>
            <em>Draft {{recordToDelete.documentID||'[new]'}}</em>
            <p><b>{{recordToDelete.workingDocumentTitle|lstring}}</b></p>
            <p>{{recordToDelete.workingDocumentSummary|lstring}}</p>
          </div>
        
          <div ng-show="isPublished(recordToDelete)" class="well">
            <button type="button" class="btn btn-danger pull-right" ng-disabled="loading" ng-click="deleteRecord(recordToDelete)" data-toggle="tooltip" data-placement="top" title="Note: Any pending draft will also be deleted">Unpublish the record</button>
            <em>Published record {{recordToDelete.documentID}}</em>
            <p><b>{{recordToDelete.title|lstring}}</b></p>
            <p>{{recordToDelete.summary|lstring}}</p>
          </div>

        </div>
        <div class="modal-body" ng-show="cantDelete">

          Not allow to delete published ABSCH-IRCC records. You can only modify them.

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->  


</div>
