<div ng-class="{'watermark' : documentInfo.Realm && documentInfo.Realm.toUpperCase()!= 'ABS'}">

    <div class="row" style="padding-left:0px;">
        <div class="alert alert-danger" ng-show="documentInfo.Realm && documentInfo.Realm.toUpperCase()!= 'ABS'">
            <h4>¡Advertencia!</h4>
            <p>Este pdf se ha generado a partir del sitio web de prueba del Centro de Intercambio de la Información sobre APB.<p>
        </div>

        <div id="printContentHeader" ng-include="'view-print-header.html'"></div>

        <div class="row1">
            <div class="col-xs-12 bg-green">
                <h1 class="color-litegreen  text-center" style="padding:0;font-size:20;">
                    <div class="color-white" ng-bind="documentInfo |uniqueID:true"></div>Certificado de cumplimiento reconocido internacionalmente constituido a partir de información sobre el permiso o su equivalente dado a conocer en el Centro de Intercambio de Información sobre APB</h1>
            </div>

        </div>

        <div class="row1">
            <div class="col-xs-12" style="padding:10px;">De conformidad con el párrafo 2 del artículo 17 del Protocolo de Nagoya sobre Acceso y Participación en los Beneficios, un permiso o su equivalente emitido conforme al párrafo 3 e) del artículo 6 y dado a conocer en el Centro de Intercambio de Información sobre Acceso y Participación en los Beneficios constituirá un certificado de cumplimiento reconocido internacionalmente.</div>
        </div>

        <div class="col-xs-12 " style="padding:0px;margin:0px">
            <div class="alert alert-danger" ng-show="versions && versions[0].body.amendmentIntent==1">
                <div class="text-center">
                    <h1 class="color-white">ESTE CERTIFICADO HA SIDO REVOCADO Y CARECE DE VALIDEZ</h1>
                    <p>Para mayor información, véase la historia de enmiendas.</p>
                </div>
            </div>

            <legend>Información general</legend>
            <div class="row top-border bg-litegreen">

                <div class="clearfix"></div>
                <div class="col-xs-12">
                    <label>País de la emisión</label>
                    <div class="text" ng-bind="document.government|term |uppercase"></div>
                </div>


                <div class="clearfix"></div>
                <div class="col-xs-12">
                    <label>Enlace de verificación (ver la última versión)</label>
                    <div class="text"><a rel="noopener" href="https://absch.cbd.int/database/{{documentInfo | uniqueIDWithoutRevision}}" ng-if="documentInfo.Realm && documentInfo.Realm.toUpperCase()== 'ABS'">https://absch.cbd.int/database/{{documentInfo|uniqueIDWithoutRevision}}</a> <a rel="noopener" href="https://training-absch.cbd.int/database/{{documentInfo | uniqueIDWithoutRevision}}" ng-if="documentInfo.Realm && documentInfo.Realm.toUpperCase()=='ABS-TRG'">https://training-absch.cbd.int/database/{{documentInfo|uniqueIDWithoutRevision}}</a> <a rel="noopener" href="https://absch.cbddev.xyz/database/{{documentInfo | uniqueIDWithoutRevision}}" ng-if="documentInfo.Realm && documentInfo.Realm.toUpperCase()== 'ABS-DEV'">https://absch.cbddev.xyz/database/{{documentInfo|uniqueIDWithoutRevision}}</a></div>
                </div>

                <div class="clearfix"></div>
                <div class="col-xs-12">
                    <label>Identificador único del Centro de Información sobre APB</label>
                    <div class="text" ng-bind="documentInfo|uniqueID:true"></div>
                </div>
            </div>

            <legend>Autoridad emisora</legend>
            <div class="row top-border bg-litegreen">
                <div class="col-xs-12">
                    <div class="text">
                        <div view-record-reference ng-model="document.absCNA" locale="locale" collapse="false"></div>
                    </div>
                </div>
            </div>

            <legend>Información sobre el permiso o su equivalente</legend>
            <div class="row top-border bg-litegreen">

                <div class="clearfix"></div>
                <div class="col-xs-12">
                    <label>Número de referencia del permiso o su equivalente</label>
                    <div class="text" ng-bind="document.title| lstring:locale"></div>
                </div>

                <div class="col-xs-12" ng-if="document.referenceToNationalPermit">
                    <label>Referencias o identificadores nacionales adicionales</label>
                    <div class="text" ng-bind-html="renderHtml(document.referenceToNationalPermit)"></div>
                </div>

                <div class="clearfix"></div>
                <div class="col-xs-6">
                    <div ng-show="document.dateOfIssuance">
                        <label>Fecha de emisión del permiso o su equivalente</label>
                        <div class="text" ng-bind="document.dateOfIssuance | formatDate"></div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div ng-show="document.dateOfExpiry">
                        <label>Fecha de caducidad del permiso o su equivalente</label>
                        <div class="text" ng-bind="document.dateOfExpiry | formatDate"></div>
                    </div>
                </div>

                <div ng-show="document.relatedIRCCs">
                    <label>Identificador(es) único(s) del/de los certificado(s) de cumplimiento reconocido(s) internacionalmente</label>
                    <div class="text" ng-repeat="item in document.relatedIRCCs"><span view-record-reference ng-model="item.identifier" locale="locale" collapse="false"></span></div>
                </div>

            </div>

            <legend>Información sobre el consentimiento fundamentado previo (CFP)</legend>
            <div class="row top-border bg-litegreen">

                <div class="clearfix"></div>
                <div class="col-xs-12">
                    <label>Confirmación de que se obtuvo o fue otorgado el consentimiento fundamentado previo (CFP)</label>
                    <div class="text">SÍ</div>
                </div>

                <div class="clearfix"></div>
                <div class="col-xs-12">
                    <label>Proveedor: <span class="help-block">la persona o entidad que posee el derecho a otorgar el acceso a recursos genéticos de conformidad con la legislación nacional.</span></label>
                    <div class="text" ng-show="!document.providersConfidential" ng-repeat="provider in document.providers">
                        <div view-record-reference ng-model="provider" locale="locale" collapse="false"></div>
                    </div>
                    <div ng-show="document.providersConfidential">
                        <div class="text confidential">Información confidencial</div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="col-xs-12">
                    <label>Entidad a la que se otorgó el CFP</label>
                    <div class="text" ng-repeat="consent in document.entitiesToWhomPICGranted" ng-show="!document.entitiesToWhomPICGrantedConfidential">
                        <div view-record-reference ng-model="consent" locale="locale" collapse="false"></div>
                    </div>
                    <div ng-show="document.entitiesToWhomPICGrantedConfidential">
                        <div class="text confidential">Información confidencial</div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="col-xs-12">
                    <div ng-show="document.picInformation">
                        <label>Información adicional sobre el consentimiento fundamentado previo</label>
                        <div class="text" ng-bind-html="document.picInformation | lstring:locale"></div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="col-xs-12">
                    <div ng-show="document.picDocuments">
                        <label>Documentos o enlaces adicionales sobre el consentimiento fundamentado previo</label>
                        <div class="text">
                            <ul style="list-style-type: none;padding-left:3px;">
                                <li ng-repeat="item in document.picDocuments"><a rel="noopener" translation-url target="{{target}}" ng-href="{{item.url|encodeURI}}"><i class="fa fa-file"></i> {{item.name||item.url}}</a> <i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <legend>Información sobre las condiciones mutuamente acordadas (CMA)</legend>
            <div class="row top-border bg-litegreen">

                <div class="col-xs-12">
                    <label>Confirmación de que se han establecido condiciones mutuamente acordadas (CMA)</label>
                    <div class="text">SÍ</div>
                </div>

                <div class="clearfix"></div>
                <div class="col-xs-12">
                    <div ng-show="document.matEstablished">
                        <label>Información adicional sobre las condiciones mutuamente acordadas</label>
                        <div class="text" ng-bind-html="document.matInformation | lstring:locale"></div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="col-xs-12">
                    <div ng-show="document.matDocuments">
                        <label>Documentos o enlaces adicionales sobre las condiciones mutuamente acordadas</label>
                        <div class="text">
                            <ul style="list-style-type: none;padding-left:3px;">
                                <li ng-repeat="item in document.matDocuments"><a rel="noopener" translation-url target="{{target}}" ng-href="{{item.url|encodeURI}}"><i class="fa fa-file"></i> {{item.name||item.url}}</a> <i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <legend>Asunto</legend>
            <div class="row top-border bg-litegreen">

                <div class="clearfix"></div>
                <div class="col-xs-12">
                    <label>Asunto o recurso(s) genético(s) abarcados:</label>
                    <div class="text" ng-show="!document.subjectMatterConfidential"><span ng-bind-html="renderHtml(document.subjectMatter)"></span></div>
                    <div ng-show="document.subjectMatterConfidential">
                        <div class="text confidential">Información confidencial</div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="col-xs-12" ng-show="document.specimens || document.taxonomies || document.gisFiles ">
                    <label>Enlaces adicionales con información sobre recursos genéticos:</label>
                    <div class="text">
                        <div class="inner-label" ng-show="document.specimens">Datos sobre el espécimen</div>
                        <ul>
                            <li ng-repeat="item in document.specimens"><a rel="noopener" translation-url target="{{target}}" ng-href="{{item.url|encodeURI}}">{{item.name||item.url}}</a> <i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i></li>
                        </ul>

                        <div class="inner-label" ng-show="document.taxonomies">Datos taxonómicos</div>
                        <ul>
                            <li ng-repeat="item in document.taxonomies"><a rel="noopener" translation-url target="{{target}}" ng-href="{{item.url|encodeURI}}">{{item.name||item.url}}</a> <i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i></li>
                        </ul>
                        <div class="inner-label" ng-show="document.gisFiles">Datos sobre coordenadas geográficas</div>
                        <ul>
                            <li ng-repeat="item in document.gisFiles"><a rel="noopener" translation-url target="{{target}}" ng-href="{{item.url|encodeURI}}">{{item.name||item.url}}</a> <i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i></li>
                        </ul>
                    </div>
                </div>
            </div>

            <legend>Información sobre la utilización del/de los recurso(s) genético(s)</legend>
            <div class="row top-border bg-litegreen">

                <div class="col-xs-12">
                    <label>Tipo de uso permitido por el permiso o su equivalente</label>
                    <div class="text" ng-class="{'confidential':document.usagesConfidential}"><span ng-show="!document.usagesConfidential" ng-repeat="term in document.usages"><span ng-bind="term|term"></span><span ng-bind="$last ? '' : ' and '"></span></span> <span ng-show="document.usagesConfidential">Información confidencial</span></div>
                </div>

                <div class="clearfix"></div>
                <div class="col-xs-12" ng-if="document.usagesDescription">
                    <label>Usos especificados cubiertos por el permiso o su equivalente o restricciones para el uso:</label>
                    <div class="text"><span ng-bind-html="renderHtml(document.usagesDescription)"></span></div>
                </div>

                <div class="clearfix"></div>
                <div class="col-xs-12" ng-if="document.thirdPartyTransferCondition">
                    <label>Condiciones para la transferencia a terceras partes:</label>
                    <div class="text" ng-bind-html="renderHtml(document.thirdPartyTransferCondition)"></div>
                </div>
            </div>

            <div ng-if="document.permitDescription || document.permitFiles">
                <legend>Documentos e información adicional</legend>
                <div class="row top-border bg-litegreen">
                    <div class="col-xs-12">
                        <label>Copia del permiso o su equivalente, u otros documentos pertinentes de acceso abierto:</label>
                        <div class="text"><span ng-bind-html="renderHtml(document.permitDescription)"></span></div>
                        <ul style="list-style-type: none;" class="text" class="text" ng-show="document.permitFiles">
                            <li ng-repeat="item in document.permitFiles"><strong ng-bind="item.name"></strong> (https://absch.cbd.int/{{item.url}})</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-if="document.relevantInformation || document.relevantDocuments">
                <div class="clearfix"></div>
                <div class="col-xs-12" ng-show="document.relevantInformation || document.relevantDocuments">
                    <label>Información y enlaces adicionales:</label>
                    <div class="text">
                        <div ng-bind-html="renderHtml(document.relevantInformation)"></div>
                    </div>
                    <ul style="list-style-type: none;" class="text" class="text" ng-show="document.relevantDocuments">
                        <li ng-repeat="item in document.relevantDocuments"><strong ng-bind="item.name"></strong> (https://absch.cbd.int/{{item.url}})</span>
                        </li>
                    </ul>

                </div>
            </div>

            <legend>Historia de las enmiendas</legend>
            <div class="row top-border bg-litegreen">
                
                <table class="table">
                    <tr>
                        <td class="col-xs-2">
                            <label>Fecha</label>
                        </td>
                        <td class="col-xs-2">
                            <label>Medidas</label>
                        </td>
        
                        <td class="col-xs-4">
                            <label>Observaciones</label>
                        </td>
                        <td class="col-xs-4">
                            <label>Identificador único</label>
                        </td>
                    </tr>
                    
                    <tr ng-repeat="document in versions | orderBy:'updatedOn':true" class="history-text" style="border-color:#FFF;margin:3;padding:3;">                       
                        <td class="col-xs-2 history-text-date" ><strong ng-bind="document.createdOn |formatDateWithTime"></strong></td>
                        <td class="col-xs-2"><span ng-show="document.body.amendmentIntent==1"><span class="bold color-red">REVOCADO</span></span> <span ng-show="((versions.length>1 && document.body.amendmentIntent!=1 && document.revision < versions.length))"><span class="bold color-green">VERSIÓN ANTIGUA</span></span> <span ng-show="versions.length==1 || (versions.length>1 && versions.length == document.revision && document.body.amendmentIntent!=1)"><span class="bold color-green">VERSIÓN ACTUAL</span></span></td>
                        <td class="col-xs-4"><span ng-bind-html="document.body.amendmentDescription| lstring:locale"></span> <span ng-show="document.body.amendmentIntent==undefined">Información sobre el permiso publicada en el Centro de Intercambio de Información sobre APB y certificado constituido.</span></td>
                        <td class="col-xs-4" ng-bind="document | uniqueID">
                        </td>
                    </tr>

                </table>
            </div>
           

            <legend>Información adicional</legend>
            <table class="top-border">
                <tr>
                    <td class="col-md-6" width="50%" style="font-size:12px;text-align: justify">Las preguntas sobre el permiso o su equivalente que constituye un certificado de cumplimiento reconocido internacionalmente deben formularse a la autoridad nacional competente que emitió el permiso o su equivalente. En el Centro de Intercambio de Información sobre APB ( <a rel="noopener" href="https://absch.cbd.int/">https://absch.cbd.int/</a>) tal vez se encuentre disponible información adicional sobre el permiso o su equivalente. <br> <br> Las preguntas sobre el Protocolo de Nagoya sobre acceso a los recursos genéticos y participación justa y equitativa en los beneficios que se deriven de su utilización o sobre el funcionamiento del Centro de Intercambio de Información sobre Acceso y Participación en los Beneficios pueden dirigirse a la Secretaría del Convenio sobre la Diversidad Biológica.</td>
                    <td class="col-md-6" style="font-size:12px;vertical-align: top"><strong>Secretaría del Convenio sobre la Diversidad Biológica</strong> <br/> 413 rue Saint-Jacques, suite 800 <br/> Montreal, Quebec, H2Y 1N9 <br/> Canadá <br/> Fax: +1 514 288- 6588 <br/> Correo electrónico: <a rel="noopener" href="mailto:secretariat@cbd.int" style="color:white;">secretariat@cbd.int</a></td>
                </tr>
            </table>
        </div>
    </div>

</div>