<div id="SubmitPage">
     <h4 class="visible-xs" style="padding:3px;margin-top:0;border-bottom:1px solid #ddd;">
         Record overview
          <div class="row bg-white" style="font-size:12px;padding:5x 0;margin:0;">   
            <span class="pull-right"><span class="label label-danger">&nbsp;</span> Requests</span>
            <span class="pull-right">&nbsp;&nbsp;<span class="label label-default">&nbsp;</span> Draft records&nbsp;&nbsp;</span>
            <span class="pull-right"><span class="label label-success">&nbsp;</span> Published records</span>
          </div>
     </h4>

      <div class="row hidden-xs" style="padding:0;margin:0 0 10px 0;border-bottom:1px solid #ddd;">
        <div class="col-sm-6 col-md-9"><h4 style="padding:0;margin:0;">Record overview</h4></div>
        <div class="col-sm-2 col-md-1 text-right bold"><span class="label label-success"></span> Published</div>
        <div class="col-sm-2 col-md-1 text-right bold"><span class="label label-default"></span> Drafts</div>
        <div class="col-sm-2 col-md-1 text-right bold"><span class="label label-danger"></span> Requests</div> 
      
      </div>
      
      
   
     
    <div id="menuPlaceholder"></div>
    
    <div class="row  bg-grey" style="padding:0;margin:20px 0 5px 0;">
        <div class="col-xs-12 bold"><span class="color-orange">Reference records</span>
            
            <div class="helpinfo help-info"> <i class="fa fa-info-circle helpicon"></i> Reference records contain information relevant to the Protocol (but not reported as part of a Party’s obligations under the
            Protocol). This information can be made available to the ABS Clearing-House by any registered user
            (including representatives of Governments, indigenous and local communities, academia, nongovernmental organizations, research
            institutions, business representatives, etc.). All reference records are validated by the Secretariat prior to being made available in the ABS
            Clearing-House.</div>
            
        </div>
    </div>
    <div class="row link1"  style="padding:0;margin:0 -3px 5px -3px">
        <div class="col-xs-9 col-sm-6 col-md-9">
            <span ng-click="gotoNew($event,'resource')" class="label color-blue bg-litegrey linkDark" style="margin: 0 0 0 1px;"> <i class="fa fa-plus"></i></span>
            <a href="#" ng-click="gotoList($event,'resource')" class="color-darkgrey" style="font-weight:500;"> Virtual Library Record (VLR) - Reference material, literature and capacity-building resources</a>
        </div> 
        <div class="col-xs-1 col-sm-2 col-md-1 text-right" ><a ng-href="/register/VLR/status/published" class="label label-success" ng-class="{'bg-litegrey': facets('resource','publish')===0}">{{facets('resource','publish')}}</a> </div>  
        <div class="col-xs-1 col-sm-2 col-md-1 text-right"><a ng-href="/register/VLR/status/drafts" class="label label-default" ng-class="{'bg-litegrey': facets('resource','draft')===0}">{{facets('resource','draft')}}</a></div> 
        <div class="col-xs-1 col-sm-2 col-md-1 text-right"><a ng-href="/register/VLR/status/requests" class="label label-danger" ng-class="{'bg-litegrey': facets('resource','request')===0}">{{facets('resource','request')}}</a></div> 
    </div>
    
    <!--<div class="row link1"  style="padding:0;margin:0;">
        <div class="col-xs-9 col-sm-6 col-md-9">
             <span ng-click="gotoNew($event,'capacityBuildingResource')" class="label color-blue bg-litegrey linkDark" style="margin: 0 0 0 1px;"> <i class="fa fa-plus"></i></span>
            <a href="#" ng-click="gotoList($event,'capacityBuildingResource')" class="hidden-xs">Capacity Building Resources (CBR)</a>
            <span class="visible-xs bold"><a href="#" ng-click="gotoList($event,'capacityBuildingResource')">CBR </a><span class="helpinfoInline fa fa-info-circle" data-toggle="tooltip" data-html="true" data-title="Capacity-building Resources (CBR)" data-container="body"></span></span></div> 
        <div class="col-xs-1 col-sm-2 col-md-1 text-right" ><a ng-href="/register/CBR/status/published" class="label label-success" ng-class="{'bg-litegrey': facets('capacityBuildingResource','publish')===0}">{{facets('capacityBuildingResource','publish')}}</a> </div>  
        <div class="col-xs-1 col-sm-2 col-md-1 text-right"><a ng-href="/register/CBR/status/drafts" class="label label-default" ng-class="{'bg-litegrey': facets('capacityBuildingResource','draft')===0}">{{facets('capacityBuildingResource','draft')}}</a></div> 
        <div class="col-xs-1 col-sm-2 col-md-1 text-right"><a ng-href="/register/CBR/status/requests" class="label label-danger" ng-class="{'bg-litegrey': facets('capacityBuildingResource','request')===0}">{{facets('capacityBuildingResource','request')}}</a></div> 
    </div>-->
    
    <div class="row link1"  style="padding:0;margin:0 -3px 5px -3px">
       <div class="col-xs-9 col-sm-6 col-md-9">
            <span ng-click="gotoNew($event,'capacityBuildingInitiative')" class="label color-blue bg-litegrey linkDark" style="margin: 0 0 0 1px;"> <i class="fa fa-plus"></i></span>
            <a href="#" ng-click="gotoList($event,'capacityBuildingInitiative')" class="color-darkgrey" style="font-weight:500;">Capacity Building Initiatives (CBI)</a>
        </div> 
        <div class="col-xs-1 col-sm-2 col-md-1 text-right" ><a ng-href="/register/CBI/status/published" class="label label-success" ng-class="{'bg-litegrey': facets('capacityBuildingInitiative','publish')===0}">{{facets('capacityBuildingInitiative','publish')}}</a> </div>  
        <div class="col-xs-1 col-sm-2 col-md-1 text-right"><a ng-href="/register/CBI/status/drafts" class="label label-default" ng-class="{'bg-litegrey': facets('capacityBuildingInitiative','draft')===0}">{{facets('capacityBuildingInitiative','draft')}}</a></div> 
        <div class="col-xs-1 col-sm-2 col-md-1 text-right"><a ng-href="/register/CBI/status/requests" class="label label-danger" ng-class="{'bg-litegrey': facets('capacityBuildingInitiative','request')===0}">{{facets('capacityBuildingInitiative','request')}}</a></div> 
    </div>
    
    <div class="row link1"  style="padding:0;margin:0 -3px 5px -3px">
       <div class="col-xs-9 col-sm-6 col-md-9">
             <span ng-click="gotoNew($event,'modelContractualClause')" class="label color-blue bg-litegrey linkDark" style="margin: 0 0 0 1px;"> <i class="fa fa-plus"></i></span>
            <a href="#" ng-click="gotoList($event,'modelContractualClause')" class="color-darkgrey" style="font-weight:500;"> Model Contractual Clauses, Codes of Conduct, Guidelines, Best Practices and/or Standards (A19A20)</a>
        </div> 
        <div class="col-xs-1 col-sm-2 col-md-1 text-right" ><a ng-href="/register/A19A20/status/published" class="label label-success" ng-class="{'bg-litegrey': facets('modelContractualClause','publish')===0}">{{facets('modelContractualClause','publish')}}</a> </div>  
        <div class="col-xs-1 col-sm-2 col-md-1 text-right"><a ng-href="/register/A19A20/status/drafts" class="label label-default" ng-class="{'bg-litegrey': facets('modelContractualClause','draft')===0}">{{facets('modelContractualClause','draft')}}</a></div> 
        <div class="col-xs-1 col-sm-2 col-md-1 text-right"><a ng-href="/register/A19A20/status/requests" class="label label-danger" ng-class="{'bg-litegrey': facets('modelContractualClause','request')===0}">{{facets('modelContractualClause','request')}}</a></div> 
    </div>
    
    <div class="row link1"  style="padding:0;margin:0 -3px 5px -3px">
        <div class="col-xs-9 col-sm-6 col-md-9">
             <span ng-click="gotoNew($event,'communityProtocol')" class="label color-blue bg-litegrey linkDark" style="margin: 0 0 0 1px;"> <i class="fa fa-plus"></i></span>
            <a href="#" ng-click="gotoList($event,'communityProtocol')" class="color-darkgrey" style="font-weight:500;">Community protocols and procedures and customary laws (CPP)</a>
        </div>
        <div class="col-xs-1 col-sm-2 col-md-1 text-right" ><a ng-href="/register/CPP/status/published" class="label label-success" ng-class="{'bg-litegrey': facets('communityProtocol','publish')===0}">{{facets('communityProtocol','publish')}}</a> </div>  
        <div class="col-xs-1 col-sm-2 col-md-1 text-right"><a ng-href="/register/CPP/status/drafts" class="label label-default" ng-class="{'bg-litegrey': facets('communityProtocol','draft')===0}">{{facets('communityProtocol','draft')}}</a></div> 
        <div class="col-xs-1 col-sm-2 col-md-1 text-right"><a ng-href="/register/CPP/status/requests" class="label label-danger" ng-class="{'bg-litegrey': facets('communityProtocol','request')===0}">{{facets('communityProtocol','request')}}</a></div> 
    </div>
    
    
</div>   
 