<div id="Announcements">

    <div class=" bs5 row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="bs5 col" ng-repeat="article in articles | orderBy:'meta.createdOn':true">
            <div style="height:256px" class="bs5 card m-3 m-lg-3 position-relative shadow" style="cursor: pointer;"><div class="bs5"
                    style="width:100%;height:120px;background-repeat: no-repeat; background-size: cover; background-image: url('{{::getSizedImage(article.coverImage.url, '400x400')}}');"></div>
        
                <div class="bs5 card-body border-top" style="min-height:120px;"><h4 class="fw-bold"></h4><p class="bs5 fs-5 card-text mt-3"></p>
                </div>
            </div>
        </div>
     </div>

</div>

