<div>
    <div class="record-Options-div" style="display:inline-block;margin-right:5px;margin-bottom:5px;">
        <div class="visible-xs" style="margin-left: 50px; margin-bottom: 5px"></div>
        <div class="pull-right hidden-xs"><div class="btn-group  btn-group-xs" role="group" ng-if="internalDocument.header.languages.length>1">
                <button type="button" class="btn btn-lang btn-default btn-xs lang-tooltip" ng-class="{'btn-info' : currentLocale==loc}" ng-repeat="loc in internalDocument.header.languages"
                    ng-click="setCurrentLocale(loc)" data-bs-toggle="tooltip" data-title="{{termLocales[loc]|term}}"></button>
            </div>            
        </div>

    </div>
</div>
