<div class="row" style="margin-bottom:15px;"  ng-hide="hideEverything">
    <div class="col-xs-12">
        <style> .active { position: absolute!important; top: 0!important; left: 0!important; padding: 0; margin: 0; } </style><span block-region activate="isUpdating"></span><div class="alert alert-danger" style="border-color:#DDD; background-color: #f5f5f5;" role="alert">
            <h3 class="color-black;" style="margin-top:0;border-bottom:1px solid #999;"><span ng-if="workflow.type.name != 'delete-record'">Опубликование</span> <span ng-if="workflow.type.name == 'delete-record'">Удаление</span> Запрос</h3>
            <div><span style="font-size:12px">Автор запроса:</span> <span class="color-black"><span class="bold">{{workflow.createdBy_info.firstName + ' ' + workflow.createdBy_info.lastName}}</span> <a rel="noopener" translation-url  ng-href="mailTo:{{workflow.createdBy_info.email|encodeURIComponent}}" class="color-blue">({{workflow.createdBy_info.email}})</a> <span></span> <span  style="text-transform: uppercase; font-size:12px" class="bold" ng-bind="workflow.createdOn | formatDateWithTime"></span> <span ng-if="document.amendmentIntent == 1" class="bold color-red">направил(а) запрос на отклонение данной записи.</span></span></div>
            <div><span style="font-size:12px">Сообщение:</span> <span class="color-black"><span ng-bind="workflow.data.additionalInfo"></span></span></div>

            <div><span style="font-size:12px">Количество дней до истечения срок действия запроса:</span> <span><span ng-bind="workflow.daysToApproval"></span> дн.</span></div> 

            <div ng-repeat="activity in workflow.activities|filter:isOpen|orderBy:'createdOn'" style="padding-top:20px;">

                    <div  id="buttonsDiv" ng-show="isAssignedToMe(activity) || isAdmin()">
                        <div  style="display:inline;padding:5px;" ng-show="activity.name != 'deleteRecord' ">
                            <button type="button" class="btn btn-success bold" ng-click="updateActivity({ action : 'approve' })" ng-disabled="isUpdating"><i class="fa fa-check-circle"></i> <span >Утвердить</span></button>
                        </div>
                        <div  style="display:inline;padding:5px;"  ng-show="activity.name != 'deleteRecord' && document.amendmentIntent != 1">
                            <button type="button" class="btn btn-info bold  color-white" ng-click="edit(workflow, activity, workflow._id)" ng-disabled="isUpdating"><i class="fa fa-pencil-square-o"></i> <span >Редактировать</span></button>
                        </div>
                        <div style="display:inline;padding:5px;" >
                            <button type="button" class="btn btn-warning bold" ng-click="showRejectDialog()" ng-disabled="isUpdating"><i class="fa fa-times-circle"></i> <span ng-if="activity.name == 'deleteRecord'" >Отклонить (не удалять)</span> <span ng-if="activity.name != 'deleteRecord'" >Отклонить</span></button>
                        </div>
                        <div style="display:inline;padding:5px;"  ng-show="activity.name == 'deleteRecord'">
                                <button type="button" class="btn btn-danger bold" ng-click="confirmDelete()" ng-disabled="isUpdating"><i class="fa fa-check-circle"></i> <span >Удалить</span></button>
                        </div>
                    </div>

                    <div ng-show="workFlowIsCreatedByMe()">
                        <button type="button" class="btn btn-warning bold" ng-click="askCancelWorkflowRequest()" ng-disabled="isUpdating"><i class="fa fa-rotate-left"></i> <span>Отменить запрос</span></button>
                    </div>
                    <div ng-if="isAdmin()"><br/> <strong>The workflow is assigned to following users</strong> (visible only to admin users)<table class="table table-bordered mt-2">
                            <tr ng-repeat="user in activity.assignedTo_info">
                                <td ng-bind="user.userID"></td>
                                <td class="ps-2" ng-bind="user.firstName + ' ' + user.lastName"></td>
                                <td class="ps-2" ng-bind="user.email"></td>
                            </tr>
                        </table>
                    </div>
            </div>

        </div>

    </div>

    <div class="col-xs-12">
        <div ng-show="document" class="t-document">
            <record-loader show-details="showDetails" class="shadow-z-2" hide-buttons="true" link-target="_self" document="document" document-info="documentInfo"></record-loader>
        </div>
    </div>
    <script type="text/ng-template" trados-translation="true" id="rejectWorkflowRequestModalTemplate">
        <form name="rejectForm" role="form">
            <div class="modal-header bg-red">
                <h4 class="modal-title color-white">Запросить внесение изменений или отклонить данный запрос</h4>
            </div>
            <div class="modal-body bg-white">
                <p ng-class="{ 'has-warning':rejectForm.reason.$error.required, 'has-success':!rejectForm.reason.$invalid }"><span ng-show="rejectForm.reason.$error.required">Укажите причину отклонения данной записи.</span><textarea class="form-control" rows="5" name="reason" ng-model="rejectReason" required></textarea>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning bold float-start" data-bs-dismiss="modal" ng-disabled="rejectForm.reason.$error.required" ng-click="updateActivity({ action : 'reject', reason: rejectReason })"><i class="fa fa-times-circle"></i> Отклонить</button>
                <button type="button" class="btn btn-default" ng-click="closeDialog();">Отменить</button>
            </div>
        </form>
    </script>

    <script type="text/ng-template" trados-translation="true" id="cancelWorkflowRequestModalTemplate">
        <div id="cancelWorkflowRequestModal">
            <div class="modal-header">
                <h4>Отменить запрос на публикацию<i ng-show="loading==true" class="fa fa-spinner fa-spin" style="display:none"></i></h4>
            </div>
            <div class="modal-body bg-white">
                <h2>Вы действительно хотите отменить данный запрос на публикацию?</h2>
            </div>
            <div class="modal-footer" style="margin-top:0">
                 <button ng-disabled="loading==true" type="button" ng-click="cancelWorkflowRequest(workflow)" class="btn bold btn-primary">Да</button>
                <button type="button" class="btn btn-default" ng-click="closeDialog();">Закрыть</button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" trados-translation="true" id="deleteConfirmation">
        <!--<div class="modal-content">--><div class="modal-header">
            <h3 class="modal-title">Удалить подтверждение</h3>
        </div>
        <div class="modal-body bg-white">
           <h2 class="color-red">Вы действительно хотите удалить данную запись?</h2><span ng-bind="document"></span></div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger bold float-start" ng-click="updateActivity()" ng-disabled="isUpdating"><span class="hidden-xs">Удалить запись</span></button>
            <button type="button" class="btn btn-default" ng-click="closeConfirmation()" ng-disabled="isUpdating"><span class="hidden-xs">Закрыть</span></button>
        </div><!--</div> --></script>

</div>
