<div class="footer-chm py-2 mt-5">
    <div class="mx-3 pt-5 mx-lg-3 px-lg-3 pt-lg-4">

        <div class="row row-cols-2 pt-4">
            <div class="col-md-8 col-sm-12">
                <h4 class="fs-6">{{::('chmFooterT.quickLinks'|$translate)}}</h4>
                <hr class="my-1">
                <div class="row row-md-6 col-xs-12">
                    <div class="col-md-6 col-xs-6 pt-1">
                        <div class="nav flex-column">
                            <a class="nav-link fw-light link-light py-0 pb-1" href="kb">{{::('chmFooterT.aboutCHM'|$translate)}}</a>
                            <a class="nav-link fw-light link-light py-0 pb-1" href="https://www.cbd.int/convention">
                                {{::('chmFooterT.aboutConvention'|$translate)}}</a>
                            <br>
                            <a rel="noopener" translation-url class="nav-link fw-light link-light py-0 pb-1" ng-if="!user.isAuthenticated"
                                href="signin">{{::('chmFooterT.signIn'|$translate)}}</a>
                            <a class="nav-link fw-light link-light py-0 pb-1" rel="noopener" translation-url href="kb/tags/chm-announcement/">{{::('chmFooterT.chm'|$translate)}} 
                                {{::('chmFooterT.announcements'|$translate)}} </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 pt-1">
                        <div class="nav flex-column pt-1">

                            <a class="nav-link fw-light link-light py-0 pb-1" rel="noopener" translation-url href="search">{{::('chmFooterT.searchRecords'|$translate)}}</a>
                            <a class="nav-link fw-light link-light py-0 pb-1" rel="noopener" translation-url href="register">{{::('chmFooterT.submitRecords'|$translate)}}</a>
                            <br> 
                            <div class="d-none d-lg-block">                              
                                <a class="nav-link fw-light link-light py-0 pb-1" rel="noopener" translation-url href="countries">{{::('chmFooterT.countryProfiles'|$translate)}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <h4 class="fs-6">{{::('chmFooterT.help'|$translate)}}</h4>
                <hr class="my-1">
                <div class="nav flex-column">
                    <a class="nav-link fw-light link-light py-0 pb-1" rel="noopener" translation-url href="kb">{{::('chmFooterT.kb'|$translate)}}</a>
                    <a class="nav-link fw-light link-light py-0 pb-1" rel="noopener" translation-url href="kb/faqs">{{::('chmFooterT.faq'|$translate)}}</a>
                    <a class="nav-link fw-light link-light py-0 pb-1" href="https://chm-training.cbd.int">{{::('chmFooterT.trainingSite'|$translate)}}</a>
                    <!-- <a class="nav-link fw-light link-light py-0 pb-1" href="#">BCH on BCH Forum</a> -->
                    
                    <a class="nav-link fw-light link-light py-0 pb-1" rel="noopener" translation-url href="/kb/articles/619c55580c1ff000011c1c46/Contact-us/chm">{{::('chmFooterT.contactUs'|$translate)}}</a>
                </div>
            </div>
        </div>
        <hr class="m-1">
        <div class="row">
            <div class="col px-0 ps-2">
                <span class="fw-bold fs-4 text-uppercase">{{::('chmFooterT.chm'|$translate)}}<span>
                        <span class="text-uppercase" style="font-size:.8rem;">{{::('chmFooterT.clearingHouseMechanism'|$translate)}}</span>
            </div>
            <div class="col align-self-center"><a class="nav-link fw-light link-light p-0" href="register/user-preferences">{{::('chmFooterT.subscribeEmail'|$translate)}}</a></div>
            <div class="col align-self-center"><a class="nav-link fw-light link-light p-0"
                    href="https://chm.cbd.int/member/subscriptions.shtml" target="_blank">{{::('chmFooterT.subscribeNews'|$translate)}}
                </a></div>
        </div>
    </div>
</div>