    
<style>
    #Header .header{background-color: #FFF;border-bottom: 1px solid #ddd;}
    #Header .small-header{padding: 5px 20px;}
    #Header .small-header > .acronym{font-size:24px;font-weight:bold;padding-right:10px;}
    #Header .small-nav > ul > li > .nav-link {width:100%;padding:10px; margin:5px 0;font-size: 16px;text-transform: uppercase;color: #555;font-weight: 500}
    #Header .small-nav > ul {list-style-type: none; padding:0; margin:0;}
    
    #Header .normal-header {padding:20px 20px 0 20px;height:80px;}
    #Header .normal-header > .spine-logo{height:44px;position:relative;top:-13px;padding:0 5px 0 0;margin:0;}
    #Header .normal-header > .acronym{font-size:48px;font-weight:bold;padding-right:10px;}
    #Header .normal-header > .ch-name{text-transform:uppercase;font-size:18px;font-weight:bold;}
    #Header .normal-header > .ch-logo{position:relative;top:-10px;padding: 0; margin:20px 0;max-height:60px;}
    #Header .normal-nav {padding:0 34px 2px 18px;}
    #Header .normal-nav > ul > li > .nav-link {font-size: 13px;text-transform: uppercase;color: #555;font-weight: 500; }
    
    #Header .breadcrumbs {text-transform: uppercase;margin-left:26px;font-size:12px; padding:10px 3px;color:#111;font-weight:500}
</style>


<div id="Header">
<div  class="header">
    <!-- Small screen header -->
    <div class="visible-xs hidden-sm hidden-md hidden-lg small-header">
        <a class="color-green acronym" role="button" data-toggle="collapse" href="#collapseSmallNavMenu"
            aria-expanded="false" aria-controls="collapseSmallNavMenu">
            <i class="fa fa-bars color-black"></i> ABS Clearing-House
        </a>
        <div class="collapse" id="collapseSmallNavMenu">
            <div class="small-nav">
                <ul>
                    <li><a class="btn btn-default nav-link" rel="noopener" translation-url href=".">Home</a></li>
                    <li><a class="btn btn-default nav-link" rel="noopener" translation-url
                            ng-href="/about" ng-click="activeMenu='about'">Help</a></li>
                    <li><a class="btn btn-default nav-link" rel="noopener" translation-url
                            ng-href="/search" ng-click="activeMenu='about'">Search</a></li>
                    <li><a class="btn btn-default nav-link" rel="noopener" translation-url
                            ng-href="/submit" ng-click="activeMenu='about'">Submit</a></li>
                    <li><a class="btn btn-default nav-link" rel="noopener" translation-url
                            ng-href="/countries" ng-click="activeMenu='about'">Country Profiles</a></li>
                    <li><a class="btn btn-default nav-link" rel="noopener" translation-url
                            ng-href="/reports" ng-click="activeMenu='about'">National reports</a></li>
                    <li><a class="btn btn-default nav-link" rel="noopener" translation-url
                            ng-href="/forums" ng-click="activeMenu='about'">Forums</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Normal screen header -->
    <div class="hidden-xs normal-header">
        <img src="/app/img/cbd-spine.png" class="spine-logo">
        <a href="." class="acronym"><span class="color-green">ABSCH</span></a>
        <a href="." class="ch-name"><span class="color-grey" ng-if="!development_env && !training_env"> Access and Benefit-sharing Clearing-House</span></a>
        <span class="color-pink ch-name" ng-if="development_env"> DEVELOPMENT</span>
        <img src="/app/img/cbd-logo-gray555-en.png" class="pull-right ch-logo hidden-sm" ng-class="{'arabic-cbd-logo-style' : locale=='ar'}" />

    </div>

    <div class="hidden-xs normal-nav">
        <ul class="nav nav-pills">
            <li><a rel="noopener" class="nav-link" translation-url href="."><i class="fa fa-home"></i></a></li>
            <li><a rel="noopener" class="nav-link" translation-url href="/kb">Help</a></li>
            <li><a rel="noopener" class="nav-link" translation-url href="/search">Search</a></li>
            <li><a rel="noopener" translation-url ng-href="register" class="nav-link">Submit</a></li>
            <li hover-effect=".dropdown-menu" class="country-dropdown">
                <a rel="noopener" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="visible-sm">Countries <i class="fa fa-caret-down"></i></span><span
                        class="hidden-sm">Country Profiles <i class="fa fa-caret-down"></i></span> </a>

                <ul class="dropdown-menu" style="border:0;margin-top:0;">
                    <li style="border-bottom: 1px solid #eee;"> <a rel="noopener"
                            style="color:#111!important;font-size:16px;" ng-href="/countries"> Overview - List all
                            countries </a></li>
                    <li style="padding:5px;border-bottom: 1px solid #eee;">
                        <input type="text" class="form-control" ng-click="countrySearch($event)"
                            ng-model="countrySearchQuery" />
                    </li>
                    <li>
                        <ul class="country-list-dd" style="padding-left: 10px;max-height:340px;overflow-y:scroll; ">
                            <li style="border:0!important;"
                                ng-repeat="c in countries | filter:startsWith track by c.code">
                                <a rel="noopener" translation-url style="color:#666!important;font-size:14px;"
                                    ng-href="/countries/{{::c.code|encodeURIComponent}}">
                                    <span class="bold"
                                        ng-class="{'color-party': c.isParty, 'color-non-party':!c.isParty}">
                                        {{::c.name | lstring:locale}}
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a rel="noopener" translation-url href="reports" class="nav-link"><span
                        class="hidden-sm">National</span> Reports</a>
            </li>
            <li>
                <a rel="noopener" translation-url href="https://bch.cbd.int/onlineconferences/"
                    class="nav-link">Forums</a>
            </li>

        </ul>
    </div>
</div>

<div ng-hide="breadcrumbs.get().length == 1">

    <div class="breadcrumbs">
        <a rel="noopener" translation-url href="https://www.cbd.int" class="margin-right-xs">CBD</a>
        <span ng-repeat="breadcrumb in breadcrumbs.get()">
            &nbsp;&nbsp;/&nbsp;&nbsp;
            <span ng-if="!breadcrumb.param">
                <a rel="noopener" translation-url ng-if="!$last" ng-href="{{ breadcrumb.path }}"
                    ng-bind="breadcrumb.label" class="margin-right-xs"></a>
                <span ng-if="$last" ng-bind="breadcrumb.label"></span>
            </span>
            <span ng-if="breadcrumb.param">
                <a rel="noopener" translation-url ng-if="!$last" ng-href="{{ breadcrumb.path }}"
                    ng-bind="breadcrumb.label" class="margin-right-xs"></a>
                <span ng-if="$last" ng-bind="breadcrumb.label"></span>
            </span>
        </span>
    </div>
</div>

</div>
