<div id="printContentFooter">
    <legend class="mt-0">Pour plus d'informations</legend>
    <div class="row top-border">
        <div class="clearfix"></div>
        <div class="col-8 fs-small-8"><span ng-if="isABS">Les questions sur le Protocole de Nagoya sur l’accès et le partage des avantages ou sur le fonctionnement du Centre d’échange d’informations sur l’accès et le partage des avantages peuvent être envoyées au Secrétariat de la Convention sur la diversité biologique.</span> <span ng-if="isBCH">Les questions sur le Protocole de Cartagena sur la prévention des risques biotechnologiques ou sur le fonctionnement du Centre d’échange d’informations sur la prévention des risques biotechnologiques peuvent être envoyées au Secrétariat de la Convention sur la diversité biologique.</span></div>
        <div class="col-4 fs-small-8"><strong>Secrétariat de la Convention sur la diversité biologique</strong> <br/> 413 rue Saint-Jacques, suite 800 <br/> Montréal, Québec, H2Y 1N9 <br/> Canada <br/> Télécopieur : +1 514 288-6588 <br/> Adresse courriel : secretariat@cbd.int</div>
    </div>
</div>
