<div id="Announcements"  >
<style></style>

    <h3 style="border-bottom:1px solid #ddd;"></h3>
        
    <div class="container" ng-if="article">
        <div class="row card bg-white">
            <div  class="col-xs-12 col-sm-6 col-md-3 hidden-xs" ng-if="article.coverImage.url" ></div>
            <div class="col-xs-12" ng-class="{'col-sm-6 col-md-9' : article.coverImage.url}"><div>             
                        <h3 style="font-size:160%;margin-bottom:30px;" ng-bind="article.title  | lstring:locale"></h3>
                    </div>
            </div>

            <div class="col-md-12" style="padding-top:10px;" >
                <p class="ck ck-content ck-rounded-corners ck-blurred" ng-bind-html="article.content  | lstring:locale | toTrusted"></p>
            </div>
        </div>
    </div>  
        <div pagination ng-if="itemCount > itemsPerPage" num-found="itemCount" class="text-center" page-size="itemsPerPage" current-page="currentPage" page-count="pageCount" on-page-change="onPageChange(page)" on-page-size-changed="onPageSizeChanged(itemsPerPage)"></div> 

        <div class="row"  ng-if="articles">
            <div  ng-repeat="article in articles | orderBy:'meta.createdOn':true" style="cursor:pointer;" class="col-xs-12 col-md-6 col-lg-4"  >
                <div  class='row' style="margin:0px 0px;">
                        <table  style="width:100%;height:140px;background-color:#f9f9f9;border-top:1px solid #ddd; border-bottom:1px solid #ddd;margin:5px 0px;" ng-click="loadArticle(article._id)">
                            <tr>
                                <td style="width:160px;vertical-align: top; height:100px;overflow: hidden; background-image: url('{{getSizedImage(article.coverImage.url, \'160x100\')}}');background-position: center;  background-repeat: no-repeat"></td>
                                <td style="vertical-align: top;"><h4 style="font-size:18px;padding:15px 3px 3px 10px;margin:0;" ng-class="{'noimage':!article.coverImage.url}"></h4>
                                </td>
                            </tr>
                        </table>
                </div>
            </div>
        </div>

  

</div>
