<div class="document-sharing">
    <button ng-disabled="disabled" type="button" class="btn btn-primary" ng-click="shareDocument()"
    title="Share">
        <i class="fa fa-paper-plane"></i>
        <span class="d-none d-sm-inline-block">{{::('documentSharingT.share'|$translate)}}</span>
    </button>
    <button ng-disabled="disabled" type="button" class="btn btn-primary" ng-click="getPdf()"
    title="PDF">
        <i class="fa fa-file-pdf-o"></i>
        <span class="d-none d-sm-inline-block">PDF</span>    
    </button>

    <script type="text/ng-template" id="shareDocumentTemplate.html" trados-translation="true">
        <div class="rounded bg-dropshadow document-selection-modal" id="{{question}}">
            <div class="modal-header d-flow-root">
                {{::('documentSharingT.shareDraftRecord'|$translate)}} <span ng-bind="title"></span>
            </div>
            <div class="modal-body">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" >
                            <a translation-url href="#url" class="nav-link active" aria-controls="url" role="tab" data-bs-toggle="tab">
                                <span class="sub-header">{{::('documentSharingT.sendByURL'|$translate)}}</span>
                            </a>
                        </li>
                        <li role="presentation" >
                            <a translation-url class="nav-link" href="#email" aria-controls="email" role="tab" data-bs-toggle="tab">
                                <span class="sub-header">{{::('documentSharingT.sendByEmail'|$translate)}}</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content px-2 bg-white">
                        <div role="tabpanel" class="tab-pane active" id="url">
                            <div class="row">
                                <div ng-if="isLoading">
                                        <i style="margin-left:40%" class="fa fa-spin fa-spinner"></i> {{::('documentSharingT.loading'|$translate)}}
                                </div>
                                <div class="content" ng-hide="isLoading">
                                    <br/>
                                    <div class="alert alert-info">
                                        <i class="fa fa-info-circle"></i>
                                        {{::('documentSharingT.alertInfo'|$translate)}}
                                    </div>
                                    <div class="float-end m-auto">
                                        <a ng-href="#" ng-click="self.createLink()" class="btn btn-primary" ng-if="status!='creatingLink'">{{::('documentSharingT.createLink'|$translate)}}</a>
                                        <i class="fa fa-spin fa-spinner" ng-if="status=='creatingLink'"></i>
                                    </div>
                                    <div>
                                        <table class="table table-stripped w-100">
                                            <tr>
                                                <td>#</td>
                                                <td>{{::('documentSharingT.expiry'|$translate)}}</td>
                                                <td>{{::('documentSharingT.linkEmail'|$translate)}}</td>
                                                <td class="d-none d-sm-table-cell text-start">Created on</td>
                                            </tr>
                                            <tr ng-repeat="link in sharedLinks | orderBy:'meta.createdOn':'desc'">
                                                <td ng-bind="$index+1"></td>
                                                <td>
                                                    <span ng-bind="link.expiry|formatDateWithTime"></span>
                                                    <span ng-if="hasStatus('active', link)"class="label label-success">{{::('documentSharingT.active'|$translate)}}</span>
                                                    <span ng-if="hasStatus('expired', link)"class="label label-danger">{{::('documentSharingT.expired'|$translate)}}</span>
                                                    <span ng-if="hasStatus('revoked', link)"class="label label-danger">{{::('documentSharingT.revoked'|$translate)}}</span>
                                                </td>
                                                <td >
                                                    <div class="btn-group w-100">
                                                        <div class="input-group" >
                                                            <input ng-if="link.sharedWith.emails"  type="text" width="100%" id="shareUrl_{{$index+1}}" class="highlight form-control d-none d-sm-inline-block" value="{{::link.sharedWith.emails}}" disabled readonly/>
                                                            <input ng-if="!link.sharedWith.emails" type="text" width="100%" id="shareUrl_{{$index+1}}" class="highlight form-control d-none d-sm-inline-block" value="{{::getUrl(link.urlHash)}}" disabled readonly/>
                                                            <span  ng-if="!link.sharedWith.emails" class="input-group-text cursor-pointer" id="basic-addon1">
                                                                <a ng-href="{{::getUrl(link.urlHash)}}" target="_blank"><i class="fa fa-link"> </i> 
                                                                    <span class="d-none d-sm-inline-block">Open</span></a>
                                                            </span>
                                                            <span  ng-if="!link.sharedWith.emails" class="input-group-text cursor-pointer" id="basic-addon2" ng-click="copyUrl($index+1)">
                                                                <i class="fa fa-copy"> </i> <span class="d-none d-sm-inline-block">{{::('documentSharingT.copy'|$translate)}}</span></span>
                                                            <span ng-if="hasStatus('active', link)" ng-disabled="link.status=='revokingLink'" class="input-group-text cursor-pointer" id="basic-addon3" ng-click="revokeLink(link)">
                                                                <i class="fa fa-spin fa-spinner" ng-if="link.status=='revokingLink'"></i>
                                                                <i class="fa fa-thumbs-down"> </i> <span class="d-none d-sm-inline-block">{{::('documentSharingT.revoke'|$translate)}}</span></span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="d-none d-sm-table-cell align-middle" ng-bind="link.meta.createdOn|formatDateWithTime"></td>
                                            </tr>
                                            <tr ng-if="!sharedLinks.length">
                                                <td colspan="4">
                                                    <strong>{{::('documentSharingT.noSharedLinks'|$translate)}}</strong>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="email">
                            <div class="row">
                                <div class="content">
                                    <br/>
                                    <div class="alert alert-info">
                                        <i class="fa fa-info-circle"></i>
                                        {{::('documentSharingT.emailInfo'|$translate)}}
                                    </div>
                                    {{::('documentSharingT.emails'|$translate)}}
                                    <br/>
                                    <div class="input-group" >
                                        <input type="text" placeholder="enter email"  class="form-control" ng-model="shareEmails" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-primary float-end" ng-click="shareEmail(shareEmails)" ng-disabled="status=='creatingLink'">{{::('documentSharingT.send'|$translate)}}</button>
                                        </span>
                                    </div>
                                    <div>
                                        <span style="font-size: smaller;color: #777575;">{{::('documentSharingT.instruction'|$translate)}}</span>
                                    </div>
                                    <div>
                                        <span ng-if="status=='creatingLink'">
                                            <i class="fa fa-spin fa-spinner"></i> {{::('documentSharingT.updating'|$translate)}} </span>                                       
                                    </div>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="documentPdfTemplate.html" trados-translation="true">
        <div class="rounded bg-dropshadow document-selection-modal">
            <div class="modal-header d-flow-root">{{::('documentSharingT.generatePDFRecord'|$translate)}}
                <span  ng-bind="title"></span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">

                        <div class="alert alert-warning" role="alert" ng-bind-html="::('documentSharingT.pleaseNote'|$translate)"></div>
                        <!-- <div class="alert alert-success" role="alert">
                            <strong><a target="_blank" ng-href="/pdf-links/draft-documents/{{identifier}}" class="btn btn-primary" >Open PDF</a></strong> Generate all available language PDF
                        </div> -->
                        <div class="alert alert-info" role="alert">
                            <div class="btn-group">
                                <a target="_blank" ng-repeat="lang in ['ar', 'fr', 'en', 'es', 'ru', 'zh']" ng-href="/pdf-links/draft-documents/{{identifier}}/{{lang}}" class="btn btn-primary" 
                                ng-bind="lang|uppercase"></a>
                            </div> 
                            {{::('documentSharingT.selectLanguage'|$translate)}}
                        </div> 
                    </div>
                </div>
            </div> 
            <div class="modal-footer">
            </div>
        </div>
    </script>

</div>