<div>
    <script type="text/ng-template" id="recordExistsTemplate.html" trados-translation="true">
        <div style="margin:10px;">
            <br>
            <h1>{{schemaTitle}}</h1>
            <hr>
            <div class=" alert alert-danger">
                <div class="bi bi-exclamation-sign"></div>
                <div>{{::('hasGovernmentRecordT.message'|$translate)}} <span ng-bind="alertSeconds"></span> {{::('hasGovernmentRecordT.seconds'|$translate)}}</div>
            </div>
            <div class="ngdialog-buttons">
                <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="openExisting()">{{::('hasGovernmentRecordT.redirectNow'|$translate)}}</button>
            </div>
            <br>
        </div>
    </script>
</div>
