<span style="border-right: none!important;">
    <!-- Traits -->
    <img ng-if="doc.traitsDiseasesResistance_b"	 ng-src="/app/img/bch/indicators/ind-resistance-pest-on.png"	    title="Resistance to diseases and pests"/>
    <img ng-if="doc.traitsHerbicidesResistance_b" ng-src="/app/img/bch/indicators/ind-resistance-herbicide-on.png"	title="Tolerance to herbicides"/>
    <img ng-if="doc.traitsPhysiologyChanges_b"	 ng-src="/app/img/bch/indicators/ind-changes-physiology-on.png"		title="Changes in physiology and/or production"/>
    <img ng-if="doc.traitsQualityChanges_b"		 ng-src="/app/img/bch/indicators/ind-change-quality-on.png"	        title="Changes in quality and/or production"/>
    <img ng-if="doc.traitsMedicalProduction_b"	 ng-src="/app/img/bch/indicators/ind-pharma-on.png"		            title="Production of medical or pharmaceutical compounds"/>
    
    <!-- Risk assessment scope/Decision icons -->
    <img ng-if="doc.scopeRelease_b"		    ng-src="/app/img/bch/indicators/ind-release-on.png"		    title="Intentional introduction into the environment"/>
    <img ng-if="doc.scopeFood_b"		    ng-src="/app/img/bch/indicators/ind-food-on.png"			title="Direct use as food"/>
    <img ng-if="doc.scopeFeed_b"		    ng-src="/app/img/bch/indicators/ind-feed-on.png"			title="Direct use as feed"/>
    <img ng-if="doc.scopeProcessing_b"	    ng-src="/app/img/bch/indicators/ind-transform-on.png"	    title="Processing"/>
    <img ng-if="doc.scopeConfined_b"	    ng-src="/app/img/bch/indicators/ind-confined-on.png"	    title="Contained Use"/>

    <img ng-if="doc.scopePharmaceutical_b"  ng-src="/app/img/bch/indicators/ind-pharma-on.png"         title="Pharmaceutical">
    <img ng-if="doc.scopeTransit_b"         ng-src="/app/img/bch/indicators/ind-transit-on.png"        title="Transit">

    <!-- Organism -->
    <img ng-if="doc.animals_b"      ng-src="/app/img/bch/organism/ind-animal-on.png"   title="Animals">
    <img ng-if="doc.plants_b"       ng-src="/app/img/bch/organism/ind-plant-on.png"    title="Plants">
    <img ng-if="doc.fungi_b"        ng-src="/app/img/bch/organism/ind-fungi-on.png"    title="Fungi">
    <img ng-if="doc.bacteria_b"     ng-src="/app/img/bch/organism/ind-bacteria-on.png" title="Bacterias">
    <img ng-if="doc.viruses_b"      ng-src="/app/img/bch/organism/ind-virus-on.png"    title="Viruses">

    <!-- common other -->
    <img ng-if="doc.traitsOther_b || doc.scopeOther_b"		ng-src="/app/img/bch/indicators/ind-other-on.png"		    title="Other"/>

</span>