<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-blue">
		<h4>
			<span ng-bind="::document.header.schema|schemaName"></span>
			<span class="color-white">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span>
		</h4>
	</div>
	<div class="record-body panel-body bg-white">



		<document-date></document-date>
		<legend>{{::('viewExpT.generalInfo'|$translate)}}</legend>

		<div ng-show="document.government" class="padding-top-10">
			<label name="country">{{::('viewExpT.country'|$translate)}}</label>
			<div class="km-value" compare-val>
				<a rel="noopener" ng-href="countries/{{document.government.identifier|uppercase|encodeURIComponent}}" target="{{target}}" ng-bind="document.government|term:locale"></a>
			</div>
		</div>

		<section>
			<legend>{{::('viewExpT.ProfileExpert'|$translate)}}</legend>
			<div ng-if="document.profile">
				<label>{{::('viewExpT.briefProfile'|$translate)}}</label>
				<div compare-val>
				<km-value-ml value="document.profile" locales="locale" html></km-value-ml>
				</div>
			</div>
			<div ng-if="document.contact">
				<label>{{::('viewExpT.contactDetails'|$translate)}}</label>
				<div class="km-value" compare-val>
					<view-record-reference ng-model="document.contact" locale="locale"></view-record-reference>
				</div>
			</div>

			<div ng-if="document.birthYear">
				<div ng-if="document.birthYear">
					<label>{{::('viewExpT.birthYear'|$translate)}}</label>
					<div class="km-value" compare-val>
						<span ng-bind="document.birthYear"></span>
					</div>
				</div>
			</div>
			<div ng-show="document.birthCountry">
				<label>{{::('viewExpT.birthCountry'|$translate)}}</label>
				<div class="km-value" compare-val>
					<span ng-bind="document.birthCountry|term:locale"></span>
				</div>
			</div>

			<div ng-if="document.nationalities">
				<label>{{::('viewExpT.nationalities'|$translate)}}</label>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.nationalities">
							<span ng-bind="item|term:locale"></span>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section ng-if="document.currentEmployment">
			<legend>{{::('viewExpT.detailsEmployment'|$translate)}}</legend>
			
			<div ng-if="document.currentEmployment.name">
				<label>{{::('viewExpT.currentEmployment'|$translate)}}</label>
				<div compare-val>
				<km-value-ml value="document.currentEmployment.name" locales="locale"></km-value-ml>
				</div>
			</div>
			<div ng-if="document.currentEmployment.organizationType">
				<label>{{::('viewExpT.organizationType'|$translate)}}</label>
				<div compare-val class="km-value">
					<span  ng-bind="document.currentEmployment.organizationType|term:locale"></span>
				</div>
			</div>
			<div ng-if="document.currentEmployment.title">
				<label>{{::('viewExpT.jobTitle'|$translate)}}</label>
				<div compare-val>
				<km-value-ml value="document.currentEmployment.title" locales="locale"></km-value-ml>
				</div>
			</div>
			<div ng-if="document.currentEmployment.department">
				<label>{{::('viewExpT.department'|$translate)}}</label>
				<div compare-val>
				<km-value-ml value="document.currentEmployment.department" locales="locale"></km-value-ml>
				</div>
			</div>
			<div  class="row"  ng-if="document.currentEmployment.startDate || document.currentEmployment.endDate">
				<div class="col-md-6" ng-if="document.currentEmployment.startDate">
					<label>{{::('viewExpT.startDate'|$translate)}}</label>
					<div comprae-val>
					<span class="km-value" ng-bind="document.currentEmployment.startDate"></span>
					</div>
				</div>

				<div class="col-md-6" ng-if="document.currentEmployment.organizationType" >
					<label>{{::('viewExpT.organizationType'|$translate)}}</label>
					<div compare-val>
					<span class="km-value" ng-if="document.currentEmployment.organizationType.identifier!='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" 
						ng-bind="document.currentEmployment.organizationType|term:locale"></span>
						<span class="km-value" ng-if="document.currentEmployment.organizationType.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" 
						ng-bind="document.currentEmployment.organizationType.customValue|lstring:locale"></span>
					</div>
				</div>
			</div>
			
			<div ng-if="document.currentEmployment.responsibilities">
				<label>{{::('viewExpT.responsibilities'|$translate)}}</label>
				<div compare-val>
				<km-value-ml value="document.currentEmployment.responsibilities" html locales="locale"></km-value-ml>
				</div>
			</div>
		</section>
		<section ng-if="document.previousEmployment || document.countryRegionsWorkedIn">
			<legend>{{::('viewExpT.employmentHistory'|$translate)}}</legend>
			<div ng-if="document.countryRegionsWorkedIn">
				<label>{{::('viewExpT.countriesWorked'|$translate)}}</label>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.countryRegionsWorkedIn">
							<span ng-bind="item|term:locale"></span>
						</li>
					</ul>
				</div>
			</div>
			<div ng-if="document.previousEmployment.name">
				<label>{{::('viewExpT.nameOfPreviousEmployer'|$translate)}}</label>
				<div compare-val>
				<km-value-ml  km-pre value="document.previousEmployment.name" locales="locale"></km-value-ml>
				</div>
			</div>
			<div ng-if="document.previousEmployment.organizationType">
				<label>{{::('viewExpT.organizationType'|$translate)}}</label>
				<div compare-val class="km-value">
					<span  ng-bind="document.previousEmployment|term:locale"></span>
				</div>
			</div>
			<div ng-if="document.previousEmployment.department">
				<label>{{::('viewExpT.department'|$translate)}}</label>
				<div compare-val>
				<km-value-ml value="document.previousEmployment.department" locales="locale"></km-value-ml>
				</div>
			</div>
			<div class="row"  ng-if="document.previousEmployment.startDate || document.previousEmployment.endDate">
				<div class="col-md-6" ng-if="document.previousEmployment.startDate">
					<label>{{::('viewExpT.startDate'|$translate)}}</label>
					<div compare-val>
					<span class="km-value" ng-bind="document.previousEmployment.startDate"></span>
					</div>
				</div>

				<div class="col-md-6" ng-if="document.previousEmployment.endDate">
					<label>{{::('viewExpT.endDate'|$translate)}}</label>
					<div compare-val>
					<span class="km-value" ng-bind="document.previousEmployment.endDate"></span>
					</div>
				</div>
			</div>

			<div ng-if="document.previousEmployment.organizationType">
				<label>{{::('viewExpT.organizationType'|$translate)}}</label>
				<div compare-val>
				<span class="km-value" ng-if="document.previousEmployment.organizationType.identifier!='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" 
					ng-bind="document.previousEmployment.organizationType|term:locale"></span>
					<span class="km-value" ng-if="document.previousEmployment.organizationType.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" 
					ng-bind="document.previousEmployment.organizationType.customValue|lstring:locale"></span>
				</div>
			</div>
			<div ng-if="document.previousEmployment.responsibilities">
				<label>{{::('viewExpT.responsibilities'|$translate)}}</label>
				<div compare-val>
				<km-value-ml value="document.previousEmployment.responsibilities" html locales="locale"></km-value-ml>
				</div>
			</div>
		</section>
		<section>
			<legend>{{::('viewExpT.postEducation'|$translate)}}</legend>
			<strong>{{::('viewExpT.formalEducation'|$translate)}}</strong>
			<section ng-if="document.primaryEducation" style="padding-top: 20px;">
				<u>{{::('viewExpT.firstDegree'|$translate)}}</u>
				<div ng-if="document.primaryEducation.title">
					<label>{{::('viewExpT.titleDegree'|$translate)}}</label>
					<div compare-val>
					<km-value-ml value="document.primaryEducation.title" locales="locale"></km-value-ml>
					</div>
				</div>
				<div ng-if="document.primaryEducation.institution">
					<label>{{::('viewExpT.institution'|$translate)}}</label>
					<div compare-val>
					<km-value-ml value="document.primaryEducation.institution" locales="locale"></km-value-ml>
					</div>
				</div>
				<div class="row"  ng-if="document.primaryEducation.startDate || document.primaryEducation.endDate">
					<div class="col-md-6" ng-if="document.primaryEducation.startDate">
						<label>{{::('viewExpT.startDate'|$translate)}}</label>
						<div compare-val>
						<span class="km-value" ng-bind="document.primaryEducation.startDate"></span>
						</div>
					</div>

					<div class="col-md-6" ng-if="document.primaryEducation.endDate">
						<label>{{::('viewExpT.endDate'|$translate)}}</label>
						<div compare-val>
						<span class="km-value" ng-bind="document.primaryEducation.endDate"></span>
						</div>
					</div>
				</div>
			</section>
			<section ng-if="document.secondaryEducation" style="padding-top: 10px;">
				<u>{{::('viewExpT.secondDegree'|$translate)}}</u>
				<div ng-if="document.secondaryEducation.title">
					<label>{{::('viewExpT.titleDegree'|$translate)}}</label>
					<div compare-val>
					<km-value-ml value="document.secondaryEducation.title" locales="locale"></km-value-ml>
					</div>
				</div>
				<div ng-if="document.secondaryEducation.institution">
					<label>{{::('viewExpT.institution'|$translate)}}</label>
					<div compare-val>
					<km-value-ml value="document.secondaryEducation.institution" locales="locale"></km-value-ml>
					</div>
				</div>
				<div class="row"  ng-if="document.secondaryEducation.startDate || document.secondaryEducation.endDate">
					<div class="col-md-6" ng-if="document.secondaryEducation.startDate">
						<label>{{::('viewExpT.startDate'|$translate)}}</label>
						<div compare-val>
						<span class="km-value" ng-bind="document.secondaryEducation.startDate"></span>
						</div>
					</div>

					<div class="col-md-6" ng-if="document.secondaryEducation.endDate">
						<label>{{::('viewExpT.endDate'|$translate)}}</label>
						<div compare-val>
						<span class="km-value" ng-bind="document.secondaryEducation.endDate"></span>
						</div>
					</div>
				</div>
			</section>
			<section ng-if="document.thirdEducation" style="padding-top: 10px;">
				<U>{{::('viewExpT.thirdDegree'|$translate)}}</U>
				<div ng-if="document.thirdEducation.title">
					<label>{{::('viewExpT.titleDegree'|$translate)}}</label>
					<div compare-val>
					<km-value-ml value="document.thirdEducation.title" locales="locale"></km-value-ml>
					</div>
				</div>
				<div ng-if="document.thirdEducation.institution">
					<label>{{::('viewExpT.institution'|$translate)}}</label>
					<div compare-val>
					<km-value-ml value="document.thirdEducation.institution" locales="locale"></km-value-ml>
					</div>
				</div>
				<div class="row"  ng-if="document.thirdEducation.startDate || document.thirdEducation.endDate">
					<div class="col-md-6" ng-if="document.thirdEducation.startDate">
						<label>{{::('viewExpT.startDate'|$translate)}}</label>
						<div compare-val>
						<span class="km-value" ng-bind="document.thirdEducation.startDate"></span>
						</div>
					</div>

					<div class="col-md-6" ng-if="document.thirdEducation.endDate">
						<label>{{::('viewExpT.endDate'|$translate)}}</label>
						<div compare-val>
						<span class="km-value" ng-bind="document.thirdEducation.endDate"></span>
						</div>
					</div>
				</div>
			</section>

			<div ng-if="document.professionalQualification.length" class="padding-top-10">
				<strong>{{::('viewExpT.otherQualifications'|$translate)}}</strong>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.professionalQualification">
							<span ng-bind-html="item|lstring:locale"></span>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section>
			<div ng-if="document.expertise.length">
				<legend>{{::('viewExpT.areasOfExpertise'|$translate)}}</legend>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.expertise">
							<span ng-if="item.identifier!='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="item|term:locale"></span>
							<span ng-if="item.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="item.customValue|lstring:locale"></span>
						</li>
					</ul>
				</div>
			</div>

			<div ng-if="document.relevantPublication.length">
				<legend>{{::('viewExpT.publications'|$translate)}}</legend>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.relevantPublication">
							<span ng-bind-html="item|lstring:locale"></span>
						</li>
					</ul>
				</div>
			</div>

			<div ng-if="document.professionalMemberships.length">
				<legend>{{::('viewExpT.professionalMemberships'|$translate)}}</legend>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.professionalMemberships">
							<span ng-bind-html="item|lstring:locale"></span>
						</li>
					</ul>
				</div>
			</div>

			<div ng-if="document.panelServed.length">
				<label>{{::('viewExpT.panelServed'|$translate)}}</label>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.panelServed">
							<span ng-bind-html="item|lstring:locale"></span>
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section>
			<legend>{{::('viewExpT.languageProficiency'|$translate)}}</legend>
			<div ng-if="document.motherTongue.length">
				<label>{{::('viewExpT.motherTongue'|$translate)}}</label>
				<div class="km-value" compare-val>
					<ul class="list">
						<li ng-repeat="item in document.motherTongue">
							<span ng-bind="item|term:locale"></span>							
						</li>
					</ul>
				</div>
			</div>
			<div ng-if="document.languageRating.length">
				<label>{{::('viewExpT.otherLanguages'|$translate)}}</label>
				<div compare-val>
					<table class="table table-bordered">
						<tr>
							<th style="width: 10%; font-size: 12px;">{{::('viewExpT.language'|$translate)}}</th>
							<th style="width: 90%; font-size: 12px;">{{::('viewExpT.level'|$translate)}}</th>
						</tr>
						<tr ng-repeat="item in document.languageRating" style="padding-top: 5px;">
							<td>
								<span ng-bind="item|term:locale"></span> 
							</td>
							<td>
								<span ng-bind="item.level"></span>
							</td>
						</tr>
					</table>
				</div>
			</div>
			
		</section>

		<div ng-if="document.additionalInformation||document.additionalDocuments">
			<legend>{{::('viewExpT.otherRelevantInformation'|$translate)}}</legend>

			<div ng-if="document.additionalInformation">
				<div compare-val>
				<km-value-ml value="document.additionalInformation" locales="locale" html></km-value-ml>
				</div>
			</div>

			<div ng-if="document.additionalDocuments">
				<label>{{::('viewExpT.additionalDocuments'|$translate)}}</label>
				<div compare-val>
				<div class="km-value" ng-if="document.additionalDocuments" km-link-list 
					ng-model="document.additionalDocuments" style="margin-top: 5px;"></div>
				</div>
			</div>
		</div>
		
		<div>
			<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>
		</div>
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
