<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-orange">
		<h4>
            <span ng-bind="::document.header.schema|schemaName"></span>
			<span class="color-white">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span>
		</h4>
	</div>
	<div class="record-body panel-body">
		<div>
			<a rel="noopener" ng-if="document.info.documentID" target="_blank" ng-href="reports/lmo/{{document.info.identifier|encodeURIComponent}}/decisions">
				<i class="fa fa-external-link"></i> 
				{{::('viewLmoT.decisionsLMO'|$translate)}}
			</a>
			<a rel="noopener" ng-if="document.info.documentID" target="_blank" ng-href="reports/lmo/{{document.info.identifier|encodeURIComponent}}/risk-assessments" >
				<i class="fa fa-external-link"></i> 
				{{::('viewLmoT.riskAssessments'|$translate)}}
			</a> &nbsp;
			<document-date></document-date>
		</div>
		
		<legend>{{::('viewLmoT.lmoIdentity'|$translate)}}</legend>
		<div ng-show="document.info.documentID" style="text-align: center">
			<div class="help-info">
				{{::('viewLmoT.lmoIdentityInfo'|$translate)}}	
				
			</div>		
			<a rel="noopener" ng-href="/api/v2020/bch/lmo-qrcode/{{document.header.identifier|encodeURIComponent}}?download=true">
				<img style="max-width:100%;" class="responsive" border="none" ng-src="/api/v2020/bch/lmo-qrcode/{{document.header.identifier}}">
			</a>
		</div>
		<div ng-show="document.identity">
			<label>{{::('viewLmoT.name'|$translate)}}</label>
			<div compare-val>
				<km-value-ml value="document.identity" locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-show="document.transformationEvent">
			<label>{{::('viewLmoT.transformationEvent'|$translate)}}</label>
			<div compare-val>
				<div ng-bind="document.transformationEvent" class="km-value"></div>
			</div>
		</div>
		<div ng-if="document.hasUniqueIdentification!= undefined">
			<label>{{::('viewLmoT.hasUniqueIdentification'|$translate)}}</label>
			<!-- <div class="help-info fs-small-6">{{::('viewLmoT.hasUniqueIdentificationInfo'|$translate)}} 
				<a rel="noopener" href="/kb/tags/lmo-gene-orga/LMO-Unique-Identifiers-UIDs-/619c55400c1ff000011c1c28">
					https://bch.cbd.int/en/kb/tags/lmo-gene-orga/LMO-Unique-Identifiers-UIDs-/619c55400c1ff000011c1c28
				</a>.
			</div> -->
			<div compare-val>
				<km-value-bool value="document.hasUniqueIdentification" locales="locale"></km-value-bool>
			</div>
		</div>
		<div ng-show="document.uniqueIdentification && document.hasUniqueIdentification">
			<label>{{::('viewLmoT.uniqueIdentification'|$translate)}}</label>
			<div compare-val>
			<div ng-bind="document.uniqueIdentification" class="km-value"></div></div>
		</div>
		<div ng-show="document.developers">
			<label>{{::('viewLmoT.developer'|$translate)}}	</label>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.developers" >						
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>
		
		<div ng-show="document.description">
			<label>{{::('viewLmoT.description'|$translate)}}</label>
			<div compare-val>
			<km-value-ml html value="document.description" locales="locale"></km-value-ml></div>
		</div>

		<div ng-show="document.recipientOrganisms">
			<label>{{::('viewLmoT.recipientOrganisms'|$translate)}}</label>
			<div class="help-info fs-small-6">{{::('viewLmoT.recipientOrganismsInfo'|$translate)}}
			</div>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.recipientOrganisms" >						
						<view-record-reference ng-model='item.identifier' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-show="document.recipientOrganismCollectionPoint">
			<label>{{::('viewLmoT.recipientOrganismCollectionPoint'|$translate)}}</label>
			<div compare-val>			
			<km-value-ml html value="document.recipientOrganismCollectionPoint" locales="locale"></km-value-ml></div>
		</div>
		<div ng-show="document.linkedModifiedOrganisms">
			<label>{{::('viewLmoT.linkedModifiedOrganisms'|$translate)}}</label>	
			<div class="km-value" compare-val>	
				<ul class="list">
					<li ng-repeat="item in document.linkedModifiedOrganisms" >						
						<view-lmo-reference ng-model='item.identifier' locale="locale"></view-lmo-reference>
					</li>
				</ul>
			</div>
		</div>
		
		<legend>{{::('viewLmoT.characteristics'|$translate)}}</legend>
		
		<div ng-show="document.vector">
			<label>{{::('viewLmoT.vector'|$translate)}}</label><div compare-val>
			<km-value-ml value="document.vector" locales="locale"></km-value-ml></div>
		</div>
		<div ng-show="document.techniqueUsed">
			<label>{{::('viewLmoT.techniqueUsed'|$translate)}}</label>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="use in document.techniqueUsed" ng-bind="use | term:locale"></li>
				</ul>
			</div>
		</div>

		<div ng-show="document.geneConstructs">
			<label>{{::('viewLmoT.geneConstructs'|$translate)}}</label>

			<div class="km-value" compare-val ng-class="{'lmo-gene-construct-scroll':!printMode}">
				<div ng-repeat="construct in document.geneConstructs" style="margin-bottom:5px;">
					<view-lmo-gene ng-model="construct"></view-lmo-gene>
				</div>
			</div>
		</div>
		<div ng-show="document.genes">
			<label>{{::('viewLmoT.genes'|$translate)}}</label>
			<div class="help-info fs-small-6">{{::('viewLmoT.genesInfo'|$translate)}}</div>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.genes" >						
						<view-record-reference ng-model='item.identifier' locale="locale" hide-schema='true'></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-show="document.geneNotes">
			<label>{{::('viewLmoT.geneNotes'|$translate)}}</label>
			<div compare-val>
			<km-value-ml html value="document.geneNotes" locales="locale"></km-value-ml></div>
		</div>


		<legend>{{::('viewLmoT.LmoCharacteristics'|$translate)}}</legend>		
		<div ng-show="document.traits">
			<label>{{::('viewLmoT.traits'|$translate)}}</label>
			<div class="km-value" compare-val>
				<view-terms-hierarchy ng-model="document.traits" locale="locale" term-domain="dnaSequenceTraits"></view-terms-hierarchy>
			</div>
		</div>
		<div ng-show="document.affectedGenes">
			<label>{{::('viewLmoT.affectedGenes'|$translate)}}</label>			
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.affectedGenes" >						
						<view-record-reference ng-model='item.identifier' locale="locale" hide-schema='true'></view-record-reference>
					</li>
				</ul>
			</div>
		</div>
		<div ng-show="document.affectedGeneNotes">
			<label>{{::('viewLmoT.affectedGeneNotes'|$translate)}}</label>
			<div compare-val>
			<km-value-ml value="document.affectedGeneNotes" html locales="locale"></km-value-ml></div>
		</div>
		<div ng-show="document.commonUses">
			<label>{{::('viewLmoT.commonUses'|$translate)}}</label>
			<div class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="use in document.commonUses" ng-bind="use | term:locale"></li>
				</ul>
			</div>
		</div>
		<div ng-show="document.detectionMethod||detectionMethodLinks.length">
			<legend>{{::('viewLmoT.detectionMethod'|$translate)}}</legend>
			<div ng-show="detectionMethodLinks.length">
				<label>{{::('viewLmoT.externalLink'|$translate)}}</label>
				<div compare-val>
				<km-link-list class="km-value" ng-model="detectionMethodLinks"></km-link-list></div>
			</div>
			<div ng-show="document.detectionMethod">
				<label>{{::('viewLmoT.addInfo'|$translate)}}</label>
				<div compare-val="detectionMethodAddInformation">
				<km-value-ml value="document.detectionMethod" html locales="locale"></km-value-ml></div>
			</div>
		</div>
		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>{{::('viewLmoT.addInfo'|$translate)}}</legend>

			<div ng-show="document.relevantInformation">
				<label>{{::('viewLmoT.addInfo'|$translate)}}</label>
				<div compare-val>
				<km-value-ml value="document.relevantInformation" html locales="locale"></km-value-ml></div>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>{{::('viewLmoT.relevantDocuments'|$translate)}}</label>
				<div class="km-value" compare-val="relevantDocuments">
					<km-link-list  ng-model="document.relevantDocuments"></km-link-list>
					
				</div>
			</div>
		</div>
		
		<div> 
			<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>		
		</div>
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
