<div class="lmo-gene-construct-viewer" style="display:inline">
   
    <table cellspacing="0px" ng-repeat="gene in model" class="lmo-transcript {{gene.type}}">                
            <tr>
                <td class="left" >&nbsp;</td>
                <td class="middle">
                    <div >
                        {{dnaDetails[removeRevsion(gene.identifier)].identity}}
                    </div>
                    <div >
                        <a target="_blank" ng-href="{{dnaDetails[removeRevsion(gene.identifier)].urls[0]}}">
                            {{dnaDetails[removeRevsion(gene.identifier)].uniqueIdentifier||dnaDetails[removeRevsion(gene.identifier)].title}}</a>
                    </div>
                    <div >
                        <span >{{(gene.size||0).toFixed(2)}} kb</span>
                    </div>
                </td>
                <td class="right" >
                    &nbsp;
                </td>
            </tr>
    </table>
</div>
