<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-blue">
		<h4>
			<span ng-bind="::document.header.schema|schemaName"></span>
			<span class="color-white">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span>
		</h4>
	</div>
	<div class="record-body panel-body bg-white">

		<document-date></document-date>

		<div ng-if="document.isAmendment!= undefined || amendedByRecords">
			<legend>{{::('viewDecT.amendment'|$translate)}}</legend>
			<div ng-if="document.isAmendment!=undefined">
				<label>{{::('viewDecT.isAmendment'|$translate)}}</label>
				<div compare-val>
					<km-value-bool value="document.isAmendment" locales="locale"></km-value-bool>
				</div>
			</div>
			<div ng-if="document.amendedRecords">
				<label>{{::('viewDecT.decisionAamended'|$translate)}}</label>
				<div class="km-value" compare-val="amendedRecords">
					<ul class="list">
						<li ng-repeat="item in document.amendedRecords">
							<view-record-reference ng-model='item.identifier' locale="locale"></view-record-reference>
						</li>
					</ul>						
				</div>
			</div>
			<div ng-if="document.amendmentsDetails">
				<label>{{::('viewDecT.briefSummary'|$translate)}}</label>
				<div compare-val>
					<km-value-ml value="document.amendmentsDetails" locales="locale" html></km-value-ml>
				</div>
			</div>
			<div ng-if="amendedByRecords">
				<label>{{::('viewDecT.decisionCommunication'|$translate)}}</label>
				<div class="km-value" compare-val="amendedByRecords">
					<div ng-repeat="referenced in amendedByRecords">
						<view-record-reference ng-model="referenced"></view-record-reference>
					</div>
				</div>
			</div>
        </div>

		<legend>{{::('viewDecT.generalInfo'|$translate)}}</legend>		
		<div ng-if="document.government">
			<label name="country">{{::('viewDecT.country'|$translate)}}</label>
			<div class="km-value" compare-val>
				<a class="text-decoration-none" rel="noopener" ng-href="countries/{{document.government.identifier|uppercase|encodeURIComponent}}" target="{{target}}" ng-bind="document.government|term:locale"></a>
			</div>
		</div>

		<div ng-if="document.authorities">
			<label>{{::('viewDecT.authorities'|$translate)}}</label>
			<div class="km-value" compare-val="authorities">
				<ul class="list">
					<li ng-repeat="item in document.authorities" >
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-if="document.title">
			<label>{{::('viewDecT.title'|$translate)}}</label>
			<div compare-val>
				<km-value-ml value="document.title" locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-if="document.date">
			<label>{{::('viewDecT.date'|$translate)}}</label>
			<div compare-val>
			<div class="km-value" ng-bind-html="document.date | formatDate"></div>
			</div>
		</div>
		<div ng-if="document.takenPriorEntryIntoForce != undefined">
			<label>{{::('viewDecT.takenPriorEntryIntoForce'|$translate)}}</label>
			<div compare-val>
				<km-value-bool value="document.takenPriorEntryIntoForce" locales="locale"></km-value-bool>
			</div>
		</div>
		<!-- Not used -->
		<!-- <div ng-if="document.jurisdictions.length">
			<label>Jurisdiction</label>
			<div class="km-value" compare-val="jurisdictions">
				<ul class="list">
					<li ng-repeat="item in document.jurisdictions" ng-bind="item|term:locale"></li>
				</ul>
			</div>
		</div> -->
		<div ng-if="document.jurisdictionsDetails">
			<label>{{::('viewDecT.jurisdiction'|$translate)}}</label>
			<div compare-val>
				<km-value-ml value="document.jurisdictionsDetails" locales="locale"></km-value-ml>
			</div>
		</div>

	<div ng-if="document.decisionTypes">
		<legend>{{::('viewDecT.subjectDecision'|$translate)}}</legend>
		<div class="km-value" compare-val="decisionTypes">
			<ul class="list">
				<li  ng-style="{'margin-left': (item.identifier == 'A0F944AD-1578-47F4-BB71-A9805EC0EB7A' || item.identifier == '47B66371-7016-4F28-B33A-0DBFF43581CA' || item.identifier ==  '0D0BEEF4-54E4-44C1-ABB2-B89DC145E0B3' || item.identifier == 'C15E5CD8-B6F9-41AE-A09C-7EF5F73B0507') ? '40px' : '0'}"
				ng-repeat="item in document.decisionTypes" >
					<span ng-if="item.identifier!='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="item|term:locale"></span>
					<span ng-if="item.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'">
						{{::('viewDecT.otherSubject'|$translate)}}
						<span ng-if="item.customValue">
							(<span ng-bind="item.customValue|lstring:locale"></span>)
						</span>
					</span>
				</li>
			</ul>
		</div>
	</div>
		<!-- =============SECTION A END ======================== -->

		<!-- =============SECTION B START======================== -->
	<div ng-if="isLmoDecisionForIntentionalIntroduction">
		<legend>{{::('viewDecT.LMOEnvironment'|$translate)}}</legend>

		<div ng-if="document.addressesTransboundaryMovement!=undefined">
			<label>{{::('viewDecT.addressesTransboundaryMovement'|$translate)}}</label>
			<div compare-val>
				<km-value-bool value="document.addressesTransboundaryMovement" locales="locale"></km-value-bool>
			</div>
		</div>

		<div ng-if="document.intentionDecisions!=undefined">
			<label>{{::('viewDecT.intentionDecisions'|$translate)}}</label>
			<div compare-val>
			<view-terms-hierarchy  class="km-value" ng-model="document.intentionDecisions" locale="locale" term-domain="intentionDecisions"></view-terms-hierarchy>
			</div>
		</div>

		<div ng-if="document.receiptDate">
			<label>{{::('viewDecT.receiptDate'|$translate)}}</label>
			<div compare-val>
			<div class="km-value" ng-bind-html="document.receiptDate | formatDate"></div>
			</div>
		</div>

		<div ng-if="document.receiptAcknowledgementDate">
			<label>{{::('viewDecT.receiptAcknowledgementDate'|$translate)}}</label>
			<div compare-val>
			<div class="km-value" ng-bind-html="document.receiptAcknowledgementDate | formatDate"></div>
			</div>
		</div>

		<div ng-if="document.communicationDate">
			<label>{{::('viewDecT.communicationDate'|$translate)}}</label>
			<div compare-val>
			<div class="km-value" ng-bind-html="document.communicationDate | formatDate"></div>
			</div>
		</div>

		<div ng-if="document.exporters">
			<label>{{::('viewDecT.exporters'|$translate)}}</label>
			<div class="km-value" compare-val="exporters">
				<ul class="list">
					<li ng-repeat="item in document.exporters">
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>
		<div ng-if="document.importers && document.addressesTransboundaryMovement">
			<label>{{::('viewDecT.importers'|$translate)}}</label>
			<div class="km-value" compare-val="importers">
				<ul class="list">
					<li ng-repeat="item in document.importers">
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-if="document.appliesToTransboundaryMovement!=undefined">
			<label>{{::('viewDecT.transboundaryMovements'|$translate)}}</label>
			<div compare-val>
				<km-value-bool value="document.appliesToTransboundaryMovement" locales="locale"></km-value-bool>
			</div>
		</div>
		<div ng-if="document.importers && !document.addressesTransboundaryMovement">
			<label>{{::('viewDecT.applicantDetails'|$translate)}}</label>
			<div class="km-value" compare-val="importers">
				<ul class="list">
					<li ng-repeat="item in document.importers">
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-if="document.involvesFieldTrial!=undefined">
			<label>{{::('viewDecT.involvesFieldTrial'|$translate)}}</label>
			<div compare-val>
				<km-value-bool value="document.involvesFieldTrial" locales="locale"></km-value-bool>
			</div>
		</div>
		<div ng-if="document.involvesCommercialRelease!=undefined">
			<label>{{::('viewDecT.decisionInvolveCommercial'|$translate)}}</label>
			<div compare-val>
				<km-value-bool value="document.involvesCommercialRelease" locales="locale"></km-value-bool>
			</div>
		</div>
		<div ng-if="document.appliesToSubsequentIntroductions!=undefined">
			<label>{{::('viewDecT.subsequentIntroductions'|$translate)}}</label>
			<div compare-val>
				<km-value-bool value="document.appliesToSubsequentIntroductions" locales="locale"></km-value-bool>
			</div>
		</div>

	</div>
		<!-- =============SECTION B END ======================== -->

		<!-- =============SECTION C START======================== -->
	<div ng-if="isLmoDecisionForDirectUse">
			<legend>{{::('viewDecT.LMOProcessing'|$translate)}}</legend>
			<div ng-if="document.uses">
				<label>{{::('viewDecT.uses'|$translate)}}</label>
				<div class="km-value" compare-val="uses">
					<ul class="list">
						<li ng-repeat="item in document.uses" ng-bind="item|term:locale"></li>
					</ul>
				</div>
			</div>
			<div ng-if="document.takenInAccordanceWithA116!=undefined">
				<label>{{::('viewDecT.takenInAccordanceWithA116'|$translate)}}</label>
				<div comapre-val>
					<km-value-bool value="document.takenInAccordanceWithA116" locales="locale"></km-value-bool>
				</div>
			</div>


			<div ng-if="document.directUseDecisions">
				<legend>{{::('viewDecT.typeOfDecision'|$translate)}}</legend>
				<div compare-val="directUseDecisions">
					<ul class="list">
						<li ng-repeat="item in document.directUseDecisions">
							<span ng-bind="item|term:locale"></span>
						</li>
					</ul>
				</div>
			</div>
			<div ng-if="document.exporters && isDecisionOnLmoImport">
				<label>{{::('viewDecT.exporters'|$translate)}}</label>
				<div class="km-value" compare-val="exporters">
					<ul class="list">
						<li ng-repeat="item in document.exporters">
							<view-record-reference ng-model='item' locale="locale"></view-record-reference>
						</li>
					</ul>
				</div>
			</div>
			<div ng-if="document.importers && (isDecisionOnLmoDomesticUse || isDecisionOnLmoImport)">
				<label ng-if="isDecisionOnLmoImport">{{::('viewDecT.importerApplicant'|$translate)}}</label>
				<label ng-if="isDecisionOnLmoDomesticUse">{{::('viewDecT.applicantDetails'|$translate)}}</label>
				<div class="km-value" compare-val="importers">
					<ul class="list">
						<li ng-repeat="item in document.importers">
							<view-record-reference ng-model='item' locale="locale"></view-record-reference>
						</li>
					</ul>
				</div>
			</div>
	</div>


		<!-- =============SECTION C END ======================== -->

		<!-- =============SECTION D START======================== -->


	<div ng-if="isLmoDecisionForIntentionalIntroduction || isLmoDecisionForDirectUse">
		<legend>{{::('viewDecT.resultDecision'|$translate)}}</legend>
		<div ng-if="document.decisionResult">
			<label>{{::('viewDecT.resultDecision'|$translate)}}</label>
			<div compare-val>
				<div class="km-value" ng-bind="document.decisionResult | term:locale"></div>
			</div>
		</div>
		<div ng-if="document.conditions">
			<label>{{::('viewDecT.conditions'|$translate)}}</label>
			<div compare-val>
				<km-value-ml value="document.conditions" html locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-if="document.reasons">
			<label>{{::('viewDecT.reasons'|$translate)}}</label>
			<div compare-val>
				<km-value-ml html value="document.reasons" locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.extensionPeriod">
			<label>{{::('viewDecT.extensionPeriod'|$translate)}}</label>
			<div compare-val>
				<km-value-ml value="document.extensionPeriod" locales="locale"></km-value-ml>
			</div>
		</div>
	</div>

		<!-- =============SECTION   D END ======================== -->


		<!-- =============SECTION E START======================== -->
	<div ng-if="isSimplifiedProcedure">
		<legend>{{::('viewDecT.procedure'|$translate)}}</legend>
		<div ng-if="document.movementAllowedUnderA131A || document.exemptedFromAIA">
			<label>{{::('viewDecT.simplifiedProcedure'|$translate)}}</label>
			<div class="km-value" compare-val>
				<div ng-if="document.movementAllowedUnderA131A">{{::('viewDecT.simplifiedProcedureInfo'|$translate)}}</div>
				<div ng-if="document.exemptedFromAIA">{{::('viewDecT.exemptedFromAIA'|$translate)}}</div>
			</div>
			<div ng-if="document.appliesToSubsequentImports!=undefined">
				<label>{{::('viewDecT.appliesToSubsequentImports'|$translate)}}</label>
				<div compare-val>
					<km-value-bool value="document.appliesToSubsequentImports" locales="locale"></km-value-bool>
				</div>
			</div>
		</div>		
	</div>
	<!--=============SECTION E END======================== -->

	<!--=============SECTION F START======================== -->
	<div ng-if="isTransboundaryMovement">
		<legend>{{::('viewDecT.transboundaryMovement'|$translate)}}</legend>

		<div ng-if="document.transboundaryMovementType">
			<label>{{::('viewDecT.transboundaryMovementType'|$translate)}}</label>
			<div class="km-value" compare-val>
				<span ng-bind="document.transboundaryMovementType|term:locale"></span>
			</div>
		</div>

		<div ng-if="document.releaseInformation">
			<label>{{::('viewDecT.releaseInformation'|$translate)}}</label>
			<div compare-val>
			<km-value-ml locales="locale" value="document.releaseInformation"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.estimatedQuantities">
			<label>{{::('viewDecT.estimatedQuantities'|$translate)}}</label>
			<div compare-val>
			<km-value-ml locales="locale" value="document.estimatedQuantities"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.releaseCircumstance">
			<label>{{::('viewDecT.releaseCircumstance'|$translate)}}</label>
			<div compare-val>
			<km-value-ml locales="locale" value="document.releaseCircumstance"></km-value-ml>
			</div>
		</div>
		<div ng-if="document.releaseDate">
			<label>{{::('viewDecT.releaseDate'|$translate)}}</label>
			<div compare-val>
			<div class="km-value" ng-bind-html="document.releaseDate | formatDate"></div>
			</div>
		</div>

		<div ng-if="document.lmoUseInformation">
			<label>{{::('viewDecT.lmoUseInformation'|$translate)}}</label>
			<div compare-val>
			<km-value-ml locales="locale" value="document.lmoUseInformation"></km-value-ml>
			</div>
		</div>
		<div ng-if="document.adverseEffectInformation">
			<label>{{::('viewDecT.conservationInformation'|$translate)}}</label>
			<div compare-val>
			<km-value-ml locales="locale" value="document.adverseEffectInformation"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.otherTransboundryInformation">
			<label ng-if="document.transboundaryMovementType.identifier=='22B915C4-193E-4087-89ED-D104EEEC4330'">{{::('viewDecT.otherTransboundryInformation'|$translate)}}</label>
			<label ng-if="document.transboundaryMovementType.identifier=='A9A800DC-F313-4F79-B3E4-768E41088D11'">{{::('viewDecT.otherTransboundryBrief'|$translate)}}</label>
			<div compare-val>
			<km-value-ml locales="locale" value="document.otherTransboundryInformation"></km-value-ml>
			</div>
		</div>

		<div ng-if="document.pointOfContact">
			<label>{{::('viewDecT.pointOfContact'|$translate)}}</label>
			<div  class="km-value" compare-val="pointOfContact">
				<ul class="list">
					<li ng-repeat="item in document.pointOfContact">
						<view-record-reference ng-model="item.identifier"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>
	</div>
<!--=============SECTION F END========================-->

<!--=============SECTION G START========================-->

	<div ng-if="document.isForCommercialUse!=undefined && (isDecisionOnContainedUseOfLMOs || isLmoDecisionForIntentionalIntroduction || isSimplifiedProcedure || isLmoDecisionForDirectUse)">
		<legend>{{::('viewDecT.sharing'|$translate)}}</legend>
		<div ng-if="document.isForCommercialUse!=undefined">
			<label>{{::('viewDecT.isForCommercialUse'|$translate)}}</label>
			<div compare-val>
				<km-value-bool value="document.isForCommercialUse" locales="locale"></km-value-bool>
			</div>
			<div ng-if="document.forwardToOECD!=undefined">
				<label ng-bind-html="::('viewDecT.isForCommercialUseInfo'|$translate)"></label>
				<div  compare-val>
					<km-value-bool value="document.forwardToOECD" locales="locale"></km-value-bool>
				</div>
			</div>
			<div ng-if="document.isForFoodSafety!=undefined">
				<label>{{::('viewDecT.foodSafety'|$translate)}}</label>
				<div  compare-val>
					<km-value-bool value="document.isForFoodSafety" locales="locale"></km-value-bool>
				</div>
			</div>
			<div ng-if="document.codexConducted!=undefined">
				<label>{{::('viewDecT.isForFoodSafety'|$translate)}} <em>{{::('viewDecT.guidelineSafety'|$translate)}}</em></label>
				<div  compare-val>
					<km-value-bool value="document.codexConducted" locales="locale"></km-value-bool>
				</div>
			</div>
			<div ng-if="document.forwardToFAO!=undefined">
				<label ng-bind-html="::('viewDecT.codexConducted'|$translate)"></label>
				<div compare-val>
					<km-value-bool value="document.forwardToFAO" locales="locale"></km-value-bool>
				</div>
			</div>
		</div>
	</div>


<!--=============SECTION G END ========================-->

<!--=============SECTION H start ========================-->

	<div ng-if="document.modifiedOrganisms || document.riskAssessments">
		<legend>{{::('viewDecT.LMOIdentification'|$translate)}}</legend>
		<div ng-if="document.modifiedOrganisms">
			<label>{{::('viewDecT.modifiedOrganisms'|$translate)}}</label>
			<div  class="km-value" compare-val>
				<ul class="list">
					<li ng-repeat="item in document.modifiedOrganisms">
						<view-record-reference ng-model="item.identifier"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-if="document.riskAssessments">
			<label>{{::('viewDecT.riskAssessments'|$translate)}}</label>
			<div  class="km-value" compare-val="riskAssessments">
				<ul class="list">
					<li ng-repeat="item in document.riskAssessments">
						<view-record-reference ng-model="item.identifier"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>
	</div>
<!--=============SECTION H END ========================-->

<!--=============SECTION I Start ========================-->

	<div ng-if="document.documents">
		<legend>{{::('viewDecT.documentDecision'|$translate)}}</legend>
		<div class="km-value" compare-val="documents">
			<km-link-list  ng-model="document.documents"></km-link-list>
			
		</div>
	</div>
	<!--=============SECTION I END ========================-->

	<!--=============SECTION K START ========================-->
	<div ng-if="document.relevantInformation||document.relevantDocuments">
			<legend>{{::('viewDecT.additionalInformation'|$translate)}}</legend>

			<div ng-if="document.relevantInformation">
				<div compare-val>
				<km-value-ml html value="document.relevantInformation" locales="locale"></km-value-ml>
				<!-- <div class="km-value" ng-bind-html="document.relevantInformation | lstring:locale"></div> -->
				</div>
			</div>

			<div ng-if="document.relevantDocuments">
				<label>{{::('viewDecT.otherRelevantWebsite'|$translate)}}</label>
				<div class="km-value" compare-val>
					<km-link-list ng-model="document.relevantDocuments"></km-link-list>
					
				</div>
			</div>
	</div>
	<!--=============SECTION K END ========================-->
		<div>
			<view-referenced-records ng-model="document.header.identifier" on-data-fetch="onReferencedRecordsDataFetch(data)"></view-referenced-records>
		</div>
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
