<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-blue">
		<h4>
			<span ng-bind="::document.header.schema|schemaName"></span>
			<span class="color-black">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span>
		</h4>
	</div>
	<div class="record-body panel-body">

		<document-date></document-date>
		<legend>General information</legend>
		<div ng-show="document.amendmentsDetails">
			<label>Reasons for the amendment</label>
			<div>
				<km-value-ml value="document.amendmentsDetails" locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-show="document.government">
			<label name="country">Country</label>
			<div class="km-value">
				<a rel="noopener" ng-href="/countries/{{document.government.identifier|uppercase|encodeURIComponent}}" target={{target}}>{{document.government|term:locale}}</a>
				<span ng-party-status government="document.government" id="government"></span>
			</div>
		</div>

		<div ng-show="document.authorities">
			<label>Competent National Authority(ies) responsible for the decision or communication</label>
			<div class="km-value">
				<ul class="list">
					<li ng-repeat="item in document.authorities" >						
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>

		<div ng-show="document.title">
			<label>Title / Reference number of the decision or communication</label>
			<div>
				<km-value-ml value="document.title" locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-show="document.date">
			<label>Date of the decision</label>
			<div class="km-value" ng-bind-html="document.date | formatDate"></div>
		</div>
		<div ng-show="document.takenPriorEntryIntoForce!==undefined">
			<label>Is the decision taken prior to entry into force of the Protocol?</label>
			<div  class="km-value">
				<km-value-bool value="document.takenPriorEntryIntoForce" locales="locale"></km-value-bool>
			</div>
		</div>
		<div ng-show="document.jurisdictions.length">
			<label>Jurisdiction</label>
			<div class="km-value">
				<ul class="list">
					<li ng-repeat="item in document.jurisdictions" ng-bind="item|term:locale"></li>
				</ul>
			</div>
		</div>
		<div ng-show="document.jurisdictionDetails">
			<label>Jurisdiction details</label>
			<div class="km-value">
				<km-value-ml value="document.jurisdictionDetails" locales="locale"></km-value-ml>
			</div>
		</div>

		<legend>Decision or communication details</legend>
		<div ng-show="document.decisionTypes">
			<label>Subject(s) of the decision</label>
			<div class="km-value">
				<ul class="list">
					<li ng-repeat="item in document.decisionTypes" ng-bind="item|term:locale"></li>
				</ul>
			</div>
		</div>

		<div ng-show="document.uses">
			<label>Uses of the LMO(s)</label>
			<div class="km-value">
				<ul class="list">
					<li ng-repeat="item in document.uses" ng-bind="item|term:locale"></li>
				</ul>
			</div>
		</div>

		<div ng-show="document.takenInAccordanceWithA116!==undefined">
			<label>Has the decision been taken in the absence of a domestic regulatory framework and in accordance with Article 11.6?</label>
			<div class="km-value">
				<km-value-bool value="document.takenInAccordanceWithA116" locales="locale"></km-value-bool>
			</div>
		</div>

		<div ng-show="document.addressesTransboundaryMovement!==undefined">
			<label>Was the decision triggered by a request for a transboundary movement of LMOs into the country?</label>
			<div class="km-value">
				<km-value-bool value="document.addressesTransboundaryMovement" locales="locale"></km-value-bool>
			</div>
		</div>

		<div ng-show="document.appliesToTransboundaryMovement!==undefined">
			<label>Does the decision apply to transboundary movements of LMO(s) into the country?</label>
			<div class="km-value">
				<km-value-bool value="document.appliesToTransboundaryMovement" locales="locale"></km-value-bool>
			</div>
		</div>

		<div ng-show="document.exporters">
			<label>Exporter’s contact details</label>
			<div class="km-value">
				<ul class="list">
					<li ng-repeat="item in document.exporters">
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>
		<div ng-show="document.importers">
			<label>Importer’s or Applicant’s contact details</label>
			<div class="km-value">
				<ul class="list">
					<li ng-repeat="item in document.importers">
						<view-record-reference ng-model='item' locale="locale"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>
		<div ng-show="document.receiptDate">
			<label>Date on which the notification was received.</label>
			<div class="km-value" ng-bind="document.receiptDate | formatDate:locale"></div>
		</div>
		<div ng-show="document.receiptAcknowledgementDate">
			<label>Date on which acknowledgement of receipt of the notification was sent to the notifier.</label>
			<div class="km-value" ng-bind="document.receiptAcknowledgementDate | formatDate:locale"></div>
		</div>
		<div ng-show="document.communicationDate">
			<label>Date on which the decision was communicated to the notifier.	</label>
			<div class="km-value" ng-bind="document.communicationDate | formatDate:locale"></div>
		</div>
		<div ng-show="document.decisionResult">
			<label>Result of the decision</label>
			<div class="km-value">
				<span ng-bind="document.decisionResult|term:locale"></span>
			</div>
		</div>

		<div ng-show="document.description">
			<label>Time extension in days</label>
			<div class="km-value" ng-bind="document.description | lstring:locale"></div>
		</div>

		<div ng-show="document.conditions">
			<label>Conditions</label>
			<div>
				<km-value-ml value="document.conditions" locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-show="document.reasons">
			<label>Reasons</label>
			<div>
				<km-value-ml value="document.reasons" locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-show="document.involvesFieldTrial!==undefined">
			<label>Does the decision involve field trials?</label>
			<div class="km-value">
				<km-value-bool value="document.involvesFieldTrial" locales="locale"></km-value-bool>
			</div>
		</div>
		<div ng-show="document.involvesCommercialRelease!==undefined">
			<label>Does the decision involve commercial release?</label>
			<div class="km-value">
				<km-value-bool value="document.involvesCommercialRelease" locales="locale"></km-value-bool>
			</div>
		</div>
		<div ng-show="document.appliesToSubsequentIntroductions!==undefined">
			<label>Will the decision apply to subsequent introductions of the same LMO(s) into the environment?</label>
			<div class="km-value">
				<km-value-bool value="document.appliesToSubsequentIntroductions" locales="locale"></km-value-bool>
			</div>
		</div>
		<div ng-show="document.movementAllowedUnderA131A!==undefined">
			<label>Does the decision specify cases when the intentional transboundary movement of LMOs may take place at the same time of the notification to the Party of import?</label>
			<div class="km-value">
				<km-value-bool value="document.movementAllowedUnderA131A" locales="locale"></km-value-bool>
			</div>
		</div>
		<div ng-show="document.appliesToSubsequentImports!==undefined">
			<label>Will the decision apply to subsequent introductions of the same LMO(s) into the environment?</label>
			<div class="km-value">
				<km-value-bool value="document.appliesToSubsequentImports" locales="locale"></km-value-bool>
			</div>
		</div>
		<div ng-show="document.exemptedFromAIA!==undefined">
			<label>Does the decision specify cases when the intentional transboundary movement of LMOs should be exempted from the Advance Informed Agreement (AIA) procedure?</label>
			<div class="km-value">
				<km-value-bool value="document.exemptedFromAIA" locales="locale"></km-value-bool>
			</div>
		</div>
		<div ng-show="document.modifiedOrganisms">
			<label>LMO identification</label>
			<div  class="km-value">
				<ul class="list">
					<li ng-repeat="item in document.modifiedOrganisms">
						<view-record-reference ng-model="item.identifier"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>
		<div ng-show="document.riskAssessments">
			<label>Risk assessment</label>
			<div  class="km-value">
				<ul class="list">
					<li ng-repeat="item in document.riskAssessments">
						<view-record-reference ng-model="item.identifier"></view-record-reference>
					</li>
				</ul>
			</div>
		</div>


		<div ng-show="document.documents">
			<legend>Decision document</legend>
			<div class="km-value">
				<ul class="list">
					<li ng-repeat="item in document.documents">
						<a rel="noopener" translation-url target="{{target}}" ng-href="{{item.url|encodeURI}}">{{item.name||item.url}}</a>
					</li>
				</ul>
			</div>
		</div>
		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>Additional Information</legend>

			<div ng-show="document.relevantInformation">
				<div class="km-value" ng-bind-html="document.relevantInformation | lstring:locale"></div>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>Other relevant website address or attached documents</label>
				<div class="km-value">
					<ul class="list">
						<li ng-repeat="item in document.relevantDocuments">
							<a rel="noopener" translation-url target="{{target}}" ng-href="{{item.url|encodeURI}}">{{item.name||item.url}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div>
			<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>
		</div>
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
