<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-blue">
		<h4>
			Fourth National Report on the Implementation of the Cartagena Protocol on Biosafety
			<span class="color-black"> (NR4) </span>
		</h4>
	</div>
	<div class="record-body panel-body">

		<document-date></document-date>
		<div class="section-pane panel panel-default" style="margin-bottom:3px!important">

			<div class="panel-heading">General Information</div>
			<div class="panel-body" style="padding:0px">
				<div style="margin:5px" class="row">
					<div ng-show="document.government">
						<label name="country">Country</label>
						<div class="km-value">
							<a ng-href="/countries/{{document.government.identifier}}"
								target={{target}}>{{document.government|term:locale}}</a>
							<span ng-party-status government="document.government" id="government"></span>
						</div>
					</div>

					<div ng-show="document.authorities">
						<label>Contact person submitting the report</label>
						<div class="km-value">
							<view-contact-reference ng-model='document.contact' locale="locale">
							</view-contact-reference>
						</div>
					</div>

					<div ng-show="document.stakeholders">
						<label>9. Organizations/stakeholders who were consulted or participated in the preparation of
							this report </label>
						<km-value-ml value="document.stakeholders" locales="locale"></km-value-ml>
					</div>
				</div>
			</div>
		</div>

		<div class="section-pane panel panel-default" ng-repeat="section in nr4Data" id="section{{$index+1}}"
			style="margin-bottom:3px!important">

			<div class="panel-heading" ng-bind="section.title"></div>
			<div class="panel-body" style="padding:0px">

				<div ng-repeat="question in section.questions" style="border:1px solid #eee;margin:5px" class="row"
					ng-class="{'disabled': !document[question.key] && question.type!= 'legend' && !question.questions}">

						<div ng-include="'question-answer'" ></div>

						<div ng-if="question.questions" ng-repeat="subQuestion in question.questions" style="border:1px solid #eee;margin:10px" class="row"
							ng-class="{'disabled': !document[subQuestion.key]}">
							<div ng-include="'question-answer'" ng-if="question.questions" onload="question=subQuestion"></div>
						</div>
				</div>
			</div>

			<script type="text/ng-template" id="question-answer">

				<div style="padding:10px;">

					<div style="padding-left:0px;padding-right: 0px;">
						<strong>
							<label name="{{question.key}}" for="{{question.key}}"
									ng-bind="::spaceSubQuestion(question.number) + question.title" ></l>
						</strong>
					</div>
					<div ng-if="document[question.key]">
						<div ng-if="question.type!='text'">
							<km-value-ml ng-if="document[question.key].value"
								value="displayText(document[question.key].value, question)" locales="locale"></km-value-ml>
							<div ng-if="document[question.key].additionalInformation">
								<label>Additional Information</label>
								<km-value-ml value="::document[question.key].additionalInformation" locales="locale"></km-value-ml>
							</div>
						</div>
						<div ng-if="question.type=='text'">
							<km-value-ml value="document[question.key]" locales="locale"></km-value-ml>
						</div>
					</div>
					<div ng-if="!document[question.key] && question.type!= 'legend' && !question.questions">
						<div class="km-value" >No answer provided</div>
					</div>
				</div>
		</script>
		</div>

		<div document-metadata class="panel-footer"></div>
	</div>
