<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-blue">
		<h4>
            <span ng-bind="::document.header.schema|schemaName"></span>
			<span class="color-black">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span>
		</h4>
	</div>
	<div class="record-body panel-body">



		<document-date></document-date>
		<legend>General information</legend>

		<div ng-show="document.government" class="padding-top-10">
			<label name="country">Country</label>
			<div class="km-value">
				<a rel="noopener" ng-href="/countries/{{document.government.identifier|uppercase|encodeURIComponent}}" target={{target}}>{{document.government|term:locale}}</a>
				<span ng-party-status government="document.government" id="government"></span>
			</div>
		</div>

		<div ng-if="document.profile" class="padding-top-10">
			<label>Brief profile</label>
			<km-value-ml value="document.profile" locales="locale" html></km-value-ml>
		</div>

		<section>
			<legend>Basic personal information</legend>
			
			<div class="padding-top-10">
				<label>Coordinates</label>
				<div class="km-value">
					<div>
						<strong>
							<span ng-bind="document.prefix | lstring:locale" ng-if="document.prefix"></span>
							<span ng-bind="document.firstName | lstring:locale" ng-if="document.firstName"></span>
							<span ng-bind="document.lastName | lstring:locale" ng-if="document.lastName"></span>
						</strong>
					</div>
					<div ng-show="document.address" ng-bind="document.address | lstring:locale"></div>
					<div ng-show="document.city" ng-bind="document.city | lstring:locale"><span ng-show="document.city">, </span></div>
					<div ng-show="document.state" ng-bind="document.state | lstring:locale"><br ng-show="document.city || document.state" /></div>
					<div ng-show="document.postalCode" ng-bind="document.postalCode | lstring:locale"><span ng-show="document.postalCode">, </span></div>
					<div ng-show="document.country" ng-bind="document.country|term"></div>
				</div>
			</div>

			<div ng-show="document.phones"   class="padding-top-10">
				<label>Phone number(s)</label>
				<div class="km-value">
					<ul class="list">
						<li ng-repeat="item in document.phones">{{item}}</li>
					</ul>
				</div>
			</div>

			<div ng-if="document.emails"  class="padding-top-10">
				<label>Email(s)</label>
				<div class="km-value">
					<ul class="list">
						<li ng-repeat="item in document.emails">
							<a rel="noopener" translation-url  ng-href="mailto:{{item|encodeURIComponent}}">{{item}}</a></li>
					</ul>
				</div>
			</div>
			<div class="row" ng-if="document.birthYear || document.gender" class="padding-top-10">
				<div ng-if="document.gender" class="col-md-6">
					<label>Gender</label>
					<div class="km-value">
						<span ng-if="document.gender.identifier=='0999095A-13E0-46F0-A928-613B9AF32AAE'">Male</span>
						<span ng-if="document.gender.identifier=='7CC8AFB1-36E0-4583-AE4E-DB928E60A3B3'">Female</span>
					</div>
				</div>
				<div ng-if="document.birthYear" class="col-md-6">
					<label>Year of birth</label>
					<div class="km-value">
						<span ng-bind="document.birthYear"></span>
					</div>
				</div>
			</div>
			<div ng-show="document.birthCountry"   class="padding-top-10">
				<label>Country of birth</label>
				<div class="km-value">
					<span ng-bind="document.birthCountry|term:locale"></span>
				</div>
			</div>

			<div ng-if="document.nationalities"  class="padding-top-10">
				<label>Nationality(ies)</label>
				<div class="km-value">
					<ul class="list">
						<li ng-repeat="item in document.nationalities">
							<span ng-bind="item|term:locale"></span>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section ng-if="document.currentEmployment">
			<legend>Details of current employment</legend>
			
			<div ng-if="document.currentEmployment.name" class="padding-top-10" >
				<label>Name of Employer / Organization / Company</label>
				<km-value-ml value="document.currentEmployment.name" locales="locale"></km-value-ml>
			</div>
			<div ng-if="document.currentEmployment.title"  class="padding-top-10">
				<label>Job title</label>
				<km-value-ml value="document.currentEmployment.title" locales="locale"></km-value-ml>
			</div>
			<div ng-if="document.currentEmployment.department"  class="padding-top-10">
				<label>Department / Division / Unit</label>
				<km-value-ml value="document.currentEmployment.department" locales="locale"></km-value-ml>
			</div>
			<div  class="padding-top-10 row"  ng-if="document.currentEmployment.startDate || document.currentEmployment.endDate">
				<div class="col-md-6" ng-if="document.currentEmployment.startDate">
					<label>Start Date</label>
					<span class="km-value" ng-bind="document.currentEmployment.startDate"></span>
				</div>

				<div class="col-md-6" ng-if="document.currentEmployment.organizationType" >
					<label>Type of organization</label>
					<span class="km-value" ng-if="document.currentEmployment.organizationType.identifier!='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" 
						ng-bind="document.currentEmployment.organizationType|term:locale"></span>
						<span class="km-value" ng-if="document.currentEmployment.organizationType.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" 
						ng-bind="document.currentEmployment.organizationType.customValue|lstring:locale"></span>					
				</div>
			</div>
			
			<div ng-if="document.currentEmployment.responsibilities"  class="padding-top-10">
				<label>Main Areas of Responsibility</label>
				<km-value-ml value="document.currentEmployment.responsibilities" html locales="locale"></km-value-ml>
			</div>
		</section>
		<section ng-if="document.previousEmployment || document.countriesWorkedIn">
			<legend>Employment history</legend>
			
			<div ng-if="document.countriesWorkedIn"  class="padding-top-10">
				<label>Countries or regions where you have worked</label>
				<km-value-ml value="document.countriesWorkedIn" locales="locale"></km-value-ml>
			</div>
			<div ng-if="document.previousEmployment.name"  class="padding-top-10">
				<label>Name of Previous Employer / Organization / Company</label>
				<km-value-ml value="document.previousEmployment.name" locales="locale"></km-value-ml>
			</div>
			<div ng-if="document.previousEmployment.department"  class="padding-top-10">
				<label>Department / Division / Unit</label>
				<km-value-ml value="document.previousEmployment.department" locales="locale"></km-value-ml>
			</div>
			<div class="row padding-top-10"  ng-if="document.previousEmployment.startDate || document.previousEmployment.endDate">
				<div class="col-md-6" ng-if="document.previousEmployment.startDate">
					<label>Start Date</label>
					<span class="km-value" ng-bind="document.previousEmployment.startDate"></span>
				</div>

				<div class="col-md-6" ng-if="document.previousEmployment.endDate">
					<label>End Date</label>
					<span class="km-value" ng-bind="document.previousEmployment.endDate"></span>
				</div>
			</div>

			<div ng-if="document.previousEmployment.organizationType"  class="padding-top-10">
				<label>Type of organization</label>
				<span class="km-value" ng-if="document.previousEmployment.organizationType.identifier!='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" 
					ng-bind="document.previousEmployment.organizationType|term:locale"></span>
					<span class="km-value" ng-if="document.previousEmployment.organizationType.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" 
					ng-bind="document.previousEmployment.organizationType.customValue|lstring:locale"></span>
			</div>
			<div ng-if="document.previousEmployment.responsibilities"  class="padding-top-10">
				<label>Main Areas of Responsibility</label>
				<km-value-ml value="document.previousEmployment.responsibilities" html locales="locale"></km-value-ml>
			</div>
		</section>
		<section>
			<legend>Post-secondary education</legend>
			<h3 style="padding-bottom: 10px;">Formal education</h3>
			<section ng-if="document.primaryEducation" style="padding-top: 20px;">
				<h3 style="padding-bottom: 5px; border-bottom: 1px solid #eee;">First Degree</h3>
				<div ng-if="document.primaryEducation.title"  class="padding-top-10">
					<label>Title of the Degree or other academic distinction and subject</label>
					<km-value-ml value="document.primaryEducation.title" locales="locale"></km-value-ml>
				</div>
				<div ng-if="document.primaryEducation.institution"  class="padding-top-10">
					<label>Name of academic institution</label>
					<km-value-ml value="document.primaryEducation.institution" locales="locale"></km-value-ml>
				</div>
				<div class="row padding-top-10"  ng-if="document.primaryEducation.startDate || document.primaryEducation.endDate">
					<div class="col-md-6" ng-if="document.primaryEducation.startDate">
						<label>Start Date</label>
						<span class="km-value" ng-bind="document.primaryEducation.startDate"></span>
					</div>

					<div class="col-md-6" ng-if="document.primaryEducation.endDate">
						<label>End Date</label>
						<span class="km-value" ng-bind="document.primaryEducation.endDate"></span>
					</div>
				</div>
			</section>
			<section ng-if="document.secondaryEducation" style="padding-top: 20px;">
				<h3 style="padding-bottom: 5px; border-bottom: 1px solid #eee;">Second Degree</h3>
				<div ng-if="document.secondaryEducation.title"  class="padding-top-10">
					<label>Title of the Degree or other academic distinction and subject</label>
					<km-value-ml value="document.secondaryEducation.title" locales="locale"></km-value-ml>
				</div>
				<div ng-if="document.secondaryEducation.institution"  class="padding-top-10">
					<label>Name of academic institution</label>
					<km-value-ml value="document.secondaryEducation.institution" locales="locale"></km-value-ml>
				</div>
				<div class="row padding-top-10"  ng-if="document.secondaryEducation.startDate || document.secondaryEducation.endDate">
					<div class="col-md-6" ng-if="document.secondaryEducation.startDate">
						<label>Start Date</label>
						<span class="km-value" ng-bind="document.secondaryEducation.startDate"></span>
					</div>

					<div class="col-md-6" ng-if="document.secondaryEducation.endDate">
						<label>End Date</label>
						<span class="km-value" ng-bind="document.secondaryEducation.endDate"></span>
					</div>
				</div>
			</section>
			<section ng-if="document.thirdEducation" style="padding-top: 20px;">
				<h3 style="padding-bottom: 5px; border-bottom: 1px solid #eee;">Third Degree</h3>
				<div ng-if="document.thirdEducation.title"  class="padding-top-10">
					<label>Title of the Degree or other academic distinction and subject</label>
					<km-value-ml value="document.thirdEducation.title" locales="locale"></km-value-ml>
				</div>
				<div ng-if="document.thirdEducation.institution"  class="padding-top-10">
					<label>Name of academic institution</label>
					<km-value-ml value="document.thirdEducation.institution" locales="locale"></km-value-ml>
				</div>
				<div class="row padding-top-10"  ng-if="document.thirdEducation.startDate || document.thirdEducation.endDate">
					<div class="col-md-6" ng-if="document.thirdEducation.startDate">
						<label>Start Date</label>
						<span class="km-value" ng-bind="document.thirdEducation.startDate"></span>
					</div>

					<div class="col-md-6" ng-if="document.thirdEducation.endDate">
						<label>End Date</label>
						<span class="km-value" ng-bind="document.thirdEducation.endDate"></span>
					</div>
				</div>
			</section>

			<div ng-if="document.professionalQualification" class="padding-top-10">
				<h3>Other professional qualifications</h3>
				<div class="km-value">
					<ul class="list">
						<li ng-repeat="item in document.professionalQualification">
							<span ng-bind-html="item|lstring:locale"></span>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section>
			<div ng-if="document.expertise">
				<legend>Areas of expertise</legend>
				<div class="km-value">
					<ul class="list">
						<li ng-repeat="item in document.expertise">
							<span ng-if="item.identifier!='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="item|term:locale"></span>
							<span ng-if="item.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'" ng-bind="item.customValue|lstring:locale"></span>
						</li>
					</ul>
				</div>
			</div>

			<div ng-if="document.relevantPublication">
				<legend>Publications</legend>
				<div class="km-value">
					<ul class="list">
						<li ng-repeat="item in document.relevantPublication">
							<span ng-bind-html="item|lstring:locale"></span>
						</li>
					</ul>
				</div>
			</div>

			<div ng-if="document.professionalMemberships">
				<legend>Professional memberships</legend>
				<div class="km-value">
					<ul class="list">
						<li ng-repeat="item in document.professionalMemberships">
							<span ng-bind-html="item|lstring:locale"></span>
						</li>
					</ul>
				</div>
			</div>

			<div ng-if="document.panelServed">
				<legend>Technical committees, expert panels or advisory bodies served</legend>
				<div class="km-value">
					<ul class="list">
						<li ng-repeat="item in document.panelServed">
							<span ng-bind-html="item|lstring:locale"></span>
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section>
			<legend>Language proficiency</legend>
			<div ng-if="document.motherTongue" class="padding-top-10">
				<label>Mother tongue</label>
				<div class="km-value">
					<ul class="list">
						<li ng-repeat="item in document.motherTongue">
							<span ng-bind="item|term:locale"></span>							
						</li>
					</ul>
				</div>
			</div>
			<div ng-if="document.languageRating" class="padding-top-10">
				<label>Other languages</label>
				<div class="km-value1">
					<table class="table table-bordered">
						<tr>
							<th style="width: 10%;">Language</th>
							<th>Level</th>
						</tr>
						<tr ng-repeat="item in document.languageRating" style="padding-top: 5px;">
							<td>
								<span ng-bind="item|term:locale"></span> 
							</td>
							<td>
								<span ng-bind="item.level"></span>
							</td>
						</tr>
					</table>
				</div>
			</div>
			
		</section>

		<div ng-if="document.additionalInformation||document.additionalDocuments">
			<legend>Any other relevant information</legend>

			<div ng-if="document.additionalInformation" class="padding-top-10">
				<km-value-ml value="document.additionalInformation" locales="locale" html></km-value-ml>
			</div>

			<div ng-if="document.additionalDocuments" class="padding-top-10">
				<label>Other relevant website addresses and/or attached documents</label>
				<div class="km-value" ng-if="document.additionalDocuments" km-link-list 
					ng-model="document.additionalDocuments" style="margin-top: 5px;"></div>	
			</div>
		</div>
		
		<div>
			<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>
		</div>
	</div>
	<div document-metadata class="panel-footer"></div>
</div>
