<div id="Record" class="record panel panel-default">
	<div class="panel-heading bg-blue">
		<h4 ng-show="display('header')"><span ng-bind="::document.header.schema|schemaName"></span> <span class="color-black">(<span ng-bind="::(document.header.schema|schemaShortName)"></span>)</span></h4>
	</div>
	<div class="record-body panel-body">

			
		<document-date></document-date>

		<legend>一般信息</legend>

		<div ng-show="document.government">
			<label name="country">国家</label>
			<div class="km-value"><a rel="noopener" ng-href="countries/{{document.government.identifier|uppercase|encodeURIComponent}}" target="{{target}}" ng-bind="document.government|term:locale"></a></div>
		</div>

		

		<div ng-show="document.jurisdiction">
			<label>辖区</label>
			<div class="km-value" compare-val><span ng-bind="document.jurisdiction|term:locale"></span></div>
		</div>


		<div ng-show="document.jurisdictionRegions">
			<label>管辖区域</label>
			<div class="km-value" compare-val>
				<ul  class="list">
                    <li ng-repeat="val in document.jurisdictionRegions" ng-bind="val | term:locale"></li>
                </ul>
			</div>
		</div>

		<div ng-show="document.title">
			<label>标题</label>
			<div class="km-value" compare-val><strong ng-bind="document.title | lstring:locale"></strong></div>
		</div>

		<div ng-show="document.adoption">
			<label>记录发布日期</label>
			<div class="km-value" compare-val><span ng-bind="document.adoption | formatDate"></span></div>
		</div>

		<div ng-show="document.status">
			<label>贵国（或指定辖区）的获取和惠益分享措施状况？</label>
			<div class="km-value" compare-val><span ng-bind="document.status|term:locale"></span></div>
		</div>

		<div ng-show="document.statusDescription">
			<label>请通过提供更多信息，补充说明确立获取和惠益分享措施的当前进展情况和/或总结遇到的主要困难和挑战</label>
			<div class="km-value" compare-val>
				<div ng-bind="document.statusDescription | lstring:locale"></div>
			</div>
		</div>

		<div ng-show="document.isSubjectToPic != undefined">
			<label>获取遗传资源是否按照第6.1条的规定须经事先知情同意？</label>
			<div class="km-value" compare-val><span ng-if="document.isSubjectToPic">是</span> <span ng-if="!document.isSubjectToPic">否 <span  ng-bind="document.noPicStatus | term:locale"></span></span></div>
		</div>

		<div ng-show="document.picMeasures && document.picMeasures.length>0">
			<label>请从以下列表中选择规范遗传资源获取的相关获取和惠益分享措施</label>
			<div compare-val="picMeasures">
				<div class="km-value"  ng-repeat="picMsr in document.picMeasures" ><span view-record-reference ng-model="picMsr" locale="locale"></span></div>
			</div>
		</div>

		<div ng-show="document.picMeasuresDescription">
			<label>请进一步解释您的回答</label>
			<div compare-val>
				<km-value-ml value="document.picMeasuresDescription" locales="locale"></km-value-ml>
			</div>
		</div>

		<div ng-show="document.hasIplc != undefined">
			<label>贵国（或指定辖区）是否有土著人民和当地社区？</label>
			<div class="km-value" compare-val><span ng-if="document.hasIplc">是<span  ng-bind="document.iplcType | term:locale"> </span></span><span ng-if="!document.hasIplc"> 否</span></div>
		</div>

		<div ng-show="document.iplcDescription"><!-- Please further explain your response --><label>土著和地方社区描述</label>
			<div compare-val>
				<km-value-ml value="document.iplcDescription" locales="locale"></km-value-ml>
			</div>
		</div>
		<div ng-show="document.hasIplcRightEstablished != undefined">
			<label>贵国法律是否认可土著人民和地方社区拥有批准获取遗传资源的权利？</label>
			<div class="km-value" compare-val><span ng-if="document.hasIplcRightEstablished">是，<span  ng-if="document.isIplcRightFullyImplemented">完全实施</span> <span  ng-if="!document.isIplcRightFullyImplemented">一定程度上实施</span></span> <span ng-if="!document.hasIplcRightEstablished">否，<span  ng-if="document.isIplcRightInPlan">但在草案或规划阶段</span> <span  ng-if="!document.isIplcRightInPlan">无规划</span></span></div>
		</div>

		<div ng-show="document.iplcMeasures && document.iplcMeasures.length>0">
			<label>请从下面的列表中选择与获取土著人民和地方社区所持遗传资源有关的获取和惠益分享措施</label>
			<div compare-val="iplcMeasures">
				<div class="km-value"  ng-repeat="ipicMsr in document.iplcMeasures" ><span view-record-reference ng-model="ipicMsr" locale="locale"></span></div>
			</div>
		</div>

		<div ng-show="document.otherIplcRelatedRecords && document.otherIplcRelatedRecords.length>0">
			<label>请从下面的列表选择与获取和惠益分享程序、国家网站或数据库、社区协定和程序以及习惯法和/或国家主管部门有关的其他相关适用信息</label>
			<div compare-val="otherIplcRelatedRecords">
				<div class="km-value"  ng-repeat="oplRecord in document.otherIplcRelatedRecords" ><span view-record-reference ng-model="oplRecord" locale="locale"></span></div>
			</div>
		</div>

		<div ng-show="document.iplcMeasuresDescription">
			<label>请进一步解释您的回答</label>
			<div class="km-value" compare-val>
				<div ng-bind="document.iplcMeasuresDescription | lstring:locale"></div>
			</div>
		</div>

		<div ng-show="document.hasStepsForIplcApproval != undefined">
			<label>贵国（或指定辖区）是否采取措施，以确保在获取贵国境内土著人民和地方社区拥有的与遗传资源有关的传统知识时，得到这些土著人民和地方社区的事先知情同意或批准和参与，并确保已设立共同商定条件？</label>
			
			<div class="km-value" compare-val><span ng-if="document.hasStepsForIplcApproval">是，<span  ng-if="document.isStepsForIplcApprovalImplemented">完全实施</span> <span  ng-if="!document.isStepsForIplcApprovalImplemented">一定程度上实施</span></span> <span ng-if="!document.hasStepsForIplcApproval">否，<span  ng-if="document.isStepsForIplcApprovalInPlan">但在草案或规划阶段</span> <span  ng-if="!document.isStepsForIplcApprovalInPlan">无规划</span></span></div>
		</div>

		<div ng-show="document.iplcApprovalMeasures  && document.iplcApprovalMeasures.length>0">
			<label>土著和地方社区批准措施</label>
			<div compare-val="iplcApprovalMeasures">
				<div class="km-value"  ng-repeat="iplcAm in document.iplcApprovalMeasures" ><span view-record-reference ng-model="iplcAm" locale="locale"></span></div>
			</div>
		</div>

		<div ng-show="document.otherIplcApprovalRecords  && document.otherIplcApprovalRecords.length>0">
			<label>其他土著和地方社区批准记录</label>
			<div compare-val="otherIplcApprovalRecords">
				<div class="km-value"  ng-repeat="oplAr in document.otherIplcApprovalRecords" ><span view-record-reference ng-model="oplAr" locale="locale"></span></div>
			</div>
		</div>

		<div ng-show="document.iplcApprovalDescription">
			<label>土著和地方社区批准描述</label>
			<div class="km-value" compare-val>
				<div ng-bind="document.iplcApprovalDescription | lstring:locale"></div>
			</div>
		</div>

		<div ng-show="document.relevantInformation||document.relevantDocuments">
			<legend>更多信息</legend>

			<div ng-show="document.relevantInformation">
				<div compare-val="relevantInformation" class="km-value" ng-bind-html="document.relevantInformation | lstring:locale"></div>
			</div>

			<div ng-show="document.relevantDocuments">
				<label>其他相关网站地址和/或附加文件</label>
				<div class="km-value" compare-val="relevantDocuments">
					<km-link-list ng-model="document.relevantDocuments"></km-link-list>
				</div>
			</div>
		</div>
		<div>
			<view-referenced-records ng-model="document.header.identifier"></view-referenced-records>
		</div>
	</div>

	<div document-metadata class="panel-footer"></div>
</div>
